Repository vishnu2kmohan/mcp-server-langgraph, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, tests, ci-cd, dependencies, docker, deployment, auth, secrets, observability, mcp, agent, config, security, community

.github/labeler.yml:

# Auto-labeler configuration for PRs
# Uses changed-files pattern matching

# Documentation
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'
      - '**/*.mdx'
      - 'docs/**/*'
      - 'mint.json'
      - '.mcp/*.json'

# Tests
tests:
  - changed-files:
    - any-glob-to-any-file:
      - 'tests/**/*'
      - '**/*test*.py'
      - 'test_*.py'
      - '*_test.py'
      - 'pytest.ini'
      - 'conftest.py'
      - 'TESTING.md'

# CI/CD
ci-cd:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**/*'
      - '.github/actions/**/*'
      - '.gitlab-ci.yml'
      - 'Makefile'
      - '.pre-commit-config.yaml'

# Dependencies
dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'requirements*.txt'
      - 'setup.py'
      - 'pyproject.toml'
      - 'poetry.lock'
      - 'package*.json'
      - 'yarn.lock'

# Docker
docker:
  - changed-files:
    - any-glob-to-any-file:
      - 'Dockerfile*'
      - 'docker-compose*.yml'
      - '.dockerignore'

# Kubernetes/Deployment
deployment:
  - changed-files:
    - any-glob-to-any-file:
      - 'kubernetes/**/*'
      - 'kustomize/**/*'
      - 'helm/**/*'
      - 'k8s/**/*'
      - 'KUBERNETES_DEPLOYMENT.md'
      - 'PRODUCTION_DEPLOYMENT.md'

# Authentication/Authorization
auth:
  - changed-files:
    - any-glob-to-any-file:
      - 'auth.py'
      - 'openfga_client.py'
      - 'setup_openfga.py'

# Secrets Management
secrets:
  - changed-files:
    - any-glob-to-any-file:
      - 'secrets_manager.py'
      - 'setup_infisical.py'

# Observability
observability:
  - changed-files:
    - any-glob-to-any-file:
      - 'observability.py'
      - 'health_check.py'
      - 'monitoring/**/*'
      - 'grafana/**/*'

# MCP Server
mcp:
  - changed-files:
    - any-glob-to-any-file:
      - 'mcp_server*.py'
      - 'examples/*client*.py'

# Agent/Core
agent:
  - changed-files:
    - any-glob-to-any-file:
      - 'agent.py'
      - 'graph.py'
      - 'models.py'
      - 'prompt*.py'

# Configuration
config:
  - changed-files:
    - any-glob-to-any-file:
      - 'config.py'
      - '.env*'
      - 'settings.py'
      - '*.yaml'
      - '*.yml'
      - '*.toml'
      - '*.ini'
      - '.editorconfig'

# Security
security:
  - changed-files:
    - any-glob-to-any-file:
      - 'auth.py'
      - 'secrets_manager.py'
      - 'openfga_client.py'
      - 'SECURITY*.md'
      - '.github/workflows/security-scan.yaml'
      - 'scripts/validate_production.py'

# Community
community:
  - changed-files:
    - any-glob-to-any-file:
      - 'CODE_OF_CONDUCT.md'
      - 'CONTRIBUTING.md'
      - 'DEVELOPMENT.md'
      - '.github/SUPPORT.md'
      - '.github/FUNDING.yml'
      - '.github/ISSUE_TEMPLATE/**/*'
      - '.github/PULL_REQUEST_TEMPLATE.md'

fix(docker): use regular install instead of editable for distroless compatibility
  docker/Dockerfile
Labels: none

fix(ci): pin kube-score to v1.19.0 to avoid 404 errors
  .github/workflows/gcp-compliance-scan.yaml
Labels: ci-cd

add Benchmark (pytest) benchmark result for fd03d70ed335b1f419e3112c4c9137696cbd98ef
  dev/bench/data.js
Labels: none

feat(compliance): implement production-ready PostgreSQL storage for GDPR/HIPAA/SOC2
  .env.example
  README.md
  adr/ADR-0041-postgresql-gdpr-storage.md
  deployments/base/configmap.yaml
  deployments/base/deployment.yaml
  deployments/base/keycloak-deployment.yaml
  deployments/base/kustomization.yaml
  deployments/base/openfga-deployment.yaml
  deployments/base/postgres-gdpr-schema-configmap.yaml
  deployments/base/postgres-statefulset.yaml
  deployments/base/qdrant-deployment.yaml
  deployments/helm/mcp-server-langgraph/templates/configmap.yaml
  deployments/helm/mcp-server-langgraph/values.yaml
  docker/docker-compose.yml
  migrations/000_init_databases.sh
  migrations/001_gdpr_schema.sql
  pyproject.toml
  src/mcp_server_langgraph/api/gdpr.py
  src/mcp_server_langgraph/compliance/gdpr/data_deletion.py
  src/mcp_server_langgraph/compliance/gdpr/data_export.py
  src/mcp_server_langgraph/compliance/gdpr/factory.py
  src/mcp_server_langgraph/compliance/gdpr/postgres_storage.py
  src/mcp_server_langgraph/core/config.py
  tests/integration/test_gdpr_endpoints.py
  tests/unit/compliance/test_postgres_audit_log_store.py
  tests/unit/compliance/test_postgres_consent_store.py
  tests/unit/compliance/test_postgres_conversation_store.py
  tests/unit/compliance/test_postgres_preferences_store.py
  tests/unit/compliance/test_postgres_user_profile_store.py
  uv.lock
Labels: documentation, tests, dependencies, config

fix: add security contexts to init containers for pod security compliance
  .pre-commit-config.yaml
Labels: ci-cd, config

chore: update pre-push hook to skip B608 bandit check
  scripts/git-hooks/pre-push
Labels: none

add Benchmark (pytest) benchmark result for 4449b1e3e458b0cc0ced1599db9df84bab0e4c1f
  dev/bench/data.js
Labels: none

chore: update pre-push hook to skip B608 bandit check
  src/mcp_server_langgraph/api/gdpr.py
Labels: none

add Benchmark (pytest) benchmark result for 24ab187b746b4709286f80e855f4c841a4b785c5
  dev/bench/data.js
Labels: none

fix(infra): correct Cloud SQL shared_buffers for 4GB RAM instance
  scripts/gcp/setup-staging-infrastructure.sh
Labels: none

add Benchmark (pytest) benchmark result for 9a7b84fc0f034b6c5ad71f56aed87aa5a28967c3
  dev/bench/data.js
Labels: none

fix(infra): add VPC peering for Cloud SQL private access
  scripts/gcp/setup-staging-infrastructure.sh
Labels: none

feat: comprehensive deployment issue prevention system
  .github/workflows/validate-deployments.yaml
  README.md
  docker/docker-compose.yml
  docs/api-reference/gdpr-endpoints.mdx
  docs/architecture/adr-0041-postgresql-gdpr-storage.mdx
  docs/deployment/database-migrations.mdx
  docs/deployment/deployment-issues-prevention.md
  docs/deployment/gdpr-storage-configuration.mdx
  docs/deployment/kubernetes/aks.mdx
  docs/deployment/kubernetes/eks.mdx
  docs/deployment/kubernetes/gke-production.mdx
  docs/deployment/kubernetes/gke.mdx
  docs/docs.json
  docs/reference/environment-variables.mdx
  generators/README.md
  openapi/mcp-tools.json
  openapi/v1.json
  scripts/gcp/setup-staging-infrastructure.sh
  scripts/generate_mcp_tools_openapi.py
  src/mcp_server_langgraph/api/gdpr.py
  src/mcp_server_langgraph/api/pagination.py
  src/mcp_server_langgraph/api/scim.py
  src/mcp_server_langgraph/api/version.py
  src/mcp_server_langgraph/mcp/server_streamable.py
  src/mcp_server_langgraph/scim/schema.py
  tests/api/test_api_versioning.py
  tests/api/test_pagination.py
  tests/api/test_router_registration.py
Labels: documentation, tests, ci-cd

add Benchmark (pytest) benchmark result for 12921ce8475359c11db02bf72affe5b44fbdadd1
  dev/bench/data.js
Labels: none

fix(k8s): add security contexts to init containers
  deployments/overlays/staging-gke/deployment-patch.yaml
Labels: none

fix(k8s): remove duplicate securityContext blocks from init containers
  deployments/overlays/staging-gke/deployment-patch.yaml
Labels: none

fix(k8s): correct init container YAML formatting
  deployments/overlays/staging-gke/deployment-patch.yaml
Labels: none

chore(ci): upgrade kube-score to v1.20.0 with correct filename format
  .github/workflows/gcp-compliance-scan.yaml
Labels: ci-cd

docs: comprehensive documentation cleanup and improvements
  docs/advanced/contributing.mdx
  docs/architecture/adr-0041-postgresql-gdpr-storage.mdx
  docs/architecture/adr-0043-cost-monitoring-dashboard.mdx
  docs/architecture/overview.mdx
  docs/deployment/database-migrations.mdx
  docs/deployment/helm.mdx
  docs/development/testing-workflows-locally.md
  docs/docs.json
  docs/references/mermaid-guide.mdx
  docs/releases/v2-7-0.mdx
Labels: documentation

fix(api): include pagination models in OpenAPI schema for contract compliance
  src/mcp_server_langgraph/mcp/server_streamable.py
  uv.lock
Labels: none

add Benchmark (pytest) benchmark result for ed75faf8de6dbab130fb6d093d44fddd097a5645
  dev/bench/data.js
Labels: none

feat(k8s): implement cloud-native architecture for GKE staging
  deployments/overlays/staging-gke/README.md
  deployments/overlays/staging-gke/keycloak-patch.yaml
  deployments/overlays/staging-gke/kustomization.yaml
  deployments/overlays/staging-gke/openfga-patch.yaml
Labels: documentation

add Benchmark (pytest) benchmark result for 4bbb4a79d8b3fb4d079aa75ab73e525042e4533f
  dev/bench/data.js
Labels: none

feat(k8s): implement cloud-native GKE staging with Cloud SQL and Memorystore Redis
  deployments/overlays/staging-gke/configmap-patch.yaml
  deployments/overlays/staging-gke/deployment-patch.yaml
  deployments/overlays/staging-gke/keycloak-json-patch.yaml
  deployments/overlays/staging-gke/keycloak-patch.yaml
  deployments/overlays/staging-gke/kustomization.yaml
  deployments/overlays/staging-gke/openfga-json-patch.yaml
Labels: none

add Benchmark (pytest) benchmark result for 00ba961b764b474696b9f186a1785b55e1538b87
  dev/bench/data.js
Labels: none

fix(tests): correct test markers and DataDeletionService initialization
  tests/test_data_deletion.py
  tests/unit/compliance/test_postgres_audit_log_store.py
  tests/unit/compliance/test_postgres_consent_store.py
  tests/unit/compliance/test_postgres_conversation_store.py
  tests/unit/compliance/test_postgres_preferences_store.py
  tests/unit/compliance/test_postgres_user_profile_store.py
Labels: tests

add Benchmark (pytest) benchmark result for a55c66fa53adc7d650e0bd534a4e0542b1bf1508
  dev/bench/data.js
Labels: none

fix(k8s): implement direct Cloud SQL connections for GKE staging and fix Keycloak configuration
  deployments/base/keycloak-deployment.yaml
  deployments/overlays/staging-gke/configmap-patch.yaml
  deployments/overlays/staging-gke/keycloak-json-patch.yaml
  deployments/overlays/staging-gke/kustomization.yaml
  deployments/overlays/staging-gke/openfga-json-patch.yaml
  deployments/overlays/staging-gke/qdrant-patch.yaml
  deployments/overlays/staging-gke/serviceaccount-patch.yaml
Labels: none

add Benchmark (pytest) benchmark result for d5327e8238cd242a961df63f3134379461ba2cda
  dev/bench/data.js
Labels: none

fix(k8s): comprehensive security and configuration fixes for GKE staging deployment
  deployments/base/keycloak-vpa.yaml
  deployments/overlays/staging-gke/configmap-patch.yaml
  deployments/overlays/staging-gke/deployment-patch.yaml
  deployments/overlays/staging-gke/external-secrets.yaml
  deployments/overlays/staging-gke/keycloak-json-patch.yaml
  deployments/overlays/staging-gke/kustomization.yaml
  deployments/overlays/staging-gke/network-policy.yaml
  deployments/overlays/staging-gke/openfga-json-patch.yaml
  deployments/overlays/staging-gke/serviceaccount-external-secrets.yaml
  deployments/overlays/staging-gke/serviceaccount-keycloak.yaml
  deployments/overlays/staging-gke/serviceaccount-openfga.yaml
Labels: none

add Benchmark (pytest) benchmark result for e3bd686d5573d23f285663a211bc5080bdcbc66a
  dev/bench/data.js
Labels: none

fix(k8s): update ExternalSecret to reference staging-gcp-secret-store
  ESO_RBAC_VALIDATION_REPORT.md
  deployments/overlays/staging-gke/external-secrets.yaml
  tests/infrastructure/README_ESO_RBAC_TESTS.md
  tests/infrastructure/test_external_secrets_rbac.py
Labels: documentation, tests

test(gke): add comprehensive External Secrets Operator RBAC validation tests
  tests/infrastructure/test_external_secrets_rbac.py
Labels: tests

add Benchmark (pytest) benchmark result for e1a274f33d0dd477b03ebd6bdc999461f38416f9
  dev/bench/data.js
Labels: none

add Benchmark (pytest) benchmark result for dc407d1637d9ad31c0fd8ce1cc66ac4da31627f2
  dev/bench/data.js
Labels: none

docs(security): complete Keycloak Admin API implementation (Issue #1 - FINAL)
  SECURITY_REMEDIATION_REPORT.md
  terraform/environments/aws-dev/outputs.tf
Labels: documentation, security

add Benchmark (pytest) benchmark result for 7ef65835b0f26ca357ed28ff0307cbfcdf77fa2c
  dev/bench/data.js
Labels: none

add Benchmark (pytest) benchmark result for 47f811c344bfedbef1b529e7e5a0be214e661c46
  dev/bench/data.js
Labels: none

fix(k8s): comprehensive Kubernetes infrastructure audit fixes and EKS/AKS parity improvements
  README.md
  deployments/kubernetes/overlays/aws/README.md
  deployments/kubernetes/overlays/aws/deployment-patch.yaml
  deployments/kubernetes/overlays/aws/external-secrets.yaml
  deployments/kubernetes/overlays/aws/kustomization.yaml
  deployments/kubernetes/overlays/aws/kustomization.yaml.old
  deployments/kubernetes/overlays/aws/serviceaccount-patch.yaml
  monitoring/aws/README.md
  monitoring/aws/cloudwatch-dashboard.json
  monitoring/aws/setup-monitoring.sh
  scripts/README.md
  scripts/aws/README.md
  scripts/aws/setup-staging-infrastructure.sh
  scripts/deploy-aws-eks.sh
  terraform/modules/aks/README.md
  terraform/modules/azure-cache/README.md
  terraform/modules/azure-vnet/README.md
  tests/infrastructure/test_topology_spread.py
Labels: documentation, tests, observability

fix(mypy): reduce type errors by 42% (139→80 errors)
  src/mcp_server_langgraph/api/gdpr.py
  src/mcp_server_langgraph/core/dynamic_context_loader.py
  src/mcp_server_langgraph/health/checks.py
  src/mcp_server_langgraph/observability/telemetry.py
Labels: none
