Repository vishnu2kmohan/mcp-server-langgraph, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, tests, ci-cd, dependencies, docker, deployment, auth, secrets, observability, mcp, agent, config, security, community

add Benchmark (pytest) benchmark result for 4e38282303ab622b90ed7f18c7c1c0efd07b5b7d
  dev/bench/data.js
Labels: none

fix(lint): resolve all blocking flake8 and bandit issues with TDD approach
  src/mcp_server_langgraph/auth/middleware.py
  src/mcp_server_langgraph/builder/api/server.py
  src/mcp_server_langgraph/builder/codegen/generator.py
  src/mcp_server_langgraph/compliance/gdpr/postgres_storage.py
  src/mcp_server_langgraph/core/config.py
  src/mcp_server_langgraph/core/container.py
  src/mcp_server_langgraph/core/test_helpers.py
  src/mcp_server_langgraph/database/session.py
  src/mcp_server_langgraph/execution/kubernetes_sandbox.py
  src/mcp_server_langgraph/execution/resource_limits.py
  src/mcp_server_langgraph/execution/sandbox.py
  src/mcp_server_langgraph/infrastructure/app_factory.py
  src/mcp_server_langgraph/infrastructure/middleware.py
  src/mcp_server_langgraph/mcp/server_stdio.py
  src/mcp_server_langgraph/middleware/session_timeout.py
  src/mcp_server_langgraph/monitoring/budget_monitor.py
  src/mcp_server_langgraph/monitoring/cost_tracker.py
  src/mcp_server_langgraph/tools/code_execution_tools.py
  tests/unit/test_import_validation.py
  tests/unit/test_security_practices.py
Labels: tests

fix(infra): enable Cloud SQL Proxy health checks on port 9801
  deployments/overlays/staging-gke/deployment-patch.yaml
Labels: none

add Benchmark (pytest) benchmark result for bbd9709365b22a24386d18c20b5df398bbf83d4a
  dev/bench/data.js
Labels: none

add Benchmark (pytest) benchmark result for ac56836e3e08f4eadf5511eee20a706fed4cd1e9
  dev/bench/data.js
Labels: none

test(tdd): implement optional dependency handling for sandbox imports
  scripts/ci/dora_metrics.py
  src/mcp_server_langgraph/execution/__init__.py
  tests/e2e/test_scim_provisioning.py
  tests/test_keycloak.py
  tests/unit/test_import_validation.py
Labels: tests

fix(tests): comprehensive test suite fixes and TDD safeguards
  pyproject.toml
  src/mcp_server_langgraph/api/scim.py
  tests/README.md
  tests/conftest.py
  tests/e2e/helpers.py
  tests/meta/test_suite_validation.py
  tests/performance/conftest.py
  tests/test_data_deletion.py
  tests/test_keycloak.py
  tests/test_mcp_streamable.py
  tests/unit/test_scim_filters.py
Labels: documentation, tests, dependencies, config

docs: add comprehensive staging deployment fix report
  STAGING_DEPLOYMENT_FIX_REPORT.md
Labels: documentation

test(security): add comprehensive SQL injection prevention tests for GDPR storage
  src/mcp_server_langgraph/compliance/gdpr/postgres_storage.py
  tests/security/test_sql_injection_gdpr.py
Labels: tests

add Benchmark (pytest) benchmark result for 1af0e05ea124a815ee0c881286f33623957ed99c
  dev/bench/data.js
Labels: none

chore(lint): fix F841 unused variable warnings in test files
  tests/core/test_container.py
  tests/unit/tools/test_code_execution_tools.py
Labels: tests

add Benchmark (pytest) benchmark result for f49bdbb75d00e43f4d009586702e7247c81c612d
  dev/bench/data.js
Labels: none

feat(validation): add preventative measures and tests for deployment failures
  docs/compliance/gdpr/overview.mdx
  scripts/validate-network-policies.sh
  tests/integration/test_kubernetes_health_probes.py
  tests/unit/test_server_streamable_init.py
Labels: documentation, tests

fix(redis): implement URL password encoding to prevent parsing errors
  .env.example
  adr/adr-0022-distributed-conversation-checkpointing.md
  deployments/overlays/staging-gke/external-secrets.yaml
  docs/deployment/scaling.mdx
  src/mcp_server_langgraph/core/agent.py
  src/mcp_server_langgraph/core/url_utils.py
  tests/unit/test_redis_url_encoding.py
Labels: documentation, tests, config

fix(tests): add kubernetes marker to pytest configuration
  pyproject.toml
Labels: dependencies, config

add Benchmark (pytest) benchmark result for cd3f053f26c8aeb1dd2e4eed48a802c45652df7c
  dev/bench/data.js
Labels: none

test(redis): add comprehensive integration and deployment validation tests
  tests/deployment/test_external_secrets_template_validation.py
  tests/integration/test_redis_checkpointer_url_encoding.py
Labels: tests

add Benchmark (pytest) benchmark result for 93349b5ad3e07245d17d9465c95aa30654b6203c
  dev/bench/data.js
Labels: none

feat(validation): add fail-fast startup validation for Redis checkpoint URLs
  src/mcp_server_langgraph/core/checkpoint_validator.py
  src/mcp_server_langgraph/infrastructure/app_factory.py
  tests/unit/test_checkpoint_config_validation.py
Labels: tests

add Benchmark (pytest) benchmark result for 6942f4306d3c918160b2077c0127df8d97871a06
  dev/bench/data.js
Labels: none

refactor(workflows): standardize GitHub CLI to use GH_TOKEN
  .claude/settings.local.json
  .github/workflows/dependabot-automerge.yaml
  .github/workflows/dora-metrics.yaml
  .github/workflows/gcp-compliance-scan.yaml
Labels: ci-cd

add Benchmark (pytest) benchmark result for bbda9e751bf55ae77fa0d1a3c1bc2261f118d353
  dev/bench/data.js
Labels: none

feat(security): implement TDD-driven gitignore validation and prevent local config leaks
  .claude/settings.local.json
  .gitignore
  .mcp/manifest.json
  .mcp/registry.json
  .openai/code-completion-config.json
  .openai/codex-instructions.md
  .pre-commit-config.yaml
  docs/.claude/settings.local.json
  scripts/workflow/update-context-files.py
  tests/test_gitignore_validation.py
Labels: documentation, tests, ci-cd, config

add Benchmark (pytest) benchmark result for 1ac2974d51869543964624ada5414200f27ca9cd
  dev/bench/data.js
Labels: none

feat(test): implement Phase 1 test infrastructure quick wins
  adr/adr-0044-test-infrastructure-quick-wins.md
  tests/api/test_scim_security.py
  tests/api/test_service_principals_security.py
  tests/conftest.py
  tests/performance/conftest.py
  tests/performance/test_benchmarks.py
Labels: documentation, tests

add Benchmark (pytest) benchmark result for 404ce64d571affced4134070b00ea53cb1e99978
  dev/bench/data.js
Labels: none

fix(hooks): complete OpenAI Codex remediation - macOS compatibility and portable regex
  .githooks/pre-commit-adr-sync
Labels: none

add Benchmark (pytest) benchmark result for e7964a34807700ad12fea0a27404786b4cad67d4
  dev/bench/data.js
Labels: none

fix(critical): resolve dependency injection configuration failures
  .ai/README.md
  adr/adr-0042-dependency-injection-configuration-fixes.md
  src/mcp_server_langgraph/auth/service_principal.py
  src/mcp_server_langgraph/core/cache.py
  src/mcp_server_langgraph/core/dependencies.py
  tests/conftest.py
  tests/e2e/helpers.py
  tests/unit/test_cache_redis_config.py
  tests/unit/test_dependencies_wiring.py
Labels: documentation, tests

feat(test): Phase 2 - Real infrastructure foundation for E2E tests
  TEST_INFRASTRUCTURE_REMEDIATION_SUMMARY.md
  adr/adr-0045-test-infrastructure-phase-2-foundation.md
  tests/e2e/real_clients.py
  tests/integration/test_fixture_cleanup.py
Labels: documentation, tests

add Benchmark (pytest) benchmark result for b223b971bc27270d16f8dbc9b9f2c495e8c320b1
  dev/bench/data.js
Labels: none

feat(testing): add comprehensive regression prevention for dependency injection
  .githooks/pre-commit-dependency-validation
  .github/workflows/smoke-tests.yml
  .pre-commit-config.yaml
  deployments/helm/mcp-server-langgraph/templates/secret.yaml
  deployments/helm/mcp-server-langgraph/values.yaml
  docs/testing/dependency-injection-testing.md
  tests/integration/test_app_startup_validation.py
  tests/integration/test_mcp_startup_validation.py
  tests/smoke/README.md
  tests/smoke/test_ci_startup_smoke.py
Labels: documentation, tests, ci-cd, config

fix(ci): validate and fix OpenAI Codex findings - prevent CI/CD failures
  .github/workflows/e2e-tests.yaml
  .github/workflows/observability-alerts.yaml
  .pre-commit-config.yaml
  docker-compose.test.yml
  scripts/k8s/health-check.sh
  scripts/validate_github_workflows.py
  tests/fixtures/serializable_mocks.py
  tests/unit/test_serializable_mocks_validation.py
Labels: tests, ci-cd, docker, config

fix(deployments): comprehensive remediation of configuration issues and TDD infrastructure
  .github/workflows/validate-deployments.yml
  .pre-commit-config.yaml
  DEPLOYMENT_REMEDIATION_SUMMARY.md
  deployments/README.md
  deployments/argocd/applications/mcp-server-app.yaml
  deployments/backup/backup-schedule.yaml
  deployments/base/configmap.yaml
  deployments/base/ingress-http.yaml
  deployments/base/namespace.yaml
  deployments/base/redis-session-deployment.yaml
  deployments/base/service.yaml
  deployments/cloudrun/service.yaml
  deployments/helm/mcp-server-langgraph/values.yaml
  deployments/kong/kong.yaml
  deployments/kubernetes/kong/kong-apikey-jwt-plugin.yaml
  deployments/kubernetes/kong/kong-ingress.yaml
  deployments/monitoring/kubecost-values.yaml
  deployments/optimized/deployment.yaml
  deployments/overlays/dev/ingress-cors-patch.yaml
  deployments/overlays/dev/kustomization.yaml
  deployments/overlays/dev/namespace.yaml
  deployments/overlays/production-gke/configmap-patch.yaml
  deployments/overlays/production/kustomization.yaml
  deployments/overlays/production/namespace.yaml
  deployments/overlays/staging/kustomization.yaml
  deployments/overlays/staging/namespace.yaml
  deployments/service-mesh/istio/istio-config.yaml
  scripts/validate-deployments.sh
  tests/deployment/test_helm_configuration.py
Labels: documentation, tests, ci-cd, config

fix(prometheus): update alertmanager URLs with TODO markers
  deployments/helm/mcp-server-langgraph/prometheus-rules/langgraph-agent.yaml
  tests/integration/test_postgres_storage.py
Labels: tests

fix(tests): exclude prometheus-rules from deployment placeholder validation
  tests/deployment/test_helm_configuration.py
Labels: tests

feat(test): Phase 3 - Comprehensive PostgreSQL storage integration tests
  TEST_INFRASTRUCTURE_REMEDIATION_SUMMARY.md
  adr/adr-0046-postgres-storage-integration-tests.md
  tests/conftest.py
  tests/integration/test_postgres_storage.py
Labels: documentation, tests

docs: add comprehensive validation report for OpenAI Codex remediation
  VALIDATION-REPORT.md
Labels: documentation

feat(deployment): add comprehensive TDD infrastructure and health checks
  TESTING.md
  adr/adr-0046-deployment-configuration-tdd-infrastructure.md
  scripts/check-deployment-health.sh
Labels: documentation, tests

add Benchmark (pytest) benchmark result for 161459e383525e726c64663abf7fb64ed185fb4c
  dev/bench/data.js
Labels: none

.github/labeler.yml:

# Auto-labeler configuration for PRs
# Uses changed-files pattern matching

# Documentation
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'
      - '**/*.mdx'
      - 'docs/**/*'
      - 'mint.json'
      - '.mcp/*.json'

# Tests
tests:
  - changed-files:
    - any-glob-to-any-file:
      - 'tests/**/*'
      - '**/*test*.py'
      - 'test_*.py'
      - '*_test.py'
      - 'pytest.ini'
      - 'conftest.py'
      - 'TESTING.md'

# CI/CD
ci-cd:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**/*'
      - '.github/actions/**/*'
      - '.gitlab-ci.yml'
      - 'Makefile'
      - '.pre-commit-config.yaml'

# Dependencies
dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'requirements*.txt'
      - 'setup.py'
      - 'pyproject.toml'
      - 'poetry.lock'
      - 'package*.json'
      - 'yarn.lock'

# Docker
docker:
  - changed-files:
    - any-glob-to-any-file:
      - 'Dockerfile*'
      - 'docker-compose*.yml'
      - '.dockerignore'

# Kubernetes/Deployment
deployment:
  - changed-files:
    - any-glob-to-any-file:
      - 'kubernetes/**/*'
      - 'kustomize/**/*'
      - 'helm/**/*'
      - 'k8s/**/*'
      - 'KUBERNETES_DEPLOYMENT.md'
      - 'PRODUCTION_DEPLOYMENT.md'

# Authentication/Authorization
auth:
  - changed-files:
    - any-glob-to-any-file:
      - 'auth.py'
      - 'openfga_client.py'
      - 'setup_openfga.py'

# Secrets Management
secrets:
  - changed-files:
    - any-glob-to-any-file:
      - 'secrets_manager.py'
      - 'setup_infisical.py'

# Observability
observability:
  - changed-files:
    - any-glob-to-any-file:
      - 'observability.py'
      - 'health_check.py'
      - 'monitoring/**/*'
      - 'grafana/**/*'

# MCP Server
mcp:
  - changed-files:
    - any-glob-to-any-file:
      - 'mcp_server*.py'
      - 'examples/*client*.py'

# Agent/Core
agent:
  - changed-files:
    - any-glob-to-any-file:
      - 'agent.py'
      - 'graph.py'
      - 'models.py'
      - 'prompt*.py'

# Configuration
config:
  - changed-files:
    - any-glob-to-any-file:
      - 'config.py'
      - '.env*'
      - 'settings.py'
      - '*.yaml'
      - '*.yml'
      - '*.toml'
      - '*.ini'
      - '.editorconfig'

# Security
security:
  - changed-files:
    - any-glob-to-any-file:
      - 'auth.py'
      - 'secrets_manager.py'
      - 'openfga_client.py'
      - 'SECURITY*.md'
      - '.github/workflows/security-scan.yaml'
      - 'scripts/validate_production.py'

# Community
community:
  - changed-files:
    - any-glob-to-any-file:
      - 'CODE_OF_CONDUCT.md'
      - 'CONTRIBUTING.md'
      - 'DEVELOPMENT.md'
      - '.github/SUPPORT.md'
      - '.github/FUNDING.yml'
      - '.github/ISSUE_TEMPLATE/**/*'
      - '.github/PULL_REQUEST_TEMPLATE.md'
