Repository vishnu2kmohan/mcp-server-langgraph, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, tests, ci-cd, dependencies, docker, deployment, auth, secrets, observability, mcp, agent, config, security, community

.github/labeler.yml:

# Auto-labeler configuration for PRs
# Uses changed-files pattern matching

# Documentation
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'
      - '**/*.mdx'
      - 'docs/**/*'
      - 'mint.json'
      - '.mcp/*.json'

# Tests
tests:
  - changed-files:
    - any-glob-to-any-file:
      - 'tests/**/*'
      - '**/*test*.py'
      - 'test_*.py'
      - '*_test.py'
      - 'pytest.ini'
      - 'conftest.py'
      - 'TESTING.md'

# CI/CD
ci-cd:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**/*'
      - '.github/actions/**/*'
      - '.gitlab-ci.yml'
      - 'Makefile'
      - '.pre-commit-config.yaml'

# Dependencies
dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'requirements*.txt'
      - 'setup.py'
      - 'pyproject.toml'
      - 'poetry.lock'
      - 'package*.json'
      - 'yarn.lock'

# Docker
docker:
  - changed-files:
    - any-glob-to-any-file:
      - 'Dockerfile*'
      - 'docker-compose*.yml'
      - '.dockerignore'

# Kubernetes/Deployment
deployment:
  - changed-files:
    - any-glob-to-any-file:
      - 'kubernetes/**/*'
      - 'kustomize/**/*'
      - 'helm/**/*'
      - 'k8s/**/*'
      - 'KUBERNETES_DEPLOYMENT.md'
      - 'PRODUCTION_DEPLOYMENT.md'

# Authentication/Authorization
auth:
  - changed-files:
    - any-glob-to-any-file:
      - 'auth.py'
      - 'openfga_client.py'
      - 'setup_openfga.py'

# Secrets Management
secrets:
  - changed-files:
    - any-glob-to-any-file:
      - 'secrets_manager.py'
      - 'setup_infisical.py'

# Observability
observability:
  - changed-files:
    - any-glob-to-any-file:
      - 'observability.py'
      - 'health_check.py'
      - 'monitoring/**/*'
      - 'grafana/**/*'

# MCP Server
mcp:
  - changed-files:
    - any-glob-to-any-file:
      - 'mcp_server*.py'
      - 'examples/*client*.py'

# Agent/Core
agent:
  - changed-files:
    - any-glob-to-any-file:
      - 'agent.py'
      - 'graph.py'
      - 'models.py'
      - 'prompt*.py'

# Configuration
config:
  - changed-files:
    - any-glob-to-any-file:
      - 'config.py'
      - '.env*'
      - 'settings.py'
      - '*.yaml'
      - '*.yml'
      - '*.toml'
      - '*.ini'
      - '.editorconfig'

# Security
security:
  - changed-files:
    - any-glob-to-any-file:
      - 'auth.py'
      - 'secrets_manager.py'
      - 'openfga_client.py'
      - 'SECURITY*.md'
      - '.github/workflows/security-scan.yaml'
      - 'scripts/validate_production.py'

# Community
community:
  - changed-files:
    - any-glob-to-any-file:
      - 'CODE_OF_CONDUCT.md'
      - 'CONTRIBUTING.md'
      - 'DEVELOPMENT.md'
      - '.github/SUPPORT.md'
      - '.github/FUNDING.yml'
      - '.github/ISSUE_TEMPLATE/**/*'
      - '.github/PULL_REQUEST_TEMPLATE.md'

docs: rename Troubleshooting to Advanced Troubleshooting
  docs/advanced/troubleshooting.mdx
Labels: documentation

feat(ci): add gh-pages telemetry dashboard with self-hosted metrics
  .github/workflows/gh-pages-telemetry.yaml
  README.md
  scripts/validators/validate_workflow_file_references.py
Labels: documentation, ci-cd

fix(ci): correct hook IDs in push-validators matrix
  .github/workflows/ci.yaml
  tests/meta/ci/test_workflow_hook_ids.py
Labels: tests, ci-cd

fix(hooks): add helm dependency build to helm-lint hook
  .pre-commit-config.yaml
Labels: ci-cd, config

fix(tests): add xdist markers to workflow hook IDs meta-test
  tests/meta/ci/test_workflow_hook_ids.py
Labels: tests

fix(ci): increase push-validators timeout to 20 minutes
  .github/workflows/ci.yaml
Labels: ci-cd

refactor(ci): remove redundant push-validators categories for DRY/YAGNI compliance
  .github/workflows/ci.yaml
Labels: ci-cd

fix(ci): add disk cleanup and fail-fast:false to docker-multiplatform (#132)
  .github/workflows/ci.yaml
  .github/workflows/gh-pages-telemetry.yaml
  .pre-commit-config.yaml
  README.md
  docs/advanced/troubleshooting.mdx
  scripts/validators/validate_workflow_file_references.py
  tests/meta/ci/test_workflow_hook_ids.py
Labels: documentation, tests, ci-cd, config

fix(ci): guard workflow_run context access in publish-reports.yaml
  .github/workflows/publish-reports.yaml
Labels: ci-cd

feat(ci): add unified dashboard for CI reports on GitHub Pages
  .github/workflows/publish-reports.yaml
Labels: ci-cd

fix(tests): prevent mypy enforcement test timeout in pytest-xdist
  tests/meta/test_mypy_enforcement.py
Labels: tests

fix(validators): handle && guards in workflow_run context validation
  scripts/validators/validate_github_workflows_comprehensive.py
Labels: none

fix(ci): add OTEL_SDK_DISABLED to all pytest hooks and update gh-pages dashboard
  .github/workflows/gh-pages-telemetry.yaml
  .pre-commit-config.yaml
Labels: ci-cd, config

fix(ci): resolve benchmark test failures caused by pytest-xdist conflicts
  .github/workflows/quality-tests.yaml
  Makefile
Labels: ci-cd

fix(tests): add OTEL_SDK_DISABLED to agent type safety tests
  tests/unit/core/test_agent_type_safety.py
Labels: tests

fix(ci): add existence check for collected-reports artifact in publish-reports
  .github/workflows/publish-reports.yaml
  tests/meta/ci/test_workflow_validation.py
Labels: tests, ci-cd

fix(helm): use pullPolicy: Always for mutable staging tag
  deployments/helm/mcp-server-langgraph/values.yaml
  deployments/helm/values-staging.yaml
Labels: none

fix(ci): resolve benchmark test failures caused by pytest-xdist conflicts (#133)
  .github/workflows/gh-pages-telemetry.yaml
  .github/workflows/publish-reports.yaml
  .github/workflows/quality-tests.yaml
  .pre-commit-config.yaml
  Makefile
  deployments/helm/mcp-server-langgraph/values.yaml
  deployments/helm/values-staging.yaml
  scripts/validators/validate_github_workflows_comprehensive.py
  tests/meta/ci/test_workflow_validation.py
  tests/meta/test_mypy_enforcement.py
  tests/unit/core/test_agent_type_safety.py
Labels: tests, ci-cd, config

add Benchmark (pytest) benchmark result for e82666c57a63d50af685a43697b39230f2e44147
  dev/bench/data.js
Labels: none

fix(ci): consolidate gh-pages dashboard and eliminate duplicate coverage runs
  .github/workflows/ci.yaml
  .github/workflows/coverage-trend.yaml
  .github/workflows/gh-pages-telemetry.yaml
  .github/workflows/publish-reports.yaml.deprecated
  tests/meta/test_gh_pages_dashboard.py
  tests/meta/test_makefile_prepush_parity.py
Labels: tests, ci-cd

fix(tests): improve Helm template fixture with xdist-safe dependency build
  deployments/helm/mcp-server-langgraph/.gitignore
  tests/deployment/test_helm_templates.py
Labels: tests

feat(telemetry): add DORA metrics, dependency graph, and flakiness tracking
  .github/workflows/gh-pages-telemetry.yaml
  scripts/ci/generate_dashboard_metrics.py
  tests/meta/test_dashboard_metrics.py
  tests/regression/test_dev_dependencies.py
Labels: tests, ci-cd

add Benchmark (pytest) benchmark result for 8e247c288535fcfbce6f763fe908feb916699c7d
  dev/bench/data.js
Labels: none

fix(ci): consolidate gh-pages dashboard and eliminate duplicate coverage runs (#135)
  .github/workflows/ci.yaml
  .github/workflows/coverage-trend.yaml
  .github/workflows/gh-pages-telemetry.yaml
  .github/workflows/publish-reports.yaml.deprecated
  deployments/helm/mcp-server-langgraph/.gitignore
  scripts/ci/generate_dashboard_metrics.py
  tests/deployment/test_helm_templates.py
  tests/meta/test_dashboard_metrics.py
  tests/meta/test_gh_pages_dashboard.py
  tests/meta/test_makefile_prepush_parity.py
  tests/regression/test_dev_dependencies.py
Labels: tests, ci-cd

add Benchmark (pytest) benchmark result for 8ef05b81608a971ea190f00d46567554a65b7bed
  dev/bench/data.js
Labels: none

fix(ci): fix gh-pages deploy condition and consolidate workflows
  .github/workflows/cache-cleanup.yaml
  .github/workflows/ci.yaml
  .github/workflows/coverage-trend.yaml
  .github/workflows/dora-metrics.yaml
  .github/workflows/gh-pages-telemetry.yaml
  .github/workflows/quality-tests.yaml
  .github/workflows/release.yaml
  .github/workflows/security-scan.yaml
  .github/workflows/weekly-reports.yaml
  scripts/ci/cleanup_telemetry.py
  tests/meta/test_gh_pages_dashboard.py
  tests/meta/test_report_freshness.py
Labels: tests, ci-cd, security

fix(ci): fix gh-pages deploy condition and consolidate workflows (#137)
  .github/workflows/cache-cleanup.yaml
  .github/workflows/ci.yaml
  .github/workflows/coverage-trend.yaml
  .github/workflows/dora-metrics.yaml
  .github/workflows/gh-pages-telemetry.yaml
  .github/workflows/quality-tests.yaml
  .github/workflows/release.yaml
  .github/workflows/security-scan.yaml
  .github/workflows/weekly-reports.yaml
  scripts/ci/cleanup_telemetry.py
  tests/meta/test_gh_pages_dashboard.py
  tests/meta/test_report_freshness.py
Labels: tests, ci-cd, security

add Benchmark (pytest) benchmark result for a85909520c87ac2ee39c4957e8af99358d3a6a93
  dev/bench/data.js
Labels: none

fix(ci): add missing checkout to docker-manifest job
  .github/workflows/ci.yaml
Labels: ci-cd

add Benchmark (pytest) benchmark result for 5b20a39676ad2cd684b8f892739ba3acab23e2b7
  dev/bench/data.js
Labels: none

fix(ci): increase collect-coverage timeout to 20 minutes
  .github/workflows/gh-pages-telemetry.yaml
Labels: ci-cd

feat(ci): add Vertex AI integration tests with Workload Identity Federation
  .github/SECRETS.md
  .github/workflows/integration-tests.yaml
  terraform/environments/gcp-staging-wif-only/main.tf
Labels: documentation, ci-cd

add Benchmark (pytest) benchmark result for b3011254e293ebb58a9d40a3bb3b31695dfb8f56
  dev/bench/data.js
Labels: none

feat(ci): add Vertex AI integration tests with Workload Identity Federation (#138)
  .github/SECRETS.md
  .github/workflows/integration-tests.yaml
  terraform/environments/gcp-staging-wif-only/main.tf
Labels: documentation, ci-cd

add Benchmark (pytest) benchmark result for 6270c7bb6c6eceb40d250ff4d930ac0bfd0ddf74
  dev/bench/data.js
Labels: none

style(ci): rename Vertex AI job for consistency
  .github/workflows/integration-tests.yaml
Labels: ci-cd

add Benchmark (pytest) benchmark result for 6e73d1ffdec1d36f1c7fb1524d50c853ac39a1bd
  dev/bench/data.js
Labels: none

fix(ci): add cloud extra for Vertex AI integration tests
  .github/workflows/ci.yaml
  .github/workflows/cost-tracking.yaml
  .github/workflows/coverage-trend.yaml
  .github/workflows/deploy-staging-gke.yaml
  .github/workflows/deployment-validation.yml
  .github/workflows/docs-validation.yaml
  .github/workflows/dora-metrics.yaml
  .github/workflows/e2e-tests.yaml
  .github/workflows/gh-pages-telemetry.yaml
  .github/workflows/integration-tests.yaml
  .github/workflows/link-checker.yaml
  .github/workflows/local-preflight-check.yaml
  .github/workflows/optional-deps-test.yaml
  .github/workflows/performance-regression.yaml
  .github/workflows/quality-tests.yaml
  .github/workflows/release.yaml
  .github/workflows/security-scan.yaml
  .github/workflows/security-validation.yml
  .github/workflows/smoke-tests.yml
  .github/workflows/track-skipped-tests.yaml
  .github/workflows/validate-k8s-configs.yml
  .github/workflows/validate-kubernetes.yaml
  pyproject.toml
  uv.lock
Labels: ci-cd, dependencies, config, security

fix(tests): skip cloud extra deps in import check
  tests/regression/test_dev_dependencies.py
Labels: tests

add Benchmark (pytest) benchmark result for daeecc97a4d3d403df96e0ddaf28d9a10fbd3338
  dev/bench/data.js
Labels: none
