Repository vishnu2kmohan/mcp-server-langgraph, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, tests, ci-cd, dependencies, docker, deployment, auth, secrets, observability, mcp, agent, config, security, community

fix(security): add local security scanning for CodeQL parity
  .pre-commit-config.yaml
  .semgrep.yaml
  deployments/helm/mcp-server-langgraph/.trivyignore
  pyproject.toml
  scripts/security/scan_helm_templates.sh
Labels: ci-cd, dependencies, config

fix(docs): add missing frontmatter to development/setup.mdx
  docs/development/setup.mdx
Labels: documentation

fix(security): close CodeQL gap with Ruff S rules and fix alerts
  .trivyignore
  pyproject.toml
  src/mcp_server_langgraph/core/checkpoint_validator.py
  terraform/modules/eks/iam.tf
  terraform/modules/eks/variables.tf
  tests/e2e/keycloak-test-realm.json
Labels: tests, dependencies, config

fix(ruff): exclude clients/python and add per-file ignores for S rules
  pyproject.toml
  uv.lock
Labels: dependencies, config

feat(ci): add multi-Python version smoke testing for pre-push validation
  .claude/memory/python-environment-usage.md
  .pre-commit-config.yaml
  CHANGELOG.md
  scripts/test_python_versions.sh
Labels: documentation, ci-cd, config

feat(ci): add multi-Python version smoke testing for pre-push validation
  .github/workflows/ci.yaml
  .github/workflows/coverage-trend.yaml
  .github/workflows/e2e-tests.yaml
  .github/workflows/integration-tests.yaml
  .github/workflows/quality-tests.yaml
  .github/workflows/weekly-reports.yaml
  .pre-commit-config.yaml
  pyproject.toml
  scripts/run_pre_push_tests.py
  scripts/test_python_versions.sh
  tests/meta/test_local_ci_parity.py
  uv.lock
Labels: tests, ci-cd, dependencies, config

fix(ci): complete builder extra removal and add preventive validation
  .github/WORKFLOW_AUDIT_COMPLETION_REPORT.md
  .github/WORKFLOW_TESTING_CHECKLIST.md
  .pre-commit-config.yaml
  CONTRIBUTING.md
  Makefile
  docker/Dockerfile
  docker/Dockerfile.test
  docs-internal/CODEX_FINDINGS_VALIDATION_REPORT_2025-11-21.md
  docs-internal/WORKFLOW_CONSOLIDATION_REPORT.md
  docs/ci-cd/local-testing.mdx
  docs/development/cache-management-strategy.mdx
  docs/development/commands.mdx
  tests/meta/test_dockerfile_uv_sync.py
  tests/meta/test_extra_references.py
  tests/meta/test_local_ci_parity.py
  tests/regression/test_dev_dependencies.py
Labels: documentation, tests, ci-cd, config, community

fix(security): address CodeQL alerts with comprehensive security hardening
  .github/codeql/codeql-config.yml
  .github/workflows/security-scan.yaml
  .pre-commit-config.yaml
  pyproject.toml
  scripts/setup/setup_keycloak.py
  src/mcp_server_langgraph/auth/api_keys.py
  src/mcp_server_langgraph/auth/keycloak.py
  src/mcp_server_langgraph/builder/codegen/generator.py
  src/mcp_server_langgraph/secrets/manager.py
  tests/deployment/test_service_accounts.py
  tests/security/test_deployment_security_regression.py
  tests/utils/mock_factories.py
  uv.lock
Labels: tests, ci-cd, dependencies, config, security

fix(hooks): look for semgrep in .venv before system PATH
  .pre-commit-config.yaml
Labels: ci-cd, config

fix(security): add semgrep nosemgrep suppressions for legitimate findings
  scripts/validators/validate_ci_cd.py
  src/mcp_server_langgraph/compliance/gdpr/postgres_storage.py
  src/mcp_server_langgraph/core/test_helpers.py
Labels: tests

fix(tests): use sys.executable instead of hardcoded 'python' in subprocess calls
  tests/meta/test_id_pollution_prevention.py
  tests/meta/test_precommit_keycloak_validation.py
Labels: tests

fix(deps): pin click<8.2.0 to avoid _textwrap module removal
  pyproject.toml
  uv.lock
Labels: dependencies, config

fix(monitoring): use certifi for CA bundle in PrometheusClient
  pyproject.toml
  src/mcp_server_langgraph/monitoring/prometheus_client.py
  uv.lock
Labels: dependencies, config

fix(ci): align coverage threshold to 75% across pyproject.toml and workflow
  .github/workflows/coverage-trend.yaml
  pyproject.toml
Labels: ci-cd, dependencies, config

test(meta): add regression test for subprocess Python invocations
  tests/meta/test_performance_regression.py
  tests/meta/test_subprocess_interpreter_usage.py
  tests/meta/validation/test_documentation_integrity.py
Labels: tests

fix(security): add semgrep nosemgrep suppressions for legitimate findings
  .github/codeql/codeql-config.yml
  scripts/setup/setup_keycloak.py
  src/mcp_server_langgraph/auth/api_keys.py
  src/mcp_server_langgraph/builder/codegen/generator.py
Labels: none

test(coverage): add unit tests for prompts and database models
  .github/workflows/ci.yaml
  tests/unit/core/test_prompts.py
  tests/unit/database/test_models.py
Labels: tests, ci-cd

fix(security): correct CodeQL config query-filter syntax
  .github/codeql/codeql-config.yml
Labels: none

feat(security): add SecretString wrapper and comprehensive secrets obfuscation
  .github/workflows/ci.yaml
  .gitleaksignore
  .pre-commit-config.yaml
  pyproject.toml
  src/mcp_server_langgraph/core/config.py
  src/mcp_server_langgraph/core/security.py
  src/mcp_server_langgraph/secrets/manager.py
  tests/cli/test_cli.py
  tests/meta/test_performance_regression.py
  tests/meta/test_performance_regression_suite.py
  tests/monitoring/test_budget_monitor.py
  tests/regression/test_dev_dependencies.py
  tests/unit/secrets_obfuscation/__init__.py
  tests/unit/secrets_obfuscation/test_secrets_obfuscation.py
  uv.lock
Labels: tests, ci-cd, dependencies, config

fix(ci): remove secrets extra for Python 3.13 compatibility
  .github/workflows/ci.yaml
Labels: ci-cd

docs: fix documentation sync issues and update ADR count to 62
  README.md
  docs/architecture/adr-0005-pydantic-ai-integration.mdx
  docs/architecture/adr-0024-agentic-loop-implementation.mdx
  docs/architecture/adr-0041-postgresql-gdpr-storage.mdx
  docs/architecture/adr-0044-test-infrastructure-quick-wins.mdx
  docs/architecture/adr-0045-test-infrastructure-phase-2-foundation.mdx
  docs/architecture/adr-0048-postgres-storage-integration-tests.mdx
  docs/architecture/adr-0064-pre-commit-hooks-strategy.mdx
  docs/architecture/overview.mdx
  docs/docs.json
Labels: documentation

test(coverage): add unit tests for session, langsmith, and retry modules
  tests/unit/database/test_session.py
  tests/unit/observability/test_langsmith.py
  tests/unit/utils/test_retry.py
Labels: tests

fix(ci): add pre-commit hook for internal link checking
  .github/CONTRIBUTING.md
  .pre-commit-config.yaml
  adr/adr-0030-resilience-patterns.md
Labels: documentation, ci-cd, config

test(coverage): add unit tests for cost_tracker module
  tests/monitoring/test_cost_tracker.py
Labels: tests

fix(security): remediate CodeQL CI check findings for PR #121
  .semgrep.yaml
  adr/README.md
  adr/adr-0066-helm-chart-security-risk-acceptance.md
  deployments/helm/mcp-server-langgraph/.trivyignore
  deployments/helm/mcp-server-langgraph/Chart.lock
  deployments/helm/mcp-server-langgraph/Chart.yaml
  deployments/helm/mcp-server-langgraph/charts/kube-prometheus-stack-79.6.1.tgz
  deployments/helm/mcp-server-langgraph/charts/redis-23.2.12.tgz
  docs/architecture/adr-0066-helm-chart-security-risk-acceptance.mdx
  docs/architecture/overview.mdx
  docs/docs.json
  terraform/modules/eks/iam.tf
Labels: documentation, config

fix(ci): bust uv cache to fix Hypothesis Python 3.13 CI failures
  .github/actions/setup-python-deps/action.yml
Labels: ci-cd

docs(adr): add missing frontmatter to ADR-0066
  docs/architecture/adr-0066-helm-chart-security-risk-acceptance.mdx
Labels: documentation

docs(adr): add complete SEO frontmatter to ADR-0066
  docs/architecture/adr-0066-helm-chart-security-risk-acceptance.mdx
Labels: documentation

fix(ci): consolidate doc validation hooks for CI parity
  .github/workflows/docs-validation.yaml
  .pre-commit-config.yaml
  README.md
  scripts/docs/standardize_frontmatter.py
  scripts/validators/__init__.py
  scripts/validators/adr_sync_validator.py
  scripts/validators/file_naming_validator.py
  scripts/validators/mdx_extension_validator.py
  scripts/validators/validate_docs.py
  tests/meta/validation/test_documentation_integrity.py
  tests/unit/documentation/test_file_naming_validator.py
  tests/unit/documentation/test_mdx_extension_validator.py
  tests/unit/validators/test_adr_sync_validator.py
  tests/unit/validators/test_validate_docs.py
Labels: documentation, tests, ci-cd, config

fix(tests): add helm dependency build before template tests
  tests/deployment/test_helm_templates.py
  tests/meta/validation/test_deployment_manifests.py
Labels: tests

fix(ci): use uv-managed Python path for all Docker variants
  .github/workflows/ci.yaml
Labels: ci-cd

fix(ci): resolve GCP compliance scan false positives
  .github/workflows/gcp-compliance-scan.yaml
  .github/workflows/local-preflight-check.yaml
Labels: ci-cd

docs: update weekly test infrastructure reports
  docs-internal/reports/ASYNC_MOCK_SCAN.md
  docs-internal/reports/TEST_SUITE_STATS.md
Labels: documentation

fix(ci): resolve GCP compliance scan false positives (#123)
  .github/workflows/gcp-compliance-scan.yaml
Labels: ci-cd

fix(ci): comprehensive CI failure remediation and infrastructure hardening
  .github/workflows/ci.yaml
  .github/workflows/gcp-compliance-scan.yaml
  adr/README.md
  terraform/environments/gcp-staging-wif-only/main.tf
  terraform/environments/gcp-staging-wif-only/outputs.tf
  tests/meta/infrastructure/test_gcp_infrastructure_validation.py
  tests/meta/test_codex_regression_prevention.py
  tests/meta/test_github_actions_validation.py
Labels: documentation, tests, ci-cd

chore: regenerate test infrastructure reports
  docs-internal/reports/ASYNC_MOCK_SCAN.md
  docs-internal/reports/TEST_SUITE_STATS.md
Labels: documentation

fix(scripts): force development environment in smoke test
  scripts/test_python_versions.sh
Labels: none

fix(ci): staging deployment smoke test and rollback workflow issues
  .github/workflows/deploy-staging-gke.yaml
  scripts/gcp/staging-smoke-tests.sh
Labels: ci-cd

fix(terraform): add viewer roles to staging SA for observability
  terraform/environments/gcp-staging-wif-only/main.tf
Labels: none

docs: reorganize documentation structure and fix icons
  docs/advanced/contributing.mdx
  docs/api-reference/api-compliance-report.mdx
  docs/architecture/adr-0033-service-principal-design.mdx
  docs/architecture/adr-0044-test-infrastructure-quick-wins.mdx
  docs/architecture/adr-0045-test-infrastructure-phase-2-foundation.mdx
  docs/architecture/adr-0053-ci-cd-failure-prevention-framework.mdx
  docs/architecture/adr-0054-pod-failure-prevention-framework.mdx
  docs/architecture/adr-0060-database-architecture-and-naming-convention.mdx
  docs/ci-cd/local-testing.mdx
  docs/ci-cd/troubleshooting.mdx
  docs/comparisons/vs-claude-agent-sdk.mdx
  docs/comparisons/vs-crewai.mdx
  docs/comparisons/vs-google-adk.mdx
  docs/comparisons/vs-langgraph-cloud.mdx
  docs/comparisons/vs-microsoft-agent-framework.mdx
  docs/comparisons/vs-openai-agentkit.mdx
  docs/deployment/infrastructure/docker-healthcheck-patterns.mdx
  docs/deployment/infrastructure/gke-cluster-requirements.mdx
  docs/deployment/kubernetes/configmap-best-practices.mdx
  docs/deployment/kubernetes/keycloak-readonly-filesystem.mdx
  docs/deployment/kubernetes/kubernetes-best-practices-implementation.mdx
  docs/deployment/kubernetes/pod-crash-resolution-2025-11-12.mdx
  docs/deployment/monitoring/logging.mdx
  docs/docs.json
  docs/reference/configuration-files.mdx
  docs/reference/documentation-authoring-guide.mdx
  docs/reference/icon-selection-guide.mdx
  docs/reference/mermaid-guide.mdx
  docs/reference/quick-reference.mdx
  docs/reference/sources.mdx
  docs/security/compliance.mdx
Labels: documentation

.github/labeler.yml:

# Auto-labeler configuration for PRs
# Uses changed-files pattern matching

# Documentation
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'
      - '**/*.mdx'
      - 'docs/**/*'
      - 'mint.json'
      - '.mcp/*.json'

# Tests
tests:
  - changed-files:
    - any-glob-to-any-file:
      - 'tests/**/*'
      - '**/*test*.py'
      - 'test_*.py'
      - '*_test.py'
      - 'pytest.ini'
      - 'conftest.py'
      - 'TESTING.md'

# CI/CD
ci-cd:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**/*'
      - '.github/actions/**/*'
      - '.gitlab-ci.yml'
      - 'Makefile'
      - '.pre-commit-config.yaml'

# Dependencies
dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'requirements*.txt'
      - 'setup.py'
      - 'pyproject.toml'
      - 'poetry.lock'
      - 'package*.json'
      - 'yarn.lock'

# Docker
docker:
  - changed-files:
    - any-glob-to-any-file:
      - 'Dockerfile*'
      - 'docker-compose*.yml'
      - '.dockerignore'

# Kubernetes/Deployment
deployment:
  - changed-files:
    - any-glob-to-any-file:
      - 'kubernetes/**/*'
      - 'kustomize/**/*'
      - 'helm/**/*'
      - 'k8s/**/*'
      - 'KUBERNETES_DEPLOYMENT.md'
      - 'PRODUCTION_DEPLOYMENT.md'

# Authentication/Authorization
auth:
  - changed-files:
    - any-glob-to-any-file:
      - 'auth.py'
      - 'openfga_client.py'
      - 'setup_openfga.py'

# Secrets Management
secrets:
  - changed-files:
    - any-glob-to-any-file:
      - 'secrets_manager.py'
      - 'setup_infisical.py'

# Observability
observability:
  - changed-files:
    - any-glob-to-any-file:
      - 'observability.py'
      - 'health_check.py'
      - 'monitoring/**/*'
      - 'grafana/**/*'

# MCP Server
mcp:
  - changed-files:
    - any-glob-to-any-file:
      - 'mcp_server*.py'
      - 'examples/*client*.py'

# Agent/Core
agent:
  - changed-files:
    - any-glob-to-any-file:
      - 'agent.py'
      - 'graph.py'
      - 'models.py'
      - 'prompt*.py'

# Configuration
config:
  - changed-files:
    - any-glob-to-any-file:
      - 'config.py'
      - '.env*'
      - 'settings.py'
      - '*.yaml'
      - '*.yml'
      - '*.toml'
      - '*.ini'
      - '.editorconfig'

# Security
security:
  - changed-files:
    - any-glob-to-any-file:
      - 'auth.py'
      - 'secrets_manager.py'
      - 'openfga_client.py'
      - 'SECURITY*.md'
      - '.github/workflows/security-scan.yaml'
      - 'scripts/validate_production.py'

# Community
community:
  - changed-files:
    - any-glob-to-any-file:
      - 'CODE_OF_CONDUCT.md'
      - 'CONTRIBUTING.md'
      - 'DEVELOPMENT.md'
      - '.github/SUPPORT.md'
      - '.github/FUNDING.yml'
      - '.github/ISSUE_TEMPLATE/**/*'
      - '.github/PULL_REQUEST_TEMPLATE.md'
