Repository vishnu2kmohan/mcp-server-langgraph, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, tests, ci-cd, dependencies, docker, deployment, auth, secrets, observability, mcp, agent, config, security, community

add Benchmark (pytest) benchmark result for 871972bb624fd2e0cdd19f125b1efb798b71ff2b
  dev/bench/data.js
Labels: none

docs(infrastructure): add deployment checklist and Python client uv.lock
  INFRASTRUCTURE-DEPLOYMENT-CHECKLIST.md
Labels: documentation

feat(mcp): integrate execute_python and search_tools into MCP server
  src/mcp_server_langgraph/mcp/server_stdio.py
  tests/integration/test_mcp_code_execution.py
Labels: tests

add Benchmark (pytest) benchmark result for ee93eed43109e9d44fee180c46563446b25e5df7
  dev/bench/data.js
Labels: none

feat(terraform): add GCP Secret Manager module for reproducible secret management
  terraform/modules/gcp-secrets/README.md
  terraform/modules/gcp-secrets/main.tf
  terraform/modules/gcp-secrets/outputs.tf
  terraform/modules/gcp-secrets/variables.tf
Labels: documentation

add Benchmark (pytest) benchmark result for 347ab14fca4df220a7a781a68a5777772e329754
  dev/bench/data.js
Labels: none

feat(mcp): add execute_python and search_tools to StreamableHTTP server
  src/mcp_server_langgraph/mcp/server_streamable.py
Labels: none

add Benchmark (pytest) benchmark result for ef3a51b7eed3709df04daeb835a1b701a573e063
  dev/bench/data.js
Labels: none

docs(readme): add code execution features to README
  README.md
Labels: documentation

fix(infrastructure,tests): fix init containers, tests, and add cross-platform secrets modules
  .claude/settings.local.json
  clients/python/docs/McpApi.md
  clients/python/mcp_server_langgraph_client/__init__.py
  clients/python/mcp_server_langgraph_client/api/__init__.py
  clients/python/mcp_server_langgraph_client/api/auth_api.py
  clients/python/mcp_server_langgraph_client/api/gdpr_compliance_api.py
  clients/python/mcp_server_langgraph_client/api/mcp_api.py
  clients/python/mcp_server_langgraph_client/api_client.py
  clients/python/mcp_server_langgraph_client/api_response.py
  clients/python/mcp_server_langgraph_client/configuration.py
  clients/python/mcp_server_langgraph_client/exceptions.py
  clients/python/mcp_server_langgraph_client/models/__init__.py
  clients/python/mcp_server_langgraph_client/models/body_update_consent_api_v1_users_me_consent_post.py
  clients/python/mcp_server_langgraph_client/models/body_update_user_profile_api_v1_users_me_patch.py
  clients/python/mcp_server_langgraph_client/models/consent_record.py
  clients/python/mcp_server_langgraph_client/models/consent_type.py
  clients/python/mcp_server_langgraph_client/models/http_authorization_credentials.py
  clients/python/mcp_server_langgraph_client/models/http_validation_error.py
  clients/python/mcp_server_langgraph_client/models/login_request.py
  clients/python/mcp_server_langgraph_client/models/login_response.py
  clients/python/mcp_server_langgraph_client/models/refresh_token_request.py
  clients/python/mcp_server_langgraph_client/models/refresh_token_response.py
  clients/python/mcp_server_langgraph_client/models/user_profile_update.py
  clients/python/mcp_server_langgraph_client/models/validation_error.py
  clients/python/mcp_server_langgraph_client/models/validation_error_loc_inner.py
  clients/python/mcp_server_langgraph_client/py.typed
  clients/python/mcp_server_langgraph_client/rest.py
  clients/python/test/test_mcp_api.py
  deployments/overlays/staging-gke/deployment-init-containers-patch.yaml
  deployments/overlays/staging-gke/external-secrets.yaml
  deployments/overlays/staging-gke/kustomization.yaml
  docs/IMPLEMENTATION_SUMMARY.md
  terraform/modules/aws-secrets/main.tf
  terraform/modules/aws-secrets/outputs.tf
  terraform/modules/aws-secrets/variables.tf
  terraform/modules/azure-secrets/main.tf
  terraform/modules/azure-secrets/outputs.tf
  terraform/modules/azure-secrets/variables.tf
  tests/infrastructure/test_validation.py
Labels: documentation, tests

add Benchmark (pytest) benchmark result for 498ca452cc7e2d0b68dacb1aea5c4887e8cb3ed6
  dev/bench/data.js
Labels: none

fix(security): address critical security vulnerabilities (CWE-269, CWE-862, CWE-73, CWE-434, CWE-1188)
  deployments/overlays/staging-gke/deployment-init-containers-patch.yaml
  src/mcp_server_langgraph/api/scim.py
  src/mcp_server_langgraph/api/service_principals.py
  src/mcp_server_langgraph/builder/api/server.py
  src/mcp_server_langgraph/core/config.py
  tests/api/test_scim_security.py
  tests/api/test_service_principals_security.py
  tests/builder/test_builder_security.py
Labels: tests

add Benchmark (pytest) benchmark result for 455ad75027ea2c5e6a9912884a86783c545bf721
  dev/bench/data.js
Labels: none

docs(security): add comprehensive security documentation and fix test regression
  docs/security/MIGRATION_GUIDE_SECURITY_FIXES.md
  docs/security/SECURITY_FIXES_2025_11_05.md
  tests/api/test_service_principals_endpoints.py
Labels: documentation, tests

add Benchmark (pytest) benchmark result for 34e4199f4615be990dbcc66926e327679240efed
  dev/bench/data.js
Labels: none

fix(ci/cd): resolve 8 critical GitHub Actions workflow failures
  .github/workflows/e2e-tests.yaml
  .github/workflows/security-validation.yml
  deployments/GKE_DEPLOYMENT_GUIDE.md.naming-bak
  deployments/GKE_OPERATIONAL_RUNBOOKS.md.naming-bak
  deployments/kubernetes/overlays/aws/kustomization.yaml
  deployments/overlays/staging-gke/deployment-patch.yaml
  scripts/ci/performance_regression.py
  src/mcp_server_langgraph/builder/codegen/generator.py
  terraform/environments/gcp-dev/main.tf
  terraform/environments/gcp-prod/main.tf
  terraform/environments/gcp-staging/main.tf
  terraform/modules/aws-secrets/main.tf
  terraform/modules/azure-database/versions.tf
  terraform/modules/azure-secrets/main.tf
  terraform/modules/cloudsql/variables.tf
  tests/builder/test_builder_security.py
Labels: tests, ci-cd

add Benchmark (pytest) benchmark result for 3a40e79ef13ec0d106f4b21f326bf3dfaf49e7f5
  dev/bench/data.js
Labels: none

fix(ci/cd): resolve security validation workflow failures
  .github/workflows/security-validation.yml
  deployments/kubernetes/overlays/aws/kustomization.yaml.old
Labels: ci-cd

add Benchmark (pytest) benchmark result for 8d9e1c8c6be2382f68694c76faf3428de264c006
  dev/bench/data.js
Labels: none

fix(ci/cd): resolve final security validation failures
  .github/workflows/security-validation.yml
  deployments/kubernetes/overlays/aws/kustomization.yaml
  terraform/modules/azure-database/main.tf
Labels: ci-cd

add Benchmark (pytest) benchmark result for 37900876f7d67d9aab0f5de0db56875ed2949878
  dev/bench/data.js
Labels: none

fix(ci/cd): add missing package install and EKS environment variable
  .github/workflows/security-validation.yml
  terraform/modules/eks/variables.tf
Labels: ci-cd

add Benchmark (pytest) benchmark result for 9f2394cd263face6a4a57bfe8a4351d3626d7aec
  dev/bench/data.js
Labels: none

fix(ci/cd): install package with dependencies for security tests
  .github/workflows/security-validation.yml
Labels: ci-cd

add Benchmark (pytest) benchmark result for 3294f889555ad2cffe96e86d4386e04a6fdfca26
  dev/bench/data.js
Labels: none

refactor(ci/cd): migrate all workflows to use canonical uv setup
  .github/workflows/ci.yaml
  .github/workflows/dora-metrics.yaml
  .github/workflows/performance-regression.yaml
  .github/workflows/security-validation.yml
Labels: ci-cd

add Benchmark (pytest) benchmark result for 142d310d7fa94ecedd6137fd1c68bee7ed0db7dc
  dev/bench/data.js
Labels: none

fix(ci/cd): add --system flag to all uv pip install commands
  .github/workflows/ci.yaml
  .github/workflows/dora-metrics.yaml
  .github/workflows/performance-regression.yaml
  .github/workflows/security-validation.yml
Labels: ci-cd

add Benchmark (pytest) benchmark result for a4695f52bbbc919438b8234d3362eae83b8a703d
  dev/bench/data.js
Labels: none

fix(ci/cd): improve placeholder detection and cleanup templates
  .github/workflows/security-validation.yml
  deployments/argocd/README.md.naming-bak
  deployments/argocd/gcp-multi-cluster-setup.yaml
  deployments/argocd/setup-argocd-gcp.sh.naming-bak
  deployments/cloudrun/service.yaml
  deployments/disaster-recovery/gcp-dr-automation.sh.naming-bak
  deployments/overlays/production-gke/kustomization.yaml
  deployments/overlays/production-gke/otel-collector-config.yaml
  deployments/overlays/staging/kustomization.yaml.naming-bak
  deployments/security/binary-authorization/setup-binary-auth.sh.naming-bak
  deployments/service-mesh/anthos/setup-anthos-service-mesh.sh.naming-bak
Labels: ci-cd

add Benchmark (pytest) benchmark result for 5e065c4193c8d48ae3aa591bb823565c91d89605
  dev/bench/data.js
Labels: none

fix(terraform): correct Workload Identity namespace and service account mappings for staging
  terraform/environments/gcp-staging/main.tf
  terraform/environments/gcp-staging/terraform.tfvars
Labels: none

add Benchmark (pytest) benchmark result for e148edf7b91f5cc920d3aa37ff3a0b95961befae
  dev/bench/data.js
Labels: none

fix(ci/cd): add inline template comment to argocd image-list
  deployments/argocd/gcp-multi-cluster-setup.yaml
Labels: none

add Benchmark (pytest) benchmark result for 0391dfbe5bcd795b8f67dd60c095e72be56798db
  dev/bench/data.js
Labels: none

fix(ci/cd): improve ENVIRONMENT placeholder detection logic
  .github/workflows/security-validation.yml
Labels: ci-cd

add Benchmark (pytest) benchmark result for f6b90dd252aaa579ef6736d818d14d30b2ca572b
  dev/bench/data.js
Labels: none

Revert "fix(terraform): correct Workload Identity namespace and service account mappings for staging"
  terraform/environments/gcp-staging/main.tf
  terraform/environments/gcp-staging/terraform.tfvars
Labels: none

fix(terraform,scripts): enforce consistent naming convention across infrastructure
  scripts/gcp/setup-staging-infrastructure.sh
  terraform/environments/gcp-staging/main.tf
  terraform/environments/gcp-staging/terraform.tfvars
Labels: none

add Benchmark (pytest) benchmark result for 865af6e9f11abdef8a0e285fde24ed990a896a55
  dev/bench/data.js
Labels: none

.github/labeler.yml:

# Auto-labeler configuration for PRs
# Uses changed-files pattern matching

# Documentation
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'
      - '**/*.mdx'
      - 'docs/**/*'
      - 'mint.json'
      - '.mcp/*.json'

# Tests
tests:
  - changed-files:
    - any-glob-to-any-file:
      - 'tests/**/*'
      - '**/*test*.py'
      - 'test_*.py'
      - '*_test.py'
      - 'pytest.ini'
      - 'conftest.py'
      - 'TESTING.md'

# CI/CD
ci-cd:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**/*'
      - '.github/actions/**/*'
      - '.gitlab-ci.yml'
      - 'Makefile'
      - '.pre-commit-config.yaml'

# Dependencies
dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'requirements*.txt'
      - 'setup.py'
      - 'pyproject.toml'
      - 'poetry.lock'
      - 'package*.json'
      - 'yarn.lock'

# Docker
docker:
  - changed-files:
    - any-glob-to-any-file:
      - 'Dockerfile*'
      - 'docker-compose*.yml'
      - '.dockerignore'

# Kubernetes/Deployment
deployment:
  - changed-files:
    - any-glob-to-any-file:
      - 'kubernetes/**/*'
      - 'kustomize/**/*'
      - 'helm/**/*'
      - 'k8s/**/*'
      - 'KUBERNETES_DEPLOYMENT.md'
      - 'PRODUCTION_DEPLOYMENT.md'

# Authentication/Authorization
auth:
  - changed-files:
    - any-glob-to-any-file:
      - 'auth.py'
      - 'openfga_client.py'
      - 'setup_openfga.py'

# Secrets Management
secrets:
  - changed-files:
    - any-glob-to-any-file:
      - 'secrets_manager.py'
      - 'setup_infisical.py'

# Observability
observability:
  - changed-files:
    - any-glob-to-any-file:
      - 'observability.py'
      - 'health_check.py'
      - 'monitoring/**/*'
      - 'grafana/**/*'

# MCP Server
mcp:
  - changed-files:
    - any-glob-to-any-file:
      - 'mcp_server*.py'
      - 'examples/*client*.py'

# Agent/Core
agent:
  - changed-files:
    - any-glob-to-any-file:
      - 'agent.py'
      - 'graph.py'
      - 'models.py'
      - 'prompt*.py'

# Configuration
config:
  - changed-files:
    - any-glob-to-any-file:
      - 'config.py'
      - '.env*'
      - 'settings.py'
      - '*.yaml'
      - '*.yml'
      - '*.toml'
      - '*.ini'
      - '.editorconfig'

# Security
security:
  - changed-files:
    - any-glob-to-any-file:
      - 'auth.py'
      - 'secrets_manager.py'
      - 'openfga_client.py'
      - 'SECURITY*.md'
      - '.github/workflows/security-scan.yaml'
      - 'scripts/validate_production.py'

# Community
community:
  - changed-files:
    - any-glob-to-any-file:
      - 'CODE_OF_CONDUCT.md'
      - 'CONTRIBUTING.md'
      - 'DEVELOPMENT.md'
      - '.github/SUPPORT.md'
      - '.github/FUNDING.yml'
      - '.github/ISSUE_TEMPLATE/**/*'
      - '.github/PULL_REQUEST_TEMPLATE.md'
