Repository vishnu2kmohan/mcp-server-langgraph, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, tests, ci-cd, dependencies, docker, deployment, auth, secrets, observability, mcp, agent, config, security, community

.github/labeler.yml:

# Auto-labeler configuration for PRs
# Uses changed-files pattern matching

# Documentation
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'
      - '**/*.mdx'
      - 'docs/**/*'
      - 'mint.json'
      - '.mcp/*.json'

# Tests
tests:
  - changed-files:
    - any-glob-to-any-file:
      - 'tests/**/*'
      - '**/*test*.py'
      - 'test_*.py'
      - '*_test.py'
      - 'pytest.ini'
      - 'conftest.py'
      - 'TESTING.md'

# CI/CD
ci-cd:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**/*'
      - '.github/actions/**/*'
      - '.gitlab-ci.yml'
      - 'Makefile'
      - '.pre-commit-config.yaml'

# Dependencies
dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'requirements*.txt'
      - 'setup.py'
      - 'pyproject.toml'
      - 'poetry.lock'
      - 'package*.json'
      - 'yarn.lock'

# Docker
docker:
  - changed-files:
    - any-glob-to-any-file:
      - 'Dockerfile*'
      - 'docker-compose*.yml'
      - '.dockerignore'

# Kubernetes/Deployment
deployment:
  - changed-files:
    - any-glob-to-any-file:
      - 'kubernetes/**/*'
      - 'kustomize/**/*'
      - 'helm/**/*'
      - 'k8s/**/*'
      - 'KUBERNETES_DEPLOYMENT.md'
      - 'PRODUCTION_DEPLOYMENT.md'

# Authentication/Authorization
auth:
  - changed-files:
    - any-glob-to-any-file:
      - 'auth.py'
      - 'openfga_client.py'
      - 'setup_openfga.py'

# Secrets Management
secrets:
  - changed-files:
    - any-glob-to-any-file:
      - 'secrets_manager.py'
      - 'setup_infisical.py'

# Observability
observability:
  - changed-files:
    - any-glob-to-any-file:
      - 'observability.py'
      - 'health_check.py'
      - 'monitoring/**/*'
      - 'grafana/**/*'

# MCP Server
mcp:
  - changed-files:
    - any-glob-to-any-file:
      - 'mcp_server*.py'
      - 'examples/*client*.py'

# Agent/Core
agent:
  - changed-files:
    - any-glob-to-any-file:
      - 'agent.py'
      - 'graph.py'
      - 'models.py'
      - 'prompt*.py'

# Configuration
config:
  - changed-files:
    - any-glob-to-any-file:
      - 'config.py'
      - '.env*'
      - 'settings.py'
      - '*.yaml'
      - '*.yml'
      - '*.toml'
      - '*.ini'
      - '.editorconfig'

# Security
security:
  - changed-files:
    - any-glob-to-any-file:
      - 'auth.py'
      - 'secrets_manager.py'
      - 'openfga_client.py'
      - 'SECURITY*.md'
      - '.github/workflows/security-scan.yaml'
      - 'scripts/validate_production.py'

# Community
community:
  - changed-files:
    - any-glob-to-any-file:
      - 'CODE_OF_CONDUCT.md'
      - 'CONTRIBUTING.md'
      - 'DEVELOPMENT.md'
      - '.github/SUPPORT.md'
      - '.github/FUNDING.yml'
      - '.github/ISSUE_TEMPLATE/**/*'
      - '.github/PULL_REQUEST_TEMPLATE.md'

feat: implement automated test infrastructure reports
  .github/workflows/weekly-reports.yaml
  Makefile
  docs-internal/ASYNC_MOCK_REMEDIATION_GUIDE.md
  docs-internal/reports/ASYNC_MOCK_SCAN.md
  docs-internal/reports/MEMORY_SAFETY_SCAN.md
  docs-internal/reports/TEST_SUITE_STATS.md
  scripts/generate_test_stats.py
  tests/meta/test_report_freshness.py
Labels: documentation, tests, ci-cd

docs: achieve 100% Mermaid diagram compliance with ColorBrewer2 Set3 standards
  adr/adr-0055-diagram-visualization-standards.md
  docs/.mintlify/MERMAID_OPTIMIZATION_GUIDE.md
  docs/architecture/adr-0054-pod-failure-prevention-framework.mdx
  docs/architecture/adr-0055-diagram-visualization-standards.mdx
  docs/references/mermaid-guide.mdx
Labels: documentation

fix: handle deprecated validators in documentation tests
  tests/unit/documentation/test_image_validator.py
  tests/unit/documentation/test_navigation_validator.py
Labels: tests

fix: add language specifiers to code blocks to resolve MDX parsing errors
  docs/deployment/kubernetes/gke.mdx
  docs/deployment/platform/configuration.mdx
Labels: documentation

fix: disable broken fix-mdx-syntax pre-commit hook
  .pre-commit-config.yaml
Labels: ci-cd, config

fix: add bash language specifiers to Tabs code blocks in configuration.mdx
  docs/deployment/platform/configuration.mdx
Labels: documentation

fix: increase coverage enforcement subprocess timeout to 6 minutes
  tests/meta/test_coverage_enforcement.py
Labels: tests

fix: enable mintlify validation on pre-push + fix all MDX syntax errors
  .pre-commit-config.yaml
  docs/deployment/platform/configuration.mdx
  docs/guides/local-models.mdx
  docs/kubernetes-best-practices-implementation.mdx
Labels: documentation, ci-cd, config

fix: increase coverage timeout and update ADR count to 57
  README.md
  docs/architecture/overview.mdx
  tests/meta/test_coverage_enforcement.py
Labels: documentation, tests

feat: achieve 100% Mermaid diagram compliance + fix MDX validation (#84)
  .pre-commit-config.yaml
  adr/adr-0055-diagram-visualization-standards.md
  docs/.mintlify/MERMAID_OPTIMIZATION_GUIDE.md
  docs/architecture/adr-0054-pod-failure-prevention-framework.mdx
  docs/architecture/adr-0055-diagram-visualization-standards.mdx
  docs/deployment/kubernetes/gke.mdx
  docs/deployment/platform/configuration.mdx
  docs/guides/local-models.mdx
  docs/kubernetes-best-practices-implementation.mdx
  docs/references/mermaid-guide.mdx
Labels: documentation, ci-cd, config

fix: resolve 6 test failure categories blocking git push
  .github/workflows/ci.yaml
  src/mcp_server_langgraph/builder/importer/graph_extractor.py
  tests/builder/api/test_server.py
  tests/scripts/test_codeblock_validator_v2.py
  tests/unit/test_pytest_marker_validator.py
Labels: tests, ci-cd

fix: remove deprecated validator tests causing collection errors
  tests/unit/documentation/test_image_validator.py
  tests/unit/documentation/test_navigation_validator.py
Labels: tests

fix: update setup-uv version and add test isolation markers
  .github/workflows/weekly-reports.yaml
  tests/helpers/test_async_mock_helpers.py
Labels: tests, ci-cd

fix: resolve ADR documentation issues (renumber duplicates + add to navigation)
  README.md
  adr/adr-0056-asyncmock-configuration-prevention.md
  adr/adr-0057-circuit-breaker-decorator-closure-isolation.md
  adr/adr-0058-pytest-xdist-state-pollution-prevention.md
  docs/architecture/adr-0056-asyncmock-configuration-prevention.mdx
  docs/architecture/adr-0057-circuit-breaker-decorator-closure-isolation.mdx
  docs/architecture/adr-0058-pytest-xdist-state-pollution-prevention.mdx
  docs/docs.json
Labels: documentation

chore: regenerate ADR index after renumbering
  adr/README.md
Labels: documentation

fix: update architecture overview ADR count and move CLAUDE.md
  .github/CLAUDE.md
  docs/architecture/overview.mdx
Labels: documentation

fix: add noqa comment for E402 in test_fix_closing_fence_tags
  tests/scripts/test_fix_closing_fence_tags.py
Labels: tests

fix: resolve AsyncMock usage, hardcoded IDs, and E402 violations (204 IDs across 18 files)
  scripts/check_async_mock_usage.py
  scripts/fix_hardcoded_ids.py
  tests/api/test_scim_security.py
  tests/api/test_service_principals_endpoints.py
  tests/integration/test_anthropic_enhancements_integration.py
  tests/regression/test_litellm_cleanup_warnings.py
  tests/security/test_api_key_indexed_lookup.py
  tests/test_auth.py
  tests/test_auth_factory.py
  tests/test_keycloak.py
  tests/test_service_principal_manager.py
  tests/test_session.py
  tests/test_user_provider.py
  tests/unit/test_conversation_retrieval.py
  tests/unit/test_conversation_store.py
  tests/unit/test_dependencies_wiring.py
  tests/unit/test_mcp_stdio_server.py
  tests/unit/test_scim_filters.py
  tests/unit/test_security_practices.py
Labels: tests

refactor: streamline git hooks configuration and eliminate redundancy
  .githooks/CLEANUP_SUMMARY.md
  .githooks/PRE_COMMIT_ANALYSIS.md
  .githooks/PRE_PUSH_ANALYSIS.md
  .githooks/README.md
  .githooks/pre-commit
  .githooks/pre-commit-adr-sync
  scripts/validators/adr_sync_validator.py
Labels: documentation

fix: eliminate duplicate test execution in pre-push hook (saves 3-4 min)
  Makefile
  tests/meta/test_coverage_enforcement.py
Labels: tests, ci-cd

refactor: improve regression test documentation and exempt from ID validation
  scripts/validate_test_ids.py
  tests/regression/test_bearer_scheme_isolation.py
  tests/regression/test_fastapi_auth_override_sanity.py
  tests/regression/test_pytest_xdist_isolation.py
  tests/regression/test_pytest_xdist_worker_database_isolation.py
  tests/regression/test_service_principal_test_isolation.py
Labels: tests

remove: delete code-block validator (high false positives, low value)
  .github/workflows/docs-validation.yaml
  scripts/validators/codeblock_autofixer.py
  scripts/validators/codeblock_validator.py
  scripts/validators/codeblock_validator_v2.py
  tests/scripts/test_codeblock_validator_v2.py
Labels: tests, ci-cd

refactor: optimize CI/CD infrastructure with tiered validation (Phase 1 & 2)
  .pre-commit-config.yaml
  Makefile
  docs/development/VALIDATION_STRATEGY.mdx
Labels: documentation, ci-cd, config

docs: add comprehensive CI/CD documentation (Phase 4 & 5)
  docs/development/COMMANDS.mdx
  docs/development/WORKFLOWS.mdx
  docs/development/WORKFLOW_DIAGRAM.mdx
  scripts/validate_pre_push_hook.py
Labels: documentation

fix: disable broken codeblock validator import
  scripts/validators/__init__.py
Labels: none

chore: remove obsolete codeblock validator tests
  tests/unit/documentation/test_codeblock_autofixer.py
  tests/unit/documentation/test_codeblock_validator.py
Labels: tests

feat(testing): add automation script for xdist_group markers
  scripts/add_xdist_group_markers.py
Labels: none

docs: comprehensive validation of OpenAI Codex findings
  CODEX_FINDINGS_VALIDATION_REPORT.md
  PYTEST_XDIST_STATE_POLLUTION_SCAN_REPORT.md
Labels: documentation

fix(tests): remove RED placeholder skips and document all skipped tests
  .pre-commit-config.yaml
  SKIPPED_TESTS_DOCUMENTATION.md
  scripts/add_comprehensive_test_hooks.py
  scripts/validate_pre_push_hook.py
  tests/meta/test_local_ci_parity.py
  tests/regression/test_documentation_code_blocks.py
  tests/regression/test_pytest_xdist_worker_database_isolation.py
Labels: documentation, tests, ci-cd, config

fix: resolve integration test failures (JWT token mismatch + LangGraph 1.0.3 dict return)
  .github/workflows/optional-deps-test.yaml
  docker/docker-compose.test.yml
  scripts/identify_critical_tests.py
  tests/conftest.py
  tests/constants.py
  tests/patterns/test_supervisor.py
  tests/patterns/test_swarm.py
  tests/regression/test_langgraph_return_types.py
  tests/test_constants.py
Labels: tests, ci-cd

feat(ci): implement DORA metrics calculation functions following TDD
  scripts/ci/dora_metrics.py
Labels: none

test: add pytest-xdist memory safety to LangGraph regression tests
  DOCUMENTATION_AUDIT_CHECKLIST.md
  tests/regression/test_langgraph_return_types.py
Labels: documentation, tests

fix(docs): resolve MDX syntax errors and improve documentation organization
  docs-internal/CODEX_FINDINGS_2025-11-16_COMPREHENSIVE_VALIDATION.md
  docs-internal/archive/audits/CLAUDE_AGENTS_AUDIT.md
  docs-internal/archive/audits/CODEX_FINDINGS_VALIDATION_REPORT.md
  docs-internal/archive/audits/PYTEST_XDIST_STATE_POLLUTION_SCAN_REPORT.md
  docs-internal/archive/audits/SKIPPED_TESTS_DOCUMENTATION.md
  docs-internal/archive/audits/TEST_SUITE_REPORT.md
  docs-internal/archive/reference/AGENTS.md
  docs-internal/archive/reference/MDX_SYNTAX_GUIDE.md
  docs-internal/archive/reference/NAMING-CONVENTIONS.md
  docs-internal/archive/reference/QUICK_REFERENCE.md
  docs-internal/archive/reference/SECRETS.md
  docs/development/COMMANDS.mdx
  docs/development/VALIDATION_STRATEGY.mdx
  docs/docs.json
  docs/reference/development/build-verification.mdx
  docs/troubleshooting/overview.mdx
Labels: documentation

fix(docs): complete MDX angle bracket syntax fixes
  docs/development/COMMANDS.mdx
  docs/development/VALIDATION_STRATEGY.mdx
Labels: documentation

fix: ensure make test-integration always uses fresh Docker image
  Makefile
Labels: ci-cd

refactor: standardize Docker network naming to mcp-test-network
  docker/docker-compose.test.yml
Labels: none

fix: ensure e2e-tests workflow uses fresh Docker images with --build flag
  .github/workflows/e2e-tests.yaml
Labels: ci-cd

fix: resolve JWT token expiration and PostgreSQL connection issues in integration tests
  tests/conftest.py
  tests/security/test_sql_injection_gdpr.py
Labels: tests

fix(tests): resolve 22 test failures from Codex validation findings
  docs/architecture/adr-0056-asyncmock-configuration-prevention.mdx
  docs/architecture/adr-0057-circuit-breaker-decorator-closure-isolation.mdx
  docs/development/COMMANDS.mdx
  docs/development/VALIDATION_STRATEGY.mdx
  docs/development/WORKFLOWS.mdx
  docs/development/WORKFLOW_DIAGRAM.mdx
  scripts/check_internal_links.py
  tests/conftest.py
  tests/core/test_cache.py
Labels: documentation, tests

fix: create GDPR schema in integration tests and update authorization error pattern
  tests/integration/test_mcp_code_execution.py
  tests/security/test_sql_injection_gdpr.py
Labels: tests
