Repository vishnu2kmohan/mcp-server-langgraph, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, tests, ci-cd, dependencies, docker, deployment, auth, secrets, observability, mcp, agent, config, security, community

feat(studio): add WebSocket Metrics tab to Observability page
  src/mcp_server_langgraph/studio/frontend/src/pages/ObservabilityPage.tsx
  src/mcp_server_langgraph/studio/frontend/src/store/slices/observabilitySlice.ts
Labels: none

feat(devtools): add metrics reporting and observability features
  src/mcp_server_langgraph/studio/frontend/src/components/DevTools/DevToolsPanel.tsx
  src/mcp_server_langgraph/studio/frontend/src/hooks/useHeartDashboard.ts
  src/mcp_server_langgraph/studio/frontend/src/store/slices/devToolsSlice.ts
Labels: none

chore(ci): exclude package-lock.json from large file check
  .pre-commit-config.yaml
Labels: ci-cd, config

chore(deps): add frontend package-lock.json for reproducible builds
  src/mcp_server_langgraph/studio/frontend/package-lock.json
Labels: none

fix(test): update assertions to match implementation changes
  tests/middleware/test_rate_limiter.py
  tests/unit/ws_handlers/test_websocket_middleware.py
Labels: tests

fix(test): align JWT extraction tests with implementation behavior
  tests/unit/ws_handlers/test_websocket_middleware.py
Labels: tests

fix(test): align WebSocket auth tests with OpenFGA user ID format
  tests/e2e/test_websocket_smoke.py
  tests/unit/ws_handlers/test_websocket_middleware.py
Labels: tests

feat(studio): add WebSocket health monitoring components
  src/mcp_server_langgraph/studio/frontend/src/components/WebSocketMetrics/WebSocketHealthIndicator.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/WebSocketMetrics/WebSocketHealthIndicator.tsx
  src/mcp_server_langgraph/studio/frontend/src/config/api.test.ts
  src/mcp_server_langgraph/studio/frontend/src/config/api.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useTraceWebSocket.test.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useTraceWebSocket.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useWebSocketHealthAlerts.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/hooks/useWebSocketHealthAlerts.ts
  src/mcp_server_langgraph/studio/frontend/src/utils/websocketTelemetry.metrics-reporting.test.ts
Labels: none

fix(test): update MCP WebSocket handler tests for MessageEnvelope format
  tests/unit/ws_handlers/test_mcp_websocket_handler.py
Labels: tests

fix(mypy): add type annotations and relax strict mode for feature modules
  pyproject.toml
  src/mcp_server_langgraph/api/v1/cost.py
  src/mcp_server_langgraph/api/v1/vectors.py
  src/mcp_server_langgraph/mcp/__init__.py
  src/mcp_server_langgraph/mcp/message_handler.py
  src/mcp_server_langgraph/mcp/websocket/config.py
  src/mcp_server_langgraph/monitoring/cost_budget.py
  src/mcp_server_langgraph/tools/__init__.py
Labels: dependencies, config

fix(tests): use get_repo_root() for robust path calculation
  tests/e2e/test_feature_flags_docker_compose.py
Labels: tests

fix(tests): skip section header entries in OpenFGA tuple validation
  tests/unit/auth/test_openfga_config_validation.py
Labels: tests

fix(test): use AsyncMock for awaitable checker.check() method
  tests/unit/api/v1/test_cost_router.py
Labels: tests

fix(test): access rate_limit_exceeded property directly
  tests/unit/api/v1/test_limit_violation_metrics.py
Labels: tests

fix(test): add devtools broadcaster to expected registry exports
  tests/unit/websocket_pkg/test_registry.py
Labels: tests

fix(test): handle dynamic tool registration and optional infisical
  tests/unit/secret_providers/test_secrets_manager_extended.py
  tests/unit/tools/test_tools_catalog.py
Labels: tests

fix(test): add caplog.clear() to prevent xdist log pollution
  tests/unit/config/test_config_validation.py
Labels: tests

fix(test): make tool catalog test tolerant of dynamic registration
  tests/unit/tools/test_tools_catalog.py
Labels: tests

fix(test): relax Docker image version assertion for Playwright images
  tests/unit/config/test_code_execution_config.py
Labels: tests

fix(test): add proper sandbox mocking to write_file tool tests
  tests/unit/tools/test_write_file_tool.py
Labels: tests

fix(test): add explicit caplog.set_level for xdist worker log capture
  tests/unit/config/test_config_validation.py
Labels: tests

fix(test): specify logger name for caplog in xdist workers
  tests/unit/config/test_config_validation.py
Labels: tests

fix(test): add proper sandbox mocking to edit_file tool tests
  tests/unit/tools/test_edit_file_tool.py
Labels: tests

fix(test): specify logger name for caplog in broadcaster tests
  tests/unit/alerts/test_broadcaster_push_integration.py
Labels: tests

fix(test): use configurable POSTGRES_PORT instead of hardcoded 5432
  tests/integration/test_resilience_chaos_scenarios.py
Labels: tests

fix(test): skip performance test in xdist parallel mode
  tests/meta/test_validate_fast_inline.py
Labels: tests

feat(observability): add WebSocket telemetry Grafana dashboard
  monitoring/grafana/dashboards/Application/websocket-telemetry.json
Labels: observability

feat(websocket): add protocol version validation and ProtocolVersionError
  src/mcp_server_langgraph/websocket/__init__.py
  src/mcp_server_langgraph/websocket/exceptions.py
  src/mcp_server_langgraph/websocket/protocols.py
Labels: none

feat(websocket): add protocol version mismatch handling (frontend + backend tests)
  docs-internal/WEBSOCKET_STANDARDIZATION.md
  src/mcp_server_langgraph/studio/frontend/src/components/Connection/ConnectionHealthDashboard.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Connection/ConnectionHealthDashboard.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/DevTools/hooks/useDevToolsWebSocket.test.ts
  src/mcp_server_langgraph/studio/frontend/src/components/DevTools/hooks/useDevToolsWebSocket.ts
  src/mcp_server_langgraph/studio/frontend/src/config/api.test.ts
  src/mcp_server_langgraph/studio/frontend/src/config/api.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/index.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useAIRealTimeSuggestions.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useAISuggestionsWebSocket.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useAgentRequestWebSocket.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/hooks/useAgentRequestWebSocket.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useAlertWebSocket.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useAuditWebSocket.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useBudgetAlertsWebSocket.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useConnectionHealth.test.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useConnectionHealth.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useConnectionHealthWebSocket.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useConnectionsRealtimeWebSocket.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useCostTrackingWebSocket.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useHeartDashboard.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useHeartMetricsWebSocket.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useMCPAggregatedUpdates.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useMCPConnection.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useMCPTaskWebSocket.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useMCPWebSocket.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useNotificationWebSocket.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useRealtimeSync.test.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useRealtimeSync.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useTraceWebSocket.test.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useTraceWebSocket.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useWorkflowExecution.ts
  src/mcp_server_langgraph/studio/frontend/src/types/websocket-metrics.test.ts
  src/mcp_server_langgraph/studio/frontend/src/types/websocket-metrics.ts
  src/mcp_server_langgraph/studio/frontend/src/utils/websocketAuth.ts
  src/mcp_server_langgraph/websocket/base.py
  src/mcp_server_langgraph/websocket/types.py
  tests/unit/websocket/test_protocol_version.py
  tests/unit/websocket/test_protocols.py
Labels: documentation, tests

fix(test): update useConnectionHealthWebSocket mock to match ReconnectionMetrics
  src/mcp_server_langgraph/studio/frontend/src/components/DevTools/hooks/useDevToolsWebSocket.test.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useConnectionHealthWebSocket.test.ts
Labels: none

docs(websocket): add ADR-0076 for protocol versioning strategy
  docs-internal/ADR-0076-WEBSOCKET-PROTOCOL-VERSIONING.md
  src/mcp_server_langgraph/studio/frontend/docs-internal/WEBSOCKET_PATTERNS.md
Labels: documentation

feat(devtools): add WebSocket connection status indicators
  src/mcp_server_langgraph/studio/frontend/src/components/DevTools/DevToolsPanel.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/DevTools/DevToolsPanel.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/DevTools/hooks/useDevToolsWebSocket.test.ts
  src/mcp_server_langgraph/studio/frontend/src/components/DevTools/hooks/useDevToolsWebSocket.ts
Labels: none

feat(grafana): add protocol version mismatch monitoring panels
  monitoring/grafana/dashboards/Application/websocket-telemetry.json
Labels: observability

feat(frontend): add sonner toast for protocol version mismatch
  src/mcp_server_langgraph/studio/frontend/src/api/baseQueryWithReauth.ts
  src/mcp_server_langgraph/studio/frontend/src/config/version.test.ts
  src/mcp_server_langgraph/studio/frontend/src/config/version.ts
  src/mcp_server_langgraph/studio/frontend/src/contexts/FeatureFlagProviderMounting.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/hooks/useAINudges.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/hooks/useAIRealTimeSuggestions.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useAISuggestionsWebSocket.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useAgentRequestWebSocket.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useAlertWebSocket.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useAuditWebSocket.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useBudgetAlertsWebSocket.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useConnectionHealthWebSocket.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useConnectionsRealtimeWebSocket.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useCostTrackingWebSocket.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useHeartDashboard.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useHeartMetricsWebSocket.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useMCPAggregatedUpdates.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useMCPTaskWebSocket.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useMCPWebSocket.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useNotificationWebSocket.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useTraceWebSocket.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useWorkflowExecution.ts
  src/mcp_server_langgraph/studio/frontend/src/layout/StatusBar.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/layout/StatusBar.tsx
  src/mcp_server_langgraph/studio/frontend/src/layout/StudioShellLayout.tsx
  src/mcp_server_langgraph/studio/frontend/src/utils/websocketAuth.ts
  src/mcp_server_langgraph/studio/frontend/src/utils/websocketTelemetry.test.ts
  src/mcp_server_langgraph/studio/frontend/src/utils/websocketTelemetry.ts
Labels: none

feat(websocket): add protocol version telemetry and alerting
  monitoring/grafana/alerting.yml
  src/mcp_server_langgraph/studio/frontend/docs-internal/WEBSOCKET_PATTERNS.md
  src/mcp_server_langgraph/studio/frontend/src/utils/websocketAuth.test.ts
  src/mcp_server_langgraph/websocket/base.py
  src/mcp_server_langgraph/websocket/protocols.py
  tests/unit/websocket_pkg/test_base.py
  tests/unit/websocket_pkg/test_exceptions.py
Labels: documentation, tests, observability

refactor(websocket): use static imports for telemetry reporting
  src/mcp_server_langgraph/studio/frontend/src/hooks/useAIRealTimeSuggestions.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useAISuggestionsWebSocket.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useAuditWebSocket.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useConnectionHealthWebSocket.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useConnectionsRealtimeWebSocket.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useHeartDashboard.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useHeartMetricsWebSocket.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useMCPTaskWebSocket.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useMCPWebSocket.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useWorkflowExecution.ts
Labels: none

feat(websocket): append protocol version to WebSocket connection URLs
  src/mcp_server_langgraph/studio/frontend/src/hooks/useMCPConnection.test.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useMCPConnection.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useRealtimeSync.test.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useRealtimeSync.ts
Labels: none

refactor(frontend): implement lazy loading for heavy components
  src/mcp_server_langgraph/studio/frontend/src/canvas/CanvasArtifact.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Cost/index.ts
  src/mcp_server_langgraph/studio/frontend/src/components/DevTools/index.ts
  src/mcp_server_langgraph/studio/frontend/src/components/MCP/index.ts
  src/mcp_server_langgraph/studio/frontend/src/layout/StudioShellLayout.tsx
  src/mcp_server_langgraph/studio/frontend/src/pages/ConnectionsPage.tsx
  src/mcp_server_langgraph/studio/frontend/src/pages/CostPage.tsx
  src/mcp_server_langgraph/studio/frontend/src/pages/MCPPage.tsx
Labels: none

build(vite): optimize chunk configuration for large vendor bundles
  src/mcp_server_langgraph/studio/frontend/vite.config.ts
Labels: none

test(hooks): refactor WebSocket tests to use useRealtimeSync mocks
  src/mcp_server_langgraph/studio/frontend/src/hooks/useAuditWebSocket.test.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useNotificationWebSocket.test.tsx
Labels: none

.github/labeler.yml:

# Auto-labeler configuration for PRs
# Uses changed-files pattern matching

# Documentation
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'
      - '**/*.mdx'
      - 'docs/**/*'
      - 'mint.json'
      - '.mcp/*.json'

# Tests
tests:
  - changed-files:
    - any-glob-to-any-file:
      - 'tests/**/*'
      - '**/*test*.py'
      - 'test_*.py'
      - '*_test.py'
      - 'pytest.ini'
      - 'conftest.py'
      - 'TESTING.md'

# CI/CD
ci-cd:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**/*'
      - '.github/actions/**/*'
      - '.gitlab-ci.yml'
      - 'Makefile'
      - '.pre-commit-config.yaml'

# Dependencies
dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'requirements*.txt'
      - 'setup.py'
      - 'pyproject.toml'
      - 'poetry.lock'
      - 'package*.json'
      - 'yarn.lock'

# Docker
docker:
  - changed-files:
    - any-glob-to-any-file:
      - 'Dockerfile*'
      - 'docker-compose*.yml'
      - '.dockerignore'

# Kubernetes/Deployment
deployment:
  - changed-files:
    - any-glob-to-any-file:
      - 'kubernetes/**/*'
      - 'kustomize/**/*'
      - 'helm/**/*'
      - 'k8s/**/*'
      - 'KUBERNETES_DEPLOYMENT.md'
      - 'PRODUCTION_DEPLOYMENT.md'

# Authentication/Authorization
auth:
  - changed-files:
    - any-glob-to-any-file:
      - 'auth.py'
      - 'openfga_client.py'
      - 'setup_openfga.py'

# Secrets Management
secrets:
  - changed-files:
    - any-glob-to-any-file:
      - 'secrets_manager.py'
      - 'setup_infisical.py'

# Observability
observability:
  - changed-files:
    - any-glob-to-any-file:
      - 'observability.py'
      - 'health_check.py'
      - 'monitoring/**/*'
      - 'grafana/**/*'

# MCP Server
mcp:
  - changed-files:
    - any-glob-to-any-file:
      - 'mcp_server*.py'
      - 'examples/*client*.py'

# Agent/Core
agent:
  - changed-files:
    - any-glob-to-any-file:
      - 'agent.py'
      - 'graph.py'
      - 'models.py'
      - 'prompt*.py'

# Configuration
config:
  - changed-files:
    - any-glob-to-any-file:
      - 'config.py'
      - '.env*'
      - 'settings.py'
      - '*.yaml'
      - '*.yml'
      - '*.toml'
      - '*.ini'
      - '.editorconfig'

# Security
security:
  - changed-files:
    - any-glob-to-any-file:
      - 'auth.py'
      - 'secrets_manager.py'
      - 'openfga_client.py'
      - 'SECURITY*.md'
      - '.github/workflows/security-scan.yaml'
      - 'scripts/validate_production.py'

# Community
community:
  - changed-files:
    - any-glob-to-any-file:
      - 'CODE_OF_CONDUCT.md'
      - 'CONTRIBUTING.md'
      - 'DEVELOPMENT.md'
      - '.github/SUPPORT.md'
      - '.github/FUNDING.yml'
      - '.github/ISSUE_TEMPLATE/**/*'
      - '.github/PULL_REQUEST_TEMPLATE.md'
