Repository vishnu2kmohan/mcp-server-langgraph, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, tests, ci-cd, dependencies, docker, deployment, auth, secrets, observability, mcp, agent, config, security, community

fix: final component and test adjustments
  src/mcp_server_langgraph/studio/frontend/src/components/DevTools/tabs/AgentTraceTab.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/DevTools/tabs/ConsoleTab.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/MCP/PromptTester.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/MCP/ResourceViewer.tsx
Labels: none

fix: DevTools hook and test cleanup
  src/mcp_server_langgraph/studio/frontend/src/components/DevTools/hooks/useDevToolsAI.ts
  src/mcp_server_langgraph/studio/frontend/src/components/DevTools/tabs/AgentTraceTab.test.tsx
Labels: none

fix: finalize frontend components and tests
  src/mcp_server_langgraph/studio/frontend/src/components/Chat/LangGraphNodeVisualization.tsx
  src/mcp_server_langgraph/studio/frontend/src/hooks/useAIEmptyState.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useStudioAI.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/layout/HybridShellLayout.tsx
  src/mcp_server_langgraph/studio/frontend/src/mocks/handlers/agentRequestHandlers.ts
Labels: none

feat(frontend): add DevTools E2E tests and WebSocket hook updates
  src/mcp_server_langgraph/studio/frontend/e2e/devtools-integration.spec.ts
  src/mcp_server_langgraph/studio/frontend/src/App.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/DevTools/CONSOLIDATION.md
  src/mcp_server_langgraph/studio/frontend/src/hooks/useAgentRequestWebSocket.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useAlertWebSocket.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useMCPWebSocket.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useNotificationWebSocket.ts
  src/mcp_server_langgraph/studio/frontend/src/router/guards/StudioShellGuard.tsx
  src/mcp_server_langgraph/studio/frontend/src/router/index.tsx
Labels: documentation

fix: update Layout components and router integration
  src/mcp_server_langgraph/studio/frontend/src/App.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Layout/ActivityLog.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Layout/InspectorPanel.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Layout/ProblemsPanel.tsx
  src/mcp_server_langgraph/studio/frontend/src/router/index.tsx
Labels: none

fix(e2e): add auditor and complianceOfficer auth fixtures
  src/mcp_server_langgraph/studio/frontend/src/router/guards/StudioV2Redirect.tsx
Labels: none

docs: add DevTools README and fix router guards
  src/mcp_server_langgraph/studio/frontend/src/components/DevTools/README.md
  src/mcp_server_langgraph/studio/frontend/src/router/guards/index.ts
  src/mcp_server_langgraph/studio/frontend/src/router/index.tsx
Labels: documentation

refactor(router): consolidate studio routes with HybridShellLayout
  src/mcp_server_langgraph/studio/frontend/src/router/index.tsx
Labels: none

feat(devtools): add performance utilities and update exports
  src/mcp_server_langgraph/studio/frontend/src/components/DevTools/index.ts
  src/mcp_server_langgraph/studio/frontend/src/components/DevTools/utils/performance.ts
  src/mcp_server_langgraph/studio/frontend/src/router/index.tsx
Labels: none

refactor(router): simplify RootRedirect to always redirect to /studio
  src/mcp_server_langgraph/studio/frontend/src/router/guards/RootRedirect.test.tsx
Labels: none

chore: register feature_flags pytest marker
  pyproject.toml
Labels: dependencies, config

refactor(frontend): consolidate layout and remove legacy components
  src/mcp_server_langgraph/studio/frontend/e2e/ai-suggestions.spec.ts
  src/mcp_server_langgraph/studio/frontend/e2e/canvas-artifacts.spec.ts
  src/mcp_server_langgraph/studio/frontend/e2e/cross-persona-workflows.spec.ts
  src/mcp_server_langgraph/studio/frontend/e2e/devtools-integration.spec.ts
  src/mcp_server_langgraph/studio/frontend/e2e/error-recovery.spec.ts
  src/mcp_server_langgraph/studio/frontend/e2e/execution-history.spec.ts
  src/mcp_server_langgraph/studio/frontend/e2e/file-operations.spec.ts
  src/mcp_server_langgraph/studio/frontend/e2e/permission-denial-flows.spec.ts
  src/mcp_server_langgraph/studio/frontend/e2e/persona-access-verification.spec.ts
  src/mcp_server_langgraph/studio/frontend/e2e/persona-navigation.spec.ts
  src/mcp_server_langgraph/studio/frontend/e2e/studio-shell-smoke.spec.ts
  src/mcp_server_langgraph/studio/frontend/e2e/visual-regression.spec.ts
  src/mcp_server_langgraph/studio/frontend/src/api/featureFlagsContract.test.ts
  src/mcp_server_langgraph/studio/frontend/src/components/DevTools/utils/performance.test.ts
  src/mcp_server_langgraph/studio/frontend/src/components/Layout/AppShell.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Layout/AppShell.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Layout/BottomPanel.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Layout/BottomPanel.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Layout/CommandPalette.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Layout/CommandPalette.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Layout/LeftSidebar.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Layout/LeftSidebar.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Layout/MainDock.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Layout/MainDock.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Layout/RightSidebar.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Layout/RightSidebar.tsx
  src/mcp_server_langgraph/studio/frontend/src/contexts/FeatureFlagProviderMounting.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/mocks/handlers.ts
  src/mcp_server_langgraph/studio/frontend/src/router/guards/HybridShellGuard.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/router/guards/HybridShellGuard.tsx
  src/mcp_server_langgraph/studio/frontend/src/router/guards/StudioShellGuard.tsx
  src/mcp_server_langgraph/studio/frontend/src/router/guards/index.ts
  src/mcp_server_langgraph/studio/frontend/src/test/hybrid-canvas-parity.test.ts
  src/mcp_server_langgraph/studio/frontend/src/types/api.ts
Labels: none

fix: handle None in set_global_auth_middleware and add pytestmark
  pyproject.toml
  src/mcp_server_langgraph/auth/dependencies.py
  tests/unit/hitl/test_broadcast.py
  tests/unit/websocket_pkg/services/test_connections.py
  tests/unit/websocket_pkg/services/test_cost_tracking.py
  tests/unit/websocket_pkg/services/test_heart_metrics.py
  tests/unit/websocket_pkg/services/test_workflow_execution.py
  tests/unit/websocket_pkg/test_metrics.py
  tests/unit/websocket_pkg/test_middleware.py
  tests/unit/websocket_pkg/test_resilience.py
Labels: tests, dependencies, config

feat(websocket): add handler tests and feature flags UI tests
  src/mcp_server_langgraph/studio/frontend/src/components/DevTools/DevToolsPanel.tsx
  tests/unit/core/test_feature_flags_ui.py
  tests/unit/websocket_pkg/handlers/test_connections_realtime_handler.py
  tests/unit/websocket_pkg/handlers/test_cost_tracking_handler.py
  tests/unit/websocket_pkg/handlers/test_heart_metrics_handler.py
  tests/unit/websocket_pkg/handlers/test_mcp_handler.py
  tests/unit/websocket_pkg/handlers/test_mcp_task_handler.py
  tests/unit/websocket_pkg/handlers/test_workflow_execution_handler.py
Labels: tests

test(devtools): add ConsoleTab and NetworkTab performance tests
  src/mcp_server_langgraph/studio/frontend/src/components/DevTools/tabs/ConsoleTab.performance.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/DevTools/tabs/NetworkTab.performance.test.tsx
Labels: none

chore: update feature flag from HybridShell to StudioShell
  .env.example
  .env.test
  docker-compose.test.yml
  src/mcp_server_langgraph/studio/frontend/src/components/DevTools/tabs/ConsoleTab.performance.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/DevTools/tabs/ConsoleTab.tsx
Labels: docker, config

chore: finalize layout refactoring and minor fixes
  src/mcp_server_langgraph/core/cache.py
  src/mcp_server_langgraph/studio/frontend/src/components/DevTools/tabs/ConsoleTab.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/DevTools/tabs/NetworkTab.tsx
  src/mcp_server_langgraph/studio/frontend/src/router/guards/StudioV2Redirect.tsx
  src/mcp_server_langgraph/studio/frontend/src/router/guards/index.ts
  src/mcp_server_langgraph/studio/frontend/src/router/index.tsx
Labels: none

chore: final cleanup and documentation updates
  docs-internal/frontend/testing/ROUTER.md
  src/mcp_server_langgraph/api/v1/ai_ux_service.py
  src/mcp_server_langgraph/studio/frontend/.metrics/lighthouse-hybrid-shell.json
  src/mcp_server_langgraph/studio/frontend/e2e/ai-suggestions.spec.ts
  src/mcp_server_langgraph/studio/frontend/src/components/DevTools/tabs/NetworkTab.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/mocks/handlers.ts
  src/mcp_server_langgraph/studio/frontend/src/mocks/handlers/aiHandlers.ts
  src/mcp_server_langgraph/studio/frontend/src/router/index.tsx
Labels: documentation

test(e2e): update E2E tests for StudioShellLayout refactoring
  src/mcp_server_langgraph/studio/frontend/e2e/ai-suggestions.spec.ts
  src/mcp_server_langgraph/studio/frontend/e2e/alice-analyst-journey.spec.ts
  src/mcp_server_langgraph/studio/frontend/e2e/alice-builder-journey.spec.ts
  src/mcp_server_langgraph/studio/frontend/e2e/alice-devops-journey.spec.ts
  src/mcp_server_langgraph/studio/frontend/e2e/auditor-journey.spec.ts
  src/mcp_server_langgraph/studio/frontend/e2e/bob-journey.spec.ts
  src/mcp_server_langgraph/studio/frontend/e2e/canvas-artifacts.spec.ts
  src/mcp_server_langgraph/studio/frontend/e2e/compliance-officer-journey.spec.ts
  src/mcp_server_langgraph/studio/frontend/e2e/cross-persona-workflows.spec.ts
  src/mcp_server_langgraph/studio/frontend/e2e/devtools-integration.spec.ts
  src/mcp_server_langgraph/studio/frontend/e2e/error-recovery.spec.ts
  src/mcp_server_langgraph/studio/frontend/e2e/execution-history.spec.ts
  src/mcp_server_langgraph/studio/frontend/e2e/file-operations.spec.ts
  src/mcp_server_langgraph/studio/frontend/e2e/permission-denial-flows.spec.ts
  src/mcp_server_langgraph/studio/frontend/e2e/persona-access-verification.spec.ts
  src/mcp_server_langgraph/studio/frontend/e2e/persona-navigation.spec.ts
  src/mcp_server_langgraph/studio/frontend/e2e/security-admin-journey.spec.ts
  src/mcp_server_langgraph/studio/frontend/e2e/studio-shell-smoke.spec.ts
  src/mcp_server_langgraph/studio/frontend/e2e/visual-regression.spec.ts
  src/mcp_server_langgraph/studio/frontend/src/App.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/DevTools/tabs/ConsoleTab.tsx
  src/mcp_server_langgraph/studio/frontend/src/conversation/ConnectedConversationPanel.tsx
  src/mcp_server_langgraph/studio/frontend/src/layout/ActivityBar.tsx
  src/mcp_server_langgraph/studio/frontend/src/layout/SessionNav.tsx
  src/mcp_server_langgraph/studio/frontend/src/layout/UserMenuDropdown.tsx
  src/mcp_server_langgraph/studio/frontend/src/pages/ChatPage.tsx
  src/mcp_server_langgraph/studio/frontend/src/persona/PersonaRouter.tsx
  src/mcp_server_langgraph/studio/frontend/src/persona/PersonaVariants.ts
  src/mcp_server_langgraph/studio/frontend/src/router/guards/StudioShellGuard.tsx
  src/mcp_server_langgraph/studio/frontend/src/store/slices/personaSlice.ts
  src/mcp_server_langgraph/studio/frontend/src/types/api.ts
  tests/unit/api/v1/test_ai_ux_redis_l2_cache.py
Labels: tests

fix: update frontend hooks for StudioShellLayout
  src/mcp_server_langgraph/studio/frontend/src/hooks/useNewChat.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/usePersonaRouting.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useSessionSync.ts
  src/mcp_server_langgraph/studio/frontend/src/router/routing-integration.test.tsx
Labels: none

test: update frontend tests for layout refactoring
  src/mcp_server_langgraph/studio/frontend/src/components/DevTools/hooks/useDevToolsContext.test.ts
  src/mcp_server_langgraph/studio/frontend/src/components/DevTools/tabs/NetworkTab.performance.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/contexts/FeatureFlagProviderMounting.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/hooks/useNewChat.test.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/usePersonaRouting.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/layout/ActivityBar.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/layout/SessionNav.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/layout/UserMenuDropdown.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/persona/PersonaContext.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/persona/PersonaRouter.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/persona/PersonaVariants.test.ts
  src/mcp_server_langgraph/studio/frontend/src/router/routing-integration.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/store/slices/helpSlice.test.ts
  src/mcp_server_langgraph/studio/frontend/src/store/slices/personaSlice.test.ts
  src/mcp_server_langgraph/studio/frontend/src/test/hook-component-integration.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/test/telemetry-events.test.tsx
  tests/unit/api/v1/test_hitl_push_notifications.py
Labels: tests

feat(devtools): add WebSocket and trace linking hooks
  src/mcp_server_langgraph/studio/frontend/src/components/Admin/AgentApprovalDialog.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Admin/BatchApprovalPanel.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/DevTools/hooks/useDevToolsWebSocket.test.ts
  src/mcp_server_langgraph/studio/frontend/src/components/DevTools/hooks/useDevToolsWebSocket.ts
  src/mcp_server_langgraph/studio/frontend/src/components/DevTools/hooks/useStateHistory.test.ts
  src/mcp_server_langgraph/studio/frontend/src/components/DevTools/hooks/useStateHistory.ts
  src/mcp_server_langgraph/studio/frontend/src/components/DevTools/hooks/useTraceLinking.test.ts
  src/mcp_server_langgraph/studio/frontend/src/components/DevTools/hooks/useTraceLinking.ts
  src/mcp_server_langgraph/studio/frontend/src/components/DevTools/index.ts
  src/mcp_server_langgraph/studio/frontend/src/components/DevTools/tabs/NetworkTab.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/DevTools/tabs/StateTab.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/DevTools/utils/export.ts
  src/mcp_server_langgraph/studio/frontend/src/components/DevTools/utils/performance.ts
  src/mcp_server_langgraph/studio/frontend/src/components/Nudge/NudgeTooltip.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/UI/OfflineBanner.tsx
  src/mcp_server_langgraph/studio/frontend/src/contexts/FeatureFlagProviderMounting.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/hooks/usePersonaRouting.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/layout/StatusBar.tsx
  src/mcp_server_langgraph/studio/frontend/src/layout/StudioShellLayout.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/layout/StudioShellLayout.tsx
  src/mcp_server_langgraph/studio/frontend/src/layout/TopBar.tsx
  src/mcp_server_langgraph/studio/frontend/src/pages/FilesPage.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/pages/FilesPage.tsx
  src/mcp_server_langgraph/studio/frontend/src/pages/SettingsPage.tsx
  src/mcp_server_langgraph/studio/frontend/src/store/slices/helpSlice.test.ts
  tests/unit/api/v1/test_workflow_sharing.py
Labels: tests

chore: remove legacy metrics files and update StateTab
  src/mcp_server_langgraph/studio/frontend/.metrics/lighthouse-appshell.json
  src/mcp_server_langgraph/studio/frontend/coverage-summary.json
  src/mcp_server_langgraph/studio/frontend/src/components/DevTools/tabs/StateTab.tsx
  src/mcp_server_langgraph/studio/frontend/src/layout/FeatureFlagToggle.tsx
  src/mcp_server_langgraph/studio/frontend/src/layout/StudioShellLayout.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/mocks/handlers.ts
Labels: none

chore: update store slices and layout exports
  src/mcp_server_langgraph/studio/frontend/src/layout/StudioShellLayout.tsx
  src/mcp_server_langgraph/studio/frontend/src/layout/index.ts
  src/mcp_server_langgraph/studio/frontend/src/pages/HelpPage.tsx
  src/mcp_server_langgraph/studio/frontend/src/store/index.ts
  src/mcp_server_langgraph/studio/frontend/src/store/slices/canvasSlice.test.ts
  src/mcp_server_langgraph/studio/frontend/src/store/slices/canvasSlice.ts
  src/mcp_server_langgraph/studio/frontend/src/types/api.ts
Labels: none

feat(api): integrate consolidated WebSocket router
  src/mcp_server_langgraph/api/v1/router.py
Labels: none

chore: add connection health handler tests and fixes
  src/mcp_server_langgraph/alerts/broadcaster.py
  src/mcp_server_langgraph/api/v1/agent_request_websocket.py
  tests/unit/api/v1/test_hitl_push_notifications.py
  tests/unit/websocket_pkg/handlers/test_connection_health_handler.py
Labels: tests

test: update HITL push notification test markers
  tests/unit/api/v1/test_hitl_push_notifications.py
Labels: tests

chore: apply pre-commit hook formatting fixes
  src/mcp_server_langgraph/auth/encrypted_session_store.py
  src/mcp_server_langgraph/core/hook_registry.py
  src/mcp_server_langgraph/mcp/message_handler.py
  src/mcp_server_langgraph/studio/frontend/src/layout/ActivityBar.tsx
  src/mcp_server_langgraph/studio/frontend/src/layout/StudioShellLayout.test.tsx
  src/mcp_server_langgraph/studio/frontend/vitest.config.ts
  src/mcp_server_langgraph/tools/screenshot_tools.py
  tests/unit/mcp/test_orchestration_handler.py
Labels: tests

feat(devtools): enhance time-travel debugging with unified timeline
  src/mcp_server_langgraph/studio/frontend/src/components/DevTools/hooks/useDevToolsWebSocketBridge.test.ts
  src/mcp_server_langgraph/studio/frontend/src/components/DevTools/hooks/useDevToolsWebSocketBridge.ts
  src/mcp_server_langgraph/studio/frontend/src/components/DevTools/tabs/AgentTraceTab.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/DevTools/tabs/AgentTraceTab.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/DevTools/tabs/StateTab.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/DevTools/tabs/StateTab.tsx
  src/mcp_server_langgraph/studio/frontend/src/types/chat.test.ts
  src/mcp_server_langgraph/studio/frontend/src/types/chat.ts
Labels: none

fix(llm): remove unused variable in verifier.py
  src/mcp_server_langgraph/llm/verifier.py
Labels: none

feat(devtools): wire up incomplete implementations and add missing components
  src/mcp_server_langgraph/studio/frontend/src/components/Chat/ChatMessages.artifacts.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/DevTools/DevToolsPanel.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/DevTools/components/DevToolsWebSocketObserver.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/DevTools/components/DevToolsWebSocketObserver.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/DevTools/tabs/AIInsightsTab.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/DevTools/tabs/AIInsightsTab.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/DevTools/tabs/ExecutionTraceTab.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/DevTools/tabs/TracesTab.tsx
  src/mcp_server_langgraph/studio/frontend/src/store/slices/devToolsSlice.test.ts
  src/mcp_server_langgraph/studio/frontend/src/store/slices/devToolsSlice.ts
Labels: none

fix(lint): address 43 ruff lint issues
  src/mcp_server_langgraph/agents/explanation_orchestrator.py
  src/mcp_server_langgraph/api/v1/ai_ux.py
  src/mcp_server_langgraph/api/v1/alert_recommendations.py
  src/mcp_server_langgraph/api/v1/frontend_cache.py
  src/mcp_server_langgraph/api/v1/interrupt.py
  src/mcp_server_langgraph/api/v1/remediation_approvals.py
  src/mcp_server_langgraph/core/session_fork.py
  src/mcp_server_langgraph/infrastructure/database.py
  src/mcp_server_langgraph/mcp/handlers/skills.py
  src/mcp_server_langgraph/monitoring/prometheus_client.py
  src/mcp_server_langgraph/monitoring/tempo_client.py
  src/mcp_server_langgraph/notifications/push_fallback_queue.py
  src/mcp_server_langgraph/notifications/vapid_rotation.py
  src/mcp_server_langgraph/observability/query/backends/loki.py
  src/mcp_server_langgraph/skills/installer.py
  src/mcp_server_langgraph/storage/artifacts/cloud_storage.py
  src/mcp_server_langgraph/storage/artifacts/qdrant_service.py
Labels: none

feat(studio): add agents/traces routes and modularize ChatMessages tests
  docker-compose.test.yml
  src/mcp_server_langgraph/alerts/broadcaster.py
  src/mcp_server_langgraph/mcp/server_streamable.py
  src/mcp_server_langgraph/studio/frontend/src/components/Chat/ChatMessages.agent.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Chat/ChatMessages.integration.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Chat/ChatMessages.suggestions.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Chat/ChatMessages.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/layout/StudioShellLayout.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/router/guards/RootRedirect.tsx
  src/mcp_server_langgraph/studio/frontend/src/router/guards/StudioShellGuard.tsx
  src/mcp_server_langgraph/studio/frontend/src/router/index.tsx
  src/mcp_server_langgraph/studio/frontend/src/router/route-coverage.test.tsx
  tests/e2e/test_feature_flags_docker_compose.py
Labels: tests, docker, config

feat(studio): add lazy loading and persona cache invalidation
  config/openfga/model.json
  docker-compose.test.yml
  scripts/docker/seed_openfga.py
  src/mcp_server_langgraph/studio/frontend/e2e/cross-persona-workflows.spec.ts
  src/mcp_server_langgraph/studio/frontend/e2e/permission-denial-flows.spec.ts
  src/mcp_server_langgraph/studio/frontend/e2e/persona-access-verification.spec.ts
  src/mcp_server_langgraph/studio/frontend/e2e/persona-navigation.spec.ts
  src/mcp_server_langgraph/studio/frontend/scripts/run-tests-sharded.sh
  src/mcp_server_langgraph/studio/frontend/src/components/Chat/ChatMessages.agent.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Chat/ChatMessages.integration.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Chat/ChatMessages.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Chat/ChatMessages.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/DevTools/components/DevToolsWebSocketObserver.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/DevTools/components/DevToolsWebSocketObserver.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/DevTools/hooks/useDevToolsContext.ts
  src/mcp_server_langgraph/studio/frontend/src/conversation/ConnectedConversationPanel.realtime.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/conversation/ConnectedConversationPanel.tsx
  src/mcp_server_langgraph/studio/frontend/src/hooks/session-hooks-integration.test.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useAIEmptyState.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/hooks/useAIErrorRecovery.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/hooks/useHeartDashboard.realtime.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/hooks/useHeartDashboard.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/usePersonaCacheInvalidation.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/hooks/usePersonaCacheInvalidation.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useSafeRouteLoaderData.test.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useStreamingChat.test.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useStreamingChat.ts
  src/mcp_server_langgraph/studio/frontend/src/layout/SessionNav.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/layout/SessionNav.tsx
  src/mcp_server_langgraph/studio/frontend/src/layout/StudioShellLayout.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/pages/AnalyticsDashboardPage.tsx
  src/mcp_server_langgraph/studio/frontend/src/pages/CostPage.realtime.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/pages/CostPage.tsx
  src/mcp_server_langgraph/studio/frontend/src/store/index.ts
  src/mcp_server_langgraph/studio/frontend/src/store/slices/langGraphSlice.test.ts
  src/mcp_server_langgraph/studio/frontend/src/store/slices/langGraphSlice.ts
  src/mcp_server_langgraph/studio/frontend/src/store/types.ts
  src/mcp_server_langgraph/studio/frontend/vitest.config.ts
Labels: docker, config

feat(devtools): implement Phase 8 AI-Native Observability
  src/mcp_server_langgraph/studio/frontend/src/components/DevTools/hooks/useObservabilityAI.ts
  src/mcp_server_langgraph/studio/frontend/src/components/DevTools/tabs/AIInsightsTab.observability.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/DevTools/tabs/AIInsightsTab.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/DevTools/types.ts
Labels: none

docs: comprehensive documentation update for Agent Studio and new features
  .claude/CLAUDE.md
  .github/CLAUDE.md
  CONTRIBUTING.md
  README.md
  docs-internal/AI_INTELLIGENCE_SERVICES.md
  docs-internal/CODE_EXECUTION_ENGINE.md
  docs-internal/FEATURE_FLAG_CATALOG.md
  docs-internal/SKILLS_MARKETPLACE_INTERNALS.md
  docs-internal/STUDIO_ARCHITECTURE.md
  docs-internal/WEBSOCKET_STANDARDIZATION.md
  docs/api-reference/builder.mdx
  docs/api-reference/code-execution.mdx
  docs/api-reference/playground.mdx
  docs/api-reference/studio.mdx
  docs/api-reference/websockets.mdx
  docs/architecture/adr-0077-claude-agent-sdk-integration.mdx
  docs/architecture/adr-0079-multi-framework-tool-parity.mdx
  docs/architecture/adr-0080-llm-level-callback-system.mdx
  docs/architecture/adr-0081-handoff-pattern-multi-agent.mdx
  docs/architecture/adr-0082-mcp-client-capabilities.mdx
  docs/architecture/adr-0083-confidence-based-hitl-system.mdx
  docs/architecture/adr-0084-studio-orchestrator-unified-ai.mdx
  docs/docs.json
  docs/guides/code-execution.mdx
  docs/guides/devtools.mdx
  docs/guides/dpop-enforcement.mdx
  docs/guides/hitl-confidence.mdx
  docs/guides/keyboard-shortcuts.mdx
  docs/guides/playground.mdx
  docs/guides/prompt-injection-protection.mdx
  docs/guides/skills-marketplace.mdx
  docs/guides/studio.mdx
  docs/guides/visual-workflow-builder.mdx
  scripts/validation/generate_feature_flag_catalog.py
  tests/integration/api/test_sandbox_run_api.py
  tests/unit/core/test_feature_flag_catalog_generator.py
Labels: documentation, tests, community

test: improve coverage for secrets manager and resilience metrics
  tests/unit/resilience/test_resilience_metrics.py
  tests/unit/secret_providers/test_secrets_manager_extended.py
Labels: tests

test(keycloak): add centralized connectivity fixtures and diagnostics
  tests/fixtures/tool_fixtures.py
  tests/integration/auth/test_keycloak_connectivity.py
Labels: tests

feat(studio): add Agent Metrics API and dashboard component
  api/openapi.json
  openapi.json
  src/mcp_server_langgraph/api/v1/agents.py
  src/mcp_server_langgraph/studio/frontend/src/api/index.ts
  src/mcp_server_langgraph/studio/frontend/src/components/Agents/AgentMetricsCard.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Agents/AgentMetricsCard.tsx
  src/mcp_server_langgraph/studio/frontend/src/types/api.ts
  src/mcp_server_langgraph/studio/frontend/src/types/generated-api.ts
  tests/unit/api/v1/test_agents_metrics.py
Labels: tests

refactor(test): adopt centralized Keycloak fixtures in test_keycloak_admin
  tests/integration/test_keycloak_admin.py
Labels: tests

.github/labeler.yml:

# Auto-labeler configuration for PRs
# Uses changed-files pattern matching

# Documentation
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'
      - '**/*.mdx'
      - 'docs/**/*'
      - 'mint.json'
      - '.mcp/*.json'

# Tests
tests:
  - changed-files:
    - any-glob-to-any-file:
      - 'tests/**/*'
      - '**/*test*.py'
      - 'test_*.py'
      - '*_test.py'
      - 'pytest.ini'
      - 'conftest.py'
      - 'TESTING.md'

# CI/CD
ci-cd:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**/*'
      - '.github/actions/**/*'
      - '.gitlab-ci.yml'
      - 'Makefile'
      - '.pre-commit-config.yaml'

# Dependencies
dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'requirements*.txt'
      - 'setup.py'
      - 'pyproject.toml'
      - 'poetry.lock'
      - 'package*.json'
      - 'yarn.lock'

# Docker
docker:
  - changed-files:
    - any-glob-to-any-file:
      - 'Dockerfile*'
      - 'docker-compose*.yml'
      - '.dockerignore'

# Kubernetes/Deployment
deployment:
  - changed-files:
    - any-glob-to-any-file:
      - 'kubernetes/**/*'
      - 'kustomize/**/*'
      - 'helm/**/*'
      - 'k8s/**/*'
      - 'KUBERNETES_DEPLOYMENT.md'
      - 'PRODUCTION_DEPLOYMENT.md'

# Authentication/Authorization
auth:
  - changed-files:
    - any-glob-to-any-file:
      - 'auth.py'
      - 'openfga_client.py'
      - 'setup_openfga.py'

# Secrets Management
secrets:
  - changed-files:
    - any-glob-to-any-file:
      - 'secrets_manager.py'
      - 'setup_infisical.py'

# Observability
observability:
  - changed-files:
    - any-glob-to-any-file:
      - 'observability.py'
      - 'health_check.py'
      - 'monitoring/**/*'
      - 'grafana/**/*'

# MCP Server
mcp:
  - changed-files:
    - any-glob-to-any-file:
      - 'mcp_server*.py'
      - 'examples/*client*.py'

# Agent/Core
agent:
  - changed-files:
    - any-glob-to-any-file:
      - 'agent.py'
      - 'graph.py'
      - 'models.py'
      - 'prompt*.py'

# Configuration
config:
  - changed-files:
    - any-glob-to-any-file:
      - 'config.py'
      - '.env*'
      - 'settings.py'
      - '*.yaml'
      - '*.yml'
      - '*.toml'
      - '*.ini'
      - '.editorconfig'

# Security
security:
  - changed-files:
    - any-glob-to-any-file:
      - 'auth.py'
      - 'secrets_manager.py'
      - 'openfga_client.py'
      - 'SECURITY*.md'
      - '.github/workflows/security-scan.yaml'
      - 'scripts/validate_production.py'

# Community
community:
  - changed-files:
    - any-glob-to-any-file:
      - 'CODE_OF_CONDUCT.md'
      - 'CONTRIBUTING.md'
      - 'DEVELOPMENT.md'
      - '.github/SUPPORT.md'
      - '.github/FUNDING.yml'
      - '.github/ISSUE_TEMPLATE/**/*'
      - '.github/PULL_REQUEST_TEMPLATE.md'
