Repository vishnu2kmohan/mcp-server-langgraph, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, tests, ci-cd, dependencies, docker, deployment, auth, secrets, observability, mcp, agent, config, security, community

.github/labeler.yml:

# Auto-labeler configuration for PRs
# Uses changed-files pattern matching

# Documentation
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'
      - '**/*.mdx'
      - 'docs/**/*'
      - 'mint.json'
      - '.mcp/*.json'

# Tests
tests:
  - changed-files:
    - any-glob-to-any-file:
      - 'tests/**/*'
      - '**/*test*.py'
      - 'test_*.py'
      - '*_test.py'
      - 'pytest.ini'
      - 'conftest.py'
      - 'TESTING.md'

# CI/CD
ci-cd:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**/*'
      - '.github/actions/**/*'
      - '.gitlab-ci.yml'
      - 'Makefile'
      - '.pre-commit-config.yaml'

# Dependencies
dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'requirements*.txt'
      - 'setup.py'
      - 'pyproject.toml'
      - 'poetry.lock'
      - 'package*.json'
      - 'yarn.lock'

# Docker
docker:
  - changed-files:
    - any-glob-to-any-file:
      - 'Dockerfile*'
      - 'docker-compose*.yml'
      - '.dockerignore'

# Kubernetes/Deployment
deployment:
  - changed-files:
    - any-glob-to-any-file:
      - 'kubernetes/**/*'
      - 'kustomize/**/*'
      - 'helm/**/*'
      - 'k8s/**/*'
      - 'KUBERNETES_DEPLOYMENT.md'
      - 'PRODUCTION_DEPLOYMENT.md'

# Authentication/Authorization
auth:
  - changed-files:
    - any-glob-to-any-file:
      - 'auth.py'
      - 'openfga_client.py'
      - 'setup_openfga.py'

# Secrets Management
secrets:
  - changed-files:
    - any-glob-to-any-file:
      - 'secrets_manager.py'
      - 'setup_infisical.py'

# Observability
observability:
  - changed-files:
    - any-glob-to-any-file:
      - 'observability.py'
      - 'health_check.py'
      - 'monitoring/**/*'
      - 'grafana/**/*'

# MCP Server
mcp:
  - changed-files:
    - any-glob-to-any-file:
      - 'mcp_server*.py'
      - 'examples/*client*.py'

# Agent/Core
agent:
  - changed-files:
    - any-glob-to-any-file:
      - 'agent.py'
      - 'graph.py'
      - 'models.py'
      - 'prompt*.py'

# Configuration
config:
  - changed-files:
    - any-glob-to-any-file:
      - 'config.py'
      - '.env*'
      - 'settings.py'
      - '*.yaml'
      - '*.yml'
      - '*.toml'
      - '*.ini'
      - '.editorconfig'

# Security
security:
  - changed-files:
    - any-glob-to-any-file:
      - 'auth.py'
      - 'secrets_manager.py'
      - 'openfga_client.py'
      - 'SECURITY*.md'
      - '.github/workflows/security-scan.yaml'
      - 'scripts/validate_production.py'

# Community
community:
  - changed-files:
    - any-glob-to-any-file:
      - 'CODE_OF_CONDUCT.md'
      - 'CONTRIBUTING.md'
      - 'DEVELOPMENT.md'
      - '.github/SUPPORT.md'
      - '.github/FUNDING.yml'
      - '.github/ISSUE_TEMPLATE/**/*'
      - '.github/PULL_REQUEST_TEMPLATE.md'

fix(hooks): use positional hook args for pre-commit 4.x compatibility
  scripts/hooks/parallel_pre_push.sh
Labels: none

fix(hooks): prevent set -e from aborting on lane wait exit codes
  scripts/hooks/parallel_pre_push.sh
Labels: none

fix(hooks): isolate GIT_INDEX_FILE per lane to prevent index.lock contention
  scripts/hooks/parallel_pre_push.sh
Labels: none

fix(security): replace checkov with trivy, fix dmypy args and frontend OOM
  .github/workflows/ci.yaml
  .github/workflows/gcp-compliance-scan.yaml
  .pre-commit-config.yaml
  CONTRIBUTING.md
  scripts/hooks/dmypy_check.sh
  scripts/hooks/parallel_pre_push.sh
  scripts/hooks/parallel_security_scan.sh
  scripts/security/run_security_suite.py
  terraform/Makefile
  tests/infrastructure/test_terraform_security.py
  tests/unit/scripts/test_dmypy_check.py
  tests/unit/scripts/test_parallel_pre_push.py
  tests/unit/scripts/test_parallel_security_scan.py
Labels: documentation, tests, ci-cd, config, community

fix(studio): eliminate duplicate user messages in chat frontend
  src/mcp_server_langgraph/studio/frontend/src/conversation/ConnectedConversationPanel.handleSendMessage.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/conversation/ConnectedConversationPanel.messageDedup.effects.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/conversation/ConnectedConversationPanel.messageDedup.fallback.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/conversation/ConnectedConversationPanel.messageDedup.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/conversation/ConnectedConversationPanel.tsx
  src/mcp_server_langgraph/studio/frontend/src/utils/devLogger.test.ts
  src/mcp_server_langgraph/studio/frontend/src/utils/devLogger.ts
Labels: none

fix(hooks,frontend): persist lane logs, fix pre-push test and security failures
  scripts/hooks/parallel_pre_push.sh
  scripts/hooks/parallel_security_scan.sh
  src/mcp_server_langgraph/studio/frontend/src/config/api.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useConversationIntelligence.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/hooks/useRealtimeSync.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useWebSocketMetricsReporter.ts
  src/mcp_server_langgraph/studio/frontend/src/utils/websocketTelemetry.ts
  tests/unit/scripts/test_parallel_pre_push.py
  tests/unit/scripts/test_parallel_security_scan.py
Labels: tests

fix(studio): null-safe toolsNeeded access in InlinePlanCard and PlanEditor
  src/mcp_server_langgraph/studio/frontend/src/components/PlanEditor/PlanEditor.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/PlanEditor/PlanEditor.tsx
  src/mcp_server_langgraph/studio/frontend/src/conversation/InlinePlanCard.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/conversation/InlinePlanCard.tsx
Labels: none

fix(studio): harden streaming bounds, fix callbacks, add style submenu tests
  .claude/rules/frontend.md
  .claude/rules/tests.md
  src/mcp_server_langgraph/studio/frontend/.gitignore
  src/mcp_server_langgraph/studio/frontend/e2e/chat-contract-validation.spec.ts
  src/mcp_server_langgraph/studio/frontend/e2e/chat-ux-features.spec.ts
  src/mcp_server_langgraph/studio/frontend/e2e/fixtures/auth.ts
  src/mcp_server_langgraph/studio/frontend/e2e/login-flow.spec.ts
  src/mcp_server_langgraph/studio/frontend/e2e/session-sync-flow.spec.ts
  src/mcp_server_langgraph/studio/frontend/src/components/Chat/ChatInput.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Chat/PreferencesMenu.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Chat/StylePresets.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Chat/StylePresets.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Chat/__tests__/PreferencesMenu.accessibility.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Chat/__tests__/PreferencesMenu.core.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Chat/__tests__/PreferencesMenu.fixtures.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Chat/__tests__/PreferencesMenu.submenus.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/conversation/ConnectedChatInputForm.tsx
  src/mcp_server_langgraph/studio/frontend/src/conversation/ConnectedConversationPanel.messageDedup.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/conversation/ConnectedConversationPanel.tsx
  src/mcp_server_langgraph/studio/frontend/src/conversation/ConversationPanel.tsx
  src/mcp_server_langgraph/studio/frontend/src/hooks/useStreamingChat.ts
Labels: documentation

fix(tests,security): register missing pytest marks, suppress expected warnings, harden report generation
  docs-internal/reports/ASYNC_MOCK_SCAN.md
  docs-internal/reports/TEST_SUITE_STATS.md
  make/docs.mk
  pyproject.toml
  scripts/validators/check_async_mock_configuration.py
  uv.lock
Labels: documentation, dependencies, config

chore(config): update environment, deployment, and infrastructure config
  .claude/rules/context-efficiency.md
  .env.example
  .env.production.template
  .env.test
  .gitignore
  agent_state/sessions.json
  config/openfga/model.json
  config/openfga/sample-tuples.json
  deployments/base/configmap.yaml
  deployments/helm/mcp-server-langgraph/values.yaml
  docker-compose.test.yml
  docker/postgres/init-test-databases.sh
  tests/constants.py
Labels: documentation, tests, docker, config

fix(db): align database models with migration schema and add pgvector extension
  migrations/001_gdpr_schema.sql
  src/mcp_server_langgraph/core/config/storage.py
  src/mcp_server_langgraph/database/execution_plan_models.py
  src/mcp_server_langgraph/health/database_checks.py
  src/mcp_server_langgraph/storage/workflow/postgres_models.py
Labels: none

security(api): harden error responses to prevent information leakage
  src/mcp_server_langgraph/api/api_keys.py
  src/mcp_server_langgraph/api/gdpr.py
  src/mcp_server_langgraph/api/service_principals.py
Labels: none

fix(mcp,api): logging reserved key, router registration, and tool fixes
  src/mcp_server_langgraph/api/v1/router.py
  src/mcp_server_langgraph/api/v1/workflows.py
  src/mcp_server_langgraph/core/startup_validation.py
  src/mcp_server_langgraph/mcp/server_stdio.py
  src/mcp_server_langgraph/tools/search_tools.py
Labels: none

fix(frontend): update KB status test and mock handlers
  src/mcp_server_langgraph/studio/frontend/src/hooks/useKBStatus.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/mocks/handlers.ts
Labels: none

test(e2e): add agentic memory e2e tests and backend env vars
  .env.test
  tests/e2e/test_agentic_memory_e2e.py
Labels: tests, config

fix(tests): infrastructure port fixes for integration and e2e test suites
  docker/postgres/init-test-databases.sh
  migrations/004_agentic_memory.sql
  tests/e2e/test_agentic_memory_e2e.py
Labels: tests

fix(tests): address pre-existing failures across integration and e2e suites
  tests/e2e/conftest.py
  tests/e2e/real_clients.py
  tests/e2e/test_mcp_websocket_e2e.py
  tests/e2e/test_notification_websocket_e2e.py
  tests/e2e/test_orchestrator_status_websocket_e2e.py
  tests/e2e/test_unified_api_journey.py
  tests/e2e/test_websocket_smoke.py
  tests/integration/test_agent.py
  tests/integration/test_agentic_loop_integration.py
  tests/integration/test_azure_openai.py
  tests/integration/test_conversation_state_persistence.py
  tests/integration/test_distributed_checkpointing.py
  tests/integration/test_infisical_optional.py
  tests/integration/test_studio_orchestrator_api.py
  tests/integration/tools/test_native_tools.py
Labels: tests

fix(tests): correct mock targets and cache key patterns for integration tests
  src/mcp_server_langgraph/mcp/client/cached_unified_registry.py
  tests/integration/mcp/test_cached_unified_registry_redis.py
  tests/integration/test_agent.py
  tests/integration/test_agentic_loop_integration.py
  tests/integration/test_conversation_state_persistence.py
  tests/integration/test_distributed_checkpointing.py
  tests/integration/test_infisical_optional.py
Labels: tests

fix(infra): align docker-compose.test.yml ports and postgres init script
  docker-compose.test.yml
  docker/postgres/init-test-databases.sh
Labels: docker, config

refactor(db): remove raw SQL migrations superseded by Alembic
  migrations/001_gdpr_schema.sql
  migrations/002_remediation_feedback.sql
  migrations/003_push_subscriptions.sql
  migrations/004_agentic_memory.sql
Labels: none

fix(db): add missing alembic migrations and align env.py with test infra
  alembic/env.py
  alembic/versions/g8h9i0j1k2l3_add_popup_column_to_oauth2_states.py
  alembic/versions/h9i0j1k2l3m4_enable_realtime_continuous_aggregates.py
  alembic/versions/i0j1k2l3m4n5_add_plan_templates_missing_columns.py
  alembic/versions/j1k2l3m4n5o6_fix_execution_plan_schema_drift.py
  alembic/versions/k2l3m4n5o6p7_fix_execution_plans_tools_needed.py
Labels: none

security(api): harden service principal endpoints (CWE-203, CWE-20)
  src/mcp_server_langgraph/api/service_principals.py
  src/mcp_server_langgraph/auth/dependencies.py
Labels: none

fix(mcp): align source modules with test infrastructure ports
  src/mcp_server_langgraph/health/database_checks.py
  src/mcp_server_langgraph/notifications/push_store.py
  src/mcp_server_langgraph/observability/query/backends/tempo.py
Labels: none

fix(tests): add shared test constants and align infrastructure fixtures
  tests/conftest.py
  tests/constants.py
  tests/fixtures/database_fixtures.py
  tests/fixtures/docker_fixtures.py
  tests/plugins/infrastructure_plugin.py
Labels: tests

fix(tests): align e2e test suites with infrastructure ports and credentials
  tests/e2e/journeys/test_keycloak_openfga_auth_flow.py
  tests/e2e/real_clients.py
  tests/e2e/test_agentic_memory_e2e.py
  tests/e2e/test_bob_user_journey.py
  tests/e2e/test_frontend_api_smoke.py
  tests/e2e/test_full_user_journey.py
  tests/e2e/test_mcp_websocket_e2e.py
  tests/e2e/test_native_tools_e2e.py
  tests/e2e/test_notification_websocket_e2e.py
  tests/e2e/test_scim_provisioning.py
  tests/e2e/test_unified_api_journey.py
  tests/e2e/test_websocket_smoke.py
  tests/e2e/test_workflow_sharing_journey.py
Labels: tests

security(api): validate user_id in GDPR export and delete endpoints
  src/mcp_server_langgraph/api/gdpr.py
Labels: none

security(runtime): replace assert guards with raise in production modules
  src/mcp_server_langgraph/execution/sql/validator.py
  src/mcp_server_langgraph/llm/verifier.py
  src/mcp_server_langgraph/monitoring/budget_monitor.py
Labels: none
