Repository vishnu2kmohan/mcp-server-langgraph, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, tests, ci-cd, dependencies, docker, deployment, auth, secrets, observability, mcp, agent, config, security, community

chore(deps): apply Dependabot updates and upgrade to Python 3.13
  .claude/settings.local.json
  .github/workflows/ci.yaml
  .github/workflows/pr-checks.yaml
  .github/workflows/release.yaml
  .github/workflows/security-scan.yaml
  Dockerfile
  langgraph.json
  pyproject.toml
Labels: ci-cd, dependencies, docker, config, security

feat: add Python 3.13 support and improve Docker build
  BUILD_VERIFICATION.md
  Dockerfile
  requirements-test.txt
Labels: documentation, dependencies, docker

Fix test suite: resolve module conflicts and update test mocks
  langgraph.json
  langgraph_platform/__init__.py
  langgraph_platform/agent.py
  langgraph_platform/requirements.txt
  tests/performance/test_benchmarks.py
  tests/test_agent.py
Labels: tests

feat: integrate Mintlify documentation with deployed application
  README.md
  docs/DEPLOYMENT.md
  docs/index.html
  mcp_server_http.py
Labels: documentation, mcp

fix: update openfga-sdk version to 0.5.0 in pinned requirements
  requirements-pinned.txt
Labels: dependencies

fix: update dependency versions to resolve conflicts
  requirements-pinned.txt
Labels: dependencies

fix: resolve OpenTelemetry API version mismatch and remove infisical-python
  requirements-pinned.txt
Labels: dependencies

fix: update all OpenTelemetry packages to version 1.37.0
  requirements-pinned.txt
Labels: dependencies

test: improve infrastructure test coverage to production-ready standards
  pytest.ini
  tests/test_health_check.py
  tests/test_openfga_client.py
Labels: tests, config

test: strategically improve test coverage for secrets_manager and agent
  tests/test_agent.py
  tests/test_secrets_manager.py
Labels: tests

test: fix mcp_streamable tests and resolve event loop initialization issues
  .claude/settings.local.json
  test_results.txt
  tests/conftest.py
  tests/test_agent.py
  tests/test_mcp_streamable.py
Labels: tests

chore: remove temporary test_results.txt file
  test_results.txt
Labels: none

feat: add Pydantic AI integration for type-safe agent responses
  CLAUDE.md
  PYDANTIC_AI_README.md
  agent.py
  docs/PYDANTIC_AI_INTEGRATION.md
  llm_validators.py
  mcp_streaming.py
  pydantic_ai_agent.py
  requirements.txt
  tests/test_pydantic_ai.py
Labels: documentation, tests, dependencies, agent

test: mock Pydantic AI Agent initialization to avoid API key requirements in tests
  tests/test_pydantic_ai.py
Labels: tests

feat: add Pydantic AI integration for type-safe agent responses
  CLAUDE.md
  PYDANTIC_AI_README.md
  agent.py
  docs/PYDANTIC_AI_INTEGRATION.md
  llm_validators.py
  mcp_streaming.py
  pydantic_ai_agent.py
  requirements.txt
  tests/test_pydantic_ai.py
Labels: documentation, tests, dependencies, agent

docs: enhance CLAUDE.md and add AGENTS.md with comprehensive development workflows
  AGENTS.md
Labels: documentation

docs: enhance CLAUDE.md and add AGENTS.md with comprehensive development workflows (#18)
  AGENTS.md
Labels: documentation

test: improve test coverage to 85% with comprehensive validator tests
  .coveragerc
  tests/test_pydantic_ai.py
Labels: tests

chore: remove Python 3.13 support due to Infisical incompatibility
  .github/workflows/ci.yaml
  .github/workflows/pr-checks.yaml
  AGENTS.md
  BUILD_VERIFICATION.md
  CLAUDE.md
  Dockerfile
  langgraph.json
  pyproject.toml
  setup.py
Labels: documentation, ci-cd, dependencies, docker, config

test: improve test coverage to 85% with comprehensive validator tests (#19)
  .coveragerc
  .github/workflows/ci.yaml
  .github/workflows/pr-checks.yaml
  AGENTS.md
  BUILD_VERIFICATION.md
  CLAUDE.md
  Dockerfile
  langgraph.json
  pyproject.toml
  setup.py
  tests/test_pydantic_ai.py
Labels: documentation, tests, ci-cd, dependencies, docker, config

chore: migrate from virtualenv/pip to uv for Python package management
  .gitignore
  AGENTS.md
  CLAUDE.md
  Makefile
  README.md
Labels: documentation, ci-cd

chore: use uvx for one-time CLI tools (cookiecutter, langgraph-cli)
  AGENTS.md
  CLAUDE.md
  LANGGRAPH_PLATFORM_DEPLOYMENT.md
  README.md
  TEMPLATE_USAGE.md
Labels: documentation

chore: comprehensive codebase linting with black and isort
  .claude/settings.local.json
  agent.py
  auth.py
  config.py
  example_client.py
  example_openfga_usage.py
  examples/langgraph_platform_test.py
  examples/langsmith_tracing.py
  examples/streamable_http_client.py
  examples/test_llm.py
  health_check.py
  hooks/post_gen_project.py
  hooks/pre_gen_project.py
  langgraph_platform/__init__.py
  langgraph_platform/agent.py
  langsmith_config.py
  llm_factory.py
  llm_validators.py
  mcp_server.py
  mcp_server_http.py
  mcp_server_streamable.py
  mcp_streaming.py
  observability.py
  openfga_client.py
  pydantic_ai_agent.py
  scripts/validate_production.py
  secrets_manager.py
  setup.py
  setup_infisical.py
  setup_openfga.py
  tests/conftest.py
  tests/performance/test_benchmarks.py
  tests/test_agent.py
  tests/test_auth.py
  tests/test_health_check.py
  tests/test_mcp_streamable.py
  tests/test_openfga_client.py
  tests/test_pydantic_ai.py
  tests/test_secrets_manager.py
Labels: tests, dependencies, auth, secrets, observability, mcp, agent, config, security

chore: comprehensive code quality improvements with flake8 linting fixes
  .flake8
  agent.py
  auth.py
  config.py
  example_client.py
  health_check.py
  langsmith_config.py
  llm_factory.py
  llm_validators.py
  mcp_server.py
  mcp_server_http.py
  mcp_server_streamable.py
  observability.py
  openfga_client.py
  pydantic_ai_agent.py
  scripts/validate_production.py
  setup_infisical.py
  setup_openfga.py
  tests/test_pydantic_ai.py
  tests/test_secrets_manager.py
Labels: tests, auth, secrets, observability, mcp, agent, config, security

refactor: comprehensive code quality improvements with flake8 linting fixes
  examples/langgraph_platform_test.py
  examples/langsmith_tracing.py
  hooks/post_gen_project.py
  langgraph_platform/agent.py
  mcp_server_http.py
  observability.py
  scripts/validate_production.py
Labels: tests, observability, mcp, security

docs: complete code quality excellence implementation
  .github/workflows/quality-tests.yaml
  .mutmut-config.py
  IMPLEMENTATION_COMPLETE.md
  IMPLEMENTATION_SUMMARY.md
  Makefile
  README.md
  docs/MUTATION_TESTING.md
  docs/STRICT_TYPING_GUIDE.md
  docs/adr/0001-llm-multi-provider.md
  docs/adr/0002-openfga-authorization.md
  docs/adr/0003-dual-observability.md
  docs/adr/0004-mcp-streamable-http.md
  docs/adr/0005-pydantic-ai-integration.md
  docs/adr/README.md
  feature_flags.py
  pyproject.toml
  requirements-test.txt
  scripts/validate_openapi.py
  tests/api/__init__.py
  tests/api/test_openapi_compliance.py
  tests/contract/__init__.py
  tests/contract/mcp_schemas.json
  tests/contract/test_mcp_contract.py
  tests/property/__init__.py
  tests/property/test_auth_properties.py
  tests/property/test_llm_properties.py
  tests/regression/__init__.py
  tests/regression/baseline_metrics.json
  tests/regression/test_performance_regression.py
  tests/test_feature_flags.py
Labels: documentation, tests, ci-cd, dependencies, config

fix: add missing pytest markers and fix black formatting
  pytest.ini
  tests/property/test_llm_properties.py
Labels: tests, config

fix: resolve CI test failures and cleanup workflows
  .github/workflows/quality-tests.yaml
  openapi.json
  tests/property/test_auth_properties.py
  tests/test_feature_flags.py
Labels: tests, ci-cd

fix: resolve all remaining CI test failures
  .github/workflows/deploy-langgraph-platform.yml
  .github/workflows/security-scan.yaml
  tests/contract/test_mcp_contract.py
  tests/property/test_auth_properties.py
  tests/property/test_llm_properties.py
  tests/test_feature_flags.py
Labels: tests, ci-cd, security

fix: add tolerance to JWT expiration time test to handle microsecond precision
  tests/property/test_auth_properties.py
Labels: tests

fix: remove redundant coverage check to meet 80% requirement
  .github/workflows/ci.yaml
Labels: ci-cd

fix: suppress bandit B104 false positives for containerized server binding
  health_check.py
  mcp_server_http.py
  mcp_server_streamable.py
Labels: observability, mcp

chore: Phase 1 cleanup - remove cache files and fix metadata
  .gitignore
  setup.py
Labels: dependencies

docs: Phase 2 - reorganize documentation into structured hierarchy
  README.md
  docs/README.md
  docs/archive/IMPLEMENTATION_COMPLETE.md
  docs/archive/IMPLEMENTATION_SUMMARY.md
  docs/archive/MINTLIFY_SETUP.md
  docs/archive/SECURITY_AUDIT.md
  docs/archive/security-review.md
  docs/deployment/cloudrun.md
  docs/deployment/kubernetes.md
  docs/deployment/langgraph-platform.md
  docs/deployment/production.md
  docs/development/build-verification.md
  docs/development/development.md
  docs/development/github-actions.md
  docs/development/testing.md
  docs/integrations/gemini.md
  docs/integrations/kong.md
  docs/integrations/langsmith.md
  docs/integrations/litellm.md
  docs/integrations/openfga-infisical.md
  docs/reference/agents.md
  docs/reference/ai-tools-compatibility.md
  docs/reference/mcp-registry.md
  docs/reference/pydantic-ai.md
  docs/reference/recommendations.md
  docs/template/cookiecutter-summary.md
  docs/template/evaluation.md
  docs/template/usage.md
Labels: documentation

docs: restore AGENTS.md to root for AI tool discoverability
  AGENTS.md
  docs/README.md
Labels: documentation

refactor: remove deprecated HTTP/SSE transport implementation
  .coveragerc
  AGENTS.md
  CHANGELOG.md
  CLAUDE.md
  Dockerfile
  Makefile
  README.md
  docs/adr/0004-mcp-streamable-http.md
  mcp_server_http.py
  pyproject.toml
  requirements-pinned.txt
  requirements.txt
  setup.py
Labels: documentation, ci-cd, dependencies, docker, mcp, config

test: complete src/ layout migration with 82.65% coverage
  .claude/settings.local.json
  COVERAGE_ACHIEVEMENTS.md
  EVALUATION_REPORT.md
  PYDANTIC_V2_MIGRATION.md
  QUICK_REFERENCE.md
  TEST_REFACTORING_SUMMARY.md
  pyproject.toml
  src/mcp_server_langgraph/core/config.py
  src/mcp_server_langgraph/core/feature_flags.py
  src/mcp_server_langgraph/health/__init__.py
  src/mcp_server_langgraph/llm/__init__.py
  src/mcp_server_langgraph/mcp/__init__.py
  tests/conftest.py
  tests/property/test_llm_properties.py
  tests/test_agent.py
  tests/test_health_check.py
  tests/test_mcp_streamable.py
  tests/test_openfga_client.py
  tests/test_pydantic_ai.py
  tests/test_secrets_manager.py
Labels: documentation, tests, dependencies, config

ci: fix package installation for src/ layout
  .github/workflows/ci.yaml
  .github/workflows/quality-tests.yaml
Labels: ci-cd

test: fix property test mock path for src/ layout
  .github/workflows/ci.yaml
  tests/property/test_llm_properties.py
Labels: tests, ci-cd

docs: add CI/CD final status report
  CI_FINAL_STATUS.md
Labels: documentation

.github/labeler.yml:

# Auto-labeler configuration for PRs
# Uses changed-files pattern matching

# Documentation
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'
      - '**/*.mdx'
      - 'docs/**/*'
      - 'mint.json'
      - '.mcp/*.json'

# Tests
tests:
  - changed-files:
    - any-glob-to-any-file:
      - 'tests/**/*'
      - '**/*test*.py'
      - 'test_*.py'
      - '*_test.py'
      - 'pytest.ini'
      - 'conftest.py'
      - 'TESTING.md'

# CI/CD
ci-cd:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**/*'
      - '.github/actions/**/*'
      - '.gitlab-ci.yml'
      - 'Makefile'
      - '.pre-commit-config.yaml'

# Dependencies
dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'requirements*.txt'
      - 'setup.py'
      - 'pyproject.toml'
      - 'poetry.lock'
      - 'package*.json'
      - 'yarn.lock'

# Docker
docker:
  - changed-files:
    - any-glob-to-any-file:
      - 'Dockerfile*'
      - 'docker-compose*.yml'
      - '.dockerignore'

# Kubernetes/Deployment
deployment:
  - changed-files:
    - any-glob-to-any-file:
      - 'kubernetes/**/*'
      - 'kustomize/**/*'
      - 'helm/**/*'
      - 'k8s/**/*'
      - 'KUBERNETES_DEPLOYMENT.md'
      - 'PRODUCTION_DEPLOYMENT.md'

# Authentication/Authorization
auth:
  - changed-files:
    - any-glob-to-any-file:
      - 'auth.py'
      - 'openfga_client.py'
      - 'setup_openfga.py'

# Secrets Management
secrets:
  - changed-files:
    - any-glob-to-any-file:
      - 'secrets_manager.py'
      - 'setup_infisical.py'

# Observability
observability:
  - changed-files:
    - any-glob-to-any-file:
      - 'observability.py'
      - 'health_check.py'
      - 'monitoring/**/*'
      - 'grafana/**/*'

# MCP Server
mcp:
  - changed-files:
    - any-glob-to-any-file:
      - 'mcp_server*.py'
      - 'examples/*client*.py'

# Agent/Core
agent:
  - changed-files:
    - any-glob-to-any-file:
      - 'agent.py'
      - 'graph.py'
      - 'models.py'
      - 'prompt*.py'

# Configuration
config:
  - changed-files:
    - any-glob-to-any-file:
      - 'config.py'
      - '.env*'
      - 'settings.py'
      - '*.yaml'
      - '*.yml'
      - '*.toml'
      - '*.ini'
      - '.editorconfig'

# Security
security:
  - changed-files:
    - any-glob-to-any-file:
      - 'auth.py'
      - 'secrets_manager.py'
      - 'openfga_client.py'
      - 'SECURITY*.md'
      - '.github/workflows/security-scan.yaml'
      - 'scripts/validate_production.py'

# Community
community:
  - changed-files:
    - any-glob-to-any-file:
      - 'CODE_OF_CONDUCT.md'
      - 'CONTRIBUTING.md'
      - 'DEVELOPMENT.md'
      - '.github/SUPPORT.md'
      - '.github/FUNDING.yml'
      - '.github/ISSUE_TEMPLATE/**/*'
      - '.github/PULL_REQUEST_TEMPLATE.md'
