Repository vishnu2kmohan/mcp-server-langgraph, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, tests, ci-cd, dependencies, docker, deployment, auth, secrets, observability, mcp, agent, config, security, community

.github/labeler.yml:

# Auto-labeler configuration for PRs
# Uses changed-files pattern matching

# Documentation
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'
      - '**/*.mdx'
      - 'docs/**/*'
      - 'mint.json'
      - '.mcp/*.json'

# Tests
tests:
  - changed-files:
    - any-glob-to-any-file:
      - 'tests/**/*'
      - '**/*test*.py'
      - 'test_*.py'
      - '*_test.py'
      - 'pytest.ini'
      - 'conftest.py'
      - 'TESTING.md'

# CI/CD
ci-cd:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**/*'
      - '.github/actions/**/*'
      - '.gitlab-ci.yml'
      - 'Makefile'
      - '.pre-commit-config.yaml'

# Dependencies
dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'requirements*.txt'
      - 'setup.py'
      - 'pyproject.toml'
      - 'poetry.lock'
      - 'package*.json'
      - 'yarn.lock'

# Docker
docker:
  - changed-files:
    - any-glob-to-any-file:
      - 'Dockerfile*'
      - 'docker-compose*.yml'
      - '.dockerignore'

# Kubernetes/Deployment
deployment:
  - changed-files:
    - any-glob-to-any-file:
      - 'kubernetes/**/*'
      - 'kustomize/**/*'
      - 'helm/**/*'
      - 'k8s/**/*'
      - 'KUBERNETES_DEPLOYMENT.md'
      - 'PRODUCTION_DEPLOYMENT.md'

# Authentication/Authorization
auth:
  - changed-files:
    - any-glob-to-any-file:
      - 'auth.py'
      - 'openfga_client.py'
      - 'setup_openfga.py'

# Secrets Management
secrets:
  - changed-files:
    - any-glob-to-any-file:
      - 'secrets_manager.py'
      - 'setup_infisical.py'

# Observability
observability:
  - changed-files:
    - any-glob-to-any-file:
      - 'observability.py'
      - 'health_check.py'
      - 'monitoring/**/*'
      - 'grafana/**/*'

# MCP Server
mcp:
  - changed-files:
    - any-glob-to-any-file:
      - 'mcp_server*.py'
      - 'examples/*client*.py'

# Agent/Core
agent:
  - changed-files:
    - any-glob-to-any-file:
      - 'agent.py'
      - 'graph.py'
      - 'models.py'
      - 'prompt*.py'

# Configuration
config:
  - changed-files:
    - any-glob-to-any-file:
      - 'config.py'
      - '.env*'
      - 'settings.py'
      - '*.yaml'
      - '*.yml'
      - '*.toml'
      - '*.ini'
      - '.editorconfig'

# Security
security:
  - changed-files:
    - any-glob-to-any-file:
      - 'auth.py'
      - 'secrets_manager.py'
      - 'openfga_client.py'
      - 'SECURITY*.md'
      - '.github/workflows/security-scan.yaml'
      - 'scripts/validate_production.py'

# Community
community:
  - changed-files:
    - any-glob-to-any-file:
      - 'CODE_OF_CONDUCT.md'
      - 'CONTRIBUTING.md'
      - 'DEVELOPMENT.md'
      - '.github/SUPPORT.md'
      - '.github/FUNDING.yml'
      - '.github/ISSUE_TEMPLATE/**/*'
      - '.github/PULL_REQUEST_TEMPLATE.md'

feat(api): normalize persona visible_modules to match frontend NAV_ITEMS
  src/mcp_server_langgraph/api/v1/user.py
Labels: none

test(api): add contract and unit tests for visible_modules normalization
  tests/contract/test_user_me_frontend_contract.py
  tests/unit/api/v1/test_user_persona_response.py
Labels: tests

feat(studio): implement Sprint 4 server-driven navigation and AI predictions
  src/mcp_server_langgraph/studio/frontend/e2e/ai-nav-predictions.spec.ts
  src/mcp_server_langgraph/studio/frontend/e2e/fixtures/mock-factories.ts
  src/mcp_server_langgraph/studio/frontend/e2e/navigation-auto-loading.spec.ts
  src/mcp_server_langgraph/studio/frontend/e2e/persona-navigation.spec.ts
  src/mcp_server_langgraph/studio/frontend/eslint.config.js
  src/mcp_server_langgraph/studio/frontend/src/App.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/App.tsx
  src/mcp_server_langgraph/studio/frontend/src/api/index.ts
  src/mcp_server_langgraph/studio/frontend/src/contexts/FeatureFlagContext.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/contexts/FeatureFlagContext.tsx
  src/mcp_server_langgraph/studio/frontend/src/hooks/useSessionIntelligence.ts
  src/mcp_server_langgraph/studio/frontend/src/layout/ActivityBar.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/layout/ActivityBar.tsx
  src/mcp_server_langgraph/studio/frontend/src/layout/StudioShellLayout.tsx
  src/mcp_server_langgraph/studio/frontend/src/layout/UserMenuDropdown.tsx
  src/mcp_server_langgraph/studio/frontend/src/main.tsx
  src/mcp_server_langgraph/studio/frontend/src/persona/PersonaRouter.tsx
  src/mcp_server_langgraph/studio/frontend/src/persona/PersonaVariants.ts
  src/mcp_server_langgraph/studio/frontend/src/router/index.tsx
  src/mcp_server_langgraph/studio/frontend/src/store/slices/personaSlice.test.ts
  src/mcp_server_langgraph/studio/frontend/src/store/slices/personaSlice.ts
  src/mcp_server_langgraph/studio/frontend/src/store/slices/sessionSlice.test.ts
  src/mcp_server_langgraph/studio/frontend/src/store/slices/sessionSlice.ts
  src/mcp_server_langgraph/studio/frontend/src/types/session.ts
Labels: none

feat(api): add normalize_module_id helper for backward compatibility
  src/mcp_server_langgraph/api/v1/user.py
Labels: none

fix(api): update ai_ux_service to use normalized module IDs
  src/mcp_server_langgraph/api/v1/ai_ux_service.py
Labels: none

test(studio): update App tests for routing and persona changes
  src/mcp_server_langgraph/studio/frontend/src/App.test.tsx
Labels: none

feat(studio): add observability routes and refactor PermissionGuard
  src/mcp_server_langgraph/studio/frontend/src/main.tsx
  src/mcp_server_langgraph/studio/frontend/src/router/guards/PermissionGuard.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/router/guards/PermissionGuard.tsx
  src/mcp_server_langgraph/studio/frontend/src/router/index.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/router/index.tsx
Labels: none

feat(studio): implement offline queue conflict resolution strategies
  src/mcp_server_langgraph/studio/frontend/src/hooks/useOfflineQueue.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/hooks/useOfflineQueue.ts
Labels: none

feat(studio): add SVG to PNG conversion in ArtifactExporter
  src/mcp_server_langgraph/studio/frontend/src/components/Artifacts/ArtifactExporter.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Artifacts/ArtifactExporter.tsx
Labels: none

feat(studio): connect useInlineSuggestions to REST API
  src/mcp_server_langgraph/studio/frontend/src/hooks/useInlineSuggestions.ts
Labels: none

refactor(websocket): extract MCP endpoint to ws_router and add trace broadcaster
  src/mcp_server_langgraph/api/v1/mcp_websocket.py
  src/mcp_server_langgraph/api/v1/ws_router.py
  src/mcp_server_langgraph/observability/trace_broadcaster.py
  src/mcp_server_langgraph/websocket/README.md
  src/mcp_server_langgraph/websocket/handlers/__init__.py
  src/mcp_server_langgraph/websocket/handlers/trace.py
  src/mcp_server_langgraph/websocket/registry.py
  tests/unit/websocket/handlers/test_trace_handler.py
Labels: documentation, tests

feat(auth): add proactive OIDC token refresh for OpenFGA client
  src/mcp_server_langgraph/auth/openfga.py
  tests/unit/auth/test_openfga_oidc_token_refresh.py
Labels: tests

feat(observability): enhance JSON logger and add logging filter middleware
  docker/alloy/config.alloy
  src/mcp_server_langgraph/middleware/__init__.py
  src/mcp_server_langgraph/middleware/logging_filter.py
  src/mcp_server_langgraph/observability/json_logger.py
  src/mcp_server_langgraph/observability/telemetry.py
  tests/unit/middleware/test_logging_filter.py
  tests/unit/observability/test_json_logger.py
Labels: tests

feat(studio): update WebSocket hooks and enhance page components
  src/mcp_server_langgraph/studio/frontend/src/hooks/useAuditWebSocket.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useMCPConnection.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useMCPTaskWebSocket.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useTraceWebSocket.ts
  src/mcp_server_langgraph/studio/frontend/src/pages/ConnectionsPage.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/pages/ConnectionsPage.tsx
  src/mcp_server_langgraph/studio/frontend/src/pages/MCPPage.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/pages/MCPPage.tsx
  src/mcp_server_langgraph/studio/frontend/src/utils/webVitals.ts
Labels: none

chore(config): update test infrastructure and vite config
  .env.test
  docker-compose.test.yml
  src/mcp_server_langgraph/studio/frontend/vite.config.ts
  tests/contract/test_openapi_schema_validation.py
Labels: tests, docker, config

docs(api): add comments linking AGENT_FEATURE_FLAGS to ORCHESTRATOR_REGISTRY
  src/mcp_server_langgraph/api/v1/agents.py
Labels: none

feat(core): add AI UX feature flags to frontend export
  src/mcp_server_langgraph/core/feature_flags.py
  tests/meta/test_feature_flag_consistency.py
Labels: tests

feat(studio): add useAIIntelligenceConfig hook
  src/mcp_server_langgraph/studio/frontend/src/hooks/useAIIntelligenceConfig.ts
Labels: none

test(studio): add useAIIntelligenceConfig hook tests
  .env.test
  src/mcp_server_langgraph/studio/frontend/src/hooks/useAIIntelligenceConfig.test.tsx
Labels: config

build(deps): add dependency groups for lightweight Docker images
  pyproject.toml
  uv.lock
Labels: dependencies, config

build(docker): refactor Dockerfiles to use uv dependency groups
  docker/Dockerfile.alembic
  docker/Dockerfile.authz-proxy
  docker/Dockerfile.openfga-seed
Labels: none

refactor(core): implement lazy imports to reduce Docker image sizes
  src/mcp_server_langgraph/authz_proxy/dependencies.py
  src/mcp_server_langgraph/authz_proxy/server.py
  src/mcp_server_langgraph/core/__init__.py
Labels: none

fix(studio): update useWorkflowExecution hook types
  docker-compose.test.yml
  docker/Dockerfile.sandbox
  src/mcp_server_langgraph/studio/frontend/src/hooks/useWorkflowExecution.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/hooks/useWorkflowExecution.ts
Labels: docker, config

build(deps): add prometheus-client to authz-proxy dependency group
  pyproject.toml
  uv.lock
Labels: dependencies, config

test(authz_proxy): add dependency isolation tests
  tests/unit/authz_proxy/test_dependency_isolation.py
Labels: tests

fix(test): update authz-proxy dependency test import paths
  tests/unit/authz_proxy/test_dependency_isolation.py
Labels: tests

feat(observability): add OTLP protocol detection for HTTP/gRPC selection
  src/mcp_server_langgraph/observability/query/backends/loki.py
  src/mcp_server_langgraph/observability/telemetry.py
  tests/unit/observability/test_telemetry_protocol_detection.py
Labels: tests

feat(api): add MCP REST endpoints for tools and task results
  src/mcp_server_langgraph/api/v1/mcp.py
Labels: none

chore(docker): update Alloy config for OTLP HTTP receivers
  docker/alloy/config.alloy
Labels: none

feat(studio): enhance WebSocket hooks with reconnection and typing
  src/mcp_server_langgraph/studio/frontend/src/hooks/useAlertWebSocket.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useNotificationWebSocket.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/hooks/useNotificationWebSocket.ts
Labels: none

feat(mcp): enhance message handler with MCP 2025-11-25 protocol methods
  src/mcp_server_langgraph/api/v1/mcp.py
  src/mcp_server_langgraph/mcp/message_handler.py
  src/mcp_server_langgraph/websocket/handlers/mcp.py
Labels: none

feat(mcp): add capability registries for resources and prompts
  src/mcp_server_langgraph/mcp/client/prompt_registry.py
  src/mcp_server_langgraph/mcp/client/protocol.py
  src/mcp_server_langgraph/mcp/client/resource_registry.py
  src/mcp_server_langgraph/mcp/client/session_manager.py
Labels: none

test(mcp): add protocol compliance and capability registry tests
  tests/unit/mcp/test_mcp_capability_registries.py
  tests/unit/mcp/test_mcp_protocol_compliance.py
Labels: tests

feat(audit): add graceful degradation to ComplianceService
  src/mcp_server_langgraph/audit/compliance_service.py
  src/mcp_server_langgraph/bootstrap/storage.py
Labels: none

test(audit): add compliance service resilience and unit tests
  tests/unit/audit/test_compliance_service_resilience.py
  tests/unit/compliance/test_compliance_service.py
Labels: tests

feat(llm): add multi-provider pydantic-ai model name prefixes
  src/mcp_server_langgraph/llm/pydantic_agent.py
  tests/llm/test_pydantic_model_names.py
Labels: tests

fix(tools): handle None metadata in code execution tool
  src/mcp_server_langgraph/tools/__init__.py
Labels: none

fix(studio): add null-safe array access in HITL API tags
  src/mcp_server_langgraph/studio/frontend/src/api/index.ts
Labels: none

feat(mcp): add unified registry and aggregated REST API
  src/mcp_server_langgraph/api/v1/mcp_aggregated.py
  src/mcp_server_langgraph/mcp/client/unified_registry.py
  tests/unit/mcp/test_mcp_capability_registries.py
Labels: tests

feat(mcp): integrate unified registry into tools/list handler
  src/mcp_server_langgraph/mcp/message_handler.py
Labels: none
