Repository vishnu2kmohan/mcp-server-langgraph, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, tests, ci-cd, dependencies, docker, deployment, auth, secrets, observability, mcp, agent, config, security, community

.github/labeler.yml:

# Auto-labeler configuration for PRs
# Uses changed-files pattern matching

# Documentation
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'
      - '**/*.mdx'
      - 'docs/**/*'
      - 'mint.json'
      - '.mcp/*.json'

# Tests
tests:
  - changed-files:
    - any-glob-to-any-file:
      - 'tests/**/*'
      - '**/*test*.py'
      - 'test_*.py'
      - '*_test.py'
      - 'pytest.ini'
      - 'conftest.py'
      - 'TESTING.md'

# CI/CD
ci-cd:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**/*'
      - '.github/actions/**/*'
      - '.gitlab-ci.yml'
      - 'Makefile'
      - '.pre-commit-config.yaml'

# Dependencies
dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'requirements*.txt'
      - 'setup.py'
      - 'pyproject.toml'
      - 'poetry.lock'
      - 'package*.json'
      - 'yarn.lock'

# Docker
docker:
  - changed-files:
    - any-glob-to-any-file:
      - 'Dockerfile*'
      - 'docker-compose*.yml'
      - '.dockerignore'

# Kubernetes/Deployment
deployment:
  - changed-files:
    - any-glob-to-any-file:
      - 'kubernetes/**/*'
      - 'kustomize/**/*'
      - 'helm/**/*'
      - 'k8s/**/*'
      - 'KUBERNETES_DEPLOYMENT.md'
      - 'PRODUCTION_DEPLOYMENT.md'

# Authentication/Authorization
auth:
  - changed-files:
    - any-glob-to-any-file:
      - 'auth.py'
      - 'openfga_client.py'
      - 'setup_openfga.py'

# Secrets Management
secrets:
  - changed-files:
    - any-glob-to-any-file:
      - 'secrets_manager.py'
      - 'setup_infisical.py'

# Observability
observability:
  - changed-files:
    - any-glob-to-any-file:
      - 'observability.py'
      - 'health_check.py'
      - 'monitoring/**/*'
      - 'grafana/**/*'

# MCP Server
mcp:
  - changed-files:
    - any-glob-to-any-file:
      - 'mcp_server*.py'
      - 'examples/*client*.py'

# Agent/Core
agent:
  - changed-files:
    - any-glob-to-any-file:
      - 'agent.py'
      - 'graph.py'
      - 'models.py'
      - 'prompt*.py'

# Configuration
config:
  - changed-files:
    - any-glob-to-any-file:
      - 'config.py'
      - '.env*'
      - 'settings.py'
      - '*.yaml'
      - '*.yml'
      - '*.toml'
      - '*.ini'
      - '.editorconfig'

# Security
security:
  - changed-files:
    - any-glob-to-any-file:
      - 'auth.py'
      - 'secrets_manager.py'
      - 'openfga_client.py'
      - 'SECURITY*.md'
      - '.github/workflows/security-scan.yaml'
      - 'scripts/validate_production.py'

# Community
community:
  - changed-files:
    - any-glob-to-any-file:
      - 'CODE_OF_CONDUCT.md'
      - 'CONTRIBUTING.md'
      - 'DEVELOPMENT.md'
      - '.github/SUPPORT.md'
      - '.github/FUNDING.yml'
      - '.github/ISSUE_TEMPLATE/**/*'
      - '.github/PULL_REQUEST_TEMPLATE.md'

feat(auth): implement OAuth2 Authorization Code + PKCE flow (ADR-0071)
  .pre-commit-config.yaml
  docs-internal/ADR-0071-OAUTH2-PKCE-MIGRATION.md
  scripts/validation/check_testid_consistency.py
  src/mcp_server_langgraph/api/auth_request_middleware.py
  src/mcp_server_langgraph/api/v1/auth.py
  src/mcp_server_langgraph/api/v1/router.py
  src/mcp_server_langgraph/api/v1/user.py
  src/mcp_server_langgraph/audit/models.py
  src/mcp_server_langgraph/auth/jwt_utils.py
  src/mcp_server_langgraph/auth/keycloak.py
  src/mcp_server_langgraph/auth/middleware.py
  src/mcp_server_langgraph/auth/oauth2.py
  src/mcp_server_langgraph/auth/token_denylist.py
  src/mcp_server_langgraph/core/config.py
  src/mcp_server_langgraph/core/dependencies.py
  src/mcp_server_langgraph/middleware/rate_limiter.py
  src/mcp_server_langgraph/models/audit_log.py
  src/mcp_server_langgraph/repositories/audit_log.py
  src/mcp_server_langgraph/studio/frontend/e2e/fixtures/auth.ts
  src/mcp_server_langgraph/studio/frontend/e2e/fixtures/global-setup.ts
  src/mcp_server_langgraph/studio/frontend/e2e/fixtures/mock-factories.ts
  src/mcp_server_langgraph/studio/frontend/e2e/session-crud.spec.ts
  src/mcp_server_langgraph/studio/frontend/src/pages/AuthCallbackPage.tsx
  src/mcp_server_langgraph/studio/frontend/src/pages/ChatPage.tsx
  src/mcp_server_langgraph/studio/frontend/src/pages/LoginPage.tsx
  src/mcp_server_langgraph/studio/frontend/src/router/index.tsx
  tests/api/test_auth_oauth2.py
  tests/api/test_user_api.py
  tests/integration/execution/test_docker_sandbox.py
  tests/integration/vectors/test_vectors_api_integration.py
  tests/unit/api/v1/test_admin_router.py
  tests/unit/auth/test_jwt_utils.py
  tests/unit/auth/test_keycloak.py
  tests/unit/auth/test_oauth2.py
  tests/unit/auth/test_token_denylist.py
Labels: documentation, tests, ci-cd, config

feat(core): add startup validation for LGTM stack and Qdrant
  src/mcp_server_langgraph/api/health.py
  src/mcp_server_langgraph/core/startup_validation.py
  tests/meta/test_qdrant_bootstrap_setup.py
  tests/unit/core/test_startup_validation.py
  tests/unit/health/test_qdrant_validation.py
Labels: tests

feat(studio): add RTK Query token refresh with 401 handling
  src/mcp_server_langgraph/studio/frontend/e2e/fixtures/auth.ts
  src/mcp_server_langgraph/studio/frontend/src/api/baseQueryWithReauth.test.ts
  src/mcp_server_langgraph/studio/frontend/src/api/baseQueryWithReauth.ts
  src/mcp_server_langgraph/studio/frontend/src/api/index.ts
  src/mcp_server_langgraph/studio/frontend/src/pages/AuthCallbackPage.tsx
  src/mcp_server_langgraph/studio/frontend/src/pages/LoginPage.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/pages/LoginPage.tsx
  src/mcp_server_langgraph/studio/frontend/src/store/slices/authSlice.test.ts
  src/mcp_server_langgraph/studio/frontend/src/store/slices/authSlice.ts
Labels: none

test(integration): add HEART metrics and unified audit repository tests
  pyproject.toml
  src/mcp_server_langgraph/middleware/rate_limiter.py
  tests/integration/api/test_heart_metrics.py
  tests/integration/audit/test_postgres_unified_audit_repository.py
Labels: tests, dependencies, config

test(auth): add DPoP enforcement mode tests (RFC 9449)
  tests/unit/auth/test_dpop_middleware.py
Labels: tests

feat(auth): add DPoP enforcement mode configuration (RFC 9449)
  pyproject.toml
  src/mcp_server_langgraph/auth/middleware.py
  src/mcp_server_langgraph/core/config.py
  tests/integration/auth/test_sso_flow.py
  tests/meta/test_local_ci_parity.py
Labels: tests, dependencies, config

chore(scripts): add frontend test runner with CI parity
  Makefile
  scripts/test-frontend.sh
Labels: ci-cd

chore(make): add test-frontend-ci target
  Makefile
Labels: ci-cd

test(integration): add LGTM client and Qdrant bootstrap tests
  tests/integration/observability/test_lgtm_client_integration.py
  tests/integration/vectors/test_qdrant_bootstrap.py
Labels: tests

feat(auth): add OAuth2 security hardening and session fingerprinting
  .github/workflows/ci.yaml
  docker-compose.test.yml
  pyproject.toml
  scripts/test-frontend.sh
  src/mcp_server_langgraph/api/v1/auth.py
  src/mcp_server_langgraph/app.py
  src/mcp_server_langgraph/auth/session_fingerprint.py
  src/mcp_server_langgraph/studio/frontend/package.json
  tests/api/test_auth_oauth2.py
  tests/integration/auth/test_oauth2_e2e.py
  tests/integration/auth/test_sso_flow.py
  tests/meta/test_local_ci_parity.py
  tests/unit/auth/test_session_fingerprint.py
Labels: tests, ci-cd, dependencies, docker, config

feat(auth): implement OpenFGA OIDC authentication (defense-in-depth)
  .env.test
  adr/adr-0070-openfga-oidc-authentication.md
  docker-compose.test.yml
  src/mcp_server_langgraph/api/v1/auth.py
  src/mcp_server_langgraph/auth/openfga.py
  src/mcp_server_langgraph/authz_proxy/server.py
  src/mcp_server_langgraph/core/config.py
  src/mcp_server_langgraph/mcp/server_streamable.py
  src/mcp_server_langgraph/studio/frontend/src/components/Layout/Sidebar.tsx
  src/mcp_server_langgraph/studio/security/__init__.py
  src/mcp_server_langgraph/utils/__init__.py
  src/mcp_server_langgraph/utils/spa_static_files.py
  tests/api/test_auth_oauth2.py
  tests/e2e/default-realm.json
  tests/integration/auth/test_openfga_oidc.py
  tests/security/test_studio_security.py
  tests/unit/auth/test_openfga_oidc_client.py
Labels: documentation, tests, docker, config

chore(studio): update OnboardingModal component
  src/mcp_server_langgraph/studio/frontend/src/components/Onboarding/OnboardingModal.tsx
Labels: none

feat(auth): complete OpenFGA OIDC integration and security audit fixes
  .env.test
  docker-compose.test.yml
  docs/troubleshooting/openfga-oidc-troubleshooting.md
  runbooks/openfga-oidc-migration.md
  src/mcp_server_langgraph/auth/openfga.py
  src/mcp_server_langgraph/studio/frontend/src/components/Layout/CommandPalette.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Layout/NotificationBell.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/PWA/InstallPrompt.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/PWA/UpdatePrompt.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/UI/Dialog.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/UI/OfflineBanner.tsx
  src/mcp_server_langgraph/studio/frontend/src/pages/ProjectsPage.tsx
  tests/e2e/default-realm.json
  tests/unit/auth/test_openfga_oidc_client.py
Labels: documentation, tests, docker, config

fix(config): ensure consistent Keycloak issuer URL for OpenFGA OIDC
  docker-compose.test.yml
Labels: docker, config

feat(api): add HEART analytics endpoints with metrics aggregation
  src/mcp_server_langgraph/api/v1/analytics.py
  tests/api/test_analytics_heart.py
Labels: tests

feat(api): add hallucination and feedback collection endpoints
  src/mcp_server_langgraph/api/v1/feedback.py
  tests/api/test_feedback.py
Labels: tests

feat(api): add WebSocket notification streaming endpoint
  src/mcp_server_langgraph/api/v1/notification_websocket.py
  tests/api/test_notification_websocket.py
Labels: tests

feat(api): add System Usability Scale (SUS) survey endpoints
  src/mcp_server_langgraph/api/v1/surveys.py
  tests/api/test_surveys.py
Labels: tests

feat(notifications): add notification broadcaster for WebSocket clients
  src/mcp_server_langgraph/notifications/__init__.py
  src/mcp_server_langgraph/notifications/broadcast.py
Labels: none

feat(ui): add admin dashboard components
  src/mcp_server_langgraph/studio/frontend/src/components/Admin/AuditLogFilters.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Admin/AuditLogFilters.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Admin/MetricCard.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Admin/MetricCard.tsx
Labels: none

feat(ui): add chat quality indicator components
  src/mcp_server_langgraph/studio/frontend/src/components/Chat/ConfidenceIndicator.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Chat/ConfidenceIndicator.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Chat/HallucinationIndicator.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Chat/HallucinationIndicator.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Chat/SessionGoalTracker.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Chat/SessionGoalTracker.tsx
Labels: none

feat(ui): add SUS survey feedback component
  src/mcp_server_langgraph/studio/frontend/src/components/Feedback/SUSSurvey.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Feedback/SUSSurvey.tsx
Labels: none

feat(ui): add onboarding wizard and guided tour components
  src/mcp_server_langgraph/studio/frontend/src/components/Onboarding/GuidedTour.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Onboarding/GuidedTour.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Onboarding/OnboardingWizard.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Onboarding/OnboardingWizard.tsx
Labels: none

feat(ui): add tier usage and upgrade prompt components
  src/mcp_server_langgraph/studio/frontend/src/components/UI/TierUsageBar.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/UI/TierUsageBar.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/UI/UpgradePrompt.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/UI/UpgradePrompt.tsx
Labels: none

feat(hooks): add HEART metrics tracker and tier limits hooks
  src/mcp_server_langgraph/studio/frontend/src/hooks/useHeartMetricsTracker.test.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useHeartMetricsTracker.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useTierLimits.test.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useTierLimits.ts
Labels: none

feat(utils): add accessibility and performance utilities
  src/mcp_server_langgraph/studio/frontend/src/utils/accessibility.test.ts
  src/mcp_server_langgraph/studio/frontend/src/utils/accessibility.ts
  src/mcp_server_langgraph/studio/frontend/src/utils/performance.test.ts
  src/mcp_server_langgraph/studio/frontend/src/utils/performance.ts
Labels: none

feat(studio): add feature flag context and design system tokens
  src/mcp_server_langgraph/studio/frontend/src/components/Help/HelpPanel.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Help/HelpPanel.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Help/index.ts
  src/mcp_server_langgraph/studio/frontend/src/components/Observability/TraceViewer.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Observability/TraceViewer.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Observability/index.ts
  src/mcp_server_langgraph/studio/frontend/src/components/Observability/types.ts
  src/mcp_server_langgraph/studio/frontend/src/contexts/FeatureFlagContext.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/contexts/FeatureFlagContext.tsx
  src/mcp_server_langgraph/studio/frontend/src/design-system/index.ts
  src/mcp_server_langgraph/studio/frontend/src/design-system/tokens.test.ts
  src/mcp_server_langgraph/studio/frontend/src/design-system/tokens.ts
Labels: none

ci(workflows): add accessibility and Lighthouse performance testing
  .github/workflows/accessibility-tests.yaml
  .github/workflows/lighthouse-ci.yaml
  src/mcp_server_langgraph/studio/frontend/lighthouse-budget.json
Labels: ci-cd

feat(auth): add OIDC name claims for improved user display
  src/mcp_server_langgraph/api/v1/user.py
  src/mcp_server_langgraph/auth/jwt_utils.py
  src/mcp_server_langgraph/studio/frontend/src/api/index.ts
  src/mcp_server_langgraph/studio/frontend/src/components/Layout/NotificationBell.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Layout/Sidebar.tsx
  src/mcp_server_langgraph/studio/frontend/src/store/slices/authSlice.ts
  src/mcp_server_langgraph/studio/frontend/src/types/auth.ts
Labels: none

feat(core): implement async patterns for non-blocking operations
  .env.test
  src/mcp_server_langgraph/api/scim.py
  src/mcp_server_langgraph/api/service_principals.py
  src/mcp_server_langgraph/api/v1/vectors.py
  src/mcp_server_langgraph/app.py
  src/mcp_server_langgraph/auth/openfga.py
  src/mcp_server_langgraph/authz_proxy/server.py
  src/mcp_server_langgraph/core/cache.py
  src/mcp_server_langgraph/core/dependencies.py
  src/mcp_server_langgraph/core/http_client.py
  src/mcp_server_langgraph/execution/sandbox.py
  src/mcp_server_langgraph/llm/factory.py
  src/mcp_server_langgraph/mcp/server_streamable.py
  src/mcp_server_langgraph/studio/frontend/src/store/slices/authSlice.ts
  tests/unit/auth/test_openfga_async_initialization.py
  tests/unit/config/test_config_validation.py
  tests/unit/core/test_cache_async.py
  tests/unit/core/test_http_client_pool.py
  tests/unit/execution/test_docker_sandbox_async.py
  tests/unit/execution/test_kubernetes_sandbox_async.py
  tests/unit/llm/test_factory_async_only.py
  tests/unit/llm/test_factory_consolidation.py
  tests/unit/mcp/test_server_streamable_core.py
Labels: tests, config

feat(vectors): add Vertex AI embedding provider for GCP Workload Identity
  pyproject.toml
  src/mcp_server_langgraph/api/v1/vectors.py
  src/mcp_server_langgraph/core/config.py
  tests/unit/api/v1/test_vectors_embedding_providers.py
  uv.lock
Labels: tests, dependencies, config

fix(monitoring): handle string timestamps in Tempo API response
  src/mcp_server_langgraph/monitoring/tempo_client.py
  tests/unit/monitoring/test_tempo_client.py
Labels: tests

fix(api): check OpenFGA client before deleting tuples in SCIM
  src/mcp_server_langgraph/api/scim.py
Labels: none

fix(auth): add null checks and type safety in auth modules
  src/mcp_server_langgraph/auth/middleware.py
  src/mcp_server_langgraph/auth/openfga.py
Labels: none

refactor(cache): remove unnecessary type ignore comments
  src/mcp_server_langgraph/core/cache.py
Labels: none

fix: type safety improvements in dpop and startup validation
  src/mcp_server_langgraph/auth/dpop.py
  src/mcp_server_langgraph/core/startup_validation.py
Labels: none

fix(auth): add type safety cast in device auth client
  src/mcp_server_langgraph/auth/device_auth.py
Labels: none

fix(auth): improve type safety and null checks in auth modules
  src/mcp_server_langgraph/api/v1/auth.py
  src/mcp_server_langgraph/auth/keycloak.py
Labels: none

fix(auth): add cast import and PAR return type annotation
  src/mcp_server_langgraph/api/v1/auth.py
Labels: none

build(docker): add Vertex AI embeddings to all Docker variants
  docker/Dockerfile
Labels: none
