Repository vishnu2kmohan/mcp-server-langgraph, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, tests, ci-cd, dependencies, docker, deployment, auth, secrets, observability, mcp, agent, config, security, community

.github/labeler.yml:

# Auto-labeler configuration for PRs
# Uses changed-files pattern matching

# Documentation
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'
      - '**/*.mdx'
      - 'docs/**/*'
      - 'mint.json'
      - '.mcp/*.json'

# Tests
tests:
  - changed-files:
    - any-glob-to-any-file:
      - 'tests/**/*'
      - '**/*test*.py'
      - 'test_*.py'
      - '*_test.py'
      - 'pytest.ini'
      - 'conftest.py'
      - 'TESTING.md'

# CI/CD
ci-cd:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**/*'
      - '.github/actions/**/*'
      - '.gitlab-ci.yml'
      - 'Makefile'
      - '.pre-commit-config.yaml'

# Dependencies
dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'requirements*.txt'
      - 'setup.py'
      - 'pyproject.toml'
      - 'poetry.lock'
      - 'package*.json'
      - 'yarn.lock'

# Docker
docker:
  - changed-files:
    - any-glob-to-any-file:
      - 'Dockerfile*'
      - 'docker-compose*.yml'
      - '.dockerignore'

# Kubernetes/Deployment
deployment:
  - changed-files:
    - any-glob-to-any-file:
      - 'kubernetes/**/*'
      - 'kustomize/**/*'
      - 'helm/**/*'
      - 'k8s/**/*'
      - 'KUBERNETES_DEPLOYMENT.md'
      - 'PRODUCTION_DEPLOYMENT.md'

# Authentication/Authorization
auth:
  - changed-files:
    - any-glob-to-any-file:
      - 'auth.py'
      - 'openfga_client.py'
      - 'setup_openfga.py'

# Secrets Management
secrets:
  - changed-files:
    - any-glob-to-any-file:
      - 'secrets_manager.py'
      - 'setup_infisical.py'

# Observability
observability:
  - changed-files:
    - any-glob-to-any-file:
      - 'observability.py'
      - 'health_check.py'
      - 'monitoring/**/*'
      - 'grafana/**/*'

# MCP Server
mcp:
  - changed-files:
    - any-glob-to-any-file:
      - 'mcp_server*.py'
      - 'examples/*client*.py'

# Agent/Core
agent:
  - changed-files:
    - any-glob-to-any-file:
      - 'agent.py'
      - 'graph.py'
      - 'models.py'
      - 'prompt*.py'

# Configuration
config:
  - changed-files:
    - any-glob-to-any-file:
      - 'config.py'
      - '.env*'
      - 'settings.py'
      - '*.yaml'
      - '*.yml'
      - '*.toml'
      - '*.ini'
      - '.editorconfig'

# Security
security:
  - changed-files:
    - any-glob-to-any-file:
      - 'auth.py'
      - 'secrets_manager.py'
      - 'openfga_client.py'
      - 'SECURITY*.md'
      - '.github/workflows/security-scan.yaml'
      - 'scripts/validate_production.py'

# Community
community:
  - changed-files:
    - any-glob-to-any-file:
      - 'CODE_OF_CONDUCT.md'
      - 'CONTRIBUTING.md'
      - 'DEVELOPMENT.md'
      - '.github/SUPPORT.md'
      - '.github/FUNDING.yml'
      - '.github/ISSUE_TEMPLATE/**/*'
      - '.github/PULL_REQUEST_TEMPLATE.md'

chore(alembic): add merge migration for traces and db connections heads
  alembic/versions/65ec89011b7b_merge_langgraph_traces_and_db_.py
Labels: none

chore(deps): add sql.js dependency for frontend SQL execution
  src/mcp_server_langgraph/studio/frontend/package-lock.json
Labels: none

chore(frontend): increase test shards from 100 to 150
  src/mcp_server_langgraph/studio/frontend/scripts/run-tests-sharded.sh
Labels: none

refactor(frontend): rename test-id chat-input-pill to chat-input-form
  src/mcp_server_langgraph/studio/frontend/src/components/Chat/ChatInput.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Chat/ChatInput.tsx
  src/mcp_server_langgraph/studio/frontend/src/conversation/ConnectedChatInputForm.telemetry.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/conversation/ConnectedChatInputForm.test.tsx
Labels: none

feat(frontend): add resize handle to DevToolsPanel
  src/mcp_server_langgraph/studio/frontend/src/components/DevTools/DevToolsPanel.tsx
Labels: none

fix(frontend): improve CostPage accessibility
  src/mcp_server_langgraph/studio/frontend/src/pages/CostPage.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/pages/CostPage.tsx
Labels: none

test(frontend): add getBoundingClientRect mock for chart components
  src/mcp_server_langgraph/studio/frontend/src/components/Connection/CapabilitiesTab.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/test/setup.ts
Labels: none

test(frontend): improve DevTools and Connection component test mocking
  src/mcp_server_langgraph/studio/frontend/src/components/DevTools/tabs/AIInsightsTab.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/DevTools/tabs/TracesTab.test.tsx
Labels: none

test(frontend): fix WorkflowsPage tests for lazy-loaded components
  src/mcp_server_langgraph/studio/frontend/src/pages/__tests__/WorkflowsPage.core.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/pages/__tests__/WorkflowsPage.fixtures.tsx
Labels: none

fix(frontend): fix SharedWorkflowsList Radix color class duplication
  src/mcp_server_langgraph/studio/frontend/src/components/Workflow/SharedWorkflowsList.tsx
Labels: none

test(frontend): update color utility tests for Radix color scale
  src/mcp_server_langgraph/studio/frontend/src/utils/colors.test.ts
Labels: none

test(frontend): update design system visual test snapshots
  src/mcp_server_langgraph/studio/frontend/src/stories/__snapshots__/DesignSystem.visual.test.tsx.snap
Labels: none

feat(frontend): add jscodeshift codemod for TestProvider wrapping
  src/mcp_server_langgraph/studio/frontend/scripts/codemods/wrap-render-with-test-provider.ts
  src/mcp_server_langgraph/studio/frontend/src/test/codemods/wrap-render-with-test-provider.test.ts
Labels: none

chore(frontend): add npm scripts for test provider codemod
  src/mcp_server_langgraph/studio/frontend/package.json
Labels: none

feat(frontend): add CI mode and wait -n optimization to sharded runner
  src/mcp_server_langgraph/studio/frontend/scripts/run-tests-sharded.sh
  tests/scripts/test_sharded_runner.sh
Labels: tests

chore(ci): use sharded runner for frontend tests in CI workflow
  .github/workflows/ci.yaml
  tests/meta/test_local_ci_parity.py
Labels: tests, ci-cd

chore(make): add frontend test targets and rename test-frontend-ci
  make/help.mk
  make/infrastructure.mk
  make/testing.mk
Labels: none

chore(claude): add project rules, lib utilities, and skills
  .claude/lib/bulk_edit_utils.sh
  .claude/lib/test_utils.sh
  .claude/rules/api.md
  .claude/rules/context-efficiency.md
  .claude/rules/frontend.md
  .claude/rules/git-validation.md
  .claude/rules/python-environment.md
  .claude/rules/tests.md
  .claude/skills/coverage-gaps/SKILL.md
  .claude/skills/test-status/SKILL.md
  .gitignore
Labels: documentation

fix(storage): add contextvar user_id fallback and refresh TTL on read
  src/mcp_server_langgraph/middleware/user_context.py
  src/mcp_server_langgraph/storage/session/adapter.py
  src/mcp_server_langgraph/storage/session/manager.py
  tests/unit/auth/test_middleware_user_id.py
  tests/unit/storage/test_contextvar_adapter.py
  tests/unit/storage/test_session_manager.py
Labels: tests

fix(api): add history dedup, client fallback, and error logging
  src/mcp_server_langgraph/api/v1/chat.py
  src/mcp_server_langgraph/api/v1/sessions.py
  src/mcp_server_langgraph/core/config/_settings.py
  tests/unit/api/v1/test_chat_history_loading.py
Labels: tests

fix(frontend): eliminate dual persistence and add client history fallback
  src/mcp_server_langgraph/studio/frontend/src/conversation/ConnectedConversationPanel.handleSendMessage.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/conversation/ConnectedConversationPanel.tsx
  src/mcp_server_langgraph/studio/frontend/src/hooks/useStreamingChat.history.test.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useStreamingChat.ts
  src/mcp_server_langgraph/studio/frontend/src/types/session.ts
Labels: none

test(make): add Makefile parallelism tests
  tests/unit/test_makefile_parallelism.py
Labels: tests

chore: ignore Gemini sandbox plan temp files
  .gitignore
Labels: none

feat(frontend): add OOM detection with HeapWatchdog and OomReporter
  src/mcp_server_langgraph/studio/frontend/.gitignore
  src/mcp_server_langgraph/studio/frontend/scripts/run-tests-sharded.sh
  src/mcp_server_langgraph/studio/frontend/src/test/heapWatchdog.test.ts
  src/mcp_server_langgraph/studio/frontend/src/test/heapWatchdog.ts
  src/mcp_server_langgraph/studio/frontend/src/test/oomReporter.test.ts
  src/mcp_server_langgraph/studio/frontend/src/test/oomReporter.ts
  src/mcp_server_langgraph/studio/frontend/src/test/setup.ts
  src/mcp_server_langgraph/studio/frontend/vitest.config.ts
Labels: none

feat(ai): add centralized .ai/ directory with CORE.md and sync tooling
  .ai/CORE.md
  .ai/README.md
  .ai/build-agents.sh
  .ai/check-sync.sh
  .ai/test_build_agents.sh
  .ai/test_check_sync.sh
Labels: documentation

chore(claude): remove files promoted to global ~/.claude/
  .claude/QUICK_REFERENCE.md
  .claude/README.md
  .claude/SETTINGS.md
  .claude/commands/benchmark.md
  .claude/commands/checkpoint.md
  .claude/commands/compact-check.md
  .claude/commands/create-adr.md
  .claude/commands/create-test.md
  .claude/commands/plan-feature.md
  .claude/commands/pr-checks.md
  .claude/commands/research.md
  .claude/commands/resume.md
  .claude/commands/review-pr.md
  .claude/commands/tdd.md
  .claude/commands/test-summary.md
  .claude/commands/verify-tests.md
  .claude/handoff/blockers.md
  .claude/handoff/last-session.md
  .claude/handoff/next-steps.md
  .claude/lib/bulk_edit_utils.sh
  .claude/lib/test_utils.sh
  .claude/memory/anti-patterns.md
  .claude/memory/decision-trees.md
  .claude/memory/frontmatter-conventions.md
  .claude/memory/progressive-disclosure.md
  .claude/memory/session-workflow-patterns.md
  .claude/memory/task-spawn-error-prevention-strategy.md
  .claude/memory/tool-patterns.md
  .claude/skills/coverage-gaps/SKILL.md
  .claude/skills/test-status/SKILL.md
  .claude/templates/README.md
  .claude/templates/adr-template.md
  .claude/templates/api-design-template.md
  .claude/templates/bug-investigation-template.md
  .claude/templates/progress-tracking.md
  .claude/templates/runbook-template.md
  .claude/templates/sprint-planning.md
  .claude/templates/technical-analysis.md
Labels: documentation

chore(claude): update remaining project-local .claude/ configs
  .claude/CLAUDE.md
  .claude/commands/README.md
  .claude/commands/quick-debug.md
  .claude/settings.json
Labels: documentation

feat(ai): add Codex and Gemini tool-specific configs
  .codex/instructions.md
  .gemini/GEMINI.md
Labels: documentation

chore: update cross-cutting AI assistant references
  .cursorrules
  .github/copilot-instructions.md
  .gitignore
  AGENTS.md
Labels: documentation

feat(skills): support metadata extraction and allowed-tools normalization
  src/mcp_server_langgraph/skills/loader.py
  src/mcp_server_langgraph/skills/models.py
  tests/unit/skills/test_skill_loader.py
  tests/unit/skills/test_skill_models.py
Labels: tests

refactor(skills): restructure root skill frontmatter per agentskills.io spec
  skills/code-review/SKILL.md
  skills/data-synthesis/SKILL.md
  skills/deployment/SKILL.md
  skills/document-analysis/SKILL.md
  skills/gdpr-audit/SKILL.md
  skills/hipaa-audit/SKILL.md
  skills/security-scan/SKILL.md
  skills/test-generation/SKILL.md
  skills/web-research/SKILL.md
Labels: documentation

feat(claude): add allowed-tools and invocation controls to project commands
  .claude/commands/cleanup-worktrees.md
  .claude/commands/debug-auth.md
  .claude/commands/deploy-dev.md
  .claude/commands/fix-issue.md
  .claude/commands/lint.md
  .claude/commands/refresh-context.md
  .claude/commands/setup-env.md
  .claude/commands/test-all.md
  .claude/commands/validate.md
Labels: documentation

chore(claude): add skill validation script and update commands README
  .claude/commands/README.md
  scripts/validate_skills.py
Labels: documentation

sync beads
  .beads/.gitignore
  .beads/README.md
  .beads/config.yaml
  .beads/hooks/post-checkout
  .beads/hooks/post-merge
  .beads/hooks/pre-commit
  .beads/hooks/pre-push
  .beads/hooks/prepare-commit-msg
  .beads/interactions.jsonl
  .beads/metadata.json
  .gitattributes
Labels: documentation

add Benchmark (pytest) benchmark result for 4d24ec23d7420a8d2a6ac0a239701c8ae373b56a
  dev/bench/data.js
Labels: none

switch from hyphens to underscores for the dolt database
  .beads/metadata.json
Labels: none

add Benchmark (pytest) benchmark result for b7ae0fd85e9182411364f88e96beb1d524a6442c
  dev/bench/data.js
Labels: none

bd migrate-sync: initial sync branch setup
  .beads/issues.jsonl
  .beads/metadata.json
Labels: none

fix(tests,docs): resolve pre-push hook failures
  docs/api-reference/connection-templates.mdx
  docs/architecture/adr-0070-openfga-oidc-authentication.mdx
  docs/architecture/adr-0072-bootstrap-phase-architecture.mdx
  docs/architecture/adr-0074-ai-suggestions-streaming-cost-tracking.mdx
  docs/architecture/adr-0078-multi-agent-orchestrator-patterns.mdx
  docs/architecture/adr-0079-multi-framework-tool-parity.mdx
  docs/architecture/adr-0086-security-audit-keycloak-openfga.mdx
  docs/architecture/adr-0097-nan-safety-api-response-models.mdx
  docs/guides/alert-management.mdx
  docs/guides/api-migration-guide.mdx
  docs/guides/devtools.mdx
  docs/guides/hitl-confidence.mdx
  docs/guides/native-tools.mdx
  docs/guides/prompt-injection-protection.mdx
  docs/guides/push-notifications.mdx
  docs/guides/sdk-hooks.mdx
  scripts/audit/audit_xdist_groups.py
  scripts/hooks/parallel_pre_push.sh
  tests/contract/test_openapi_schema_validation.py
  tests/contract/test_rest_api_authorization_parity.py
  tests/contract/test_websocket_endpoint_parity.py
  tests/integration/api/v1/test_references_integration.py
  tests/integration/dataflow/test_audit_flow_e2e.py
  tests/integration/execution/test_bypass_mode_flow.py
  tests/integration/vectors/test_semantic_index_manager_qdrant.py
  tests/unit/api/v1/test_user_persona_response.py
Labels: documentation, tests

fix(hooks): resolve pre-push hook drift detection failures
  .pre-commit-config.yaml
  scripts/hooks/parallel_pre_push.sh
Labels: ci-cd, config
