Repository vishnu2kmohan/mcp-server-langgraph, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, tests, ci-cd, dependencies, docker, deployment, auth, secrets, observability, mcp, agent, config, security, community

fix(tests): increase performance test tolerance to prevent flaky failures
  tests/meta/test_validate_fast_inline.py
Labels: tests

refactor(observability): replace Jaeger with Tempo for distributed tracing
  docker-compose.test.yml
Labels: docker, config

test(meta): recognize optimized Keycloak builds in codex validation tests
  tests/meta/test_codex_findings_validation.py
Labels: tests

fix(validators): recognize optimized Keycloak builds in config validator
  scripts/validators/validate_keycloak_config.py
Labels: none

add Benchmark (pytest) benchmark result for 5203ff7c84b5a5ba94bd4800eda80f1254e403dc
  dev/bench/data.js
Labels: none

fix(builder): resolve TypeScript strict mode errors in frontend
  src/mcp_server_langgraph/builder/frontend/src/App.tsx
  src/mcp_server_langgraph/builder/frontend/src/components/NodeConfigModal.tsx
  src/mcp_server_langgraph/builder/frontend/src/components/SessionTimeoutWarning.tsx
  src/mcp_server_langgraph/builder/frontend/src/hooks/useHeartMetrics.ts
Labels: none

fix(ci): resolve kustomize test file path and npm ci build failures
  .gitignore
  src/mcp_server_langgraph/builder/frontend/package-lock.json
Labels: none

fix(docker): copy src/ before uv sync in playground and builder Dockerfiles
  docker/Dockerfile.builder
  docker/Dockerfile.playground
Labels: none

fix(builder): exclude test files from TypeScript production build
  src/mcp_server_langgraph/builder/frontend/tsconfig.json
Labels: none

fix(docker): configure Loki tmpfs with correct UID for non-root operation
  docker-compose.test.yml
Labels: docker, config

security: configure Qdrant and Traefik for non-root execution
  docker-compose.test.yml
Labels: docker, config

fix(test-infra): add builder and playground services to integration tests
  scripts/test-integration.sh
  tests/integration/builder/test_builder_api_integration.py
  tests/integration/playground/test_playground_api_integration.py
Labels: tests

test: skip builder/playground integration tests pending infrastructure
  docs/architecture/adr-0005-pydantic-ai-integration.mdx
  docs/architecture/adr-0024-agentic-loop-implementation.mdx
  docs/architecture/adr-0041-postgresql-gdpr-storage.mdx
  docs/architecture/adr-0044-test-infrastructure-quick-wins.mdx
  docs/architecture/adr-0045-test-infrastructure-phase-2-foundation.mdx
  docs/architecture/adr-0048-postgres-storage-integration-tests.mdx
  docs/architecture/adr-0064-pre-commit-hooks-strategy.mdx
  tests/builder/test_builder_observability.py
  tests/integration/builder/test_builder_api_integration.py
  tests/integration/playground/test_playground_api_integration.py
Labels: documentation, tests

test: skip fixture cleanup tests when CI lacks infrastructure
  tests/integration/test_fixture_cleanup.py
Labels: tests

chore(deps): align service versions for cloud parity
  deployments/base/redis-session-deployment.yaml
  deployments/kubernetes/kong/redis-deployment.yaml
  deployments/optimized/redis-session-deployment.yaml
  docker-compose.dev.yml
  docker-compose.minimal.yml
  docker-compose.test.yml
  docker/docker-compose.yml
Labels: docker, config

fix(observability): fix Alloy health check and Loki timestamp rejection
  docker-compose.test.yml
  docker/loki/loki-config.yaml
Labels: docker, config

docs: add ADR-0067 and lessons learned for Grafana LGTM stack
  .claude/CLAUDE.md
  .claude/memory/distroless-container-healthchecks.md
  README.md
  adr/README.md
  adr/adr-0067-grafana-lgtm-stack-migration.md
  docs/architecture/adr-0067-grafana-lgtm-stack-migration.mdx
  docs/architecture/overview.mdx
  docs/docs.json
Labels: documentation

fix(builder): add package-lock.json for reproducible npm ci builds
  src/mcp_server_langgraph/builder/frontend/package-lock.json
Labels: none

feat(ci): add builder and playground services to integration test infrastructure
  scripts/test-integration.sh
Labels: none

fix(builder): fix TypeScript compilation errors for Docker build
  src/mcp_server_langgraph/builder/frontend/src/App.test.tsx
  src/mcp_server_langgraph/builder/frontend/src/hooks/useHeartMetrics.ts
  src/mcp_server_langgraph/builder/frontend/tsconfig.json
Labels: none

fix: incorporate CI fixes from fix/ci-failures-kustomize-and-npm
  README.md
  adr/README.md
  adr/adr-0067-non-root-container-security.md
  docker-compose.test.yml
  docker/Dockerfile.builder
  docker/Dockerfile.playground
  docs/architecture/adr-0067-non-root-container-security.mdx
  docs/architecture/overview.mdx
  docs/docs.json
  src/mcp_server_langgraph/builder/frontend/package-lock.json
Labels: documentation, docker, config

fix(observability): add start_period to loki-test healthcheck
  docker-compose.test.yml
Labels: docker, config

fix(frontend): resolve TypeScript compilation errors in test files
  src/mcp_server_langgraph/builder/frontend/src/App.test.tsx
  src/mcp_server_langgraph/builder/frontend/src/App.tsx
  src/mcp_server_langgraph/builder/frontend/src/components/NodeConfigModal.test.tsx
  src/mcp_server_langgraph/builder/frontend/src/components/NodeConfigModal.tsx
  src/mcp_server_langgraph/builder/frontend/src/components/SessionTimeoutWarning.test.tsx
  src/mcp_server_langgraph/builder/frontend/src/components/SessionTimeoutWarning.tsx
  src/mcp_server_langgraph/builder/frontend/src/hooks/useHeartMetrics.test.ts
  src/mcp_server_langgraph/builder/frontend/src/hooks/useHeartMetrics.ts
  src/mcp_server_langgraph/builder/frontend/src/hooks/useSessionTimeout.test.ts
  src/mcp_server_langgraph/builder/frontend/src/hooks/useWebSocket.test.ts
  src/mcp_server_langgraph/builder/frontend/src/hooks/useWorkflowValidation.test.ts
  src/mcp_server_langgraph/builder/frontend/src/test/setup.ts
  src/mcp_server_langgraph/builder/frontend/src/vitest.d.ts
Labels: none

fix(observability): remove noexec from loki tmpfs to fix WAL operations
  docker-compose.test.yml
Labels: docker, config

fix(observability): add Loki user/group permissions for tmpfs mount
  docker-compose.test.yml
Labels: docker, config

fix(observability): remove non-existent Grafana dashboard directories
  monitoring/grafana/dashboards.yml
Labels: observability

fix(tests): correct redis_sessions port from 9380 to 9379
  tests/fixtures/docker_fixtures.py
  tests/integration/observability/__init__.py
  tests/integration/observability/test_lgtm_stack.py
  tests/utils/worker_utils.py
Labels: tests

fix(observability): disable Loki healthcheck for distroless image
  Makefile
  docker-compose.test.yml
  docker/loki/loki-config.yaml
  tests/constants.py
Labels: tests, ci-cd, docker, config

fix(test): resolve 401 auth errors and xdist isolation issues
  docker-compose.test.yml
  docker/Dockerfile.test
  docker/postgres/init-test-databases.sh
  monitoring/grafana/datasources.yml
  src/mcp_server_langgraph/builder/api/server.py
  tests/e2e/real_clients.py
  tests/e2e/test_full_user_journey.py
  tests/e2e/test_infrastructure_validation.py
  tests/fixtures/docker_fixtures.py
  tests/integration/builder/test_builder_postgres_workflow.py
  tests/integration/builder/test_builder_redis_workflow.py
  tests/integration/compliance/test_postgres_audit_log_store.py
  tests/integration/observability/test_lgtm_stack.py
  tests/integration/playground/test_playground_mcp_integration.py
Labels: tests, docker, observability, config

fix(tests): remove invalid root import and add xdist compliance
  tests/builder/test_builder_server_integration.py
  tests/integration/observability/test_lgtm_stack.py
Labels: tests

fix(tests): update builder API info test to use correct endpoint
  tests/builder/api/test_server.py
Labels: tests

chore(k8s): update dependency versions to match LGTM stack migration
  deployments/base/openfga-deployment.yaml
  deployments/base/qdrant-deployment.yaml
  deployments/base/redis-session-deployment.yaml
Labels: none

feat(k8s): update Keycloak to GHCR optimized image with /authn route
  deployments/base/.trivyignore
  deployments/base/keycloak-deployment.yaml
  tests/unit/database/test_session.py
Labels: tests

fix(tests): use instance-level mock for xdist-safe prometheus test
  tests/monitoring/test_prometheus_client.py
Labels: tests

fix(tests): use identity comparison in test_get_engine_with_echo_enabled
  tests/unit/database/test_session.py
Labels: tests

docs: update Keycloak deployment docs with GHCR optimized image
  docs/deployment/kubernetes/gke.mdx
  docs/deployment/kubernetes/keycloak-readonly-filesystem.mdx
  docs/deployment/version-compatibility.mdx
Labels: documentation

docs: update Keycloak docs with GHCR image and /authn health paths
  .claude/memory/lgtm-stack-lessons.md
  docs/guides/keycloak-sso.mdx
  docs/integrations/keycloak.mdx
Labels: documentation

fix(docker): add memory limits and restart policies to prevent OOMs
  docker-compose.dev.yml
  docker-compose.test.yml
  docker/docker-compose.yml
Labels: docker, config

feat(docker): optimize Alembic image size and add OpenShift SCC compatibility
  docker-compose.test.yml
  docker/Dockerfile
  docker/Dockerfile.alembic
  docker/Dockerfile.builder
  docker/Dockerfile.playground
  docker/Dockerfile.test
Labels: docker, config

refactor(make): cleanup deprecated targets and add test-infra-up-build
  Makefile
Labels: ci-cd

.github/labeler.yml:

# Auto-labeler configuration for PRs
# Uses changed-files pattern matching

# Documentation
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'
      - '**/*.mdx'
      - 'docs/**/*'
      - 'mint.json'
      - '.mcp/*.json'

# Tests
tests:
  - changed-files:
    - any-glob-to-any-file:
      - 'tests/**/*'
      - '**/*test*.py'
      - 'test_*.py'
      - '*_test.py'
      - 'pytest.ini'
      - 'conftest.py'
      - 'TESTING.md'

# CI/CD
ci-cd:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**/*'
      - '.github/actions/**/*'
      - '.gitlab-ci.yml'
      - 'Makefile'
      - '.pre-commit-config.yaml'

# Dependencies
dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'requirements*.txt'
      - 'setup.py'
      - 'pyproject.toml'
      - 'poetry.lock'
      - 'package*.json'
      - 'yarn.lock'

# Docker
docker:
  - changed-files:
    - any-glob-to-any-file:
      - 'Dockerfile*'
      - 'docker-compose*.yml'
      - '.dockerignore'

# Kubernetes/Deployment
deployment:
  - changed-files:
    - any-glob-to-any-file:
      - 'kubernetes/**/*'
      - 'kustomize/**/*'
      - 'helm/**/*'
      - 'k8s/**/*'
      - 'KUBERNETES_DEPLOYMENT.md'
      - 'PRODUCTION_DEPLOYMENT.md'

# Authentication/Authorization
auth:
  - changed-files:
    - any-glob-to-any-file:
      - 'auth.py'
      - 'openfga_client.py'
      - 'setup_openfga.py'

# Secrets Management
secrets:
  - changed-files:
    - any-glob-to-any-file:
      - 'secrets_manager.py'
      - 'setup_infisical.py'

# Observability
observability:
  - changed-files:
    - any-glob-to-any-file:
      - 'observability.py'
      - 'health_check.py'
      - 'monitoring/**/*'
      - 'grafana/**/*'

# MCP Server
mcp:
  - changed-files:
    - any-glob-to-any-file:
      - 'mcp_server*.py'
      - 'examples/*client*.py'

# Agent/Core
agent:
  - changed-files:
    - any-glob-to-any-file:
      - 'agent.py'
      - 'graph.py'
      - 'models.py'
      - 'prompt*.py'

# Configuration
config:
  - changed-files:
    - any-glob-to-any-file:
      - 'config.py'
      - '.env*'
      - 'settings.py'
      - '*.yaml'
      - '*.yml'
      - '*.toml'
      - '*.ini'
      - '.editorconfig'

# Security
security:
  - changed-files:
    - any-glob-to-any-file:
      - 'auth.py'
      - 'secrets_manager.py'
      - 'openfga_client.py'
      - 'SECURITY*.md'
      - '.github/workflows/security-scan.yaml'
      - 'scripts/validate_production.py'

# Community
community:
  - changed-files:
    - any-glob-to-any-file:
      - 'CODE_OF_CONDUCT.md'
      - 'CONTRIBUTING.md'
      - 'DEVELOPMENT.md'
      - '.github/SUPPORT.md'
      - '.github/FUNDING.yml'
      - '.github/ISSUE_TEMPLATE/**/*'
      - '.github/PULL_REQUEST_TEMPLATE.md'
