Repository vishnu2kmohan/mcp-server-langgraph, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, tests, ci-cd, dependencies, docker, deployment, auth, secrets, observability, mcp, agent, config, security, community

docs(codex): add comprehensive validation report for all deployment fixes
  docs-internal/CODEX_VALIDATION_REPORT.md
  tests/deployment/test_codex_findings_validation.py
Labels: documentation, tests

add Benchmark (pytest) benchmark result for f41ef972081f846a204c9c45fd1462e433636326
  dev/bench/data.js
Labels: none

feat(terraform): add Cloud DNS module for staging environment
  terraform/modules/cloud-dns-staging/main.tf
  terraform/modules/cloud-dns-staging/outputs.tf
  terraform/modules/cloud-dns-staging/variables.tf
Labels: none

docs(terraform): add Cloud DNS staging module documentation
  terraform/modules/cloud-dns-staging/README.md
Labels: documentation

style(terraform): auto-format staging environment config
  terraform/environments/staging/main.tf
  terraform/environments/staging/variables.tf
Labels: none

add Benchmark (pytest) benchmark result for 02a0f70867b1031d9cdf784ae3d2b99af1516fad
  dev/bench/data.js
Labels: none

fix(scripts): remove unused variable in Cloud DNS setup script
  scripts/setup-cloud-dns-staging.sh
Labels: none

add Benchmark (pytest) benchmark result for 25fc5fa6cf28edf840718fc1694e03747fa48a82
  dev/bench/data.js
Labels: none

add Benchmark (pytest) benchmark result for 326bc3e78a2634016aa0be06019c17dd38dd6537
  dev/bench/data.js
Labels: none

feat(dns,deployment): Cloud DNS for staging + failover verification (TDD)
  .gitignore
  deployments/overlays/staging-gke/configmap-patch.yaml
  deployments/overlays/staging-gke/deployment-patch.yaml
  deployments/overlays/staging-gke/redis-session-service-patch.yaml
  scripts/setup-cloud-dns-staging.sh
  scripts/verify-dns-failover.sh
  tests/deployment/pytest.ini
  tests/deployment/test_dns_failover_verification.py
Labels: tests

add Benchmark (pytest) benchmark result for 20ab627023ad280cb113a1fba1e9b8bb8aa4c6b5
  dev/bench/data.js
Labels: none

fix(core,init): resolve 3 OpenAI Codex findings with TDD approach
  src/mcp_server_langgraph/__init__.py
  src/mcp_server_langgraph/core/cache.py
  tests/conftest.py
  tests/deployment/test_kustomize_build.py
  tests/test_ci_cd_validation.py
  tests/test_distributed_checkpointing.py
  tests/unit/test_cache_redis_config.py
  tests/unit/test_lazy_imports.py
Labels: tests

test(utilities): add comprehensive tests for shared test utilities
  tests/test_test_utilities.py
  tests/unit/test_observability_lazy_init.py
Labels: tests

fix(observability): implement safe logger fallback for pre-init usage
  src/mcp_server_langgraph/observability/telemetry.py
  tests/unit/test_observability_lazy_init.py
Labels: tests

feat(app,openfga,observability): resolve final 2 Codex findings with TDD
  src/mcp_server_langgraph/app.py
  src/mcp_server_langgraph/auth/openfga.py
  src/mcp_server_langgraph/observability/telemetry.py
  tests/e2e/test_full_user_journey.py
  tests/integration/test_openfga_cleanup.py
  tests/property/test_llm_properties.py
  tests/unit/test_app_factory.py
Labels: tests

test(e2e): enhance client error handling with specific exceptions
  tests/e2e/real_clients.py
  tests/e2e/test_real_clients_resilience.py
Labels: tests

feat(meta,docs): add AST-based regression prevention for Codex findings
  docs-internal/CODEX_REMEDIATION_VALIDATION_REPORT.md
  tests/meta/test_codex_regression_prevention.py
Labels: documentation, tests

add Benchmark (pytest) benchmark result for 6bcb1a0a82210b415fbd91a88359979ea7610e55
  dev/bench/data.js
Labels: none

fix(helm): resolve hyphenated key parsing and YAML syntax issues in PrometheusRule templates (TDD)
  deployments/helm/mcp-server-langgraph/prometheus-rules/langgraph-agent.yaml
  deployments/helm/mcp-server-langgraph/templates/prometheus-rules-langgraph.yaml
  deployments/helm/mcp-server-langgraph/templates/prometheus-rules-sla.yaml
  docs-internal/CODEX_FINAL_SUMMARY.md
  tests/deployment/test_helm_configuration.py
Labels: documentation, tests

fix(kustomize): replace AWS ConfigMap generator with strategic merge patch (TDD)
  deployments/kubernetes/overlays/aws/kustomization.yaml
  tests/deployment/test_kustomize_build.py
Labels: tests

add Benchmark (pytest) benchmark result for 2e13d4c81d579dfb6367549b3e12a1262cf61715
  dev/bench/data.js
Labels: none

fix(kustomize): replace GCP and Azure ConfigMap generators with strategic merge patches (TDD)
  deployments/kubernetes/overlays/azure/kustomization.yaml
  deployments/kubernetes/overlays/azure/otel-collector-configmap-patch.yaml
  deployments/kubernetes/overlays/gcp/kustomization.yaml
  deployments/kubernetes/overlays/gcp/otel-collector-configmap-patch.yaml
Labels: none

fix(kustomize): eliminate placeholder leakage in production-gke overlay (TDD)
  deployments/overlays/production-gke/config-vars.yaml
  deployments/overlays/production-gke/configmap-patch.yaml
  deployments/overlays/production-gke/environment-vars.yaml
  deployments/overlays/production-gke/ingress-patch.yaml
  deployments/overlays/production-gke/kustomization.yaml
  deployments/overlays/production-gke/otel-collector-configmap-patch.yaml
  deployments/overlays/production-gke/serviceaccount-patch.yaml
  tests/deployment/test_placeholder_validation.py
Labels: tests

fix(aws): correct container name in deployment patch to match base (TDD)
  deployments/kubernetes/overlays/aws/deployment-patch.yaml
  tests/deployment/test_kustomize_build.py
Labels: tests

fix(aws): create missing aws-config ConfigMap for Kustomize replacements (TDD)
  deployments/kubernetes/overlays/aws/aws-config.yaml
  deployments/kubernetes/overlays/aws/kustomization.yaml
Labels: none

fix(staging-gke): update secret references to match External Secrets (TDD)
  deployments/overlays/staging-gke/deployment-patch.yaml
Labels: none

fix(production-gke): remove in-cluster databases for cloud-managed services (TDD)
  deployments/overlays/production-gke/kustomization.yaml
Labels: none

fix(kustomize): standardize image retagging with full registry paths (TDD)
  deployments/overlays/production/kustomization.yaml
  deployments/overlays/staging-gke/kustomization.yaml
Labels: none

test(helm): add unit tests and values schema for chart validation (TDD)
  deployments/helm/mcp-server-langgraph/tests/deployment_test.yaml
  deployments/helm/mcp-server-langgraph/tests/prometheusrule_test.yaml
  deployments/helm/mcp-server-langgraph/values.schema.json
Labels: none

ci(workflows): add comprehensive deployment validation gates (TDD)
  .github/workflows/deployment-validation.yml
Labels: ci-cd

chore(pre-commit): add deployment validation hooks for Codex findings prevention (TDD)
  .pre-commit-config.yaml
Labels: ci-cd, config

docs(deployment): add comprehensive secret management guide
  deployments/SECRET_MANAGEMENT_GUIDE.md
Labels: documentation

docs(codex): add comprehensive remediation summary and fix values schema
  deployments/helm/mcp-server-langgraph/values.schema.json
  docs-internal/CODEX_REMEDIATION_SUMMARY.md
Labels: documentation

add Benchmark (pytest) benchmark result for c6eb82409dfa6782fb74e4f593ddbee11edc6b85
  dev/bench/data.js
Labels: none

ci(workflows): add kubeconform schema validation and helm-unittest execution (TDD)
  .github/workflows/deployment-validation.yml
Labels: ci-cd

docs(deployment): document optimized deployment directory as experimental/archived
  deployments/optimized/README.md
Labels: documentation

add Benchmark (pytest) benchmark result for 5b4a71b1f25927bb87b38c6f900cc9fba168e17f
  dev/bench/data.js
Labels: none

test: add comprehensive tests for CI/CD fixes (TDD RED phase)
  .gitleaksignore
  tests/test_gitleaks_config.py
  tests/test_validate_mintlify_docs.py
  tests/test_yaml_syntax.py
Labels: tests

fix(ci): resolve regex error in validate_mintlify_docs.py
  scripts/validate_mintlify_docs.py
Labels: none

fix(ci): correct YAML syntax in pre-commit config
  .pre-commit-config-requirements-check.yaml
Labels: config

.github/labeler.yml:

# Auto-labeler configuration for PRs
# Uses changed-files pattern matching

# Documentation
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'
      - '**/*.mdx'
      - 'docs/**/*'
      - 'mint.json'
      - '.mcp/*.json'

# Tests
tests:
  - changed-files:
    - any-glob-to-any-file:
      - 'tests/**/*'
      - '**/*test*.py'
      - 'test_*.py'
      - '*_test.py'
      - 'pytest.ini'
      - 'conftest.py'
      - 'TESTING.md'

# CI/CD
ci-cd:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**/*'
      - '.github/actions/**/*'
      - '.gitlab-ci.yml'
      - 'Makefile'
      - '.pre-commit-config.yaml'

# Dependencies
dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'requirements*.txt'
      - 'setup.py'
      - 'pyproject.toml'
      - 'poetry.lock'
      - 'package*.json'
      - 'yarn.lock'

# Docker
docker:
  - changed-files:
    - any-glob-to-any-file:
      - 'Dockerfile*'
      - 'docker-compose*.yml'
      - '.dockerignore'

# Kubernetes/Deployment
deployment:
  - changed-files:
    - any-glob-to-any-file:
      - 'kubernetes/**/*'
      - 'kustomize/**/*'
      - 'helm/**/*'
      - 'k8s/**/*'
      - 'KUBERNETES_DEPLOYMENT.md'
      - 'PRODUCTION_DEPLOYMENT.md'

# Authentication/Authorization
auth:
  - changed-files:
    - any-glob-to-any-file:
      - 'auth.py'
      - 'openfga_client.py'
      - 'setup_openfga.py'

# Secrets Management
secrets:
  - changed-files:
    - any-glob-to-any-file:
      - 'secrets_manager.py'
      - 'setup_infisical.py'

# Observability
observability:
  - changed-files:
    - any-glob-to-any-file:
      - 'observability.py'
      - 'health_check.py'
      - 'monitoring/**/*'
      - 'grafana/**/*'

# MCP Server
mcp:
  - changed-files:
    - any-glob-to-any-file:
      - 'mcp_server*.py'
      - 'examples/*client*.py'

# Agent/Core
agent:
  - changed-files:
    - any-glob-to-any-file:
      - 'agent.py'
      - 'graph.py'
      - 'models.py'
      - 'prompt*.py'

# Configuration
config:
  - changed-files:
    - any-glob-to-any-file:
      - 'config.py'
      - '.env*'
      - 'settings.py'
      - '*.yaml'
      - '*.yml'
      - '*.toml'
      - '*.ini'
      - '.editorconfig'

# Security
security:
  - changed-files:
    - any-glob-to-any-file:
      - 'auth.py'
      - 'secrets_manager.py'
      - 'openfga_client.py'
      - 'SECURITY*.md'
      - '.github/workflows/security-scan.yaml'
      - 'scripts/validate_production.py'

# Community
community:
  - changed-files:
    - any-glob-to-any-file:
      - 'CODE_OF_CONDUCT.md'
      - 'CONTRIBUTING.md'
      - 'DEVELOPMENT.md'
      - '.github/SUPPORT.md'
      - '.github/FUNDING.yml'
      - '.github/ISSUE_TEMPLATE/**/*'
      - '.github/PULL_REQUEST_TEMPLATE.md'
