Repository vishnu2kmohan/mcp-server-langgraph, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, tests, ci-cd, dependencies, docker, deployment, auth, secrets, observability, mcp, agent, config, security, community

fix(otel): remove deprecated googlecloud exporter configuration keys
  deployments/kubernetes/overlays/gcp/otel-collector-config.yaml
  deployments/kubernetes/overlays/gcp/otel-collector-configmap-patch.yaml
  deployments/overlays/production-gke/otel-collector-config.yaml
  deployments/overlays/production-gke/otel-collector-configmap-patch.yaml
  deployments/overlays/staging-gke/otel-collector-config.yaml
Labels: none

fix(meta): add exemption for non-deterministic auth override test to xfail strict enforcement
  tests/meta/test_xfail_strict_enforcement.py
Labels: tests

fix(types): resolve all MyPy type errors in session and cache modules
  src/mcp_server_langgraph/auth/session.py
  src/mcp_server_langgraph/core/cache.py
Labels: none

docs: add Session 2 completion summary and P2 validation
  SESSION_2_COMPLETION_SUMMARY.md
Labels: documentation

fix(tests): resolve pre-existing test failures blocking push
  deployments/helm/mcp-server-langgraph/values.yaml
  tests/meta/test_pytest_marker_registration.py
  tests/test_deployment_manifests.py
Labels: tests

fix(tests): add missing 'database' pytest marker registration
  pyproject.toml
Labels: dependencies, config

fix: eliminate 8x message duplication in conversation state
  src/mcp_server_langgraph/core/agent.py
Labels: none

fix(test): add production environment variables to app factory test
  .pre-commit-config.yaml
  scripts/validate_ci_cd.py
  tests/infrastructure/test_app_factory.py
Labels: tests, ci-cd, config

fix(helm): disable autoscaling in replicas unittest to fix HPA conflict
  deployments/helm/mcp-server-langgraph/tests/deployment_test.yaml
Labels: none

fix(test): replace hardcoded user IDs with worker-safe helpers
  tests/integration/test_tool_improvements.py
Labels: tests

fix: resolve regression test failures in pre-commit hook and dev dependency checks
  .claude-worktree-session
  tests/regression/test_dev_dependencies.py
  tests/regression/test_precommit_hook_dependencies.py
Labels: tests

fix: resolve pre-existing flake8 and bandit warnings blocking pre-push
  .gitignore
  scripts/validate_ci_cd.py
  scripts/validate_gke_autopilot_compliance.py
Labels: none

fix(test,types): fix gitleaks self-defeating test + MyPy pre-commit hook errors
  .pre-commit-config.yaml
  src/mcp_server_langgraph/cli/__init__.py
  src/mcp_server_langgraph/observability/json_logger.py
  src/mcp_server_langgraph/presets/quickstart.py
  tests/test_gitleaks_config.py
Labels: tests, ci-cd, config

fix(tests): accept manual stage for MyPy in meta-tests
  tests/meta/test_mypy_enforcement.py
Labels: tests

chore: untrack .claude-worktree-session file
  .claude-worktree-session
Labels: none

fix(tests,hooks): resolve regression test failures in pre-commit hook config and dev dependencies
  .pre-commit-config.yaml
  scripts/check_version_consistency.py
Labels: ci-cd, config

fix(tests): resolve integration test failures with settings injection and verify_password
  src/mcp_server_langgraph/auth/user_provider.py
  src/mcp_server_langgraph/mcp/server_stdio.py
  src/mcp_server_langgraph/tools/code_execution_tools.py
  tests/integration/test_mcp_code_execution.py
  tests/unit/test_mcp_server_settings_injection.py
  tests/unit/test_user_provider_verify_password.py
  tests/unit/tools/test_code_execution_tools.py
Labels: tests

fix(tests,hooks): resolve regression test failures in pre-commit hook config and dev dependencies (#90)
  .pre-commit-config.yaml
  scripts/check_version_consistency.py
Labels: ci-cd, config

chore(git): add pytest-testmon WAL files to .gitignore
  .gitignore
Labels: none

fix(tests): resolve integration test failures with settings injection and verify_password
  .gitignore
  src/mcp_server_langgraph/auth/user_provider.py
  src/mcp_server_langgraph/mcp/server_stdio.py
  src/mcp_server_langgraph/tools/code_execution_tools.py
  tests/integration/test_mcp_code_execution.py
  tests/unit/test_mcp_server_settings_injection.py
  tests/unit/test_user_provider_verify_password.py
  tests/unit/tools/test_code_execution_tools.py
Labels: tests

fix(tests,meta,docs): resolve OpenAI Codex findings - critical infrastructure and test fixes
  docs-internal/CODEX_FINDINGS_VALIDATION_REPORT.md
  tests/meta/test_codex_findings_validation.py
  tests/meta/test_docker_environment.py
  tests/meta/test_docker_image_contents.py
  tests/meta/test_documentation_references.py
  tests/meta/test_subprocess_safety.py
  tests/test_conftest_fixtures_plugin_enhancements.py
Labels: documentation, tests

fix(k8s,tests): resolve medium-priority Codex findings - infrastructure and test improvements
  deployments/base/deployment.yaml
  tests/conftest.py
  tests/regression/test_bearer_scheme_isolation.py
  tests/regression/test_fastapi_auth_override_sanity.py
Labels: tests

docs(codex): add test validation results to Codex findings report
  docs-internal/CODEX_FINDINGS_VALIDATION_REPORT.md
Labels: documentation

docs(hooks): comprehensive analysis of pre-commit hook configurations
  docs-internal/PRE_COMMIT_HOOKS_ANALYSIS.md
Labels: documentation

docs(tests): comprehensive analysis of CLI tool guard requirements
  docs-internal/CLI_TOOL_GUARDS_ANALYSIS.md
Labels: documentation

fix(tests): add @requires_tool guards to high-impact test files - Phase 1
  tests/deployment/test_helm_templates.py
  tests/deployment/test_kustomize_builds.py
  tests/integration/test_docker_image_assets.py
Labels: tests

fix(tests): add @requires_tool guards to medium-impact test files - CLI Tool Guards Phase 2
  tests/deployment/test_codex_findings_validation.py
  tests/deployment/test_configmap_secret_validation.py
  tests/deployment/test_dns_failover_verification.py
  tests/deployment/test_network_policies.py
  tests/deployment/test_service_accounts.py
  tests/integration/test_docker_health_checks.py
  tests/regression/test_pod_deployment_regression.py
  tests/test_deployment_manifests.py
  tests/test_kubernetes_security.py
Labels: tests

fix(tests): add @requires_tool guards to low-impact test files - CLI Tool Guards Phase 3 (COMPLETE)
  tests/deployment/test_helm_configuration.py
  tests/deployment/test_kustomize_build.py
  tests/deployment/test_placeholder_validation.py
  tests/deployment/test_service_dependencies.py
  tests/meta/test_otel_security_context.py
  tests/meta/test_trivy_scans_rendered_manifests.py
  tests/test_test_utilities.py
  tests/test_workflow_syntax.py
Labels: tests

fix(ci-cd): complete Finding #1 - remove test-runner container, use host-based execution
  scripts/test-integration.sh
  tests/conftest.py
Labels: tests

feat(testing): add xdist_group markers to 11 integration test files
  tests/integration/compliance/test_postgres_audit_log_store.py
  tests/integration/compliance/test_postgres_consent_store.py
  tests/integration/compliance/test_postgres_conversation_store.py
  tests/integration/compliance/test_postgres_preferences_store.py
  tests/integration/compliance/test_postgres_user_profile_store.py
  tests/integration/patterns/test_supervisor.py
  tests/integration/patterns/test_swarm.py
  tests/integration/test_kubernetes_health_probes.py
  tests/integration/test_pydantic_ai.py
  tests/integration/test_workflow_health_dashboard.py
  tests/integration/test_workflow_health_dashboard_bc_fix.py
Labels: tests

fix(tests): replace hardcoded user IDs with worker-safe helpers in audit log tests
  tests/integration/compliance/test_postgres_audit_log_store.py
Labels: tests

refactor(ci-cd): comprehensive OpenAI Codex findings remediation
  AGENTS.md
  deployments/overlays/production-gke/network-policy.yaml
  docker/Dockerfile
  scripts/validate_docker_image_contents.py
  tests/meta/test_fixture_validation.py
  tests/regression/test_bearer_scheme_isolation.py
  tests/regression/test_fastapi_auth_override_sanity.py
Labels: documentation, tests

fix(tests): validate and resolve OpenAI Codex integration test findings
  CHANGELOG.md
  scripts/test-integration.sh
Labels: documentation

fix(ci): resolve Docker and manifest validation failures
  .github/workflows/validate-deployments.yaml
  docker/Dockerfile
  tests/integration/test_docker_image_assets.py
Labels: tests, ci-cd

fix(tests): align test_codex_findings_validation with ADR-0053
  tests/meta/test_codex_findings_validation.py
Labels: tests

refactor(ci-cd): comprehensive OpenAI Codex findings remediation
  AGENTS.md
  deployments/overlays/production-gke/network-policy.yaml
  docker/Dockerfile
  scripts/validate_docker_image_contents.py
  tests/meta/test_fixture_validation.py
  tests/regression/test_bearer_scheme_isolation.py
  tests/regression/test_fastapi_auth_override_sanity.py
Labels: documentation, tests

fix(ci): resolve Docker and manifest validation failures
  .github/workflows/validate-deployments.yaml
  docker/Dockerfile
  tests/integration/test_docker_image_assets.py
Labels: tests, ci-cd

fix(tests): align test_codex_findings_validation with ADR-0053
  tests/meta/test_codex_findings_validation.py
Labels: tests

fix(tests): resolve regression test file path references and dev dependency issues
  Makefile
  tests/helpers/__init__.py
  tests/helpers/path_helpers.py
  tests/meta/test_path_helpers.py
  tests/regression/test_bearer_scheme_override_diagnostic.py
  tests/regression/test_service_principal_test_isolation.py
  tests/regression/test_uv_lockfile_sync.py
Labels: tests, ci-cd

feat(claude): track .claude/settings.json in version control
  .claude/settings.json
  .gitignore
Labels: none

.github/labeler.yml:

# Auto-labeler configuration for PRs
# Uses changed-files pattern matching

# Documentation
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'
      - '**/*.mdx'
      - 'docs/**/*'
      - 'mint.json'
      - '.mcp/*.json'

# Tests
tests:
  - changed-files:
    - any-glob-to-any-file:
      - 'tests/**/*'
      - '**/*test*.py'
      - 'test_*.py'
      - '*_test.py'
      - 'pytest.ini'
      - 'conftest.py'
      - 'TESTING.md'

# CI/CD
ci-cd:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**/*'
      - '.github/actions/**/*'
      - '.gitlab-ci.yml'
      - 'Makefile'
      - '.pre-commit-config.yaml'

# Dependencies
dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'requirements*.txt'
      - 'setup.py'
      - 'pyproject.toml'
      - 'poetry.lock'
      - 'package*.json'
      - 'yarn.lock'

# Docker
docker:
  - changed-files:
    - any-glob-to-any-file:
      - 'Dockerfile*'
      - 'docker-compose*.yml'
      - '.dockerignore'

# Kubernetes/Deployment
deployment:
  - changed-files:
    - any-glob-to-any-file:
      - 'kubernetes/**/*'
      - 'kustomize/**/*'
      - 'helm/**/*'
      - 'k8s/**/*'
      - 'KUBERNETES_DEPLOYMENT.md'
      - 'PRODUCTION_DEPLOYMENT.md'

# Authentication/Authorization
auth:
  - changed-files:
    - any-glob-to-any-file:
      - 'auth.py'
      - 'openfga_client.py'
      - 'setup_openfga.py'

# Secrets Management
secrets:
  - changed-files:
    - any-glob-to-any-file:
      - 'secrets_manager.py'
      - 'setup_infisical.py'

# Observability
observability:
  - changed-files:
    - any-glob-to-any-file:
      - 'observability.py'
      - 'health_check.py'
      - 'monitoring/**/*'
      - 'grafana/**/*'

# MCP Server
mcp:
  - changed-files:
    - any-glob-to-any-file:
      - 'mcp_server*.py'
      - 'examples/*client*.py'

# Agent/Core
agent:
  - changed-files:
    - any-glob-to-any-file:
      - 'agent.py'
      - 'graph.py'
      - 'models.py'
      - 'prompt*.py'

# Configuration
config:
  - changed-files:
    - any-glob-to-any-file:
      - 'config.py'
      - '.env*'
      - 'settings.py'
      - '*.yaml'
      - '*.yml'
      - '*.toml'
      - '*.ini'
      - '.editorconfig'

# Security
security:
  - changed-files:
    - any-glob-to-any-file:
      - 'auth.py'
      - 'secrets_manager.py'
      - 'openfga_client.py'
      - 'SECURITY*.md'
      - '.github/workflows/security-scan.yaml'
      - 'scripts/validate_production.py'

# Community
community:
  - changed-files:
    - any-glob-to-any-file:
      - 'CODE_OF_CONDUCT.md'
      - 'CONTRIBUTING.md'
      - 'DEVELOPMENT.md'
      - '.github/SUPPORT.md'
      - '.github/FUNDING.yml'
      - '.github/ISSUE_TEMPLATE/**/*'
      - '.github/PULL_REQUEST_TEMPLATE.md'
