Repository vishnu2kmohan/mcp-server-langgraph, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, tests, ci-cd, dependencies, docker, deployment, auth, secrets, observability, mcp, agent, config, security, community

.github/labeler.yml:

# Auto-labeler configuration for PRs
# Uses changed-files pattern matching

# Documentation
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'
      - '**/*.mdx'
      - 'docs/**/*'
      - 'mint.json'
      - '.mcp/*.json'

# Tests
tests:
  - changed-files:
    - any-glob-to-any-file:
      - 'tests/**/*'
      - '**/*test*.py'
      - 'test_*.py'
      - '*_test.py'
      - 'pytest.ini'
      - 'conftest.py'
      - 'TESTING.md'

# CI/CD
ci-cd:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**/*'
      - '.github/actions/**/*'
      - '.gitlab-ci.yml'
      - 'Makefile'
      - '.pre-commit-config.yaml'

# Dependencies
dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'requirements*.txt'
      - 'setup.py'
      - 'pyproject.toml'
      - 'poetry.lock'
      - 'package*.json'
      - 'yarn.lock'

# Docker
docker:
  - changed-files:
    - any-glob-to-any-file:
      - 'Dockerfile*'
      - 'docker-compose*.yml'
      - '.dockerignore'

# Kubernetes/Deployment
deployment:
  - changed-files:
    - any-glob-to-any-file:
      - 'kubernetes/**/*'
      - 'kustomize/**/*'
      - 'helm/**/*'
      - 'k8s/**/*'
      - 'KUBERNETES_DEPLOYMENT.md'
      - 'PRODUCTION_DEPLOYMENT.md'

# Authentication/Authorization
auth:
  - changed-files:
    - any-glob-to-any-file:
      - 'auth.py'
      - 'openfga_client.py'
      - 'setup_openfga.py'

# Secrets Management
secrets:
  - changed-files:
    - any-glob-to-any-file:
      - 'secrets_manager.py'
      - 'setup_infisical.py'

# Observability
observability:
  - changed-files:
    - any-glob-to-any-file:
      - 'observability.py'
      - 'health_check.py'
      - 'monitoring/**/*'
      - 'grafana/**/*'

# MCP Server
mcp:
  - changed-files:
    - any-glob-to-any-file:
      - 'mcp_server*.py'
      - 'examples/*client*.py'

# Agent/Core
agent:
  - changed-files:
    - any-glob-to-any-file:
      - 'agent.py'
      - 'graph.py'
      - 'models.py'
      - 'prompt*.py'

# Configuration
config:
  - changed-files:
    - any-glob-to-any-file:
      - 'config.py'
      - '.env*'
      - 'settings.py'
      - '*.yaml'
      - '*.yml'
      - '*.toml'
      - '*.ini'
      - '.editorconfig'

# Security
security:
  - changed-files:
    - any-glob-to-any-file:
      - 'auth.py'
      - 'secrets_manager.py'
      - 'openfga_client.py'
      - 'SECURITY*.md'
      - '.github/workflows/security-scan.yaml'
      - 'scripts/validate_production.py'

# Community
community:
  - changed-files:
    - any-glob-to-any-file:
      - 'CODE_OF_CONDUCT.md'
      - 'CONTRIBUTING.md'
      - 'DEVELOPMENT.md'
      - '.github/SUPPORT.md'
      - '.github/FUNDING.yml'
      - '.github/ISSUE_TEMPLATE/**/*'
      - '.github/PULL_REQUEST_TEMPLATE.md'

refactor(frontend): centralize localStorage with storage utility
  src/mcp_server_langgraph/studio/frontend/src/components/Layout/useWorkspace.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Layout/useWorkspace.tsx
  src/mcp_server_langgraph/studio/frontend/src/contexts/PreferencesContext.tsx
  src/mcp_server_langgraph/studio/frontend/src/hooks/useAccessibility.test.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useAccessibility.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useBackgroundSync.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useCommandPalette.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useHeartMetricsTracker.test.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useHeartMetricsTracker.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useMCPConnection.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useMCPWebSocket.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useNotificationWebSocket.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useOnboarding.test.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useOnboarding.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/usePromptTemplates.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/usePushNotifications.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useStreamingChat.ts
  src/mcp_server_langgraph/studio/frontend/src/utils/storage.ts
Labels: none

refactor(frontend): complete storage utility migration
  src/mcp_server_langgraph/studio/frontend/eslint.config.js
  src/mcp_server_langgraph/studio/frontend/src/api/baseQueryWithReauth.ts
  src/mcp_server_langgraph/studio/frontend/src/components/Connection/ConnectionAuditLog.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Connection/ConnectionBulkActions.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Connection/ConnectionTemplateSelector.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Layout/LeftSidebar.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Project/SessionsTab.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Project/WorkflowsTab.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Session/SessionList.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Settings/SettingsPanel.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Workflow/SharedWorkflowsList.tsx
  src/mcp_server_langgraph/studio/frontend/src/contexts/PreferencesContext.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/pages/AuthCallbackPage.tsx
  src/mcp_server_langgraph/studio/frontend/src/pages/OAuth2CallbackPage.tsx
  src/mcp_server_langgraph/studio/frontend/src/pages/SettingsPage.tsx
  src/mcp_server_langgraph/studio/frontend/src/pages/WorkflowsPage.tsx
  src/mcp_server_langgraph/studio/frontend/src/store/slices/authSlice.ts
  src/mcp_server_langgraph/studio/frontend/src/store/slices/sessionSlice.ts
  src/mcp_server_langgraph/studio/frontend/src/store/slices/uiSlice.ts
  src/mcp_server_langgraph/studio/frontend/src/store/slices/workspaceSlice.ts
Labels: none

test(frontend): add comprehensive ExportButton tests
  src/mcp_server_langgraph/studio/frontend/src/components/Chat/ExportButton.test.tsx
Labels: none

perf(frontend): add adaptive resource management for vitest
  src/mcp_server_langgraph/studio/frontend/vitest.config.ts
Labels: none

perf(frontend): add adaptive resource management for Playwright E2E
  src/mcp_server_langgraph/studio/frontend/playwright.config.ts
Labels: none

fix(frontend): add vitest worker cleanup to prevent orphan processes
  src/mcp_server_langgraph/studio/frontend/package.json
  src/mcp_server_langgraph/studio/frontend/vitest.config.ts
Labels: none

chore(frontend): add storage migration docs and validation script
  src/mcp_server_langgraph/studio/frontend/docs/STORAGE_MIGRATION.md
  src/mcp_server_langgraph/studio/frontend/scripts/check-storage-usage.sh
Labels: documentation

feat(frontend): upgrade vitest to v4 and vite to v7
  src/mcp_server_langgraph/studio/frontend/package.json
  src/mcp_server_langgraph/studio/frontend/vitest.config.ts
Labels: none

feat(shared): upgrade vitest to v4
  src/mcp_server_langgraph/shared/frontend/package.json
Labels: none

fix(frontend): update test mocks for vitest 4 and jsdom 27
  src/mcp_server_langgraph/studio/frontend/src/components/Chat/InteractiveChart.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/hooks/useFileUpload.test.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useMCPConnection.test.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useNotifications.test.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useVoiceInput.test.ts
  src/mcp_server_langgraph/studio/frontend/src/test/setup.ts
Labels: none

ci: standardize Node 22 and add vitest orphan detection
  .github/workflows/accessibility-tests.yaml
  .github/workflows/ci.yaml
  .github/workflows/docs-validation.yaml
  .github/workflows/lighthouse-ci.yaml
Labels: ci-cd

chore: add .nvmrc files for Node version consistency
  src/mcp_server_langgraph/shared/frontend/.nvmrc
  src/mcp_server_langgraph/studio/frontend/.nvmrc
Labels: none

fix(frontend): add Sandpack mock for jsdom 27 compatibility
  src/mcp_server_langgraph/studio/frontend/src/mocks/components/sandpack-react.ts
  src/mcp_server_langgraph/studio/frontend/vitest.config.ts
Labels: none

chore(frontend): update package.json version constraints
  src/mcp_server_langgraph/studio/frontend/package.json
Labels: none

docs(adr): add ADR-0076 Sandpack mock for jsdom 27 compatibility
  README.md
  adr/README.md
  adr/adr-0076-sandpack-jsdom-27-mock.md
  docs/architecture/adr-0076-sandpack-jsdom-27-mock.mdx
Labels: documentation

feat(frontend): implement Phase 1 Hybrid Canvas skeleton
  src/mcp_server_langgraph/studio/frontend/bundle-baseline.md
  src/mcp_server_langgraph/studio/frontend/docs/compliance-api-readiness.md
  src/mcp_server_langgraph/studio/frontend/docs/feature-flags-mapping.md
  src/mcp_server_langgraph/studio/frontend/docs/rbac-gaps-analysis.md
  src/mcp_server_langgraph/studio/frontend/src/layout/HybridShellLayout.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/layout/HybridShellLayout.tsx
  src/mcp_server_langgraph/studio/frontend/src/layout/index.ts
  src/mcp_server_langgraph/studio/frontend/src/router/index.tsx
  src/mcp_server_langgraph/studio/frontend/src/store/slices/canvasSlice.test.ts
  src/mcp_server_langgraph/studio/frontend/src/store/slices/canvasSlice.ts
  src/mcp_server_langgraph/studio/frontend/src/types/api.ts
  src/mcp_server_langgraph/studio/frontend/src/types/artifacts.ts
Labels: documentation

feat(frontend): implement Phase 2 Contract-First development
  src/mcp_server_langgraph/studio/frontend/src/layout/HybridShellLayout.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/layout/HybridShellLayout.tsx
  src/mcp_server_langgraph/studio/frontend/src/mocks/handlers.ts
  src/mcp_server_langgraph/studio/frontend/src/mocks/handlers/canvasHandlers.test.ts
  src/mcp_server_langgraph/studio/frontend/src/mocks/handlers/canvasHandlers.ts
  src/mcp_server_langgraph/studio/frontend/src/router/index.tsx
  src/mcp_server_langgraph/studio/frontend/src/router/loaders/canvasLoaders.test.ts
  src/mcp_server_langgraph/studio/frontend/src/router/loaders/canvasLoaders.ts
  src/mcp_server_langgraph/studio/frontend/src/router/loaders/index.ts
Labels: none

feat(frontend): implement Phase 3 RBAC persona-based navigation
  src/mcp_server_langgraph/studio/frontend/src/layout/HybridShellLayout.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/layout/HybridShellLayout.tsx
Labels: none

feat(frontend): implement Phase 4 AI-Native Features
  src/mcp_server_langgraph/studio/frontend/src/ai/BackgroundAgentPanel.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/ai/BackgroundAgentPanel.tsx
  src/mcp_server_langgraph/studio/frontend/src/ai/InlineSuggestions.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/ai/InlineSuggestions.tsx
  src/mcp_server_langgraph/studio/frontend/src/ai/index.ts
Labels: none

feat(frontend): implement Phase 5 Compliance Dashboards
  src/mcp_server_langgraph/studio/frontend/src/compliance/ComplianceDashboard.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/compliance/ComplianceDashboard.tsx
  src/mcp_server_langgraph/studio/frontend/src/compliance/FedRAMPPanel.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/compliance/FedRAMPPanel.tsx
  src/mcp_server_langgraph/studio/frontend/src/compliance/GDPRPanel.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/compliance/GDPRPanel.tsx
  src/mcp_server_langgraph/studio/frontend/src/compliance/HIPAAPanel.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/compliance/HIPAAPanel.tsx
  src/mcp_server_langgraph/studio/frontend/src/compliance/SOC2Panel.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/compliance/SOC2Panel.tsx
  src/mcp_server_langgraph/studio/frontend/src/compliance/index.ts
Labels: none

feat(frontend): implement Phase 6 Help & Accessibility
  src/mcp_server_langgraph/studio/frontend/src/help/ContextualHelp.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/help/ContextualHelp.tsx
  src/mcp_server_langgraph/studio/frontend/src/help/HelpPane.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/help/HelpPane.tsx
  src/mcp_server_langgraph/studio/frontend/src/help/KeyboardShortcuts.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/help/KeyboardShortcuts.tsx
  src/mcp_server_langgraph/studio/frontend/src/help/index.ts
Labels: none

test(frontend): add Phase 7 parity tests for Hybrid Canvas modules
  src/mcp_server_langgraph/studio/frontend/src/test/hybrid-canvas-parity.test.ts
Labels: none

feat(frontend): add Phase 7 integration for HybridShell gradual rollout
  src/mcp_server_langgraph/studio/frontend/docs/bundle-baseline.md
  src/mcp_server_langgraph/studio/frontend/src/router/guards/HybridShellGuard.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/router/guards/HybridShellGuard.tsx
  src/mcp_server_langgraph/studio/frontend/src/router/guards/index.ts
  src/mcp_server_langgraph/studio/frontend/src/router/index.tsx
  src/mcp_server_langgraph/studio/frontend/src/router/loaders/canvasLoaders.ts
  src/mcp_server_langgraph/studio/frontend/src/store/index.ts
  src/mcp_server_langgraph/studio/frontend/src/store/slices/aiContextSlice.test.ts
  src/mcp_server_langgraph/studio/frontend/src/store/slices/aiContextSlice.ts
  src/mcp_server_langgraph/studio/frontend/src/store/slices/backgroundAgentSlice.test.ts
  src/mcp_server_langgraph/studio/frontend/src/store/slices/backgroundAgentSlice.ts
  src/mcp_server_langgraph/studio/frontend/src/store/slices/canvasSlice.ts
  src/mcp_server_langgraph/studio/frontend/src/store/slices/complianceSlice.test.ts
  src/mcp_server_langgraph/studio/frontend/src/store/slices/complianceSlice.ts
  src/mcp_server_langgraph/studio/frontend/src/store/slices/helpSlice.test.ts
  src/mcp_server_langgraph/studio/frontend/src/store/slices/helpSlice.ts
  src/mcp_server_langgraph/studio/frontend/src/test/hybrid-canvas-parity.test.ts
Labels: documentation

fix(frontend): resolve test isolation issues in mock cleanup
  scripts/validation/check_testid_consistency.py
  src/mcp_server_langgraph/studio/frontend/src/hooks/useHeartMetricsTracker.test.ts
  src/mcp_server_langgraph/studio/frontend/src/pages/ProjectDetailPage.test.tsx
Labels: tests

fix(frontend): add vitest worker cleanup to prevent orphan processes
  .claude/context/testing-patterns.md
  adr/adr-0076-sandpack-jsdom-27-mock.md
  src/mcp_server_langgraph/studio/frontend/src/test/setup.ts
Labels: documentation

feat(hooks): implement Claude Agent SDK hook system (Phase 1)
  .pre-commit-config.yaml
  src/mcp_server_langgraph/core/hook_registry.py
  src/mcp_server_langgraph/core/hooks.py
  src/mcp_server_langgraph/mcp/handlers/base.py
  src/mcp_server_langgraph/mcp/handlers/chat.py
  src/mcp_server_langgraph/tools/sdk_adapter.py
  tests/unit/core/test_hook_registry.py
  tests/unit/core/test_hooks.py
  tests/unit/mcp/test_handler_hooks.py
  tests/unit/tools/test_sdk_adapter.py
Labels: tests, ci-cd, config

feat(hooks): implement interrupt capability (Phase 2)
  src/mcp_server_langgraph/api/v1/interrupt.py
  src/mcp_server_langgraph/core/interrupt.py
  src/mcp_server_langgraph/mcp/handlers/interrupt.py
  src/mcp_server_langgraph/mcp/models.py
  tests/unit/api/test_interrupt_endpoint.py
  tests/unit/core/test_agent_interrupt.py
  tests/unit/core/test_interrupt.py
  tests/unit/mcp/test_interrupt_handler.py
Labels: tests

feat(checkpointing): implement file checkpointing (Phase 3)
  src/mcp_server_langgraph/core/file_journal.py
  src/mcp_server_langgraph/core/file_rewind.py
  tests/unit/core/test_file_journal.py
  tests/unit/core/test_file_rewind.py
Labels: tests

feat(core): implement Phase 4 - Structured Output Validation
  src/mcp_server_langgraph/core/output_format.py
  src/mcp_server_langgraph/core/schema_validator.py
  tests/unit/core/test_output_format.py
  tests/unit/core/test_schema_validator.py
Labels: tests

feat(agents): implement Phase 6 - Enhanced Subagent Definition
  src/mcp_server_langgraph/agents/definition.py
  tests/unit/agents/test_agent_definition.py
Labels: tests

fix(tests): enable PII tokenization feature flag in test fixtures
  .pre-commit-config.yaml
  tests/compliance/conftest.py
  tests/integration/conftest.py
  tests/unit/privacy/conftest.py
Labels: tests, ci-cd, config

feat(tools): implement Phase 1 Foundation - Tool Examples, Think Tool, Defer Loading
  src/mcp_server_langgraph/tools/defer_loading.py
  src/mcp_server_langgraph/tools/examples.py
  src/mcp_server_langgraph/tools/think_tool.py
  tests/unit/tools/test_defer_loading.py
  tests/unit/tools/test_think_tool.py
  tests/unit/tools/test_tool_examples.py
Labels: tests

feat(skills): implement Phase 3 Skills System - Core, Discovery, Marketplace
  skills/code-review/SKILL.md
  skills/data-synthesis/SKILL.md
  skills/deployment/SKILL.md
  skills/document-analysis/SKILL.md
  skills/gdpr-audit/SKILL.md
  skills/hipaa-audit/SKILL.md
  skills/security-scan/SKILL.md
  skills/test-generation/SKILL.md
  skills/web-research/SKILL.md
  src/mcp_server_langgraph/skills/__init__.py
  src/mcp_server_langgraph/skills/discovery.py
  src/mcp_server_langgraph/skills/executor.py
  src/mcp_server_langgraph/skills/installer.py
  src/mcp_server_langgraph/skills/loader.py
  src/mcp_server_langgraph/skills/marketplace.py
  src/mcp_server_langgraph/skills/metrics.py
  src/mcp_server_langgraph/skills/models.py
  src/mcp_server_langgraph/skills/registry.py
  tests/integration/test_skill_execution.py
  tests/unit/mcp/test_skills_handler.py
  tests/unit/skills/test_skill_discovery.py
  tests/unit/skills/test_skill_executor.py
  tests/unit/skills/test_skill_installer.py
  tests/unit/skills/test_skill_loader.py
  tests/unit/skills/test_skill_marketplace.py
  tests/unit/skills/test_skill_metrics.py
  tests/unit/skills/test_skill_models.py
  tests/unit/skills/test_skill_registry.py
Labels: documentation, tests

feat(packaging): implement Phase 5 Desktop Extensions - .mcpb packaging
  packaging/README.md
  packaging/build.py
  packaging/manifest.json
  packaging/platform/linux.json
  packaging/platform/macos.json
  packaging/platform/windows.json
  src/mcp_server_langgraph/packaging/__init__.py
  src/mcp_server_langgraph/packaging/builder.py
  src/mcp_server_langgraph/packaging/models.py
  tests/unit/packaging/test_desktop_extension.py
Labels: documentation, tests

docs(adr): add Architecture Decision Records for Anthropic Best Practices
  adr/adr-0076-sandpack-jsdom-27-mock.md
  adr/adr-0077-claude-agent-sdk-integration.md
  adr/adr-0078-multi-agent-orchestrator-patterns.md
  adr/adr-0079-multi-framework-tool-parity.md
  adr/adr-0080-llm-level-callback-system.md
  adr/adr-0081-handoff-pattern-multi-agent.md
  adr/adr-0082-mcp-client-capabilities.md
  adr/adr-0083-confidence-based-hitl-system.md
  docs-internal/ADR-0026-RESILIENCE-PATTERNS.md
  docs-internal/ADR-0072-ANTHROPIC-BEST-PRACTICES.md
  src/mcp_server_langgraph/mcp/handlers/__init__.py
  src/mcp_server_langgraph/mcp/handlers/agents.py
  src/mcp_server_langgraph/mcp/handlers/chat.py
  src/mcp_server_langgraph/mcp/handlers/execution.py
  src/mcp_server_langgraph/mcp/handlers/hooks.py
  src/mcp_server_langgraph/mcp/handlers/interrupt.py
  src/mcp_server_langgraph/mcp/handlers/orchestration.py
  src/mcp_server_langgraph/mcp/handlers/skills.py
  tests/unit/mcp/test_agents_handler.py
  tests/unit/mcp/test_elicitation_with_explanation.py
  tests/unit/mcp/test_execution_checkpoint.py
  tests/unit/mcp/test_hooks_handler.py
  tests/unit/mcp/test_mcp_executor.py
  tests/unit/mcp/test_mcp_http_transport.py
  tests/unit/mcp/test_mcp_protocol.py
  tests/unit/mcp/test_mcp_stdio_transport.py
  tests/unit/mcp/test_mcp_tool_proxy.py
  tests/unit/mcp/test_mcp_tool_registry.py
  tests/unit/mcp/test_models_output_format.py
  tests/unit/mcp/test_orchestration_handler.py
  tests/unit/mcp/test_orchestrator_resources.py
  tests/unit/mcp/test_server_integration.py
  tests/unit/mcp/test_studio_resource_naming.py
  tests/unit/mcp/test_tool_descriptions.py
Labels: documentation, tests

feat(frontend): add AI-powered code analysis to CanvasArtifact
  src/mcp_server_langgraph/studio/frontend/src/canvas/CanvasArtifact.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/canvas/CanvasArtifact.tsx
Labels: none

feat(agents): add AI-powered trace intelligence and explanations
  agent_state/sessions.json
  src/mcp_server_langgraph/agents/studio_orchestrator.py
  src/mcp_server_langgraph/api/v1/agent_requests.py
  src/mcp_server_langgraph/api/v1/ai_ux_service.py
  src/mcp_server_langgraph/mcp/elicitation.py
  src/mcp_server_langgraph/mcp/resources_orchestrator.py
  src/mcp_server_langgraph/studio/frontend/src/api/agentRequestContract.test.ts
  src/mcp_server_langgraph/studio/frontend/src/components/Chat/AgentExecutionTracePanel.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Chat/AgentExecutionTracePanel.tsx
  src/mcp_server_langgraph/studio/frontend/src/hooks/index.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useAgentRequestWebSocket.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/hooks/useAgentRequestWebSocket.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useTraceIntelligence.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/hooks/useTraceIntelligence.ts
  tests/unit/api/v1/test_agent_requests_ai_explanation.py
  tests/unit/mcp/test_elicitation_ai_explanation.py
  tests/unit/mcp/test_resources_orchestrator.py
Labels: tests

fix(frontend): update AgentExecutionTracePanel component
  src/mcp_server_langgraph/studio/frontend/src/components/Chat/AgentExecutionTracePanel.tsx
Labels: none

feat(tests): add MCP handlers unit tests
  src/mcp_server_langgraph/studio/frontend/src/api/agentRequestContract.test.ts
  tests/unit/mcp/handlers/test_hooks_handler.py
Labels: tests

test(frontend): update agentRequestContract tests
  src/mcp_server_langgraph/studio/frontend/src/api/agentRequestContract.test.ts
Labels: none
