Repository vishnu2kmohan/mcp-server-langgraph, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, tests, ci-cd, dependencies, docker, deployment, auth, secrets, observability, mcp, agent, config, security, community

.github/labeler.yml:

# Auto-labeler configuration for PRs
# Uses changed-files pattern matching

# Documentation
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'
      - '**/*.mdx'
      - 'docs/**/*'
      - 'mint.json'
      - '.mcp/*.json'

# Tests
tests:
  - changed-files:
    - any-glob-to-any-file:
      - 'tests/**/*'
      - '**/*test*.py'
      - 'test_*.py'
      - '*_test.py'
      - 'pytest.ini'
      - 'conftest.py'
      - 'TESTING.md'

# CI/CD
ci-cd:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**/*'
      - '.github/actions/**/*'
      - '.gitlab-ci.yml'
      - 'Makefile'
      - '.pre-commit-config.yaml'

# Dependencies
dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'requirements*.txt'
      - 'setup.py'
      - 'pyproject.toml'
      - 'poetry.lock'
      - 'package*.json'
      - 'yarn.lock'

# Docker
docker:
  - changed-files:
    - any-glob-to-any-file:
      - 'Dockerfile*'
      - 'docker-compose*.yml'
      - '.dockerignore'

# Kubernetes/Deployment
deployment:
  - changed-files:
    - any-glob-to-any-file:
      - 'kubernetes/**/*'
      - 'kustomize/**/*'
      - 'helm/**/*'
      - 'k8s/**/*'
      - 'KUBERNETES_DEPLOYMENT.md'
      - 'PRODUCTION_DEPLOYMENT.md'

# Authentication/Authorization
auth:
  - changed-files:
    - any-glob-to-any-file:
      - 'auth.py'
      - 'openfga_client.py'
      - 'setup_openfga.py'

# Secrets Management
secrets:
  - changed-files:
    - any-glob-to-any-file:
      - 'secrets_manager.py'
      - 'setup_infisical.py'

# Observability
observability:
  - changed-files:
    - any-glob-to-any-file:
      - 'observability.py'
      - 'health_check.py'
      - 'monitoring/**/*'
      - 'grafana/**/*'

# MCP Server
mcp:
  - changed-files:
    - any-glob-to-any-file:
      - 'mcp_server*.py'
      - 'examples/*client*.py'

# Agent/Core
agent:
  - changed-files:
    - any-glob-to-any-file:
      - 'agent.py'
      - 'graph.py'
      - 'models.py'
      - 'prompt*.py'

# Configuration
config:
  - changed-files:
    - any-glob-to-any-file:
      - 'config.py'
      - '.env*'
      - 'settings.py'
      - '*.yaml'
      - '*.yml'
      - '*.toml'
      - '*.ini'
      - '.editorconfig'

# Security
security:
  - changed-files:
    - any-glob-to-any-file:
      - 'auth.py'
      - 'secrets_manager.py'
      - 'openfga_client.py'
      - 'SECURITY*.md'
      - '.github/workflows/security-scan.yaml'
      - 'scripts/validate_production.py'

# Community
community:
  - changed-files:
    - any-glob-to-any-file:
      - 'CODE_OF_CONDUCT.md'
      - 'CONTRIBUTING.md'
      - 'DEVELOPMENT.md'
      - '.github/SUPPORT.md'
      - '.github/FUNDING.yml'
      - '.github/ISSUE_TEMPLATE/**/*'
      - '.github/PULL_REQUEST_TEMPLATE.md'

fix(frontend): align primary color scale with WCAG 2.2 AA compliance
  docs-internal/frontend/STYLE.md
  src/mcp_server_langgraph/studio/frontend/src/utils/colors.test.ts
  src/mcp_server_langgraph/studio/frontend/tailwind.config.ts
Labels: documentation

feat(frontend): add VegaLite artifact support and chart toggle accessibility
  src/mcp_server_langgraph/studio/frontend/src/components/Chat/InteractiveChart.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Chat/MarkdownContent.tsx
Labels: none

feat(agents): update model capabilities for extended thinking support
  src/mcp_server_langgraph/agents/litellm_model_sync.py
  src/mcp_server_langgraph/agents/model_registry.py
  tests/unit/agents/test_litellm_model_sync.py
  tests/unit/agents/test_model_registry.py
Labels: tests

docs(prompts): emphasize Vega-Lite/Altair for interactive charts
  src/mcp_server_langgraph/core/prompts/studio_prompt.py
Labels: none

refactor: remove authz_proxy module and related infrastructure
  .github/workflows/build-authz-proxy-image.yaml
  docker/Dockerfile.authz-proxy
  src/mcp_server_langgraph/authz_proxy/__init__.py
  src/mcp_server_langgraph/authz_proxy/dependencies.py
  src/mcp_server_langgraph/authz_proxy/server.py
  tests/integration/auth/test_openfga_playground_proxy.py
  tests/unit/authz_proxy/test_dependency_isolation.py
Labels: tests, ci-cd

refactor: consolidate websocket endpoints into unified handlers
  src/mcp_server_langgraph/api/v1/agent_request_websocket.py
  src/mcp_server_langgraph/api/v1/alert_websocket.py
  src/mcp_server_langgraph/api/v1/audit_websocket.py
  src/mcp_server_langgraph/api/v1/connection_health_ws.py
  src/mcp_server_langgraph/api/v1/mcp_task_websocket.py
  src/mcp_server_langgraph/api/v1/workflow_execution_ws.py
  tests/api/test_audit_websocket.py
  tests/api/test_connection_health_websocket.py
  tests/integration/test_agent_hitl_flow.py
  tests/unit/api/v1/test_agent_request_websocket.py
  tests/unit/api/v1/test_alert_websocket.py
  tests/unit/api/v1/test_hitl_push_notifications.py
  tests/unit/api/v1/test_mcp_task_websocket.py
  tests/unit/api/v1/test_workflow_execution_ws.py
Labels: tests

refactor(frontend): remove deprecated pages and consolidated components
  src/mcp_server_langgraph/studio/frontend/src/components/UI/OfflineBanner.stories.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/UI/OfflineBanner.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/UI/OfflineBanner.tsx
  src/mcp_server_langgraph/studio/frontend/src/pages/MCPPage.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/pages/MCPPage.tsx
  tests/e2e/test_playground_user_journey.py
Labels: tests

feat: add new backend features for session goals, bypass mode, and tools
  src/mcp_server_langgraph/agents/critique_executor.py
  src/mcp_server_langgraph/api/v1/references.py
  src/mcp_server_langgraph/api/v1/tools.py
  src/mcp_server_langgraph/auth/connection_scope.py
  src/mcp_server_langgraph/core/auth_required_detector.py
  src/mcp_server_langgraph/execution/bypass_audit.py
  src/mcp_server_langgraph/execution/bypass_manager.py
  src/mcp_server_langgraph/execution/bypass_prometheus_metrics.py
  src/mcp_server_langgraph/execution/cost_estimator.py
  src/mcp_server_langgraph/models/session_goal.py
  src/mcp_server_langgraph/repositories/session_goal.py
  src/mcp_server_langgraph/studio/ai/workflow_title_generator.py
  tests/unit/agents/test_critique_executor.py
  tests/unit/api/v1/test_auth_bypass_permission.py
  tests/unit/api/v1/test_chat_critique_integration.py
  tests/unit/api/v1/test_chat_selected_tools.py
  tests/unit/api/v1/test_references.py
  tests/unit/api/v1/test_session_goals.py
  tests/unit/api/v1/test_session_goals_audit_error.py
  tests/unit/api/v1/test_session_goals_wired.py
  tests/unit/api/v1/test_tools_router.py
  tests/unit/api/v1/test_tools_semantic_search.py
  tests/unit/auth/test_connection_scope.py
  tests/unit/core/test_auth_required_detector.py
  tests/unit/core/test_session_goal_dependency.py
  tests/unit/execution/test_bypass_audit_helpers.py
  tests/unit/execution/test_bypass_manager.py
  tests/unit/execution/test_bypass_prometheus_metrics.py
  tests/unit/execution/test_cost_estimator.py
  tests/unit/repositories/test_session_goal.py
  tests/unit/studio/ai/test_workflow_title_generator.py
Labels: tests

feat(db): add database migrations for new features
  alembic/env.py
  alembic/versions/a7b8c9d0e1f2_add_ai_predictions_table.py
  alembic/versions/b8c9d0e1f2g3_add_connection_scope.py
  alembic/versions/z6a7b8c9d0e1_add_session_goals_table.py
Labels: none

docs: update documentation for new features and improvements
  adr/README.md
  adr/adr-0102-enhanced-model-selector.md
  adr/adr-0103-websocket-authentication-requirement.md
  docs-internal/WEBSOCKET_STANDARDIZATION.md
  docs-internal/frontend/ACCESSIBILITY_IMPLEMENTATION.md
  docs-internal/frontend/DESIGN_SYSTEM_CHANGELOG.md
  docs-internal/frontend/DESIGN_SYSTEM_EXCEPTIONS.md
  docs-internal/frontend/HOOK_INTEGRATION_PATTERNS.md
  docs-internal/frontend/MCP_CONNECTIONS_FEATURE.md
  docs-internal/frontend/PENDING-BACKEND-APIS.md
  docs-internal/frontend/REFERENCE_SYNTAX.md
  docs-internal/frontend/SECURITY_XSS_PREVENTION.md
  docs-internal/frontend/STYLE.md
  docs-internal/frontend/TELEMETRY-DASHBOARD-QUERIES.md
  docs-internal/frontend/feature-flags-mapping.md
  docs-internal/frontend/testing/TESTING_PATTERNS.md
  docs-internal/operations/bypass-mode-runbook.md
  docs/api-reference/connection-templates.mdx
  docs/architecture/adr-0069-mcp-2025-11-25-upgrade.mdx
  docs/docs.json
  docs/guides/api-migration-guide.mdx
  docs/guides/studio-feature-flags.mdx
  docs/guides/studio.mdx
  docs/guides/tool-selection.mdx
Labels: documentation

chore: update Claude Code configuration and memory files
  .claude/CLAUDE.md
  .claude/context/testing-patterns.md
  .claude/memory/context-efficiency.md
  .claude/memory/execution-mode-patterns.md
  .claude/memory/helm-chart-validation.md
  .claude/memory/keycloak-oidc-issuer-pattern.md
  .claude/memory/lgtm-stack-lessons.md
  .claude/memory/make-targets.md
  .claude/memory/pre-commit-hooks-catalog.md
  .claude/memory/python-environment-usage.md
  .claude/memory/rollup-circular-dependency-pattern.md
  .github/CLAUDE.md
Labels: documentation

chore: update project configuration and changelog
  .env.test
  CHANGELOG.md
  pyproject.toml
  uv.lock
Labels: documentation, dependencies, config

feat(llm): add chat model factory and hooked chat model
  src/mcp_server_langgraph/llm/chat_model_factory.py
  src/mcp_server_langgraph/llm/hooked_chat_model.py
  src/mcp_server_langgraph/llm/litellm_chat_model.py
  src/mcp_server_langgraph/tools/constants.py
  src/mcp_server_langgraph/tools/native_handler.py
  src/mcp_server_langgraph/tools/native_registry.py
  tests/integration/tools/__init__.py
  tests/integration/tools/test_native_tools.py
  tests/integration/tools/test_tool_selection_flow.py
  tests/unit/llm/test_chat_model_factory.py
  tests/unit/llm/test_hooked_chat_model.py
  tests/unit/tools/test_constants.py
  tests/unit/tools/test_native_handler.py
  tests/unit/tools/test_native_registry.py
Labels: tests

refactor: update backend for native tool support
  src/mcp_server_langgraph/agents/model_registry.py
  src/mcp_server_langgraph/api/v1/chat.py
  src/mcp_server_langgraph/api/v1/config.py
  src/mcp_server_langgraph/api/v1/tools.py
  src/mcp_server_langgraph/core/agent_graph_builder.py
  src/mcp_server_langgraph/core/config/_settings.py
  src/mcp_server_langgraph/core/feature_flags.py
  src/mcp_server_langgraph/tools/unified_registry.py
Labels: none

refactor(frontend): update components for tool selection UX
  src/mcp_server_langgraph/studio/frontend/package.json
  src/mcp_server_langgraph/studio/frontend/scripts/check-design-system-compliance.ts
  src/mcp_server_langgraph/studio/frontend/scripts/fix-navigation-button-variants.ts
  src/mcp_server_langgraph/studio/frontend/src/api/index.ts
  src/mcp_server_langgraph/studio/frontend/src/canvas/CanvasTabs.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Chat/ChatInput.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Chat/PreferencesMenu.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Chat/ToolSelector.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Settings/SettingsDocument.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Settings/SettingsPanel.tsx
  src/mcp_server_langgraph/studio/frontend/src/contexts/PreferencesContext.tsx
  src/mcp_server_langgraph/studio/frontend/src/conversation/ConnectedChatInputForm.tsx
  src/mcp_server_langgraph/studio/frontend/src/conversation/ConnectedConversationPanel.tsx
  src/mcp_server_langgraph/studio/frontend/src/conversation/FollowUpSuggestions.tsx
  src/mcp_server_langgraph/studio/frontend/src/hooks/useAvailableTools.ts
  src/mcp_server_langgraph/studio/frontend/src/index.css
  src/mcp_server_langgraph/studio/frontend/src/layout/MobileDrawer.tsx
  src/mcp_server_langgraph/studio/frontend/src/layout/ResizeHandle.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/layout/ResizeHandle.tsx
  src/mcp_server_langgraph/studio/frontend/src/layout/SessionNav.tsx
  src/mcp_server_langgraph/studio/frontend/src/layout/StudioShellLayout.tsx
  src/mcp_server_langgraph/studio/frontend/src/pages/AgentsPage.tsx
  src/mcp_server_langgraph/studio/frontend/src/pages/ArtifactsPage.tsx
  src/mcp_server_langgraph/studio/frontend/src/pages/AuditLogPage.tsx
  src/mcp_server_langgraph/studio/frontend/src/pages/AuthCallbackPage.tsx
  src/mcp_server_langgraph/studio/frontend/src/pages/ConnectionsPage.tsx
  src/mcp_server_langgraph/studio/frontend/src/pages/CostPage.tsx
  src/mcp_server_langgraph/studio/frontend/src/pages/HelpPage.tsx
  src/mcp_server_langgraph/studio/frontend/src/pages/OAuth2CallbackPage.tsx
  src/mcp_server_langgraph/studio/frontend/src/pages/ObservabilityPage.tsx
  src/mcp_server_langgraph/studio/frontend/src/pages/ProjectDetailPage.tsx
  src/mcp_server_langgraph/studio/frontend/src/pages/ProjectsPage.tsx
  src/mcp_server_langgraph/studio/frontend/src/pages/SettingsPage.tsx
  src/mcp_server_langgraph/studio/frontend/src/pages/SharedWorkflowsPage.tsx
  src/mcp_server_langgraph/studio/frontend/src/pages/SkillsPage.tsx
  src/mcp_server_langgraph/studio/frontend/src/pages/VectorsPage.tsx
  src/mcp_server_langgraph/studio/frontend/src/pages/WorkflowsListPage.tsx
  src/mcp_server_langgraph/studio/frontend/src/pages/WorkflowsPage.tsx
  src/mcp_server_langgraph/studio/frontend/src/types/session.ts
  src/mcp_server_langgraph/studio/frontend/src/types/tools.ts
Labels: none

test: update tests for native tool support
  tests/unit/api/v1/test_tools_router.py
  tests/unit/core/test_agent_graph_retrieve_tools.py
  tests/unit/core/test_agent_graph_tool_binding.py
  tests/unit/tools/test_unified_registry.py
Labels: tests

chore: update configs for native tool support
  .env.test
  docker/keycloak/themes/agent-studio/login/resources/css/login.css
  pyproject.toml
  uv.lock
Labels: dependencies, config

feat: add native tool support with source citations
  src/mcp_server_langgraph/agents/litellm_model_sync.py
  src/mcp_server_langgraph/agents/model_registry.py
  src/mcp_server_langgraph/api/v1/chat.py
  src/mcp_server_langgraph/api/v1/sessions.py
  src/mcp_server_langgraph/api/v1/tools.py
  src/mcp_server_langgraph/core/agent_graph_builder.py
  src/mcp_server_langgraph/core/config/_settings.py
  src/mcp_server_langgraph/core/feature_flags.py
  src/mcp_server_langgraph/core/tool_executor.py
  src/mcp_server_langgraph/infrastructure/app_factory.py
  src/mcp_server_langgraph/llm/factory.py
  src/mcp_server_langgraph/storage/session/manager.py
  src/mcp_server_langgraph/storage/session/models.py
  src/mcp_server_langgraph/storage/session/postgres_manager.py
  src/mcp_server_langgraph/tools/native_handler.py
  src/mcp_server_langgraph/tools/native_metrics.py
  src/mcp_server_langgraph/tools/native_registry.py
  src/mcp_server_langgraph/tools/source_citation.py
  src/mcp_server_langgraph/websocket/__init__.py
  src/mcp_server_langgraph/websocket/base.py
  src/mcp_server_langgraph/websocket/handlers/agent_request.py
  src/mcp_server_langgraph/websocket/handlers/ai_suggestions.py
  src/mcp_server_langgraph/websocket/handlers/alert.py
  src/mcp_server_langgraph/websocket/handlers/audit.py
  src/mcp_server_langgraph/websocket/handlers/budget_alerts.py
  src/mcp_server_langgraph/websocket/handlers/connection_health.py
  src/mcp_server_langgraph/websocket/handlers/connections_realtime.py
  src/mcp_server_langgraph/websocket/handlers/cost_tracking.py
  src/mcp_server_langgraph/websocket/handlers/devtools.py
  src/mcp_server_langgraph/websocket/handlers/heart_metrics.py
  src/mcp_server_langgraph/websocket/handlers/llm_streaming.py
  src/mcp_server_langgraph/websocket/handlers/mcp.py
  src/mcp_server_langgraph/websocket/handlers/mcp_aggregated.py
  src/mcp_server_langgraph/websocket/handlers/mcp_task.py
  src/mcp_server_langgraph/websocket/handlers/metrics_broadcaster.py
  src/mcp_server_langgraph/websocket/handlers/metrics_session.py
  src/mcp_server_langgraph/websocket/handlers/notifications.py
  src/mcp_server_langgraph/websocket/handlers/orchestrator_status.py
  src/mcp_server_langgraph/websocket/handlers/trace.py
  src/mcp_server_langgraph/websocket/mixins.py
Labels: none

docs: add native tools documentation and ADRs
  adr/adr-0102-native-llm-provider-tools.md
  adr/adr-0104-message-rendering-consolidation.md
  docs-internal/WEBSOCKET_STANDARDIZATION.md
  docs/docs.json
  docs/guides/native-tools.mdx
Labels: documentation

chore: add infrastructure for native tool observability
  .claude/context/testing-patterns.md
  .env.test
  .pre-commit-config.yaml
  docker-compose.test.yml
  docker/loki/loki-config.yaml
  docker/mimir/mimir-config.yaml
  docker/mimir/rules/native-tool-alerts.yaml
  docker/mimir/rules/native-tool-recording-rules.yaml
  monitoring/grafana/dashboards/Application/native-tool-metrics.json
  monitoring/runbooks/native-tool-alerts.md
  openapi.json
  pyproject.toml
  scripts/lint_websocket_patterns.py
  scripts/refactor_subscription_responses.py
Labels: documentation, ci-cd, dependencies, docker, observability, config

refactor(frontend): consolidate conversation panel with unified message list
  src/mcp_server_langgraph/core/feature_flags.py
  src/mcp_server_langgraph/studio/frontend/.storybook/preview.tsx
  src/mcp_server_langgraph/studio/frontend/src/conversation/ConnectedConversationPanel.fixtures.tsx
  src/mcp_server_langgraph/studio/frontend/src/conversation/ConnectedConversationPanel.intelligence.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/conversation/ConnectedConversationPanel.messaging.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/conversation/ConnectedConversationPanel.rendering.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/conversation/ConnectedConversationPanel.tsx
  src/mcp_server_langgraph/studio/frontend/src/conversation/ConversationPanel.tsx
  src/mcp_server_langgraph/studio/frontend/src/conversation/UnifiedMessageList.stories.tsx
  src/mcp_server_langgraph/studio/frontend/src/conversation/UnifiedMessageList.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/conversation/UnifiedMessageList.tsx
  src/mcp_server_langgraph/studio/frontend/src/conversation/UnifiedMessageList.variants.ts
  src/mcp_server_langgraph/studio/frontend/src/mocks/handlers.ts
  src/mcp_server_langgraph/studio/frontend/src/types/chat.ts
  src/mcp_server_langgraph/studio/frontend/src/types/session.ts
Labels: none

feat(api): add SpanThinkingResponse and thinking object to SpanResponse
  src/mcp_server_langgraph/api/v1/observability.py
Labels: none

test(api): add SpanResponse thinking object format tests
  tests/unit/api/v1/test_span_response_thinking.py
Labels: tests

test(observability): add span thinking object integration tests
  tests/integration/observability/test_tempo_session_traces.py
Labels: tests

test(frontend): add Pattern 12 thinking field transform tests
  src/mcp_server_langgraph/studio/frontend/src/utils/apiTransforms.test.ts
Labels: none

docs(adr): add Pattern 12 reference to ADR-0091
  .claude/context/code-patterns.md
  adr/adr-0091-api-response-transformation-strategy.md
Labels: documentation

chore(ci): add alembic duplicate revision check hook
  .pre-commit-config.yaml
  scripts/check_alembic_duplicates.py
Labels: ci-cd, config

feat(agents): add orchestrator selection for router agent (ADR-0105)
  adr/adr-0105-orchestrator-selection.md
  src/mcp_server_langgraph/agents/__init__.py
  src/mcp_server_langgraph/agents/registry.py
  src/mcp_server_langgraph/agents/router_agent.py
  tests/unit/agents/test_orchestrator_selection.py
Labels: documentation, tests

feat(storage): add message user scoping for access control (v8)
  alembic/versions/c9d0e1f2g3h4_add_message_user_id_not_null.py
  src/mcp_server_langgraph/middleware/user_context.py
  src/mcp_server_langgraph/storage/models.py
  src/mcp_server_langgraph/storage/session/adapter.py
  src/mcp_server_langgraph/storage/session/models.py
  src/mcp_server_langgraph/storage/session/postgres_manager.py
  src/mcp_server_langgraph/storage/session/postgres_models.py
  tests/unit/storage/test_message_user_scoped.py
Labels: tests

feat(services): add message embedding service for session similarity (v8)
  deployments/helm/mcp-server-langgraph/dashboards/Application/message-embedding-metrics.json
  docker/mimir/rules/message-embedding-alerts.yaml
  monitoring/grafana/dashboards/Application/message-embedding-metrics.json
  src/mcp_server_langgraph/core/message_semantic_index.py
  src/mcp_server_langgraph/services/embedding_metrics.py
  src/mcp_server_langgraph/services/message_embedding_service.py
Labels: observability

feat(api): enhance sessions and chat API with orchestrator dispatch
  api/openapi.json
  src/mcp_server_langgraph/api/v1/agents.py
  src/mcp_server_langgraph/api/v1/ai_ux.py
  src/mcp_server_langgraph/api/v1/ai_ux_service.py
  src/mcp_server_langgraph/api/v1/chat.py
  src/mcp_server_langgraph/api/v1/session_export.py
  src/mcp_server_langgraph/api/v1/sessions.py
  src/mcp_server_langgraph/app.py
  src/mcp_server_langgraph/bootstrap/semantic.py
  src/mcp_server_langgraph/core/config/_settings.py
  src/mcp_server_langgraph/core/dependencies.py
  src/mcp_server_langgraph/core/feature_flags.py
  src/mcp_server_langgraph/core/models/execution_plan.py
Labels: none

chore(infra): update keycloak theme and add pattern monitoring
  .env.test
  docker/keycloak/themes/agent-studio/login/resources/css/login.css
  docker/mimir/rules/langgraph-pattern-alerts.yaml
  monitoring/grafana/dashboards/Application/langgraph-pattern-orchestration.json
Labels: observability, config

docs(rollout): update feature flag rollout strategy
  docs-internal/rollout/feature-flag-rollout-strategy.md
Labels: documentation

test: update test coverage for v8 and orchestrator features
  tests/integration/api/test_router_swarm_flow.py
  tests/integration/api/test_session_archive_flow.py
  tests/unit/agents/test_critique_executor.py
  tests/unit/api/v1/test_chat_message_persistence.py
  tests/unit/api/v1/test_chat_service_impl.py
  tests/unit/api/v1/test_sessions_contract.py
  tests/unit/storage/test_session_message_sources.py
  tests/unit/storage/test_session_models.py
  tests/unit/storage/test_session_repository.py
Labels: tests

fix(adr): resolve ADR numbering and sync issues
  README.md
  adr/adr-0106-native-llm-provider-tools.md
  docs/architecture/adr-0103-websocket-authentication-requirement.mdx
  docs/architecture/adr-0104-message-rendering-consolidation.mdx
  docs/architecture/adr-0105-orchestrator-selection.mdx
  docs/architecture/adr-0106-native-llm-provider-tools.mdx
Labels: documentation

fix(ci): add async fixture support to pytest fixture validator
  scripts/validators/validate_pytest_fixtures.py
Labels: tests

fix(test): add missing pytestmark declarations to test files
  tests/integration/execution/test_bypass_mode_flow.py
  tests/unit/api/v1/test_references.py
  tests/unit/api/v1/test_session_goals_wired.py
  tests/unit/auth/test_connection_scope.py
  tests/unit/core/test_agent_graph_native_tools.py
  tests/unit/core/test_auth_required_detector.py
  tests/unit/core/test_session_goal_dependency.py
  tests/unit/execution/test_bypass_audit_helpers.py
  tests/unit/execution/test_bypass_manager.py
  tests/unit/execution/test_bypass_prometheus_metrics.py
  tests/unit/execution/test_cost_estimator.py
  tests/unit/llm/test_chat_model_factory.py
  tests/unit/llm/test_hooked_chat_model.py
  tests/unit/llm/test_responses_api.py
  tests/unit/tools/test_constants.py
  tests/unit/tools/test_native_handler.py
  tests/unit/tools/test_native_registry.py
Labels: tests

fix(ci): improve pytest fixture validator accuracy
  scripts/validators/validate_pytest_fixtures.py
Labels: tests

refactor(test): rename docker test directory to docker_infra
  tests/unit/docker_infra/__init__.py
  tests/unit/docker_infra/test_seed_openfga_oidc.py
Labels: tests

feat(core): add environment detection utility module
  src/mcp_server_langgraph/core/environment.py
  tests/unit/core/test_environment.py
Labels: tests
