Repository vishnu2kmohan/mcp-server-langgraph, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, tests, ci-cd, dependencies, docker, deployment, auth, secrets, observability, mcp, agent, config, security, community

feat(studio): add SessionList component with TDD tests
  src/mcp_server_langgraph/studio/frontend/src/components/Session/SessionList.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Session/SessionList.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Session/index.ts
Labels: none

feat(studio): add ConfirmationDialog component with TDD tests
  src/mcp_server_langgraph/studio/frontend/src/components/Common/ConfirmationDialog.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Common/ConfirmationDialog.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Common/index.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useConfirmation.ts
Labels: none

feat(studio): add ConnectionStatus indicator with TDD tests
  src/mcp_server_langgraph/studio/frontend/src/components/Status/ConnectionStatus.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Status/ConnectionStatus.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Status/index.ts
Labels: none

feat(studio): add ShortcutsPanel component with TDD tests
  src/mcp_server_langgraph/studio/frontend/src/components/Common/ShortcutsPanel.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Common/ShortcutsPanel.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Common/index.ts
Labels: none

feat(studio): add ThemeToggle component with TDD tests
  src/mcp_server_langgraph/studio/frontend/src/components/Common/ThemeToggle.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Common/ThemeToggle.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Common/index.ts
Labels: none

feat(studio): add ErrorRecovery component with TDD tests
  src/mcp_server_langgraph/studio/frontend/src/components/Error/ErrorRecovery.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Error/ErrorRecovery.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Error/index.ts
Labels: none

feat(studio): add ProgressIndicator and StepProgress components with TDD tests
  src/mcp_server_langgraph/studio/frontend/src/components/Common/ProgressIndicator.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Common/ProgressIndicator.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Common/StepProgress.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Common/StepProgress.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Common/index.ts
Labels: none

feat(studio): enhance MessageActions with feedback, bookmarks, sharing, and branching
  src/mcp_server_langgraph/studio/frontend/src/components/Chat/MessageActions.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Chat/MessageActions.tsx
Labels: none

feat(studio): add Project Context Files support (Sprint 3.1)
  src/mcp_server_langgraph/studio/frontend/src/components/Context/ProjectContextBadge.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Context/ProjectContextBadge.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Context/index.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useProjectContext.test.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useProjectContext.ts
Labels: none

feat(studio): add Accessibility Settings with WCAG 2.1 AA support (Sprint 3.2)
  src/mcp_server_langgraph/studio/frontend/src/components/Settings/AccessibilitySettings.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Settings/AccessibilitySettings.tsx
  src/mcp_server_langgraph/studio/frontend/src/hooks/useAccessibility.test.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useAccessibility.ts
Labels: none

feat(studio): add Token Usage Dashboard with cost tracking (Sprint 3.3)
  src/mcp_server_langgraph/studio/frontend/src/components/Insights/TokenUsageDashboard.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Insights/TokenUsageDashboard.tsx
  src/mcp_server_langgraph/studio/frontend/src/hooks/useTokenUsage.test.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useTokenUsage.ts
Labels: none

feat(studio): add Command Palette with fuzzy search (Sprint 3.4)
  src/mcp_server_langgraph/studio/frontend/src/components/Common/CommandPalette.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Common/CommandPalette.tsx
  src/mcp_server_langgraph/studio/frontend/src/hooks/useCommandPalette.test.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useCommandPalette.ts
Labels: none

feat(studio): add Conversation Export with multiple formats (Sprint 3.5)
  src/mcp_server_langgraph/studio/frontend/src/components/Export/ExportDialog.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Export/ExportDialog.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Export/index.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useExport.test.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useExport.ts
Labels: none

feat(studio): add useNotifications hook for desktop notifications
  src/mcp_server_langgraph/studio/frontend/src/hooks/useNotifications.test.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useNotifications.ts
Labels: none

feat(studio): add drag-and-drop file upload component (Sprint 4.3)
  src/mcp_server_langgraph/studio/frontend/src/components/Artifacts/SVGArtifact.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Common/FileDropZone.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Common/FileDropZone.tsx
Labels: none

feat(studio): add rich text input component (Sprint 4.4)
  src/mcp_server_langgraph/studio/frontend/src/components/Chat/RichTextInput.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Chat/RichTextInput.tsx
Labels: none

feat(studio): add mobile optimization utilities (Sprint 4.5)
  src/mcp_server_langgraph/studio/frontend/src/hooks/useMobileOptimizations.test.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useMobileOptimizations.ts
Labels: none

feat(studio): add conversation branching system (Sprint 4.6)
  src/mcp_server_langgraph/studio/frontend/src/hooks/useBranching.test.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useBranching.ts
Labels: none

feat(studio): add prompt templates system (Sprint 4.7)
  src/mcp_server_langgraph/studio/frontend/src/hooks/usePromptTemplates.test.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/usePromptTemplates.ts
Labels: none

fix(studio): wire PreferencesProvider in main.tsx
  src/mcp_server_langgraph/studio/frontend/src/main.tsx
Labels: none

refactor(studio): rename Common/CommandPalette to GenericCommandPalette
  src/mcp_server_langgraph/studio/frontend/src/components/Common/GenericCommandPalette.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Common/GenericCommandPalette.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Common/index.ts
Labels: none

feat(api): add user preferences REST API
  src/mcp_server_langgraph/api/v1/router.py
  src/mcp_server_langgraph/api/v1/user_preferences.py
  tests/unit/api/v1/test_user_preferences.py
Labels: tests

feat(api): add session export endpoint with multi-format support
  src/mcp_server_langgraph/api/v1/router.py
  src/mcp_server_langgraph/api/v1/session_export.py
  tests/unit/api/v1/test_session_export.py
Labels: tests

feat(api): add project context endpoint for .studio/context.md support
  src/mcp_server_langgraph/api/v1/project_context.py
  src/mcp_server_langgraph/api/v1/router.py
  tests/unit/api/v1/test_project_context.py
Labels: tests

perf(frontend): add lazy loading for large conditionally-rendered components
  src/mcp_server_langgraph/studio/frontend/src/App.tsx
Labels: none

feat(core): add feature flags for UX enhancements
  src/mcp_server_langgraph/core/feature_flags.py
  tests/unit/core/test_feature_flags.py
Labels: tests

feat(frontend): add unified storage layer for localStorage consolidation
  src/mcp_server_langgraph/studio/frontend/src/utils/storage.test.ts
  src/mcp_server_langgraph/studio/frontend/src/utils/storage.ts
Labels: none

feat(studio): wire preferences sync and session export with feature flags
  src/mcp_server_langgraph/studio/frontend/src/App.tsx
  src/mcp_server_langgraph/studio/frontend/src/api/baseQueryWithReauth.ts
  src/mcp_server_langgraph/studio/frontend/src/api/index.ts
  src/mcp_server_langgraph/studio/frontend/src/components/Chat/ChatHeader.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Chat/ExportButton.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Chat/index.ts
  src/mcp_server_langgraph/studio/frontend/src/contexts/PreferencesContext.tsx
  src/mcp_server_langgraph/studio/frontend/src/types/api.ts
Labels: none

feat(security): add prompt injection detection and sanitization module
  pyproject.toml
  src/mcp_server_langgraph/security/__init__.py
  src/mcp_server_langgraph/security/prompt_injection.py
  tests/unit/security/__init__.py
  tests/unit/security/test_prompt_injection.py
Labels: tests, dependencies, config

feat(middleware): enhance rate limiter for AI endpoint protection
  src/mcp_server_langgraph/middleware/rate_limiter.py
  tests/middleware/test_rate_limiter.py
Labels: tests

feat(api): add unified AI suggestions with streaming and cost tracking
  src/mcp_server_langgraph/api/studio.py
  src/mcp_server_langgraph/api/v1/ai.py
  src/mcp_server_langgraph/api/v1/chat.py
  src/mcp_server_langgraph/api/v1/sessions.py
  src/mcp_server_langgraph/studio/ai/suggestions.py
  tests/api/test_ai_fetch_url_api.py
  tests/api/test_ai_node_config_api.py
  tests/conftest.py
  tests/unit/api/v1/test_chat_service_impl.py
  tests/unit/api/v1/test_sessions_router.py
  tests/unit/studio/ai/test_cost_tracking.py
  tests/unit/studio/ai/test_suggestion_prewarm.py
Labels: tests

feat(observability): add Grafana dashboard for AI suggestions monitoring
  deployments/helm/mcp-server-langgraph/dashboards/ai-suggestions.json
  scripts/validation/validate_dashboard.py
Labels: none

feat(frontend): update chat components and add E2E tests
  src/mcp_server_langgraph/studio/frontend/e2e/chat-ux-features.spec.ts
  src/mcp_server_langgraph/studio/frontend/package.json
  src/mcp_server_langgraph/studio/frontend/src/components/Chat/ChatDocument.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Common/ConfirmationDialog.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Common/StepProgress.tsx
  src/mcp_server_langgraph/studio/frontend/tsconfig.json
  src/mcp_server_langgraph/studio/frontend/vitest.config.ts
Labels: none

chore: update test infrastructure and add validation scripts
  .env.test
  docker-compose.test.yml
  docs-internal/TECHNICAL_DEBT.md
  scripts/validators/check_adr_sync.py
  tests/integration/security/test_authorization_fallback_controls.py
  tests/integration/security/test_scim_service_principal_openfga.py
  tests/integration/test_sla_monitoring.py
  tests/meta/validation/test_adr_sync_validation.py
Labels: documentation, tests, docker, config

docs(adr): document ADR numbering gaps [57-59]
  adr/README.md
Labels: documentation

refactor(tests): add async-mock-configured annotations
  tests/integration/test_data_deletion.py
  tests/integration/test_mcp_sampling.py
  tests/integration/test_tool_improvements.py
  tests/regression/test_bearer_scheme_isolation.py
  tests/security/test_sessions_auth_enforcement.py
  tests/unit/api/test_studio_routes.py
  tests/unit/auth/test_session_metrics_integration.py
Labels: tests

perf(frontend): optimize bundle chunking for 85% reduction
  src/mcp_server_langgraph/studio/frontend/vite.config.ts
Labels: none

refactor(tests): complete AsyncMock remediation (134 instances)
  tests/plugins/mock_fixtures_plugin.py
  tests/unit/api/test_deps.py
  tests/unit/api/v1/test_admin_router.py
  tests/unit/api/v1/test_chat_router.py
  tests/unit/api/v1/test_cost_router.py
  tests/unit/api/v1/test_global_singleton_configuration.py
  tests/unit/api/v1/test_observability_entity_filters.py
  tests/unit/api/v1/test_observability_router.py
  tests/unit/api/v1/test_project_context.py
  tests/unit/api/v1/test_session_export.py
  tests/unit/api/v1/test_sessions_router.py
  tests/unit/api/v1/test_streaming_chunk_limits.py
  tests/unit/api/v1/test_streaming_idle_timeout.py
  tests/unit/api/v1/test_streaming_outbound_rate_limit.py
  tests/unit/api/v1/test_streaming_security_integration.py
  tests/unit/api/v1/test_workflow_bootstrap.py
  tests/unit/audit/test_audit_middleware.py
  tests/unit/audit/test_audit_service.py
  tests/unit/auth/test_openfga_oidc_client.py
  tests/unit/auth/test_token_validator.py
  tests/unit/core/test_cache_async.py
  tests/unit/services/test_oauth2_service.py
  tests/unit/tools/test_search_tools.py
  tests/utils/mock_factories.py
Labels: tests

perf(frontend): implement lazy loading for heavy components
  src/mcp_server_langgraph/studio/frontend/src/components/Chat/ChatMessages.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Chat/ChatMessages.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Chat/CodeBlock.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Chat/InteractiveMermaidDiagram.tsx
Labels: none

docs: add ADRs for AI suggestions and prompt injection security
  README.md
  adr/README.md
  adr/adr-0074-ai-suggestions-streaming-cost-tracking.md
  adr/adr-0075-prompt-injection-detection.md
  docs/architecture/adr-0074-ai-suggestions-streaming-cost-tracking.mdx
  docs/architecture/adr-0075-prompt-injection-detection.mdx
  docs/internal/HOOK_PERFORMANCE.md
  docs/internal/PRE_COMMIT_HOOK_AUDIT.md
  tests/templates/QUICK_REFERENCE.md
  tests/templates/README.md
  tests/templates/test_integration_template.py
  tests/templates/test_unit_template.py
Labels: documentation, tests

.github/labeler.yml:

# Auto-labeler configuration for PRs
# Uses changed-files pattern matching

# Documentation
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'
      - '**/*.mdx'
      - 'docs/**/*'
      - 'mint.json'
      - '.mcp/*.json'

# Tests
tests:
  - changed-files:
    - any-glob-to-any-file:
      - 'tests/**/*'
      - '**/*test*.py'
      - 'test_*.py'
      - '*_test.py'
      - 'pytest.ini'
      - 'conftest.py'
      - 'TESTING.md'

# CI/CD
ci-cd:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**/*'
      - '.github/actions/**/*'
      - '.gitlab-ci.yml'
      - 'Makefile'
      - '.pre-commit-config.yaml'

# Dependencies
dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'requirements*.txt'
      - 'setup.py'
      - 'pyproject.toml'
      - 'poetry.lock'
      - 'package*.json'
      - 'yarn.lock'

# Docker
docker:
  - changed-files:
    - any-glob-to-any-file:
      - 'Dockerfile*'
      - 'docker-compose*.yml'
      - '.dockerignore'

# Kubernetes/Deployment
deployment:
  - changed-files:
    - any-glob-to-any-file:
      - 'kubernetes/**/*'
      - 'kustomize/**/*'
      - 'helm/**/*'
      - 'k8s/**/*'
      - 'KUBERNETES_DEPLOYMENT.md'
      - 'PRODUCTION_DEPLOYMENT.md'

# Authentication/Authorization
auth:
  - changed-files:
    - any-glob-to-any-file:
      - 'auth.py'
      - 'openfga_client.py'
      - 'setup_openfga.py'

# Secrets Management
secrets:
  - changed-files:
    - any-glob-to-any-file:
      - 'secrets_manager.py'
      - 'setup_infisical.py'

# Observability
observability:
  - changed-files:
    - any-glob-to-any-file:
      - 'observability.py'
      - 'health_check.py'
      - 'monitoring/**/*'
      - 'grafana/**/*'

# MCP Server
mcp:
  - changed-files:
    - any-glob-to-any-file:
      - 'mcp_server*.py'
      - 'examples/*client*.py'

# Agent/Core
agent:
  - changed-files:
    - any-glob-to-any-file:
      - 'agent.py'
      - 'graph.py'
      - 'models.py'
      - 'prompt*.py'

# Configuration
config:
  - changed-files:
    - any-glob-to-any-file:
      - 'config.py'
      - '.env*'
      - 'settings.py'
      - '*.yaml'
      - '*.yml'
      - '*.toml'
      - '*.ini'
      - '.editorconfig'

# Security
security:
  - changed-files:
    - any-glob-to-any-file:
      - 'auth.py'
      - 'secrets_manager.py'
      - 'openfga_client.py'
      - 'SECURITY*.md'
      - '.github/workflows/security-scan.yaml'
      - 'scripts/validate_production.py'

# Community
community:
  - changed-files:
    - any-glob-to-any-file:
      - 'CODE_OF_CONDUCT.md'
      - 'CONTRIBUTING.md'
      - 'DEVELOPMENT.md'
      - '.github/SUPPORT.md'
      - '.github/FUNDING.yml'
      - '.github/ISSUE_TEMPLATE/**/*'
      - '.github/PULL_REQUEST_TEMPLATE.md'
