Repository vishnu2kmohan/mcp-server-langgraph, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, tests, ci-cd, dependencies, docker, deployment, auth, secrets, observability, mcp, agent, config, security, community

style: apply black formatting to test and script files
  scripts/workflow/generate-burndown.py
  scripts/workflow/update-context-files.py
  tests/test_data_deletion.py
  tests/test_pydantic_ai.py
  tests/test_retention.py
Labels: tests

style: fix import sorting in workflow scripts
  scripts/workflow/generate-burndown.py
  scripts/workflow/update-context-files.py
Labels: none

add Benchmark (pytest) benchmark result for 563059d4bf761068045caeff8408b44ed674c5e8
  dev/bench/data.js
Labels: none

docs: comprehensive documentation audit and cleanup
  .claude/context/recent-work.md
  CHANGELOG.md
  DOCUMENTATION_AUDIT_SUMMARY.md
  docs-internal/GITHUB_ACTIONS_FIXES.md
  docs-internal/MINTLIFY_USAGE.md
  docs-internal/audits/DOCUMENTATION_AUDIT_2025-10-20_FINAL.md
  docs-internal/audits/DOCUMENTATION_AUDIT_QUICK_CHECKLIST.md
  docs-internal/audits/DOCUMENTATION_AUDIT_REPORT.md
  docs-internal/audits/DOCUMENTATION_FIXES_APPLIED.md
  docs/mint.json
Labels: documentation

chore: remove old audit reports from root (moved to docs-internal/audits/)
  DOCUMENTATION_AUDIT_QUICK_CHECKLIST.md
  DOCUMENTATION_AUDIT_REPORT.md
Labels: documentation

chore: remove old internal docs (moved to docs-internal/)
  docs/MINTLIFY_USAGE.md
  docs/deployment/GITHUB_ACTIONS_FIXES.md
  scripts/ci/check-links.py
  scripts/ci/extract-changelog.py
  scripts/ci/track-coverage.py
Labels: documentation

docs: document pip authentication fix
  PIP_AUTHENTICATION_FIX.md
Labels: documentation

chore: reorganize documentation files for better structure
  .claude/context/recent-work.md
  DOCUMENTATION_FIXES_APPLIED.md
  docs-internal/BREAKING_CHANGES.md
  docs-internal/PIP_AUTHENTICATION_FIX.md
  docs-internal/RELEASE_v2.8.0_COMMANDS.md
  docs-internal/SECURITY_REMEDIATION.md
  docs-internal/TESTING_QUICK_START.md
  docs-internal/audits/DOCUMENTATION_AUDIT_SUMMARY.md
  docs-internal/audits/INFRASTRUCTURE_AUDIT_PHASE1_SUMMARY.md
  docs-internal/audits/INFRASTRUCTURE_AUDIT_PHASE2_3_SUMMARY.md
  docs-internal/migrations/EMBEDDING_MIGRATION_GUIDE.md
  docs-internal/migrations/MIGRATION.md
  docs/releases/v2-8-0-notes.mdx
  docs/security/quickstart-security.mdx
  reports/TEST_COVERAGE_IMPROVEMENT_SUMMARY.md
Labels: documentation

refactor: Phase 1 - Clean up root directory structure
  .claude/context/recent-work.md
  docs/architecture/adr-0026-lazy-observability-initialization.mdx
Labels: documentation

fix: remove invalid shell property from cache action in composite action
  .github/actions/setup-python-deps/action.yml
Labels: ci-cd

refactor: reorganize compliance module structure
  src/mcp_server_langgraph/compliance/gdpr/data_deletion.py
  src/mcp_server_langgraph/compliance/gdpr/data_export.py
  src/mcp_server_langgraph/compliance/gdpr/storage.py
  src/mcp_server_langgraph/compliance/retention.py
  src/mcp_server_langgraph/compliance/soc2/evidence.py
Labels: none

refactor: complete compliance module reorganization with import fixes
  .claude/context/recent-work.md
  src/mcp_server_langgraph/api/gdpr.py
  src/mcp_server_langgraph/compliance/__init__.py
  src/mcp_server_langgraph/compliance/gdpr/__init__.py
  src/mcp_server_langgraph/compliance/gdpr/data_deletion.py
  src/mcp_server_langgraph/compliance/gdpr/data_export.py
  src/mcp_server_langgraph/compliance/retention.py
  src/mcp_server_langgraph/compliance/soc2/__init__.py
  src/mcp_server_langgraph/core/compliance/__init__.py
  src/mcp_server_langgraph/schedulers/cleanup.py
  src/mcp_server_langgraph/schedulers/compliance.py
  tests/integration/test_gdpr_endpoints.py
  tests/test_cleanup_scheduler.py
  tests/test_data_deletion.py
  tests/test_gdpr.py
  tests/test_retention.py
  tests/test_soc2_evidence.py
  tests/test_storage.py
Labels: documentation, tests

chore: further organize docs-internal with subdirectories
  .claude/context/recent-work.md
  docs-internal/architecture/AGENTIC_LOOP_GUIDE.md
  docs-internal/architecture/PYDANTIC_AI_INTEGRATION.md
  docs-internal/architecture/STRICT_TYPING_GUIDE.md
  docs-internal/operations/DEPENDENCY_MANAGEMENT.md
  docs-internal/operations/SLA_OPERATIONS_RUNBOOK.md
  docs-internal/operations/STORAGE_BACKEND_REQUIREMENTS.md
  docs-internal/releases/RELEASE_v2.8.0_COMMANDS.md
Labels: documentation

refactor: Phase 2 - Elevate compliance package and reorganize docs-internal
  .claude/context/recent-work.md
  docs-internal/README.md
  docs-internal/TECHNICAL_DEBT_SPRINT_COMPLETE.md
  docs-internal/sprints/SPRINT_FINAL_SUMMARY.md
  docs-internal/sprints/TECHNICAL_DEBT_SPRINT_DAY1_SUMMARY.md
  docs-internal/sprints/TECHNICAL_DEBT_SPRINT_PROGRESS.md
  docs-internal/sprints/TODO_CATALOG.md
  docs-internal/testing/MUTATION_TESTING.md
  docs-internal/testing/TESTING_QUICK_START.md
  docs-internal/testing/TEST_RESULTS_SUMMARY.md
Labels: documentation

add Benchmark (pytest) benchmark result for 020d60fe4e6d7e33f700bce9fce99ad0b23c9c85
  dev/bench/data.js
Labels: none

refactor: Phase 3 - Consolidate prompts and storage into core
  .claude/context/recent-work.md
  src/mcp_server_langgraph/core/prompts/__init__.py
  src/mcp_server_langgraph/core/prompts/response_prompt.py
  src/mcp_server_langgraph/core/prompts/router_prompt.py
  src/mcp_server_langgraph/core/prompts/verification_prompt.py
  src/mcp_server_langgraph/core/storage/__init__.py
  src/mcp_server_langgraph/core/storage/conversation_store.py
  src/mcp_server_langgraph/llm/pydantic_agent.py
  src/mcp_server_langgraph/mcp/server_stdio.py
  tests/unit/test_conversation_store.py
Labels: documentation, tests

docs: update CHANGELOG with codebase restructuring details
  CHANGELOG.md
Labels: documentation

fix: resolve CI/CD failures from refactoring
  adr/0005-pydantic-ai-integration.md
  adr/0026-lazy-observability-initialization.md
  scripts/workflow/analyze-test-patterns.py
  scripts/workflow/generate-progress-report.py
  scripts/workflow/todo-tracker.py
  src/mcp_server_langgraph/compliance/__init__.py
  src/mcp_server_langgraph/compliance/gdpr/__init__.py
Labels: documentation, tests

add Benchmark (pytest) benchmark result for fcf52e0ef1ce39c70fc41e40fc8e34b86461a41e
  dev/bench/data.js
Labels: none

fix: resolve 9 failing tests from refactoring and mocking issues
  tests/test_data_deletion.py
  tests/test_pydantic_ai.py
  tests/test_retention.py
  tests/unit/test_search_tools.py
Labels: tests

add Benchmark (pytest) benchmark result for 6aa555341502ac5295cbd3de7d28c21d0aae63fa
  dev/bench/data.js
Labels: none

fix: resolve 9 CI/CD test failures
  scripts/validation/validate_deployments.py
  src/mcp_server_langgraph/auth/session.py
  src/mcp_server_langgraph/tools/search_tools.py
Labels: none

add Benchmark (pytest) benchmark result for 6886eec4026566f896b4157fc6f30cffad29897e
  dev/bench/data.js
Labels: none

feat: implement resilience patterns and update core dependencies
  .claude/context/recent-work.md
  CHANGELOG.md
  adr/0026-resilience-patterns.md
  adr/0027-rate-limiting-strategy.md
  adr/0028-caching-strategy.md
  adr/0029-custom-exception-hierarchy.md
  pyproject.toml
  reports/IMPLEMENTATION_PROGRESS_20251020.md
  reports/RESILIENCE_MODULE_COMPLETE_20251020.md
  reports/SESSION_COMPLETE_20251020.md
  requirements-pinned.txt
  requirements.txt
  src/mcp_server_langgraph/api/error_handlers.py
  src/mcp_server_langgraph/auth/openfga.py
  src/mcp_server_langgraph/auth/user_provider.py
  src/mcp_server_langgraph/core/cache.py
  src/mcp_server_langgraph/core/exceptions.py
  src/mcp_server_langgraph/llm/factory.py
  src/mcp_server_langgraph/middleware/rate_limiter.py
  src/mcp_server_langgraph/observability/telemetry.py
  src/mcp_server_langgraph/resilience/__init__.py
  src/mcp_server_langgraph/resilience/bulkhead.py
  src/mcp_server_langgraph/resilience/circuit_breaker.py
  src/mcp_server_langgraph/resilience/config.py
  src/mcp_server_langgraph/resilience/fallback.py
  src/mcp_server_langgraph/resilience/metrics.py
  src/mcp_server_langgraph/resilience/retry.py
  src/mcp_server_langgraph/resilience/timeout.py
  tests/core/test_exceptions.py
  tests/resilience/__init__.py
  tests/resilience/test_bulkhead.py
  tests/resilience/test_circuit_breaker.py
  tests/resilience/test_fallback.py
  tests/resilience/test_integration.py
  tests/resilience/test_retry.py
  tests/resilience/test_timeout.py
Labels: documentation, tests, dependencies, config

add Benchmark (pytest) benchmark result for eca7626669f55197b8d82fa9ffeaef7cb6da97e8
  dev/bench/data.js
Labels: none

fix: resolve 18 CI/CD test failures from resilience refactoring
  .github/workflows/optional-deps-test.yaml
  src/mcp_server_langgraph/core/exceptions.py
  src/mcp_server_langgraph/resilience/bulkhead.py
  src/mcp_server_langgraph/resilience/fallback.py
  src/mcp_server_langgraph/resilience/retry.py
  tests/resilience/test_bulkhead.py
  tests/resilience/test_fallback.py
Labels: tests, ci-cd

add Benchmark (pytest) benchmark result for 3c6ed524ef572e8a640b54f144cff1c5030dc02c
  dev/bench/data.js
Labels: none

fix: resolve all 20 failing resilience module tests
  .claude/context/recent-work.md
  src/mcp_server_langgraph/resilience/retry.py
  src/mcp_server_langgraph/resilience/timeout.py
  tests/test_openfga_client.py
Labels: documentation, tests

add Benchmark (pytest) benchmark result for 72ff136f7e47c27951eb4141ec48c5a48c4e6374
  dev/bench/data.js
Labels: none

add Benchmark (pytest) benchmark result for 286b4d3d5c1919632afef49ba51fd298a00dd586
  dev/bench/data.js
Labels: none

fix: resolve test failures and improve test infrastructure
  Makefile
  src/mcp_server_langgraph/mcp/server_stdio.py
  src/mcp_server_langgraph/mcp/server_streamable.py
Labels: ci-cd

add Benchmark (pytest) benchmark result for 6ef4a4c02fe702b1d74b2929fe64070396281b41
  dev/bench/data.js
Labels: none

test: add comprehensive tests for cache and rate limiter modules
  tests/core/test_cache.py
  tests/middleware/test_rate_limiter.py
Labels: tests

add Benchmark (pytest) benchmark result for 1f1aa65d7f5cd56c9c56b124a9199467990247a7
  dev/bench/data.js
Labels: none

test: add extensive property-based tests for resilience and cache modules
  tests/property/test_cache_properties.py
  tests/property/test_resilience_properties.py
Labels: tests

fix: resolve 31 test failures across integration, resilience, and MCP server tests
  src/mcp_server_langgraph/auth/user_provider.py
  src/mcp_server_langgraph/mcp/server_streamable.py
  tests/integration/test_tool_improvements.py
  tests/resilience/test_integration.py
  tests/test_data_deletion.py
  tests/test_distributed_checkpointing.py
Labels: tests

perf: optimize test suite for faster development iteration
  .github/workflows/quality-tests.yaml
  Makefile
  pyproject.toml
  tests/conftest.py
Labels: tests, ci-cd, dependencies, config

add Benchmark (pytest) benchmark result for f2c0c4d4adc58a07783b0a9411c83fbc9947c958
  dev/bench/data.js
Labels: none

docs: add test performance improvements documentation
  TEST_PERFORMANCE_IMPROVEMENTS.md
Labels: documentation

add Benchmark (pytest) benchmark result for 1af48b7da4141a4d27f504bac5c1179b22736044
  dev/bench/data.js
Labels: none

.github/labeler.yml:

# Auto-labeler configuration for PRs
# Uses changed-files pattern matching

# Documentation
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'
      - '**/*.mdx'
      - 'docs/**/*'
      - 'mint.json'
      - '.mcp/*.json'

# Tests
tests:
  - changed-files:
    - any-glob-to-any-file:
      - 'tests/**/*'
      - '**/*test*.py'
      - 'test_*.py'
      - '*_test.py'
      - 'pytest.ini'
      - 'conftest.py'
      - 'TESTING.md'

# CI/CD
ci-cd:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**/*'
      - '.github/actions/**/*'
      - '.gitlab-ci.yml'
      - 'Makefile'
      - '.pre-commit-config.yaml'

# Dependencies
dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'requirements*.txt'
      - 'setup.py'
      - 'pyproject.toml'
      - 'poetry.lock'
      - 'package*.json'
      - 'yarn.lock'

# Docker
docker:
  - changed-files:
    - any-glob-to-any-file:
      - 'Dockerfile*'
      - 'docker-compose*.yml'
      - '.dockerignore'

# Kubernetes/Deployment
deployment:
  - changed-files:
    - any-glob-to-any-file:
      - 'kubernetes/**/*'
      - 'kustomize/**/*'
      - 'helm/**/*'
      - 'k8s/**/*'
      - 'KUBERNETES_DEPLOYMENT.md'
      - 'PRODUCTION_DEPLOYMENT.md'

# Authentication/Authorization
auth:
  - changed-files:
    - any-glob-to-any-file:
      - 'auth.py'
      - 'openfga_client.py'
      - 'setup_openfga.py'

# Secrets Management
secrets:
  - changed-files:
    - any-glob-to-any-file:
      - 'secrets_manager.py'
      - 'setup_infisical.py'

# Observability
observability:
  - changed-files:
    - any-glob-to-any-file:
      - 'observability.py'
      - 'health_check.py'
      - 'monitoring/**/*'
      - 'grafana/**/*'

# MCP Server
mcp:
  - changed-files:
    - any-glob-to-any-file:
      - 'mcp_server*.py'
      - 'examples/*client*.py'

# Agent/Core
agent:
  - changed-files:
    - any-glob-to-any-file:
      - 'agent.py'
      - 'graph.py'
      - 'models.py'
      - 'prompt*.py'

# Configuration
config:
  - changed-files:
    - any-glob-to-any-file:
      - 'config.py'
      - '.env*'
      - 'settings.py'
      - '*.yaml'
      - '*.yml'
      - '*.toml'
      - '*.ini'
      - '.editorconfig'

# Security
security:
  - changed-files:
    - any-glob-to-any-file:
      - 'auth.py'
      - 'secrets_manager.py'
      - 'openfga_client.py'
      - 'SECURITY*.md'
      - '.github/workflows/security-scan.yaml'
      - 'scripts/validate_production.py'

# Community
community:
  - changed-files:
    - any-glob-to-any-file:
      - 'CODE_OF_CONDUCT.md'
      - 'CONTRIBUTING.md'
      - 'DEVELOPMENT.md'
      - '.github/SUPPORT.md'
      - '.github/FUNDING.yml'
      - '.github/ISSUE_TEMPLATE/**/*'
      - '.github/PULL_REQUEST_TEMPLATE.md'
