Repository vishnu2kmohan/mcp-server-langgraph, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, tests, ci-cd, dependencies, docker, deployment, auth, secrets, observability, mcp, agent, config, security, community

add Benchmark (pytest) benchmark result for 927607dca3c590a0bab6c13823d50327f9c25371
  dev/bench/data.js
Labels: none

docs: comprehensive documentation audit fixes (OpenAI Codex validation)
  docker/docker-compose.dev.yml
  docker/docker-compose.yml
  docs/API_COMPLIANCE_REPORT.mdx
  docs/ci-cd-troubleshooting.mdx
  docs/deployment/docker.mdx
  docs/deployment/gcp-configuration.mdx
  docs/deployment/iam-rbac-requirements.mdx
  docs/deployment/langgraph-platform.mdx
  docs/docs.json
  docs/getting-started/quickstart.mdx
  docs/reference/configuration-files.mdx
  docs/reference/setup-scripts.mdx
  scripts/setup/docker-compose-quickstart.sh
  src/mcp_server_langgraph/core/config.py
Labels: documentation

add Benchmark (pytest) benchmark result for 9d60c523bcce1f1a0761b0001383c7e80deaacba
  dev/bench/data.js
Labels: none

fix(mypy): reduce type errors by 55% (139→63 errors) with targeted fixes
  src/mcp_server_langgraph/builder/api/server.py
  src/mcp_server_langgraph/core/agent.py
  src/mcp_server_langgraph/llm/factory.py
  src/mcp_server_langgraph/llm/validators.py
  src/mcp_server_langgraph/middleware/rate_limiter.py
  src/mcp_server_langgraph/middleware/session_timeout.py
  src/mcp_server_langgraph/monitoring/prometheus_client.py
  src/mcp_server_langgraph/presets/quickstart.py
Labels: none

add Benchmark (pytest) benchmark result for 020836668f66dd9e2391d6913ef44d8cde7f427b
  dev/bench/data.js
Labels: none

feat(scim): implement SCIM 2.0 provisioning with Keycloak Admin API (TDD)
  docker-compose.keycloak-test.yml
  src/mcp_server_langgraph/auth/keycloak.py
  tests/e2e/test_scim_provisioning.py
  tests/fixtures/keycloak-realm-test.json
  tests/integration/test_keycloak_admin.py
  tests/test_keycloak.py
Labels: tests, docker, config

feat(auth): block InMemoryUserProvider in production (TDD)
  src/mcp_server_langgraph/auth/factory.py
  tests/test_auth_factory.py
Labels: tests

feat(llm): replace tiktoken with LiteLLM for model-aware token counting (TDD)
  src/mcp_server_langgraph/core/context_manager.py
  src/mcp_server_langgraph/utils/response_optimizer.py
  tests/test_response_optimizer.py
Labels: tests

feat(checkpointer): fix Redis checkpoint context manager lifecycle (TDD)
  src/mcp_server_langgraph/core/agent.py
  tests/test_agent.py
Labels: tests

feat(auth): complete Keycloak Admin API with OAuth 2.0 Token Exchange
  IMPLEMENTATION_SUMMARY.md
  src/mcp_server_langgraph/auth/keycloak.py
  tests/test_keycloak.py
Labels: documentation, tests

docs(quality): add Phase 3 type safety and test coverage improvement plan
  PHASE3_TYPE_SAFETY_PLAN.md
Labels: documentation

docs(summary): add comprehensive work completion summary
  WORK_COMPLETED_SUMMARY.md
Labels: documentation

fix(mypy): reduce type errors by 30% (110→77 errors) - Phase 5 Quick Wins
  src/mcp_server_langgraph/auth/keycloak.py
  src/mcp_server_langgraph/core/agent.py
  src/mcp_server_langgraph/core/config.py
  src/mcp_server_langgraph/core/dynamic_context_loader.py
  src/mcp_server_langgraph/core/feature_flags.py
  src/mcp_server_langgraph/llm/factory.py
  src/mcp_server_langgraph/llm/validators.py
  src/mcp_server_langgraph/mcp/server_stdio.py
  src/mcp_server_langgraph/mcp/server_streamable.py
  src/mcp_server_langgraph/middleware/rate_limiter.py
  src/mcp_server_langgraph/middleware/session_timeout.py
  src/mcp_server_langgraph/monitoring/prometheus_client.py
  src/mcp_server_langgraph/observability/json_logger.py
  src/mcp_server_langgraph/resilience/circuit_breaker.py
  src/mcp_server_langgraph/utils/response_optimizer.py
Labels: none

security: comprehensive TDD security remediation for OpenAI Codex findings
  .env.template
  .github/workflows/security-validation.yml
  deployments/base/serviceaccount.yaml
  deployments/kubernetes/overlays/aws/external-secrets.yaml
  deployments/kubernetes/overlays/aws/serviceaccount-patch.yaml
  deployments/kubernetes/overlays/azure/kustomization.yaml
  deployments/kubernetes/overlays/gcp/kustomization.yaml
  deployments/overlays/production-gke/serviceaccount-patch.yaml
  docs/SECURITY-REMEDIATION.md
  scripts/substitute-variables.sh
  terraform/environments/gcp-prod/variables.tf
  terraform/environments/prod/variables.tf
  terraform/modules/eks/variables.tf
  terraform/modules/gke-autopilot/variables.tf
  tests/kubernetes/test_external_secrets.py
  tests/kubernetes/test_gke_labels.py
  tests/kubernetes/test_serviceaccount_annotations.py
  tests/requirements.txt
  tests/terraform/test_no_placeholders.py
Labels: documentation, tests, ci-cd, config

feat(mypy): achieve ZERO type errors in strict modules (110→0, 100% reduction)
  src/mcp_server_langgraph/api/api_keys.py
  src/mcp_server_langgraph/api/error_handlers.py
  src/mcp_server_langgraph/api/gdpr.py
  src/mcp_server_langgraph/api/scim.py
  src/mcp_server_langgraph/api/service_principals.py
  src/mcp_server_langgraph/api/version.py
  src/mcp_server_langgraph/builder/api/server.py
  src/mcp_server_langgraph/health/checks.py
  src/mcp_server_langgraph/mcp/server_stdio.py
  src/mcp_server_langgraph/mcp/server_streamable.py
  src/mcp_server_langgraph/monitoring/cost_api.py
  src/mcp_server_langgraph/monitoring/prometheus_client.py
  src/mcp_server_langgraph/presets/quickstart.py
  src/mcp_server_langgraph/resilience/circuit_breaker.py
  src/mcp_server_langgraph/tools/calculator_tools.py
  src/mcp_server_langgraph/tools/filesystem_tools.py
  src/mcp_server_langgraph/tools/search_tools.py
Labels: none

security(P0): fix CWE-200/CWE-532 token exposure in logs
  src/mcp_server_langgraph/core/security.py
  src/mcp_server_langgraph/mcp/server_streamable.py
  src/mcp_server_langgraph/utils/response_optimizer.py
  tests/unit/test_security_logging.py
Labels: tests

security(P1): fix CWE-113 HTTP response splitting in GDPR export
  src/mcp_server_langgraph/api/gdpr.py
  src/mcp_server_langgraph/core/security.py
  tests/unit/test_security_headers.py
Labels: tests

security(P2): fix CWE-20 improper validation of thread_id
  src/mcp_server_langgraph/mcp/server_streamable.py
  tests/unit/test_input_validation.py
Labels: tests

security(P2): fix CWE-20 service_id and SCIM filter validation
  src/mcp_server_langgraph/api/scim.py
  src/mcp_server_langgraph/api/service_principals.py
Labels: none

fix(security): resolve 3 critical auth bugs + implement sensitive data logging protection
  src/mcp_server_langgraph/auth/factory.py
  src/mcp_server_langgraph/auth/middleware.py
  src/mcp_server_langgraph/auth/session.py
  src/mcp_server_langgraph/core/security.py
  src/mcp_server_langgraph/mcp/server_stdio.py
  tests/test_auth_factory.py
  tests/unit/test_security_logging.py
Labels: tests

chore(config): disable mypy pre-commit hook due to 145+ pre-existing errors
  .pre-commit-config.yaml
Labels: ci-cd, config

fix(executor): add per-task timeout to prevent hung tools from blocking execution
  scripts/validate_mintlify_docs.py
  src/mcp_server_langgraph/core/parallel_executor.py
  tests/unit/test_parallel_executor_timeout.py
Labels: tests

fix(llm): improve multi-credential provider setup for Azure and Bedrock
  src/mcp_server_langgraph/llm/factory.py
  tests/unit/test_provider_credentials.py
Labels: tests

fix(observability): add graceful shutdown with span flush and connection cleanup
  src/mcp_server_langgraph/mcp/server_streamable.py
  src/mcp_server_langgraph/observability/telemetry.py
  tests/unit/test_observability_cleanup.py
Labels: tests

fix(k8s): standardize naming conventions and fix critical deployment issues across all overlays
  deployments/base/openfga-deployment.yaml
  deployments/components/gcp-cloud-sql-proxy/README.md
  deployments/components/gcp-cloud-sql-proxy/cloud-sql-proxy-sidecar.yaml
  deployments/components/gcp-cloud-sql-proxy/kustomization.yaml
  deployments/components/gcp-external-secrets/README.md
  deployments/components/gcp-external-secrets/kustomization.yaml
  deployments/components/gcp-workload-identity/README.md
  deployments/components/gcp-workload-identity/kustomization.yaml
  deployments/overlays/dev/kustomization.yaml
  deployments/overlays/production-gke/deployment-patch.yaml
  deployments/overlays/production-gke/kustomization.yaml
  deployments/overlays/production-gke/namespace.yaml
  deployments/overlays/production/configmap-patch.yaml
  deployments/overlays/production/kustomization.yaml
  deployments/overlays/staging-gke/deployment-patch.yaml
  deployments/overlays/staging-gke/external-secrets.yaml
  deployments/overlays/staging-gke/keycloak-json-patch.yaml
  deployments/overlays/staging-gke/keycloak-patch.yaml
  deployments/overlays/staging-gke/kustomization.yaml
  deployments/overlays/staging-gke/namespace.yaml
  deployments/overlays/staging-gke/network-policy.yaml
  deployments/overlays/staging-gke/openfga-json-patch.yaml
  deployments/overlays/staging-gke/qdrant-patch.yaml
  deployments/overlays/staging/configmap-patch.yaml
Labels: documentation

fix(ci): comprehensive CI/CD workflow security and maintainability improvements (Phase 1)
  .github/WORKFLOW_AUDIT_REMAINING.md
  .github/workflows/cost-tracking.yaml
  .github/workflows/deploy-production-gke.yaml
  .github/workflows/deploy-staging-gke.yaml
  .github/workflows/gcp-compliance-scan.yaml
  .github/workflows/gcp-drift-detection.yaml
  SECRETS.md
  scripts/__init__.py
  scripts/ci/__init__.py
  scripts/ci/track_costs.py
  scripts/gcp/setup-staging-infrastructure.sh
  scripts/gcp/teardown-staging-infrastructure.sh
  scripts/gcp/validate-staging-deployment.sh
  tests/ci/__init__.py
  tests/ci/test_track_costs.py
Labels: documentation, tests, ci-cd

fix(ci): Phase 2 - high priority workflow improvements
  .github/workflows/ci.yaml
  .github/workflows/deploy-production-gke.yaml
  .github/workflows/release.yaml
  .github/workflows/track-skipped-tests.yaml
Labels: ci-cd

fix(ci): Phase 3-4 - workflow dependency and quick wins
  .github/workflows/release.yaml
Labels: ci-cd

fix(ci): Phase 5 - final workflow improvements and standardization
  .github/ACTION_VERSIONING_STRATEGY.md
  .github/workflows/ci.yaml
  .github/workflows/dependabot-automerge.yaml
  .github/workflows/deploy-staging-gke.yaml
  .github/workflows/e2e-tests.yaml
  .github/workflows/release.yaml
  scripts/k8s/health-check.sh
Labels: documentation, ci-cd

docs(ci): Phase 6 - final documentation and audit completion summary
  .github/CI_CD_AUDIT_COMPLETE.md
  README.md
Labels: documentation

docs: add comprehensive GDPR and enterprise identity API documentation
  docs/api-reference/api-keys.mdx
  docs/api-reference/gdpr-endpoints.mdx
  docs/api-reference/scim-provisioning.mdx
  docs/api-reference/service-principals.mdx
  docs/compliance/gdpr-compliance.mdx
  docs/docs.json
Labels: documentation

fix(terraform): resolve all critical infrastructure blockers
  .github/workflows/terraform-validate.yaml
  terraform/README.md
  terraform/environments/gcp-dev/main.tf
  terraform/environments/gcp-prod/main.tf
  terraform/environments/gcp-staging/main.tf
  terraform/modules/gcp-project-services/main.tf
  terraform/modules/gcp-project-services/outputs.tf
  terraform/modules/gcp-project-services/variables.tf
  terraform/modules/gcp-project-services/versions.tf
  terraform/modules/gke-autopilot/main.tf
Labels: documentation, ci-cd

fix: address validated OpenAI Codex findings for deployment and budget monitoring
  .env.example
  deployments/langgraph-platform/agent.py
  src/mcp_server_langgraph/monitoring/budget_monitor.py
  tests/deployments/__init__.py
  tests/deployments/test_langgraph_platform.py
  tests/monitoring/test_cost_tracker.py
Labels: tests, config

feat: implement remaining P1-P2 Codex findings - database persistence, metrics, and context extraction
  deployments/langgraph_platform/__init__.py
  deployments/langgraph_platform/agent.py
  deployments/langgraph_platform/requirements.txt
  pyproject.toml
  src/mcp_server_langgraph/core/context_manager.py
  src/mcp_server_langgraph/database/__init__.py
  src/mcp_server_langgraph/database/models.py
  src/mcp_server_langgraph/database/session.py
  src/mcp_server_langgraph/monitoring/cost_api.py
  src/mcp_server_langgraph/monitoring/cost_tracker.py
  tests/deployments/test_langgraph_platform.py
  tests/test_context_manager.py
  uv.lock
Labels: tests, dependencies, config

fix(tests): resolve critical test infrastructure blockers
  .github/workflows/ci.yaml
  .github/workflows/e2e-tests.yaml
  .github/workflows/quality-tests.yaml
  pyproject.toml
  src/mcp_server_langgraph/api/__init__.py
  src/mcp_server_langgraph/app.py
  tests/api/test_api_keys_endpoints.py
  tests/api/test_service_principals_endpoints.py
  tests/e2e/test_scim_provisioning.py
  tests/performance/conftest.py
  tests/performance/test_benchmarks.py
Labels: tests, ci-cd, dependencies, config

fix(ci/cd): comprehensive GitHub Actions workflow improvements
  .github/workflows/build-hygiene.yaml
  .github/workflows/deploy-production-gke.yaml
  .github/workflows/deploy-staging-gke.yaml
  .github/workflows/gcp-compliance-scan.yaml
  .github/workflows/gcp-drift-detection.yaml
  .github/workflows/security-validation.yml
  .github/workflows/stale.yaml
  .github/workflows/terraform-validate.yaml
  .github/workflows/validate-deployments.yaml
  clients/python/.github/workflows/python.yml
Labels: ci-cd

add Benchmark (pytest) benchmark result for 634e5b48a5d4f9d2ce5886046b5dbc244e2d88d0
  dev/bench/data.js
Labels: none

fix(ci/cd): complete remaining medium and low-priority workflow improvements
  .github/workflows/build-hygiene.yaml
  .github/workflows/ci.yaml
  .github/workflows/coverage-trend.yaml
  .github/workflows/dependabot-automerge.yaml
  .github/workflows/deploy-production-gke.yaml
  .github/workflows/gcp-drift-detection.yaml
  .github/workflows/release.yaml
  .github/workflows/terraform-validate.yaml
  clients/python/.github/workflows/python.yml
Labels: ci-cd

add Benchmark (pytest) benchmark result for 4347c32151da4a6f8ee31728c583d40d72bbe08f
  dev/bench/data.js
Labels: none

feat(tests): enable E2E tests with HTTP mocks (Phase 4 - pragmatic approach)
  tests/e2e/README.md
  tests/e2e/helpers.py
  tests/e2e/test_full_user_journey.py
Labels: documentation, tests

.github/labeler.yml:

# Auto-labeler configuration for PRs
# Uses changed-files pattern matching

# Documentation
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'
      - '**/*.mdx'
      - 'docs/**/*'
      - 'mint.json'
      - '.mcp/*.json'

# Tests
tests:
  - changed-files:
    - any-glob-to-any-file:
      - 'tests/**/*'
      - '**/*test*.py'
      - 'test_*.py'
      - '*_test.py'
      - 'pytest.ini'
      - 'conftest.py'
      - 'TESTING.md'

# CI/CD
ci-cd:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**/*'
      - '.github/actions/**/*'
      - '.gitlab-ci.yml'
      - 'Makefile'
      - '.pre-commit-config.yaml'

# Dependencies
dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'requirements*.txt'
      - 'setup.py'
      - 'pyproject.toml'
      - 'poetry.lock'
      - 'package*.json'
      - 'yarn.lock'

# Docker
docker:
  - changed-files:
    - any-glob-to-any-file:
      - 'Dockerfile*'
      - 'docker-compose*.yml'
      - '.dockerignore'

# Kubernetes/Deployment
deployment:
  - changed-files:
    - any-glob-to-any-file:
      - 'kubernetes/**/*'
      - 'kustomize/**/*'
      - 'helm/**/*'
      - 'k8s/**/*'
      - 'KUBERNETES_DEPLOYMENT.md'
      - 'PRODUCTION_DEPLOYMENT.md'

# Authentication/Authorization
auth:
  - changed-files:
    - any-glob-to-any-file:
      - 'auth.py'
      - 'openfga_client.py'
      - 'setup_openfga.py'

# Secrets Management
secrets:
  - changed-files:
    - any-glob-to-any-file:
      - 'secrets_manager.py'
      - 'setup_infisical.py'

# Observability
observability:
  - changed-files:
    - any-glob-to-any-file:
      - 'observability.py'
      - 'health_check.py'
      - 'monitoring/**/*'
      - 'grafana/**/*'

# MCP Server
mcp:
  - changed-files:
    - any-glob-to-any-file:
      - 'mcp_server*.py'
      - 'examples/*client*.py'

# Agent/Core
agent:
  - changed-files:
    - any-glob-to-any-file:
      - 'agent.py'
      - 'graph.py'
      - 'models.py'
      - 'prompt*.py'

# Configuration
config:
  - changed-files:
    - any-glob-to-any-file:
      - 'config.py'
      - '.env*'
      - 'settings.py'
      - '*.yaml'
      - '*.yml'
      - '*.toml'
      - '*.ini'
      - '.editorconfig'

# Security
security:
  - changed-files:
    - any-glob-to-any-file:
      - 'auth.py'
      - 'secrets_manager.py'
      - 'openfga_client.py'
      - 'SECURITY*.md'
      - '.github/workflows/security-scan.yaml'
      - 'scripts/validate_production.py'

# Community
community:
  - changed-files:
    - any-glob-to-any-file:
      - 'CODE_OF_CONDUCT.md'
      - 'CONTRIBUTING.md'
      - 'DEVELOPMENT.md'
      - '.github/SUPPORT.md'
      - '.github/FUNDING.yml'
      - '.github/ISSUE_TEMPLATE/**/*'
      - '.github/PULL_REQUEST_TEMPLATE.md'
