Repository vishnu2kmohan/mcp-server-langgraph, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, tests, ci-cd, dependencies, docker, deployment, auth, secrets, observability, mcp, agent, config, security, community

.github/labeler.yml:

# Auto-labeler configuration for PRs
# Uses changed-files pattern matching

# Documentation
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'
      - '**/*.mdx'
      - 'docs/**/*'
      - 'mint.json'
      - '.mcp/*.json'

# Tests
tests:
  - changed-files:
    - any-glob-to-any-file:
      - 'tests/**/*'
      - '**/*test*.py'
      - 'test_*.py'
      - '*_test.py'
      - 'pytest.ini'
      - 'conftest.py'
      - 'TESTING.md'

# CI/CD
ci-cd:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**/*'
      - '.github/actions/**/*'
      - '.gitlab-ci.yml'
      - 'Makefile'
      - '.pre-commit-config.yaml'

# Dependencies
dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'requirements*.txt'
      - 'setup.py'
      - 'pyproject.toml'
      - 'poetry.lock'
      - 'package*.json'
      - 'yarn.lock'

# Docker
docker:
  - changed-files:
    - any-glob-to-any-file:
      - 'Dockerfile*'
      - 'docker-compose*.yml'
      - '.dockerignore'

# Kubernetes/Deployment
deployment:
  - changed-files:
    - any-glob-to-any-file:
      - 'kubernetes/**/*'
      - 'kustomize/**/*'
      - 'helm/**/*'
      - 'k8s/**/*'
      - 'KUBERNETES_DEPLOYMENT.md'
      - 'PRODUCTION_DEPLOYMENT.md'

# Authentication/Authorization
auth:
  - changed-files:
    - any-glob-to-any-file:
      - 'auth.py'
      - 'openfga_client.py'
      - 'setup_openfga.py'

# Secrets Management
secrets:
  - changed-files:
    - any-glob-to-any-file:
      - 'secrets_manager.py'
      - 'setup_infisical.py'

# Observability
observability:
  - changed-files:
    - any-glob-to-any-file:
      - 'observability.py'
      - 'health_check.py'
      - 'monitoring/**/*'
      - 'grafana/**/*'

# MCP Server
mcp:
  - changed-files:
    - any-glob-to-any-file:
      - 'mcp_server*.py'
      - 'examples/*client*.py'

# Agent/Core
agent:
  - changed-files:
    - any-glob-to-any-file:
      - 'agent.py'
      - 'graph.py'
      - 'models.py'
      - 'prompt*.py'

# Configuration
config:
  - changed-files:
    - any-glob-to-any-file:
      - 'config.py'
      - '.env*'
      - 'settings.py'
      - '*.yaml'
      - '*.yml'
      - '*.toml'
      - '*.ini'
      - '.editorconfig'

# Security
security:
  - changed-files:
    - any-glob-to-any-file:
      - 'auth.py'
      - 'secrets_manager.py'
      - 'openfga_client.py'
      - 'SECURITY*.md'
      - '.github/workflows/security-scan.yaml'
      - 'scripts/validate_production.py'

# Community
community:
  - changed-files:
    - any-glob-to-any-file:
      - 'CODE_OF_CONDUCT.md'
      - 'CONTRIBUTING.md'
      - 'DEVELOPMENT.md'
      - '.github/SUPPORT.md'
      - '.github/FUNDING.yml'
      - '.github/ISSUE_TEMPLATE/**/*'
      - '.github/PULL_REQUEST_TEMPLATE.md'

feat(ci): add lockfile validation and workflow health dashboard
  .github/actions/retry-step/action.yml
  .github/workflows/ci.yaml
  .github/workflows/workflow-health-dashboard.yaml
  docs/workflows/SECRETS.md
  tests/test_ci_cd_validation.py
Labels: documentation, tests, ci-cd

refactor(ci): simplify DORA metrics script to use gh CLI
  scripts/ci/dora_metrics.py
  tests/test_ci_cd_validation.py
Labels: tests

fix(lint): remove unused redis import from api_keys.py
  src/mcp_server_langgraph/auth/api_keys.py
Labels: none

docs(security): update outdated credential references in error messages
  src/mcp_server_langgraph/auth/factory.py
Labels: none

docs(security): update authentication example to remove old credential reference
  src/mcp_server_langgraph/mcp/server_streamable.py
Labels: none

feat(ci): enhance workflow dependency reproducibility with --frozen flag
  .github/workflows/ci.yaml
  .github/workflows/deploy-production-gke.yaml
  .github/workflows/dora-metrics.yaml
  .github/workflows/observability-alerts.yaml
Labels: ci-cd

fix(workflows): complete comprehensive workflow audit remediation (TDD)
  .github/CI_CD_AUDIT_COMPLETE.md
  .github/archive/audits-2025-11/WORKFLOW_AUDIT_REMAINING.md
  .github/archive/audits-2025-11/workflow-validation-2025-11-07.md
  .github/workflows/ci.yaml
  .github/workflows/deploy-production-gke.yaml
  .github/workflows/observability-alerts.yaml
  .pre-commit-config.yaml
  scripts/test-workflows.sh
  tests/test_docker_paths.py
  tests/test_workflow_dependencies.py
  tests/test_workflow_security.py
  tests/test_workflow_syntax.py
Labels: documentation, tests, ci-cd, config

test(workflows): remove redundant aggregated actionlint test
  tests/test_workflow_syntax.py
Labels: tests

docs(audit): comprehensive workflow audit completion report
  .github/WORKFLOW_AUDIT_COMPLETION_REPORT.md
Labels: documentation

feat(ci): add permanent workflow validation to CI pipeline (TDD complete)
  .github/workflows/ci.yaml
  .github/workflows/cost-tracking.yaml
  .github/workflows/e2e-tests.yaml
  scripts/test-workflows.sh
Labels: ci-cd

fix(workflows): complete dependency locking and critical shellcheck fixes (TDD)
  .github/WORKFLOW_TESTING_CHECKLIST.md
  .github/workflows/coverage-trend.yaml
  .github/workflows/optional-deps-test.yaml
  .github/workflows/track-skipped-tests.yaml
  .github/workflows/workflow-health-dashboard.yaml
Labels: documentation, ci-cd

feat(security): add comprehensive security scan reporting system (TDD)
  .gitignore
  Makefile
  scripts/security/README.md
  scripts/security/__init__.py
  scripts/security/generate_report.py
  tests/test_security_report.py
Labels: documentation, tests, ci-cd

docs(security): add comprehensive try/except/pass pattern analysis
  .gitignore
  docs/security/TRY_EXCEPT_PASS_ANALYSIS.md
Labels: documentation

fix(security): correct TruffleHog BASE/HEAD logic for schedule events (TDD)
  .github/workflows/security-scan.yaml
Labels: ci-cd, security

fix(ci): improve actionlint installation reliability (TDD)
  .github/workflows/ci.yaml
Labels: ci-cd

fix(e2e): increase health check timeout to 10 minutes (TDD)
  .github/workflows/e2e-tests.yaml
Labels: ci-cd

fix(k8s): add security contexts to all staging-gke containers (TDD)
  deployments/overlays/staging-gke/deployment-init-containers-patch.yaml
  deployments/overlays/staging-gke/keycloak-patch.yaml
  deployments/overlays/staging-gke/openfga-patch.yaml
  deployments/overlays/staging-gke/qdrant-patch.yaml
Labels: none

fix(auth): fix property-based tests after security hardening (TDD)
  tests/property/test_auth_properties.py
Labels: tests

refactor(types): remove 2 unused type:ignore comments (MyPy quick win)
  src/mcp_server_langgraph/core/storage/conversation_store.py
Labels: none

refactor(types): fix 11 MyPy errors with type parameter quick wins (TDD)
  src/mcp_server_langgraph/api/health.py
  src/mcp_server_langgraph/auth/api_keys.py
  src/mcp_server_langgraph/core/cache.py
  src/mcp_server_langgraph/core/checkpoint_validator.py
  src/mcp_server_langgraph/core/storage/conversation_store.py
  src/mcp_server_langgraph/execution/docker_sandbox.py
  src/mcp_server_langgraph/llm/factory.py
Labels: none

fix(test): fix fixture organization plugin scope checking (TDD)
  tests/conftest_fixtures_plugin.py
  tests/integration/test_docker_health_checks.py
  tests/test_docker_compose_validation.py
Labels: tests

fix(docker): replace wget with grpc_health_probe for Qdrant health checks (TDD)
  .pre-commit-config.yaml
  docker-compose.dev.yml
  docker-compose.test.yml
  docker/docker-compose.yml
  tests/integration/test_docker_health_checks.py
  tests/test_docker_compose_validation.py
Labels: tests, ci-cd, docker, config

fix(ci,deployment): resolve 3 critical Codex findings + 1 bonus Kustomize issue (TDD)
  .github/workflows/ci.yaml
  deployments/argocd/base/kustomization.yaml
  deployments/overlays/staging-gke/openfga-json-patch.yaml
  tests/meta/test_github_actions_validation.py
Labels: tests, ci-cd

fix(tests,types): resolve collection blockers and duplicate test file
  src/mcp_server_langgraph/core/storage/conversation_store.py
  tests/workflows/test_github_actions_validation.py
Labels: tests

docs(codex): add comprehensive findings resolution report
  docs-internal/CODEX_FINDINGS_RESOLUTION_REPORT.md
Labels: documentation

add Benchmark (pytest) benchmark result for 7c88a5c92cdfa374bf7ac7f7d302c1991c56f7e5
  dev/bench/data.js
Labels: none

fix(auth,tests): add auth_middleware parameter to require_auth decorator (partial fix)
  src/mcp_server_langgraph/auth/middleware.py
  tests/test_auth.py
Labels: tests

add Benchmark (pytest) benchmark result for 6df91788fd644780b1aa856ffd294b1f754aa877
  dev/bench/data.js
Labels: none

fix(ci,tests,security,deployment): resolve 5 critical Codex findings + regression tests (TDD)
  .github/workflows/deployment-validation.yml
  .github/workflows/validate-kubernetes.yaml
  .pre-commit-config.yaml
  deployments/overlays/staging-gke/qdrant-patch.yaml
  pyproject.toml
  tests/deployment/test_helm_placeholder_validation.py
  tests/regression/test_performance_regression.py
  tests/security/test_deployment_security_regression.py
  tests/test_ci_workflow_dependencies.py
  tests/test_workflow_health_dashboard.py
Labels: tests, ci-cd, dependencies, config

add Benchmark (pytest) benchmark result for db0e89a981ab095b029b76050390913c66021c7e
  dev/bench/data.js
Labels: none

fix(tests): add CLI tool guards and proper E2E infrastructure checks (Codex Phase 1)
  pyproject.toml
  tests/conftest.py
  tests/deployment/test_kustomize_builds.py
  tests/deployment/test_network_policies.py
  tests/e2e/test_full_user_journey.py
  tests/meta/test_suite_validation.py
  tests/test_ci_cd_validation.py
  tests/test_deployment_manifests.py
Labels: tests, dependencies, config

docs(agent): clarify LangGraph operator.add behavior for message state
  src/mcp_server_langgraph/core/agent.py
  tests/test_conversation_state_persistence.py
Labels: tests

fix(deployments): resolve 12 Codex findings + 2 additional deployment issues (TDD)
  deployments/README.md
  deployments/base/serviceaccount-roles.yaml
  deployments/helm/values-production-gke.yaml
  deployments/overlays/production-gke/README.md
  deployments/overlays/production-gke/kustomization.yaml
  deployments/overlays/production-gke/otel-collector-configmap-patch.yaml
  deployments/overlays/production-gke/serviceaccount-patch.yaml
  deployments/overlays/production/configmap-patch.yaml
  deployments/overlays/staging-gke/DNS_SETUP.md
  deployments/overlays/staging-gke/configmap-patch.yaml
  deployments/overlays/staging-gke/deployment-patch.yaml
  deployments/overlays/staging-gke/redis-session-endpoints.yaml
  tests/deployment/test_codex_findings_validation.py
Labels: documentation, tests

refactor(tools): convert tool registry to factory pattern for runtime config
  pyproject.toml
  src/mcp_server_langgraph/tools/__init__.py
  tests/conftest.py
  tests/meta/test_performance_regression.py
  tests/unit/test_parallel_executor_timeout.py
Labels: tests, dependencies, config

fix(tools): replace filesystem stub logger with real telemetry
  src/mcp_server_langgraph/tools/filesystem_tools.py
Labels: none

add Benchmark (pytest) benchmark result for 6cfd97e3b1972cfb5d42a5a2d8c4377d1183e2a9
  dev/bench/data.js
Labels: none

fix(deployments,tests): resolve kustomize Service ID conflict + test marker + placeholder
  deployments/overlays/production-gke/configmap-patch.yaml
  deployments/overlays/staging-gke/kustomization.yaml
  deployments/overlays/staging-gke/redis-session-endpoints.yaml
  deployments/overlays/staging-gke/redis-session-service-patch.yaml
  tests/deployment/pytest.ini
Labels: tests

refactor(tests): improve maintainability and enable skipped tests (Codex Phase 3)
  scripts/validate_test_suite.py
  src/mcp_server_langgraph/core/dependencies.py
  tests/test_deployment_manifests.py
  tests/unit/test_dependencies_wiring.py
Labels: tests

add Benchmark (pytest) benchmark result for d70aae6f2d39c0e85340d28347280306cadd854d
  dev/bench/data.js
Labels: none

docs(testing): comprehensive documentation for Codex improvements (Phase 4)
  .pre-commit-config.yaml
  TESTING.md
  deployments/helm/values-production.yaml
  deployments/helm/values-staging.yaml
  deployments/overlays/dev/kustomization.yaml
  deployments/overlays/production-gke/config-vars.yaml
  deployments/overlays/production/kustomization.yaml
  deployments/overlays/staging-gke/config-vars.yaml
  deployments/overlays/staging/kustomization.yaml
  tests/README.md
  tests/deployment/test_helm_placeholder_validation.py
Labels: documentation, tests, ci-cd, config
