Repository vishnu2kmohan/mcp-server-langgraph, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, tests, ci-cd, dependencies, docker, deployment, auth, secrets, observability, mcp, agent, config, security, community

feat(resilience): implement overload-aware retry + fallback backoff + CI fixes
  .claude/QUICK_REFERENCE.md
  .claude/SETTINGS.md
  .github/workflows/build-keycloak-image.yaml
  src/mcp_server_langgraph/core/exceptions.py
  src/mcp_server_langgraph/llm/factory.py
  src/mcp_server_langgraph/resilience/bulkhead.py
  src/mcp_server_langgraph/resilience/config.py
  src/mcp_server_langgraph/resilience/retry.py
  tests/core/test_exceptions.py
  tests/unit/llm/test_fallback_resilience.py
  tests/unit/resilience/test_retry_overload.py
Labels: documentation, tests, ci-cd

add Benchmark (pytest) benchmark result for b405207c553398f302137aa6317ba5ca911043a8
  dev/bench/data.js
Labels: none

fix(deploy): add pre-deployment cleanup for orphaned replica sets
  .github/workflows/deploy-staging-gke.yaml
  tests/deployment/test_rollout_resilience.py
Labels: tests, ci-cd

add Benchmark (pytest) benchmark result for 6ed8ce620c357ed072d7ac5b6ff88d4201008d67
  dev/bench/data.js
Labels: none

feat(resilience): add provider-aware bulkhead, token bucket, and adaptive concurrency
  src/mcp_server_langgraph/core/config.py
  src/mcp_server_langgraph/llm/factory.py
  src/mcp_server_langgraph/resilience/adaptive.py
  src/mcp_server_langgraph/resilience/bulkhead.py
  src/mcp_server_langgraph/resilience/config.py
  src/mcp_server_langgraph/resilience/rate_limit.py
  tests/unit/resilience/test_adaptive_bulkhead.py
  tests/unit/resilience/test_provider_aware_bulkhead.py
  tests/unit/resilience/test_token_bucket.py
Labels: tests

add Benchmark (pytest) benchmark result for ba157ae311be0ef03f377fc0b0e1007469e323f5
  dev/bench/data.js
Labels: none

fix(deploy): GKE Autopilot resource compliance for init containers
  deployments/base/limitrange.yaml
  deployments/overlays/production-gke/deployment-initcontainers-patch.yaml
  deployments/overlays/production-gke/deployment-patch.yaml
  deployments/overlays/production-gke/keycloak-patch.yaml
  deployments/overlays/production-gke/kube-score-compliance-patch.yaml
  deployments/overlays/production-gke/openfga-patch.yaml
  deployments/overlays/staging-gke/deployment-patch.yaml
  scripts/validators/validate_gke_autopilot_compliance.py
  tests/deployment/test_gke_autopilot_resources.py
Labels: tests

refactor(tests): upgrade Claude Opus 4.1 → 4.5 in all test files
  tests/integration/test_pydantic_ai.py
  tests/integration/test_vertex_ai_anthropic.py
  tests/llm/test_pydantic_model_names.py
  tests/unit/test_gke_autopilot_validator.py
  tests/unit/test_vertex_ai_provider_detection.py
Labels: tests

docs: add comprehensive LLM provider resilience best practices guide
  docs/deployment/llm-provider-resilience.mdx
Labels: documentation

docs: add llm-provider-resilience to navigation
  docs/docs.json
Labels: documentation

docs: fix llm-provider-resilience icon and links
  docs/deployment/llm-provider-resilience.mdx
Labels: documentation

fix(tests): adjust retry backoff assertion bounds for jitter
  tests/resilience/test_retry.py
Labels: tests

add Benchmark (pytest) benchmark result for f4091daa4f67b79d1a30e82d5ee5fba8c35c3a61
  dev/bench/data.js
Labels: none

fix(deploy): remove build-time Keycloak args incompatible with --optimized
  deployments/overlays/production-gke/keycloak-patch.yaml
  deployments/overlays/staging-gke/keycloak-patch.yaml
Labels: none

add Benchmark (pytest) benchmark result for c67d82baf675b970251fdcbbda72a4c8c9d66534
  dev/bench/data.js
Labels: none

refactor(kustomize): move PDB, LimitRange, ResourceQuota to overlays
  deployments/base/kustomization.yaml
Labels: none

test: update base kustomization test for overlay-based resources
  tests/meta/validation/test_deployment_manifests.py
Labels: tests

add Benchmark (pytest) benchmark result for b32116250c96429fffe9ebcca6bd5cafa081ec70
  dev/bench/data.js
Labels: none

fix(network): restore Cloud SQL Proxy port 3307 in GKE NetworkPolicies
  deployments/overlays/production-gke/network-policy.yaml
  deployments/overlays/staging-gke/network-policy.yaml
  tests/meta/validation/test_deployment_manifests.py
Labels: tests

add Benchmark (pytest) benchmark result for 4ea3cbc1cfd5dbcb108e2204fc613d6a126a2359
  dev/bench/data.js
Labels: none

docs: update test file path references in comments
  tests/unit/mcp/test_mcp_server_behavioral.py
  tests/utils/mock_factories.py
Labels: tests

docs: update test paths in documentation for new subdirectory structure
  .claude/commands/coverage-gaps.md
  .claude/commands/create-test.md
  .claude/commands/improve-coverage.md
  .claude/commands/knowledge-search.md
  adr/adr-0022-distributed-conversation-checkpointing.md
  adr/adr-0026-lazy-observability-initialization.md
  adr/adr-0042-dependency-injection-configuration-fixes.md
  adr/adr-0050-dependency-singleton-pattern-justification.md
  docs/advanced/contributing.mdx
  docs/advanced/development-setup.mdx
  docs/advanced/testing.mdx
  docs/architecture/adr-0022-distributed-conversation-checkpointing.mdx
  docs/architecture/adr-0026-lazy-observability-initialization.mdx
  docs/architecture/adr-0042-dependency-injection-configuration-fixes.mdx
  docs/architecture/adr-0050-dependency-singleton-pattern-justification.mdx
  docs/deployment/gke-autopilot-resource-constraints.mdx
  docs/releases/v2-8-0.mdx
  tests/README.md
  tests/smoke/README.md
Labels: documentation, tests

add Benchmark (pytest) benchmark result for a96423ac3606a29cc5340dbae2ac8029d388fd63
  dev/bench/data.js
Labels: none

refactor: complete staging-to-preview rename for Terraform and scripts
  docs/deployment/gke-preview-implementation-summary.mdx
  docs/deployment/kubernetes/gke-preview.mdx
  docs/docs.json
  docs/security/gke-preview-checklist.mdx
  scripts/gcp/preview-smoke-tests.sh
  scripts/gcp/setup-preview-infrastructure.sh
  scripts/gcp/setup-vertex-ai-preview.sh
  scripts/gcp/setup-workload-identity.sh
  scripts/gcp/teardown-preview-infrastructure.sh
  scripts/gcp/validate-preview-deployment.sh
  terraform/backend-configs/gcp-preview.gcs.tfbackend.example
  terraform/environments/gcp-preview-wif-only/.gitignore
  terraform/environments/gcp-preview-wif-only/README.md
  terraform/environments/gcp-preview-wif-only/backend-config.tfbackend.example
  terraform/environments/gcp-preview-wif-only/main.tf
  terraform/environments/gcp-preview-wif-only/outputs.tf
  terraform/environments/gcp-preview-wif-only/variables.tf
  terraform/environments/gcp-preview/main.tf
  terraform/environments/gcp-preview/outputs.tf
  terraform/environments/gcp-preview/terraform.tfvars
  terraform/environments/gcp-preview/terraform.tfvars.example
  terraform/environments/gcp-preview/variables.tf
Labels: documentation

fix(ci): complete staging-to-preview rename and fix CI failure
  .github/workflows/deploy-preview-gke.yaml
  .github/workflows/deployment-validation.yml
  .github/workflows/validate-kubernetes.yaml
  deployments/base/keycloak-deployment.yaml
  deployments/overlays/preview-gke/configmap-patch.yaml
  deployments/overlays/preview-gke/deployment-redis-url-json-patch.yaml
  deployments/overlays/preview-gke/kustomization.yaml
  deployments/overlays/preview-gke/namespace.yaml
  deployments/overlays/preview-gke/otel-collector-config.yaml
  deployments/overlays/preview-gke/otel-collector-configmap-patch.yaml
  deployments/overlays/staging/configmap-patch.yaml
  deployments/overlays/staging/deployment-patch.yaml
  deployments/overlays/staging/kustomization.yaml
  deployments/overlays/staging/namespace.yaml
  deployments/overlays/staging/otel-collector-patch.yaml
  deployments/overlays/staging/postgres-patch.yaml
  deployments/overlays/staging/qdrant-patch.yaml
  deployments/overlays/staging/redis-session-patch.yaml
  tests/deployment/test_kustomize_builds.py
  tests/deployment/test_rollout_resilience.py
  tests/deployment/test_service_dependencies.py
  tests/kubernetes/test_kustomize_preview_gke.py
Labels: tests, ci-cd

feat: add visual workflow builder and interactive playground to test infrastructure
  Makefile
  docker-compose.test.yml
  docker/Dockerfile.builder-api
  docker/Dockerfile.builder-frontend
  docker/Dockerfile.playground
  docker/nginx/builder.conf
  src/mcp_server_langgraph/playground/api/__init__.py
  src/mcp_server_langgraph/playground/api/models.py
  src/mcp_server_langgraph/playground/api/server.py
  src/mcp_server_langgraph/playground/session/__init__.py
  src/mcp_server_langgraph/playground/session/manager.py
  src/mcp_server_langgraph/playground/streaming/__init__.py
  src/mcp_server_langgraph/playground/streaming/handler.py
  tests/constants.py
  tests/playground/__init__.py
  tests/playground/test_playground_api.py
  tests/playground/test_playground_security.py
  tests/playground/test_playground_session.py
  tests/playground/test_playground_websocket.py
Labels: tests, ci-cd, docker, config

docs: add Mintlify documentation for playground and builder
  docs/architecture/adr-0067-interactive-playground.mdx
  docs/development/test-infrastructure.mdx
  docs/docs.json
  docs/guides/interactive-playground.mdx
  docs/guides/visual-workflow-builder.mdx
Labels: documentation

test: fix playground session tests to use mock Redis
  pyproject.toml
  tests/playground/test_playground_session.py
Labels: tests, dependencies, config

fix(terraform): fix GKE Autopilot and Cloud SQL module defaults with TDD tests
  deployments/overlays/preview-gke/keycloak-json-patch.yaml
  deployments/overlays/preview-gke/openfga-json-patch.yaml
  docs/deployment/gke-preview-implementation-summary.mdx
  docs/deployment/kubernetes/gke-production.mdx
  docs/deployment/vertex-ai-workload-identity.mdx
  terraform/environments/gcp-preview/main.tf
  terraform/modules/cloudsql/main.tf
  terraform/modules/cloudsql/variables.tf
  terraform/modules/gke-autopilot/main.tf
  terraform/modules/gke-autopilot/variables.tf
  tests/infrastructure/test_gcp_terraform_modules.py
Labels: documentation, tests

test: add mock fixtures for playground tests to avoid Redis connections
  src/mcp_server_langgraph/playground/streaming/handler.py
  tests/playground/conftest.py
  tests/playground/test_playground_api.py
  tests/playground/test_playground_security.py
  tests/playground/test_playground_websocket.py
Labels: tests

fix: resolve documentation validation failures
  adr/adr-0067-interactive-playground.md
  docs/guides/visual-workflow-builder.mdx
Labels: documentation

chore: update ADR badge count in README.md (63 → 64)
  README.md
Labels: documentation

chore: update ADR count in architecture overview (63 → 64)
  docs/architecture/overview.mdx
Labels: documentation

fix: add xdist_group markers to test_playground_session.py classes
  tests/playground/test_playground_session.py
Labels: tests

style: add ColorBrewer2 Set3 palette styling to Mermaid diagrams
  docs/development/test-infrastructure.mdx
  docs/guides/interactive-playground.mdx
  docs/guides/visual-workflow-builder.mdx
Labels: documentation

fix: add missing xdist_group marker to TestUserIsolation class
  tests/playground/test_playground_security.py
Labels: tests

fix: add xdist_group markers to all playground test classes
  tests/playground/test_playground_api.py
  tests/playground/test_playground_security.py
  tests/playground/test_playground_websocket.py
Labels: tests

chore: regenerate ADR index with ADR-0067
  adr/README.md
Labels: documentation

style: add ColorBrewer2 theme to sequence diagram in ADR-0067
  docs/architecture/adr-0067-interactive-playground.mdx
Labels: documentation

fix(build): add package-lock.json for reproducible npm ci builds
  .gitignore
  src/mcp_server_langgraph/builder/frontend/package-lock.json
Labels: none

.github/labeler.yml:

# Auto-labeler configuration for PRs
# Uses changed-files pattern matching

# Documentation
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'
      - '**/*.mdx'
      - 'docs/**/*'
      - 'mint.json'
      - '.mcp/*.json'

# Tests
tests:
  - changed-files:
    - any-glob-to-any-file:
      - 'tests/**/*'
      - '**/*test*.py'
      - 'test_*.py'
      - '*_test.py'
      - 'pytest.ini'
      - 'conftest.py'
      - 'TESTING.md'

# CI/CD
ci-cd:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**/*'
      - '.github/actions/**/*'
      - '.gitlab-ci.yml'
      - 'Makefile'
      - '.pre-commit-config.yaml'

# Dependencies
dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'requirements*.txt'
      - 'setup.py'
      - 'pyproject.toml'
      - 'poetry.lock'
      - 'package*.json'
      - 'yarn.lock'

# Docker
docker:
  - changed-files:
    - any-glob-to-any-file:
      - 'Dockerfile*'
      - 'docker-compose*.yml'
      - '.dockerignore'

# Kubernetes/Deployment
deployment:
  - changed-files:
    - any-glob-to-any-file:
      - 'kubernetes/**/*'
      - 'kustomize/**/*'
      - 'helm/**/*'
      - 'k8s/**/*'
      - 'KUBERNETES_DEPLOYMENT.md'
      - 'PRODUCTION_DEPLOYMENT.md'

# Authentication/Authorization
auth:
  - changed-files:
    - any-glob-to-any-file:
      - 'auth.py'
      - 'openfga_client.py'
      - 'setup_openfga.py'

# Secrets Management
secrets:
  - changed-files:
    - any-glob-to-any-file:
      - 'secrets_manager.py'
      - 'setup_infisical.py'

# Observability
observability:
  - changed-files:
    - any-glob-to-any-file:
      - 'observability.py'
      - 'health_check.py'
      - 'monitoring/**/*'
      - 'grafana/**/*'

# MCP Server
mcp:
  - changed-files:
    - any-glob-to-any-file:
      - 'mcp_server*.py'
      - 'examples/*client*.py'

# Agent/Core
agent:
  - changed-files:
    - any-glob-to-any-file:
      - 'agent.py'
      - 'graph.py'
      - 'models.py'
      - 'prompt*.py'

# Configuration
config:
  - changed-files:
    - any-glob-to-any-file:
      - 'config.py'
      - '.env*'
      - 'settings.py'
      - '*.yaml'
      - '*.yml'
      - '*.toml'
      - '*.ini'
      - '.editorconfig'

# Security
security:
  - changed-files:
    - any-glob-to-any-file:
      - 'auth.py'
      - 'secrets_manager.py'
      - 'openfga_client.py'
      - 'SECURITY*.md'
      - '.github/workflows/security-scan.yaml'
      - 'scripts/validate_production.py'

# Community
community:
  - changed-files:
    - any-glob-to-any-file:
      - 'CODE_OF_CONDUCT.md'
      - 'CONTRIBUTING.md'
      - 'DEVELOPMENT.md'
      - '.github/SUPPORT.md'
      - '.github/FUNDING.yml'
      - '.github/ISSUE_TEMPLATE/**/*'
      - '.github/PULL_REQUEST_TEMPLATE.md'
