Repository vishnu2kmohan/mcp-server-langgraph, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, tests, ci-cd, dependencies, docker, deployment, auth, secrets, observability, mcp, agent, config, security, community

.github/labeler.yml:

# Auto-labeler configuration for PRs
# Uses changed-files pattern matching

# Documentation
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'
      - '**/*.mdx'
      - 'docs/**/*'
      - 'mint.json'
      - '.mcp/*.json'

# Tests
tests:
  - changed-files:
    - any-glob-to-any-file:
      - 'tests/**/*'
      - '**/*test*.py'
      - 'test_*.py'
      - '*_test.py'
      - 'pytest.ini'
      - 'conftest.py'
      - 'TESTING.md'

# CI/CD
ci-cd:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**/*'
      - '.github/actions/**/*'
      - '.gitlab-ci.yml'
      - 'Makefile'
      - '.pre-commit-config.yaml'

# Dependencies
dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'requirements*.txt'
      - 'setup.py'
      - 'pyproject.toml'
      - 'poetry.lock'
      - 'package*.json'
      - 'yarn.lock'

# Docker
docker:
  - changed-files:
    - any-glob-to-any-file:
      - 'Dockerfile*'
      - 'docker-compose*.yml'
      - '.dockerignore'

# Kubernetes/Deployment
deployment:
  - changed-files:
    - any-glob-to-any-file:
      - 'kubernetes/**/*'
      - 'kustomize/**/*'
      - 'helm/**/*'
      - 'k8s/**/*'
      - 'KUBERNETES_DEPLOYMENT.md'
      - 'PRODUCTION_DEPLOYMENT.md'

# Authentication/Authorization
auth:
  - changed-files:
    - any-glob-to-any-file:
      - 'auth.py'
      - 'openfga_client.py'
      - 'setup_openfga.py'

# Secrets Management
secrets:
  - changed-files:
    - any-glob-to-any-file:
      - 'secrets_manager.py'
      - 'setup_infisical.py'

# Observability
observability:
  - changed-files:
    - any-glob-to-any-file:
      - 'observability.py'
      - 'health_check.py'
      - 'monitoring/**/*'
      - 'grafana/**/*'

# MCP Server
mcp:
  - changed-files:
    - any-glob-to-any-file:
      - 'mcp_server*.py'
      - 'examples/*client*.py'

# Agent/Core
agent:
  - changed-files:
    - any-glob-to-any-file:
      - 'agent.py'
      - 'graph.py'
      - 'models.py'
      - 'prompt*.py'

# Configuration
config:
  - changed-files:
    - any-glob-to-any-file:
      - 'config.py'
      - '.env*'
      - 'settings.py'
      - '*.yaml'
      - '*.yml'
      - '*.toml'
      - '*.ini'
      - '.editorconfig'

# Security
security:
  - changed-files:
    - any-glob-to-any-file:
      - 'auth.py'
      - 'secrets_manager.py'
      - 'openfga_client.py'
      - 'SECURITY*.md'
      - '.github/workflows/security-scan.yaml'
      - 'scripts/validate_production.py'

# Community
community:
  - changed-files:
    - any-glob-to-any-file:
      - 'CODE_OF_CONDUCT.md'
      - 'CONTRIBUTING.md'
      - 'DEVELOPMENT.md'
      - '.github/SUPPORT.md'
      - '.github/FUNDING.yml'
      - '.github/ISSUE_TEMPLATE/**/*'
      - '.github/PULL_REQUEST_TEMPLATE.md'

fix(tests): improve smoke test reliability with module reloading
  tests/smoke/test_ci_startup_smoke.py
Labels: tests

add Benchmark (pytest) benchmark result for eab9d5b574b377e6e2cb5266fb271b405eb03130
  dev/bench/data.js
Labels: none

feat(types): Phase 3.1 - Add missing type annotations (-11 MyPy errors)
  docs/api-reference/gdpr-endpoints.mdx
  docs/architecture/adr-0042-dependency-injection-configuration-fixes.mdx
  docs/architecture/adr-0044-test-infrastructure-quick-wins.mdx
  docs/architecture/adr-0045-test-infrastructure-phase-2-foundation.mdx
  docs/architecture/adr-0048-postgres-storage-integration-tests.mdx
  docs/architecture/overview.mdx
  docs/testing/SUMMARY-phases-1-2.md
  src/mcp_server_langgraph/cli/create_agent.py
  src/mcp_server_langgraph/core/checkpoint_validator.py
  src/mcp_server_langgraph/core/container.py
  src/mcp_server_langgraph/core/interrupts/interrupts.py
  src/mcp_server_langgraph/execution/docker_sandbox.py
  src/mcp_server_langgraph/execution/resource_limits.py
  tests/cli/test_add_tool.py
  tests/cli/test_create_agent.py
  tests/core/interrupts/test_approval.py
  tests/core/interrupts/test_interrupts.py
  tests/test_session.py
Labels: documentation, tests

add Benchmark (pytest) benchmark result for f255bc7e2081baf45e495d58dfc19a210e4b14e7
  dev/bench/data.js
Labels: none

test(interrupts,cli): add comprehensive tests and fix critical bugs
  src/mcp_server_langgraph/core/interrupts/interrupts.py
  tests/cli/test_add_tool.py
  tests/core/interrupts/test_approval.py
Labels: tests

add Benchmark (pytest) benchmark result for 53ac0cc721bf81caec1296eaf0914842cb1547d5
  dev/bench/data.js
Labels: none

feat(deployment): Phase 6 - Production readiness with External Secrets and Kustomize
  deployments/PRODUCTION_DEPLOYMENT_GUIDE.md
  deployments/helm/values-production.yaml
  deployments/helm/values-staging.yaml
  deployments/overlays/production-gke/environment-vars.yaml
  deployments/overlays/production-gke/kustomization.yaml
  deployments/overlays/production-gke/otel-collector-config.yaml
Labels: documentation

add Benchmark (pytest) benchmark result for d807e7e3502291359b9e37a65c1b536153f20c32
  dev/bench/data.js
Labels: none

feat(testing): Phase 4 - BATS shell script testing framework
  .github/workflows/shell-tests.yml
  .gitmodules
  .pre-commit-config.yaml
  docs/IMPLEMENTATION_SUMMARY.md
  docs/ci-cd/badges.mdx
  docs/compliance/gdpr/dpa-template.mdx
  docs/compliance/hipaa/overview.mdx
  docs/compliance/soc2/overview.mdx
  docs/deployment/iam-rbac-requirements.mdx
  docs/deployment/infisical-installation.mdx
  docs/testing/dependency-injection-testing.md
  scripts/fix_rate_limiter_tests.py
  scripts/gcp/staging-smoke-tests.sh
  tests/meta/test_documentation_validation.py
  tests/scripts/test_staging_smoke_tests.bats
  tests/test_rate_limiter.py
Labels: documentation, tests, ci-cd, config

add Benchmark (pytest) benchmark result for 5a869994488d0b856ad6f7db6a212f15f8e60877
  dev/bench/data.js
Labels: none

fix(tests): TDD-based remediation of 38+ critical test failures
  scripts/fix_production_settings_tests.py
  tests/api/test_app_configuration.py
  tests/core/test_cache.py
  tests/core/test_container.py
  tests/property/test_auth_properties.py
  tests/test_code_execution_config.py
  tests/test_config_validation.py
  tests/test_health_check.py
  tests/test_rate_limiter.py
  tests/unit/test_cache_redis_config.py
  tests/unit/test_dependencies_wiring.py
  tests/unit/test_mcp_stdio_server.py
  tests/unit/test_parallel_executor_timeout.py
  tests/unit/test_provider_credentials.py
  tests/unit/test_search_tools.py
Labels: tests

add Benchmark (pytest) benchmark result for b090090539e10e3f73490dc28843eadf8e41da4e
  dev/bench/data.js
Labels: none

fix(tests): complete middleware rate limiter test fixes (17 failures → 0)
  tests/middleware/test_rate_limiter.py
Labels: tests

fix(tests): add observability fixture to test_auth.py
  tests/test_auth.py
Labels: tests

test(workflows): add comprehensive GitHub Actions validation suite
  tests/workflows/test_github_actions_validation.py
Labels: tests

fix(workflows): fix critical release and deployment workflow bugs
  .github/workflows/deploy-production-gke.yaml
  .github/workflows/release.yaml
Labels: ci-cd

add Benchmark (pytest) benchmark result for fdc3f04c4088740870d83eb5bb69e4e40bc517e3
  dev/bench/data.js
Labels: none

refactor(workflows): consolidate duplicate workflows and improve reliability
  .github/actions/setup-python-deps/action.yml
  .github/workflows/ci.yaml
  .github/workflows/docs-link-check.yml
  .github/workflows/link-checker.yaml
  .github/workflows/validate-kubernetes.yaml
Labels: ci-cd

chore(workflows): improve scheduled job reliability and documentation
  .github/workflows/cost-tracking.yaml
  .github/workflows/gcp-drift-detection.yaml
  docs/workflows/optimization-history.md
Labels: documentation, ci-cd

docs(workflows): document workflow validation and fixes
  CHANGELOG.md
Labels: documentation

add Benchmark (pytest) benchmark result for c98346f2277a824c546e4f3a70b2cf0502bf8844
  dev/bench/data.js
Labels: none

fix(tests): add observability fixtures to 13+ integration/builder/infra tests
  .github/workflows/validate-deployments.yml
  tests/builder/api/test_server.py
  tests/builder/test_builder_security.py
  tests/builder/test_code_generator.py
  tests/builder/test_importer.py
  tests/infrastructure/test_app_factory.py
  tests/infrastructure/test_database_ha.py
  tests/infrastructure/test_external_secrets_rbac.py
  tests/integration/test_app_startup_validation.py
  tests/integration/test_gdpr_endpoints.py
  tests/integration/test_mcp_startup_validation.py
  tests/integration/test_tool_improvements.py
  tests/kubernetes/test_external_secrets.py
  tests/unit/test_security_practices.py
Labels: tests, ci-cd

fix(tests): add observability fixtures to 13+ integration/builder/infra tests
  tests/unit/test_security_practices.py
Labels: tests

add Benchmark (pytest) benchmark result for 45aa38ea8a00c39a9b6cc7e4ab1ccfd9fd5cf71e
  dev/bench/data.js
Labels: none

add Benchmark (pytest) benchmark result for 91ea32c1cb6219c927f0cedbaf66c68d3ef9cbc8
  dev/bench/data.js
Labels: none

fix(tests): builder API test fixes (12 failures → 2)
  tests/builder/api/test_server.py
  tests/builder/test_builder_security.py
Labels: tests

add Benchmark (pytest) benchmark result for de8df29bf2c7a19257aea622046cde79fb9c6ed5
  dev/bench/data.js
Labels: none

fix(workflows): comprehensive GitHub Actions validation and fixes (TDD)
  .github/workflow-validation-2025-11-07.md
  .github/workflows/bump-deployment-versions.yaml
  .github/workflows/ci.yaml
  .github/workflows/coverage-trend.yaml
  .github/workflows/deploy-production-gke.yaml
  .github/workflows/deploy-staging-gke.yaml
  .github/workflows/dora-metrics.yaml
  .github/workflows/gcp-compliance-scan.yaml
  .github/workflows/performance-regression.yaml
  .github/workflows/quality-tests.yaml
  .github/workflows/release.yaml
  .github/workflows/security-validation.yml
  .github/workflows/shell-tests.yml
  .github/workflows/smoke-tests.yml
  .github/workflows/validate-kubernetes.yaml
  pyproject.toml
  scripts/test-workflows.sh
  tests/workflows/test_workflow_validation.py
  uv.lock
Labels: documentation, tests, ci-cd, dependencies, config

add Benchmark (pytest) benchmark result for ae71fb35534c671d05c2d38f5537152bca4f8663
  dev/bench/data.js
Labels: none

fix(tests): remove unused workflow variables in staging validation test
  tests/workflows/test_workflow_validation.py
Labels: tests

fix(tests): remove unused workflow variables in staging validation test
  tests/workflows/test_workflow_validation.py
Labels: tests

add Benchmark (pytest) benchmark result for 2df8cfefc0ea62dd38297825a2df665bed540dd5
  dev/bench/data.js
Labels: none

add Benchmark (pytest) benchmark result for 19270eee0dd64015c9eaffb7ce647290b0a8cc5c
  dev/bench/data.js
Labels: none

fix(k8s): resolve 5 critical deployment security & reliability issues
  .pre-commit-config.yaml
  deployments/base/deployment.yaml
  deployments/base/kustomization.yaml
  deployments/base/networkpolicy.yaml
  deployments/base/secret.yaml
  deployments/overlays/production-gke/network-policy.yaml
  deployments/overlays/production-gke/resource-quotas.yaml
  docs/CRITICAL_FIXES_SUMMARY.md
  tests/kubernetes/test_critical_deployment_issues.py
Labels: documentation, tests, ci-cd, config

test(fixtures): consolidate duplicate observability fixtures (TDD)
  docs-internal/CODEX_FINDINGS_VALIDATION_REPORT.md
  pyproject.toml
  scripts/fix_decorator_leftover.py
  scripts/remove_duplicate_fixtures.py
  src/mcp_server_langgraph/resilience/retry.py
  tests/builder/api/test_server.py
  tests/builder/test_builder_security.py
  tests/builder/test_code_generator.py
  tests/builder/test_importer.py
  tests/conftest.py
  tests/core/test_cache.py
  tests/core/test_container.py
  tests/infrastructure/test_app_factory.py
  tests/infrastructure/test_database_ha.py
  tests/infrastructure/test_external_secrets_rbac.py
  tests/integration/test_app_startup_validation.py
  tests/integration/test_gdpr_endpoints.py
  tests/integration/test_mcp_startup_validation.py
  tests/integration/test_tool_improvements.py
  tests/kubernetes/test_external_secrets.py
  tests/middleware/test_rate_limiter.py
  tests/property/test_auth_properties.py
  tests/resilience/test_retry.py
  tests/test_auth.py
  tests/test_fixture_organization.py
  tests/test_health_check.py
  tests/test_rate_limiter.py
  tests/test_session_timeout.py
  tests/unit/test_cache_redis_config.py
  tests/unit/test_dependencies_wiring.py
  tests/unit/test_mcp_stdio_server.py
  tests/unit/test_parallel_executor_timeout.py
  tests/unit/test_provider_credentials.py
  tests/unit/test_search_tools.py
  tests/unit/test_security_practices.py
Labels: documentation, tests, dependencies, config

fix(security): TDD security fixes - Redis optional dependency + RS256 JWT support
  src/mcp_server_langgraph/middleware/session_timeout.py
  tests/resilience/test_retry.py
  tests/test_session_timeout.py
Labels: tests

feat(k8s): implement high-priority production-readiness improvements
  deployments/base/deployment.yaml
  deployments/base/kustomization.yaml
  deployments/base/postgres-statefulset.yaml
  deployments/base/redis-session-deployment.yaml
  deployments/base/role.yaml
  tests/kubernetes/test_high_priority_improvements.py
Labels: tests

docs(k8s): add comprehensive deployment improvements summary
  docs/DEPLOYMENT_IMPROVEMENTS_SUMMARY.md
Labels: documentation

feat(test-infrastructure): comprehensive test infrastructure improvements (TDD)
  adr/adr-0043-pytest-fixture-consolidation.md
  src/mcp_server_langgraph/core/dependencies.py
  tests/README.md
  tests/conftest.py
  tests/conftest_fixtures_plugin.py
  tests/unit/test_dependencies_wiring.py
  tests/unit/test_llm_fallback_kwargs.py
  tests/unit/test_search_tools.py
Labels: documentation, tests

test(dependencies): add Redis URL parsing validation tests (Phase 3)
  tests/unit/test_dependencies_wiring.py
Labels: tests
