Repository vishnu2kmohan/mcp-server-langgraph, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, tests, ci-cd, dependencies, docker, deployment, auth, secrets, observability, mcp, agent, config, security, community

feat(api): add KB Focus Mode and status endpoint
  src/mcp_server_langgraph/api/v1/ai_ux.py
  src/mcp_server_langgraph/api/v1/ai_ux_service.py
  src/mcp_server_langgraph/api/v1/chat.py
  src/mcp_server_langgraph/api/v1/kb.py
Labels: none

feat(tools): enhance file tools with validation improvements
  src/mcp_server_langgraph/tools/edit_file_tools.py
  src/mcp_server_langgraph/tools/write_file_tools.py
Labels: none

feat(observability): add token usage dashboard and telemetry hooks
  monitoring/grafana/dashboards/Application/conversation-token-usage.json
  src/mcp_server_langgraph/observability/telemetry.py
Labels: observability

chore(dashboards): sync dashboard formatting and content
  deployments/helm/mcp-server-langgraph/dashboards/Application/alert-dashboard.json
  deployments/helm/mcp-server-langgraph/dashboards/Application/conversation-token-usage.json
  deployments/helm/mcp-server-langgraph/dashboards/Application/hitl-metrics.json
  deployments/helm/mcp-server-langgraph/dashboards/Application/multi-agent-cost-tracking.json
  deployments/helm/mcp-server-langgraph/dashboards/Application/orchestrator-metrics.json
  deployments/helm/mcp-server-langgraph/dashboards/Application/orchestrator-status.json
  deployments/helm/mcp-server-langgraph/dashboards/Application/push-analytics.json
  deployments/helm/mcp-server-langgraph/dashboards/Application/skills-agents.json
  deployments/helm/mcp-server-langgraph/dashboards/Application/unified-api.json
  deployments/helm/mcp-server-langgraph/dashboards/Application/visual-verification.json
  deployments/helm/mcp-server-langgraph/dashboards/Compliance/audit-compliance.json
  monitoring/grafana/dashboards/Application/alert-dashboard.json
  monitoring/grafana/dashboards/Application/conversation-token-usage.json
  monitoring/grafana/dashboards/Application/hitl-metrics.json
  monitoring/grafana/dashboards/Application/multi-agent-cost-tracking.json
  monitoring/grafana/dashboards/Application/orchestrator-metrics.json
  monitoring/grafana/dashboards/Application/orchestrator-status.json
  monitoring/grafana/dashboards/Application/push-analytics.json
  monitoring/grafana/dashboards/Application/skills-agents.json
  monitoring/grafana/dashboards/Application/unified-api.json
  monitoring/grafana/dashboards/Application/visual-verification.json
  monitoring/grafana/dashboards/Compliance/audit-compliance.json
Labels: observability

docs(dashboards): update dashboard README with new folder structure
  monitoring/grafana/dashboards/README.md
Labels: documentation, observability

refactor(monitoring): consolidate alert rules from K8s CRD to Prometheus format
  .pre-commit-config.yaml
  README.md
  adr/adr-0096-alert-consolidation-and-quality.md
  deployments/monitoring/alerting-rules/alert-dashboard-alerts.yaml
  deployments/monitoring/alerting-rules/hitl-alerts.yaml
  deployments/monitoring/alerting-rules/resilience-alerts.yaml
  deployments/monitoring/prompt-quality-alerts.yaml
  deployments/monitoring/slo-alerts.yaml
  docker/mimir/rules/alert-dashboard-alerts.yaml
  docker/mimir/rules/conversation-token-alerts.yaml
  docker/mimir/rules/hitl-alerts.yaml
  docker/mimir/rules/langgraph-agent-alerts.yaml
  docker/mimir/rules/prompt-quality-alerts.yaml
  docker/mimir/rules/sla-uptime-alerts.yaml
  docker/mimir/rules/slo-alerts.yaml
  docker/mimir/rules/slo-recording-rules.yaml
  docker/mimir/rules/streaming-sla-alerts.yaml
  docker/mimir/rules/studio-ai-cost-alerts.yaml
  docker/mimir/rules/websocket-reconnection-alerts.yaml
  docs/architecture/adr-0096-alert-consolidation-and-quality.mdx
  monitoring/prometheus/alerts/langgraph-agent.yaml
  monitoring/prometheus/alerts/sla.yaml
  monitoring/prometheus/rules/alert-dashboard-alerts.yaml
  monitoring/prometheus/rules/conversation-token-alerts.yml
  monitoring/prometheus/rules/hitl-alerts.yaml
  monitoring/prometheus/rules/langgraph-agent-alerts.yaml
  monitoring/prometheus/rules/prompt-quality-alerts.yaml
  monitoring/prometheus/rules/resilience-alerts.yaml
  monitoring/prometheus/rules/sla-uptime-alerts.yaml
  monitoring/prometheus/rules/slo-alerts.yaml
  monitoring/prometheus/rules/studio-ai-cost-alerts.yaml
  monitoring/runbooks/sla-alerts.md
  scripts/alert-coverage-report.py
  scripts/convert-k8s-crd-alerts.py
  scripts/sync-mimir-rules.sh
  scripts/validators/validate_alert_rules.py
  tests/unit/scripts/test_alert_consolidation.py
  tests/unit/scripts/test_convert_k8s_crd_alerts.py
  tests/unit/scripts/test_sync_grafana_dashboards.py
  tests/unit/scripts/test_sync_mimir_rules.py
Labels: documentation, tests, ci-cd, observability, config

feat(monitoring): add HEART metrics dashboard
  deployments/helm/mcp-server-langgraph/dashboards/HEART/heart-metrics.json
  monitoring/grafana/dashboards/HEART/heart-metrics.json
Labels: observability

refactor(api): improve WebSocket handlers and backend services
  src/mcp_server_langgraph/agents/worker_agent.py
  src/mcp_server_langgraph/api/v1/ai.py
  src/mcp_server_langgraph/api/v1/ai_ux_graph.py
  src/mcp_server_langgraph/api/v1/ai_ux_service.py
  src/mcp_server_langgraph/api/v1/cost_tracking_ws.py
  src/mcp_server_langgraph/api/v1/execution_plans.py
  src/mcp_server_langgraph/api/v1/heart_metrics_ws.py
  src/mcp_server_langgraph/api/v1/kb.py
  src/mcp_server_langgraph/api/v1/router.py
  src/mcp_server_langgraph/auth/device_auth.py
  src/mcp_server_langgraph/core/dynamic_context_loader.py
  src/mcp_server_langgraph/core/models/execution_plan.py
  src/mcp_server_langgraph/core/models/plan_template.py
  src/mcp_server_langgraph/core/schema_validator.py
  src/mcp_server_langgraph/notifications/push_sender.py
  src/mcp_server_langgraph/observability/broadcasting_span_processor.py
  src/mcp_server_langgraph/repositories/execution_plan.py
  src/mcp_server_langgraph/repositories/plan_template.py
  src/mcp_server_langgraph/storage/vectors/inmemory.py
  src/mcp_server_langgraph/storage/vectors/pgvector_provider.py
  src/mcp_server_langgraph/storage/vectors/qdrant_provider.py
  src/mcp_server_langgraph/websocket/handlers/metrics_broadcaster.py
  src/mcp_server_langgraph/websocket/metrics.py
  tests/unit/alerts/test_ai_recommendation.py
  tests/unit/api/test_genui_api.py
  tests/unit/api/v1/test_ai_ux_base_class.py
  tests/unit/api/v1/test_ai_ux_service_mixin_migration.py
  tests/unit/api/v1/test_cost_tracking_ws.py
  tests/unit/api/v1/test_heart_metrics_ws.py
  tests/unit/api/v1/test_observability_router.py
  tests/unit/api/v1/test_websocket_metrics_api.py
Labels: tests

docs(runbooks): add comprehensive incident response runbooks
  monitoring/runbooks/auth-spike.md
  monitoring/runbooks/authentication-alerts.md
  monitoring/runbooks/authz-spike.md
  monitoring/runbooks/conversation-token-alerts.md
  monitoring/runbooks/health-check-failing.md
  monitoring/runbooks/high-cpu.md
  monitoring/runbooks/high-error-rate.md
  monitoring/runbooks/high-latency.md
  monitoring/runbooks/high-memory.md
  monitoring/runbooks/infisical-down.md
  monitoring/runbooks/infrastructure-alerts.md
  monitoring/runbooks/insufficient-replicas.md
  monitoring/runbooks/keycloak-slow.md
  monitoring/runbooks/keycloak-token-refresh.md
  monitoring/runbooks/langgraph-agent-health.md
  monitoring/runbooks/llm-performance-alerts.md
  monitoring/runbooks/llm-provider-errors.md
  monitoring/runbooks/low-disk-space.md
  monitoring/runbooks/openfga-down.md
  monitoring/runbooks/pod-restarts.md
  monitoring/runbooks/prompt-quality-alerts.md
  monitoring/runbooks/redis-down.md
  monitoring/runbooks/redis-memory.md
  monitoring/runbooks/redis-pool.md
  monitoring/runbooks/resilience-alerts.md
  monitoring/runbooks/scale-down.md
  monitoring/runbooks/scale-up.md
  monitoring/runbooks/service-down.md
  monitoring/runbooks/session-errors.md
  monitoring/runbooks/session-ttl.md
  monitoring/runbooks/slow-llm.md
  monitoring/runbooks/streaming-alerts.md
  monitoring/runbooks/suspicious-activity.md
  monitoring/runbooks/token-validation-failures.md
  monitoring/runbooks/unauthorized-access.md
Labels: documentation, observability

feat(dashboards): enhance cost monitoring dashboard and validation
  deployments/helm/mcp-server-langgraph/dashboards/Application/cost-monitoring.json
  monitoring/grafana/dashboards/Application/cost-monitoring.json
  monitoring/grafana/dashboards/README.md
  scripts/validation/validate_grafana_dashboards.py
  tests/meta/test_dashboard_datasource_consistency.py
Labels: documentation, tests, observability

docs: update ADR and internal documentation
  adr/adr-0030-resilience-patterns.md
  docs-internal/ADR-0075-LLM-STREAMING-METRICS.md
  docs-internal/AI_INTELLIGENCE_SERVICES.md
  docs-internal/COMPLIANCE.md
Labels: documentation

chore: update mypy configuration for optional dependencies
  pyproject.toml
  tests/unit/api/v1/test_chat_streaming_production.py
Labels: tests, dependencies, config

fix(api): correct metrics client import path in agents endpoint
  src/mcp_server_langgraph/api/v1/agents.py
Labels: none

fix(grafana): configure session token rotation and enable Live features
  docker-compose.test.yml
Labels: docker, config

fix(observability): improve span serialization and query backends
  src/mcp_server_langgraph/monitoring/tempo_client.py
  src/mcp_server_langgraph/observability/broadcasting_span_processor.py
  src/mcp_server_langgraph/observability/query/backends/grafana.py
  src/mcp_server_langgraph/observability/query/backends/loki.py
  src/mcp_server_langgraph/observability/telemetry.py
  src/mcp_server_langgraph/observability/trace_broadcaster.py
Labels: none

fix(api): correct PromQL queries and OAuth cookie security
  src/mcp_server_langgraph/api/v1/auth.py
  src/mcp_server_langgraph/api/v1/observability.py
  src/mcp_server_langgraph/api/v1/sessions.py
Labels: none

feat(agents): add Vertex AI Gemini 3 preview models
  src/mcp_server_langgraph/agents/model_registry.py
  src/mcp_server_langgraph/agents/router_agent.py
Labels: none

fix(mcp): add DevTools middleware and improve emitter protocol
  src/mcp_server_langgraph/mcp/server_streamable.py
  src/mcp_server_langgraph/middleware/devtools_emitter.py
Labels: none

fix(frontend): improve DevTools layout and API pagination types
  src/mcp_server_langgraph/studio/frontend/package-lock.json
  src/mcp_server_langgraph/studio/frontend/src/api/index.ts
  src/mcp_server_langgraph/studio/frontend/src/components/Chat/MarkdownContent.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/DevTools/DevToolsPanel.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/DevTools/tabs/ConsoleTab.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/DevTools/tabs/TracesTab.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Insights/ObservabilityDocument.tsx
  src/mcp_server_langgraph/studio/frontend/src/conversation/ConnectedConversationPanel.tsx
  src/mcp_server_langgraph/studio/frontend/src/conversation/MessageBubble.tsx
  src/mcp_server_langgraph/studio/frontend/src/conversation/MessageList.tsx
  src/mcp_server_langgraph/studio/frontend/src/hooks/useAIPersonaAnalysis.ts
  src/mcp_server_langgraph/studio/frontend/src/pages/ObservabilityPage.tsx
Labels: none

feat(config): use Vertex AI fallback models and enable drop_params
  .env.test
  src/mcp_server_langgraph/core/config/_settings.py
  src/mcp_server_langgraph/core/config/llm.py
  src/mcp_server_langgraph/llm/factory.py
Labels: config

fix(lint): resolve final Ruff linting errors
  tests/benchmarks/test_alert_grouping_benchmark.py
  tests/integration/websocket/test_heart_metrics_websocket.py
  tests/unit/core/test_agent_interrupt.py
  tests/unit/repositories/test_plan_template_repository.py
  tests/unit/ws_handlers/test_metrics.py
Labels: tests

fix(tests): add auth mocks to missing endpoint and observability tests
  tests/unit/api/v1/test_missing_endpoints.py
  tests/unit/api/v1/test_observability_entity_filters.py
Labels: tests

feat(monitoring): add runbook URLs to alert rules and runbook documentation
  docker/mimir/rules/alert-dashboard-alerts.yaml
  docker/mimir/rules/hitl-alerts.yaml
  docker/mimir/rules/langgraph-agent-alerts.yaml
  docker/mimir/rules/prompt-quality-alerts.yaml
  docker/mimir/rules/resilience-alerts.yaml
  docker/mimir/rules/sla-uptime-alerts.yaml
  docker/mimir/rules/slo-alerts.yaml
  docker/mimir/rules/slo-recording-rules.yaml
  monitoring/prometheus/rules/alert-dashboard-alerts.yaml
  monitoring/prometheus/rules/hitl-alerts.yaml
  monitoring/prometheus/rules/resilience-alerts.yaml
  monitoring/prometheus/rules/sla-uptime-alerts.yaml
  monitoring/prometheus/rules/slo-alerts.yaml
  monitoring/runbooks/alert-dashboard-alerts.md
  monitoring/runbooks/hitl-alerts.md
  monitoring/runbooks/sla-alerts.md
  monitoring/runbooks/sla-uptime-alerts.md
Labels: documentation, observability

docs(monitoring): add LGTM stack alerts and runbook documentation
  monitoring/prometheus/rules/lgtm-alerts.yaml
  monitoring/runbooks/lgtm-alerts.md
Labels: documentation, observability

chore(alerts): remove duplicate namespace headers from Mimir rules
  docker/mimir/rules/streaming-sla-alerts.yaml
  docker/mimir/rules/websocket-reconnection-alerts.yaml
Labels: none

feat(monitoring): add runbook URLs to LGTM alert annotations
  docker/mimir/rules/lgtm-alerts.yaml
Labels: none

chore(deps): update frontend package-lock.json
  src/mcp_server_langgraph/studio/frontend/package-lock.json
Labels: none

feat(traefik): enable JSON-structured logging for LGTM integration
  docker-compose.test.yml
Labels: docker, config

feat(observability): enable JSON logging for Qdrant and Grafana
  docker-compose.test.yml
Labels: docker, config

feat(observability): enable JSON logging for redis_exporter
  docker-compose.test.yml
Labels: docker, config

feat(observability): enable JSON logging for Alloy and Loki
  docker/alloy/config.alloy
  docker/loki/loki-config.yaml
Labels: none

feat(observability): enable JSON logging for Mimir and Tempo
  docker/mimir/mimir-config.yaml
  docker/tempo/tempo-config.yaml
Labels: none

feat(observability): enable JSON logging for PostgreSQL, OpenFGA, and MCP server
  docker-compose.test.yml
Labels: docker, config

feat(observability): add authz-proxy metrics scrape target
  docker/alloy/config.alloy
Labels: none

feat(observability): add OTEL resource attributes for trace correlation
  docker-compose.test.yml
Labels: docker, config

refactor(observability): rename service namespace to agent-studio
  docker-compose.test.yml
Labels: docker, config

feat(monitoring): add AuthzProxyDown alert rule
  docker/mimir/rules/lgtm-alerts.yaml
Labels: none

feat(observability): add uvicorn JSON logging configuration
  docker/uvicorn-log-config.yaml
Labels: none

feat(observability): configure MCP server to use JSON uvicorn logs
  docker-compose.test.yml
Labels: docker, config

feat(monitoring): add AuthzProxyDown alert with runbook and validation test
  monitoring/prometheus/rules/lgtm-alerts.yaml
  monitoring/runbooks/authentication-alerts.md
  tests/unit/scripts/test_alert_consolidation.py
Labels: documentation, tests, observability

.github/labeler.yml:

# Auto-labeler configuration for PRs
# Uses changed-files pattern matching

# Documentation
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'
      - '**/*.mdx'
      - 'docs/**/*'
      - 'mint.json'
      - '.mcp/*.json'

# Tests
tests:
  - changed-files:
    - any-glob-to-any-file:
      - 'tests/**/*'
      - '**/*test*.py'
      - 'test_*.py'
      - '*_test.py'
      - 'pytest.ini'
      - 'conftest.py'
      - 'TESTING.md'

# CI/CD
ci-cd:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**/*'
      - '.github/actions/**/*'
      - '.gitlab-ci.yml'
      - 'Makefile'
      - '.pre-commit-config.yaml'

# Dependencies
dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'requirements*.txt'
      - 'setup.py'
      - 'pyproject.toml'
      - 'poetry.lock'
      - 'package*.json'
      - 'yarn.lock'

# Docker
docker:
  - changed-files:
    - any-glob-to-any-file:
      - 'Dockerfile*'
      - 'docker-compose*.yml'
      - '.dockerignore'

# Kubernetes/Deployment
deployment:
  - changed-files:
    - any-glob-to-any-file:
      - 'kubernetes/**/*'
      - 'kustomize/**/*'
      - 'helm/**/*'
      - 'k8s/**/*'
      - 'KUBERNETES_DEPLOYMENT.md'
      - 'PRODUCTION_DEPLOYMENT.md'

# Authentication/Authorization
auth:
  - changed-files:
    - any-glob-to-any-file:
      - 'auth.py'
      - 'openfga_client.py'
      - 'setup_openfga.py'

# Secrets Management
secrets:
  - changed-files:
    - any-glob-to-any-file:
      - 'secrets_manager.py'
      - 'setup_infisical.py'

# Observability
observability:
  - changed-files:
    - any-glob-to-any-file:
      - 'observability.py'
      - 'health_check.py'
      - 'monitoring/**/*'
      - 'grafana/**/*'

# MCP Server
mcp:
  - changed-files:
    - any-glob-to-any-file:
      - 'mcp_server*.py'
      - 'examples/*client*.py'

# Agent/Core
agent:
  - changed-files:
    - any-glob-to-any-file:
      - 'agent.py'
      - 'graph.py'
      - 'models.py'
      - 'prompt*.py'

# Configuration
config:
  - changed-files:
    - any-glob-to-any-file:
      - 'config.py'
      - '.env*'
      - 'settings.py'
      - '*.yaml'
      - '*.yml'
      - '*.toml'
      - '*.ini'
      - '.editorconfig'

# Security
security:
  - changed-files:
    - any-glob-to-any-file:
      - 'auth.py'
      - 'secrets_manager.py'
      - 'openfga_client.py'
      - 'SECURITY*.md'
      - '.github/workflows/security-scan.yaml'
      - 'scripts/validate_production.py'

# Community
community:
  - changed-files:
    - any-glob-to-any-file:
      - 'CODE_OF_CONDUCT.md'
      - 'CONTRIBUTING.md'
      - 'DEVELOPMENT.md'
      - '.github/SUPPORT.md'
      - '.github/FUNDING.yml'
      - '.github/ISSUE_TEMPLATE/**/*'
      - '.github/PULL_REQUEST_TEMPLATE.md'
