Repository vishnu2kmohan/mcp-server-langgraph, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, tests, ci-cd, dependencies, docker, deployment, auth, secrets, observability, mcp, agent, config, security, community

security: fix CodeQL alerts for Dockerfiles and log injection
  docker-compose.test.yml
  docker/Dockerfile.builder-api
  docker/Dockerfile.builder-frontend
  docker/Dockerfile.playground
  docs/development/test-infrastructure.mdx
  docs/guides/visual-workflow-builder.mdx
  src/mcp_server_langgraph/playground/api/server.py
  src/mcp_server_langgraph/playground/session/manager.py
  src/mcp_server_langgraph/playground/streaming/handler.py
Labels: documentation, docker, config

fix(build): resolve CodeQL and TypeScript CI failures
  src/mcp_server_langgraph/builder/frontend/src/App.tsx
  src/mcp_server_langgraph/builder/frontend/tsconfig.json
  src/mcp_server_langgraph/builder/frontend/tsconfig.node.json
  src/mcp_server_langgraph/playground/api/server.py
  src/mcp_server_langgraph/playground/session/manager.py
  src/mcp_server_langgraph/playground/streaming/handler.py
Labels: none

fix(ci): make GCP WIF jobs non-blocking when infrastructure not deployed
  .github/workflows/gcp-compliance-scan.yaml
  .github/workflows/integration-tests.yaml
Labels: ci-cd

fix(codeql): exclude py/log-injection with documented sanitization
  .github/codeql/codeql-config.yml
Labels: none

fix(docker): resolve nginx non-root user entrypoint script failures
  docker/Dockerfile.builder-frontend
  docker/nginx/builder.conf
Labels: none

feat(builder): add unified builder with SPAStaticFiles and Keycloak/OpenFGA auth
  docker-compose.test.yml
  docker/Dockerfile.builder
  src/mcp_server_langgraph/builder/api/server.py
  src/mcp_server_langgraph/utils/__init__.py
  src/mcp_server_langgraph/utils/spa_static_files.py
  tests/builder/test_builder_server_integration.py
  tests/unit/utils/__init__.py
  tests/unit/utils/test_spa_static_files.py
Labels: tests, docker, config

feat(observability): integrate OpenTelemetry into builder service
  Makefile
  docker-compose.test.yml
  src/mcp_server_langgraph/builder/api/server.py
  tests/builder/test_builder_observability.py
Labels: tests, ci-cd, docker, config

feat(playground): implement interactive playground with in-context observability
  Makefile
  docker-compose.test.yml
  docker/Dockerfile.playground
  pyproject.toml
  src/mcp_server_langgraph/playground/api/__init__.py
  src/mcp_server_langgraph/playground/api/models.py
  src/mcp_server_langgraph/playground/api/server.py
  tests/playground/__init__.py
  tests/playground/test_playground_api.py
  tests/playground/test_playground_observability.py
  tests/playground/test_playground_websocket.py
Labels: tests, ci-cd, dependencies, docker, config

add Benchmark (pytest) benchmark result for 1349ac69c878fa32d5b6b313d9b321d83c8248a5
  dev/bench/data.js
Labels: none

feat(gcp): add GKE preview wrapper scripts and fix Autopilot config
  Makefile
  deployments/overlays/preview-gke/network-policy.yaml
  docker-compose.dev.yml
  docker-compose.minimal.yml
  docker-compose.test.yml
  docker/docker-compose.yml
  docs-internal/infrastructure/GKE_PREVIEW_KNOWN_ISSUES.md
  docs-internal/infrastructure/preview-gke-remediation-plan.md
  docs-internal/infrastructure/preview-teardown-bringup-issues.md
  scripts/gcp/gke-preview-down.sh
  scripts/gcp/gke-preview-up.sh
  scripts/gcp/teardown-preview-infrastructure.sh
  scripts/gcp/validate-preview-deployment.sh
  terraform/environments/gcp-preview/main.tf
  terraform/modules/cloudsql/main.tf
  terraform/modules/cloudsql/variables.tf
  terraform/modules/gke-autopilot/main.tf
Labels: documentation, ci-cd, docker, config

fix(terraform): fix GKE Autopilot and Cloud SQL module defaults with TDD tests
  deployments/overlays/preview-gke/keycloak-json-patch.yaml
  deployments/overlays/preview-gke/openfga-json-patch.yaml
  docs/deployment/gke-preview-implementation-summary.mdx
  docs/deployment/kubernetes/gke-production.mdx
  docs/deployment/vertex-ai-workload-identity.mdx
  terraform/environments/gcp-preview/main.tf
  terraform/modules/cloudsql/main.tf
  terraform/modules/cloudsql/variables.tf
  terraform/modules/gke-autopilot/main.tf
  terraform/modules/gke-autopilot/variables.tf
  tests/infrastructure/test_gcp_terraform_modules.py
Labels: documentation, tests

docs(gcp): add Issues #9 and #10 to GKE preview known issues
  docs-internal/infrastructure/GKE_PREVIEW_KNOWN_ISSUES.md
Labels: documentation

feat(gcp): integrate WIF soft-delete recovery in gke-preview-up.sh
  docs-internal/infrastructure/GKE_PREVIEW_KNOWN_ISSUES.md
  scripts/gcp/gke-preview-up.sh
Labels: documentation

docs(gcp): add GKE infrastructure testing guidance and known issues #11-12
  .claude/CLAUDE.md
  .claude/memory/gke-infrastructure-testing.md
  docs-internal/infrastructure/GKE_PREVIEW_KNOWN_ISSUES.md
Labels: documentation

refactor: complete staging-to-preview rename for Terraform and scripts
  docs/deployment/gke-preview-implementation-summary.mdx
  docs/deployment/kubernetes/gke-preview.mdx
  docs/docs.json
  docs/security/gke-preview-checklist.mdx
  scripts/gcp/preview-smoke-tests.sh
  scripts/gcp/setup-preview-infrastructure.sh
  scripts/gcp/setup-vertex-ai-preview.sh
  scripts/gcp/setup-workload-identity.sh
  scripts/gcp/teardown-preview-infrastructure.sh
  scripts/gcp/validate-preview-deployment.sh
  terraform/backend-configs/gcp-preview.gcs.tfbackend.example
  terraform/environments/gcp-preview-wif-only/.gitignore
  terraform/environments/gcp-preview-wif-only/README.md
  terraform/environments/gcp-preview-wif-only/backend-config.tfbackend.example
  terraform/environments/gcp-preview-wif-only/main.tf
  terraform/environments/gcp-preview-wif-only/outputs.tf
  terraform/environments/gcp-preview-wif-only/variables.tf
  terraform/environments/gcp-preview/main.tf
  terraform/environments/gcp-preview/outputs.tf
  terraform/environments/gcp-preview/terraform.tfvars
  terraform/environments/gcp-preview/terraform.tfvars.example
  terraform/environments/gcp-preview/variables.tf
Labels: documentation

docs(gcp): add Issue #8 - WIF pool active state management
  docs-internal/infrastructure/GKE_PREVIEW_KNOWN_ISSUES.md
Labels: documentation

feat(gcp): add retry logic for Service Networking Connection deletion
  docs-internal/infrastructure/GKE_PREVIEW_KNOWN_ISSUES.md
  scripts/gcp/gke-preview-down.sh
Labels: documentation

fix(ci): complete staging-to-preview rename and fix CI failure
  .github/workflows/deploy-preview-gke.yaml
  .github/workflows/deployment-validation.yml
  .github/workflows/validate-kubernetes.yaml
  deployments/base/keycloak-deployment.yaml
  deployments/overlays/preview-gke/configmap-patch.yaml
  deployments/overlays/preview-gke/deployment-redis-url-json-patch.yaml
  deployments/overlays/preview-gke/kustomization.yaml
  deployments/overlays/preview-gke/namespace.yaml
  deployments/overlays/preview-gke/otel-collector-config.yaml
  deployments/overlays/preview-gke/otel-collector-configmap-patch.yaml
  deployments/overlays/staging/configmap-patch.yaml
  deployments/overlays/staging/deployment-patch.yaml
  deployments/overlays/staging/kustomization.yaml
  deployments/overlays/staging/namespace.yaml
  deployments/overlays/staging/otel-collector-patch.yaml
  deployments/overlays/staging/postgres-patch.yaml
  deployments/overlays/staging/qdrant-patch.yaml
  deployments/overlays/staging/redis-session-patch.yaml
  tests/deployment/test_kustomize_builds.py
  tests/deployment/test_rollout_resilience.py
  tests/deployment/test_service_dependencies.py
  tests/kubernetes/test_kustomize_preview_gke.py
Labels: tests, ci-cd

fix(gcp): disable backup delete lock for preview environment (Issue #9)
  terraform/environments/gcp-preview/main.tf
Labels: none

ci: migrate preview deployments from GCP Artifact Registry to GHCR
  .github/workflows/build-keycloak-image.yaml
  .github/workflows/deploy-preview-gke.yaml
  deployments/overlays/preview-gke/kustomization.yaml
Labels: ci-cd

feat(ci): add GHCR dependency mirroring workflow
  .github/workflows/mirror-dependencies.yaml
Labels: ci-cd

feat(kustomize): use GHCR-mirrored dependencies to avoid Docker Hub rate limits
  deployments/overlays/preview-gke/kustomization.yaml
Labels: none

add Benchmark (pytest) benchmark result for 24fac884afb2ebea9ba8612f14c9880f25295863
  dev/bench/data.js
Labels: none

fix(ci): add :preview Docker tag for preview-gke deployments
  .github/workflows/ci.yaml
  deployments/overlays/preview-gke/kustomization.yaml
  deployments/overlays/preview-gke/redis-session-service-patch.yaml
  tests/deployment/test_kustomize_build.py
  tests/kubernetes/test_kustomize_preview_gke.py
Labels: tests, ci-cd

fix(ci): add :preview Docker tag and complete staging-to-preview rename (#145)
  .github/workflows/ci.yaml
  deployments/overlays/preview-gke/kustomization.yaml
  deployments/overlays/preview-gke/redis-session-service-patch.yaml
  tests/deployment/test_kustomize_build.py
  tests/kubernetes/test_kustomize_preview_gke.py
Labels: tests, ci-cd

add Benchmark (pytest) benchmark result for 12597c21791fc7cdd060d4448d538256e3cec450
  dev/bench/data.js
Labels: none

fix(kustomize): switch preview-gke to GHCR :preview tag
  deployments/overlays/preview-gke/kustomization.yaml
  tests/deployment/test_kustomize_build.py
  tests/kubernetes/test_kustomize_preview_gke.py
Labels: tests

fix(kustomize): switch preview-gke to GHCR :preview tag (#146)
  deployments/overlays/preview-gke/kustomization.yaml
  tests/deployment/test_kustomize_build.py
  tests/kubernetes/test_kustomize_preview_gke.py
Labels: tests

add Benchmark (pytest) benchmark result for 226f5ce4ce369a89bc904f6c4557cb0c6155caaf
  dev/bench/data.js
Labels: none

docs: complete staging-to-preview rename in documentation (Phase 7)
  .claude/memory/kustomize-nameprefix-gotchas.md
  docs/deployment/infrastructure/gke-cluster-requirements.mdx
  docs/development/naming-conventions.mdx
  docs/security/gke-preview-checklist.mdx
Labels: documentation

docs: complete staging-to-preview rename in documentation (Phase 7) (#147)
  .claude/memory/kustomize-nameprefix-gotchas.md
  docs/deployment/infrastructure/gke-cluster-requirements.mdx
  docs/development/naming-conventions.mdx
  docs/security/gke-preview-checklist.mdx
Labels: documentation

refactor: complete gcp-staging to gcp-preview rename (Phase 5-6)
  .github/SECRETS.md
  .github/workflows/gcp-compliance-scan.yaml
  .github/workflows/gcp-drift-detection.yaml
  .github/workflows/terraform-validate.yaml
  deployments/argocd/gcp-multi-cluster-setup.yaml
  deployments/argocd/setup-argocd-gcp.sh
  scripts/README.md
  scripts/deploy-gcp-gke.sh
  terraform/README.md
  terraform/backend-configs/README.md
  terraform/backend-configs/gcp-staging.gcs.tfbackend.example
  terraform/backend-setup-gcp/outputs.tf
  terraform/environments/gcp-staging-wif-only/.gitignore
  terraform/environments/gcp-staging-wif-only/README.md
  terraform/environments/gcp-staging-wif-only/backend-config.tfbackend.example
  terraform/environments/gcp-staging-wif-only/main.tf
  terraform/environments/gcp-staging-wif-only/outputs.tf
  terraform/environments/gcp-staging-wif-only/terraform.tfvars
  terraform/environments/gcp-staging-wif-only/variables.tf
  terraform/environments/gcp-staging/main.tf
  terraform/environments/gcp-staging/outputs.tf
  terraform/environments/gcp-staging/terraform.tfvars
  terraform/environments/gcp-staging/terraform.tfvars.example
  terraform/environments/gcp-staging/variables.tf
  terraform/modules/gcp-secrets/README.md
  terraform/modules/gcp-vpc/README.md
  tests/meta/infrastructure/test_gcp_infrastructure_validation.py
  tests/regression/test_terraform_configuration.py
Labels: documentation, tests, ci-cd

fix(docs): update gcp-staging to gcp-preview in terraform outputs comment
  terraform/backend-setup-gcp/outputs.tf
Labels: none

refactor: complete staging-to-preview GKE environment rename (#148)
  .github/SECRETS.md
  .github/workflows/gcp-compliance-scan.yaml
  .github/workflows/gcp-drift-detection.yaml
  .github/workflows/terraform-validate.yaml
  deployments/argocd/gcp-multi-cluster-setup.yaml
  deployments/argocd/setup-argocd-gcp.sh
  scripts/README.md
  scripts/deploy-gcp-gke.sh
  terraform/README.md
  terraform/backend-configs/README.md
  terraform/backend-configs/gcp-staging.gcs.tfbackend.example
  terraform/backend-setup-gcp/outputs.tf
  terraform/environments/gcp-staging-wif-only/.gitignore
  terraform/environments/gcp-staging-wif-only/README.md
  terraform/environments/gcp-staging-wif-only/backend-config.tfbackend.example
  terraform/environments/gcp-staging-wif-only/main.tf
  terraform/environments/gcp-staging-wif-only/outputs.tf
  terraform/environments/gcp-staging-wif-only/terraform.tfvars
  terraform/environments/gcp-staging-wif-only/variables.tf
  terraform/environments/gcp-staging/main.tf
  terraform/environments/gcp-staging/outputs.tf
  terraform/environments/gcp-staging/terraform.tfvars
  terraform/environments/gcp-staging/terraform.tfvars.example
  terraform/environments/gcp-staging/variables.tf
  terraform/modules/gcp-secrets/README.md
  terraform/modules/gcp-vpc/README.md
  tests/meta/infrastructure/test_gcp_infrastructure_validation.py
  tests/regression/test_terraform_configuration.py
Labels: documentation, tests, ci-cd

refactor(observability): replace Prometheus, Promtail, Alertmanager with Alloy
  docker-compose.test.yml
  docker/alloy/alloy-config.alloy
Labels: docker, config

fix(tests): regenerate async mock report and fix Keycloak start_period
  docker-compose.test.yml
  docs-internal/reports/ASYNC_MOCK_SCAN.md
Labels: documentation, docker, config

fix(tests): update DNS failover test to accept headless ClusterIP pattern
  tests/fixtures/tool_fixtures.py
  tests/integration/deployment/test_dns_failover_verification.py
Labels: tests

fix(observability): fix Loki and Mimir configs for test infrastructure
  docker-compose.test.yml
  docker/loki/loki-config.yaml
  docker/mimir/mimir-config.yaml
Labels: docker, config

feat(observability): add Grafana LGTM stack with GCP query backends
  docker-compose.test.yml
  docker/Dockerfile.keycloak
  docker/alloy/config.alloy
  docker/mimir/alertmanager-fallback.yaml
  docker/mimir/mimir-config.yaml
  docker/tempo/tempo-config.yaml
  src/mcp_server_langgraph/monitoring/tempo_client.py
  src/mcp_server_langgraph/observability/query/__init__.py
  src/mcp_server_langgraph/observability/query/backends/__init__.py
  src/mcp_server_langgraph/observability/query/backends/cloudlogging.py
  src/mcp_server_langgraph/observability/query/backends/cloudmonitoring.py
  src/mcp_server_langgraph/observability/query/backends/cloudtrace.py
  src/mcp_server_langgraph/observability/query/backends/loki.py
  src/mcp_server_langgraph/observability/query/backends/prometheus.py
  src/mcp_server_langgraph/observability/query/backends/stub.py
  src/mcp_server_langgraph/observability/query/backends/tempo.py
  src/mcp_server_langgraph/observability/query/factory.py
  src/mcp_server_langgraph/observability/query/interfaces.py
  tests/integration/api/test_api_keys_endpoints.py
  tests/unit/observability/__init__.py
  tests/unit/observability/query/__init__.py
  tests/unit/observability/query/test_backends.py
  tests/unit/observability/query/test_gcp_backends.py
Labels: tests, docker, config

feat(storage): add durable Postgres persistence for Builder and Playground
  docker-compose.test.yml
  docker/Dockerfile.builder
  docker/Dockerfile.playground
  pyproject.toml
  src/mcp_server_langgraph/builder/api/server.py
  src/mcp_server_langgraph/builder/storage/__init__.py
  src/mcp_server_langgraph/builder/storage/manager.py
  src/mcp_server_langgraph/builder/storage/models.py
  src/mcp_server_langgraph/builder/storage/postgres_manager.py
  src/mcp_server_langgraph/builder/storage/postgres_models.py
  src/mcp_server_langgraph/playground/api/models.py
  src/mcp_server_langgraph/playground/api/server.py
  src/mcp_server_langgraph/playground/session/__init__.py
  src/mcp_server_langgraph/playground/session/postgres_manager.py
  src/mcp_server_langgraph/playground/session/postgres_models.py
  tests/builder/test_builder_observability.py
  tests/constants.py
  tests/e2e/test_builder_user_journey.py
  tests/e2e/test_playground_user_journey.py
  tests/fixtures/tool_fixtures.py
  tests/integration/builder/test_builder_api_integration.py
  tests/integration/playground/test_playground_postgres_session.py
  tests/meta/infrastructure/test_shell_and_docker.py
  tests/meta/validation/test_docker_compose_validation.py
Labels: tests, dependencies, docker, config

.github/labeler.yml:

# Auto-labeler configuration for PRs
# Uses changed-files pattern matching

# Documentation
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'
      - '**/*.mdx'
      - 'docs/**/*'
      - 'mint.json'
      - '.mcp/*.json'

# Tests
tests:
  - changed-files:
    - any-glob-to-any-file:
      - 'tests/**/*'
      - '**/*test*.py'
      - 'test_*.py'
      - '*_test.py'
      - 'pytest.ini'
      - 'conftest.py'
      - 'TESTING.md'

# CI/CD
ci-cd:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**/*'
      - '.github/actions/**/*'
      - '.gitlab-ci.yml'
      - 'Makefile'
      - '.pre-commit-config.yaml'

# Dependencies
dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'requirements*.txt'
      - 'setup.py'
      - 'pyproject.toml'
      - 'poetry.lock'
      - 'package*.json'
      - 'yarn.lock'

# Docker
docker:
  - changed-files:
    - any-glob-to-any-file:
      - 'Dockerfile*'
      - 'docker-compose*.yml'
      - '.dockerignore'

# Kubernetes/Deployment
deployment:
  - changed-files:
    - any-glob-to-any-file:
      - 'kubernetes/**/*'
      - 'kustomize/**/*'
      - 'helm/**/*'
      - 'k8s/**/*'
      - 'KUBERNETES_DEPLOYMENT.md'
      - 'PRODUCTION_DEPLOYMENT.md'

# Authentication/Authorization
auth:
  - changed-files:
    - any-glob-to-any-file:
      - 'auth.py'
      - 'openfga_client.py'
      - 'setup_openfga.py'

# Secrets Management
secrets:
  - changed-files:
    - any-glob-to-any-file:
      - 'secrets_manager.py'
      - 'setup_infisical.py'

# Observability
observability:
  - changed-files:
    - any-glob-to-any-file:
      - 'observability.py'
      - 'health_check.py'
      - 'monitoring/**/*'
      - 'grafana/**/*'

# MCP Server
mcp:
  - changed-files:
    - any-glob-to-any-file:
      - 'mcp_server*.py'
      - 'examples/*client*.py'

# Agent/Core
agent:
  - changed-files:
    - any-glob-to-any-file:
      - 'agent.py'
      - 'graph.py'
      - 'models.py'
      - 'prompt*.py'

# Configuration
config:
  - changed-files:
    - any-glob-to-any-file:
      - 'config.py'
      - '.env*'
      - 'settings.py'
      - '*.yaml'
      - '*.yml'
      - '*.toml'
      - '*.ini'
      - '.editorconfig'

# Security
security:
  - changed-files:
    - any-glob-to-any-file:
      - 'auth.py'
      - 'secrets_manager.py'
      - 'openfga_client.py'
      - 'SECURITY*.md'
      - '.github/workflows/security-scan.yaml'
      - 'scripts/validate_production.py'

# Community
community:
  - changed-files:
    - any-glob-to-any-file:
      - 'CODE_OF_CONDUCT.md'
      - 'CONTRIBUTING.md'
      - 'DEVELOPMENT.md'
      - '.github/SUPPORT.md'
      - '.github/FUNDING.yml'
      - '.github/ISSUE_TEMPLATE/**/*'
      - '.github/PULL_REQUEST_TEMPLATE.md'
