Repository vishnu2kmohan/mcp-server-langgraph, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, tests, ci-cd, dependencies, docker, deployment, auth, secrets, observability, mcp, agent, config, security, community

docs: add comprehensive citations, fix misleading claims, improve decision tree
  README.md
  docs/comparisons/choosing-framework.mdx
  docs/docs.json
  docs/getting-started/introduction.mdx
  docs/references/sources.mdx
Labels: documentation

add Benchmark (pytest) benchmark result for d36d88b02308208a986e658b1a771489be6966f4
  dev/bench/data.js
Labels: none

docs: complete Phase 2-4 honesty improvements with citations and disclaimers
  docs/comparisons/vs-claude-agent-sdk.mdx
  docs/comparisons/vs-crewai.mdx
  docs/comparisons/vs-google-adk.mdx
  docs/comparisons/vs-langgraph-cloud.mdx
  docs/comparisons/vs-microsoft-agent-framework.mdx
  docs/comparisons/vs-openai-agentkit.mdx
  docs/deployment/overview.mdx
  docs/references/sources.mdx
  docs/security/compliance.mdx
Labels: documentation

fix: replace broken PR Checks badge with Build Hygiene workflow badge
  README.md
Labels: documentation

add Benchmark (pytest) benchmark result for 91533831a31a6b68e46858419417841a5f43f349
  dev/bench/data.js
Labels: none

add Benchmark (pytest) benchmark result for f52c79629e49293e7e8f8e01e4d460ebd7f76e77
  dev/bench/data.js
Labels: none

docs: add ColorBrewer2 Set3 palette styling to 8 system architecture diagrams
  docs/diagrams/system-architecture.mdx
Labels: documentation

add Benchmark (pytest) benchmark result for c7b0762e893996ff4b5f025e16fd04a01050fc7a
  dev/bench/data.js
Labels: none

docs: apply ColorBrewer2 Set3 styling to all remaining diagrams and enforce standards
  .pre-commit-config.yaml
  docs/.mintlify/MERMAID_OPTIMIZATION_GUIDE.md
  docs/advanced/contributing.mdx
  docs/architecture/keycloak-jwt-architecture-overview.mdx
  docs/comparisons/choosing-framework.mdx
  docs/deployment/binary-authorization.mdx
  docs/deployment/gitops-argocd.mdx
  docs/deployment/infrastructure/terraform-gcp.mdx
  docs/deployment/kubernetes/gke-production.mdx
  docs/deployment/kubernetes/gke-staging.mdx
  docs/deployment/service-mesh.mdx
  docs/guides/multi-llm-setup.mdx
  docs/reference/development/ci-cd.mdx
  scripts/check_mermaid_styling.py
Labels: documentation, ci-cd, config

add Benchmark (pytest) benchmark result for 95887792ecda6f8ec8381ace2e4e4136308b84c7
  dev/bench/data.js
Labels: none

docs: migrate all pip references to uv commands
  README.md
  docs/advanced/contributing.mdx
  docs/advanced/development-setup.mdx
  docs/advanced/testing.mdx
  docs/architecture/adr-0022-distributed-conversation-checkpointing.mdx
  docs/architecture/adr-0026-lazy-observability-initialization.mdx
  docs/architecture/adr-0027-rate-limiting-strategy.mdx
  docs/deployment/docker.mdx
  docs/deployment/infisical-installation.mdx
  docs/deployment/kubernetes/gke.mdx
  docs/deployment/langgraph-platform.mdx
  docs/deployment/monitoring.mdx
  docs/deployment/platform/ci-cd.mdx
  docs/deployment/platform/configuration.mdx
  docs/deployment/platform/quickstart.mdx
  docs/getting-started/installation.mdx
  docs/getting-started/quickstart.mdx
  docs/guides/environment-config.mdx
  docs/guides/local-models.mdx
  docs/reference/development/ci-cd.mdx
  docs/reference/development/development.mdx
  docs/reference/development/ide-setup.mdx
  docs/releases/v2-5-0.mdx
  docs/releases/v2-7-0.mdx
  docs/security/best-practices.mdx
  docs/security/overview.mdx
  examples/langsmith_tracing.py
  hooks/post_gen_project.py
  scripts/deployment/deploy_langgraph_platform.sh
  scripts/validation/validate_openapi.py
  scripts/validation/validate_production.py
  src/mcp_server_langgraph/auth/session.py
  src/mcp_server_langgraph/auth/user_provider.py
  src/mcp_server_langgraph/cli/init.py
  src/mcp_server_langgraph/core/agent.py
  src/mcp_server_langgraph/core/dynamic_context_loader.py
  src/mcp_server_langgraph/core/storage/conversation_store.py
  src/mcp_server_langgraph/llm/pydantic_agent.py
Labels: documentation

add Benchmark (pytest) benchmark result for d8081ecf65f1b559f2f81c1dc64debbdae809480
  dev/bench/data.js
Labels: none

docs: add ColorBrewer2 Set3 palette styling to Mermaid diagrams
  docs/advanced/testing.mdx
  docs/architecture/adr-0027-rate-limiting-strategy.mdx
Labels: documentation

add Benchmark (pytest) benchmark result for 9c8486cc44aaa242ea3d74b7d817d7218f021de9
  dev/bench/data.js
Labels: none

docs: migrate venv to uv auto-management + update to latest LLM models
  .claude/settings.local.json
  .env.example
  .env.production.template
  .env.quickstart
  .github/CONTRIBUTING.md
  README.md
  adr/adr-0017-error-handling-strategy.md
  deployments/README.md
  deployments/base/configmap.yaml
  deployments/cloudrun/service.yaml
  deployments/helm/mcp-server-langgraph/values.yaml
  docs-internal/developer-onboarding.md
  docs/advanced/contributing.mdx
  docs/advanced/development-setup.mdx
  docs/advanced/troubleshooting.mdx
  docs/architecture/adr-0017-error-handling-strategy.mdx
  docs/deployment/docker.mdx
  docs/deployment/model-configuration.mdx
  docs/getting-started/architecture.mdx
  docs/getting-started/installation.mdx
  docs/getting-started/quickstart.mdx
  docs/guides/anthropic-claude.mdx
  docs/guides/multi-llm-setup.mdx
  docs/guides/openai-gpt.mdx
  docs/reference/configuration-files.mdx
  docs/reference/development/development.mdx
  docs/reference/development/ide-setup.mdx
  examples/test_llm.py
  integrations/gemini.md
  integrations/litellm.md
  src/mcp_server_langgraph/core/config.py
  src/mcp_server_langgraph/llm/factory.py
  src/mcp_server_langgraph/presets/quickstart.py
  tests/test_config_validation.py
  tests/test_pydantic_ai.py
Labels: documentation, tests, config

add Benchmark (pytest) benchmark result for 17b1d3a626cf907b85736464ff2170c4bbe81cd0
  dev/bench/data.js
Labels: none

docs: fix broken documentation links and add Mintlify site URL
  README.md
Labels: documentation

add Benchmark (pytest) benchmark result for 6148242b46468c1e449f1493d4b60100031bce4a
  dev/bench/data.js
Labels: none

docs: optimize README organization and replace ASCII art with Mermaid diagrams
  README.md
Labels: documentation

add Benchmark (pytest) benchmark result for 0bc25bc2f9e3fe72f8a3e5cd23a458334c392e97
  dev/bench/data.js
Labels: none

feat: add comprehensive test suite and cost monitoring dashboard
  deployments/helm/mcp-server-langgraph/dashboards/cost-monitoring.json
  docs/architecture/adr-0041-cost-monitoring-dashboard.mdx
  docs/architecture/adr-0042-visual-workflow-builder.mdx
  src/mcp_server_langgraph/builder/frontend/package.json
  src/mcp_server_langgraph/builder/frontend/src/App.test.tsx
  src/mcp_server_langgraph/builder/frontend/src/test/setup.ts
  src/mcp_server_langgraph/builder/frontend/src/test/test-utils.tsx
  src/mcp_server_langgraph/builder/frontend/vitest.config.ts
  src/mcp_server_langgraph/monitoring/__init__.py
  src/mcp_server_langgraph/monitoring/budget_monitor.py
  src/mcp_server_langgraph/monitoring/cost_api.py
  src/mcp_server_langgraph/monitoring/cost_tracker.py
  src/mcp_server_langgraph/monitoring/pricing.py
  tests/builder/__init__.py
  tests/builder/api/__init__.py
  tests/builder/api/test_server.py
  tests/builder/test_code_generator.py
  tests/builder/test_importer.py
  tests/builder/test_workflow_builder.py
  tests/monitoring/__init__.py
  tests/monitoring/test_cost_tracker.py
Labels: documentation, tests

feat: comprehensive CI/CD pipeline improvements and optimization
  .github/workflows/ci.yaml
  .github/workflows/cost-tracking.yaml
  .github/workflows/e2e-tests.yaml
  .github/workflows/security-scan.yaml
  .github/workflows/security-trivy.yaml
  .github/workflows/track-skipped-tests.yaml
  README.md
  docs/ci-cd-troubleshooting.md
  docs/deployment/gcp-configuration.md
  pyproject.toml
  scripts/ci/track-skipped-tests.py
Labels: documentation, tests, ci-cd, dependencies, config, security

docs: enhance framework comparisons with evidence, compliance guides, and TCO calculator
  docs/comparisons/benchmarks.mdx
  docs/comparisons/choosing-framework.mdx
  docs/comparisons/tco-calculator.mdx
  docs/comparisons/vs-claude-agent-sdk.mdx
  docs/comparisons/vs-crewai.mdx
  docs/comparisons/vs-google-adk.mdx
  docs/comparisons/vs-langgraph-cloud.mdx
  docs/comparisons/vs-microsoft-agent-framework.mdx
  docs/comparisons/vs-openai-agentkit.mdx
  docs/compliance/gdpr-compliance.mdx
  docs/compliance/hipaa-compliance.mdx
  docs/compliance/soc2-compliance.mdx
  tests/benchmarks/README.md
  tests/benchmarks/scenarios/simple-agent.js
Labels: documentation, tests

fix: resolve upstream CI/CD failures and optimize workflows
  .github/AGENTS.md
  .github/CLAUDE.md
  .github/SUPPORT.md
  .github/copilot-instructions.md
  .github/workflows/ci.yaml
  .github/workflows/e2e-tests.yaml
  .github/workflows/quality-tests.yaml
  .github/workflows/security-trivy.yaml
  .github/workflows/track-skipped-tests.yaml
  adr/adr-0005-pydantic-ai-integration.md
  adr/adr-0026-lazy-observability-initialization.md
  adr/adr-0040-gcp-gke-autopilot-deployment.md
  tests/e2e/test_full_user_journey.py
Labels: documentation, tests, ci-cd, community

fix: resolve Mintlify parsing errors and broken links in documentation
  docs/comparisons/benchmarks.mdx
  docs/comparisons/tco-calculator.mdx
  docs/comparisons/vs-crewai.mdx
  docs/comparisons/vs-openai-agentkit.mdx
  docs/compliance/gdpr-compliance.mdx
  docs/compliance/hipaa-compliance.mdx
  docs/compliance/soc2-compliance.mdx
Labels: documentation

fix: eliminate all 103 mypy type errors for strict type safety
  src/mcp_server_langgraph/auth/session.py
  src/mcp_server_langgraph/builder/api/server.py
  src/mcp_server_langgraph/builder/codegen/generator.py
  src/mcp_server_langgraph/builder/importer/__init__.py
  src/mcp_server_langgraph/builder/importer/ast_parser.py
  src/mcp_server_langgraph/builder/importer/graph_extractor.py
  src/mcp_server_langgraph/builder/importer/layout_engine.py
  src/mcp_server_langgraph/cli/__init__.py
  src/mcp_server_langgraph/cli/create_agent.py
  src/mcp_server_langgraph/core/interrupts/interrupts.py
  src/mcp_server_langgraph/llm/pydantic_agent.py
  src/mcp_server_langgraph/monitoring/budget_monitor.py
  src/mcp_server_langgraph/monitoring/cost_api.py
  src/mcp_server_langgraph/monitoring/cost_tracker.py
  src/mcp_server_langgraph/patterns/hierarchical.py
  src/mcp_server_langgraph/patterns/supervisor.py
  src/mcp_server_langgraph/patterns/swarm.py
  src/mcp_server_langgraph/presets/quickstart.py
Labels: none

fix: eliminate all 103 mypy type errors for strict type safety
  src/mcp_server_langgraph/patterns/swarm.py
Labels: none

chore: update uv.lock for cost-tracking dependency group
  uv.lock
Labels: none

fix: resolve CI failures from missing optional dependencies + establish act testing methodology
  .github/WORKFLOW_TESTING_CHECKLIST.md
  .github/actions/setup-python-deps/action.yml
  .github/workflows/ci.yaml
  .github/workflows/coverage-trend.yaml
  .github/workflows/e2e-tests.yaml
  .github/workflows/quality-tests.yaml
  CONTRIBUTING.md
  Makefile
  docs/development/testing-workflows-locally.md
Labels: documentation, ci-cd, community

fix: remove conflicting dual uv sync in composite action
  .github/actions/setup-python-deps/action.yml
Labels: ci-cd

add Benchmark (pytest) benchmark result for 97c84d1b579c249e88099bab7c006839d8d78458
  dev/bench/data.js
Labels: none

fix: resolve act schema validation errors and configure gh CLI authentication
  .actrc
  .github/ACT_QUICKSTART.md
  .github/ACT_USAGE.md
  .github/act-event.json
  .github/workflows/release.yaml
  .github/workflows/security-scan.yaml
  .gitignore
Labels: documentation, ci-cd, security

add Benchmark (pytest) benchmark result for fbdbf6f25102e1ed6583a321d0e4f2f1e3029afe
  dev/bench/data.js
Labels: none

feat: implement all 11 Kubernetes best practices for GKE/EKS/AKS
  .github/workflows/ci.yaml
Labels: ci-cd

style: apply black and isort formatting to test files
  tests/test_api_key_manager.py
  tests/test_context_manager.py
  tests/test_context_manager_llm.py
  tests/test_session.py
Labels: tests

add Benchmark (pytest) benchmark result for 75e97e33b07122146414ef108c02036833c6d564
  dev/bench/data.js
Labels: none

add Benchmark (pytest) benchmark result for 5959216feb3930c3e1e664b76d7f1433285eb903
  dev/bench/data.js
Labels: none

docs: add comprehensive GCP infrastructure setup summary
  docs/deployment/gcp-setup-summary.md
Labels: documentation

fix: add missing IAM roles to GCP staging infrastructure setup script
  scripts/gcp/setup-staging-infrastructure.sh
Labels: none

add Benchmark (pytest) benchmark result for 9ce84e238471214655db84db9ccb35ce60cd765a
  dev/bench/data.js
Labels: none

.github/labeler.yml:

# Auto-labeler configuration for PRs
# Uses changed-files pattern matching

# Documentation
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'
      - '**/*.mdx'
      - 'docs/**/*'
      - 'mint.json'
      - '.mcp/*.json'

# Tests
tests:
  - changed-files:
    - any-glob-to-any-file:
      - 'tests/**/*'
      - '**/*test*.py'
      - 'test_*.py'
      - '*_test.py'
      - 'pytest.ini'
      - 'conftest.py'
      - 'TESTING.md'

# CI/CD
ci-cd:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**/*'
      - '.github/actions/**/*'
      - '.gitlab-ci.yml'
      - 'Makefile'
      - '.pre-commit-config.yaml'

# Dependencies
dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'requirements*.txt'
      - 'setup.py'
      - 'pyproject.toml'
      - 'poetry.lock'
      - 'package*.json'
      - 'yarn.lock'

# Docker
docker:
  - changed-files:
    - any-glob-to-any-file:
      - 'Dockerfile*'
      - 'docker-compose*.yml'
      - '.dockerignore'

# Kubernetes/Deployment
deployment:
  - changed-files:
    - any-glob-to-any-file:
      - 'kubernetes/**/*'
      - 'kustomize/**/*'
      - 'helm/**/*'
      - 'k8s/**/*'
      - 'KUBERNETES_DEPLOYMENT.md'
      - 'PRODUCTION_DEPLOYMENT.md'

# Authentication/Authorization
auth:
  - changed-files:
    - any-glob-to-any-file:
      - 'auth.py'
      - 'openfga_client.py'
      - 'setup_openfga.py'

# Secrets Management
secrets:
  - changed-files:
    - any-glob-to-any-file:
      - 'secrets_manager.py'
      - 'setup_infisical.py'

# Observability
observability:
  - changed-files:
    - any-glob-to-any-file:
      - 'observability.py'
      - 'health_check.py'
      - 'monitoring/**/*'
      - 'grafana/**/*'

# MCP Server
mcp:
  - changed-files:
    - any-glob-to-any-file:
      - 'mcp_server*.py'
      - 'examples/*client*.py'

# Agent/Core
agent:
  - changed-files:
    - any-glob-to-any-file:
      - 'agent.py'
      - 'graph.py'
      - 'models.py'
      - 'prompt*.py'

# Configuration
config:
  - changed-files:
    - any-glob-to-any-file:
      - 'config.py'
      - '.env*'
      - 'settings.py'
      - '*.yaml'
      - '*.yml'
      - '*.toml'
      - '*.ini'
      - '.editorconfig'

# Security
security:
  - changed-files:
    - any-glob-to-any-file:
      - 'auth.py'
      - 'secrets_manager.py'
      - 'openfga_client.py'
      - 'SECURITY*.md'
      - '.github/workflows/security-scan.yaml'
      - 'scripts/validate_production.py'

# Community
community:
  - changed-files:
    - any-glob-to-any-file:
      - 'CODE_OF_CONDUCT.md'
      - 'CONTRIBUTING.md'
      - 'DEVELOPMENT.md'
      - '.github/SUPPORT.md'
      - '.github/FUNDING.yml'
      - '.github/ISSUE_TEMPLATE/**/*'
      - '.github/PULL_REQUEST_TEMPLATE.md'
