Repository vishnu2kmohan/mcp-server-langgraph, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, tests, ci-cd, dependencies, docker, deployment, auth, secrets, observability, mcp, agent, config, security, community

.github/labeler.yml:

# Auto-labeler configuration for PRs
# Uses changed-files pattern matching

# Documentation
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'
      - '**/*.mdx'
      - 'docs/**/*'
      - 'mint.json'
      - '.mcp/*.json'

# Tests
tests:
  - changed-files:
    - any-glob-to-any-file:
      - 'tests/**/*'
      - '**/*test*.py'
      - 'test_*.py'
      - '*_test.py'
      - 'pytest.ini'
      - 'conftest.py'
      - 'TESTING.md'

# CI/CD
ci-cd:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**/*'
      - '.github/actions/**/*'
      - '.gitlab-ci.yml'
      - 'Makefile'
      - '.pre-commit-config.yaml'

# Dependencies
dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'requirements*.txt'
      - 'setup.py'
      - 'pyproject.toml'
      - 'poetry.lock'
      - 'package*.json'
      - 'yarn.lock'

# Docker
docker:
  - changed-files:
    - any-glob-to-any-file:
      - 'Dockerfile*'
      - 'docker-compose*.yml'
      - '.dockerignore'

# Kubernetes/Deployment
deployment:
  - changed-files:
    - any-glob-to-any-file:
      - 'kubernetes/**/*'
      - 'kustomize/**/*'
      - 'helm/**/*'
      - 'k8s/**/*'
      - 'KUBERNETES_DEPLOYMENT.md'
      - 'PRODUCTION_DEPLOYMENT.md'

# Authentication/Authorization
auth:
  - changed-files:
    - any-glob-to-any-file:
      - 'auth.py'
      - 'openfga_client.py'
      - 'setup_openfga.py'

# Secrets Management
secrets:
  - changed-files:
    - any-glob-to-any-file:
      - 'secrets_manager.py'
      - 'setup_infisical.py'

# Observability
observability:
  - changed-files:
    - any-glob-to-any-file:
      - 'observability.py'
      - 'health_check.py'
      - 'monitoring/**/*'
      - 'grafana/**/*'

# MCP Server
mcp:
  - changed-files:
    - any-glob-to-any-file:
      - 'mcp_server*.py'
      - 'examples/*client*.py'

# Agent/Core
agent:
  - changed-files:
    - any-glob-to-any-file:
      - 'agent.py'
      - 'graph.py'
      - 'models.py'
      - 'prompt*.py'

# Configuration
config:
  - changed-files:
    - any-glob-to-any-file:
      - 'config.py'
      - '.env*'
      - 'settings.py'
      - '*.yaml'
      - '*.yml'
      - '*.toml'
      - '*.ini'
      - '.editorconfig'

# Security
security:
  - changed-files:
    - any-glob-to-any-file:
      - 'auth.py'
      - 'secrets_manager.py'
      - 'openfga_client.py'
      - 'SECURITY*.md'
      - '.github/workflows/security-scan.yaml'
      - 'scripts/validate_production.py'

# Community
community:
  - changed-files:
    - any-glob-to-any-file:
      - 'CODE_OF_CONDUCT.md'
      - 'CONTRIBUTING.md'
      - 'DEVELOPMENT.md'
      - '.github/SUPPORT.md'
      - '.github/FUNDING.yml'
      - '.github/ISSUE_TEMPLATE/**/*'
      - '.github/PULL_REQUEST_TEMPLATE.md'

refactor: move root SCREAMING_SNAKE_CASE files to kebab-case (Phase 1)
  docs-internal/architecture/vertex-ai-implementation-summary.md
  docs-internal/releases/release-completion-v2-8-0.md
  docs-internal/releases/release-notes-v2-8-0.md
  docs-internal/testing/testing-implementation-summary.md
  reports/documentation-audit-report.md
  reports/mintlify-improvements-summary.md
Labels: documentation

add Benchmark (pytest) benchmark result for 4bacdc18e011f79e95fbe6f3deff28d3103ccc6a
  dev/bench/data.js
Labels: none

add Benchmark (pytest) benchmark result for 5db5fd4b14c0ca95ac51583b6386c2dae76f3c54
  dev/bench/data.js
Labels: none

docs: convert remaining ASCII art diagrams to Mermaid
  docs-internal/COMPLIANCE.md
  docs-internal/architecture/agentic-loop-guide.md
  docs-internal/architecture/pydantic-ai-integration.md
  docs/reference/development/ci-cd.mdx
Labels: documentation

add Benchmark (pytest) benchmark result for 806fea2393a6e2c5bd96d6e5c4dd5d3594f26223
  dev/bench/data.js
Labels: none

feat(workflow): Phase 5 - Advanced Automation & Analytics
  .claude/commands/analytics.md
  .claude/commands/benchmark.md
  .claude/commands/coverage-gaps.md
  .claude/commands/create-adr.md
  .claude/commands/create-test.md
  .claude/commands/deploy.md
  .claude/commands/improve-coverage.md
  .claude/commands/knowledge-search.md
  .claude/commands/type-safety-status.md
  scripts/workflow/track-command-usage.py
  scripts/workflow/update-handoff-files.py
Labels: documentation

add Benchmark (pytest) benchmark result for bb062c7e58f2c54da8e47f0de28b14a943737014
  dev/bench/data.js
Labels: none

add Benchmark (pytest) benchmark result for c3a7dbf946bccabbb4569ed8021ee252866a95df
  dev/bench/data.js
Labels: none

add Benchmark (pytest) benchmark result for 8391b4a10e84c0e94012493bbce87888c5e22974
  dev/bench/data.js
Labels: none

docs: comprehensive AWS EKS documentation and Mintlify migration
  docs/architecture/adr-0040-gcp-gke-autopilot-deployment.mdx
  docs/comparisons/vs-crewai.mdx
  docs/comparisons/vs-langgraph-cloud.mdx
  docs/deployment/cost-optimization.mdx
  docs/deployment/infrastructure/backend-setup-aws.mdx
  docs/deployment/infrastructure/terraform-aws.mdx
  docs/deployment/kubernetes/eks-production.mdx
  docs/deployment/operations/eks-runbooks.mdx
  docs/docs.json
  docs/getting-started/introduction.mdx
  docs/security/aws-security-hardening.mdx
Labels: documentation

add Benchmark (pytest) benchmark result for de20312003ec5171c841574b6ba42caf5735ee00
  dev/bench/data.js
Labels: none

docs: restore comparison framework links
  docs/getting-started/introduction.mdx
Labels: documentation

add Benchmark (pytest) benchmark result for eea36e41dfcf7749650af03ff025f3e64ea65467
  dev/bench/data.js
Labels: none

feat: comprehensive framework comparisons and CLI scaffolding
  .claude/settings.local.json
  IMPLEMENTATION_ROADMAP.md
  docs/comparisons/choosing-framework.mdx
  docs/comparisons/vs-openai-agentkit.mdx
  docs/docs.json
  docs/getting-started/introduction.mdx
  src/mcp_server_langgraph/cli/__init__.py
  src/mcp_server_langgraph/cli/add_tool.py
  src/mcp_server_langgraph/cli/create_agent.py
  src/mcp_server_langgraph/cli/init.py
Labels: documentation

add Benchmark (pytest) benchmark result for 8d647ca6de0be6d6873209fa454e8cf928d325e7
  dev/bench/data.js
Labels: none

feat: implement quick wins for developer experience improvements
  .env.quickstart
  pyproject.toml
  quickstart_app.py
  src/mcp_server_langgraph/presets/__init__.py
  src/mcp_server_langgraph/presets/quickstart.py
  templates/agents/README.md
  templates/agents/customer_support_agent.py
  templates/agents/research_agent.py
Labels: documentation, dependencies, config

docs: add Framework Comparisons navigation and commit vs-openai-agentkit
  docs/mint.json
Labels: documentation

docs: update Framework Comparisons navigation with new comparison pages
  docs/docs.json
Labels: documentation

docs: add comprehensive framework improvements summary
  FRAMEWORK_IMPROVEMENTS_SUMMARY.md
Labels: documentation

docs: add comprehensive comparison pages for Google ADK, Claude Agent SDK, and Microsoft Agent Framework
  docs/comparisons/vs-claude-agent-sdk.mdx
  docs/comparisons/vs-google-adk.mdx
  docs/comparisons/vs-microsoft-agent-framework.mdx
Labels: documentation

docs: update introduction with links to all framework comparison pages
  docs/getting-started/introduction.mdx
Labels: documentation

chore: update documentation configuration references to docs.json
  .claude/commands/docs-audit.md
  .github/labeler.yaml
Labels: documentation

chore: remove deprecated mint.json in favor of docs.json
  docs/mint.json
  uv.lock
Labels: documentation

add Benchmark (pytest) benchmark result for eb0e7e54289c95ab2943c13a0feb9b468dd60679
  dev/bench/data.js
Labels: none

add Benchmark (pytest) benchmark result for 8f9c308dbad3b5253ce9cf99a1bf91e86e6cf1f3
  dev/bench/data.js
Labels: none

docs: modernize Mermaid diagrams to follow 2025 best practices
  docs/architecture/adr-0027-rate-limiting-strategy.mdx
  docs/architecture/adr-0028-caching-strategy.mdx
  docs/architecture/adr-0036-hybrid-session-model.mdx
  docs/architecture/adr-0037-identity-federation.mdx
  docs/architecture/adr-0039-openfga-permission-inheritance.mdx
  docs/deployment/disaster-recovery.mdx
  docs/diagrams/system-architecture.mdx
  docs/getting-started/architecture.mdx
  docs/guides/multi-llm-setup.mdx
  docs/reference/development/ci-cd.mdx
  docs/releases/overview.mdx
  scripts/convert_inline_styles_to_classdef.py
Labels: documentation

add Benchmark (pytest) benchmark result for 70e6ab8803b6e8bef0ab1bfdffa0ec5a6a47cb49
  dev/bench/data.js
Labels: none

docs: add ColorBrewer2 Set3 palette styling to 14 flowchart diagrams
  docs/PHASE-4-CODE-IMPORT-COMPLETE.md
  scripts/add_colorbrewer_styling.py
  src/mcp_server_langgraph/builder/api/server.py
  src/mcp_server_langgraph/builder/importer/__init__.py
  src/mcp_server_langgraph/builder/importer/ast_parser.py
  src/mcp_server_langgraph/builder/importer/graph_extractor.py
  src/mcp_server_langgraph/builder/importer/importer.py
  src/mcp_server_langgraph/builder/importer/layout_engine.py
  src/mcp_server_langgraph/playground/__init__.py
Labels: documentation

add Benchmark (pytest) benchmark result for 86ff1e8e3af702624d1934fafd0b542999e1f558
  dev/bench/data.js
Labels: none

docs: improve framework comparison fairness and balance
  docs/comparisons/vs-claude-agent-sdk.mdx
  docs/comparisons/vs-crewai.mdx
  docs/comparisons/vs-google-adk.mdx
  docs/comparisons/vs-langgraph-cloud.mdx
  docs/comparisons/vs-microsoft-agent-framework.mdx
  docs/comparisons/vs-openai-agentkit.mdx
Labels: documentation

add Benchmark (pytest) benchmark result for 661050fafa5f9d9bad1477ccccbd05f45a4b0f51
  dev/bench/data.js
Labels: none

docs: organize root directory and add documentation automation tools
  .claude/settings.local.json
  archive/best-practices/AWS_EKS_BEST_PRACTICES_README.md
  archive/best-practices/GCP_COST_OPTIMIZATION_PLAYBOOK.md
  archive/best-practices/GCP_GKE_BEST_PRACTICES_SUMMARY.md
  archive/best-practices/GCP_GKE_MASTER_INDEX.md
  archive/best-practices/GCP_SECURITY_HARDENING_GUIDE.md
  archive/implementation-history/COMPLETE_IMPLEMENTATION_REPORT.md
  archive/implementation-history/COMPREHENSIVE_IMPLEMENTATION_REPORT.md
  archive/implementation-history/FINAL_IMPLEMENTATION_SUMMARY.md
  archive/implementation-history/GCP_GKE_IMPLEMENTATION_PROGRESS.md
  archive/implementation-history/IMPLEMENTATION_FINAL_SUMMARY.md
  archive/implementation-history/IMPLEMENTATION_STATISTICS.md
  archive/implementation-history/README_AWS_EKS_IMPLEMENTATION.md
  scripts/add_code_block_lang_tags.py
  scripts/detect_missing_lang_tags.py
  scripts/standardize_placeholders.py
Labels: documentation

add Benchmark (pytest) benchmark result for 7cb322d70f278aca960b46d685fd704fdb4975ef
  dev/bench/data.js
Labels: none

docs: standardize placeholder syntax from xxx to ${PLACEHOLDER}
  docs/advanced/troubleshooting.mdx
  docs/deployment/kubernetes/aks.mdx
  docs/deployment/kubernetes/eks.mdx
  docs/deployment/operations/eks-runbooks.mdx
  docs/security/audit-checklist.mdx
Labels: documentation

add Benchmark (pytest) benchmark result for b1941632c0010cc079deb550bea7675a9b1708c1
  dev/bench/data.js
Labels: none

add Benchmark (pytest) benchmark result for c79ce96ef0d5e2a7352adfa2eedbf87061cdcfd0
  dev/bench/data.js
Labels: none

docs: optimize introduction page structure and reduce content duplication
  docs/comparisons/choosing-framework.mdx
  docs/getting-started/introduction.mdx
Labels: documentation

add Benchmark (pytest) benchmark result for 35c43d0e8072348971f2795c5d49104749399309
  dev/bench/data.js
Labels: none

docs: remove generic prototype framework comparisons
  docs/comparisons/choosing-framework.mdx
  docs/getting-started/introduction.mdx
Labels: documentation

add Benchmark (pytest) benchmark result for 49760d5ace32c8d6e506b38b36f8f054847b3a91
  dev/bench/data.js
Labels: none
