Repository vishnu2kmohan/mcp-server-langgraph, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, tests, ci-cd, dependencies, docker, deployment, auth, secrets, observability, mcp, agent, config, security, community

refactor(tests): remove deprecated notification websocket integration test
  tests/integration/test_notification_websocket_integration.py
Labels: tests

chore(ci): update CI workflow and Grafana authentication dashboards
  .env.test
  .github/workflows/ci.yaml
  deployments/helm/mcp-server-langgraph/dashboards/authentication.json
  docker-compose.test.yml
  monitoring/grafana/dashboards/Auth/authentication.json
Labels: ci-cd, docker, observability, config

fix(tests): fix lint and naming violations in test files
  tests/api/test_notification_websocket.py
  tests/integration/test_alert_push_flow.py
  tests/integration/test_push_circuit_breaker_chaos.py
  tests/unit/notifications/test_push_sender.py
  tests/unit/websocket_pkg/handlers/test_mcp_handler.py
  tests/unit/websocket_pkg/test_base.py
Labels: tests

fix(monitoring): update cost storage and LiteLLM callback
  src/mcp_server_langgraph/monitoring/cost_storage.py
  src/mcp_server_langgraph/monitoring/litellm_cost_callback.py
Labels: none

test(studio): update useMCPConnection hook tests
  src/mcp_server_langgraph/studio/frontend/src/hooks/useMCPConnection.test.ts
Labels: none

test: standardize test naming and add memory safety patterns
  tests/integration/monitoring/test_budget_alert_flow.py
  tests/unit/api/v1/test_ai_ux_enhancements.py
  tests/unit/api/v1/test_cost_router.py
  tests/unit/websocket_pkg/handlers/test_agent_request_handler.py
  tests/unit/websocket_pkg/test_exceptions.py
  tests/unit/websocket_pkg/test_metrics.py
  tests/unit/websocket_pkg/test_middleware.py
  tests/unit/websocket_pkg/test_registry.py
  tests/unit/websocket_pkg/test_types.py
Labels: tests

test(unit): expand unit test coverage and standardize patterns
  tests/unit/api/v1/test_ai_ux_llm_service.py
  tests/unit/api/v1/test_alert_orchestrator_integration.py
  tests/unit/api/v1/test_chat_cost_tracking.py
  tests/unit/api/v1/test_features_router.py
  tests/unit/api/v1/test_mcp_aggregated_router.py
  tests/unit/api/v1/test_mcp_websocket.py
  tests/unit/api/v1/test_mcp_websocket_lifespan_integration.py
  tests/unit/api/v1/test_mcp_websocket_streaming_handler.py
  tests/unit/api/v1/test_sessions_contract.py
  tests/unit/api/v1/test_streaming_chunk_limits.py
  tests/unit/api/v1/test_streaming_enabled_flag.py
  tests/unit/api/v1/test_streaming_settings_wiring.py
  tests/unit/api/v1/test_workflow_sharing.py
  tests/unit/auth/test_jwt_utils.py
  tests/unit/bootstrap/test_storage_global_setters.py
  tests/unit/bootstrap/test_websocket_bootstrap.py
  tests/unit/core/config/test_streaming_config.py
  tests/unit/llm/test_litellm_otel_integration.py
  tests/unit/llm/test_visual_verifier.py
  tests/unit/monitoring/test_cost_storage_entity_summary.py
Labels: tests

test(integration): update auth and infrastructure test fixtures
  tests/integration/auth/test_keycloak_connectivity.py
  tests/integration/conftest.py
  tests/integration/test_keycloak_oidc_healthcheck.py
  tests/integration/test_openfga_real_infrastructure.py
Labels: tests

test(integration): add SLA monitoring and improve e2e tests
  tests/e2e/test_notification_websocket_e2e.py
  tests/integration/test_sla_monitoring.py
  tests/meta/test_xfail_strict_enforcement.py
  tests/meta/validation/test_adr_sync_validation.py
Labels: tests

fix(test): correct timing in WebSocket token expiration test
  tests/unit/websocket_pkg/test_base.py
Labels: tests

fix(monitoring): persist organizational fields to PostgreSQL
  src/mcp_server_langgraph/monitoring/cost_tracker.py
  tests/unit/monitoring/test_cost_tracker_persistence.py
Labels: tests

style: apply ruff code quality improvements
  src/mcp_server_langgraph/agents/metrics.py
  src/mcp_server_langgraph/alerts/correlation.py
  src/mcp_server_langgraph/core/context_manager.py
  src/mcp_server_langgraph/core/context_ranker.py
  src/mcp_server_langgraph/execution/domain_proxy.py
  src/mcp_server_langgraph/mcp/handlers/hooks.py
  src/mcp_server_langgraph/mcp/tool_descriptions.py
  src/mcp_server_langgraph/privacy/tokenizer.py
  src/mcp_server_langgraph/resilience/metrics.py
  src/mcp_server_langgraph/sdk/output_guardrails.py
Labels: none

docs(adr): update ADR index with new architecture decisions
  adr/README.md
  docs/docs.json
Labels: documentation

docs: update Python version badge to 3.10+
  README.md
Labels: documentation

fix(studio): use window.location for auth redirect outside Router
  src/mcp_server_langgraph/studio/frontend/src/hooks/usePersonaCacheInvalidation.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/hooks/usePersonaCacheInvalidation.ts
Labels: none

style(docs): normalize quote style in MDX frontmatter
  docs/guides/dpop-enforcement.mdx
  docs/guides/feature-flags.mdx
  docs/guides/keyboard-shortcuts.mdx
  docs/guides/studio-feature-flags.mdx
Labels: documentation

fix(monitoring): handle None metadata in LiteLLM callback
  src/mcp_server_langgraph/monitoring/litellm_cost_callback.py
  tests/unit/monitoring/test_litellm_cost_callback.py
Labels: tests

refactor(docs): rename ADR references to INTERNAL for working documents
  CHANGELOG.md
  README.md
  deployments/monitoring/METRICS_CARDINALITY.md
  deployments/remediation/README.md
  docs-internal/COVERAGE_IMPROVEMENT_PLAN.md
  docs-internal/FUTURE_ENHANCEMENTS.md
  docs-internal/SKILLS_MARKETPLACE_INTERNALS.md
  docs-internal/TECHNICAL_DEBT.md
  docs-internal/archived/README.md
  packaging/README.md
  tests/integration/test_feature_flag_sync.py
  tests/meta/test_codex_findings_validation.py
Labels: documentation, tests

feat(studio): enhance WebSocket URL utilities with DEVTOOLS endpoint
  src/mcp_server_langgraph/studio/frontend/src/utils/websocket.test.ts
  src/mcp_server_langgraph/studio/frontend/src/utils/websocket.ts
Labels: none

feat(websocket): add typed WebSocket protocol definitions
  src/mcp_server_langgraph/studio/frontend/src/types/websocket-protocols.test.ts
  src/mcp_server_langgraph/studio/frontend/src/types/websocket-protocols.ts
  src/mcp_server_langgraph/websocket/protocols.py
  tests/unit/websocket/test_protocols.py
Labels: tests

feat(websocket): add DevTools handler and registry updates
  src/mcp_server_langgraph/api/v1/ws_router.py
  src/mcp_server_langgraph/websocket/handlers/devtools.py
  src/mcp_server_langgraph/websocket/registry.py
Labels: none

refactor(studio): use centralized WebSocket URL for DevTools (Gap #1)
  src/mcp_server_langgraph/studio/frontend/src/components/DevTools/DevToolsPanel.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/DevTools/DevToolsPanel.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/DevTools/hooks/useDevToolsWebSocket.test.ts
  src/mcp_server_langgraph/studio/frontend/src/components/DevTools/hooks/useDevToolsWebSocket.ts
  src/mcp_server_langgraph/studio/frontend/src/components/DevTools/tabs/ConsoleTab.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/DevTools/tabs/ConsoleTab.websocket.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/DevTools/tabs/NetworkTab.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/DevTools/tabs/NetworkTab.websocket.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/DevTools/types.ts
Labels: none

feat(studio): wire budget alerts WebSocket to CostPage (Gap #2)
  src/mcp_server_langgraph/studio/frontend/src/hooks/useBudgetAlertsWebSocket.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/hooks/useBudgetAlertsWebSocket.ts
  src/mcp_server_langgraph/studio/frontend/src/pages/CostPage.realtime.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/pages/CostPage.tsx
Labels: none

refactor(studio): standardize trace WebSocket on MessageEnvelope (Gap #3)
  src/mcp_server_langgraph/studio/frontend/src/hooks/useTraceWebSocket.test.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useTraceWebSocket.ts
Labels: none

feat(studio): add AI suggestions WebSocket hook
  src/mcp_server_langgraph/studio/frontend/src/hooks/useAISuggestionsWebSocket.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/hooks/useAISuggestionsWebSocket.ts
Labels: none

feat(studio): add polling for near-real-time project updates (Gap #4)
  src/mcp_server_langgraph/studio/frontend/src/pages/ProjectDetailPage.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/pages/ProjectDetailPage.tsx
Labels: none

test(websocket): add parity validation scripts and contract tests
  scripts/validation/check_websocket_parity.py
  scripts/validation/generate_websocket_schemas.py
  tests/contract/test_websocket_endpoint_parity.py
  tests/e2e/test_websocket_smoke.py
  tests/meta/test_frontend_backend_api_parity.py
Labels: tests

docs(websocket): add WebSocket protocol contract documentation
  docs-internal/websocket-protocol-contracts.md
  docs/schemas/websocket/ai-suggestions/context-update-message.json
  docs/schemas/websocket/ai-suggestions/suggestion-accept-message.json
  docs/schemas/websocket/ai-suggestions/suggestion-reject-message.json
  docs/schemas/websocket/ai-suggestions/suggestion-request-message.json
  docs/schemas/websocket/ai-suggestions/suggestion-response-entry.json
  docs/schemas/websocket/budget-alerts/budget-alert-entry.json
  docs/schemas/websocket/budget-alerts/budget-subscribe-all-message.json
  docs/schemas/websocket/budget-alerts/budget-subscribe-entities-message.json
  docs/schemas/websocket/budget-alerts/budget-subscribed-response.json
  docs/schemas/websocket/common/websocket-error.json
  docs/schemas/websocket/devtools/console-log-entry.json
  docs/schemas/websocket/devtools/network-request-entry.json
  docs/schemas/websocket/devtools/network-update-entry.json
  docs/schemas/websocket/mcp-aggregated/mcp-server-status-entry.json
  docs/schemas/websocket/mcp-aggregated/mcp-tool-call-entry.json
  docs/schemas/websocket/protocol-version.json
  docs/schemas/websocket/traces/trace-event-entry.json
  docs/schemas/websocket/traces/trace-span-entry.json
  docs/schemas/websocket/traces/trace-subscribe-message.json
Labels: documentation

chore(ci): add WebSocket parity validation pre-commit hook
  .pre-commit-config.yaml
Labels: ci-cd, config

fix(studio): include auth tokens in WebSocket connections
  src/mcp_server_langgraph/studio/frontend/eslint.config.js
  src/mcp_server_langgraph/studio/frontend/src/hooks/useAIRealTimeSuggestions.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useConnectionHealth.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useHeartDashboard.ts
  src/mcp_server_langgraph/studio/frontend/src/utils/authenticatedFetch.ts
  src/mcp_server_langgraph/studio/frontend/src/utils/websocketAuthContract.test.ts
  tests/contract/test_websocket_endpoint_parity.py
Labels: tests

feat(studio): add WebSocket reconnection metrics for observability
  src/mcp_server_langgraph/studio/frontend/src/hooks/useRealtimeSync.test.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useRealtimeSync.ts
  src/mcp_server_langgraph/studio/frontend/src/types/websocket-metrics.test.ts
  src/mcp_server_langgraph/studio/frontend/src/types/websocket-metrics.ts
  src/mcp_server_langgraph/studio/frontend/src/utils/websocket.test.ts
  src/mcp_server_langgraph/studio/frontend/src/utils/websocket.ts
  src/mcp_server_langgraph/studio/frontend/src/utils/websocketAuthContract.test.ts
  src/mcp_server_langgraph/studio/frontend/src/utils/websocketTelemetry.ts
Labels: none

test(studio): add WebSocket telemetry tests
  src/mcp_server_langgraph/studio/frontend/src/utils/websocketTelemetry.test.ts
Labels: none

chore(studio): remove redundant ESLint rule for buildWebSocketUrl
  src/mcp_server_langgraph/studio/frontend/eslint.config.js
Labels: none

docs(websocket): add authentication requirements and contract testing
  docs-internal/websocket-protocol-contracts.md
Labels: documentation

feat(websocket): add development warning for missing auth token
  src/mcp_server_langgraph/studio/frontend/src/utils/websocket.test.ts
  src/mcp_server_langgraph/studio/frontend/src/utils/websocket.ts
Labels: none

chore(lint): block deprecated buildWebSocketUrl import from config/api
  src/mcp_server_langgraph/studio/frontend/eslint.config.js
Labels: none

feat(observability): add metrics reporting to WebSocket hooks
  src/mcp_server_langgraph/studio/frontend/src/hooks/useAlertWebSocket.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useBudgetAlertsWebSocket.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useCostTrackingWebSocket.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useMCPAggregatedUpdates.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useNotificationWebSocket.ts
Labels: none

feat(observability): add WebSocketMetricsPanel component
  src/mcp_server_langgraph/studio/frontend/src/components/WebSocketMetrics/WebSocketMetricsPanel.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/WebSocketMetrics/WebSocketMetricsPanel.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/WebSocketMetrics/index.ts
Labels: none

chore(ci): add CODEOWNERS for WebSocket auth files
  .github/CODEOWNERS
Labels: none

feat(observability): add metrics to remaining WebSocket hooks
  src/mcp_server_langgraph/studio/frontend/src/hooks/useAIRealTimeSuggestions.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useAISuggestionsWebSocket.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useAuditWebSocket.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useConnectionHealthWebSocket.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useConnectionsRealtimeWebSocket.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useHeartMetricsWebSocket.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useMCPTaskWebSocket.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useMCPWebSocket.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useWorkflowExecution.ts
Labels: none

.github/labeler.yml:

# Auto-labeler configuration for PRs
# Uses changed-files pattern matching

# Documentation
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'
      - '**/*.mdx'
      - 'docs/**/*'
      - 'mint.json'
      - '.mcp/*.json'

# Tests
tests:
  - changed-files:
    - any-glob-to-any-file:
      - 'tests/**/*'
      - '**/*test*.py'
      - 'test_*.py'
      - '*_test.py'
      - 'pytest.ini'
      - 'conftest.py'
      - 'TESTING.md'

# CI/CD
ci-cd:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**/*'
      - '.github/actions/**/*'
      - '.gitlab-ci.yml'
      - 'Makefile'
      - '.pre-commit-config.yaml'

# Dependencies
dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'requirements*.txt'
      - 'setup.py'
      - 'pyproject.toml'
      - 'poetry.lock'
      - 'package*.json'
      - 'yarn.lock'

# Docker
docker:
  - changed-files:
    - any-glob-to-any-file:
      - 'Dockerfile*'
      - 'docker-compose*.yml'
      - '.dockerignore'

# Kubernetes/Deployment
deployment:
  - changed-files:
    - any-glob-to-any-file:
      - 'kubernetes/**/*'
      - 'kustomize/**/*'
      - 'helm/**/*'
      - 'k8s/**/*'
      - 'KUBERNETES_DEPLOYMENT.md'
      - 'PRODUCTION_DEPLOYMENT.md'

# Authentication/Authorization
auth:
  - changed-files:
    - any-glob-to-any-file:
      - 'auth.py'
      - 'openfga_client.py'
      - 'setup_openfga.py'

# Secrets Management
secrets:
  - changed-files:
    - any-glob-to-any-file:
      - 'secrets_manager.py'
      - 'setup_infisical.py'

# Observability
observability:
  - changed-files:
    - any-glob-to-any-file:
      - 'observability.py'
      - 'health_check.py'
      - 'monitoring/**/*'
      - 'grafana/**/*'

# MCP Server
mcp:
  - changed-files:
    - any-glob-to-any-file:
      - 'mcp_server*.py'
      - 'examples/*client*.py'

# Agent/Core
agent:
  - changed-files:
    - any-glob-to-any-file:
      - 'agent.py'
      - 'graph.py'
      - 'models.py'
      - 'prompt*.py'

# Configuration
config:
  - changed-files:
    - any-glob-to-any-file:
      - 'config.py'
      - '.env*'
      - 'settings.py'
      - '*.yaml'
      - '*.yml'
      - '*.toml'
      - '*.ini'
      - '.editorconfig'

# Security
security:
  - changed-files:
    - any-glob-to-any-file:
      - 'auth.py'
      - 'secrets_manager.py'
      - 'openfga_client.py'
      - 'SECURITY*.md'
      - '.github/workflows/security-scan.yaml'
      - 'scripts/validate_production.py'

# Community
community:
  - changed-files:
    - any-glob-to-any-file:
      - 'CODE_OF_CONDUCT.md'
      - 'CONTRIBUTING.md'
      - 'DEVELOPMENT.md'
      - '.github/SUPPORT.md'
      - '.github/FUNDING.yml'
      - '.github/ISSUE_TEMPLATE/**/*'
      - '.github/PULL_REQUEST_TEMPLATE.md'
