Repository vishnu2kmohan/mcp-server-langgraph, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, tests, ci-cd, dependencies, docker, deployment, auth, secrets, observability, mcp, agent, config, security, community

feat(studio): add Studio CLI and STUDIO.md configuration system
  src/mcp_server_langgraph/cli/studio.py
  src/mcp_server_langgraph/studio/config/__init__.py
  src/mcp_server_langgraph/studio/config/discovery.py
  src/mcp_server_langgraph/studio/config/loader.py
  src/mcp_server_langgraph/studio/config/models.py
  src/mcp_server_langgraph/studio/config/parser.py
  src/mcp_server_langgraph/studio/config/storage.py
  tests/unit/cli/__init__.py
  tests/unit/cli/test_studio_validate.py
  tests/unit/studio/config/__init__.py
  tests/unit/studio/config/test_studio_config_models.py
  tests/unit/studio/config/test_studio_discovery.py
  tests/unit/studio/config/test_studio_parser.py
  tests/unit/studio/config/test_studio_storage.py
Labels: tests

feat(frontend): add WebSocket metrics to observability slice and expand ESLint overrides
  src/mcp_server_langgraph/studio/frontend/eslint.config.js
  src/mcp_server_langgraph/studio/frontend/src/hooks/useWebSocketMetricsPush.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/hooks/useWebSocketMetricsPush.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useWebSocketMetricsReporter.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/hooks/useWebSocketTelemetrySync.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/store/slices/observabilitySlice.ts
  src/mcp_server_langgraph/studio/frontend/src/types/orchestrator.test.ts
  src/mcp_server_langgraph/studio/frontend/src/types/orchestrator.ts
Labels: none

feat(db): add Alembic migration for studio_configs table
  alembic/versions/x4y5z6a7b8c9_add_studio_configs_table.py
Labels: none

test(integration): add integration tests for API and Studio
  tests/integration/api/test_chat_capability_flow.py
  tests/integration/api/test_llm_capability_flow.py
  tests/integration/api/test_router_swarm_flow.py
  tests/integration/studio/__init__.py
  tests/integration/studio/test_studio_md_loading.py
Labels: tests

docs(adr): add ADR-0093 for OpenFGA relation inheritance patterns
  docs/architecture/adr-0093-openfga-relation-inheritance-patterns.mdx
  monitoring/prometheus/rules/websocket-reconnection-alerts.yml
  scripts/validation/analyze_openfga_inheritance.py
  tests/contract/test_websocket_authorization_relation_coverage.py
  tests/unit/auth/test_openfga_model_inheritance.py
Labels: documentation, tests, observability

fix(frontend): update observabilitySlice test to include webSocketMetrics field
  src/mcp_server_langgraph/studio/frontend/src/store/slices/observabilitySlice.test.ts
Labels: none

fix(auth): update OpenFGA model with relation inheritance patterns
  config/openfga/model.json
  config/openfga/sample-tuples.json
Labels: none

feat(frontend): add orchestrator selector test ID and E2E tests
  src/mcp_server_langgraph/studio/frontend/e2e/orchestrator-selection.spec.ts
  src/mcp_server_langgraph/studio/frontend/src/components/OrchestratorControls/OrchestratorControls.tsx
Labels: none

feat(frontend): add error payload to WebSocket message interface
  src/mcp_server_langgraph/studio/frontend/src/hooks/useAIRealTimeSuggestions.ts
Labels: none

chore(tests): register agentic_memory pytest marker
  pyproject.toml
Labels: dependencies, config

refactor(conversation): consolidate chat input to ConnectedChatInputForm
  src/mcp_server_langgraph/studio/frontend/src/conversation/ChatInput.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/conversation/ChatInput.tsx
  src/mcp_server_langgraph/studio/frontend/src/conversation/ConnectedConversationPanel.tsx
  src/mcp_server_langgraph/studio/frontend/src/conversation/ConversationPanel.tsx
  src/mcp_server_langgraph/studio/frontend/src/conversation/SlashCommandMenu.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/conversation/SlashCommandMenu.tsx
  src/mcp_server_langgraph/studio/frontend/src/conversation/index.ts
Labels: none

chore(frontend): refine ESLint snake_case overrides for API boundaries
  src/mcp_server_langgraph/studio/frontend/eslint.config.js
Labels: none

test(frontend): extend AI real-time suggestions test coverage
  src/mcp_server_langgraph/studio/frontend/src/hooks/useAIRealTimeSuggestions.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/test/ai-websocket-integration.test.tsx
Labels: none

test(tools): add sandbox settings mock fixtures for tool tests
  tests/unit/tools/test_bash_tool.py
  tests/unit/tools/test_computer_use_tools.py
  tests/unit/tools/test_screenshot_tool.py
  tests/unit/tools/test_web_fetch_tool.py
Labels: tests

test(websocket): add AI suggestions handler test coverage
  tests/unit/websocket_pkg/websocket/handlers/test_ai_suggestions_handler.py
Labels: tests

test(contract): add WebSocket message format contract tests
  tests/contract/test_websocket_message_format_contract.py
Labels: tests

feat(api): add skills marketplace API endpoints
  src/mcp_server_langgraph/api/v1/skills.py
  src/mcp_server_langgraph/studio/frontend/src/components/Chat/ChatInputForm.tsx
  src/mcp_server_langgraph/studio/frontend/src/conversation/ConnectedChatInputForm.tsx
  src/mcp_server_langgraph/studio/frontend/src/conversation/ConversationPanel.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/conversation/ConversationPanel.tsx
  tests/unit/api/v1/test_skills_marketplace_api.py
Labels: tests

test(conversation): update module export tests for new API
  src/mcp_server_langgraph/studio/frontend/src/conversation/index.test.ts
Labels: none

feat(adr): complete ADR-0091 Phase 4 - strict snake_case enforcement
  docs/architecture/adr-0091-api-response-transformation-strategy.mdx
  src/mcp_server_langgraph/studio/frontend/eslint.config.js
  tests/unit/skills/test_auto_update_integration.py
Labels: documentation, tests

fix(tests): update skills API tests for admin_user dependency
  tests/unit/skills/test_skill_installer.py
Labels: tests

fix(tests): replace skip with xfail for unimplemented TDD features
  tests/unit/tools/test_edit_file_tool.py
  tests/unit/tools/test_write_file_tool.py
Labels: tests

fix(tests): patch FF_TEST_MODE in require_feature test
  tests/unit/core/test_adr0092_feature_flags.py
Labels: tests

feat(chat): integrate RouterAgent into ChatServiceImpl streaming
  pyproject.toml
  src/mcp_server_langgraph/api/v1/chat.py
  tests/unit/api/v1/test_chat_router_integration.py
Labels: tests, dependencies, config

feat(adr-0092): add enable_hierarchical_capability_provider master flag
  .env.test
  docker-compose.test.yml
  src/mcp_server_langgraph/core/feature_flags.py
  tests/unit/core/test_adr0092_feature_flags.py
Labels: tests, docker, config

feat(frontend): add transformSnakeToCamel utility for ADR-0091 Phase 5
  src/mcp_server_langgraph/studio/frontend/src/api/transforms.test.ts
  src/mcp_server_langgraph/studio/frontend/src/api/transforms.ts
Labels: none

feat(lifecycle): add idempotent aclose methods for resource cleanup
  .pre-commit-config.yaml
  src/mcp_server_langgraph/auth/api_keys.py
  src/mcp_server_langgraph/auth/encrypted_session_store.py
  src/mcp_server_langgraph/auth/openfga.py
  src/mcp_server_langgraph/auth/session.py
  src/mcp_server_langgraph/auth/token_denylist.py
  src/mcp_server_langgraph/core/cache.py
  src/mcp_server_langgraph/core/storage/conversation_store.py
  src/mcp_server_langgraph/database/session.py
  src/mcp_server_langgraph/lifecycle/__init__.py
  src/mcp_server_langgraph/lifecycle/cleanup.py
  src/mcp_server_langgraph/notifications/preferences.py
  src/mcp_server_langgraph/storage/vectors/factory.py
  tests/integration/lifecycle/__init__.py
  tests/integration/lifecycle/test_shutdown_cleanup.py
  tests/integration/tools/test_semantic_search_integration.py
  tests/unit/auth/__init__.py
  tests/unit/auth/test_api_key_manager_close.py
  tests/unit/auth/test_openfga_concurrent_init.py
  tests/unit/auth/test_session_store_close.py
  tests/unit/auth/test_token_denylist_close.py
  tests/unit/core/storage/test_conversation_store_close.py
  tests/unit/core/test_cache_close.py
  tests/unit/database/test_session_registry.py
  tests/unit/notifications/test_preferences_close.py
  tests/unit/storage/vectors/test_qdrant_shared.py
Labels: tests, ci-cd, config

feat(api): add cleanup hooks and improve AI UX service
  src/mcp_server_langgraph/api/v1/ai_ux.py
  src/mcp_server_langgraph/api/v1/ai_ux_service.py
  src/mcp_server_langgraph/api/v1/sessions.py
  src/mcp_server_langgraph/api/v1/user.py
  src/mcp_server_langgraph/api/v1/vectors.py
  tests/unit/api/test_sessions_cleanup.py
  tests/unit/api/test_websocket_permissions_endpoint.py
  tests/unit/api/v1/test_ai_ux_artifact_storage.py
  tests/unit/api/v1/test_ai_ux_composite_analysis.py
  tests/unit/api/v1/test_ai_ux_endpoints.py
  tests/unit/api/v1/test_ai_ux_enhancements.py
  tests/unit/api/v1/test_ai_ux_llm_service.py
  tests/unit/api/v1/test_ai_ux_model_selector.py
  tests/unit/api/v1/test_ai_ux_production_features.py
  tests/unit/api/v1/test_ai_ux_session_cache.py
Labels: tests

feat(core): add multi-provider embeddings and lifecycle hooks
  src/mcp_server_langgraph/bootstrap/storage.py
  src/mcp_server_langgraph/core/dependencies.py
  src/mcp_server_langgraph/core/dynamic_context_loader.py
  src/mcp_server_langgraph/core/feature_flags.py
  src/mcp_server_langgraph/infrastructure/app_factory.py
  src/mcp_server_langgraph/mcp/server_streamable.py
  tests/integration/test_dynamic_context_loader.py
  tests/unit/core/test_dependencies_wiring.py
Labels: tests

feat(tools): enhance semantic search with improved ranking
  src/mcp_server_langgraph/tools/__init__.py
  src/mcp_server_langgraph/tools/search_tools.py
  src/mcp_server_langgraph/websocket/types.py
  tests/unit/tools/test_search_tools.py
  tests/unit/websocket_pkg/test_types.py
Labels: tests

test(infra): update test fixtures and add Keycloak/Grafana meta tests
  tests/conftest.py
  tests/e2e/default-realm.json
  tests/meta/test_e2e_keycloak_setup.py
  tests/meta/test_grafana_dashboard_provisioning.py
  tests/unit/database/test_session.py
Labels: tests

docs: update ADRs and frontend documentation
  README.md
  adr/adr-0091-api-response-transformation-strategy.md
  adr/adr-0093-chat-input-unification.md
  docs-internal/UX_AUDIT_REPORT.md
  docs-internal/frontend/ACCESSIBILITY_IMPLEMENTATION.md
  docs-internal/frontend/DESIGN_SYSTEM.md
  docs-internal/frontend/KEYBOARD_SHORTCUTS.md
  docs-internal/frontend/testing/TESTING_OOM_PREVENTION.md
  docs/architecture/adr-0093-chat-input-unification.mdx
  docs/architecture/adr-0093-openfga-relation-inheritance-patterns.mdx
  src/mcp_server_langgraph/studio/frontend/src/layout/__tests__/README.md
Labels: documentation

chore(config): update test environment and Docker Compose configuration
  .env.test
  docker-compose.test.yml
Labels: docker, config

chore(deps): update dependencies and add qdrant-client extras
  pyproject.toml
  uv.lock
Labels: dependencies, config

chore(config): update test environment and ESLint configuration
  .env.test
  docker-compose.test.yml
  src/mcp_server_langgraph/studio/frontend/eslint.config.js
Labels: docker, config

docs: add KB Focus Mode and multi-tenant vector search ADRs
  .claude/context/code-patterns.md
  .claude/context/testing-patterns.md
  README.md
  adr/adr-0091-api-response-transformation-strategy.md
  adr/adr-0094-kb-focus-mode.md
  adr/adr-0095-multi-tenant-vector-search-isolation.md
  docs-internal/audits/SEMANTIC_SEARCH_AUDIT_COMPLETION_2026-01-06.md
  docs-internal/migrations/embedding-migration-guide.md
  docs-internal/rollout/feature-flag-rollout-strategy.md
  docs/architecture/adr-0094-kb-focus-mode.mdx
  docs/architecture/adr-0095-multi-tenant-vector-search-isolation.mdx
Labels: documentation

feat(core): add KB Focus Mode and progressive context discovery
  src/mcp_server_langgraph/core/__init__.py
  src/mcp_server_langgraph/core/agent_graph_builder.py
  src/mcp_server_langgraph/core/dynamic_context_loader.py
  src/mcp_server_langgraph/core/feature_flags.py
Labels: none

feat(agents): enhance agent lifecycle and tool binding
  src/mcp_server_langgraph/agents/loop_agent.py
  src/mcp_server_langgraph/agents/router_agent.py
  src/mcp_server_langgraph/agents/worker_agent.py
Labels: none

feat(memory): add semantic deduplication and enhanced store
  src/mcp_server_langgraph/memory/store.py
Labels: none

feat(context): add lifecycle hooks to codebase loader
  src/mcp_server_langgraph/context/codebase_loader.py
Labels: none

feat(skills): add search adapters and progressive loader enhancements
  src/mcp_server_langgraph/skills/__init__.py
  src/mcp_server_langgraph/skills/adapters.py
  src/mcp_server_langgraph/skills/progressive_loader.py
Labels: none

.github/labeler.yml:

# Auto-labeler configuration for PRs
# Uses changed-files pattern matching

# Documentation
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'
      - '**/*.mdx'
      - 'docs/**/*'
      - 'mint.json'
      - '.mcp/*.json'

# Tests
tests:
  - changed-files:
    - any-glob-to-any-file:
      - 'tests/**/*'
      - '**/*test*.py'
      - 'test_*.py'
      - '*_test.py'
      - 'pytest.ini'
      - 'conftest.py'
      - 'TESTING.md'

# CI/CD
ci-cd:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**/*'
      - '.github/actions/**/*'
      - '.gitlab-ci.yml'
      - 'Makefile'
      - '.pre-commit-config.yaml'

# Dependencies
dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'requirements*.txt'
      - 'setup.py'
      - 'pyproject.toml'
      - 'poetry.lock'
      - 'package*.json'
      - 'yarn.lock'

# Docker
docker:
  - changed-files:
    - any-glob-to-any-file:
      - 'Dockerfile*'
      - 'docker-compose*.yml'
      - '.dockerignore'

# Kubernetes/Deployment
deployment:
  - changed-files:
    - any-glob-to-any-file:
      - 'kubernetes/**/*'
      - 'kustomize/**/*'
      - 'helm/**/*'
      - 'k8s/**/*'
      - 'KUBERNETES_DEPLOYMENT.md'
      - 'PRODUCTION_DEPLOYMENT.md'

# Authentication/Authorization
auth:
  - changed-files:
    - any-glob-to-any-file:
      - 'auth.py'
      - 'openfga_client.py'
      - 'setup_openfga.py'

# Secrets Management
secrets:
  - changed-files:
    - any-glob-to-any-file:
      - 'secrets_manager.py'
      - 'setup_infisical.py'

# Observability
observability:
  - changed-files:
    - any-glob-to-any-file:
      - 'observability.py'
      - 'health_check.py'
      - 'monitoring/**/*'
      - 'grafana/**/*'

# MCP Server
mcp:
  - changed-files:
    - any-glob-to-any-file:
      - 'mcp_server*.py'
      - 'examples/*client*.py'

# Agent/Core
agent:
  - changed-files:
    - any-glob-to-any-file:
      - 'agent.py'
      - 'graph.py'
      - 'models.py'
      - 'prompt*.py'

# Configuration
config:
  - changed-files:
    - any-glob-to-any-file:
      - 'config.py'
      - '.env*'
      - 'settings.py'
      - '*.yaml'
      - '*.yml'
      - '*.toml'
      - '*.ini'
      - '.editorconfig'

# Security
security:
  - changed-files:
    - any-glob-to-any-file:
      - 'auth.py'
      - 'secrets_manager.py'
      - 'openfga_client.py'
      - 'SECURITY*.md'
      - '.github/workflows/security-scan.yaml'
      - 'scripts/validate_production.py'

# Community
community:
  - changed-files:
    - any-glob-to-any-file:
      - 'CODE_OF_CONDUCT.md'
      - 'CONTRIBUTING.md'
      - 'DEVELOPMENT.md'
      - '.github/SUPPORT.md'
      - '.github/FUNDING.yml'
      - '.github/ISSUE_TEMPLATE/**/*'
      - '.github/PULL_REQUEST_TEMPLATE.md'
