Repository vishnu2kmohan/mcp-server-langgraph, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, tests, ci-cd, dependencies, docker, deployment, auth, secrets, observability, mcp, agent, config, security, community

.github/labeler.yml:

# Auto-labeler configuration for PRs
# Uses changed-files pattern matching

# Documentation
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'
      - '**/*.mdx'
      - 'docs/**/*'
      - 'mint.json'
      - '.mcp/*.json'

# Tests
tests:
  - changed-files:
    - any-glob-to-any-file:
      - 'tests/**/*'
      - '**/*test*.py'
      - 'test_*.py'
      - '*_test.py'
      - 'pytest.ini'
      - 'conftest.py'
      - 'TESTING.md'

# CI/CD
ci-cd:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**/*'
      - '.github/actions/**/*'
      - '.gitlab-ci.yml'
      - 'Makefile'
      - '.pre-commit-config.yaml'

# Dependencies
dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'requirements*.txt'
      - 'setup.py'
      - 'pyproject.toml'
      - 'poetry.lock'
      - 'package*.json'
      - 'yarn.lock'

# Docker
docker:
  - changed-files:
    - any-glob-to-any-file:
      - 'Dockerfile*'
      - 'docker-compose*.yml'
      - '.dockerignore'

# Kubernetes/Deployment
deployment:
  - changed-files:
    - any-glob-to-any-file:
      - 'kubernetes/**/*'
      - 'kustomize/**/*'
      - 'helm/**/*'
      - 'k8s/**/*'
      - 'KUBERNETES_DEPLOYMENT.md'
      - 'PRODUCTION_DEPLOYMENT.md'

# Authentication/Authorization
auth:
  - changed-files:
    - any-glob-to-any-file:
      - 'auth.py'
      - 'openfga_client.py'
      - 'setup_openfga.py'

# Secrets Management
secrets:
  - changed-files:
    - any-glob-to-any-file:
      - 'secrets_manager.py'
      - 'setup_infisical.py'

# Observability
observability:
  - changed-files:
    - any-glob-to-any-file:
      - 'observability.py'
      - 'health_check.py'
      - 'monitoring/**/*'
      - 'grafana/**/*'

# MCP Server
mcp:
  - changed-files:
    - any-glob-to-any-file:
      - 'mcp_server*.py'
      - 'examples/*client*.py'

# Agent/Core
agent:
  - changed-files:
    - any-glob-to-any-file:
      - 'agent.py'
      - 'graph.py'
      - 'models.py'
      - 'prompt*.py'

# Configuration
config:
  - changed-files:
    - any-glob-to-any-file:
      - 'config.py'
      - '.env*'
      - 'settings.py'
      - '*.yaml'
      - '*.yml'
      - '*.toml'
      - '*.ini'
      - '.editorconfig'

# Security
security:
  - changed-files:
    - any-glob-to-any-file:
      - 'auth.py'
      - 'secrets_manager.py'
      - 'openfga_client.py'
      - 'SECURITY*.md'
      - '.github/workflows/security-scan.yaml'
      - 'scripts/validate_production.py'

# Community
community:
  - changed-files:
    - any-glob-to-any-file:
      - 'CODE_OF_CONDUCT.md'
      - 'CONTRIBUTING.md'
      - 'DEVELOPMENT.md'
      - '.github/SUPPORT.md'
      - '.github/FUNDING.yml'
      - '.github/ISSUE_TEMPLATE/**/*'
      - '.github/PULL_REQUEST_TEMPLATE.md'

fix(docker): increase Keycloak memory and add explicit JVM heap limits
  docker-compose.test.yml
Labels: docker, config

feat(mcp): implement MCP 2025-06-18 full protocol (elicitation, sampling, resources)
  src/mcp_server_langgraph/core/interrupts/mcp_bridge.py
  src/mcp_server_langgraph/mcp/elicitation.py
  src/mcp_server_langgraph/mcp/resources.py
  src/mcp_server_langgraph/mcp/sampling.py
  src/mcp_server_langgraph/mcp/server_streamable.py
  tests/integration/test_mcp_elicitation.py
  tests/integration/test_mcp_resources.py
  tests/integration/test_mcp_sampling.py
Labels: tests

feat(playground): add frontend foundation (Vite + React + TypeScript + Tailwind)
  src/mcp_server_langgraph/playground/frontend/index.html
  src/mcp_server_langgraph/playground/frontend/package.json
  src/mcp_server_langgraph/playground/frontend/postcss.config.js
  src/mcp_server_langgraph/playground/frontend/tailwind.config.js
  src/mcp_server_langgraph/playground/frontend/tsconfig.json
  src/mcp_server_langgraph/playground/frontend/tsconfig.node.json
  src/mcp_server_langgraph/playground/frontend/vite.config.ts
  src/mcp_server_langgraph/playground/frontend/vitest.config.ts
Labels: none

feat(playground): add test infrastructure and design system
  src/mcp_server_langgraph/playground/frontend/src/index.css
  src/mcp_server_langgraph/playground/frontend/src/styles/design-tokens.ts
  src/mcp_server_langgraph/playground/frontend/src/test/setup.ts
  src/mcp_server_langgraph/playground/frontend/src/test/test-utils.tsx
Labels: none

feat(playground): add Phase 3 API layer and types (6 files)
  src/mcp_server_langgraph/playground/frontend/src/api/index.ts
  src/mcp_server_langgraph/playground/frontend/src/api/mcp-client.test.ts
  src/mcp_server_langgraph/playground/frontend/src/api/mcp-client.ts
  src/mcp_server_langgraph/playground/frontend/src/api/mcp-types.ts
  src/mcp_server_langgraph/playground/frontend/src/api/playground.ts
  src/mcp_server_langgraph/playground/frontend/src/api/types.ts
Labels: none

feat(playground): add Phase 4 core hooks - MCP Host + Client (20 files)
  src/mcp_server_langgraph/playground/frontend/src/contexts/MCPHostContext.test.tsx
  src/mcp_server_langgraph/playground/frontend/src/contexts/MCPHostContext.tsx
  src/mcp_server_langgraph/playground/frontend/src/contexts/index.ts
  src/mcp_server_langgraph/playground/frontend/src/hooks/index.ts
  src/mcp_server_langgraph/playground/frontend/src/hooks/useDarkMode.test.ts
  src/mcp_server_langgraph/playground/frontend/src/hooks/useDarkMode.ts
  src/mcp_server_langgraph/playground/frontend/src/hooks/useMCPConnection.test.ts
  src/mcp_server_langgraph/playground/frontend/src/hooks/useMCPConnection.ts
  src/mcp_server_langgraph/playground/frontend/src/hooks/useMCPElicitation.test.ts
  src/mcp_server_langgraph/playground/frontend/src/hooks/useMCPElicitation.ts
  src/mcp_server_langgraph/playground/frontend/src/hooks/useMCPPrompts.test.ts
  src/mcp_server_langgraph/playground/frontend/src/hooks/useMCPPrompts.ts
  src/mcp_server_langgraph/playground/frontend/src/hooks/useMCPResources.test.ts
  src/mcp_server_langgraph/playground/frontend/src/hooks/useMCPResources.ts
  src/mcp_server_langgraph/playground/frontend/src/hooks/useMCPSampling.test.ts
  src/mcp_server_langgraph/playground/frontend/src/hooks/useMCPSampling.ts
  src/mcp_server_langgraph/playground/frontend/src/hooks/useMCPTools.test.ts
  src/mcp_server_langgraph/playground/frontend/src/hooks/useMCPTools.ts
  src/mcp_server_langgraph/playground/frontend/src/hooks/useSession.test.ts
  src/mcp_server_langgraph/playground/frontend/src/hooks/useSession.ts
Labels: none

feat(playground): add Phase 5 layout components (5 files)
  src/mcp_server_langgraph/playground/frontend/src/components/Layout/Header.test.tsx
  src/mcp_server_langgraph/playground/frontend/src/components/Layout/Header.tsx
  src/mcp_server_langgraph/playground/frontend/src/components/Layout/Sidebar.test.tsx
  src/mcp_server_langgraph/playground/frontend/src/components/Layout/Sidebar.tsx
  src/mcp_server_langgraph/playground/frontend/src/components/Layout/index.ts
Labels: none

feat(playground): add Phase 6 session components (7 files)
  src/mcp_server_langgraph/playground/frontend/src/components/Sessions/CreateSessionModal.test.tsx
  src/mcp_server_langgraph/playground/frontend/src/components/Sessions/CreateSessionModal.tsx
  src/mcp_server_langgraph/playground/frontend/src/components/Sessions/SessionCard.test.tsx
  src/mcp_server_langgraph/playground/frontend/src/components/Sessions/SessionCard.tsx
  src/mcp_server_langgraph/playground/frontend/src/components/Sessions/SessionList.test.tsx
  src/mcp_server_langgraph/playground/frontend/src/components/Sessions/SessionList.tsx
  src/mcp_server_langgraph/playground/frontend/src/components/Sessions/index.ts
Labels: none

feat(playground): add Phase 7 chat components (9 files)
  src/mcp_server_langgraph/playground/frontend/src/components/Chat/ChatInput.test.tsx
  src/mcp_server_langgraph/playground/frontend/src/components/Chat/ChatInput.tsx
  src/mcp_server_langgraph/playground/frontend/src/components/Chat/ChatInterface.test.tsx
  src/mcp_server_langgraph/playground/frontend/src/components/Chat/ChatInterface.tsx
  src/mcp_server_langgraph/playground/frontend/src/components/Chat/ChatMessage.test.tsx
  src/mcp_server_langgraph/playground/frontend/src/components/Chat/ChatMessage.tsx
  src/mcp_server_langgraph/playground/frontend/src/components/Chat/ChatStream.test.tsx
  src/mcp_server_langgraph/playground/frontend/src/components/Chat/ChatStream.tsx
  src/mcp_server_langgraph/playground/frontend/src/components/Chat/index.ts
Labels: none

feat(playground): Phase 8 - Observability components (13 files)
  src/mcp_server_langgraph/playground/frontend/src/components/Observability/AlertPanel.test.tsx
  src/mcp_server_langgraph/playground/frontend/src/components/Observability/AlertPanel.tsx
  src/mcp_server_langgraph/playground/frontend/src/components/Observability/LogPanel.test.tsx
  src/mcp_server_langgraph/playground/frontend/src/components/Observability/LogPanel.tsx
  src/mcp_server_langgraph/playground/frontend/src/components/Observability/MetricsPanel.test.tsx
  src/mcp_server_langgraph/playground/frontend/src/components/Observability/MetricsPanel.tsx
  src/mcp_server_langgraph/playground/frontend/src/components/Observability/ObservabilityTabs.test.tsx
  src/mcp_server_langgraph/playground/frontend/src/components/Observability/ObservabilityTabs.tsx
  src/mcp_server_langgraph/playground/frontend/src/components/Observability/TracePanel.test.tsx
  src/mcp_server_langgraph/playground/frontend/src/components/Observability/TracePanel.tsx
  src/mcp_server_langgraph/playground/frontend/src/components/Observability/TraceWaterfall.test.tsx
  src/mcp_server_langgraph/playground/frontend/src/components/Observability/TraceWaterfall.tsx
  src/mcp_server_langgraph/playground/frontend/src/components/Observability/index.ts
Labels: none

feat(playground): Phase 9 - MCP Client UI components (9 files)
  src/mcp_server_langgraph/playground/frontend/src/components/MCP/ElicitationDialog.test.tsx
  src/mcp_server_langgraph/playground/frontend/src/components/MCP/ElicitationDialog.tsx
  src/mcp_server_langgraph/playground/frontend/src/components/MCP/SamplingDialog.test.tsx
  src/mcp_server_langgraph/playground/frontend/src/components/MCP/SamplingDialog.tsx
  src/mcp_server_langgraph/playground/frontend/src/components/MCP/SchemaForm.test.tsx
  src/mcp_server_langgraph/playground/frontend/src/components/MCP/SchemaForm.tsx
  src/mcp_server_langgraph/playground/frontend/src/components/MCP/ServerManager.test.tsx
  src/mcp_server_langgraph/playground/frontend/src/components/MCP/ServerManager.tsx
  src/mcp_server_langgraph/playground/frontend/src/components/MCP/index.ts
Labels: none

feat(playground): Phase 10 - Main application (3 files)
  src/mcp_server_langgraph/playground/frontend/src/App.test.tsx
  src/mcp_server_langgraph/playground/frontend/src/App.tsx
  src/mcp_server_langgraph/playground/frontend/src/main.tsx
Labels: none

feat(playground): Phase 11 - Accessibility utilities (2 files)
  src/mcp_server_langgraph/playground/frontend/src/hooks/useAccessibility.test.ts
  src/mcp_server_langgraph/playground/frontend/src/hooks/useAccessibility.ts
Labels: none

feat(playground): Phase 12 - HEART Metrics (5 files)
  src/mcp_server_langgraph/playground/frontend/src/components/Feedback/NPSSurvey.test.tsx
  src/mcp_server_langgraph/playground/frontend/src/components/Feedback/NPSSurvey.tsx
  src/mcp_server_langgraph/playground/frontend/src/components/Feedback/index.ts
  src/mcp_server_langgraph/playground/frontend/src/hooks/useHeartMetrics.test.tsx
  src/mcp_server_langgraph/playground/frontend/src/hooks/useHeartMetrics.tsx
Labels: none

test(playground): improve accessibility hook coverage to 81%
  src/mcp_server_langgraph/playground/frontend/.gitignore
  src/mcp_server_langgraph/playground/frontend/src/hooks/useAccessibility.test.ts
Labels: none

feat(auth): add Keycloak Admin API init service and OpenShift overlay
  deployments/base/keycloak-deployment.yaml
  deployments/base/qdrant-deployment.yaml
  deployments/helm/mcp-server-langgraph/values.yaml
  deployments/overlays/openshift/keycloak-json-patch.yaml
  deployments/overlays/openshift/keycloak-patch.yaml
  deployments/overlays/openshift/kustomization.yaml
  deployments/overlays/openshift/mcp-server-json-patch.yaml
  deployments/overlays/openshift/mcp-server-patch.yaml
  deployments/overlays/openshift/openfga-json-patch.yaml
  deployments/overlays/openshift/openfga-patch.yaml
  deployments/overlays/openshift/otel-collector-json-patch.yaml
  deployments/overlays/openshift/otel-collector-patch.yaml
  deployments/overlays/openshift/postgres-json-patch.yaml
  deployments/overlays/openshift/postgres-patch.yaml
  deployments/overlays/openshift/qdrant-json-patch.yaml
  deployments/overlays/openshift/qdrant-patch.yaml
  deployments/overlays/openshift/redis-json-patch.yaml
  deployments/overlays/openshift/redis-patch.yaml
  deployments/overlays/preview-gke/keycloak-patch.yaml
  deployments/overlays/production-gke/keycloak-patch.yaml
  docker-compose.test.yml
  src/mcp_server_langgraph/builder/frontend/src/App.test.tsx
  src/mcp_server_langgraph/builder/frontend/src/App.tsx
  src/mcp_server_langgraph/builder/frontend/vite.config.ts
  tests/e2e/conftest.py
  tests/e2e/keycloak-test-realm.json
  tests/e2e/test_full_user_journey.py
  tests/integration/builder/test_builder_redis_workflow.py
  tests/integration/playground/test_playground_redis_session.py
  tests/integration/test_vertex_ai_anthropic.py
  tests/kubernetes/test_kustomize_openshift.py
  tests/monitoring/test_prometheus_client.py
Labels: tests, docker, config

fix(mcp): resolve mypy type errors in server_streamable.py
  src/mcp_server_langgraph/mcp/server_streamable.py
Labels: none

fix(mypy): resolve type errors for conditional OTLP imports
  src/mcp_server_langgraph/core/dynamic_context_loader.py
  src/mcp_server_langgraph/observability/telemetry.py
Labels: none

fix(k8s): correct env indices in keycloak-json-patch for secret refs
  deployments/overlays/preview-gke/keycloak-json-patch.yaml
Labels: none

fix(k8s): comply with OpenShift CPU ratio limits (max 4.0)
  deployments/overlays/openshift/postgres-patch.yaml
  deployments/overlays/openshift/redis-patch.yaml
Labels: none

fix(tests): make Dockerfile COPY assertions handle --chown flag
  tests/meta/test_codex_findings_validation.py
Labels: tests

fix(k8s): add namespace.yaml to OpenShift overlay
  deployments/overlays/openshift/kustomization.yaml
  deployments/overlays/openshift/namespace.yaml
Labels: none

fix(k8s): remove duplicate namespace from OpenShift overlay
  deployments/overlays/openshift/kustomization.yaml
  deployments/overlays/openshift/namespace.yaml
  tests/deployment/test_helm_configuration.py
Labels: tests

fix(docker): reduce build context 99.7% and optimize Dockerfiles
  .dockerignore
  .gitignore
  docker/Dockerfile
  docker/Dockerfile.alembic
  docker/Dockerfile.builder
  docker/Dockerfile.infisical-builder
  docker/Dockerfile.playground
  docker/Dockerfile.test
  tests/meta/test_docker_image_contents.py
Labels: tests, docker

fix(docker): include tests/ in build context for Dockerfile.test
  .dockerignore
Labels: docker

perf(docker): eliminate layer bloat in all Dockerfiles
  docker/Dockerfile
  docker/Dockerfile.alembic
  docker/Dockerfile.builder
  docker/Dockerfile.infisical-builder
  docker/Dockerfile.playground
  docker/Dockerfile.test
Labels: none

chore(docker): update size estimates and remove unused apt deps
  docker/Dockerfile
  docker/Dockerfile.test
Labels: none

fix(tests): fix flaky test_get_engine_with_echo_enabled in xdist
  tests/unit/database/test_session.py
Labels: tests

fix(tests): fix xdist MagicMock comparison in test_get_session_maker
  tests/unit/database/test_session.py
Labels: tests

perf(docker): optimize multi-stage builds and remove pyproject.toml from runtime
  docker/Dockerfile
  docker/Dockerfile.alembic
  docker/Dockerfile.builder
  docker/Dockerfile.playground
  docker/Dockerfile.test
  scripts/validators/validate_docker_image_contents.py
  src/mcp_server_langgraph/__init__.py
  tests/integration/test_docker_image_assets.py
  tests/unit/core/test_version_sync.py
Labels: tests

chore(docker): extend .dockerignore with additional exclusions
  .dockerignore
Labels: docker

fix(tests): update docker validation test for pyproject.toml removal
  tests/meta/test_precommit_docker_image_validation.py
Labels: tests

fix(tests): update Docker image validation tests for ADR-0053 compliance
  tests/meta/test_precommit_docker_image_validation.py
Labels: tests

fix(tests): remove stale test-new Makefile target tests
  tests/meta/test_makefile_parallelization.py
Labels: tests

fix(docker): escape shell variable in docker-compose.test.yml
  docker-compose.test.yml
Labels: docker, config

fix(tests): fix xdist mock leakage in prometheus percentiles test
  tests/monitoring/test_prometheus_client.py
Labels: tests

fix(docker): remove uv run from docker-compose.test.yml
  docker-compose.test.yml
Labels: docker, config

fix(tests): update test_docker_environment.py for ADR-0053 compliance
  tests/meta/test_docker_environment.py
Labels: tests

fix(docker): fix Traefik routing for Grafana and dashboard
  docker-compose.test.yml
Labels: docker, config

fix(tests): update xfail threshold in codex regression test
  tests/meta/test_codex_regression_prevention.py
Labels: tests
