Repository vishnu2kmohan/mcp-server-langgraph, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, tests, ci-cd, dependencies, docker, deployment, auth, secrets, observability, mcp, agent, config, security, community

.github/labeler.yml:

# Auto-labeler configuration for PRs
# Uses changed-files pattern matching

# Documentation
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'
      - '**/*.mdx'
      - 'docs/**/*'
      - 'mint.json'
      - '.mcp/*.json'

# Tests
tests:
  - changed-files:
    - any-glob-to-any-file:
      - 'tests/**/*'
      - '**/*test*.py'
      - 'test_*.py'
      - '*_test.py'
      - 'pytest.ini'
      - 'conftest.py'
      - 'TESTING.md'

# CI/CD
ci-cd:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**/*'
      - '.github/actions/**/*'
      - '.gitlab-ci.yml'
      - 'Makefile'
      - '.pre-commit-config.yaml'

# Dependencies
dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'requirements*.txt'
      - 'setup.py'
      - 'pyproject.toml'
      - 'poetry.lock'
      - 'package*.json'
      - 'yarn.lock'

# Docker
docker:
  - changed-files:
    - any-glob-to-any-file:
      - 'Dockerfile*'
      - 'docker-compose*.yml'
      - '.dockerignore'

# Kubernetes/Deployment
deployment:
  - changed-files:
    - any-glob-to-any-file:
      - 'kubernetes/**/*'
      - 'kustomize/**/*'
      - 'helm/**/*'
      - 'k8s/**/*'
      - 'KUBERNETES_DEPLOYMENT.md'
      - 'PRODUCTION_DEPLOYMENT.md'

# Authentication/Authorization
auth:
  - changed-files:
    - any-glob-to-any-file:
      - 'auth.py'
      - 'openfga_client.py'
      - 'setup_openfga.py'

# Secrets Management
secrets:
  - changed-files:
    - any-glob-to-any-file:
      - 'secrets_manager.py'
      - 'setup_infisical.py'

# Observability
observability:
  - changed-files:
    - any-glob-to-any-file:
      - 'observability.py'
      - 'health_check.py'
      - 'monitoring/**/*'
      - 'grafana/**/*'

# MCP Server
mcp:
  - changed-files:
    - any-glob-to-any-file:
      - 'mcp_server*.py'
      - 'examples/*client*.py'

# Agent/Core
agent:
  - changed-files:
    - any-glob-to-any-file:
      - 'agent.py'
      - 'graph.py'
      - 'models.py'
      - 'prompt*.py'

# Configuration
config:
  - changed-files:
    - any-glob-to-any-file:
      - 'config.py'
      - '.env*'
      - 'settings.py'
      - '*.yaml'
      - '*.yml'
      - '*.toml'
      - '*.ini'
      - '.editorconfig'

# Security
security:
  - changed-files:
    - any-glob-to-any-file:
      - 'auth.py'
      - 'secrets_manager.py'
      - 'openfga_client.py'
      - 'SECURITY*.md'
      - '.github/workflows/security-scan.yaml'
      - 'scripts/validate_production.py'

# Community
community:
  - changed-files:
    - any-glob-to-any-file:
      - 'CODE_OF_CONDUCT.md'
      - 'CONTRIBUTING.md'
      - 'DEVELOPMENT.md'
      - '.github/SUPPORT.md'
      - '.github/FUNDING.yml'
      - '.github/ISSUE_TEMPLATE/**/*'
      - '.github/PULL_REQUEST_TEMPLATE.md'

feat(mcp): implement SEP-973 icons metadata for MCP 2025-11-25
  src/mcp_server_langgraph/mcp/icons.py
  src/mcp_server_langgraph/playground/frontend/src/api/mcp-types.ts
  tests/unit/mcp/test_icons_metadata.py
Labels: tests

feat(mcp): implement SEP-1036 URL mode elicitation for MCP 2025-11-25
  src/mcp_server_langgraph/mcp/elicitation.py
  src/mcp_server_langgraph/playground/frontend/src/api/mcp-types.ts
  tests/unit/mcp/test_url_mode_elicitation.py
Labels: tests

feat(mcp): implement HTTP 403 origin validation for MCP 2025-11-25
  src/mcp_server_langgraph/mcp/origin_validation.py
  tests/unit/mcp/test_origin_validation.py
Labels: tests

feat(mcp): implement SEP-1686 tasks feature for MCP 2025-11-25
  src/mcp_server_langgraph/mcp/tasks.py
  tests/unit/mcp/test_tasks.py
Labels: tests

feat(mcp): add MCP Prometheus metrics for observability
  src/mcp_server_langgraph/mcp/metrics.py
  tests/unit/mcp/test_mcp_metrics.py
Labels: tests

docs: add MCP Registry manifest and ADR for 2025-11-25 upgrade
  adr/adr-0067-mcp-2025-11-25-upgrade.md
  server.json
Labels: documentation

fix(test): use importlib.metadata for MCP SDK version check
  tests/unit/mcp/test_mcp_sdk_version.py
Labels: tests

fix(security): suppress pre-existing KSV118 false positives in Trivy
  .trivyignore
Labels: none

docs(adr): sync ADR-0067 to docs/architecture
  docs/architecture/adr-0067-mcp-2025-11-25-upgrade.mdx
Labels: documentation

test(mcp): add xdist_group markers and teardown methods
  tests/unit/mcp/test_elicitation_enum_schema.py
  tests/unit/mcp/test_icons_metadata.py
  tests/unit/mcp/test_mcp_metrics.py
  tests/unit/mcp/test_mcp_sdk_version.py
  tests/unit/mcp/test_origin_validation.py
  tests/unit/mcp/test_sampling_with_tools.py
  tests/unit/mcp/test_tasks.py
  tests/unit/mcp/test_tool_validation_errors.py
  tests/unit/mcp/test_url_mode_elicitation.py
Labels: tests

docs: update ADR count to 64 and add ADR-0067 to navigation
  README.md
  docs/architecture/overview.mdx
  docs/docs.json
Labels: documentation

fix(hooks): use uv run python for ADR index validation hook
  .pre-commit-config.yaml
Labels: ci-cd, config

fix(test): prevent OTEL interference in cache property tests
  adr/README.md
  tests/property/test_cache_properties.py
Labels: documentation, tests

fix(test): pass OTEL_SDK_DISABLED to pytest subprocess calls
  tests/meta/test_plugin_guards.py
Labels: tests

docs(adr): add frontmatter to ADR-0067 MDX file
  docs/architecture/adr-0067-mcp-2025-11-25-upgrade.mdx
Labels: documentation

fix(test): add module-level OTEL disable to agent type safety tests
  tests/unit/core/test_agent_type_safety.py
Labels: tests

fix(observability): resolve Grafana dashboard "No Data" issue
  docker-compose.test.yml
  docker/alloy/config.alloy
  pyproject.toml
  src/mcp_server_langgraph/core/config.py
  tests/unit/observability/test_otel_config.py
  uv.lock
Labels: tests, dependencies, docker, config

fix(ci): align test infrastructure startup with Makefile parity
  .github/workflows/e2e-tests.yaml
  scripts/test-integration.sh
Labels: ci-cd

fix(ci): resolve OpenShift LGTM patches and E2E timeout validation
  .github/workflows/e2e-tests.yaml
  deployments/overlays/openshift/alloy-openshift-patch.yaml
  deployments/overlays/openshift/grafana-openshift-patch.yaml
  deployments/overlays/openshift/kustomization.yaml
  deployments/overlays/openshift/lgtm-json-patches.yaml
  deployments/overlays/openshift/loki-openshift-patch.yaml
  deployments/overlays/openshift/mimir-openshift-patch.yaml
  deployments/overlays/openshift/tempo-openshift-patch.yaml
  scripts/test-integration.sh
  scripts/validators/validate_deployments.py
  tests/meta/validation/test_ci_cd_validation.py
Labels: tests, ci-cd

fix(infra): resolve traefik-forward-auth OIDC discovery failure
  docker-compose.test.yml
Labels: docker, config

fix(observability): enable Traefik Prometheus metrics for Grafana dashboards
  docker-compose.test.yml
Labels: docker, config

fix(ci): resolve 7 failing CI checks for playground-frontend PR
  docker/Dockerfile.builder
  docker/Dockerfile.playground
  pyproject.toml
  src/mcp_server_langgraph/builder/frontend/.gitignore
  src/mcp_server_langgraph/builder/frontend/package-lock.json
  src/mcp_server_langgraph/builder/frontend/src/App.tsx
  src/mcp_server_langgraph/builder/frontend/src/components/NodeConfigModal.tsx
  src/mcp_server_langgraph/builder/frontend/src/components/SessionTimeoutWarning.tsx
  src/mcp_server_langgraph/builder/frontend/src/hooks/useHeartMetrics.ts
  src/mcp_server_langgraph/builder/frontend/tsconfig.json
  src/mcp_server_langgraph/playground/frontend/package-lock.json
  src/mcp_server_langgraph/playground/frontend/src/App.tsx
  src/mcp_server_langgraph/playground/frontend/src/api/index.ts
  src/mcp_server_langgraph/playground/frontend/src/api/mcp-client.ts
  src/mcp_server_langgraph/playground/frontend/src/api/playground.ts
  src/mcp_server_langgraph/playground/frontend/src/components/MCP/ElicitationDialog.tsx
  src/mcp_server_langgraph/playground/frontend/src/components/MCP/SamplingDialog.tsx
  src/mcp_server_langgraph/playground/frontend/src/components/Observability/ObservabilityTabs.tsx
  src/mcp_server_langgraph/playground/frontend/src/components/Observability/TraceWaterfall.tsx
  src/mcp_server_langgraph/playground/frontend/src/contexts/MCPHostContext.tsx
  src/mcp_server_langgraph/playground/frontend/src/hooks/useMCPConnection.ts
  src/mcp_server_langgraph/playground/frontend/src/hooks/useMCPElicitation.ts
  src/mcp_server_langgraph/playground/frontend/src/hooks/useMCPTools.ts
  src/mcp_server_langgraph/playground/frontend/tailwind.config.js
  src/mcp_server_langgraph/playground/frontend/tsconfig.json
  uv.lock
Labels: dependencies, config

fix(tests): use explicit AsyncMock for async methods in test_database_checks
  tests/unit/health/test_database_checks.py
Labels: tests

fix(observability): correct Keycloak and OpenFGA metrics scrape config
  docker/alloy/config.alloy
Labels: none

fix(observability): wire Grafana dashboards to Mimir datasource
  monitoring/grafana/dashboards/authentication.json
  monitoring/grafana/dashboards/builder.json
  monitoring/grafana/dashboards/llm-performance.json
  monitoring/grafana/dashboards/openfga.json
  monitoring/grafana/dashboards/playground.json
  monitoring/grafana/dashboards/sla-monitoring.json
  monitoring/grafana/dashboards/soc2-compliance.json
Labels: observability

feat(observability): add LGTM stack self-monitoring scrape targets
  docker/alloy/config.alloy
Labels: none

fix(observability): simplify LGTM dashboard job selectors
  monitoring/grafana/dashboards/lgtm-stack.json
Labels: observability

fix(observability): enable Grafana metrics endpoint
  docker-compose.test.yml
Labels: docker, config

fix(docker): set Loki tmpfs uid/gid to fix CI container startup
  docker-compose.test.yml
Labels: docker, config

fix(observability): correct Grafana metrics path for subpath config
  docker/alloy/config.alloy
Labels: none

fix(observability): add exporters and fix dashboard wiring
  docker-compose.test.yml
  docker/alloy/config.alloy
  monitoring/grafana/dashboards/authentication.json
  monitoring/grafana/dashboards/builder.json
  monitoring/grafana/dashboards/llm-performance.json
  monitoring/grafana/dashboards/openfga.json
  monitoring/grafana/dashboards/playground.json
  monitoring/grafana/dashboards/postgresql.json
  monitoring/grafana/dashboards/redis-sessions.json
  monitoring/grafana/dashboards/sla-monitoring.json
  monitoring/grafana/dashboards/soc2-compliance.json
Labels: docker, observability, config

fix(docker): enable Traefik ping and add Promtail healthcheck
  docker-compose.test.yml
Labels: docker, config

fix(ci): remove Promtail healthcheck and fix service health counting
  .github/workflows/e2e-tests.yaml
  docker-compose.test.yml
Labels: ci-cd, docker, config

fix(test): handle SPA catch-all in builder metrics and readiness tests
  tests/builder/test_builder_observability.py
Labels: tests

fix(hooks): resolve pre-commit and pre-push hook failures
  Makefile
  pyproject.toml
  src/mcp_server_langgraph/builder/api/metrics.py
  src/mcp_server_langgraph/llm/factory.py
  src/mcp_server_langgraph/llm/metrics.py
  src/mcp_server_langgraph/middleware/metrics.py
  src/mcp_server_langgraph/playground/api/metrics.py
  tests/regression/test_dev_dependencies.py
  tests/unit/auth/test_keycloak_login_metrics.py
  tests/unit/auth/test_session_metrics_integration.py
  tests/unit/llm/test_llm_metrics.py
  tests/unit/middleware/test_metrics_middleware.py
  uv.lock
Labels: tests, ci-cd, dependencies, config

fix(hooks): resolve pre-commit and pre-push hook failures
  Makefile
  docker/alloy/config.alloy
  docs-internal/grafana-dashboard-audit-report.md
  monitoring/grafana/DASHBOARD_METRICS_AUDIT_2025-12-10.md
  monitoring/grafana/dashboards/authentication.json
  monitoring/grafana/dashboards/keycloak.json
  monitoring/grafana/dashboards/lgtm-stack.json
  monitoring/grafana/dashboards/openfga.json
  monitoring/grafana/dashboards/redis-sessions.json
  monitoring/grafana/dashboards/security.json
  monitoring/grafana/dashboards/sla-monitoring.json
  monitoring/grafana/dashboards/soc2-compliance.json
  scripts/validation/audit_grafana_dashboards.py
  src/mcp_server_langgraph/auth/keycloak.py
  src/mcp_server_langgraph/auth/session.py
  src/mcp_server_langgraph/builder/api/server.py
  src/mcp_server_langgraph/compliance/gdpr/data_deletion.py
  src/mcp_server_langgraph/compliance/gdpr/data_export.py
  src/mcp_server_langgraph/compliance/gdpr/postgres_storage.py
  src/mcp_server_langgraph/compliance/gdpr/storage.py
  src/mcp_server_langgraph/compliance/metrics.py
  src/mcp_server_langgraph/compliance/retention.py
  src/mcp_server_langgraph/health/checks.py
  src/mcp_server_langgraph/mcp/server_streamable.py
  src/mcp_server_langgraph/middleware/__init__.py
  src/mcp_server_langgraph/playground/api/server.py
  src/mcp_server_langgraph/schedulers/compliance.py
  tests/unit/compliance/test_audit_log_metrics.py
  tests/unit/compliance/test_gdpr_metrics.py
  tests/unit/compliance/test_soc2_metrics.py
  tests/unit/middleware/__init__.py
  tests/unit/middleware/test_builder_business_metrics.py
  tests/unit/middleware/test_http_metrics_integration.py
  tests/unit/middleware/test_playground_business_metrics.py
Labels: documentation, tests, ci-cd, observability

feat(observability): add advanced metrics and fix PostgreSQL dashboard
  monitoring/grafana/dashboards/postgresql.json
  src/mcp_server_langgraph/builder/api/metrics.py
  src/mcp_server_langgraph/playground/api/metrics.py
  tests/unit/middleware/test_builder_business_metrics.py
  tests/unit/middleware/test_playground_business_metrics.py
Labels: tests, observability

fix(observability): use Alpine redis_exporter for healthcheck compatibility
  docker-compose.test.yml
Labels: docker, config

feat(observability): comprehensive dashboard audit with folder reorganization
  monitoring/grafana/dashboards.yml
  monitoring/grafana/dashboards/Application/builder.json
  monitoring/grafana/dashboards/Application/llm-performance.json
  monitoring/grafana/dashboards/Application/playground.json
  monitoring/grafana/dashboards/Auth/authentication.json
  monitoring/grafana/dashboards/Auth/keycloak.json
  monitoring/grafana/dashboards/Auth/openfga.json
  monitoring/grafana/dashboards/Auth/security.json
  monitoring/grafana/dashboards/Compliance/sla-monitoring.json
  monitoring/grafana/dashboards/Compliance/soc2-compliance.json
  monitoring/grafana/dashboards/Infrastructure/lgtm-stack.json
  monitoring/grafana/dashboards/Infrastructure/postgresql.json
  monitoring/grafana/dashboards/Infrastructure/qdrant.json
  monitoring/grafana/dashboards/Infrastructure/redis-sessions.json
  monitoring/grafana/dashboards/Infrastructure/traefik.json
  monitoring/grafana/dashboards/Overview/langgraph-agent.json
  monitoring/grafana/dashboards/README.md
  src/mcp_server_langgraph/auth/metrics.py
  src/mcp_server_langgraph/auth/prometheus_metrics.py
  src/mcp_server_langgraph/health/checks.py
  tests/unit/auth/test_prometheus_auth_metrics.py
  tests/unit/health/test_agent_metrics.py
Labels: documentation, tests, observability

feat(observability): add HTTP metrics row to overview dashboard
  monitoring/grafana/dashboards/Overview/langgraph-agent.json
Labels: observability
