Repository vishnu2kmohan/mcp-server-langgraph, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, tests, ci-cd, dependencies, docker, deployment, auth, secrets, observability, mcp, agent, config, security, community

fix(ci): upgrade hypothesis and add Helm dependency build
  .github/workflows/ci.yaml
  pyproject.toml
  uv.lock
Labels: ci-cd, dependencies, config

fix(tests): update test_local_ci_parity.py to handle pre-commit framework wrapper
  tests/meta/test_local_ci_parity.py
Labels: tests

fix(health): add health module to lazy import handler
  src/mcp_server_langgraph/__init__.py
Labels: none

fix(test): make test_actionlint_installed skip gracefully when actionlint unavailable
  tests/test_workflow_syntax.py
Labels: tests

fix(ci): add Helm repo setup before dependency build
  .github/workflows/ci.yaml
Labels: ci-cd

fix(tests): comprehensive update of test_local_ci_parity.py for pre-commit framework
  tests/meta/test_local_ci_parity.py
Labels: tests

fix(tests): replace hardcoded paths with repo_root fixture
  tests/meta/test_e2e_keycloak_setup.py
  tests/meta/test_otel_security_context.py
Labels: tests

fix(validator): allow Example: prefix in multiline docstrings
  tests/validation_lib/test_ids.py
Labels: tests

fix(tests): complete test_local_ci_parity.py migration to pre-commit framework
  tests/meta/test_local_ci_parity.py
Labels: tests

fix(tests): resolve Local/CI Parity test failures (6 tests fixed)
  scripts/run_pre_push_tests.py
  tests/meta/test_local_ci_parity.py
Labels: tests

docs(tests): update api_fixtures docstring to use get_user_id()
  tests/fixtures/api_fixtures.py
Labels: tests

fix(tests): resolve flake8 linting errors (F541, F821, F841)
  tests/meta/test_local_ci_parity.py
  tests/meta/test_trivy_scans_rendered_manifests.py
Labels: tests

fix(tests): apply black-compatible formatting and fix test ID validator false positive
  tests/fixtures/api_fixtures.py
  tests/meta/test_e2e_keycloak_setup.py
  tests/meta/test_local_ci_parity.py
  tests/meta/test_otel_security_context.py
  tests/meta/test_trivy_scans_rendered_manifests.py
Labels: tests

fix: add tools submodule to lazy loading in __init__.py
  src/mcp_server_langgraph/__init__.py
Labels: none

fix(deployment,tests): fix Qdrant health check and Keycloak readOnlyRootFilesystem test
  docker-compose.test.yml
  tests/deployment/test_staging_deployment_requirements.py
Labels: tests, docker, config

fix(deploy): standardize Keycloak readOnlyRootFilesystem: false across all environments
  deployments/base/.trivyignore
  deployments/overlays/production-gke/keycloak-patch.yaml
Labels: none

feat(deployments): comprehensive Keycloak readOnlyRootFilesystem configuration and validation
  deployments/base/keycloak-deployment.yaml
  deployments/overlays/staging-gke/keycloak-patch.yaml
  tests/deployment/test_keycloak_readonly_filesystem.py
Labels: tests

fix(python3.10,hooks): resolve CI failures - mock compatibility + hook config
  .githooks/pre-commit-dependency-validation
  .pre-commit-config.yaml
  src/mcp_server_langgraph/__init__.py
Labels: ci-cd, config

fix(prometheus): correct YAML indentation in langgraph-agent rules
  deployments/helm/mcp-server-langgraph/prometheus-rules/langgraph-agent.yaml
Labels: none

fix(ci): add GitHub token authentication to Kustomize installation
  .github/workflows/deployment-validation.yml
  .github/workflows/validate-k8s-configs.yml
Labels: ci-cd

refactor(ci): replace curl-based Kustomize installation with GitHub Action
  .github/workflows/deployment-validation.yml
  .github/workflows/validate-k8s-configs.yml
Labels: ci-cd

fix: resolve Ruff linting errors and topology spread test
  pyproject.toml
  tests/infrastructure/test_validation.py
Labels: tests, dependencies, config

fix(tests): resolve integration test PostgreSQL connection failures
  docker-compose.test.yml
  pyproject.toml
  tests/conftest.py
  tests/integration/test_postgres_storage.py
  tests/integration/test_schema_initialization_timing.py
  uv.lock
Labels: tests, dependencies, docker, config

fix(tests): update Keycloak test port from 8180 to 9082
  .pre-commit-config.yaml
  tests/e2e/test_scim_provisioning.py
  tests/integration/test_keycloak_admin.py
  tests/test_auth_factory.py
  tests/test_keycloak.py
  tests/test_user_provider.py
Labels: tests, ci-cd, config

feat: add Vertex AI support for Anthropic Claude and Google Gemini models
  .env.example
  docs/guides/google-gemini.mdx
  docs/guides/vertex-ai-setup.mdx
  pyproject.toml
  src/mcp_server_langgraph/core/config.py
  src/mcp_server_langgraph/llm/factory.py
  src/mcp_server_langgraph/monitoring/pricing.py
  tests/conftest.py
  tests/integration/compliance/test_postgres_audit_log_store.py
  tests/integration/compliance/test_postgres_consent_store.py
  tests/integration/compliance/test_postgres_conversation_store.py
  tests/integration/compliance/test_postgres_preferences_store.py
  tests/integration/compliance/test_postgres_user_profile_store.py
  tests/integration/health/test_database_validation_integration.py
  tests/integration/test_vertex_ai_anthropic.py
  tests/integration/test_vertex_ai_auth_methods.py
  tests/integration/test_vertex_ai_google.py
  tests/unit/test_vertex_ai_provider_detection.py
  uv.lock
Labels: documentation, tests, dependencies, config

fix(tests): correct Keycloak health check and remove unused dependencies
  pyproject.toml
  tests/conftest.py
  uv.lock
Labels: tests, dependencies, config

chore(deps): upgrade test Keycloak to 26.4.2 for test/prod parity
  docker-compose.test.yml
Labels: docker, config

feat(health): use official Qdrant health check endpoints
  deployments/base/qdrant-deployment.yaml
  tests/conftest.py
Labels: tests

chore: upgrade Qdrant to v1.15.5 and PostgreSQL to 16.8 in test environment
  deployments/base/qdrant-deployment.yaml
  docker-compose.test.yml
Labels: docker, config

fix: improve Keycloak health check robustness and update test documentation
  tests/conftest.py
Labels: tests

fix(test): implement Keycloak health check best practices
  docker-compose.test.yml
  tests/conftest.py
  tests/integration/test_docker_health_checks.py
Labels: tests, docker, config

feat: synchronize all deployment environments and upgrade service versions
  .env.example
  .env.production.template
  .github/workflows/deploy-production-gke.yaml
  deployments/helm/mcp-server-langgraph/values.yaml
  deployments/helm/values-production-gke.yaml
  docker-compose.dev.yml
  docker-compose.keycloak-test.yml
  docker-compose.test.yml
  docker/docker-compose.yml
  docs/deployment-environments.mdx
  tests/unit/health/test_database_checks.py
Labels: documentation, tests, ci-cd, docker, config

chore(helm): upgrade all Helm chart dependencies to latest stable versions
  .pre-commit-config.yaml
  deployments/helm/mcp-server-langgraph/Chart.yaml
  docs/deployment-environments.mdx
  tests/deployment/test_keycloak_readonly_filesystem.py
  tests/e2e/test_real_clients.py
Labels: documentation, tests, ci-cd, config

fix: resolve Helm dependencies and add validation infrastructure
  .github/workflows/deployment-validation.yml
  deployments/helm/mcp-server-langgraph/charts/grafana-12.1.8.tgz
  deployments/helm/mcp-server-langgraph/charts/jaeger-3.4.1.tgz
  deployments/helm/mcp-server-langgraph/charts/kube-prometheus-stack-78.3.2.tgz
  scripts/validate_pytest_markers.py
  scripts/validation/check_asyncmock_usage.py
  tests/meta/test_asyncmock_validation.py
Labels: tests, ci-cd

chore: upgrade Helm chart dependencies to latest stable versions
  deployments/helm/mcp-server-langgraph/Chart.lock
  deployments/helm/mcp-server-langgraph/charts/keycloak-25.2.0.tgz
  deployments/helm/mcp-server-langgraph/charts/kube-prometheus-stack-79.6.1.tgz
  deployments/helm/mcp-server-langgraph/charts/openfga-0.2.49.tgz
  deployments/helm/mcp-server-langgraph/charts/postgresql-18.1.11.tgz
  deployments/helm/mcp-server-langgraph/charts/redis-23.2.12.tgz
Labels: none

chore: remove old Helm chart versions
  deployments/helm/mcp-server-langgraph/charts/keycloak-24.2.2.tgz
  deployments/helm/mcp-server-langgraph/charts/kube-prometheus-stack-78.3.2.tgz
  deployments/helm/mcp-server-langgraph/charts/openfga-0.2.12.tgz
  deployments/helm/mcp-server-langgraph/charts/postgresql-16.6.2.tgz
  deployments/helm/mcp-server-langgraph/charts/redis-20.6.2.tgz
Labels: none

fix(test): resolve critical integration test infrastructure issues
  migrations/001_gdpr_schema.sql
  pyproject.toml
  tests/conftest.py
  tests/e2e/real_clients.py
  tests/integration/api/test_openapi_compliance.py
  tests/integration/security/test_gdpr_schema_setup.py
  tests/integration/security/test_sql_injection_gdpr.py
  tests/integration/test_docker_health_checks.py
  tests/meta/test_codex_findings_validation.py
Labels: tests, dependencies, config

feat(ci): add regression prevention hooks for Codex findings
  .pre-commit-config.yaml
  scripts/validate_async_fixture_scope.py
  scripts/validate_migration_idempotency.py
Labels: ci-cd, config

fix(test): add pytestmark to OpenAPI compliance tests
  tests/integration/api/test_openapi_compliance.py
Labels: tests

fix(test): resolve pre-push validation failures
  docs/deployment/environments.mdx
  docs/docs.json
  tests/regression/test_pytest_xdist_port_conflicts.py
Labels: documentation, tests

.github/labeler.yml:

# Auto-labeler configuration for PRs
# Uses changed-files pattern matching

# Documentation
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'
      - '**/*.mdx'
      - 'docs/**/*'
      - 'mint.json'
      - '.mcp/*.json'

# Tests
tests:
  - changed-files:
    - any-glob-to-any-file:
      - 'tests/**/*'
      - '**/*test*.py'
      - 'test_*.py'
      - '*_test.py'
      - 'pytest.ini'
      - 'conftest.py'
      - 'TESTING.md'

# CI/CD
ci-cd:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**/*'
      - '.github/actions/**/*'
      - '.gitlab-ci.yml'
      - 'Makefile'
      - '.pre-commit-config.yaml'

# Dependencies
dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'requirements*.txt'
      - 'setup.py'
      - 'pyproject.toml'
      - 'poetry.lock'
      - 'package*.json'
      - 'yarn.lock'

# Docker
docker:
  - changed-files:
    - any-glob-to-any-file:
      - 'Dockerfile*'
      - 'docker-compose*.yml'
      - '.dockerignore'

# Kubernetes/Deployment
deployment:
  - changed-files:
    - any-glob-to-any-file:
      - 'kubernetes/**/*'
      - 'kustomize/**/*'
      - 'helm/**/*'
      - 'k8s/**/*'
      - 'KUBERNETES_DEPLOYMENT.md'
      - 'PRODUCTION_DEPLOYMENT.md'

# Authentication/Authorization
auth:
  - changed-files:
    - any-glob-to-any-file:
      - 'auth.py'
      - 'openfga_client.py'
      - 'setup_openfga.py'

# Secrets Management
secrets:
  - changed-files:
    - any-glob-to-any-file:
      - 'secrets_manager.py'
      - 'setup_infisical.py'

# Observability
observability:
  - changed-files:
    - any-glob-to-any-file:
      - 'observability.py'
      - 'health_check.py'
      - 'monitoring/**/*'
      - 'grafana/**/*'

# MCP Server
mcp:
  - changed-files:
    - any-glob-to-any-file:
      - 'mcp_server*.py'
      - 'examples/*client*.py'

# Agent/Core
agent:
  - changed-files:
    - any-glob-to-any-file:
      - 'agent.py'
      - 'graph.py'
      - 'models.py'
      - 'prompt*.py'

# Configuration
config:
  - changed-files:
    - any-glob-to-any-file:
      - 'config.py'
      - '.env*'
      - 'settings.py'
      - '*.yaml'
      - '*.yml'
      - '*.toml'
      - '*.ini'
      - '.editorconfig'

# Security
security:
  - changed-files:
    - any-glob-to-any-file:
      - 'auth.py'
      - 'secrets_manager.py'
      - 'openfga_client.py'
      - 'SECURITY*.md'
      - '.github/workflows/security-scan.yaml'
      - 'scripts/validate_production.py'

# Community
community:
  - changed-files:
    - any-glob-to-any-file:
      - 'CODE_OF_CONDUCT.md'
      - 'CONTRIBUTING.md'
      - 'DEVELOPMENT.md'
      - '.github/SUPPORT.md'
      - '.github/FUNDING.yml'
      - '.github/ISSUE_TEMPLATE/**/*'
      - '.github/PULL_REQUEST_TEMPLATE.md'
