Repository vishnu2kmohan/mcp-server-langgraph, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, tests, ci-cd, dependencies, docker, deployment, auth, secrets, observability, mcp, agent, config, security, community

.github/labeler.yml:

# Auto-labeler configuration for PRs
# Uses changed-files pattern matching

# Documentation
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'
      - '**/*.mdx'
      - 'docs/**/*'
      - 'mint.json'
      - '.mcp/*.json'

# Tests
tests:
  - changed-files:
    - any-glob-to-any-file:
      - 'tests/**/*'
      - '**/*test*.py'
      - 'test_*.py'
      - '*_test.py'
      - 'pytest.ini'
      - 'conftest.py'
      - 'TESTING.md'

# CI/CD
ci-cd:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**/*'
      - '.github/actions/**/*'
      - '.gitlab-ci.yml'
      - 'Makefile'
      - '.pre-commit-config.yaml'

# Dependencies
dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'requirements*.txt'
      - 'setup.py'
      - 'pyproject.toml'
      - 'poetry.lock'
      - 'package*.json'
      - 'yarn.lock'

# Docker
docker:
  - changed-files:
    - any-glob-to-any-file:
      - 'Dockerfile*'
      - 'docker-compose*.yml'
      - '.dockerignore'

# Kubernetes/Deployment
deployment:
  - changed-files:
    - any-glob-to-any-file:
      - 'kubernetes/**/*'
      - 'kustomize/**/*'
      - 'helm/**/*'
      - 'k8s/**/*'
      - 'KUBERNETES_DEPLOYMENT.md'
      - 'PRODUCTION_DEPLOYMENT.md'

# Authentication/Authorization
auth:
  - changed-files:
    - any-glob-to-any-file:
      - 'auth.py'
      - 'openfga_client.py'
      - 'setup_openfga.py'

# Secrets Management
secrets:
  - changed-files:
    - any-glob-to-any-file:
      - 'secrets_manager.py'
      - 'setup_infisical.py'

# Observability
observability:
  - changed-files:
    - any-glob-to-any-file:
      - 'observability.py'
      - 'health_check.py'
      - 'monitoring/**/*'
      - 'grafana/**/*'

# MCP Server
mcp:
  - changed-files:
    - any-glob-to-any-file:
      - 'mcp_server*.py'
      - 'examples/*client*.py'

# Agent/Core
agent:
  - changed-files:
    - any-glob-to-any-file:
      - 'agent.py'
      - 'graph.py'
      - 'models.py'
      - 'prompt*.py'

# Configuration
config:
  - changed-files:
    - any-glob-to-any-file:
      - 'config.py'
      - '.env*'
      - 'settings.py'
      - '*.yaml'
      - '*.yml'
      - '*.toml'
      - '*.ini'
      - '.editorconfig'

# Security
security:
  - changed-files:
    - any-glob-to-any-file:
      - 'auth.py'
      - 'secrets_manager.py'
      - 'openfga_client.py'
      - 'SECURITY*.md'
      - '.github/workflows/security-scan.yaml'
      - 'scripts/validate_production.py'

# Community
community:
  - changed-files:
    - any-glob-to-any-file:
      - 'CODE_OF_CONDUCT.md'
      - 'CONTRIBUTING.md'
      - 'DEVELOPMENT.md'
      - '.github/SUPPORT.md'
      - '.github/FUNDING.yml'
      - '.github/ISSUE_TEMPLATE/**/*'
      - '.github/PULL_REQUEST_TEMPLATE.md'

feat(tests): add Git hooks CI/CD parity enforcement + fix configuration drift
  CONTRIBUTING.md
  scripts/git-hooks/pre-push
  tests/meta/test_hook_sync_validation.py
  tests/regression/test_async_dependency_override_xdist.py
Labels: documentation, tests, community

fix(tests): add bearer_scheme override to service principal fixtures
  tests/api/test_service_principals_endpoints.py
Labels: tests

style: apply auto-formatting from pre-commit hooks
  tests/API_TESTING.md
  tests/api/test_api_keys_endpoints.py
  tests/api/test_bearer_scheme_diagnostic.py
  tests/regression/test_service_principal_test_isolation.py
Labels: documentation, tests

fix(tests): unify local/CI test markers and add push-stage validators
  .github/workflows/ci.yaml
  Makefile
  scripts/workflow/update-context-files.py
  tests/meta/test_local_ci_parity.py
Labels: tests, ci-cd

test(meta): add pre-push environment sanity check validation
  tests/meta/test_local_ci_parity.py
Labels: tests

fix(tests): resolve 6 critical Codex findings with TDD + regression tests
  src/mcp_server_langgraph/execution/kubernetes_sandbox.py
  tests/integration/execution/test_docker_sandbox.py
  tests/integration/execution/test_kubernetes_sandbox.py
  tests/integration/test_gdpr_endpoints.py
  tests/unit/execution/test_resource_limits.py
Labels: tests

fix(terraform): shorten AWS dev name_prefix to meet 20 char limit
  terraform/environments/aws-dev/main.tf
Labels: none

fix(infra): sync Makefile validate-pre-push with pre-push hook
  Makefile
  tests/meta/test_makefile_prepush_parity.py
Labels: tests, ci-cd

fix(meta): update validation checks for xdist enforcement parity
  scripts/validate_pre_push_hook.py
  tests/meta/test_local_ci_parity.py
Labels: tests

docs(adr): add ADR-0053 for Makefile pre-push parity enforcement
  docs-internal/ADR-0053-MAKEFILE-PREPUSH-PARITY-ENFORCEMENT.md
  docs-internal/archived/README.md
  docs-internal/archived/pre-push-legacy.sh
Labels: documentation

docs(adr): add ADR-0053 for Makefile pre-push parity enforcement
  docs-internal/archived/pre-push-legacy.sh
Labels: none

test(meta): add infrastructure port isolation regression tests
  tests/meta/test_codex_findings_validation.py
  tests/meta/test_codex_regression_prevention.py
Labels: tests

fix(test): add explicit MCP_SKIP_AUTH="false" to API test fixtures
  tests/api/test_service_principals_endpoints.py
  tests/meta/test_mcp_skip_auth_enforcement.py
Labels: tests

fix(tests): address OpenAI Codex infrastructure and dependency findings
  .github/workflows/docs-validation.yaml
  .github/workflows/smoke-tests.yml
  .github/workflows/validate-kubernetes.yaml
  scripts/check_test_memory_safety.py
  tests/conftest.py
Labels: tests, ci-cd

fix(test): replace hard-coded infrastructure ports with dynamic fixtures
  tests/conftest.py
Labels: tests

feat(tests): validate and harden integration test infrastructure per Codex findings
  docker/docker-compose.test.yml
  docs-internal/ADR-0053-codex-findings-validation.md
  tests/meta/test_codex_findings_validation.py
Labels: documentation, tests

fix(meta): resolve all Codex regression test failures
  adr/ADR-0054-circuit-breaker-decorator-closure-isolation.md
  src/mcp_server_langgraph/resilience/circuit_breaker.py
  tests/regression/test_auth_middleware_isolation.py
  tests/resilience/test_circuit_breaker_decorator_isolation.py
Labels: documentation, tests

fix(resilience): resolve circuit breaker decorator closure isolation bug
  src/mcp_server_langgraph/resilience/circuit_breaker.py
Labels: none

fix(tests): complete OpenAI Codex findings remediation - Phase 2
  docs-internal/ADR-0054-CODEX-INFRASTRUCTURE-DEPENDENCY-FINDINGS.md
  tests/e2e/test_real_clients_resilience.py
Labels: documentation, tests

feat(hooks): add Keycloak configuration validation pre-commit hook (ADR-0053)
  .pre-commit-config.yaml
  scripts/validate_keycloak_config.py
  tests/conftest.py
  tests/meta/test_mcp_skip_auth_enforcement.py
  tests/meta/test_precommit_keycloak_validation.py
Labels: tests, ci-cd, config

fix(tests): clear all modules in test_settings_import_is_lightweight
  tests/unit/test_lazy_imports.py
Labels: tests

feat(hooks): add Docker image contents validation pre-commit hook (ADR-0053)
  .pre-commit-config.yaml
  scripts/validate_docker_image_contents.py
  tests/meta/test_precommit_docker_image_validation.py
Labels: tests, ci-cd, config

fix(tests): resolve final Codex regression test failures
  docs/.mintlify/templates/deployment-template.mdx
  docs/.mintlify/templates/guide-template.mdx
  docs/.mintlify/templates/reference-template.mdx
  docs/deployment/kubernetes/gke.mdx
  docs/kubernetes/KEYCLOAK_READONLY_FILESYSTEM.mdx
  docs/kubernetes/POD_CRASH_RESOLUTION_2025-11-12.mdx
  pyproject.toml
  tests/regression/test_dev_dependencies.py
  uv.lock
Labels: documentation, tests, dependencies, config

fix(docs): add language tags to code blocks in kubernetes documentation
  docs/kubernetes/KEYCLOAK_READONLY_FILESYSTEM.mdx
  docs/kubernetes/POD_CRASH_RESOLUTION_2025-11-12.mdx
Labels: documentation

refactor(tests): remove pytest retry mechanism - adopt fail-fast philosophy
  pyproject.toml
  uv.lock
Labels: dependencies, config

fix(tests): resolve OpenAI Codex integration test failures - TDD remediation
  .pre-commit-config.yaml
  docker/Dockerfile
  docker/docker-compose.test.yml
  scripts/validate_docker_image_contents.py
  tests/integration/test_docker_health_checks.py
  tests/integration/test_docker_image_assets.py
  tests/meta/test_fixture_validation.py
  tests/meta/test_suite_validation.py
  tests/regression/test_documentation_code_blocks.py
Labels: tests, ci-cd, config

fix(tests): resolve all Codex findings - heredoc false positives, ast.Str deprecation, security exceptions
  pyproject.toml
  tests/deployment/test_security_hardening.py
  tests/regression/test_terraform_configuration.py
  uv.lock
Labels: tests, dependencies, config

fix(tests): correct fixture scopes in test_docker_image_assets.py
  tests/integration/test_docker_image_assets.py
Labels: tests

test(regression): fix port conflict tests - enforce single shared infrastructure
  tests/conftest.py
  tests/meta/test_infrastructure_singleton.py
  tests/regression/test_pytest_xdist_port_conflicts.py
Labels: tests

fix(meta): add graceful skip for missing pre-push hook on fresh clones
  tests/meta/test_hook_fixture_resilience.py
  tests/meta/test_local_ci_parity.py
Labels: tests

feat(testing): add environment isolation fixtures + pre-commit enforcement
  scripts/check_test_environment_isolation.py
  tests/api/test_service_principals_endpoints.py
  tests/conftest.py
  tests/meta/test_environment_isolation_enforcement.py
Labels: tests

feat(make): add CI-parity quality test targets
  Makefile
Labels: ci-cd

test(regression): add comprehensive test for Codex importlib.reload() scenario
  tests/regression/test_bearer_scheme_isolation.py
Labels: tests

fix(tests): harden fixtures + add critical xdist_group markers to prevent pytest-xdist worker pollution
  tests/api/test_api_keys_endpoints.py
  tests/api/test_service_principals_endpoints.py
  tests/regression/test_bearer_scheme_override_diagnostic.py
  tests/regression/test_pytest_xdist_environment_pollution.py
  tests/regression/test_pytest_xdist_worker_database_isolation.py
Labels: tests

fix(tests): resolve pytest-xdist 401 errors with importlib.reload() pattern
  tests/api/test_api_keys_endpoints.py
  tests/api/test_service_principals_endpoints.py
Labels: tests

fix(tests): apply Revision 7 importlib.reload() to GDPR endpoints + fix test bug
  tests/integration/test_gdpr_endpoints.py
  tests/regression/test_bearer_scheme_isolation.py
Labels: tests

fix(tests): apply Revision 7 importlib.reload() to ALL regression tests
  tests/regression/test_bearer_scheme_isolation.py
  tests/regression/test_bearer_scheme_override_diagnostic.py
Labels: tests

feat(testing): add worker-safe test ID utilities to prevent database pollution
  tests/regression/test_worker_safe_test_ids.py
  tests/utils/worker_safe_ids.py
Labels: tests

fix(tests): resolve Docker environment import/path errors in integration tests
  docker/Dockerfile.test
  tests/conftest.py
  tests/meta/test_docker_environment.py
  tests/regression/test_pod_deployment_regression.py
  tests/test_mdx_validation.py
  tests/unit/documentation/test_codeblock_autofixer.py
  tests/unit/documentation/test_codeblock_validator.py
  tests/unit/documentation/test_frontmatter_validator.py
Labels: tests

fix(meta): update xdist enforcement test for current architecture
  tests/meta/test_pytest_xdist_enforcement.py
Labels: tests
