Repository vishnu2kmohan/mcp-server-langgraph, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, tests, ci-cd, dependencies, docker, deployment, auth, secrets, observability, mcp, agent, config, security, community

.github/labeler.yml:

# Auto-labeler configuration for PRs
# Uses changed-files pattern matching

# Documentation
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'
      - '**/*.mdx'
      - 'docs/**/*'
      - 'mint.json'
      - '.mcp/*.json'

# Tests
tests:
  - changed-files:
    - any-glob-to-any-file:
      - 'tests/**/*'
      - '**/*test*.py'
      - 'test_*.py'
      - '*_test.py'
      - 'pytest.ini'
      - 'conftest.py'
      - 'TESTING.md'

# CI/CD
ci-cd:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**/*'
      - '.github/actions/**/*'
      - '.gitlab-ci.yml'
      - 'Makefile'
      - '.pre-commit-config.yaml'

# Dependencies
dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'requirements*.txt'
      - 'setup.py'
      - 'pyproject.toml'
      - 'poetry.lock'
      - 'package*.json'
      - 'yarn.lock'

# Docker
docker:
  - changed-files:
    - any-glob-to-any-file:
      - 'Dockerfile*'
      - 'docker-compose*.yml'
      - '.dockerignore'

# Kubernetes/Deployment
deployment:
  - changed-files:
    - any-glob-to-any-file:
      - 'kubernetes/**/*'
      - 'kustomize/**/*'
      - 'helm/**/*'
      - 'k8s/**/*'
      - 'KUBERNETES_DEPLOYMENT.md'
      - 'PRODUCTION_DEPLOYMENT.md'

# Authentication/Authorization
auth:
  - changed-files:
    - any-glob-to-any-file:
      - 'auth.py'
      - 'openfga_client.py'
      - 'setup_openfga.py'

# Secrets Management
secrets:
  - changed-files:
    - any-glob-to-any-file:
      - 'secrets_manager.py'
      - 'setup_infisical.py'

# Observability
observability:
  - changed-files:
    - any-glob-to-any-file:
      - 'observability.py'
      - 'health_check.py'
      - 'monitoring/**/*'
      - 'grafana/**/*'

# MCP Server
mcp:
  - changed-files:
    - any-glob-to-any-file:
      - 'mcp_server*.py'
      - 'examples/*client*.py'

# Agent/Core
agent:
  - changed-files:
    - any-glob-to-any-file:
      - 'agent.py'
      - 'graph.py'
      - 'models.py'
      - 'prompt*.py'

# Configuration
config:
  - changed-files:
    - any-glob-to-any-file:
      - 'config.py'
      - '.env*'
      - 'settings.py'
      - '*.yaml'
      - '*.yml'
      - '*.toml'
      - '*.ini'
      - '.editorconfig'

# Security
security:
  - changed-files:
    - any-glob-to-any-file:
      - 'auth.py'
      - 'secrets_manager.py'
      - 'openfga_client.py'
      - 'SECURITY*.md'
      - '.github/workflows/security-scan.yaml'
      - 'scripts/validate_production.py'

# Community
community:
  - changed-files:
    - any-glob-to-any-file:
      - 'CODE_OF_CONDUCT.md'
      - 'CONTRIBUTING.md'
      - 'DEVELOPMENT.md'
      - '.github/SUPPORT.md'
      - '.github/FUNDING.yml'
      - '.github/ISSUE_TEMPLATE/**/*'
      - '.github/PULL_REQUEST_TEMPLATE.md'

docs(guides): add mermaid flow diagrams to architecture documentation
  docs/architecture/adr-0083-confidence-based-hitl-system.mdx
  docs/docs.json
  docs/guides/agent-architecture.mdx
  docs/guides/agent-hitl-approval.mdx
  docs/guides/code-execution.mdx
  docs/guides/dpop-enforcement.mdx
  docs/guides/hitl-confidence.mdx
  docs/guides/hitl-visual-flows.mdx
  docs/guides/keycloak-sso.mdx
  docs/guides/multi-agent-orchestrators.mdx
Labels: documentation

chore(e2e): add OpenFGA server client to Keycloak test realm
  tests/e2e/default-realm.json
Labels: tests

feat(openfga): extend authorization model with infrastructure updates
  .env.test
  .pre-commit-config.yaml
  config/openfga/README.md
  config/openfga/model.json
  config/openfga/sample-tuples.json
  docker-compose.test.yml
  pyproject.toml
Labels: documentation, ci-cd, dependencies, docker, config

feat(auth): add authorization caching and FastAPI dependencies
  src/mcp_server_langgraph/auth/dependencies.py
  src/mcp_server_langgraph/auth/metrics.py
  src/mcp_server_langgraph/auth/openfga.py
  src/mcp_server_langgraph/auth/prometheus_metrics.py
  src/mcp_server_langgraph/auth/resource_registry.py
  src/mcp_server_langgraph/core/config/_settings.py
  src/mcp_server_langgraph/core/feature_flags.py
Labels: none

feat(api): add OpenFGA authorization to all API endpoints
  src/mcp_server_langgraph/api/v1/admin.py
  src/mcp_server_langgraph/api/v1/agent_requests.py
  src/mcp_server_langgraph/api/v1/agents.py
  src/mcp_server_langgraph/api/v1/ai.py
  src/mcp_server_langgraph/api/v1/ai_ux.py
  src/mcp_server_langgraph/api/v1/alert_recommendations.py
  src/mcp_server_langgraph/api/v1/chat.py
  src/mcp_server_langgraph/api/v1/compliance_reports.py
  src/mcp_server_langgraph/api/v1/config.py
  src/mcp_server_langgraph/api/v1/connection_audit.py
  src/mcp_server_langgraph/api/v1/connection_templates.py
  src/mcp_server_langgraph/api/v1/connections.py
  src/mcp_server_langgraph/api/v1/connections_bulk.py
  src/mcp_server_langgraph/api/v1/cost.py
  src/mcp_server_langgraph/api/v1/feedback.py
  src/mcp_server_langgraph/api/v1/marketplace_admin.py
  src/mcp_server_langgraph/api/v1/mcp.py
  src/mcp_server_langgraph/api/v1/mcp_aggregated.py
  src/mcp_server_langgraph/api/v1/observability.py
  src/mcp_server_langgraph/api/v1/projects.py
  src/mcp_server_langgraph/api/v1/skills.py
  src/mcp_server_langgraph/api/v1/studio_ai.py
  src/mcp_server_langgraph/api/v1/surveys.py
  src/mcp_server_langgraph/api/v1/workflow_executions.py
  src/mcp_server_langgraph/api/v1/workflows.py
  src/mcp_server_langgraph/api/v1/ws_router.py
Labels: none

feat(orchestrator): add lifecycle callbacks and status broadcasting
  src/mcp_server_langgraph/agents/alert_orchestrator.py
  src/mcp_server_langgraph/agents/base_orchestrator.py
  src/mcp_server_langgraph/agents/explanation_orchestrator.py
  src/mcp_server_langgraph/agents/studio_orchestrator.py
  src/mcp_server_langgraph/agents/ux_orchestrator.py
  src/mcp_server_langgraph/websocket/handlers/orchestrator_status.py
  src/mcp_server_langgraph/websocket/orchestrator_prometheus_metrics.py
  src/mcp_server_langgraph/websocket/registry.py
Labels: none

feat(frontend): add orchestrator status integration to Studio
  src/mcp_server_langgraph/studio/frontend/src/hooks/useAIOrchestratorStatus.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/hooks/useAIOrchestratorStatus.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useMCPConnection.test.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useMCPConnection.ts
  src/mcp_server_langgraph/studio/frontend/src/layout/StatusBar.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/layout/StatusBar.tsx
  src/mcp_server_langgraph/studio/frontend/src/layout/StudioShellLayout.tsx
  src/mcp_server_langgraph/studio/frontend/src/main.tsx
  src/mcp_server_langgraph/studio/frontend/src/utils/websocket.ts
  src/mcp_server_langgraph/studio/frontend/vitest.config.ts
Labels: none

feat(grafana): add authorization and orchestrator monitoring
  monitoring/grafana/alerting.yml
  monitoring/grafana/dashboards/Application/orchestrator-status.json
  monitoring/grafana/dashboards/Auth/openfga.json
Labels: observability

docs(adr): add security audit and orchestrator status documentation
  README.md
  adr/adr-0086-security-audit-keycloak-openfga.md
  docs/architecture/adr-0086-security-audit-keycloak-openfga.mdx
  docs/guides/orchestrator-status-websocket.mdx
Labels: documentation

fix(types): resolve MyPy errors in auth metrics and API endpoints
  src/mcp_server_langgraph/api/v1/feedback.py
  src/mcp_server_langgraph/api/v1/surveys.py
  src/mcp_server_langgraph/auth/metrics.py
Labels: none

fix(test): add auth mock to AI node config API tests
  tests/api/test_ai_node_config_api.py
Labels: tests

fix(test): add OpenFGA auth mocks to projects API tests
  tests/api/test_projects_api.py
Labels: tests

fix(test): resolve MyPy error and add auth mocks to connections API tests
  src/mcp_server_langgraph/auth/metrics.py
  tests/api/test_connections_api.py
Labels: tests

fix(test): add admin auth mock to connection audit log tests
  tests/api/test_connection_audit_log.py
Labels: tests

fix(keycloak): fix hostname configuration for HTTP access in test environment
  docker-compose.test.yml
  tests/e2e/default-realm.json
Labels: tests, docker, config

fix(tests): add auth mocks to API tests for OpenFGA authorization
  src/mcp_server_langgraph/api/v1/connection_health_ws.py
  src/mcp_server_langgraph/middleware/rate_limiter.py
  tests/api/test_ai_fetch_url_api.py
  tests/api/test_compliance_reports.py
  tests/api/test_connection_health_websocket.py
  tests/api/test_connection_templates.py
  tests/api/test_connections_bulk_api.py
Labels: tests

fix(test): add protocol version to mcp_task_ws auth test
  tests/unit/ws_handlers/test_mcp_task_ws.py
Labels: tests

fix(test): add workflow auth dependency overrides in test_workflows_router.py
  .pre-commit-config.yaml
  tests/unit/api/v1/test_workflows_router.py
Labels: tests, ci-cd, config

fix(openfga): change mcp tuples from viewer to user relation
  config/openfga/sample-tuples.json
Labels: none

test(openfga): add validation for computed-only relation assignments
  tests/unit/auth/test_openfga_config_validation.py
Labels: tests

feat(openfga): add standalone tuple validation script
  scripts/validation/validate_openfga_tuples.py
Labels: none

feat(openfga): add fail-fast validation to seeding script
  scripts/docker/seed_openfga.py
Labels: none

ci(openfga): add tuple validation step to seed image build
  .github/workflows/build-openfga-seed-image.yaml
Labels: ci-cd

feat(studio): add AI session grouping and similarity panel
  src/mcp_server_langgraph/studio/frontend/src/components/Session/SessionList.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Session/SessionList.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Session/SimilarSessionsPanel.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Session/SimilarSessionsPanel.tsx
Labels: none

feat(api): add agentic memory API endpoints
  src/mcp_server_langgraph/api/v1/memory.py
  tests/unit/memory/test_agentic_memory_integration.py
Labels: tests

test(tools): add defer loading integration tests
  tests/unit/tools/test_defer_loading_integration.py
Labels: tests

fix(test): skip outdated audit lifespan integration tests
  tests/integration/audit/test_audit_lifespan_integration.py
  tests/integration/audit/test_audit_service_initialization.py
Labels: tests

fix(test): add auth mocks to workflow tests in test_missing_endpoints.py
  tests/unit/api/v1/test_missing_endpoints.py
Labels: tests

fix(test): add protocol version to mock_websocket fixture
  tests/unit/ws_handlers/conftest.py
Labels: tests

fix(test): add noqa comments and rename generic test in test_base.py
  tests/unit/ws_handlers/test_base.py
Labels: tests

fix(test): add orchestrator status broadcaster exports to registry test
  tests/unit/websocket_pkg/test_registry.py
Labels: tests

fix(tests): correct test infrastructure port and config reload issues
  tests/integration/websocket/test_redis_rate_limiter_integration.py
  tests/smoke/test_ci_startup_smoke.py
  tests/templates/test_unit_template.py
Labels: tests

feat(mcp): add defer_loading filter to tools list endpoint
  src/mcp_server_langgraph/mcp/server_streamable.py
Labels: none

fix(test): update AIExplanation default model test to use settings
  tests/unit/core/interrupts/test_ai_explanation.py
Labels: tests

fix(test): use set_streaming_enabled for robust xdist testing
  tests/unit/api/v1/test_streaming_enabled_flag.py
Labels: tests

fix(test): add reset_singletons fixture for CostMetricsCollector tests
  tests/monitoring/test_cost_tracker.py
Labels: tests

fix(test): improve mock isolation for user preferences test
  tests/unit/storage/test_user_preferences_repository.py
Labels: tests

fix(websocket): handle user=None in AI suggestions disconnect logging
  src/mcp_server_langgraph/websocket/handlers/ai_suggestions.py
  tests/unit/websocket/handlers/test_ai_suggestions_handler.py
Labels: tests

fix(frontend): clear session state on logout to prevent stale mutations
  src/mcp_server_langgraph/studio/frontend/src/store/slices/sessionSlice.test.ts
  src/mcp_server_langgraph/studio/frontend/src/store/slices/sessionSlice.ts
Labels: none

fix(frontend): handle undefined metric values in MetricsTab
  src/mcp_server_langgraph/studio/frontend/src/components/DevTools/tabs/MetricsTab.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/DevTools/tabs/MetricsTab.tsx
Labels: none
