Repository vishnu2kmohan/mcp-server-langgraph, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, tests, ci-cd, dependencies, docker, deployment, auth, secrets, observability, mcp, agent, config, security, community

add Benchmark (pytest) benchmark result for 413e652245450d7f847d4682b6e30c7cbd61cc15
  dev/bench/data.js
Labels: none

add Benchmark (pytest) benchmark result for b11e9bb92ee707807ca9a177cc8e6a7abe737d12
  dev/bench/data.js
Labels: none

docs: comprehensive Mintlify documentation audit and improvements
  docs/architecture/adr-0003-dual-observability.mdx
  docs/deployment/VERSION_PINNING.mdx
  docs/deployment/VMWARE_RESOURCE_ESTIMATION.mdx
  docs/deployment/infisical-installation.mdx
  docs/development/integration-testing.mdx
  docs/diagrams/system-architecture.mdx
  docs/guides/authentication-migration-v2-8.mdx
  docs/guides/uv-migration.mdx
  docs/reference/environment-variables.mdx
  docs/releases/overview.mdx
  docs/releases/v2-8-0.mdx
Labels: documentation

add Benchmark (pytest) benchmark result for baa64dd968b7fe67f94c82e71e31a83826091e00
  dev/bench/data.js
Labels: none

fix: correct Mermaid diagram syntax errors in architecture diagrams
  docs/deployment/kubernetes.mdx
  docs/getting-started/architecture.mdx
Labels: documentation

add Benchmark (pytest) benchmark result for 5056d0c826b7c0e96fde38ed8e2ab01675743160
  dev/bench/data.js
Labels: none

fix: resolve all 13 broken links in Mintlify documentation
  docs/deployment/VERSION_PINNING.mdx
  docs/deployment/infisical-installation.mdx
  docs/deployment/model-configuration.mdx
  docs/development/integration-testing.mdx
  docs/reference/development/ci-cd.mdx
  docs/reference/development/development.mdx
Labels: documentation

add Benchmark (pytest) benchmark result for 77820625b752652c2f86cc0f6ebf405cd356d695
  dev/bench/data.js
Labels: none

style: update Mermaid diagrams to dark mode-friendly ColorBrewer2 palette
  docs/diagrams/system-architecture.mdx
  docs/getting-started/architecture.mdx
  docs/guides/multi-llm-setup.mdx
  docs/releases/overview.mdx
  docs/releases/v2-8-0.mdx
Labels: documentation

add Benchmark (pytest) benchmark result for 86cca8d0416479e3615b874ca063a3bc2dc23595
  dev/bench/data.js
Labels: none

style: apply ColorBrewer2 Dark2 palette to all remaining diagrams
  docs/architecture/overview.mdx
  docs/deployment/kong-gateway.mdx
  docs/getting-started/architecture.mdx
  docs/getting-started/introduction.mdx
  docs/getting-started/observability.mdx
  docs/guides/observability.mdx
  docs/guides/openfga-setup.mdx
  docs/releases/overview.mdx
  docs/releases/v2-8-0.mdx
  docs/security/overview.mdx
Labels: documentation

add Benchmark (pytest) benchmark result for 9bffb152823eff8c8f0ca6a5819954ea6e6cb706
  dev/bench/data.js
Labels: none

style: migrate all diagrams from Dark2 to Set3 ColorBrewer2 palette
  docs/architecture/overview.mdx
  docs/deployment/kong-gateway.mdx
  docs/diagrams/system-architecture.mdx
  docs/getting-started/architecture.mdx
  docs/getting-started/introduction.mdx
  docs/getting-started/observability.mdx
  docs/guides/multi-llm-setup.mdx
  docs/guides/observability.mdx
  docs/guides/openfga-setup.mdx
  docs/releases/overview.mdx
  docs/releases/v2-8-0.mdx
  docs/security/overview.mdx
Labels: documentation

add Benchmark (pytest) benchmark result for 992b97150b4954f196eb1a5857a39f7f396ff61d
  dev/bench/data.js
Labels: none

style: ensure unique colors for distinct node types across all diagrams
  docs/deployment/kubernetes.mdx
  docs/deployment/overview.mdx
  docs/diagrams/system-architecture.mdx
  docs/getting-started/architecture.mdx
  docs/getting-started/introduction.mdx
  docs/guides/keycloak-sso.mdx
  docs/guides/redis-sessions.mdx
Labels: documentation

add Benchmark (pytest) benchmark result for 0859570f218b53911c32b2657d14eaa566c4ba5a
  dev/bench/data.js
Labels: none

feat(deployment): add production-grade GKE staging environment with security hardening
  .env.example
  .github/workflows/deploy-staging-gke.yaml
  README.md
  VERTEX_AI_IMPLEMENTATION_SUMMARY.md
  deployments/overlays/staging-gke/configmap-patch.yaml
  deployments/overlays/staging-gke/deployment-patch.yaml
  deployments/overlays/staging-gke/kustomization.yaml
  deployments/overlays/staging-gke/namespace.yaml
  deployments/overlays/staging-gke/network-policy.yaml
  deployments/overlays/staging-gke/otel-collector-config.yaml
  deployments/overlays/staging-gke/serviceaccount-patch.yaml
  docs/advanced/troubleshooting.mdx
  docs/architecture/adr-0028-caching-strategy.mdx
  docs/deployment/GKE_STAGING_IMPLEMENTATION_SUMMARY.md
  docs/deployment/kubernetes/gke-staging.mdx
  docs/deployment/vertex-ai-workload-identity.mdx
  docs/guides/anthropic-claude.mdx
  docs/guides/google-gemini.mdx
  docs/guides/multi-llm-setup.mdx
  docs/security/gke-staging-checklist.md
  docs/security/quickstart-security.mdx
  integrations/litellm.md
  scripts/gcp/setup-staging-infrastructure.sh
  scripts/gcp/setup-vertex-ai-staging.sh
  scripts/gcp/staging-smoke-tests.sh
  src/mcp_server_langgraph/core/config.py
  src/mcp_server_langgraph/llm/factory.py
Labels: documentation, ci-cd, config

add Benchmark (pytest) benchmark result for 793147dba3d56afc543903057939dc8f775c2a6e
  dev/bench/data.js
Labels: none

feat(auth): comprehensive Keycloak-centric authentication with service principals and federation
  .env.example
  README.md
  adr/0031-keycloak-authoritative-identity.md
  adr/0032-jwt-standardization.md
  adr/0033-service-principal-design.md
  adr/0034-api-key-jwt-exchange.md
  adr/0035-kong-jwt-validation.md
  adr/0036-hybrid-session-model.md
  adr/0037-identity-federation.md
  adr/0038-scim-implementation.md
  adr/0039-openfga-permission-inheritance.md
  config/ldap_mappers.yaml
  config/oidc_providers.yaml
  deployments/kong/custom-plugins/kong-apikey-jwt-exchange/handler.lua
  deployments/kong/custom-plugins/kong-apikey-jwt-exchange/schema.lua
  deployments/kubernetes/kong/kong-apikey-jwt-plugin.yaml
  deployments/kubernetes/kong/kong-jwks-updater-cronjob.yaml
  docs/architecture/keycloak-jwt-architecture-overview.md
  docs/deployment/keycloak-jwt-deployment.md
  docs/guides/api-key-management.md
  docs/guides/identity-federation-quickstart.md
  docs/guides/scim-provisioning.md
  docs/guides/service-principals.md
  scripts/setup/setup_ldap_federation.py
  scripts/setup/setup_oidc_idp.py
  scripts/setup/setup_saml_idp.py
  scripts/update_kong_jwks.py
  src/mcp_server_langgraph/api/api_keys.py
  src/mcp_server_langgraph/api/scim.py
  src/mcp_server_langgraph/api/service_principals.py
  src/mcp_server_langgraph/auth/api_keys.py
  src/mcp_server_langgraph/auth/openfga.py
  src/mcp_server_langgraph/auth/service_principal.py
  src/mcp_server_langgraph/core/dependencies.py
  src/mcp_server_langgraph/scim/schema.py
  tests/test_api_key_manager.py
  tests/test_permission_inheritance.py
  tests/test_service_principal_manager.py
Labels: documentation, tests, config

add Benchmark (pytest) benchmark result for b6cf8e170a61e91b50f2637368a4dddda3dbea0e
  dev/bench/data.js
Labels: none

fix(types): improve type safety - reduce mypy errors from 119 to 19 (84% improvement)
  .claude/settings.local.json
  src/mcp_server_langgraph/api/api_keys.py
  src/mcp_server_langgraph/api/scim.py
  src/mcp_server_langgraph/api/service_principals.py
  src/mcp_server_langgraph/auth/api_keys.py
  src/mcp_server_langgraph/auth/keycloak.py
  src/mcp_server_langgraph/auth/openfga.py
  src/mcp_server_langgraph/auth/service_principal.py
  src/mcp_server_langgraph/scim/schema.py
Labels: none

add Benchmark (pytest) benchmark result for c85dbfd6506be965368629fe4de9cf53c63835ff
  dev/bench/data.js
Labels: none

docs: fix broken internal documentation links
  docs/guides/api-key-management.md
  docs/guides/service-principals.md
Labels: documentation

add Benchmark (pytest) benchmark result for 32d9f835823882c847b3e67208a2f795626be632
  dev/bench/data.js
Labels: none

docs: comprehensive Mintlify documentation update for v3.0 enterprise authentication
  .env.example
  DOCUMENTATION_AUDIT_REPORT.md
  docs/architecture/adr-0031-keycloak-authoritative-identity.mdx
  docs/architecture/adr-0032-jwt-standardization.mdx
  docs/architecture/adr-0033-service-principal-design.mdx
  docs/architecture/adr-0034-api-key-jwt-exchange.mdx
  docs/architecture/adr-0035-kong-jwt-validation.mdx
  docs/architecture/adr-0036-hybrid-session-model.mdx
  docs/architecture/adr-0037-identity-federation.mdx
  docs/architecture/adr-0038-scim-implementation.mdx
  docs/architecture/adr-0039-openfga-permission-inheritance.mdx
  docs/architecture/keycloak-jwt-architecture-overview.mdx
  docs/architecture/overview.mdx
  docs/deployment/keycloak-jwt-deployment.mdx
  docs/guides/api-key-management.mdx
  docs/guides/identity-federation-quickstart.mdx
  docs/guides/scim-provisioning.mdx
  docs/guides/service-principals.mdx
  docs/mint.json
Labels: documentation, config

add Benchmark (pytest) benchmark result for 6292998e5c4c21f45dfb99ef72ede8e43648c714
  dev/bench/data.js
Labels: none

fix(ci): add disk space cleanup to prevent build failures
  .github/dependabot.yaml
  .github/workflows/ci.yaml
Labels: ci-cd

add Benchmark (pytest) benchmark result for d557e381350ad2b64ef83a5139a87775c4b94814
  dev/bench/data.js
Labels: none

docs: comprehensive Mermaid diagram update and documentation cleanup
  .github/workflows/deploy-staging-gke.yaml
  deployments/base/deployment.yaml
  deployments/base/kustomization.yaml
  deployments/helm/mcp-server-langgraph/Chart.yaml
  deployments/helm/mcp-server-langgraph/values.yaml
  deployments/overlays/dev/kustomization.yaml
  deployments/overlays/production/kustomization.yaml
  deployments/overlays/staging-gke/kustomization.yaml
  deployments/overlays/staging/kustomization.yaml
  docs/architecture/adr-0027-rate-limiting-strategy.mdx
  docs/architecture/adr-0028-caching-strategy.mdx
  docs/architecture/adr-0030-resilience-patterns.mdx
  docs/architecture/adr-0033-service-principal-design.mdx
  docs/architecture/adr-0034-api-key-jwt-exchange.mdx
  docs/architecture/adr-0036-hybrid-session-model.mdx
  docs/architecture/adr-0037-identity-federation.mdx
  docs/architecture/adr-0038-scim-implementation.mdx
  docs/architecture/adr-0039-openfga-permission-inheritance.mdx
  docs/architecture/keycloak-jwt-architecture-overview.md
  docs/deployment/disaster-recovery.mdx
  docs/deployment/gdpr-storage-configuration.mdx
  docs/deployment/gke-staging-implementation-summary.mdx
  docs/getting-started/introduction.mdx
  docs/guides/observability.mdx
  docs/mint.json
  docs/security/gke-staging-checklist.mdx
  scripts/gcp/setup-staging-infrastructure.sh
Labels: documentation, ci-cd

add Benchmark (pytest) benchmark result for 0e5043f55b9e4be7ac69372457aac57cf5c68f4d
  dev/bench/data.js
Labels: none

feat(infra): fix GKE staging setup script and add teardown script
  scripts/gcp/setup-staging-infrastructure.sh
  scripts/gcp/teardown-staging-infrastructure.sh
Labels: none

add Benchmark (pytest) benchmark result for ed6dd25b43bf823c4e2bc2d9aacae9a8db725f0f
  dev/bench/data.js
Labels: none

fix(docs): add missing frontmatter to Keycloak JWT architecture overview
  docs/architecture/keycloak-jwt-architecture-overview.mdx
Labels: documentation

add Benchmark (pytest) benchmark result for 8a25fa6bd9690c9763b79a1dcfff6beb11f34c0a
  dev/bench/data.js
Labels: none

docs: add missing frontmatter to 31 Mintlify .mdx files
  docs/architecture/adr-0031-keycloak-authoritative-identity.mdx
  docs/architecture/adr-0032-jwt-standardization.mdx
  docs/architecture/adr-0033-service-principal-design.mdx
  docs/architecture/adr-0034-api-key-jwt-exchange.mdx
  docs/architecture/adr-0035-kong-jwt-validation.mdx
  docs/architecture/adr-0036-hybrid-session-model.mdx
  docs/architecture/adr-0037-identity-federation.mdx
  docs/architecture/adr-0038-scim-implementation.mdx
  docs/architecture/adr-0039-openfga-permission-inheritance.mdx
  docs/deployment/RELEASE_PROCESS.mdx
  docs/deployment/VERSION_COMPATIBILITY.mdx
  docs/deployment/VERSION_PINNING.mdx
  docs/deployment/VMWARE_RESOURCE_ESTIMATION.mdx
  docs/deployment/gdpr-storage-configuration.mdx
  docs/deployment/infisical-installation.mdx
  docs/deployment/keycloak-jwt-deployment.mdx
  docs/deployment/model-configuration.mdx
  docs/development/integration-testing.mdx
  docs/diagrams/system-architecture.mdx
  docs/guides/api-key-management.mdx
  docs/guides/identity-federation-quickstart.mdx
  docs/guides/scim-provisioning.mdx
  docs/guides/service-principals.mdx
  docs/guides/uv-migration.mdx
  docs/reference/development/build-verification.mdx
  docs/reference/development/ci-cd.mdx
  docs/reference/development/development.mdx
  docs/reference/development/github-actions.mdx
  docs/reference/development/ide-setup.mdx
  docs/reference/environment-variables.mdx
  docs/security/quickstart-security.mdx
Labels: documentation

add Benchmark (pytest) benchmark result for d8d78d6f22efd01b783bf631ae03077a9ca4989b
  dev/bench/data.js
Labels: none

add Benchmark (pytest) benchmark result for e3ca5e05b58ecfbcb90f7315ee2d0a67faac42ca
  dev/bench/data.js
Labels: none

docs: remove '- NEW' suffix from Enterprise Authentication group
  docs/mint.json
Labels: documentation

add Benchmark (pytest) benchmark result for 56f285c86359951da28e83a74b99871e146bb149
  dev/bench/data.js
Labels: none

docs: enhance frontmatter descriptions across 31 .mdx files
  docs/architecture/adr-0031-keycloak-authoritative-identity.mdx
  docs/architecture/adr-0032-jwt-standardization.mdx
  docs/architecture/adr-0033-service-principal-design.mdx
  docs/architecture/adr-0034-api-key-jwt-exchange.mdx
  docs/architecture/adr-0035-kong-jwt-validation.mdx
  docs/architecture/adr-0036-hybrid-session-model.mdx
  docs/architecture/adr-0037-identity-federation.mdx
  docs/architecture/adr-0038-scim-implementation.mdx
  docs/architecture/adr-0039-openfga-permission-inheritance.mdx
  docs/deployment/RELEASE_PROCESS.mdx
  docs/deployment/VERSION_COMPATIBILITY.mdx
  docs/deployment/VERSION_PINNING.mdx
  docs/deployment/VMWARE_RESOURCE_ESTIMATION.mdx
  docs/deployment/gdpr-storage-configuration.mdx
  docs/deployment/infisical-installation.mdx
  docs/deployment/keycloak-jwt-deployment.mdx
  docs/deployment/model-configuration.mdx
  docs/development/integration-testing.mdx
  docs/diagrams/system-architecture.mdx
  docs/guides/api-key-management.mdx
  docs/guides/identity-federation-quickstart.mdx
  docs/guides/scim-provisioning.mdx
  docs/guides/service-principals.mdx
  docs/guides/uv-migration.mdx
  docs/reference/development/build-verification.mdx
  docs/reference/development/ci-cd.mdx
  docs/reference/development/development.mdx
  docs/reference/development/github-actions.mdx
  docs/reference/development/ide-setup.mdx
  docs/reference/environment-variables.mdx
  docs/security/quickstart-security.mdx
Labels: documentation

.github/labeler.yml:

# Auto-labeler configuration for PRs
# Uses changed-files pattern matching

# Documentation
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'
      - '**/*.mdx'
      - 'docs/**/*'
      - 'mint.json'
      - '.mcp/*.json'

# Tests
tests:
  - changed-files:
    - any-glob-to-any-file:
      - 'tests/**/*'
      - '**/*test*.py'
      - 'test_*.py'
      - '*_test.py'
      - 'pytest.ini'
      - 'conftest.py'
      - 'TESTING.md'

# CI/CD
ci-cd:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**/*'
      - '.github/actions/**/*'
      - '.gitlab-ci.yml'
      - 'Makefile'
      - '.pre-commit-config.yaml'

# Dependencies
dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'requirements*.txt'
      - 'setup.py'
      - 'pyproject.toml'
      - 'poetry.lock'
      - 'package*.json'
      - 'yarn.lock'

# Docker
docker:
  - changed-files:
    - any-glob-to-any-file:
      - 'Dockerfile*'
      - 'docker-compose*.yml'
      - '.dockerignore'

# Kubernetes/Deployment
deployment:
  - changed-files:
    - any-glob-to-any-file:
      - 'kubernetes/**/*'
      - 'kustomize/**/*'
      - 'helm/**/*'
      - 'k8s/**/*'
      - 'KUBERNETES_DEPLOYMENT.md'
      - 'PRODUCTION_DEPLOYMENT.md'

# Authentication/Authorization
auth:
  - changed-files:
    - any-glob-to-any-file:
      - 'auth.py'
      - 'openfga_client.py'
      - 'setup_openfga.py'

# Secrets Management
secrets:
  - changed-files:
    - any-glob-to-any-file:
      - 'secrets_manager.py'
      - 'setup_infisical.py'

# Observability
observability:
  - changed-files:
    - any-glob-to-any-file:
      - 'observability.py'
      - 'health_check.py'
      - 'monitoring/**/*'
      - 'grafana/**/*'

# MCP Server
mcp:
  - changed-files:
    - any-glob-to-any-file:
      - 'mcp_server*.py'
      - 'examples/*client*.py'

# Agent/Core
agent:
  - changed-files:
    - any-glob-to-any-file:
      - 'agent.py'
      - 'graph.py'
      - 'models.py'
      - 'prompt*.py'

# Configuration
config:
  - changed-files:
    - any-glob-to-any-file:
      - 'config.py'
      - '.env*'
      - 'settings.py'
      - '*.yaml'
      - '*.yml'
      - '*.toml'
      - '*.ini'
      - '.editorconfig'

# Security
security:
  - changed-files:
    - any-glob-to-any-file:
      - 'auth.py'
      - 'secrets_manager.py'
      - 'openfga_client.py'
      - 'SECURITY*.md'
      - '.github/workflows/security-scan.yaml'
      - 'scripts/validate_production.py'

# Community
community:
  - changed-files:
    - any-glob-to-any-file:
      - 'CODE_OF_CONDUCT.md'
      - 'CONTRIBUTING.md'
      - 'DEVELOPMENT.md'
      - '.github/SUPPORT.md'
      - '.github/FUNDING.yml'
      - '.github/ISSUE_TEMPLATE/**/*'
      - '.github/PULL_REQUEST_TEMPLATE.md'
