Repository vishnu2kmohan/mcp-server-langgraph, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, tests, ci-cd, dependencies, docker, deployment, auth, secrets, observability, mcp, agent, config, security, community

test(gke): add comprehensive unit tests and preventive framework
  .pre-commit-config.yaml
  docs/deployment/gke-autopilot-resource-constraints.md
  tests/unit/test_gke_autopilot_validator.py
Labels: documentation, tests, ci-cd, config

feat(preventive): complete preventive framework for CI/CD stability
  .github/workflows/deploy-staging-gke.yaml
  .pre-commit-config.yaml
  scripts/calculate_gke_resources.py
  tests/unit/test_pytest_marker_validator.py
Labels: tests, ci-cd, config

fix(ci): comprehensive remediation of CI/CD workflow failures
  .github/workflows/deployment-validation.yml
  .github/workflows/docs-validation.yml
  .pre-commit-config.yaml
  deployments/README.md
  deployments/helm/mcp-server-langgraph/templates/_helpers.tpl
  deployments/helm/mcp-server-langgraph/templates/deployment.yaml
  deployments/overlays/staging-gke/serviceaccount-keycloak.yaml
  deployments/overlays/staging-gke/serviceaccount-openfga.yaml
  scripts/validate_serviceaccount_names.py
  tests/deployment/test_helm_templates.py
Labels: documentation, tests, ci-cd, config

feat(docs): implement TDD-based documentation validation framework
  .github/workflows/docs-validation.yaml
  .pre-commit-config.yaml
  docs-internal/DOCUMENTATION_AUDIT_REPORT.md
  docs-internal/DOCUMENTATION_VALIDATION_GUIDE.md
  docs/deployment/gke-autopilot-resource-constraints.mdx
  docs/docs.json
  docs/security/TRY_EXCEPT_PASS_ANALYSIS.mdx
  docs/workflows/SECRETS.mdx
  scripts/validate_serviceaccount_names.py
  scripts/validators/__init__.py
  scripts/validators/frontmatter_validator.py
  scripts/validators/link_validator.py
  scripts/validators/mdx_extension_validator.py
  scripts/validators/navigation_validator.py
  scripts/validators/validate_docs.py
  tests/unit/documentation/__init__.py
  tests/unit/documentation/test_frontmatter_validator.py
  tests/unit/documentation/test_mdx_extension_validator.py
  tests/unit/documentation/test_navigation_validator.py
Labels: documentation, tests, ci-cd, config

test(ci): add comprehensive ServiceAccount naming regression tests
  tests/deployment/test_serviceaccount_naming_regression.py
Labels: tests

fix(docs): add converted MDX files to navigation and exclude .mintlify/ from validation
  deployments/overlays/staging-gke/deployment-redis-url-json-patch.yaml
  deployments/overlays/staging-gke/external-secrets.yaml
  deployments/overlays/staging-gke/keycloak-patch.yaml
  docs/docs.json
  scripts/validators/mdx_extension_validator.py
Labels: documentation

docs(validators): add comprehensive README for validators directory
  deployments/overlays/staging-gke/keycloak-patch.yaml
  deployments/overlays/staging-gke/kustomization.yaml
  scripts/validators/README.md
Labels: documentation

fix(staging): resolve pod crashes - add missing ConfigMap keys and fix Keycloak readOnlyRootFilesystem
  deployments/overlays/staging-gke/configmap-patch.yaml
Labels: none

docs(kubernetes): add comprehensive Keycloak readOnlyRootFilesystem implementation plan
  docs/kubernetes/KEYCLOAK_READONLY_FILESYSTEM.md
Labels: documentation

docs(validation): add completion report documenting full framework implementation
  docs-internal/DOCUMENTATION_VALIDATION_COMPLETE.md
Labels: documentation

docs(kubernetes): add comprehensive pod crash resolution report for 2025-11-12 incident
  docs/kubernetes/POD_CRASH_RESOLUTION_2025-11-12.md
Labels: documentation

fix(ci): replace bc with awk in workflow health dashboard + improve type safety
  .github/workflows/workflow-health-dashboard.yaml
  src/mcp_server_langgraph/core/config.py
  src/mcp_server_langgraph/core/dependencies.py
  src/mcp_server_langgraph/core/storage/conversation_store.py
  src/mcp_server_langgraph/observability/json_logger.py
  src/mcp_server_langgraph/observability/telemetry.py
  tests/test_workflow_health_dashboard_bc_fix.py
Labels: tests, ci-cd

feat(type-safety): Phase 3 type safety improvements - reduce MyPy errors by 15%
  src/mcp_server_langgraph/mcp/server_stdio.py
  src/mcp_server_langgraph/mcp/server_streamable.py
  src/mcp_server_langgraph/middleware/rate_limiter.py
  src/mcp_server_langgraph/monitoring/budget_monitor.py
  src/mcp_server_langgraph/monitoring/cost_tracker.py
  src/mcp_server_langgraph/monitoring/prometheus_client.py
Labels: none

fix(type-safety): fix remaining type errors in monitoring modules
  src/mcp_server_langgraph/monitoring/budget_monitor.py
  src/mcp_server_langgraph/monitoring/prometheus_client.py
Labels: none

feat(ci): eliminate CI surprises with comprehensive local/CI parity validation
  .github/workflows/ci.yaml
  .pre-commit-config.yaml
  ACTION_PLAN_NEXT_STEPS.md
  CONTRIBUTING.md
  FINAL_REMEDIATION_REPORT.md
  Makefile
  TEST_FIXES_SUMMARY.md
  pyproject.toml
  scripts/fix_code_block_languages.py
  scripts/validate_pre_push_hook.py
  tests/conftest.py
  tests/meta/test_local_ci_parity.py
Labels: documentation, tests, ci-cd, dependencies, config, community

fix(tests,tdd): comprehensive test suite remediation with TDD validation
  tests/meta/test_fixture_validation.py
Labels: tests

feat(hooks): reorganize pre-commit/pre-push for speed and CI parity
  .github/CLAUDE.md
  .pre-commit-config.yaml
  CONTRIBUTING.md
  README.md
  TESTING.md
  docs-internal/HOOK_CATEGORIZATION.md
  docs-internal/PRE_COMMIT_PRE_PUSH_REORGANIZATION.md
  scripts/measure_hook_performance.py
  scripts/validate_pre_push_hook.py
  tests/api/test_api_keys_endpoints.py
Labels: documentation, tests, ci-cd, config, community

docs(hooks): add final audit reports and fix code block language tags
  CONTRIBUTING.md
  TESTING.md
  docs-internal/HOOK_AUDIT_FINAL_REPORT.md
  docs-internal/HOOK_REORGANIZATION_SUMMARY.md
Labels: documentation, tests, community

fix(ci): resolve pre-existing Quality Tests and CI/CD Pipeline failures
  .pre-commit-config.yaml
  tests/api/test_api_keys_endpoints.py
  tests/regression/test_precommit_hook_dependencies.py
Labels: tests, ci-cd, config

feat(docs): enhance /docs-audit with comprehensive Mintlify CLI validation
  .claude/commands/docs-audit.md
  Makefile
  docs-internal/VALIDATION_QUICKSTART.md
Labels: documentation, ci-cd

fix(tests,validation): complete pre-commit hook and marker validation fixes
  scripts/validate_pytest_markers.py
  tests/api/test_router_registration.py
  tests/regression/test_precommit_hook_dependencies.py
Labels: tests

docs(hooks): add complete audit summary with all fixes and recommendations
  docs-internal/HOOKS_COMPLETE_AUDIT_SUMMARY.md
Labels: documentation

fix(pre-push): exclude contract tests from unit test phase
  scripts/validate_pre_push_hook.py
Labels: none

feat(docs): comprehensive documentation audit with TDD validators
  .pre-commit-config.yaml
  docs-internal/audits/DOCUMENTATION_AUDIT_FINAL_REPORT_20251113.md
  docs-internal/audits/todo-fixme-audit-20251113.txt
  scripts/validators/adr_sync_validator.py
  scripts/validators/todo_audit.py
  tests/unit/documentation/test_todo_audit.py
Labels: documentation, tests, ci-cd, config

fix(tests): add CLI tool guards and fix f-string escaping
  tests/deployment/test_helm_templates.py
  tests/regression/test_pod_deployment_regression.py
Labels: tests

fix(ci): align pre-push hook with CI/CD workflows to eliminate local/CI divergence
  CONTRIBUTING.md
  Makefile
  docs/architecture/overview.mdx
  docs/guides/migration-guide.mdx
  docs/troubleshooting/overview.mdx
  scripts/validate_pre_push_hook.py
  tests/meta/test_local_ci_parity.py
Labels: documentation, tests, ci-cd, community

feat(ci): add pytest-xdist enforcement meta-tests to pre-push hook and improve validator
  Makefile
  scripts/validate_pre_push_hook.py
Labels: ci-cd

fix(tests): resolve pytest-xdist isolation bug in auth tests + add ADR-0052
  docs-internal/ADR-0052-GIT-HOOKS-CI-PARITY.md
  tests/test_auth.py
Labels: documentation, tests

fix(tests): resolve pytest-xdist state pollution in auth and circuit breaker tests
  tests/test_auth.py
  tests/test_openfga_client.py
Labels: tests

fix(tests): resolve pytest-xdist isolation bug in service principals API tests
  tests/api/test_service_principals_endpoints.py
Labels: tests

fix(tests): resolve pytest-xdist isolation bug in API key endpoint tests
  tests/api/test_api_keys_endpoints.py
Labels: tests

fix(tests): resolve pytest-xdist fixture race condition in API endpoint tests
  tests/api/test_api_keys_endpoints.py
  tests/api/test_service_principals_endpoints.py
Labels: tests

feat(tests): add pytest-rerunfailures to handle pytest-xdist race conditions
  pyproject.toml
  uv.lock
Labels: dependencies, config

docs(tests): add comprehensive pytest-xdist state pollution prevention
  PYTEST_XDIST_STATE_POLLUTION_SCAN_REPORT.md
  docs/architecture/adr/ADR-0053-pytest-xdist-state-pollution-prevention.mdx
  state_pollution_report.txt
  tests/PYTEST_XDIST_PREVENTION.md
Labels: documentation, tests

fix(tests): set MCP_SKIP_AUTH='false' explicitly to prevent conftest pollution
  tests/api/test_api_keys_endpoints.py
  tests/api/test_service_principals_endpoints.py
Labels: tests

feat(tests): increase pytest-rerunfailures attempts to 5 with 3s delay
  .pre-commit-config.yaml
  Makefile
  pyproject.toml
  scripts/validation/validate_test_isolation.py
  tests/meta/test_local_ci_parity.py
Labels: tests, ci-cd, dependencies, config

test(meta): add comprehensive local/CI parity validation suite
  tests/meta/test_local_ci_parity.py
Labels: tests

fix(types): resolve all 80 MyPy type errors across codebase
  src/mcp_server_langgraph/auth/middleware.py
  src/mcp_server_langgraph/auth/service_principal.py
  src/mcp_server_langgraph/auth/session.py
  src/mcp_server_langgraph/core/agent.py
  src/mcp_server_langgraph/core/cache.py
  src/mcp_server_langgraph/core/container.py
  src/mcp_server_langgraph/core/context_manager.py
  src/mcp_server_langgraph/core/dynamic_context_loader.py
  src/mcp_server_langgraph/core/storage/conversation_store.py
  src/mcp_server_langgraph/database/models.py
  src/mcp_server_langgraph/execution/docker_sandbox.py
  src/mcp_server_langgraph/infrastructure/app_factory.py
  src/mcp_server_langgraph/llm/factory.py
  src/mcp_server_langgraph/llm/validators.py
  src/mcp_server_langgraph/llm/verifier.py
  src/mcp_server_langgraph/mcp/server_streamable.py
  src/mcp_server_langgraph/middleware/session_timeout.py
  src/mcp_server_langgraph/observability/json_logger.py
  src/mcp_server_langgraph/patterns/hierarchical.py
  src/mcp_server_langgraph/patterns/supervisor.py
  src/mcp_server_langgraph/patterns/swarm.py
  src/mcp_server_langgraph/resilience/circuit_breaker.py
  src/mcp_server_langgraph/resilience/retry.py
  src/mcp_server_langgraph/secrets/manager.py
  src/mcp_server_langgraph/tools/filesystem_tools.py
  src/mcp_server_langgraph/tools/tool_discovery.py
  src/mcp_server_langgraph/utils/response_optimizer.py
  tests/api/conftest.py
  tests/api/test_api_keys_endpoints.py
  tests/api/test_api_versioning.py
  tests/api/test_bearer_scheme_diagnostic.py
  tests/api/test_router_registration.py
  tests/api/test_scim_security.py
  tests/api/test_service_principals_endpoints.py
Labels: tests

fix(tests): resolve SCIM AsyncMock coroutine leak causing validation errors
  tests/api/test_scim_security.py
Labels: tests

feat(tests): add AsyncMock configuration prevention mechanisms + ADR-0053
  .pre-commit-config.yaml
  adr/ADR-0053-asyncmock-configuration-prevention.md
  scripts/check_async_mock_configuration.py
  tests/ASYNC_MOCK_GUIDELINES.md
  tests/meta/__init__.py
  tests/meta/test_async_mock_configuration.py
Labels: documentation, tests, ci-cd, config

.github/labeler.yml:

# Auto-labeler configuration for PRs
# Uses changed-files pattern matching

# Documentation
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'
      - '**/*.mdx'
      - 'docs/**/*'
      - 'mint.json'
      - '.mcp/*.json'

# Tests
tests:
  - changed-files:
    - any-glob-to-any-file:
      - 'tests/**/*'
      - '**/*test*.py'
      - 'test_*.py'
      - '*_test.py'
      - 'pytest.ini'
      - 'conftest.py'
      - 'TESTING.md'

# CI/CD
ci-cd:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**/*'
      - '.github/actions/**/*'
      - '.gitlab-ci.yml'
      - 'Makefile'
      - '.pre-commit-config.yaml'

# Dependencies
dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'requirements*.txt'
      - 'setup.py'
      - 'pyproject.toml'
      - 'poetry.lock'
      - 'package*.json'
      - 'yarn.lock'

# Docker
docker:
  - changed-files:
    - any-glob-to-any-file:
      - 'Dockerfile*'
      - 'docker-compose*.yml'
      - '.dockerignore'

# Kubernetes/Deployment
deployment:
  - changed-files:
    - any-glob-to-any-file:
      - 'kubernetes/**/*'
      - 'kustomize/**/*'
      - 'helm/**/*'
      - 'k8s/**/*'
      - 'KUBERNETES_DEPLOYMENT.md'
      - 'PRODUCTION_DEPLOYMENT.md'

# Authentication/Authorization
auth:
  - changed-files:
    - any-glob-to-any-file:
      - 'auth.py'
      - 'openfga_client.py'
      - 'setup_openfga.py'

# Secrets Management
secrets:
  - changed-files:
    - any-glob-to-any-file:
      - 'secrets_manager.py'
      - 'setup_infisical.py'

# Observability
observability:
  - changed-files:
    - any-glob-to-any-file:
      - 'observability.py'
      - 'health_check.py'
      - 'monitoring/**/*'
      - 'grafana/**/*'

# MCP Server
mcp:
  - changed-files:
    - any-glob-to-any-file:
      - 'mcp_server*.py'
      - 'examples/*client*.py'

# Agent/Core
agent:
  - changed-files:
    - any-glob-to-any-file:
      - 'agent.py'
      - 'graph.py'
      - 'models.py'
      - 'prompt*.py'

# Configuration
config:
  - changed-files:
    - any-glob-to-any-file:
      - 'config.py'
      - '.env*'
      - 'settings.py'
      - '*.yaml'
      - '*.yml'
      - '*.toml'
      - '*.ini'
      - '.editorconfig'

# Security
security:
  - changed-files:
    - any-glob-to-any-file:
      - 'auth.py'
      - 'secrets_manager.py'
      - 'openfga_client.py'
      - 'SECURITY*.md'
      - '.github/workflows/security-scan.yaml'
      - 'scripts/validate_production.py'

# Community
community:
  - changed-files:
    - any-glob-to-any-file:
      - 'CODE_OF_CONDUCT.md'
      - 'CONTRIBUTING.md'
      - 'DEVELOPMENT.md'
      - '.github/SUPPORT.md'
      - '.github/FUNDING.yml'
      - '.github/ISSUE_TEMPLATE/**/*'
      - '.github/PULL_REQUEST_TEMPLATE.md'
