Repository vishnu2kmohan/mcp-server-langgraph, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, tests, ci-cd, dependencies, docker, deployment, auth, secrets, observability, mcp, agent, config, security, community

feat(core): add A/B experiment framework for feature comparison
  src/mcp_server_langgraph/core/experiments.py
  tests/unit/core/test_semantic_tool_ab_experiment.py
Labels: tests

feat(llm): add OpenAI native tools validation in LLM factory
  src/mcp_server_langgraph/llm/factory.py
  tests/unit/llm/test_factory_openai_native.py
Labels: tests

feat(semantic): enhance semantic tool selection with split bootstrap
  docs/architecture/adr-0099-semantic-tool-selection.mdx
  src/mcp_server_langgraph/bootstrap/semantic.py
  src/mcp_server_langgraph/core/semantic_index_manager.py
  src/mcp_server_langgraph/tools/semantic_index.py
  tests/benchmarks/test_semantic_tool_selection_benchmark.py
  tests/e2e/test_semantic_tool_selection_e2e.py
  tests/integration/test_semantic_tool_selection.py
  tests/integration/vectors/test_semantic_index_manager_qdrant.py
  tests/unit/agents/test_router_agent_semantic.py
  tests/unit/bootstrap/test_semantic_bootstrap.py
  tests/unit/bootstrap/test_semantic_startup_indexing.py
  tests/unit/core/test_agent_graph_retrieve_tools.py
  tests/unit/core/test_agent_graph_retrieve_tools_integration.py
  tests/unit/core/test_semantic_embedding_caching.py
  tests/unit/core/test_semantic_index_authorization.py
  tests/unit/core/test_semantic_index_authorization_caching.py
  tests/unit/core/test_semantic_index_bootstrap_integration.py
  tests/unit/core/test_semantic_index_cache_metrics.py
  tests/unit/core/test_semantic_index_cache_warming.py
  tests/unit/core/test_semantic_index_decision_traces.py
  tests/unit/core/test_semantic_index_distributed_cache.py
  tests/unit/core/test_semantic_index_id_conversion.py
  tests/unit/core/test_semantic_index_manager.py
  tests/unit/core/test_semantic_index_prometheus_metrics.py
  tests/unit/core/test_semantic_query_caching.py
  tests/unit/core/test_semantic_tool_selection_metrics.py
  tests/unit/tools/test_semantic_index.py
Labels: documentation, tests

feat(mcp): add full bootstrap and tool indexing to MCP server
  src/mcp_server_langgraph/mcp/client/cached_unified_registry.py
  src/mcp_server_langgraph/mcp/server_stdio.py
  tests/unit/mcp/client/test_cached_unified_registry.py
  tests/unit/mcp/test_mcp_stdio_server.py
Labels: tests

feat(api): add execution plans and plan templates persistence
  alembic/versions/d0e1f2g3h4i5_add_execution_plans_table.py
  alembic/versions/e1f2g3h4i5j6_add_plan_templates_table.py
  src/mcp_server_langgraph/api/v1/execution_plans.py
  src/mcp_server_langgraph/api/v1/plan_templates.py
  src/mcp_server_langgraph/api/v1/serializers.py
  src/mcp_server_langgraph/repositories/plan_template.py
  tests/unit/api/v1/test_execution_plans.py
  tests/unit/api/v1/test_plan_templates.py
Labels: tests

feat(infra): enhance app factory with semantic index initialization
  src/mcp_server_langgraph/app.py
  src/mcp_server_langgraph/infrastructure/app_factory.py
  tests/unit/core/test_app_factory.py
Labels: tests

feat(api): add selected_tools SSE event for semantic selection visibility
  src/mcp_server_langgraph/api/v1/chat.py
Labels: none

feat(frontend): enhance streaming chat with plan generation support
  src/mcp_server_langgraph/studio/frontend/src/conversation/ConnectedConversationPanel.planCard.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/conversation/InlinePlanCard.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/conversation/InlinePlanCard.tsx
  src/mcp_server_langgraph/studio/frontend/src/hooks/useStreamingChat.planGenerated.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/hooks/useStreamingChat.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useTemplateSearch.ts
  src/mcp_server_langgraph/studio/frontend/src/store/slices/executionModeSlice.test.ts
  src/mcp_server_langgraph/studio/frontend/src/store/slices/executionModeSlice.ts
Labels: none

feat(frontend): update API client and regenerate types
  src/mcp_server_langgraph/studio/frontend/src/api/index.ts
  src/mcp_server_langgraph/studio/frontend/src/types/generated-api.ts
Labels: none

chore(api): regenerate OpenAPI specification
  api/openapi.json
Labels: none

chore(deps): add pgvector and update pytest markers
  pyproject.toml
  uv.lock
Labels: dependencies, config

docs(changelog): document semantic tool selection feature
  CHANGELOG.md
Labels: documentation

docs: create AGENTS.md for OpenAI Codex compatibility
  AGENTS.md
Labels: documentation

docs(claude): update metrics and model to Opus 4.5
  .claude/CLAUDE.md
  .claude/QUICK_REFERENCE.md
  .claude/README.md
  .claude/SETTINGS.md
  .claude/context/pytest-markers.md
  .claude/memory/make-targets.md
  .claude/memory/pre-commit-hooks-catalog.md
  .github/CLAUDE.md
Labels: documentation

fix(alembic): prevent duplicate PostgreSQL enum type creation
  .ai/README.md
  alembic/versions/d0e1f2g3h4i5_add_execution_plans_table.py
Labels: documentation

fix(storage): add user_id to in-memory message creation
  src/mcp_server_langgraph/storage/memory.py
Labels: none

feat(api): add message deduplication and history loading to chat
  src/mcp_server_langgraph/api/v1/chat.py
  tests/unit/api/v1/test_chat_message_persistence.py
Labels: tests

feat(frontend): enhance InlinePlanCard with generation support
  src/mcp_server_langgraph/studio/frontend/src/conversation/ConnectedConversationPanel.planCard.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/conversation/ConnectedConversationPanel.tsx
  src/mcp_server_langgraph/studio/frontend/src/conversation/ConversationPanel.tsx
  src/mcp_server_langgraph/studio/frontend/src/conversation/InlinePlanCard.tsx
  src/mcp_server_langgraph/studio/frontend/src/conversation/UnifiedMessageList.tsx
Labels: none

docs(context): implement context-efficiency optimization
  .ai/CORE.md
  .ai/README.md
  .claude/CLAUDE.md
  .claude/README.md
  .claude/commands/code-review.md
  .claude/commands/coverage-trend.md
  .claude/commands/explore-codebase.md
  .claude/commands/fix-issue.md
  .claude/commands/knowledge-search.md
  .claude/commands/lint.md
  .claude/commands/plan-review.md
  .claude/commands/plan-status.md
  .claude/commands/test-failure-analysis.md
  .claude/context/testing-patterns.md
  .claude/memory/lint-workflow.md
  .claude/memory/make-targets.md
  .claude/memory/pre-commit-hooks-catalog.md
  .claude/memory/python-environment-usage.md
  .claude/memory/task-spawn-error-prevention-strategy.md
  .claude/memory/validation-strategy.md
  .cursorrules
  .github/CLAUDE.md
  .github/copilot-instructions.md
  .gitignore
  AGENTS.md
  docs-internal/PHASE_2_HOOK_REBALANCING_PLAN.md
  docs-internal/TECHNICAL_DEBT.md
  scripts/dev/update_script_path_references.py
Labels: documentation

feat(api): add idempotency guard for chat completions
  src/mcp_server_langgraph/api/v1/idempotency.py
  tests/unit/api/v1/test_idempotency_edge_cases.py
Labels: tests

feat(api): integrate idempotency into chat endpoints
  src/mcp_server_langgraph/api/v1/chat.py
  src/mcp_server_langgraph/api/v1/sessions.py
  src/mcp_server_langgraph/core/config/_settings.py
Labels: none

feat(storage): add PostgreSQL persistence for execution plans
  alembic/versions/b8c9d0e1f2a3_add_execution_plan_user_columns.py
  src/mcp_server_langgraph/core/models/execution_plan.py
  src/mcp_server_langgraph/core/models/plan_template.py
  src/mcp_server_langgraph/database/execution_plan_models.py
  src/mcp_server_langgraph/repositories/execution_plan.py
  src/mcp_server_langgraph/repositories/plan_template.py
  src/mcp_server_langgraph/repositories/postgres_execution_plan.py
  src/mcp_server_langgraph/repositories/postgres_plan_template.py
Labels: none

feat(services): add plan embedding and persistence services
  src/mcp_server_langgraph/services/plan_embedding_service.py
  src/mcp_server_langgraph/services/plan_persistence_service.py
Labels: none

feat(compliance): integrate execution plans with GDPR services
  src/mcp_server_langgraph/compliance/gdpr/data_deletion.py
  src/mcp_server_langgraph/compliance/gdpr/data_export.py
  src/mcp_server_langgraph/core/constants.py
  src/mcp_server_langgraph/infrastructure/app_factory.py
Labels: none

test(integration): add execution plan storage tests
  docker/postgres/init-test-databases.sh
  tests/integration/repositories/test_postgres_execution_plan_repository.py
  tests/integration/repositories/test_postgres_plan_template_repository.py
  tests/integration/storage/test_execution_plan_schema.py
  tests/integration/storage/test_pgvector_extension.py
Labels: tests

docs(claude): update slash commands and add AI CLI patterns
  .claude/commands/README.md
  .claude/commands/plan-status.md
  .claude/memory/ai-cli-tool-patterns.md
Labels: documentation

feat(repositories): persist embeddings via raw SQL for pgvector
  src/mcp_server_langgraph/repositories/postgres_execution_plan.py
  src/mcp_server_langgraph/repositories/postgres_plan_template.py
Labels: none

refactor(services): use shared execution_plan_to_model mapper
  src/mcp_server_langgraph/services/plan_persistence_service.py
Labels: none

feat(infrastructure): wire PlanEmbeddingService in app factory
  src/mcp_server_langgraph/infrastructure/app_factory.py
  src/mcp_server_langgraph/services/plan_embedding_service.py
Labels: none

fix(models): allow nullable description in PlanTemplate
  src/mcp_server_langgraph/api/v1/execution_plans.py
  src/mcp_server_langgraph/api/v1/plan_templates.py
  src/mcp_server_langgraph/core/models/plan_template.py
  src/mcp_server_langgraph/repositories/plan_template.py
Labels: none

feat(gdpr): add email parameter for legacy template deletion
  src/mcp_server_langgraph/api/gdpr.py
  src/mcp_server_langgraph/compliance/gdpr/data_deletion.py
Labels: none

feat(commands): add /troubleshoot triple-AI diagnostic command
  .claude/commands/troubleshoot.md
Labels: documentation

docs(commands): update README with /troubleshoot command
  .claude/commands/README.md
Labels: documentation

feat(commands): upgrade /plan-review, /plan-status, /code-review to triple-AI pattern
  .claude/commands/code-review.md
  .claude/commands/plan-review.md
  .claude/commands/plan-status.md
Labels: documentation

fix(models): preserve NULL semantics for tools_needed across layers (v35.0)
  src/mcp_server_langgraph/api/v1/execution_plans.py
  src/mcp_server_langgraph/api/v1/serializers.py
  src/mcp_server_langgraph/core/models/execution_plan.py
  src/mcp_server_langgraph/database/execution_plan_models.py
  src/mcp_server_langgraph/repositories/postgres_execution_plan.py
Labels: none

fix(api): restore router authority for tool_preference (v35.0)
  src/mcp_server_langgraph/api/v1/chat.py
  src/mcp_server_langgraph/core/prompts/orchestration_router_prompt.py
Labels: none

test(models): update tests for v35.0 NULL semantics
  tests/unit/core/models/test_execution_plan.py
  tests/unit/core/test_orchestration_router_prompt.py
Labels: tests

test(agents): add RouterOutput NULL semantics tests (v35.0)
  tests/unit/agents/test_router_output_null_semantics.py
Labels: tests

feat(devtools): add LangGraph execution trace persistence (Phase 4)
  alembic/versions/d1e2f3g4h5i6_add_langgraph_execution_traces.py
  src/mcp_server_langgraph/api/v1/sessions.py
  src/mcp_server_langgraph/bootstrap/context_graph.py
  src/mcp_server_langgraph/core/dependencies.py
  src/mcp_server_langgraph/database/models.py
  src/mcp_server_langgraph/repositories/langgraph_execution_trace.py
  src/mcp_server_langgraph/storage/models.py
  src/mcp_server_langgraph/studio/frontend/src/components/DevTools/hooks/useAgentTrace.test.ts
  src/mcp_server_langgraph/studio/frontend/src/components/DevTools/hooks/useAgentTrace.ts
  src/mcp_server_langgraph/websocket/handlers/devtools.py
  tests/unit/database/test_langgraph_execution_trace_models.py
  tests/unit/repositories/test_langgraph_execution_trace_repository.py
  tests/unit/storage/test_langgraph_execution_trace_pydantic.py
Labels: tests

feat(commands): add intensity levels to Multi-AI slash commands
  .claude/commands/code-review.md
  .claude/commands/plan-review.md
  .claude/commands/plan-status.md
  .claude/commands/troubleshoot.md
Labels: documentation

.github/labeler.yml:

# Auto-labeler configuration for PRs
# Uses changed-files pattern matching

# Documentation
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'
      - '**/*.mdx'
      - 'docs/**/*'
      - 'mint.json'
      - '.mcp/*.json'

# Tests
tests:
  - changed-files:
    - any-glob-to-any-file:
      - 'tests/**/*'
      - '**/*test*.py'
      - 'test_*.py'
      - '*_test.py'
      - 'pytest.ini'
      - 'conftest.py'
      - 'TESTING.md'

# CI/CD
ci-cd:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**/*'
      - '.github/actions/**/*'
      - '.gitlab-ci.yml'
      - 'Makefile'
      - '.pre-commit-config.yaml'

# Dependencies
dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'requirements*.txt'
      - 'setup.py'
      - 'pyproject.toml'
      - 'poetry.lock'
      - 'package*.json'
      - 'yarn.lock'

# Docker
docker:
  - changed-files:
    - any-glob-to-any-file:
      - 'Dockerfile*'
      - 'docker-compose*.yml'
      - '.dockerignore'

# Kubernetes/Deployment
deployment:
  - changed-files:
    - any-glob-to-any-file:
      - 'kubernetes/**/*'
      - 'kustomize/**/*'
      - 'helm/**/*'
      - 'k8s/**/*'
      - 'KUBERNETES_DEPLOYMENT.md'
      - 'PRODUCTION_DEPLOYMENT.md'

# Authentication/Authorization
auth:
  - changed-files:
    - any-glob-to-any-file:
      - 'auth.py'
      - 'openfga_client.py'
      - 'setup_openfga.py'

# Secrets Management
secrets:
  - changed-files:
    - any-glob-to-any-file:
      - 'secrets_manager.py'
      - 'setup_infisical.py'

# Observability
observability:
  - changed-files:
    - any-glob-to-any-file:
      - 'observability.py'
      - 'health_check.py'
      - 'monitoring/**/*'
      - 'grafana/**/*'

# MCP Server
mcp:
  - changed-files:
    - any-glob-to-any-file:
      - 'mcp_server*.py'
      - 'examples/*client*.py'

# Agent/Core
agent:
  - changed-files:
    - any-glob-to-any-file:
      - 'agent.py'
      - 'graph.py'
      - 'models.py'
      - 'prompt*.py'

# Configuration
config:
  - changed-files:
    - any-glob-to-any-file:
      - 'config.py'
      - '.env*'
      - 'settings.py'
      - '*.yaml'
      - '*.yml'
      - '*.toml'
      - '*.ini'
      - '.editorconfig'

# Security
security:
  - changed-files:
    - any-glob-to-any-file:
      - 'auth.py'
      - 'secrets_manager.py'
      - 'openfga_client.py'
      - 'SECURITY*.md'
      - '.github/workflows/security-scan.yaml'
      - 'scripts/validate_production.py'

# Community
community:
  - changed-files:
    - any-glob-to-any-file:
      - 'CODE_OF_CONDUCT.md'
      - 'CONTRIBUTING.md'
      - 'DEVELOPMENT.md'
      - '.github/SUPPORT.md'
      - '.github/FUNDING.yml'
      - '.github/ISSUE_TEMPLATE/**/*'
      - '.github/PULL_REQUEST_TEMPLATE.md'
