Repository vishnu2kmohan/mcp-server-langgraph, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, tests, ci-cd, dependencies, docker, deployment, auth, secrets, observability, mcp, agent, config, security, community

docs: FINAL - all mergeable Dependabot PRs complete (14/15 merged)
  DEPENDABOT_MERGE_STATUS.md
Labels: documentation

docs: add comprehensive Dependabot session report (2025-10-13)
  docs/reports/archive/2025-10/DEPENDABOT_SESSION_2025-10-13.md
Labels: documentation

docs: LangGraph upgrade complete - ALL 15 Dependabot PRs merged (100%)
  DEPENDABOT_MERGE_STATUS.md
  docs/reports/archive/2025-10/LANGGRAPH_UPGRADE_ASSESSMENT.md
Labels: documentation

feat: add comprehensive community and security documentation
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  SECURITY.md
  docs/reports/REPOSITORY_HEALTH_REPORT_20251013.md
Labels: documentation, security, community

fix(ci): resolve all GitHub Actions workflow failures
  .flake8
  .github/workflows/ci.yaml
  docs/reports/CI_CD_ANALYSIS_REPORT_20251013.md
  requirements-pinned.txt
Labels: documentation, ci-cd, dependencies

docs: add comprehensive documentation fix report (2025-10-13)
  docs/reports/archive/2025-10/COMPREHENSIVE_DOCUMENTATION_FIX_REPORT_20251013.md
Labels: documentation

chore: bump version to 2.4.0
  CHANGELOG.md
  pyproject.toml
Labels: documentation, dependencies, config

chore: repository cleanup - remove build artifacts and organize documentation
  .gitignore
  docs/reports/REPOSITORY_CLEANUP_REPORT_20251013.md
  docs/reports/archive/DEPENDABOT_MERGE_STATUS.md
  docs/reports/archive/MINTLIFY_VALIDATION_REPORT.md
Labels: documentation

refactor: fix remaining repository references in kubernetes docs
  docs/advanced/contributing.mdx
  docs/deployment/kubernetes/gke.mdx
  docs/deployment/kubernetes/kustomize.mdx
Labels: documentation

refactor: comprehensive lint and security fixes
  .claude/settings.local.json
  hooks/post_gen_project.py
  scripts/setup/setup_keycloak.py
  scripts/validation/validate_deployments.py
  src/mcp_server_langgraph/api/gdpr.py
  src/mcp_server_langgraph/auth/hipaa.py
  src/mcp_server_langgraph/auth/keycloak.py
  src/mcp_server_langgraph/auth/middleware.py
  src/mcp_server_langgraph/auth/session.py
  src/mcp_server_langgraph/auth/user_provider.py
  src/mcp_server_langgraph/core/compliance/evidence.py
  src/mcp_server_langgraph/core/compliance/retention.py
  src/mcp_server_langgraph/core/config.py
  src/mcp_server_langgraph/middleware/session_timeout.py
  src/mcp_server_langgraph/monitoring/sla.py
  src/mcp_server_langgraph/schedulers/cleanup.py
  src/mcp_server_langgraph/schedulers/compliance.py
  tests/property/test_llm_properties.py
  tests/test_keycloak.py
  tests/test_session.py
Labels: tests

refactor: comprehensive lint fixes - resolve all 21 flake8 issues
  src/mcp_server_langgraph/auth/user_provider.py
  src/mcp_server_langgraph/core/agent.py
  src/mcp_server_langgraph/core/compliance/data_deletion.py
  src/mcp_server_langgraph/core/compliance/retention.py
  src/mcp_server_langgraph/middleware/session_timeout.py
  src/mcp_server_langgraph/schedulers/cleanup.py
  src/mcp_server_langgraph/schedulers/compliance.py
  tests/performance/test_benchmarks.py
  tests/test_auth_metrics.py
  tests/test_hipaa.py
  tests/test_session_timeout.py
Labels: tests

docs: fix all 9 broken internal links for Mintlify deployment
  docs/adr/0003-dual-observability.md
  docs/api-reference/authentication.mdx
  docs/api-reference/introduction.mdx
  docs/architecture/adr-0003-dual-observability.mdx
  docs/deployment/cloud-run.mdx
  docs/deployment/monitoring.mdx
  docs/getting-started/langsmith-tracing.mdx
  docs/getting-started/observability.mdx
  docs/guides/infisical-setup.mdx
  docs/guides/observability.mdx
  tests/test_cleanup_scheduler.py
  tests/test_hipaa.py
  tests/test_retention.py
  tests/test_session_timeout.py
  tests/test_storage.py
Labels: documentation, tests

refactor: remove docker-compose v1 support, migrate to v2 syntax
  Makefile
  README.md
  docker-compose.yml
  docker/docker-compose.dev.yml
  docs/deployment/docker.mdx
  docs/development/development.md
  docs/development/testing.md
  docs/getting-started/installation.mdx
  docs/getting-started/quickstart.mdx
  scripts/setup/docker-compose-quickstart.sh
Labels: documentation, ci-cd, docker, config

docs: improve .mintlifyignore with comprehensive sections and patterns
  .mintlifyignore
Labels: none

fix: resolve Mintlify parsing errors and move config to docs/
  .claude/settings.local.json
  .mintlifyignore
  docs/architecture/adr-0005-pydantic-ai-integration.mdx
  docs/deployment/model-configuration.md
  docs/development/build-verification.md
  docs/favicon.svg
  docs/mint.json
Labels: documentation

docs: update .github/CLAUDE.md and .github/AGENTS.md with latest info
  .github/AGENTS.md
  .github/CLAUDE.md
Labels: documentation

docs: update all AI coding agent configuration files
  .ai/README.md
  .cursorrules
  .github/copilot-instructions.md
  .openai/codex-instructions.md
Labels: documentation

feat: comprehensive deployment infrastructure update to latest stable versions
  DEPLOYMENT_UPDATE_SUMMARY.md
  deployments/helm/langgraph-agent/Chart.yaml
  deployments/kubernetes/base/keycloak-deployment.yaml
  deployments/kubernetes/base/openfga-deployment.yaml
  deployments/kubernetes/base/openfga-service.yaml
  deployments/kubernetes/base/postgres-service.yaml
  deployments/kubernetes/base/postgres-statefulset.yaml
  deployments/kustomize/base/kustomization.yaml
  docker-compose.yml
  docs/deployment/VERSION_COMPATIBILITY.md
  docs/deployment/kubernetes.md
Labels: documentation, docker, config

feat: enforce production-grade version pinning - remove all :latest tags
  VERSION_PINNING_REMEDIATION.md
  deployments/cloudrun/service.yaml
  deployments/helm/langgraph-agent/Chart.yaml
  deployments/helm/langgraph-agent/values.yaml
  deployments/kubernetes/base/deployment.yaml
  deployments/kustomize/base/kustomization.yaml
  deployments/kustomize/overlays/production/kustomization.yaml
  deployments/kustomize/overlays/staging/kustomization.yaml
  docs/deployment/VERSION_PINNING.md
Labels: documentation

feat: comprehensive Makefile enhancements and monitoring setup
  DEVELOPER_ONBOARDING.md
  Makefile
  docker-compose.yml
  monitoring/MONITORING_QUICKSTART.md
  monitoring/grafana/dashboards.yml
Labels: documentation, ci-cd, docker, observability, config

docs: comprehensive documentation organization and version consistency remediation
  .claude/settings.local.json
  DOCUMENTATION_REMEDIATION.md
  docs/architecture/adr-0018-semantic-versioning-strategy.mdx
  docs/architecture/adr-0020-dual-mcp-transport-protocol.mdx
  docs/architecture/adr-0021-cicd-pipeline-strategy.mdx
  docs/deployment/cloudrun.md
  docs/deployment/kubernetes.md
  docs/deployment/kubernetes.mdx
  docs/deployment/langgraph-platform.md
  docs/deployment/production.md
  docs/development/testing.md
  docs/reference/README.md
  docs/reference/development/build-verification.md
  docs/reference/development/ci-cd.md
  docs/reference/development/development.md
  docs/reference/development/github-actions.md
  docs/reference/development/ide-setup.md
Labels: documentation

chore: organize root directory - move audit reports to reports/
  reports/DEPLOYMENT_UPDATE_SUMMARY.md
  reports/DOCUMENTATION_REMEDIATION.md
  reports/VERSION_PINNING_REMEDIATION.md
Labels: documentation

feat: add automated deployment version bumping on releases
  .github/workflows/bump-deployment-versions.yaml
  DEVELOPER_ONBOARDING.md
  docker-compose.yml
  docs/deployment/RELEASE_PROCESS.md
  scripts/deployment/bump-versions.sh
Labels: documentation, ci-cd, docker, config

fix: resolve 4 GitHub Actions workflow failures
  .github/workflows/ci.yaml
  .github/workflows/quality-tests.yaml
  deployments/helm/langgraph-agent/values.yaml
  hooks/post_gen_project.py
  src/mcp_server_langgraph/schedulers/cleanup.py
  tests/test_retention.py
  tests/test_session_timeout.py
  tests/test_storage.py
Labels: tests, ci-cd

fix(workflows): resolve all 4 failing GitHub Actions workflows
  .github/workflows/quality-tests.yaml
  .github/workflows/security-scan.yaml
  scripts/validation/validate_deployments.py
Labels: ci-cd, security

fix(workflows): comprehensive GitHub Actions fixes - resolve all failing workflows
  .github/workflows/ci.yaml
  .github/workflows/pr-checks.yaml
  .github/workflows/quality-tests.yaml
  deployments/helm/mcp-server-langgraph/templates/_helpers.tpl
Labels: ci-cd

chore: initialize gh-pages branch for benchmark storage
  README.md
Labels: documentation

feat: complete optional workflow enhancements - gh-pages and Helm dependencies
  .github/workflows/quality-tests.yaml
  deployments/helm/mcp-server-langgraph/Chart.lock
  deployments/helm/mcp-server-langgraph/charts/keycloak-24.2.2.tgz
  deployments/helm/mcp-server-langgraph/charts/openfga-0.2.12.tgz
  deployments/helm/mcp-server-langgraph/charts/postgresql-16.6.2.tgz
  deployments/helm/mcp-server-langgraph/charts/redis-20.6.2.tgz
Labels: ci-cd

chore: update Docker and Kubernetes deployments to latest versions
  .dockerignore
  deployments/kubernetes/base/keycloak-deployment.yaml
  deployments/kubernetes/base/postgres-statefulset.yaml
  docker/docker-compose.dev.yml
  docker/docker-compose.yml
Labels: docker

fix(ci): comprehensive GitHub Actions workflow updates and root directory cleanup
  .github/workflows/bump-deployment-versions.yaml
  .github/workflows/ci.yaml
  .github/workflows/pr-checks.yaml
  .github/workflows/quality-tests.yaml
  .github/workflows/release.yaml
  .github/workflows/security-scan.yaml
  docker/.dockerignore
  docker/Dockerfile
  logo/favicon.svg
Labels: ci-cd, security

chore: remove moved files from root directory
  .dockerignore
  Dockerfile
  docker-compose.yml
  favicon.svg
Labels: docker, config

feat: Docker-based Infisical build with multi-track installation strategy
  docker/Dockerfile
  docker/Dockerfile.infisical-builder
  docs/deployment/infisical-installation.md
  pyproject.toml
  requirements-infisical.txt
  requirements-pinned.txt
  scripts/build-infisical-wheels.sh
  tests/test_infisical_optional.py
Labels: documentation, tests, dependencies, config

feat: containerized integration test environment with Docker Compose
  .github/workflows/ci.yaml
  Makefile
  README.md
  docker/Dockerfile.test
  docker/docker-compose.test.yml
  docs/development/integration-testing.md
  scripts/test-integration.sh
  scripts/wait-for-services.sh
  tests/conftest.py
  tests/utils/__init__.py
  tests/utils/docker.py
Labels: documentation, tests, ci-cd

docs: update CHANGELOG for Infisical and integration test features
  CHANGELOG.md
Labels: documentation

docs: update README with v2.2-2.5 features and version history
  README.md
Labels: documentation

feat: add version-selectable documentation to Mintlify
  docs/architecture/adr-0012-compliance-framework-integration.mdx
  docs/mint.json
  docs/releases/overview.mdx
  docs/releases/v2-1-0.mdx
  docs/releases/v2-2-0.mdx
  docs/releases/v2-3-0.mdx
  docs/releases/v2-4-0.mdx
  docs/releases/v2-5-0.mdx
  docs/security/compliance.mdx
Labels: documentation

chore: stop tracking .claude/settings.local.json
  .claude/settings.local.json
Labels: none

docs: fix and enhance Mermaid diagrams for better rendering
  docs/guides/multi-llm-setup.mdx
  docs/releases/overview.mdx
Labels: documentation

feat: add structured JSON logging and OTLP collector configs (Part 1)
  monitoring/otel-collector/aws-cloudwatch.yaml
  monitoring/otel-collector/gcp-cloud-logging.yaml
  monitoring/otel-collector/otel-collector.yaml
  pyproject.toml
  src/mcp_server_langgraph/core/config.py
  src/mcp_server_langgraph/observability/json_logger.py
  src/mcp_server_langgraph/observability/telemetry.py
Labels: dependencies, observability, config

feat: add OTLP collector configs for Azure, Elasticsearch, Datadog, Splunk (Part 2)
  monitoring/otel-collector/azure-monitor.yaml
  monitoring/otel-collector/datadog.yaml
  monitoring/otel-collector/elasticsearch.yaml
  monitoring/otel-collector/splunk.yaml
Labels: observability

.github/labeler.yml:

# Auto-labeler configuration for PRs
# Uses changed-files pattern matching

# Documentation
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'
      - '**/*.mdx'
      - 'docs/**/*'
      - 'mint.json'
      - '.mcp/*.json'

# Tests
tests:
  - changed-files:
    - any-glob-to-any-file:
      - 'tests/**/*'
      - '**/*test*.py'
      - 'test_*.py'
      - '*_test.py'
      - 'pytest.ini'
      - 'conftest.py'
      - 'TESTING.md'

# CI/CD
ci-cd:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**/*'
      - '.github/actions/**/*'
      - '.gitlab-ci.yml'
      - 'Makefile'
      - '.pre-commit-config.yaml'

# Dependencies
dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'requirements*.txt'
      - 'setup.py'
      - 'pyproject.toml'
      - 'poetry.lock'
      - 'package*.json'
      - 'yarn.lock'

# Docker
docker:
  - changed-files:
    - any-glob-to-any-file:
      - 'Dockerfile*'
      - 'docker-compose*.yml'
      - '.dockerignore'

# Kubernetes/Deployment
deployment:
  - changed-files:
    - any-glob-to-any-file:
      - 'kubernetes/**/*'
      - 'kustomize/**/*'
      - 'helm/**/*'
      - 'k8s/**/*'
      - 'KUBERNETES_DEPLOYMENT.md'
      - 'PRODUCTION_DEPLOYMENT.md'

# Authentication/Authorization
auth:
  - changed-files:
    - any-glob-to-any-file:
      - 'auth.py'
      - 'openfga_client.py'
      - 'setup_openfga.py'

# Secrets Management
secrets:
  - changed-files:
    - any-glob-to-any-file:
      - 'secrets_manager.py'
      - 'setup_infisical.py'

# Observability
observability:
  - changed-files:
    - any-glob-to-any-file:
      - 'observability.py'
      - 'health_check.py'
      - 'monitoring/**/*'
      - 'grafana/**/*'

# MCP Server
mcp:
  - changed-files:
    - any-glob-to-any-file:
      - 'mcp_server*.py'
      - 'examples/*client*.py'

# Agent/Core
agent:
  - changed-files:
    - any-glob-to-any-file:
      - 'agent.py'
      - 'graph.py'
      - 'models.py'
      - 'prompt*.py'

# Configuration
config:
  - changed-files:
    - any-glob-to-any-file:
      - 'config.py'
      - '.env*'
      - 'settings.py'
      - '*.yaml'
      - '*.yml'
      - '*.toml'
      - '*.ini'
      - '.editorconfig'

# Security
security:
  - changed-files:
    - any-glob-to-any-file:
      - 'auth.py'
      - 'secrets_manager.py'
      - 'openfga_client.py'
      - 'SECURITY*.md'
      - '.github/workflows/security-scan.yaml'
      - 'scripts/validate_production.py'

# Community
community:
  - changed-files:
    - any-glob-to-any-file:
      - 'CODE_OF_CONDUCT.md'
      - 'CONTRIBUTING.md'
      - 'DEVELOPMENT.md'
      - '.github/SUPPORT.md'
      - '.github/FUNDING.yml'
      - '.github/ISSUE_TEMPLATE/**/*'
      - '.github/PULL_REQUEST_TEMPLATE.md'
