Repository vishnu2kmohan/mcp-server-langgraph, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, tests, ci-cd, dependencies, docker, deployment, auth, secrets, observability, mcp, agent, config, security, community

.github/labeler.yml:

# Auto-labeler configuration for PRs
# Uses changed-files pattern matching

# Documentation
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'
      - '**/*.mdx'
      - 'docs/**/*'
      - 'mint.json'
      - '.mcp/*.json'

# Tests
tests:
  - changed-files:
    - any-glob-to-any-file:
      - 'tests/**/*'
      - '**/*test*.py'
      - 'test_*.py'
      - '*_test.py'
      - 'pytest.ini'
      - 'conftest.py'
      - 'TESTING.md'

# CI/CD
ci-cd:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**/*'
      - '.github/actions/**/*'
      - '.gitlab-ci.yml'
      - 'Makefile'
      - '.pre-commit-config.yaml'

# Dependencies
dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'requirements*.txt'
      - 'setup.py'
      - 'pyproject.toml'
      - 'poetry.lock'
      - 'package*.json'
      - 'yarn.lock'

# Docker
docker:
  - changed-files:
    - any-glob-to-any-file:
      - 'Dockerfile*'
      - 'docker-compose*.yml'
      - '.dockerignore'

# Kubernetes/Deployment
deployment:
  - changed-files:
    - any-glob-to-any-file:
      - 'kubernetes/**/*'
      - 'kustomize/**/*'
      - 'helm/**/*'
      - 'k8s/**/*'
      - 'KUBERNETES_DEPLOYMENT.md'
      - 'PRODUCTION_DEPLOYMENT.md'

# Authentication/Authorization
auth:
  - changed-files:
    - any-glob-to-any-file:
      - 'auth.py'
      - 'openfga_client.py'
      - 'setup_openfga.py'

# Secrets Management
secrets:
  - changed-files:
    - any-glob-to-any-file:
      - 'secrets_manager.py'
      - 'setup_infisical.py'

# Observability
observability:
  - changed-files:
    - any-glob-to-any-file:
      - 'observability.py'
      - 'health_check.py'
      - 'monitoring/**/*'
      - 'grafana/**/*'

# MCP Server
mcp:
  - changed-files:
    - any-glob-to-any-file:
      - 'mcp_server*.py'
      - 'examples/*client*.py'

# Agent/Core
agent:
  - changed-files:
    - any-glob-to-any-file:
      - 'agent.py'
      - 'graph.py'
      - 'models.py'
      - 'prompt*.py'

# Configuration
config:
  - changed-files:
    - any-glob-to-any-file:
      - 'config.py'
      - '.env*'
      - 'settings.py'
      - '*.yaml'
      - '*.yml'
      - '*.toml'
      - '*.ini'
      - '.editorconfig'

# Security
security:
  - changed-files:
    - any-glob-to-any-file:
      - 'auth.py'
      - 'secrets_manager.py'
      - 'openfga_client.py'
      - 'SECURITY*.md'
      - '.github/workflows/security-scan.yaml'
      - 'scripts/validate_production.py'

# Community
community:
  - changed-files:
    - any-glob-to-any-file:
      - 'CODE_OF_CONDUCT.md'
      - 'CONTRIBUTING.md'
      - 'DEVELOPMENT.md'
      - '.github/SUPPORT.md'
      - '.github/FUNDING.yml'
      - '.github/ISSUE_TEMPLATE/**/*'
      - '.github/PULL_REQUEST_TEMPLATE.md'

add Benchmark (pytest) benchmark result for 8248f0364a5c6a24a8ce46a5b86c82f11c76f6bb
  dev/bench/data.js
Labels: none

test: improve Keycloak coverage and enable 19 contract compliance tests
  openapi.json
  scripts/development/generate_openapi.py
  tests/contract/test_mcp_contract.py
  tests/property/test_auth_properties.py
  tests/property/test_cache_properties.py
  tests/property/test_resilience_properties.py
  tests/test_keycloak.py
Labels: tests

cleanup: remove duplicate openapi.json from scripts directory
  scripts/openapi.json
Labels: none

add Benchmark (pytest) benchmark result for f23c4db96abd3cec5a44457ecafb6e4a6e3124a8
  dev/bench/data.js
Labels: none

add Benchmark (pytest) benchmark result for a56bf4c1b46fa0e2c9c07fbaec3b6b4eca169a4f
  dev/bench/data.js
Labels: none

fix: resolve CI test failures - property tests and unit test isolation
  .github/workflows/quality-tests.yaml
  tests/conftest.py
Labels: tests, ci-cd

add Benchmark (pytest) benchmark result for eefe61b8c1afcd4e7ec07dca99734613e2affca7
  dev/bench/data.js
Labels: none

test: improve test reliability and add dev dependency management
  .claude/context/recent-work.md
  pyproject.toml
  src/mcp_server_langgraph/mcp/server_streamable.py
  tests/property/test_cache_properties.py
  tests/property/test_resilience_properties.py
  tests/resilience/test_integration.py
  tests/test_distributed_checkpointing.py
  tests/test_mcp_streamable.py
Labels: documentation, tests, dependencies, config

build: add pre-commit, bandit, and mypy to dev dependencies
  pyproject.toml
Labels: dependencies, config

add Benchmark (pytest) benchmark result for b06648b61e53da277a88113b02c6c0cbe85ddb69
  dev/bench/data.js
Labels: none

build: standardize on uv for dependency management across all environments
  .github/actions/setup-python-deps/action.yml
  docs/advanced/development-setup.mdx
  docs/getting-started/installation.mdx
Labels: documentation, ci-cd

add Benchmark (pytest) benchmark result for d83effcb384301bf523d7b0a1a3d26f42f7709ea
  dev/bench/data.js
Labels: none

perf: optimize test coverage execution for 50-80% faster iteration
  Makefile
  pyproject.toml
  tests/core/test_cache.py
  tests/resilience/test_circuit_breaker.py
  tests/resilience/test_fallback.py
  tests/resilience/test_timeout.py
  tests/test_session.py
Labels: tests, ci-cd, dependencies, config

build: standardize on uv for dependency management (Phase 1 & 2)
  .github/workflows/ci.yaml
  .github/workflows/quality-tests.yaml
  .python-version
  README.md
  docs/advanced/development-setup.mdx
  docs/getting-started/installation.mdx
  requirements-infisical.txt
  requirements-pinned.txt
  requirements-test.txt
  requirements.txt
Labels: documentation, ci-cd, dependencies

build: complete uv migration for remaining workflows (Phase 3)
  .github/workflows/coverage-trend.yaml
  .github/workflows/release.yaml
  .github/workflows/security-scan.yaml
Labels: ci-cd, security

fix: resolve 5 resilience test failures with improved test isolation
  src/mcp_server_langgraph/resilience/__init__.py
  tests/property/test_resilience_properties.py
  tests/resilience/test_integration.py
Labels: tests

docs: add comprehensive uv migration guide
  docs/guides/uv-migration.md
Labels: documentation

build: optimize Docker builds with uv and remove deprecated requirements.txt
  .github/workflows/ci.yaml
  deployments/langgraph-platform/requirements.txt
  docker/Dockerfile
  docker/Dockerfile.test
  requirements-pinned.txt
  requirements-test.txt
  requirements.txt
  scripts/deployment/publish_to_registry.sh
  scripts/validation/validate_production.py
Labels: ci-cd, dependencies

fix: resolve all deprecation warnings from test coverage
  src/mcp_server_langgraph/integrations/alerting.py
  src/mcp_server_langgraph/mcp/server_streamable.py
  src/mcp_server_langgraph/tools/calculator_tools.py
  tests/contract/test_mcp_contract.py
  tests/regression/test_performance_regression.py
  tests/test_data_deletion.py
  tests/test_mcp_streamable.py
  tests/unit/test_calculator_tools.py
  tests/unit/test_filesystem_tools.py
  tests/unit/test_search_tools.py
  tests/unit/test_tools_catalog.py
Labels: tests

build: track uv.lock for reproducible CI builds
  .claude/context/recent-work.md
  .gitignore
  .pre-commit-config.yaml
  uv.lock
Labels: documentation, ci-cd, config

add Benchmark (pytest) benchmark result for 92e838f096018aa54edc3a957689f4c2281eaae0
  dev/bench/data.js
Labels: none

perf: parallelize and optimize Makefile targets for 40-80% speedup
  Makefile
Labels: ci-cd

fix: resolve CI test failures with flake8 and circuit breaker isolation
  .github/workflows/ci.yaml
  tests/unit/test_llm_fallback_kwargs.py
Labels: tests, ci-cd

add Benchmark (pytest) benchmark result for 898bc7279e0abcc777d8d73e0ab9b3dd2e712c44
  dev/bench/data.js
Labels: none

add Benchmark (pytest) benchmark result for 220034566c5ee92e5a2127a580855870d0d8d8e4
  dev/bench/data.js
Labels: none

feat: comprehensive infrastructure optimization for 71% cost reduction
  .github/workflows/ci-optimized.yaml
  OPTIMIZATION_COMPLETE.md
  deployments/optimized/deployment.yaml
  docker/.dockerignore.optimized
  docker/Dockerfile.optimized
  docs/OPTIMIZATION_IMPLEMENTATION_GUIDE.md
  docs/OPTIMIZATION_SUMMARY.md
  scripts/generate-optimized-manifests.sh
  scripts/migrate-to-consolidated-kustomize.sh
Labels: documentation, ci-cd

add Benchmark (pytest) benchmark result for 1be6f0e1cf5b78ebb3a7cc7e2c21484afcef7e4b
  dev/bench/data.js
Labels: none

fix(ci): prevent security-scan workflow from running on push events
  .github/workflows/security-scan.yaml
Labels: ci-cd, security

add Benchmark (pytest) benchmark result for 25e70fd2e4a3011f7e32c02c70acfdeb5405315a
  dev/bench/data.js
Labels: none

test: fix observability initialization errors in search tools tests
  tests/unit/test_search_tools.py
Labels: tests

add Benchmark (pytest) benchmark result for cbad99eea377d865567b5b1ec97747762218b23d
  dev/bench/data.js
Labels: none

feat(phase2): complete dependency optimization with image variants
  docker/Dockerfile.optimized
  uv.lock
Labels: none

add Benchmark (pytest) benchmark result for c45c5ac396fa47503a8c2865afc5a24d2d435838
  dev/bench/data.js
Labels: none

feat: apply all infrastructure optimizations to production
  .github/workflows/ci.old.yaml
  .github/workflows/ci.yaml
  deployments/kubernetes/base/deployment.yaml
  deployments/optimized/hpa.yaml
  deployments/optimized/postgres-statefulset.yaml
  deployments/optimized/redis-session-deployment.yaml
  docker/.dockerignore
  docker/.dockerignore.old
  docker/Dockerfile
  docker/Dockerfile.old
  docker/Dockerfile.optimized
  pyproject.toml
  src/mcp_server_langgraph/auth/session.py
  uv.lock
Labels: ci-cd, dependencies, config

fix: disable OpenTelemetry GRPC exporters in test environments
  Makefile
  docker/docker-compose.test.yml
  tests/conftest.py
Labels: tests, ci-cd

refactor: fix linting errors in tests/conftest.py
  tests/conftest.py
Labels: tests

add Benchmark (pytest) benchmark result for e34deffd96ffafeb4c76af50f5b2e7ad79f88171
  dev/bench/data.js
Labels: none

docs: fix lint configuration inconsistencies and documentation alignment
  .claude/commands/lint.md
  .gitignore
Labels: documentation

add Benchmark (pytest) benchmark result for 83883afed3745d7fccf528ed6ef5e1d3db63b1ca
  dev/bench/data.js
Labels: none

feat: track lint workflow documentation and git hooks
  .claude/memory/lint-workflow.md
  .claude/settings.local.json
  .claude/templates/adr-template.md
  .claude/templates/api-design-template.md
  .claude/templates/bug-investigation-template.md
  .gitignore
  scripts/git-hooks/pre-push
Labels: documentation
