Repository vishnu2kmohan/mcp-server-langgraph, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, tests, ci-cd, dependencies, docker, deployment, auth, secrets, observability, mcp, agent, config, security, community

.github/labeler.yml:

# Auto-labeler configuration for PRs
# Uses changed-files pattern matching

# Documentation
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'
      - '**/*.mdx'
      - 'docs/**/*'
      - 'mint.json'
      - '.mcp/*.json'

# Tests
tests:
  - changed-files:
    - any-glob-to-any-file:
      - 'tests/**/*'
      - '**/*test*.py'
      - 'test_*.py'
      - '*_test.py'
      - 'pytest.ini'
      - 'conftest.py'
      - 'TESTING.md'

# CI/CD
ci-cd:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**/*'
      - '.github/actions/**/*'
      - '.gitlab-ci.yml'
      - 'Makefile'
      - '.pre-commit-config.yaml'

# Dependencies
dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'requirements*.txt'
      - 'setup.py'
      - 'pyproject.toml'
      - 'poetry.lock'
      - 'package*.json'
      - 'yarn.lock'

# Docker
docker:
  - changed-files:
    - any-glob-to-any-file:
      - 'Dockerfile*'
      - 'docker-compose*.yml'
      - '.dockerignore'

# Kubernetes/Deployment
deployment:
  - changed-files:
    - any-glob-to-any-file:
      - 'kubernetes/**/*'
      - 'kustomize/**/*'
      - 'helm/**/*'
      - 'k8s/**/*'
      - 'KUBERNETES_DEPLOYMENT.md'
      - 'PRODUCTION_DEPLOYMENT.md'

# Authentication/Authorization
auth:
  - changed-files:
    - any-glob-to-any-file:
      - 'auth.py'
      - 'openfga_client.py'
      - 'setup_openfga.py'

# Secrets Management
secrets:
  - changed-files:
    - any-glob-to-any-file:
      - 'secrets_manager.py'
      - 'setup_infisical.py'

# Observability
observability:
  - changed-files:
    - any-glob-to-any-file:
      - 'observability.py'
      - 'health_check.py'
      - 'monitoring/**/*'
      - 'grafana/**/*'

# MCP Server
mcp:
  - changed-files:
    - any-glob-to-any-file:
      - 'mcp_server*.py'
      - 'examples/*client*.py'

# Agent/Core
agent:
  - changed-files:
    - any-glob-to-any-file:
      - 'agent.py'
      - 'graph.py'
      - 'models.py'
      - 'prompt*.py'

# Configuration
config:
  - changed-files:
    - any-glob-to-any-file:
      - 'config.py'
      - '.env*'
      - 'settings.py'
      - '*.yaml'
      - '*.yml'
      - '*.toml'
      - '*.ini'
      - '.editorconfig'

# Security
security:
  - changed-files:
    - any-glob-to-any-file:
      - 'auth.py'
      - 'secrets_manager.py'
      - 'openfga_client.py'
      - 'SECURITY*.md'
      - '.github/workflows/security-scan.yaml'
      - 'scripts/validate_production.py'

# Community
community:
  - changed-files:
    - any-glob-to-any-file:
      - 'CODE_OF_CONDUCT.md'
      - 'CONTRIBUTING.md'
      - 'DEVELOPMENT.md'
      - '.github/SUPPORT.md'
      - '.github/FUNDING.yml'
      - '.github/ISSUE_TEMPLATE/**/*'
      - '.github/PULL_REQUEST_TEMPLATE.md'

docs: add comprehensive IAM/RBAC requirements and validation
  docs/deployment/gcp-troubleshooting-resolved.md
  docs/deployment/iam-rbac-requirements.md
  scripts/validation/validate-gcp-permissions.sh
Labels: documentation

add Benchmark (pytest) benchmark result for c6bcf66a7417f54c79507754c2356387ae11dd34
  dev/bench/data.js
Labels: none

fix: install kustomize in GKE deployment workflow
  .github/workflows/deploy-staging-gke.yaml
Labels: ci-cd

add Benchmark (pytest) benchmark result for 570947f77e0b3b56f3992eeffa544ca3f9dde7a3
  dev/bench/data.js
Labels: none

test: enable service principal tests by adding @pytest.mark.unit markers
  tests/test_service_principal_manager.py
Labels: tests

fix: resolve kustomize namespace conflict and ConfigMap generator error
  deployments/overlays/staging-gke/kustomization.yaml
Labels: none

add Benchmark (pytest) benchmark result for a542439cedef47639e35b6ed8efaf6ca44a75deb
  dev/bench/data.js
Labels: none

fix: add missing external-secrets.yaml and update gitignore exception
  .gitignore
  deployments/overlays/staging-gke/external-secrets.yaml
Labels: none

add Benchmark (pytest) benchmark result for ed215321709f70acbc3aafc637b9925f76a87f01
  dev/bench/data.js
Labels: none

fix(ci): resolve 7 failing CI/CD workflow issues
  .github/workflows/ci.yaml
  .github/workflows/deploy-staging-gke.yaml
  .github/workflows/gcp-compliance-scan.yaml
  .github/workflows/gcp-drift-detection.yaml
  .pre-commit-config.yaml
Labels: ci-cd, config

fix: resolve pre-commit hook failures blocking dependabot PRs
  .flake8
  docs/.mintlify/templates/deployment-template.mdx
  scripts/setup/setup_ldap_federation.py
  scripts/setup/setup_oidc_idp.py
  scripts/setup/setup_saml_idp.py
  scripts/update_kong_jwks.py
Labels: documentation

add Benchmark (pytest) benchmark result for 6afdf1ddcf0f2ec2d58562f2d73eaffefc994af7
  dev/bench/data.js
Labels: none

add Benchmark (pytest) benchmark result for 32110d3c2ad67de9cc6fa4fded2b99d78ebd18d4
  dev/bench/data.js
Labels: none

fix(gke): add External Secrets Operator installation to deployment workflow
  .github/workflows/deploy-staging-gke.yaml
  scripts/gcp/setup-staging-infrastructure.sh
Labels: ci-cd

add Benchmark (pytest) benchmark result for 567807ffaf5940d1b0b70b5e1c1e2f91e0cd1342
  dev/bench/data.js
Labels: none

fix: add E501 to flake8 ignore list in pre-commit config
  .pre-commit-config.yaml
Labels: ci-cd, config

add Benchmark (pytest) benchmark result for 63971ef5a7f176919975cb10384163a1a6544c34
  dev/bench/data.js
Labels: none

fix(gke): replace ESO installation with verification to fix permission errors
  .github/workflows/deploy-staging-gke.yaml
Labels: ci-cd

add Benchmark (pytest) benchmark result for b17ab2592b8184f743fbd4d0738dc41409a9cef3
  dev/bench/data.js
Labels: none

ci: bump the cicd-actions group across 1 directory with 5 updates (#71)
  .github/workflows/deploy-production-gke.yaml
  .github/workflows/deploy-staging-gke.yaml
  .github/workflows/gcp-compliance-scan.yaml
  .github/workflows/gcp-drift-detection.yaml
  .github/workflows/release.yaml
  .github/workflows/security-scan.yaml
Labels: ci-cd, security

ci: bump the github-core-actions group across 1 directory with 3 updates (#70)
  .github/workflows/cost-tracking.yaml
  .github/workflows/coverage-trend.yaml
  .github/workflows/gcp-compliance-scan.yaml
  .github/workflows/gcp-drift-detection.yaml
  .github/workflows/quality-tests.yaml
  .github/workflows/release.yaml
  .github/workflows/security-scan.yaml
  .github/workflows/track-skipped-tests.yaml
Labels: ci-cd, security

ci: bump github/codeql-action from 4.30.9 to 4.31.0 (#67)
  .github/workflows/deploy-production-gke.yaml
  .github/workflows/gcp-compliance-scan.yaml
  .github/workflows/security-scan.yaml
Labels: ci-cd, security

add Benchmark (pytest) benchmark result for bad74e108e68337fb8ac1881d6c95780aacafdb9
  dev/bench/data.js
Labels: none

add Benchmark (pytest) benchmark result for 50f75ba4c189f89cc22144490a5ac61854c6dfb5
  dev/bench/data.js
Labels: none

ci: bump trufflesecurity/trufflehog from 3.90.11 to 3.90.12 (#66)
  .github/workflows/security-scan.yaml
Labels: ci-cd, security

add Benchmark (pytest) benchmark result for 01584a319ec0c9d6cc50f054d9e311d3c36061b2
  dev/bench/data.js
Labels: none

fix(workflows): resolve 7 critical GitHub Actions issues for production readiness
  .github/workflows/deploy-production-gke.yaml
  .github/workflows/gcp-compliance-scan.yaml
Labels: ci-cd

add Benchmark (pytest) benchmark result for 4bcb4bfec7a512a79786b38bcd92809456324912
  dev/bench/data.js
Labels: none

feat(workflows): Phase 2 security and reliability improvements
  .github/workflows/build-hygiene.yaml
  .github/workflows/ci.yaml
  .github/workflows/cost-tracking.yaml
  .github/workflows/link-checker.yaml
  .github/workflows/optional-deps-test.yaml
Labels: ci-cd

fix(gke): use server-side dry-run for CRD validation
  .github/workflows/deploy-staging-gke.yaml
Labels: ci-cd

add Benchmark (pytest) benchmark result for b64ac541b0a9e6d042e49923142e5ffe1bf7bde6
  dev/bench/data.js
Labels: none

add Benchmark (pytest) benchmark result for a863b2d8e52ccb2e3c79e83bc70c47430842b35b
  dev/bench/data.js
Labels: none

fix(gke): resolve deployment env var value/valueFrom conflict
  deployments/overlays/staging-gke/configmap-patch.yaml
  deployments/overlays/staging-gke/deployment-patch.yaml
Labels: none

add Benchmark (pytest) benchmark result for f3c5b307e31d51b755f60912ca7ba774c9f75fb9
  dev/bench/data.js
Labels: none

fix(gke): resolve all remaining deployment issues - ESO API version, RBAC, CPU constraints
  deployments/overlays/staging-gke/deployment-patch.yaml
  deployments/overlays/staging-gke/external-secrets.yaml
  scripts/gcp/setup-staging-infrastructure.sh
Labels: none

add Benchmark (pytest) benchmark result for 669f6cb464819ac00b815384dd966daf19dfb374
  dev/bench/data.js
Labels: none

docs(deployment): add comprehensive EKS/AKS deployment guide with GKE lessons
  docs/deployment/eks-aks-deployment-guide.md
Labels: documentation

fix: remove unused RBAC resources from base manifests
  deployments/base/serviceaccount.yaml
Labels: none

add Benchmark (pytest) benchmark result for b97567c63b0e9927488048af5b93bea81f2a680e
  dev/bench/data.js
Labels: none

docs: update EKS/AKS guide with Issue #11 (unused RBAC resources)
  docs/deployment/eks-aks-deployment-guide.md
Labels: documentation
