Repository vishnu2kmohan/mcp-server-langgraph, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, tests, ci-cd, dependencies, docker, deployment, auth, secrets, observability, mcp, agent, config, security, community

feat(docker): enable OpenFGA Playground UI
  docker-compose.test.yml
Labels: docker, config

fix(docker): remove conflicting /dashboard route for Qdrant
  docker-compose.test.yml
Labels: docker, config

feat(docker): restore Qdrant /dashboard route with priority fix
  docker-compose.test.yml
Labels: docker, config

fix(tests): update xfail thresholds in codex regression tests
  docker-compose.test.yml
  tests/meta/test_codex_regression_prevention.py
Labels: tests, docker, config

feat(docker): update Traefik routes for Tempo, Mimir, and MCP Server
  docker-compose.test.yml
Labels: docker, config

fix(tests): make test_init_database_creates_tables xdist-safe
  tests/unit/database/test_session.py
Labels: tests

fix(tests): add xdist isolation markers and vertexai exception
  tests/integration/gateway/test_traefik_auth_middleware.py
  tests/regression/test_dev_dependencies.py
Labels: tests

fix(tests): add spec=httpx.Response to error rate test mock
  tests/monitoring/test_prometheus_client.py
Labels: tests

feat(auth): implement gateway-level authentication with Traefik ForwardAuth
  adr/adr-0068-gateway-level-authentication.md
  docker-compose.test.yml
  docs/architecture/adr-0068-gateway-level-authentication.mdx
Labels: documentation, docker, config

docs: update ADR badge count from 64 to 65
  README.md
Labels: documentation

docs: fix ADR-0068 documentation issues
  adr/README.md
  docs/architecture/adr-0068-gateway-level-authentication.mdx
  docs/architecture/overview.mdx
  docs/docs.json
Labels: documentation

fix(tests): update test fixtures and xdist memory safety
  tests/e2e/test_playground_user_journey.py
  tests/fixtures/database_fixtures.py
  tests/integration/playground/test_playground_api_integration.py
  tests/integration/test_bearer_scheme_diagnostic.py
  tests/integration/test_vertex_ai_anthropic.py
Labels: tests

fix(tests): refactor test_conversation_retrieval to class-based xdist pattern
  tests/integration/test_fixture_cleanup.py
  tests/unit/core/test_conversation_retrieval.py
Labels: tests

feat(auth): configure traefik-forward-auth for gateway protection
  docker-compose.test.yml
  pyproject.toml
  scripts/test-integration.sh
  src/mcp_server_langgraph/auth/keycloak.py
  tests/conftest.py
  tests/e2e/keycloak-test-realm.json
  tests/e2e/real_clients.py
  tests/e2e/test_full_user_journey.py
  tests/e2e/test_real_clients.py
  tests/fixtures/database_fixtures.py
  tests/fixtures/docker_fixtures.py
  tests/integration/gateway/test_traefik_auth_middleware.py
  tests/integration/test_anthropic_enhancements_integration.py
  tests/integration/test_dynamic_context_loader.py
  tests/integration/test_keycloak_admin.py
  tests/meta/test_e2e_keycloak_setup.py
  uv.lock
Labels: tests, dependencies, docker, config

fix(deployments): add memory limits to init containers to prevent OOM
  deployments/base/deployment.yaml
  deployments/base/keycloak-deployment.yaml
  deployments/base/openfga-deployment.yaml
  deployments/overlays/preview-gke/deployment-init-containers-patch.yaml
Labels: none

fix(tests): prevent xdist state contamination in test_session.py
  tests/unit/database/test_session.py
Labels: tests

fix(tests): add azure_identity to skip list and use worker-safe IDs
  docker-compose.test.yml
  tests/e2e/keycloak-test-realm.json
  tests/e2e/test_full_user_journey.py
  tests/regression/test_dev_dependencies.py
Labels: tests, docker, config

fix(tests): use AsyncMock with spec for xdist-safe database validation tests
  tests/unit/health/test_database_checks.py
Labels: tests

fix(tests): prevent xdist state contamination in test_init_database
  tests/unit/database/test_session.py
Labels: tests

fix(auth): add forward-auth middleware to OAuth callback route
  docker-compose.test.yml
  tests/unit/database/test_session.py
Labels: tests, docker, config

fix(tests): increase mypy timeout in test_agent_type_safety to 60s
  tests/unit/core/test_agent_type_safety.py
Labels: tests

feat(auth): add SSO logout redirect to Keycloak
  docker-compose.test.yml
Labels: docker, config

fix(observability): fix Grafana LGTM stack dashboard data issues
  Makefile
  docker-compose.test.yml
  docker/alloy/alloy-config.alloy
  docker/alloy/config.alloy
  docker/loki/loki-config.yaml
  docker/mimir/mimir-config.yaml
  docker/tempo/tempo-config.yaml
  monitoring/grafana/dashboards/keycloak.json
  monitoring/grafana/dashboards/langgraph-agent.json
  monitoring/grafana/dashboards/postgresql.json
  monitoring/grafana/dashboards/qdrant.json
  monitoring/grafana/dashboards/security.json
  monitoring/grafana/datasources.yml
  tests/monitoring/test_budget_monitor.py
  tests/unit/database/test_session.py
Labels: tests, ci-cd, docker, observability, config

feat(observability): add LGTM stack init containers and monitoring dashboards
  docker-compose.test.yml
  docker/loki/loki-config.yaml
  monitoring/grafana/dashboards/lgtm-stack.json
  monitoring/grafana/dashboards/traefik.json
Labels: docker, observability, config

feat(observability): add centralized alerting for all services
  docker-compose.test.yml
  docker/mimir/mimir-config.yaml
  docker/mimir/rules/lgtm-alerts.yaml
  monitoring/grafana/alerting.yml
  tests/monitoring/test_budget_monitor.py
Labels: tests, docker, observability, config

style: auto-format code from pre-push hooks
  src/mcp_server_langgraph/auth/openfga.py
  tests/e2e/conftest.py
  tests/e2e/test_full_user_journey.py
  tests/fixtures/database_fixtures.py
  tests/integration/gateway/test_traefik_auth_middleware.py
  tests/integration/observability/test_lgtm_stack.py
Labels: tests

fix(tests): prevent xdist state contamination in test_init_database
  tests/unit/database/test_session.py
Labels: tests

fix(tests): prevent xdist state contamination in cache isolation test
  tests/unit/core/test_cache_isolation.py
Labels: tests

fix(ci): resolve LGTM stack and mypy CI failures
  Makefile
  docker/loki/loki-config.yaml
  docker/mimir/mimir-config.yaml
  pyproject.toml
  src/mcp_server_langgraph/observability/query/backends/cloudlogging.py
  src/mcp_server_langgraph/observability/query/backends/cloudmonitoring.py
  src/mcp_server_langgraph/observability/query/backends/cloudtrace.py
Labels: ci-cd, dependencies, config

fix(docker): optimize container builds and add restart policies
  docker-compose.test.yml
Labels: docker, config

fix(observability): align LGTM stack with official Helm chart patterns
  Makefile
  docker-compose.test.yml
  docker/mimir/mimir-config.yaml
Labels: ci-cd, docker, config

fix(tests): improve K8s sandbox availability check and isolation markers
  tests/integration/execution/test_kubernetes_sandbox.py
  tests/integration/test_postgres_storage.py
Labels: tests

fix(ci): resolve E2E and coverage CI failures
  .github/workflows/e2e-tests.yaml
  tests/builder/test_builder_security.py
Labels: tests, ci-cd

fix(security): resolve Trivy security scan findings
  .github/workflows/mirror-dependencies.yaml
  deployments/base/otel-collector-deployment.yaml
  deployments/overlays/preview-gke/redis-session-service-patch.yaml
  terraform/environments/gcp-dev/main.tf
  terraform/environments/gcp-prod/main.tf
  tests/meta/test_otel_security_context.py
Labels: tests, ci-cd

feat(observability): add LGTM stack for OpenShift/Rancher deployments
  deployments/base/lgtm/alloy-configmap.yaml
  deployments/base/lgtm/alloy-deployment.yaml
  deployments/base/lgtm/grafana-configmap.yaml
  deployments/base/lgtm/grafana-deployment.yaml
  deployments/base/lgtm/kustomization.yaml
  deployments/base/lgtm/lgtm-networkpolicy.yaml
  deployments/base/lgtm/loki-configmap.yaml
  deployments/base/lgtm/loki-deployment.yaml
  deployments/base/lgtm/mimir-configmap.yaml
  deployments/base/lgtm/mimir-deployment.yaml
  deployments/base/lgtm/tempo-configmap.yaml
  deployments/base/lgtm/tempo-deployment.yaml
  deployments/overlays/openshift/kustomization.yaml
  deployments/overlays/openshift/lgtm-json-patches.yaml
Labels: none

fix(observability): comply with GKE Autopilot resource constraints
  deployments/base/lgtm/alloy-deployment.yaml
  deployments/base/lgtm/grafana-deployment.yaml
  deployments/base/lgtm/loki-configmap.yaml
  deployments/base/lgtm/loki-deployment.yaml
  deployments/base/lgtm/mimir-configmap.yaml
  deployments/base/lgtm/mimir-deployment.yaml
  deployments/base/lgtm/tempo-deployment.yaml
Labels: none

fix(observability): resolve OpenShift and Trivy CI failures for LGTM stack
  .trivyignore
  deployments/base/.trivyignore
  deployments/overlays/openshift/lgtm-json-patches.yaml
Labels: none

feat(mcp): upgrade to MCP specification 2025-11-25 (Phase 1)
  pyproject.toml
  src/mcp_server_langgraph/core/interrupts/mcp_bridge.py
  src/mcp_server_langgraph/mcp/elicitation.py
  src/mcp_server_langgraph/mcp/resources.py
  src/mcp_server_langgraph/mcp/sampling.py
  src/mcp_server_langgraph/mcp/server_streamable.py
  src/mcp_server_langgraph/playground/frontend/src/api/mcp-client.test.ts
  src/mcp_server_langgraph/playground/frontend/src/api/mcp-client.ts
  src/mcp_server_langgraph/playground/frontend/src/api/mcp-types.ts
  src/mcp_server_langgraph/playground/frontend/src/components/MCP/ElicitationDialog.tsx
  src/mcp_server_langgraph/playground/frontend/src/contexts/MCPHostContext.test.tsx
  src/mcp_server_langgraph/playground/frontend/src/hooks/useMCPConnection.test.ts
  src/mcp_server_langgraph/playground/frontend/src/hooks/useMCPElicitation.ts
  tests/integration/contract/mcp_schemas.json
  tests/integration/test_mcp_elicitation.py
  tests/integration/test_mcp_resources.py
  tests/integration/test_mcp_sampling.py
  tests/unit/mcp/test_mcp_sdk_version.py
  uv.lock
Labels: tests, dependencies, config

feat(mcp): implement SEP-1577 and SEP-1330 for MCP 2025-11-25
  src/mcp_server_langgraph/mcp/elicitation.py
  src/mcp_server_langgraph/mcp/sampling.py
  src/mcp_server_langgraph/playground/frontend/src/api/mcp-types.ts
  tests/unit/mcp/test_elicitation_enum_schema.py
  tests/unit/mcp/test_sampling_with_tools.py
Labels: tests

feat(mcp): implement SEP-1303 tool validation errors for MCP 2025-11-25
  src/mcp_server_langgraph/mcp/tool_errors.py
  tests/unit/mcp/test_tool_validation_errors.py
Labels: tests

.github/labeler.yml:

# Auto-labeler configuration for PRs
# Uses changed-files pattern matching

# Documentation
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'
      - '**/*.mdx'
      - 'docs/**/*'
      - 'mint.json'
      - '.mcp/*.json'

# Tests
tests:
  - changed-files:
    - any-glob-to-any-file:
      - 'tests/**/*'
      - '**/*test*.py'
      - 'test_*.py'
      - '*_test.py'
      - 'pytest.ini'
      - 'conftest.py'
      - 'TESTING.md'

# CI/CD
ci-cd:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**/*'
      - '.github/actions/**/*'
      - '.gitlab-ci.yml'
      - 'Makefile'
      - '.pre-commit-config.yaml'

# Dependencies
dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'requirements*.txt'
      - 'setup.py'
      - 'pyproject.toml'
      - 'poetry.lock'
      - 'package*.json'
      - 'yarn.lock'

# Docker
docker:
  - changed-files:
    - any-glob-to-any-file:
      - 'Dockerfile*'
      - 'docker-compose*.yml'
      - '.dockerignore'

# Kubernetes/Deployment
deployment:
  - changed-files:
    - any-glob-to-any-file:
      - 'kubernetes/**/*'
      - 'kustomize/**/*'
      - 'helm/**/*'
      - 'k8s/**/*'
      - 'KUBERNETES_DEPLOYMENT.md'
      - 'PRODUCTION_DEPLOYMENT.md'

# Authentication/Authorization
auth:
  - changed-files:
    - any-glob-to-any-file:
      - 'auth.py'
      - 'openfga_client.py'
      - 'setup_openfga.py'

# Secrets Management
secrets:
  - changed-files:
    - any-glob-to-any-file:
      - 'secrets_manager.py'
      - 'setup_infisical.py'

# Observability
observability:
  - changed-files:
    - any-glob-to-any-file:
      - 'observability.py'
      - 'health_check.py'
      - 'monitoring/**/*'
      - 'grafana/**/*'

# MCP Server
mcp:
  - changed-files:
    - any-glob-to-any-file:
      - 'mcp_server*.py'
      - 'examples/*client*.py'

# Agent/Core
agent:
  - changed-files:
    - any-glob-to-any-file:
      - 'agent.py'
      - 'graph.py'
      - 'models.py'
      - 'prompt*.py'

# Configuration
config:
  - changed-files:
    - any-glob-to-any-file:
      - 'config.py'
      - '.env*'
      - 'settings.py'
      - '*.yaml'
      - '*.yml'
      - '*.toml'
      - '*.ini'
      - '.editorconfig'

# Security
security:
  - changed-files:
    - any-glob-to-any-file:
      - 'auth.py'
      - 'secrets_manager.py'
      - 'openfga_client.py'
      - 'SECURITY*.md'
      - '.github/workflows/security-scan.yaml'
      - 'scripts/validate_production.py'

# Community
community:
  - changed-files:
    - any-glob-to-any-file:
      - 'CODE_OF_CONDUCT.md'
      - 'CONTRIBUTING.md'
      - 'DEVELOPMENT.md'
      - '.github/SUPPORT.md'
      - '.github/FUNDING.yml'
      - '.github/ISSUE_TEMPLATE/**/*'
      - '.github/PULL_REQUEST_TEMPLATE.md'
