Repository vishnu2kmohan/mcp-server-langgraph, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, tests, ci-cd, dependencies, docker, deployment, auth, secrets, observability, mcp, agent, config, security, community

.github/labeler.yml:

# Auto-labeler configuration for PRs
# Uses changed-files pattern matching

# Documentation
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'
      - '**/*.mdx'
      - 'docs/**/*'
      - 'mint.json'
      - '.mcp/*.json'

# Tests
tests:
  - changed-files:
    - any-glob-to-any-file:
      - 'tests/**/*'
      - '**/*test*.py'
      - 'test_*.py'
      - '*_test.py'
      - 'pytest.ini'
      - 'conftest.py'
      - 'TESTING.md'

# CI/CD
ci-cd:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**/*'
      - '.github/actions/**/*'
      - '.gitlab-ci.yml'
      - 'Makefile'
      - '.pre-commit-config.yaml'

# Dependencies
dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'requirements*.txt'
      - 'setup.py'
      - 'pyproject.toml'
      - 'poetry.lock'
      - 'package*.json'
      - 'yarn.lock'

# Docker
docker:
  - changed-files:
    - any-glob-to-any-file:
      - 'Dockerfile*'
      - 'docker-compose*.yml'
      - '.dockerignore'

# Kubernetes/Deployment
deployment:
  - changed-files:
    - any-glob-to-any-file:
      - 'kubernetes/**/*'
      - 'kustomize/**/*'
      - 'helm/**/*'
      - 'k8s/**/*'
      - 'KUBERNETES_DEPLOYMENT.md'
      - 'PRODUCTION_DEPLOYMENT.md'

# Authentication/Authorization
auth:
  - changed-files:
    - any-glob-to-any-file:
      - 'auth.py'
      - 'openfga_client.py'
      - 'setup_openfga.py'

# Secrets Management
secrets:
  - changed-files:
    - any-glob-to-any-file:
      - 'secrets_manager.py'
      - 'setup_infisical.py'

# Observability
observability:
  - changed-files:
    - any-glob-to-any-file:
      - 'observability.py'
      - 'health_check.py'
      - 'monitoring/**/*'
      - 'grafana/**/*'

# MCP Server
mcp:
  - changed-files:
    - any-glob-to-any-file:
      - 'mcp_server*.py'
      - 'examples/*client*.py'

# Agent/Core
agent:
  - changed-files:
    - any-glob-to-any-file:
      - 'agent.py'
      - 'graph.py'
      - 'models.py'
      - 'prompt*.py'

# Configuration
config:
  - changed-files:
    - any-glob-to-any-file:
      - 'config.py'
      - '.env*'
      - 'settings.py'
      - '*.yaml'
      - '*.yml'
      - '*.toml'
      - '*.ini'
      - '.editorconfig'

# Security
security:
  - changed-files:
    - any-glob-to-any-file:
      - 'auth.py'
      - 'secrets_manager.py'
      - 'openfga_client.py'
      - 'SECURITY*.md'
      - '.github/workflows/security-scan.yaml'
      - 'scripts/validate_production.py'

# Community
community:
  - changed-files:
    - any-glob-to-any-file:
      - 'CODE_OF_CONDUCT.md'
      - 'CONTRIBUTING.md'
      - 'DEVELOPMENT.md'
      - '.github/SUPPORT.md'
      - '.github/FUNDING.yml'
      - '.github/ISSUE_TEMPLATE/**/*'
      - '.github/PULL_REQUEST_TEMPLATE.md'

fix(tests): resolve pre-existing test failures in integration and regression tests
  tests/integration/test_docker_image_assets.py
  tests/integration/test_gdpr_endpoints.py
  tests/regression/test_bearer_scheme_isolation.py
Labels: tests

fix(ci): update astral-sh/setup-uv from v5 to v7.1.1
  .github/workflows/ci.yaml
Labels: ci-cd

fix(docker): standardize container names in test compose file
  docker/docker-compose.test.yml
Labels: none

fix(tests): resolve litellm async client cleanup warnings + validate Codex findings
  tests/conftest.py
  tests/meta/test_codex_regression_prevention.py
  tests/regression/test_litellm_cleanup_warnings.py
  tests/regression/test_pytest_xdist_environment_pollution.py
Labels: tests

fix(tests): add timeouts to prevent test hangs in litellm cleanup
  tests/conftest.py
  tests/meta/test_plugin_guards.py
Labels: tests

fix(docs): resolve MDX validation errors blocking Phase 1 push
  docs/kubernetes/KEYCLOAK_READONLY_FILESYSTEM.mdx
  docs/kubernetes/POD_CRASH_RESOLUTION_2025-11-12.mdx
  tests/meta/test_documentation_validation.py
  tests/regression/test_documentation_structure.py
Labels: documentation, tests

fix(deps,terraform): resolve pre-push hook validation errors
  pyproject.toml
  scripts/calculate_gke_resources.py
  terraform/backend-setup-gcp/main.tf
  terraform/environments/aws-staging/main.tf
  uv.lock
Labels: dependencies, config

fix(tests): increase timeout for test_plugin_allows_collect_only_command
  pyproject.toml
  tests/meta/test_codex_config_validation.py
  tests/meta/test_plugin_guards.py
Labels: tests, dependencies, config

feat(ci): enforce Codex recommendations - 80% coverage threshold + benchmark suppression
  docs-internal/COVERAGE_IMPROVEMENT_PLAN.md
Labels: documentation

fix(terraform): fix first GCP bucket uniform_bucket_level_access syntax
  terraform/backend-setup-gcp/main.tf
Labels: none

fix(format): apply black formatting to conftest.py
  src/mcp_server_langgraph/__init__.py
  tests/conftest.py
  tests/meta/test_suite_validation.py
Labels: tests

fix(tests): resolve pytest timeouts and lower coverage threshold to 64%
  pyproject.toml
  tests/meta/test_codex_config_validation.py
Labels: tests, dependencies, config

fix(tests): resolve integration test failures blocking push
  tests/integration/test_mcp_code_execution.py
  tests/integration/test_tool_improvements.py
Labels: tests

fix(tests): replace hard skip with conditional skip in integration tests
  tests/integration/test_mcp_code_execution.py
Labels: tests

fix(core): prevent RecursionError in __getattr__ during importlib.reload()
  src/mcp_server_langgraph/__init__.py
Labels: none

fix(core): complete RecursionError fix by adding auth module support
  src/mcp_server_langgraph/__init__.py
Labels: none

feat(tests): add fast_resilience_config fixture for test performance
  tests/conftest.py
Labels: tests

feat(testing): Phase 2 - Performance Optimization & Regression Prevention
  .pre-commit-config.yaml
  docs-internal/COVERAGE_IMPROVEMENT_PLAN.md
  tests/meta/test_coverage_enforcement.py
  tests/meta/test_performance_regression_suite.py
  tests/meta/test_slow_test_detection.py
Labels: documentation, tests, ci-cd, config

feat(testing): Phase 3a - OpenFGA Test Performance Optimization (95% faster)
  docs-internal/COVERAGE_IMPROVEMENT_PLAN.md
  tests/conftest.py
  tests/meta/test_slow_test_detection.py
  tests/test_openfga_client.py
Labels: documentation, tests

fix(tests): increase timeout for coverage enforcement meta-test + register timeout marker
  pyproject.toml
  tests/meta/test_coverage_enforcement.py
Labels: tests, dependencies, config

feat(testing): Phase 3 Priority 3 - Retry Timing Test Optimization (96% faster)
  docs-internal/COVERAGE_IMPROVEMENT_PLAN.md
  tests/meta/test_slow_test_detection.py
  tests/resilience/test_retry.py
Labels: documentation, tests

feat(claude-code): implement Anthropic best practices compliance with TDD
  src/mcp_server_langgraph/auth/openfga.py
Labels: none

feat(claude-code): implement Anthropic best practices compliance with TDD
  .claude/commands/explore-codebase.md
  .claude/commands/fix-mypy.md
  .claude/commands/plan-feature.md
  .claude/commands/review-pr.md
  .claude/commands/tdd.md
  .claude/commands/verify-tests.md
  .github/CLAUDE.md
  .github/checklists/DEPENDENCY_UPDATE.md
  .github/checklists/PERFORMANCE_OPTIMIZATION.md
  .github/checklists/REFACTORING_CHECKLIST.md
  .github/checklists/SECURITY_AUDIT_CHECKLIST.md
  .github/checklists/TYPE_SAFETY_MIGRATION.md
  tests/meta/test_claude_code_configuration.py
  tests/meta/test_claude_settings_schema.py
  tests/meta/test_migration_checklists.py
  tests/meta/test_slash_commands.py
Labels: documentation, tests

docs(resilience): add ADR for decorator parameter conventions and verify OpenFGA optimization
  docs-internal/ADR-RESILIENCE-DECORATOR-PARAMETERS.md
  docs-internal/COVERAGE_IMPROVEMENT_PLAN.md
Labels: documentation

fix(tests): skip timing-sensitive circuit breaker tests in pytest-xdist
  tests/test_openfga_client.py
Labels: tests

fix(tests): correct prometheus_client module access in singleton test
  tests/monitoring/test_prometheus_client.py
Labels: tests

style(scripts): apply black formatting + fix flake8 unused variable
  scripts/fix_closing_fence_tags.py
  scripts/validators/codeblock_validator_v2.py
Labels: none

fix(integration): resolve Codex integration test findings and infrastructure warnings
  .claude/WORKFLOW_OPTIMIZATION_SUMMARY.md
  .pre-commit-config.yaml
  CODEBLOCK_VALIDATION_REPORT.md
  CODE_BLOCK_FIXES_SUMMARY.md
  REAL_ISSUES_TO_FIX.md
  TEST_SUITE_REPORT.md
  VALIDATOR_FINAL_FINDINGS.md
  VALIDATOR_IMPROVEMENTS_SUMMARY.md
  docker/Dockerfile
  docker/docker-compose.test.yml
  docs/api-reference/authentication.mdx
  docs/api-reference/scim-provisioning.mdx
  docs/api-reference/service-principals.mdx
  docs/architecture/adr-0053-ci-cd-failure-prevention-framework.mdx
  docs/deployment/helm.mdx
  docs/deployment/kubernetes.mdx
  docs/deployment/kubernetes/gke.mdx
  docs/deployment/platform/ci-cd.mdx
  docs/guides/infisical-setup.mdx
  docs/guides/keycloak-sso.mdx
  docs/guides/local-models.mdx
  docs/guides/openfga-setup.mdx
  docs/guides/redis-sessions.mdx
  pyproject.toml
  scripts/init_openfga_test.sh
  scripts/validate_keycloak_config.py
  src/mcp_server_langgraph/mcp/server_stdio.py
  src/mcp_server_langgraph/resilience/circuit_breaker.py
  tests/conftest.py
  tests/integration/test_mcp_code_execution.py
  tests/meta/test_docker_image_contents.py
  tests/meta/test_mcp_public_interface.py
  tests/regression/test_litellm_cleanup_warnings.py
  tests/scripts/test_codeblock_validator_v2.py
  tests/scripts/test_fix_closing_fence_tags.py
  uv.lock
Labels: documentation, tests, ci-cd, dependencies, config

fix: validate and resolve OpenAI Codex test findings
  .claude/commands/README.md
  .claude/templates/README.md
  CODEX_VALIDATION_REPORT_2025-11-15.md
Labels: documentation

feat(claude-code): comprehensive .claude/ configuration optimization and CLAUDE.md/AGENTS.md discoverability enhancement
  .claude/README.md
  AGENTS.md
  CLAUDE.md
  CLAUDE_AGENTS_AUDIT.md
  docs/api-reference/authentication.mdx
  docs/api-reference/scim-provisioning.mdx
  docs/api-reference/service-principals.mdx
  docs/deployment/helm.mdx
  docs/deployment/infrastructure/multi-environment.mdx
  docs/deployment/kubernetes/gke.mdx
  docs/deployment/langgraph-platform.mdx
  docs/deployment/platform/ci-cd.mdx
  docs/deployment/platform/configuration.mdx
  docs/guides/infisical-setup.mdx
  docs/guides/keycloak-sso.mdx
  docs/guides/local-models.mdx
  docs/guides/openfga-setup.mdx
  docs/guides/redis-sessions.mdx
Labels: documentation

feat(docs): optimize CLAUDE.md and AGENTS.md for accuracy and maintainability
  AGENTS.md
  CLAUDE.md
Labels: documentation

feat(tests): comprehensive pytest-xdist and CI meta-test improvements (P1 - OpenAI Codex findings)
  .claude/commands/coverage-gaps.md
  .claude/memory/lint-workflow.md
  .claude/memory/python-environment-usage.md
  .github/workflows/ci.yaml
  docs/deployment/kubernetes/gke.mdx
  docs/deployment/platform/ci-cd.mdx
  docs/deployment/platform/configuration.mdx
  docs/guides/infisical-setup.mdx
  docs/guides/keycloak-sso.mdx
  docs/guides/local-models.mdx
  docs/guides/openfga-setup.mdx
  docs/guides/redis-sessions.mdx
  docs/releases/overview.mdx
  tests/meta/test_claude_code_configuration.py
  tests/meta/test_claude_settings_schema.py
  tests/meta/test_docker_image_contents.py
  tests/meta/test_id_pollution_prevention.py
  tests/meta/test_mcp_public_interface.py
  tests/meta/test_migration_checklists.py
  tests/meta/test_slash_commands.py
  tests/meta/test_xfail_strict_enforcement.py
  tests/regression/test_pytest_xdist_environment_pollution.py
Labels: documentation, tests, ci-cd

fix(docs): resolve all Mintlify MDX parsing errors and broken links
  docs/architecture/adr-0054-pod-failure-prevention-framework.mdx
  docs/guides/openfga-setup.mdx
  docs/guides/redis-sessions.mdx
Labels: documentation

fix: resolve 3 of 4 validated OpenAI Codex integration test findings
  .github/workflows/docs-validation.yaml
  .github/workflows/docs-validation.yml
  .pre-commit-config.yaml
  CHANGELOG.md
  Makefile
  PYTEST_XDIST_STATE_POLLUTION_SCAN_REPORT.md
  docs-internal/DOCS_VALIDATION_SIMPLIFICATION.md
  scripts/add_subprocess_timeouts.py
  scripts/add_subprocess_timeouts_simple.py
  scripts/fix_subprocess_timeouts_comprehensive.py
  scripts/validators/archive/README.md
  scripts/validators/archive/check_internal_links.py.deprecated
  scripts/validators/archive/frontmatter_validator.py.deprecated
  scripts/validators/archive/image_validator.py.deprecated
  scripts/validators/archive/link_validator.py.deprecated
  scripts/validators/archive/navigation_validator.py.deprecated
  tests/PYTEST_XDIST_PREVENTION.md
  tests/helpers/subprocess_helpers.py
  tests/meta/test_claude_settings_schema.py
  tests/meta/test_documentation_references.py
  tests/meta/test_marker_enforcement.py
  tests/meta/test_migration_checklists.py
  tests/meta/test_mypy_enforcement.py
  tests/meta/test_slash_commands.py
  tests/meta/test_subprocess_safety.py
Labels: documentation, tests, ci-cd, config

fix: disable code block language tag validator (too many false positives)
  .github/workflows/docs-validation.yaml
  .pre-commit-config.yaml
  Makefile
Labels: ci-cd, config

fix: resolve import errors and flake8 violations blocking push
  scripts/fix_subprocess_timeouts_comprehensive.py
  scripts/validators/__init__.py
  scripts/validators/archive/frontmatter_validator.py.deprecated
Labels: none

fix: remove commented GitHub Actions expression causing actionlint failure
  .github/workflows/docs-validation.yaml
Labels: ci-cd

feat: re-enable frontmatter validator (complementary to Mintlify)
  scripts/validators/__init__.py
  scripts/validators/frontmatter_validator.py
Labels: none

feat: validate and remediate OpenAI Codex test infrastructure findings
  .claude/commands/README.md
  CLAUDE.md
  docs-internal/ASYNC_MOCK_REMEDIATION_GUIDE.md
  docs-internal/CODEX_FINDINGS_REMEDIATION_SUMMARY.md
  docs-internal/HOOK_PERFORMANCE_OPTIMIZATION_PLAN.md
  scripts/bulk_fix_async_mock.py
  scripts/validate_pre_push_hook.py
  tests/helpers/__init__.py
  tests/helpers/async_mock_helpers.py
  tests/helpers/test_async_mock_helpers.py
Labels: documentation, tests

feat: add git worktree automation for isolated Claude Code sessions
  .claude/commands/cleanup-worktrees.md
  scripts/cleanup-worktrees.sh
  scripts/start-worktree-session.sh
  scripts/test-worktree-automation.sh
Labels: documentation
