Repository vishnu2kmohan/mcp-server-langgraph, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, tests, ci-cd, dependencies, docker, deployment, auth, secrets, observability, mcp, agent, config, security, community

.github/labeler.yml:

# Auto-labeler configuration for PRs
# Uses changed-files pattern matching

# Documentation
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'
      - '**/*.mdx'
      - 'docs/**/*'
      - 'mint.json'
      - '.mcp/*.json'

# Tests
tests:
  - changed-files:
    - any-glob-to-any-file:
      - 'tests/**/*'
      - '**/*test*.py'
      - 'test_*.py'
      - '*_test.py'
      - 'pytest.ini'
      - 'conftest.py'
      - 'TESTING.md'

# CI/CD
ci-cd:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**/*'
      - '.github/actions/**/*'
      - '.gitlab-ci.yml'
      - 'Makefile'
      - '.pre-commit-config.yaml'

# Dependencies
dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'requirements*.txt'
      - 'setup.py'
      - 'pyproject.toml'
      - 'poetry.lock'
      - 'package*.json'
      - 'yarn.lock'

# Docker
docker:
  - changed-files:
    - any-glob-to-any-file:
      - 'Dockerfile*'
      - 'docker-compose*.yml'
      - '.dockerignore'

# Kubernetes/Deployment
deployment:
  - changed-files:
    - any-glob-to-any-file:
      - 'kubernetes/**/*'
      - 'kustomize/**/*'
      - 'helm/**/*'
      - 'k8s/**/*'
      - 'KUBERNETES_DEPLOYMENT.md'
      - 'PRODUCTION_DEPLOYMENT.md'

# Authentication/Authorization
auth:
  - changed-files:
    - any-glob-to-any-file:
      - 'auth.py'
      - 'openfga_client.py'
      - 'setup_openfga.py'

# Secrets Management
secrets:
  - changed-files:
    - any-glob-to-any-file:
      - 'secrets_manager.py'
      - 'setup_infisical.py'

# Observability
observability:
  - changed-files:
    - any-glob-to-any-file:
      - 'observability.py'
      - 'health_check.py'
      - 'monitoring/**/*'
      - 'grafana/**/*'

# MCP Server
mcp:
  - changed-files:
    - any-glob-to-any-file:
      - 'mcp_server*.py'
      - 'examples/*client*.py'

# Agent/Core
agent:
  - changed-files:
    - any-glob-to-any-file:
      - 'agent.py'
      - 'graph.py'
      - 'models.py'
      - 'prompt*.py'

# Configuration
config:
  - changed-files:
    - any-glob-to-any-file:
      - 'config.py'
      - '.env*'
      - 'settings.py'
      - '*.yaml'
      - '*.yml'
      - '*.toml'
      - '*.ini'
      - '.editorconfig'

# Security
security:
  - changed-files:
    - any-glob-to-any-file:
      - 'auth.py'
      - 'secrets_manager.py'
      - 'openfga_client.py'
      - 'SECURITY*.md'
      - '.github/workflows/security-scan.yaml'
      - 'scripts/validate_production.py'

# Community
community:
  - changed-files:
    - any-glob-to-any-file:
      - 'CODE_OF_CONDUCT.md'
      - 'CONTRIBUTING.md'
      - 'DEVELOPMENT.md'
      - '.github/SUPPORT.md'
      - '.github/FUNDING.yml'
      - '.github/ISSUE_TEMPLATE/**/*'
      - '.github/PULL_REQUEST_TEMPLATE.md'

feat(tests): Add comprehensive pytest-xdist isolation safeguards
  .pre-commit-config.yaml
  scripts/validation/validate_test_isolation.py
  tests/PYTEST_XDIST_BEST_PRACTICES.md
  tests/regression/test_pytest_xdist_isolation.py
Labels: documentation, tests, ci-cd, config

fix(tests): Resolve 401 authentication errors and 3 test bugs in pytest-xdist parallel execution
  tests/api/test_api_keys_endpoints.py
  tests/api/test_service_principals_endpoints.py
  tests/regression/test_pytest_xdist_isolation.py
  tests/test_code_execution_config.py
  tests/unit/test_security_practices.py
Labels: tests

fix(tests): resolve P0 dead test code and add preventive infrastructure (TDD)
  .pre-commit-config.yaml
  docs-internal/CODEX_FINDINGS_2025-11-11_VALIDATION_REPORT.md
  scripts/detect_dead_test_code.py
  tests/builder/api/test_server.py
  tests/builder/test_code_generator.py
  tests/meta/test_codex_regression_prevention.py
Labels: documentation, tests, ci-cd, config

fix(tests): Add bearer_scheme override to eliminate all 401 errors in pytest-xdist
  tests/PYTEST_XDIST_BEST_PRACTICES.md
  tests/api/test_api_keys_endpoints.py
  tests/api/test_service_principals_endpoints.py
  tests/regression/test_bearer_scheme_isolation.py
Labels: documentation, tests

fix(docs,tests): fix code block validator bug and sync ADR-0051 to docs (TDD)
  docs-internal/CODEX_FINDINGS_2025-11-11_VALIDATION_REPORT.md
  docs/architecture/adr-0051-memorystore-redis-externalname-service.mdx
  docs/architecture/overview.mdx
  scripts/validate_code_block_languages.py
Labels: documentation

docs(internal): Add comprehensive pytest-xdist state pollution resolution guide
  docs-internal/PYTEST_XDIST_STATE_POLLUTION_RESOLUTION.md
  docs-internal/TEST_SUITE_RESOLUTION_FINAL_REPORT.md
Labels: documentation

fix(tests): Complete pytest-xdist isolation with worker-scoped resources (TDD)
  adr/adr-0052-pytest-xdist-isolation-strategy.md
  tests/conftest.py
  tests/integration/test_gdpr_endpoints.py
  tests/regression/test_pytest_xdist_environment_pollution.py
  tests/regression/test_pytest_xdist_port_conflicts.py
  tests/regression/test_pytest_xdist_worker_database_isolation.py
  tests/test_gdpr.py
  tests/unit/core/test_cache_isolation.py
  tests/utils/__init__.py
  tests/utils/worker_utils.py
Labels: documentation, tests

feat(tests): Add pytest-xdist additional improvements (TDD backstop, docs, infra markers)
  tests/MEMORY_SAFETY_GUIDELINES.md
  tests/PYTEST_XDIST_BEST_PRACTICES.md
  tests/e2e/test_infrastructure_validation.py
  tests/regression/test_fastapi_auth_override_sanity.py
  tests/test_conftest_fixtures_plugin_enhancements.py
Labels: documentation, tests

docs(adr): Sync ADR-0052 to docs/architecture/ and update overview
  docs/architecture/adr-0052-pytest-xdist-isolation-strategy.mdx
  docs/architecture/overview.mdx
Labels: documentation

test(coverage): Add critical P0 security and error handling tests for SCIM, auth middleware, and app factory
  tests/api/test_scim_security.py
  tests/test_auth.py
  tests/unit/test_app_factory.py
Labels: tests

docs(tests): Add comprehensive pytest-xdist enforcement strategy and meta-validation
  tests/PYTEST_XDIST_ENFORCEMENT.md
  tests/meta/test_pytest_xdist_enforcement.py
Labels: documentation, tests

test(coverage): Add comprehensive edge case and error path tests for SCIM, error handlers, sessions, and OpenFGA
  tests/api/test_error_handlers.py
  tests/api/test_scim_security.py
  tests/test_openfga_client.py
  tests/test_session.py
Labels: tests

fix(ci,deps,tests): resolve all CI/CD failures with TDD approach
  .github/workflows/security-scan.yaml
  pyproject.toml
  tests/regression/test_dev_dependencies.py
  uv.lock
Labels: tests, ci-cd, dependencies, config, security

docs(tests): Add diagnostic tests and troubleshooting guide for Docker image staleness
  tests/DOCKER_IMAGE_STALENESS_GUIDE.md
  tests/regression/test_bearer_scheme_override_diagnostic.py
Labels: documentation, tests

feat(ci,tests,docs): add comprehensive preventive measures for test dependency issues
  .pre-commit-config.yaml
  docs/advanced/testing.mdx
  scripts/validation/validate_workflow_test_deps.py
  tests/conftest.py
  tests/e2e/test_full_user_journey.py
  tests/e2e/test_scim_provisioning.py
  tests/integration/test_gdpr_endpoints.py
  tests/integration/test_mcp_startup_validation.py
  tests/regression/test_bearer_scheme_override_diagnostic.py
  tests/regression/test_fastapi_auth_override_sanity.py
  tests/test_conftest_fixtures_plugin_enhancements.py
  tests/test_session.py
  tests/unit/core/test_config_network_security.py
  tests/unit/test_security_practices.py
Labels: documentation, tests, ci-cd, config

fix(tests): Resolve OpenAI Codex test quality findings and improve test isolation
  tests/e2e/test_full_user_journey.py
Labels: tests

feat(ci,validation): Add automated Docker image freshness validation
  Makefile
  scripts/validation/validate_docker_image_freshness.sh
  tests/DOCKER_IMAGE_STALENESS_GUIDE.md
  tests/regression/test_bearer_scheme_override_diagnostic.py
Labels: documentation, tests, ci-cd

fix(tests): resolve E2E authentication failures with user credential alignment
  tests/e2e/test_full_user_journey.py
  tests/test_mcp_streamable.py
Labels: tests

feat(ci,tests,docs): implement comprehensive CI/CD failure prevention framework
  docs/architecture/adr-0045-ci-cd-failure-prevention-framework.mdx
  scripts/ci_health_check.py
  tests/regression/test_documentation_code_blocks.py
  tests/regression/test_precommit_hook_dependencies.py
  tests/regression/test_service_principal_test_isolation.py
  tests/regression/test_terraform_configuration.py
Labels: documentation, tests

fix(k8s,tests): resolve GKE security compliance and pytest-xdist bearer_scheme isolation
  deployments/base/deployment.yaml
  deployments/base/keycloak-deployment.yaml
  deployments/base/openfga-deployment.yaml
  deployments/base/otel-collector-deployment.yaml
  deployments/base/postgres-statefulset.yaml
  deployments/base/qdrant-deployment.yaml
  deployments/base/redis-session-deployment.yaml
  tests/api/test_service_principals_endpoints.py
Labels: tests

fix(terraform): align all Google provider versions to ~> 5.0 for compatibility
  terraform/backend-setup-gcp/main.tf
  terraform/environments/gcp-dev/main.tf
  terraform/environments/gcp-prod/main.tf
  terraform/environments/gcp-staging-wif-only/main.tf
  terraform/environments/gcp-staging/main.tf
  terraform/modules/cloud-dns-staging/main.tf
  terraform/modules/cloudsql/versions.tf
  terraform/modules/gcp-project-services/versions.tf
  terraform/modules/gcp-vpc/versions.tf
  terraform/modules/github-actions-wif/versions.tf
  terraform/modules/gke-autopilot/versions.tf
  terraform/modules/gke-workload-identity/versions.tf
  terraform/modules/memorystore/versions.tf
Labels: none

fix(tests,docs,k8s): comprehensive fixes for pytest-xdist auth and security validation
  .claude/commands/quick-debug.md
  .claude/commands/test-fast.md
  .github/workflows/docs-validation.yml
  .pre-commit-config.yaml
  adr/adr-0045-ci-cd-failure-prevention-framework.md
  clients/typescript/README.md
  deployments/base/postgres-statefulset.yaml
  docs/guides/keycloak-sso.mdx
  scripts/check_internal_links.py
  scripts/check_version_consistency.py
  scripts/fix_mdx_syntax.py
  tests/api/conftest.py
  tests/api/test_api_keys_endpoints.py
  tests/api/test_service_principals_endpoints.py
  tests/kubernetes/test_kube_score_compliance.py
  tests/regression/test_dev_dependencies.py
  tests/test_link_checker.py
Labels: documentation, tests, ci-cd, config

feat(docs): add comprehensive validation infrastructure with TDD
  Makefile
  docs-internal/VALIDATION_INFRASTRUCTURE.md
  scripts/README.md
Labels: documentation, ci-cd

fix(tests): add importlib.reload() to force router re-evaluation after monkeypatch
  Makefile
  tests/api/test_api_keys_endpoints.py
  tests/api/test_service_principals_endpoints.py
Labels: tests, ci-cd

docs(validation): add comprehensive implementation summary
  docs-internal/VALIDATION_IMPLEMENTATION_SUMMARY.md
Labels: documentation

feat(validation): achieve 100% test pass rate and fix version checker
  pyproject.toml
  scripts/check_version_consistency.py
  tests/test_link_checker.py
  tests/test_mdx_validation.py
  uv.lock
Labels: tests, dependencies, config

fix(docs): resolve MDX syntax errors in deployment guides
  docs/deployment/binary-authorization.mdx
  docs/deployment/cost-optimization.mdx
Labels: documentation

docs(validation): add quick start guide
  docs-internal/VALIDATION_QUICKSTART.md
Labels: documentation

fix(ci): resolve all CI/CD pipeline failures with preventive measures
  .github/workflows/docs-validation.yml
  deployments/overlays/staging-gke/deployment-redis-url-json-patch.yaml
  deployments/overlays/staging-gke/kustomization.yaml
  deployments/overlays/staging-gke/openfga-patch.yaml
  pyproject.toml
  tests/api/test_service_principals_endpoints.py
  tests/meta/test_pytest_marker_registration.py
Labels: tests, ci-cd, dependencies, config

fix(tests): resolve all API test failures using dependency_overrides
  docs-internal/audits/workflow-analysis.md
  docs-internal/planning/IMPLEMENTATION_ROADMAP.md
  tests/api/conftest.py
  tests/api/test_api_keys_endpoints.py
  tests/api/test_service_principals_endpoints.py
Labels: documentation, tests

fix(ci): ensure tests run with correct Python version from matrix
  .github/workflows/ci.yaml
Labels: ci-cd

fix(k8s): resolve staging pod crashes and implement preventive measures
  .githooks/pre-commit
  .github/workflows/validate-k8s-configs.yml
  deployments/overlays/staging-gke/keycloak-patch.yaml
  deployments/overlays/staging-gke/kustomization.yaml
  deployments/overlays/staging-gke/otel-collector-configmap-patch.yaml
  deployments/overlays/staging-gke/otel-collector-patch.yaml
  deployments/overlays/staging-gke/serviceaccount-otel-collector-patch.yaml
  docs-internal/operations/STAGING_POD_CRASH_REMEDIATION.md
  scripts/validate_gke_autopilot_compliance.py
  tests/regression/test_pod_deployment_regression.py
Labels: documentation, tests, ci-cd

fix(ci): use --python flag in uv sync to prevent venv recreation
  .github/workflows/ci.yaml
Labels: ci-cd

feat(ci): comprehensive preventive measures for CI/CD failures
  .pre-commit-config.yaml
  pyproject.toml
  scripts/validate_ci_cd.py
  src/mcp_server_langgraph/auth/middleware.py
  tests/api/conftest.py
  tests/api/test_api_keys_endpoints.py
  tests/api/test_service_principals_endpoints.py
  tests/regression/test_uv_lockfile_sync.py
Labels: tests, ci-cd, dependencies, config

docs(ops): add comprehensive pod failure prevention framework
  adr/README.md
  adr/adr-0054-pod-failure-prevention-framework.md
  docs-internal/operations/DEPLOYMENT_CHECKLIST.md
  docs-internal/operations/POD_FAILURE_TROUBLESHOOTING_RUNBOOK.md
  docs/architecture/adr-0054-pod-failure-prevention-framework.mdx
  docs/docs.json
Labels: documentation

docs(ops): add pod failure prevention implementation summary
  docs-internal/operations/POD_FAILURE_PREVENTION_IMPLEMENTATION_SUMMARY.md
Labels: documentation

docs: update ADR count badge and reorganize documentation structure
  CI_CD_REMEDIATION_FINAL_REPORT.md
  DOCUMENTATION_VALIDATION.md
  README.md
  SECURITY.md
  adr/adr-0053-ci-cd-failure-prevention-framework.md
  deployments/overlays/staging-gke/keycloak-patch.yaml
  docs-internal/audits/VALIDATION-REPORT.md
  docs-internal/operations/DEPLOYMENT_REMEDIATION_SUMMARY.md
  docs-internal/operations/STAGING_DEPLOYMENT_FIX_REPORT.md
  docs-internal/testing/TEST_INFRASTRUCTURE_REMEDIATION_SUMMARY.md
  docs/architecture/adr-0053-ci-cd-failure-prevention-framework.mdx
  scripts/generate_adr_index.py
  tests/regression/test_documentation_structure.py
Labels: documentation, tests, security

fix(ci): comprehensive remediation of CI/CD workflow failures
  .pre-commit-config.yaml
  deployments/overlays/staging-gke/keycloak-patch.yaml
  tests/api/test_api_versioning.py
  tests/api/test_router_registration.py
  tests/deployment/pytest.ini
  tests/deployment/test_security_hardening.py
  tests/deployment/test_staging_deployment_requirements.py
  tests/regression/test_service_principal_test_isolation.py
Labels: tests, ci-cd, config

feat(security): complete security hardening & preventive framework
  .github/workflows/quality-tests.yaml
  .pre-commit-config.yaml
  deployments/SECURITY_REQUIREMENTS.md
  deployments/base/keycloak-deployment.yaml
  deployments/overlays/production-gke/keycloak-patch.yaml
  tests/API_TESTING.md
  tests/regression/test_documentation_structure.py
Labels: documentation, tests, ci-cd, config

fix(ci): comprehensive remediation of CI/CD workflow failures
  .pre-commit-config.yaml
  deployments/overlays/dev/deployment-patch.yaml
  deployments/overlays/dev/kustomization.yaml
  deployments/overlays/dev/otel-collector-patch.yaml
  deployments/overlays/dev/postgres-patch.yaml
  deployments/overlays/dev/qdrant-patch.yaml
  deployments/overlays/dev/redis-session-patch.yaml
  deployments/overlays/production-gke/deployment-patch.yaml
  deployments/overlays/production/kustomization.yaml
  deployments/overlays/production/otel-collector-patch.yaml
  deployments/overlays/production/postgres-patch.yaml
  deployments/overlays/production/qdrant-patch.yaml
  deployments/overlays/production/redis-session-patch.yaml
  deployments/overlays/staging/kustomization.yaml
  deployments/overlays/staging/otel-collector-patch.yaml
  deployments/overlays/staging/postgres-patch.yaml
  deployments/overlays/staging/qdrant-patch.yaml
  deployments/overlays/staging/redis-session-patch.yaml
  docs/guides/migration-guide.mdx
  docs/troubleshooting/overview.mdx
  pyproject.toml
Labels: documentation, ci-cd, dependencies, config
