Repository vishnu2kmohan/mcp-server-langgraph, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, tests, ci-cd, dependencies, docker, deployment, auth, secrets, observability, mcp, agent, config, security, community

.github/labeler.yml:

# Auto-labeler configuration for PRs
# Uses changed-files pattern matching

# Documentation
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'
      - '**/*.mdx'
      - 'docs/**/*'
      - 'mint.json'
      - '.mcp/*.json'

# Tests
tests:
  - changed-files:
    - any-glob-to-any-file:
      - 'tests/**/*'
      - '**/*test*.py'
      - 'test_*.py'
      - '*_test.py'
      - 'pytest.ini'
      - 'conftest.py'
      - 'TESTING.md'

# CI/CD
ci-cd:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**/*'
      - '.github/actions/**/*'
      - '.gitlab-ci.yml'
      - 'Makefile'
      - '.pre-commit-config.yaml'

# Dependencies
dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'requirements*.txt'
      - 'setup.py'
      - 'pyproject.toml'
      - 'poetry.lock'
      - 'package*.json'
      - 'yarn.lock'

# Docker
docker:
  - changed-files:
    - any-glob-to-any-file:
      - 'Dockerfile*'
      - 'docker-compose*.yml'
      - '.dockerignore'

# Kubernetes/Deployment
deployment:
  - changed-files:
    - any-glob-to-any-file:
      - 'kubernetes/**/*'
      - 'kustomize/**/*'
      - 'helm/**/*'
      - 'k8s/**/*'
      - 'KUBERNETES_DEPLOYMENT.md'
      - 'PRODUCTION_DEPLOYMENT.md'

# Authentication/Authorization
auth:
  - changed-files:
    - any-glob-to-any-file:
      - 'auth.py'
      - 'openfga_client.py'
      - 'setup_openfga.py'

# Secrets Management
secrets:
  - changed-files:
    - any-glob-to-any-file:
      - 'secrets_manager.py'
      - 'setup_infisical.py'

# Observability
observability:
  - changed-files:
    - any-glob-to-any-file:
      - 'observability.py'
      - 'health_check.py'
      - 'monitoring/**/*'
      - 'grafana/**/*'

# MCP Server
mcp:
  - changed-files:
    - any-glob-to-any-file:
      - 'mcp_server*.py'
      - 'examples/*client*.py'

# Agent/Core
agent:
  - changed-files:
    - any-glob-to-any-file:
      - 'agent.py'
      - 'graph.py'
      - 'models.py'
      - 'prompt*.py'

# Configuration
config:
  - changed-files:
    - any-glob-to-any-file:
      - 'config.py'
      - '.env*'
      - 'settings.py'
      - '*.yaml'
      - '*.yml'
      - '*.toml'
      - '*.ini'
      - '.editorconfig'

# Security
security:
  - changed-files:
    - any-glob-to-any-file:
      - 'auth.py'
      - 'secrets_manager.py'
      - 'openfga_client.py'
      - 'SECURITY*.md'
      - '.github/workflows/security-scan.yaml'
      - 'scripts/validate_production.py'

# Community
community:
  - changed-files:
    - any-glob-to-any-file:
      - 'CODE_OF_CONDUCT.md'
      - 'CONTRIBUTING.md'
      - 'DEVELOPMENT.md'
      - '.github/SUPPORT.md'
      - '.github/FUNDING.yml'
      - '.github/ISSUE_TEMPLATE/**/*'
      - '.github/PULL_REQUEST_TEMPLATE.md'

fix(tests): standardize PostgreSQL test port to 9432 across all integration tests
  tests/integration/compliance/test_postgres_audit_log_store.py
  tests/integration/compliance/test_postgres_consent_store.py
  tests/integration/compliance/test_postgres_conversation_store.py
  tests/integration/compliance/test_postgres_preferences_store.py
  tests/integration/compliance/test_postgres_user_profile_store.py
  tests/integration/security/test_sql_injection_gdpr.py
Labels: tests

fix(tests): add unique teardown fixtures for xdist memory safety compliance
  tests/integration/compliance/test_postgres_audit_log_store.py
  tests/integration/compliance/test_postgres_consent_store.py
  tests/integration/compliance/test_postgres_conversation_store.py
  tests/integration/compliance/test_postgres_preferences_store.py
  tests/integration/compliance/test_postgres_user_profile_store.py
  tests/integration/patterns/test_supervisor.py
  tests/integration/patterns/test_swarm.py
  tests/integration/test_kubernetes_health_probes.py
  tests/integration/test_pydantic_ai.py
  tests/integration/test_workflow_health_dashboard.py
  tests/integration/test_workflow_health_dashboard_bc_fix.py
Labels: tests

fix(tests): add unit markers to test files for CI visibility
  tests/unit/test_cache_redis_config.py
  tests/unit/test_dependencies_wiring.py
Labels: tests

fix(tests): correct project root path calculation in GDPR schema tests
  tests/integration/security/test_gdpr_schema_setup.py
Labels: tests

fix(tests): correct project root path in SQL injection test db_pool fixture
  tests/integration/security/test_sql_injection_gdpr.py
Labels: tests

fix(tests): use shared db_pool_gdpr fixture instead of local db_pool
  tests/integration/security/test_sql_injection_gdpr.py
Labels: tests

refactor(infra): isolate PostgreSQL databases for each service
  docker-compose.test.yml
  migrations/000_init_databases.sh
Labels: docker, config

docs(migrations): add comprehensive Alembic migration strategy documentation
  alembic/README.md
  alembic/env.py
Labels: documentation

fix(infra): resolve CI infrastructure timeout and monitoring issues
  .github/workflows/deploy-staging-gke.yaml
  .github/workflows/workflow-health-dashboard.yaml
  alembic/README
  deployments/helm/mcp-server-langgraph/templates/deployment.yaml
  tests/integration/test_docker_health_checks.py
Labels: tests, ci-cd

fix(ci): create missing consolidated GitHub workflow validator script
  scripts/validators/validate_github_workflows_comprehensive.py
Labels: none

fix(infra): resolve GKE staging pod failures with TDD approach
  .github/workflows/deploy-staging-gke.yaml
  deployments/base/keycloak-deployment.yaml
  deployments/overlays/staging-gke/keycloak-patch.yaml
  deployments/overlays/staging-gke/kustomization.yaml
  deployments/overlays/staging-gke/otel-collector-patch.yaml
  tests/kubernetes/test_kustomize_staging_gke.py
Labels: tests, ci-cd

fix(gdpr): datetime serialization and database rename to gdpr_test
  migrations/000_init_databases.sh
  src/mcp_server_langgraph/compliance/gdpr/postgres_storage.py
  tests/integration/compliance/test_postgres_audit_log_store.py
  tests/integration/compliance/test_postgres_consent_store.py
  tests/integration/compliance/test_postgres_conversation_store.py
  tests/integration/compliance/test_postgres_preferences_store.py
  tests/integration/compliance/test_postgres_user_profile_store.py
Labels: tests

fix(tests): update conftest.py database name to gdpr_test
  tests/conftest.py
  tests/kubernetes/test_kustomize_staging_gke.py
Labels: tests

fix(kustomize): use staging-latest tag for mcp-server-langgraph image
  deployments/overlays/staging-gke/kustomization.yaml
Labels: none

fix(security): document readOnlyRootFilesystem exception for Keycloak/Quarkus
  deployments/overlays/staging-gke/.trivyignore
Labels: none

feat(database): implement comprehensive multi-database architecture with validation
  .github/CONTRIBUTING.md
  .github/workflows/integration-tests.yaml
  README.md
  adr/adr-0056-database-architecture-and-naming-convention.md
  deployments/QUICKSTART.md
  deployments/base/postgres-statefulset.yaml
  deployments/overlays/staging-gke/keycloak-patch.yaml
  docker-compose.dev.yml
  docker/docker-compose.yml
  docs/architecture/adr-0056-database-architecture-and-naming-convention.mdx
  migrations/000_init_databases.sh
  package.json
  scripts/postgres/init-multiple-databases.sh
  src/mcp_server_langgraph/health/database_checks.py
  tests/integration/health/test_database_validation_integration.py
  tests/unit/health/test_database_checks.py
Labels: documentation, tests, ci-cd, dependencies, docker, config

docs: fix naming conventions and frontmatter compliance
  deployments/base/deployment.yaml
  deployments/overlays/staging-gke/keycloak-patch.yaml
  docs/architecture/adr-0056-database-architecture-and-naming-convention.mdx
  docs/deployment/kubernetes/gke.mdx
  docs/development/cache-management-strategy.mdx
  docs/development/commands.mdx
  docs/development/coverage-threshold-philosophy.mdx
  docs/development/validation-strategy.mdx
  docs/development/workflow-diagram.mdx
  docs/development/workflows.mdx
  docs/docs.json
  docs/infrastructure/docker-healthcheck-patterns.mdx
  docs/kubernetes/configmap-best-practices.mdx
  docs/kubernetes/keycloak-readonly-filesystem.mdx
  docs/kubernetes/pod-crash-resolution-2025-11-12.mdx
  docs/security/try-except-pass-analysis.mdx
  docs/workflows/secrets.mdx
  scripts/profile_pre_push_hooks.sh
  tests/deployment/test_security_hardening.py
  tests/deployment/test_staging_deployment_requirements.py
  tests/kubernetes/test_kustomize_staging_gke.py
Labels: documentation, tests

docs: convert contributor guides to public .mdx
  .github/workflows/integration-tests.yaml
  docs-internal/SEQUENCE_DIAGRAM_THEME.md
  docs-internal/reports/mintlify-broken-links-report.md
  docs/.mintlify/MERMAID_OPTIMIZATION_GUIDE.md
  docs/.mintlify/templates
  docs/docs.json
  docs/references/documentation-authoring-guide.mdx
  docs/references/icon-selection-guide.mdx
  src/mcp_server_langgraph/compliance/gdpr/postgres_storage.py
  tests/conftest.py
  tests/test_postgres_connection_config.py
Labels: documentation, tests, ci-cd

fix(scripts): resolve all 45 shellcheck warnings to pass CI workflow
  .pre-commit-config.yaml
  docs/development/workflows.mdx
  scripts/bump-version.sh
  scripts/check-deployment-health.sh
  scripts/check-pr-status.sh
  scripts/dependency-audit.sh
  scripts/deploy-all-phases.sh
  scripts/deploy-azure-aks.sh
  scripts/deployment/deploy_langgraph_platform.sh
  scripts/development/generate_clients.sh
  scripts/gcp/setup-staging-infrastructure.sh
  scripts/gcp/setup-vertex-ai-staging.sh
  scripts/gcp/teardown-staging-infrastructure.sh
  scripts/test-worktree-automation.sh
  scripts/test_agentic_loop.sh
  scripts/validate-infrastructure.sh
  scripts/validators/file_naming_validator.py
  tests/unit/documentation/test_file_naming_validator.py
Labels: documentation, tests, ci-cd, config

fix(docs): resolve all MDX syntax errors and broken links for Mintlify validation
  docs/architecture/adr-0056-database-architecture-and-naming-convention.mdx
  docs/deployment/kubernetes/gke.mdx
  docs/development/commands.mdx
  docs/development/workflow-diagram.mdx
  docs/development/workflows.mdx
  docs/guides/local-models.mdx
Labels: documentation

docs: add SEO fields to all MDX files (Phase 4)
  .trufflehogignore
  docs/api-reference/api-keys.mdx
  docs/api-reference/scim-provisioning.mdx
  docs/api-reference/sdk-quickstart.mdx
  docs/api-reference/service-principals.mdx
  docs/architecture/adr-0050-dependency-singleton-pattern-justification.mdx
  docs/architecture/adr-0051-memorystore-redis-externalname-service.mdx
  docs/architecture/adr-0052-pytest-xdist-isolation-strategy.mdx
  docs/architecture/adr-0053-ci-cd-failure-prevention-framework.mdx
  docs/architecture/adr-0054-pod-failure-prevention-framework.mdx
  docs/architecture/adr-0056-database-architecture-and-naming-convention.mdx
  docs/architecture/adr-0058-pytest-xdist-state-pollution-prevention.mdx
  docs/ci-cd-troubleshooting.mdx
  docs/ci-cd/elite-features.mdx
  docs/ci-cd/local-testing.mdx
  docs/ci-cd/overview.mdx
  docs/deployment/advanced/api-gateway.mdx
  docs/deployment/gcp-configuration.mdx
  docs/deployment/gke-autopilot-resource-constraints.mdx
  docs/deployment/iam-rbac-requirements.mdx
  docs/deployment/kubernetes/multi-cloud-lessons.mdx
  docs/deployment/operations/issue-prevention.mdx
  docs/development/cache-management-strategy.mdx
  docs/development/coverage-threshold-philosophy.mdx
  docs/development/workflows.mdx
  docs/getting-started/day-1-developer.mdx
  docs/guides/container-migration.mdx
  docs/infrastructure/docker-healthcheck-patterns.mdx
  docs/kubernetes/configmap-best-practices.mdx
  docs/kubernetes/keycloak-readonly-filesystem.mdx
  docs/kubernetes/pod-crash-resolution-2025-11-12.mdx
  docs/references/documentation-authoring-guide.mdx
  docs/references/icon-selection-guide.mdx
  docs/security/remediation-guide.mdx
  docs/security/try-except-pass-analysis.mdx
  docs/workflows/secrets.mdx
  scripts/add_seo_fields.py
  scripts/validators/frontmatter_validator.py
Labels: documentation

fix(security): document TruffleHog exclusions for test credentials
  .github/workflows/gcp-compliance-scan.yaml
  docs-internal/P1_GCP_COMPLIANCE_FIX.md
Labels: documentation, ci-cd

fix(tests): add spec to AsyncMock instances to prevent authorization bypass (2/65+)
  tests/api/test_bearer_scheme_diagnostic.py
  tests/regression/test_bearer_scheme_isolation.py
Labels: tests

fix(tests): add spec to AsyncMock instances - cleanup scheduler + e2e clients (22/65+)
  tests/e2e/test_real_clients.py
  tests/test_cleanup_scheduler.py
Labels: tests

fix(tests): add spec to Keycloak AsyncMock instances - startup validation (26/65+)
  tests/integration/test_app_startup_validation.py
  tests/integration/test_mcp_startup_validation.py
Labels: tests

fix(tests): add spec to GDPR and API key manager AsyncMock instances
  tests/integration/test_gdpr.py
  tests/test_api_key_manager.py
Labels: tests

fix(tests): add spec to Redis AsyncMock in API key performance tests
  tests/integration/security/test_api_key_performance_monitoring.py
Labels: tests

fix(tests): add spec to LLMFactory AsyncMock in checkpointing tests
  tests/integration/test_distributed_checkpointing.py
Labels: tests

fix(tests): add spec to OpenFgaClient AsyncMock in OpenFGA integration tests
  tests/integration/test_openfga_client.py
Labels: tests

fix(tests): add spec to asyncpg.Connection AsyncMock in database health checks
  tests/unit/health/test_database_checks.py
Labels: tests

fix(tests): add spec to httpx AsyncMock in search tools tests
  tests/unit/test_search_tools.py
Labels: tests

fix(tests): add noqa to generic AsyncMock in pytest-xdist isolation tests
  tests/regression/test_pytest_xdist_isolation.py
Labels: tests

refactor(types): remove 39 unused type ignore comments (139→105 errors)
  src/mcp_server_langgraph/auth/middleware.py
  src/mcp_server_langgraph/core/agent.py
  src/mcp_server_langgraph/core/context_manager.py
  src/mcp_server_langgraph/core/dynamic_context_loader.py
  src/mcp_server_langgraph/infrastructure/app_factory.py
  src/mcp_server_langgraph/llm/factory.py
  src/mcp_server_langgraph/llm/validators.py
  src/mcp_server_langgraph/llm/verifier.py
  src/mcp_server_langgraph/mcp/server_stdio.py
  src/mcp_server_langgraph/mcp/server_streamable.py
  src/mcp_server_langgraph/middleware/rate_limiter.py
  src/mcp_server_langgraph/middleware/session_timeout.py
  src/mcp_server_langgraph/monitoring/cost_tracker.py
  src/mcp_server_langgraph/patterns/hierarchical.py
  src/mcp_server_langgraph/patterns/supervisor.py
  src/mcp_server_langgraph/patterns/swarm.py
  src/mcp_server_langgraph/resilience/circuit_breaker.py
  src/mcp_server_langgraph/resilience/retry.py
  src/mcp_server_langgraph/secrets/manager.py
  src/mcp_server_langgraph/tools/tool_discovery.py
  src/mcp_server_langgraph/utils/response_optimizer.py
Labels: none

refactor(types): add type ignores for 78 untyped decorators (105→27 errors)
  src/mcp_server_langgraph/api/api_keys.py
  src/mcp_server_langgraph/api/error_handlers.py
  src/mcp_server_langgraph/api/gdpr.py
  src/mcp_server_langgraph/api/health.py
  src/mcp_server_langgraph/api/scim.py
  src/mcp_server_langgraph/api/service_principals.py
  src/mcp_server_langgraph/api/version.py
  src/mcp_server_langgraph/app.py
  src/mcp_server_langgraph/builder/api/server.py
  src/mcp_server_langgraph/health/checks.py
  src/mcp_server_langgraph/infrastructure/app_factory.py
  src/mcp_server_langgraph/mcp/server_stdio.py
  src/mcp_server_langgraph/mcp/server_streamable.py
  src/mcp_server_langgraph/monitoring/cost_api.py
  src/mcp_server_langgraph/presets/quickstart.py
  src/mcp_server_langgraph/tools/calculator_tools.py
  src/mcp_server_langgraph/tools/code_execution_tools.py
  src/mcp_server_langgraph/tools/filesystem_tools.py
  src/mcp_server_langgraph/tools/search_tools.py
  src/mcp_server_langgraph/tools/tool_discovery.py
Labels: none

refactor(types): add type ignores for 5 third-party subclasses (27→22 errors)
  src/mcp_server_langgraph/core/config.py
  src/mcp_server_langgraph/core/dynamic_context_loader.py
  src/mcp_server_langgraph/core/feature_flags.py
  src/mcp_server_langgraph/middleware/session_timeout.py
  src/mcp_server_langgraph/resilience/circuit_breaker.py
Labels: none

docs(mypy): add Phase 5 progress report (139→22 errors, 84% reduction)
  docs-internal/MYPY_PHASE5_PROGRESS_REPORT.md
Labels: documentation

docs(contributing): document CI_PARITY mode for full integration testing
  CONTRIBUTING.md
Labels: documentation, community

fix(tests): add OTEL shutdown to prevent thread leaks and memory bloat
  tests/conftest.py
Labels: tests

docs(session): add comprehensive session summary for 2025-11-17
  docs-internal/SESSION_SUMMARY_2025-11-17.md
Labels: documentation

docs(adr): fix ADR-0056 duplicate and navigation mismatches
  adr/adr-0060-database-architecture-and-naming-convention.md
  docs/architecture/adr-0060-database-architecture-and-naming-convention.mdx
  docs/docs.json
Labels: documentation
