Repository vishnu2kmohan/mcp-server-langgraph, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, tests, ci-cd, dependencies, docker, deployment, auth, secrets, observability, mcp, agent, config, security, community

.github/labeler.yml:

# Auto-labeler configuration for PRs
# Uses changed-files pattern matching

# Documentation
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'
      - '**/*.mdx'
      - 'docs/**/*'
      - 'mint.json'
      - '.mcp/*.json'

# Tests
tests:
  - changed-files:
    - any-glob-to-any-file:
      - 'tests/**/*'
      - '**/*test*.py'
      - 'test_*.py'
      - '*_test.py'
      - 'pytest.ini'
      - 'conftest.py'
      - 'TESTING.md'

# CI/CD
ci-cd:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**/*'
      - '.github/actions/**/*'
      - '.gitlab-ci.yml'
      - 'Makefile'
      - '.pre-commit-config.yaml'

# Dependencies
dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'requirements*.txt'
      - 'setup.py'
      - 'pyproject.toml'
      - 'poetry.lock'
      - 'package*.json'
      - 'yarn.lock'

# Docker
docker:
  - changed-files:
    - any-glob-to-any-file:
      - 'Dockerfile*'
      - 'docker-compose*.yml'
      - '.dockerignore'

# Kubernetes/Deployment
deployment:
  - changed-files:
    - any-glob-to-any-file:
      - 'kubernetes/**/*'
      - 'kustomize/**/*'
      - 'helm/**/*'
      - 'k8s/**/*'
      - 'KUBERNETES_DEPLOYMENT.md'
      - 'PRODUCTION_DEPLOYMENT.md'

# Authentication/Authorization
auth:
  - changed-files:
    - any-glob-to-any-file:
      - 'auth.py'
      - 'openfga_client.py'
      - 'setup_openfga.py'

# Secrets Management
secrets:
  - changed-files:
    - any-glob-to-any-file:
      - 'secrets_manager.py'
      - 'setup_infisical.py'

# Observability
observability:
  - changed-files:
    - any-glob-to-any-file:
      - 'observability.py'
      - 'health_check.py'
      - 'monitoring/**/*'
      - 'grafana/**/*'

# MCP Server
mcp:
  - changed-files:
    - any-glob-to-any-file:
      - 'mcp_server*.py'
      - 'examples/*client*.py'

# Agent/Core
agent:
  - changed-files:
    - any-glob-to-any-file:
      - 'agent.py'
      - 'graph.py'
      - 'models.py'
      - 'prompt*.py'

# Configuration
config:
  - changed-files:
    - any-glob-to-any-file:
      - 'config.py'
      - '.env*'
      - 'settings.py'
      - '*.yaml'
      - '*.yml'
      - '*.toml'
      - '*.ini'
      - '.editorconfig'

# Security
security:
  - changed-files:
    - any-glob-to-any-file:
      - 'auth.py'
      - 'secrets_manager.py'
      - 'openfga_client.py'
      - 'SECURITY*.md'
      - '.github/workflows/security-scan.yaml'
      - 'scripts/validate_production.py'

# Community
community:
  - changed-files:
    - any-glob-to-any-file:
      - 'CODE_OF_CONDUCT.md'
      - 'CONTRIBUTING.md'
      - 'DEVELOPMENT.md'
      - '.github/SUPPORT.md'
      - '.github/FUNDING.yml'
      - '.github/ISSUE_TEMPLATE/**/*'
      - '.github/PULL_REQUEST_TEMPLATE.md'

feat: enable production-ready feature flags and add documentation
  .env.example
  docs/docs.json
  docs/guides/feature-flags.mdx
  pyproject.toml
  src/mcp_server_langgraph/agents/studio_orchestrator.py
  src/mcp_server_langgraph/api/v1/ai_ux_service.py
  src/mcp_server_langgraph/core/feature_flags.py
  src/mcp_server_langgraph/mcp/handlers/hooks.py
  src/mcp_server_langgraph/studio/frontend/src/api/agentRequestContract.test.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/index.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useHITLIntelligence.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/hooks/useHITLIntelligence.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useUXIntelligence.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/hooks/useUXIntelligence.ts
  tests/unit/mcp/test_hooks_handler.py
Labels: documentation, tests, dependencies, config

fix: update studio orchestrator and hooks exports
  src/mcp_server_langgraph/agents/studio_orchestrator.py
  src/mcp_server_langgraph/studio/frontend/src/hooks/index.ts
Labels: none

feat(skills): add auto-update scheduler for marketplace skills
  src/mcp_server_langgraph/skills/__init__.py
  src/mcp_server_langgraph/skills/auto_update.py
  tests/unit/skills/test_skill_auto_update.py
Labels: tests

feat(observability): add multi-agent cost tracking Grafana dashboard
  monitoring/grafana/dashboards/Application/multi-agent-cost-tracking.json
Labels: observability

test(auth): add TDD tests for encrypted session store
  tests/unit/auth/test_encrypted_session_store.py
Labels: tests

feat(mcp): add webhook client and MCP integration tests
  src/mcp_server_langgraph/mcp/webhook_client.py
  tests/integration/test_mcp_hitl_roundtrip.py
  tests/integration/test_mcp_hooks_extension.py
  tests/integration/test_mcp_orchestration_roundtrip.py
  tests/unit/mcp/test_webhook_client.py
Labels: tests

feat(frontend): add AI intelligence hooks and context
  src/mcp_server_langgraph/studio/frontend/src/api/adminContract.test.ts
  src/mcp_server_langgraph/studio/frontend/src/api/connectionContract.test.ts
  src/mcp_server_langgraph/studio/frontend/src/api/mcpContract.test.ts
  src/mcp_server_langgraph/studio/frontend/src/api/projectContract.test.ts
  src/mcp_server_langgraph/studio/frontend/src/api/sessionContract.test.ts
  src/mcp_server_langgraph/studio/frontend/src/api/workflowContract.test.ts
  src/mcp_server_langgraph/studio/frontend/src/contexts/AIIntelligenceContext.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/contexts/AIIntelligenceContext.tsx
  src/mcp_server_langgraph/studio/frontend/src/contexts/index.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useAICache.test.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useAICache.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useAIMetrics.test.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useAIMetrics.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useAIRealTimeUXSuggestions.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/hooks/useAIRealTimeUXSuggestions.ts
Labels: none

feat(frontend): add AI-aware ErrorBoundary component
  src/mcp_server_langgraph/studio/frontend/src/components/ErrorBoundary/AIErrorBoundary.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/ErrorBoundary/AIErrorBoundary.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/ErrorBoundary/index.ts
Labels: none

feat(api): enhance AI UX service and hooks with rate limiting
  src/mcp_server_langgraph/api/v1/ai_ux_service.py
  src/mcp_server_langgraph/mcp/handlers/hooks.py
  src/mcp_server_langgraph/mcp/server_streamable.py
  tests/unit/api/v1/test_ai_ux_redis_l2_cache.py
  tests/unit/mcp/handlers/test_hooks_rate_limiter.py
Labels: tests

feat(frontend): update Admin, Help, and Layout components
  src/mcp_server_langgraph/studio/frontend/e2e/agent-hitl-approval.spec.ts
  src/mcp_server_langgraph/studio/frontend/src/components/Admin/AgentApprovalDialog.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Admin/AgentApprovalDialog.tsx
  src/mcp_server_langgraph/studio/frontend/src/help/HelpPane.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/help/HelpPane.tsx
  src/mcp_server_langgraph/studio/frontend/src/hooks/index.ts
  src/mcp_server_langgraph/studio/frontend/src/layout/ActivityBar.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/layout/ActivityBar.tsx
  src/mcp_server_langgraph/studio/frontend/src/mocks/handlers.ts
  src/mcp_server_langgraph/studio/frontend/src/mocks/handlers/handlersOrdering.test.ts
Labels: none

chore: update CHANGELOG and fix test import
  CHANGELOG.md
  tests/unit/api/v1/test_ai_ux_redis_l2_cache.py
Labels: documentation, tests

fix: add missing pytestmark and fix deprecation warnings
  src/mcp_server_langgraph/skills/auto_update.py
  tests/unit/agents/test_configurable_subagent_cap.py
  tests/unit/agents/test_context_splitter.py
  tests/unit/agents/test_cost_tracker.py
  tests/unit/agents/test_explanation_caching.py
  tests/unit/agents/test_explanation_metrics.py
  tests/unit/agents/test_handoff.py
  tests/unit/agents/test_subagent_confidence.py
  tests/unit/agents/test_thinking_budget.py
  tests/unit/api/v1/test_agent_request_websocket.py
  tests/unit/api/v1/test_rotating_thresholds.py
  tests/unit/core/test_context_manager_lost_in_middle.py
  tests/unit/core/test_context_manager_model_aware.py
  tests/unit/core/test_context_ranking_deduplication.py
  tests/unit/core/test_llm_hooks.py
  tests/unit/core/test_output_guardrails.py
  tests/unit/llm/test_factory_hooks_integration.py
  tests/unit/llm/test_visual_verifier_cache.py
  tests/unit/llm/test_visual_verifier_retry.py
  tests/unit/mcp/test_mcp_executor.py
  tests/unit/mcp/test_mcp_http_transport.py
  tests/unit/mcp/test_mcp_protocol.py
  tests/unit/mcp/test_mcp_stdio_transport.py
  tests/unit/mcp/test_mcp_tool_proxy.py
  tests/unit/mcp/test_mcp_tool_registry.py
  tests/unit/mcp/test_orchestration_handler.py
  tests/unit/mcp/test_tool_descriptions.py
  tests/unit/skills/test_skill_auto_update.py
  tests/unit/tools/test_edit_file_tool.py
  tests/unit/tools/test_web_fetch_tool.py
  tests/unit/tools/test_write_file_tool.py
Labels: tests

feat(execution): add domain proxy for network allowlist enforcement
  src/mcp_server_langgraph/execution/domain_proxy.py
  src/mcp_server_langgraph/execution/resource_limits.py
  tests/unit/execution/test_domain_proxy.py
Labels: tests

docs: update ADR-0072 with domain proxy implementation
  docs-internal/ADR-0072-ANTHROPIC-BEST-PRACTICES.md
Labels: documentation

feat(execution): add production-ready domain proxy features
  src/mcp_server_langgraph/execution/domain_proxy.py
  tests/unit/execution/test_domain_proxy.py
Labels: tests

feat(skills): add auto-update lifecycle integration
  src/mcp_server_langgraph/api/v1/router.py
  src/mcp_server_langgraph/api/v1/skills.py
  src/mcp_server_langgraph/core/config/_settings.py
  src/mcp_server_langgraph/skills/auto_update.py
  tests/unit/skills/test_auto_update_integration.py
Labels: tests

feat(auth): add encrypted session feature flag helpers
  src/mcp_server_langgraph/auth/session.py
  tests/unit/auth/test_encrypted_session_integration.py
  tests/unit/core/test_cache_mixin.py
Labels: tests

feat(ai): add granular intelligence feature flags and StudioOrchestrator API tests
  src/mcp_server_langgraph/api/v1/agent_request_websocket.py
  src/mcp_server_langgraph/api/v1/agent_requests.py
  src/mcp_server_langgraph/core/feature_flags.py
  tests/integration/test_studio_orchestrator_api.py
  tests/unit/core/test_feature_flags.py
Labels: tests

feat(frontend): implement granular intelligence feature flags integration
  docs-internal/frontend/feature-flags-mapping.md
  src/mcp_server_langgraph/studio/frontend/src/contexts/AIIntelligenceContext.tsx
  src/mcp_server_langgraph/studio/frontend/src/hooks/useAIIntelligenceConfig.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/hooks/useAIIntelligenceConfig.ts
  tests/api/test_frontend_cache_api.py
  tests/unit/auth/test_openfga_factory.py
Labels: documentation, tests

test(e2e): add Session Intelligence E2E tests (Sprint 2)
  src/mcp_server_langgraph/studio/frontend/e2e/session-intelligence.spec.ts
Labels: none

feat(agents): implement Command Intelligence in StudioOrchestrator
  .pre-commit-config.yaml
  src/mcp_server_langgraph/agents/studio_orchestrator.py
  src/mcp_server_langgraph/api/v1/ai_ux_service.py
  tests/unit/agents/test_studio_orchestrator.py
Labels: tests, ci-cd, config

feat(websocket): add global OpenFGA client and WebSocket auth helpers
  src/mcp_server_langgraph/api/v1/heart_metrics_ws.py
  src/mcp_server_langgraph/api/v1/ws_router.py
  src/mcp_server_langgraph/auth/dependencies.py
  src/mcp_server_langgraph/auth/openfga.py
  tests/unit/websocket/test_authz.py
Labels: tests

feat(frontend): export new WebSocket hooks in index.ts (ADR-0068)
  src/mcp_server_langgraph/studio/frontend/src/hooks/index.ts
Labels: none

test(websocket): add comprehensive WebSocket module tests (474 tests)
  tests/unit/websocket_pkg/__init__.py
  tests/unit/websocket_pkg/services/__init__.py
  tests/unit/websocket_pkg/services/test_connections.py
  tests/unit/websocket_pkg/services/test_cost_tracking.py
  tests/unit/websocket_pkg/services/test_heart_metrics.py
  tests/unit/websocket_pkg/services/test_workflow_execution.py
  tests/unit/websocket_pkg/test_authz.py
  tests/unit/websocket_pkg/test_exceptions.py
  tests/unit/websocket_pkg/test_heartbeat.py
  tests/unit/websocket_pkg/test_metrics.py
  tests/unit/websocket_pkg/test_middleware.py
  tests/unit/websocket_pkg/test_redis_rate_limiter.py
  tests/unit/websocket_pkg/test_registry.py
  tests/unit/websocket_pkg/test_resilience.py
  tests/unit/ws_handlers/__init__.py
  tests/unit/ws_handlers/conftest.py
  tests/unit/ws_handlers/test_agent_request.py
  tests/unit/ws_handlers/test_alert.py
  tests/unit/ws_handlers/test_audit.py
  tests/unit/ws_handlers/test_base.py
  tests/unit/ws_handlers/test_connection_health.py
  tests/unit/ws_handlers/test_connections_realtime.py
  tests/unit/ws_handlers/test_cost_tracking.py
  tests/unit/ws_handlers/test_heart_metrics.py
  tests/unit/ws_handlers/test_heartbeat.py
  tests/unit/ws_handlers/test_mcp_task_ws.py
  tests/unit/ws_handlers/test_mcp_websocket_handler.py
  tests/unit/ws_handlers/test_metrics.py
  tests/unit/ws_handlers/test_notification_ws.py
  tests/unit/ws_handlers/test_rate_limiter.py
  tests/unit/ws_handlers/test_websocket_feature_flags.py
  tests/unit/ws_handlers/test_websocket_middleware.py
  tests/unit/ws_handlers/test_websocket_resilience.py
  tests/unit/ws_handlers/test_workflow_execution.py
Labels: tests

test(websocket): add WebSocket types tests and fix broadcast API
  tests/unit/api/v1/test_agent_request_websocket.py
  tests/unit/websocket_pkg/test_types.py
Labels: tests

feat(frontend): enhance layout components and StatusBar
  src/mcp_server_langgraph/studio/frontend/src/components/Admin/BatchApprovalPanel.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Settings/SettingsPanel.tsx
  src/mcp_server_langgraph/studio/frontend/src/help/HelpPane.tsx
  src/mcp_server_langgraph/studio/frontend/src/layout/ActivityBar.tsx
  src/mcp_server_langgraph/studio/frontend/src/layout/HybridShellLayout.tsx
  src/mcp_server_langgraph/studio/frontend/src/layout/ResizeHandle.tsx
  src/mcp_server_langgraph/studio/frontend/src/layout/StatusBar.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/layout/StatusBar.tsx
Labels: none

fix(frontend): improve AI Intelligence hooks stability
  src/mcp_server_langgraph/studio/frontend/src/hooks/useAIEmptyState.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useAINudges.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useAIOnboarding.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useHITLIntelligence.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useSessionIntelligence.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useUXIntelligence.ts
Labels: none

test(e2e): add comprehensive AI Intelligence E2E tests
  src/mcp_server_langgraph/studio/frontend/e2e/canvas-intelligence.spec.ts
  src/mcp_server_langgraph/studio/frontend/e2e/command-intelligence.spec.ts
  src/mcp_server_langgraph/studio/frontend/e2e/conversation-intelligence.spec.ts
  src/mcp_server_langgraph/studio/frontend/e2e/diagram-intelligence.spec.ts
  src/mcp_server_langgraph/studio/frontend/e2e/hitl-intelligence.spec.ts
  src/mcp_server_langgraph/studio/frontend/e2e/trace-intelligence.spec.ts
Labels: none

fix(frontend): update MCP components and mock handlers
  src/mcp_server_langgraph/studio/frontend/src/components/MCP/AddConnectionDialog.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/MCP/ElicitationDialog.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/MCP/PromptTester.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/MCP/ResourceViewer.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/MCP/ToolInvocationDialog.tsx
  src/mcp_server_langgraph/studio/frontend/src/mocks/handlers/agentRequestHandlers.ts
  src/mcp_server_langgraph/studio/frontend/src/mocks/handlers/mcpHandlers.ts
Labels: none

feat(frontend): update canvas, store, and type definitions
  src/mcp_server_langgraph/studio/frontend/src/canvas/CanvasArtifact.tsx
  src/mcp_server_langgraph/studio/frontend/src/canvas/VersionDiff.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/ErrorBoundary/index.ts
  src/mcp_server_langgraph/studio/frontend/src/contexts/index.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useTraceToReactFlow.test.ts
  src/mcp_server_langgraph/studio/frontend/src/store/index.ts
  src/mcp_server_langgraph/studio/frontend/src/store/types.ts
  src/mcp_server_langgraph/studio/frontend/src/types/index.ts
  src/mcp_server_langgraph/studio/frontend/src/utils/storage.ts
  src/mcp_server_langgraph/studio/frontend/tsconfig.json
  src/mcp_server_langgraph/studio/frontend/vitest.config.ts
Labels: none

fix: update backend services and test fixtures
  docker-compose.test.yml
  src/mcp_server_langgraph/core/config/_settings.py
  src/mcp_server_langgraph/storage/workflow/postgres_execution_manager.py
  src/mcp_server_langgraph/utils/spa_static_files.py
  tests/unit/api/v1/test_agent_requests.py
  tests/unit/api/v1/test_ai_ux_enhancements.py
  tests/unit/api/v1/test_ai_ux_llm_service.py
  tests/unit/utils/test_spa_static_files.py
  tests/unit/websocket_pkg/services/test_connections.py
  tests/unit/websocket_pkg/test_types.py
Labels: tests, docker, config

docs: add ADRs, monitoring, and architecture documentation
  adr/adr-0084-studio-orchestrator-unified-ai.md
  deployments/monitoring/alerting-rules/studio-ai-cost-alerts.yaml
  docs-internal/ADR-0073-DEPRECATED-COMPATIBILITY-SHIMS.md
  docs-internal/CACHING_ARCHITECTURE_AUDIT.md
  docs-internal/frontend/COMPONENT_INTEGRATION_PLAN.md
  docs-internal/frontend/SECURITY_XSS_PREVENTION.md
  monitoring/grafana/dashboards/Application/studio-ai-intelligence.json
Labels: documentation, observability

feat(cache): add tiered caching infrastructure
  src/mcp_server_langgraph/api/v1/frontend_cache.py
  src/mcp_server_langgraph/core/cache_mixin.py
  src/mcp_server_langgraph/studio/frontend/src/components/Insights/AICacheMetricsDashboard.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Insights/AICacheMetricsDashboard.tsx
  src/mcp_server_langgraph/studio/frontend/src/hooks/useAICacheMetrics.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/hooks/useAICacheMetrics.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/usePersonaCacheInvalidation.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/hooks/usePersonaCacheInvalidation.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useTieredCache.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/hooks/useTieredCache.ts
  src/mcp_server_langgraph/studio/frontend/src/mocks/handlers/cacheHandlers.test.ts
  src/mcp_server_langgraph/studio/frontend/src/mocks/handlers/cacheHandlers.ts
  tests/integration/core/test_cache_mixin_redis.py
Labels: tests

feat(hitl): add HITL broadcast and MCP message handler
  src/mcp_server_langgraph/hitl/__init__.py
  src/mcp_server_langgraph/hitl/broadcast.py
  src/mcp_server_langgraph/mcp/message_handler.py
  tests/unit/hitl/__init__.py
  tests/unit/hitl/test_broadcast.py
  tests/unit/mcp/test_message_handler.py
Labels: tests

test: add comprehensive unit and integration tests
  tests/integration/auth/test_openfga_client_factory.py
  tests/integration/test_infrastructure_health.py
  tests/unit/api/v1/test_ai_ux_enhancements.py
  tests/unit/api/v1/test_ai_ux_llm_service.py
  tests/unit/api/v1/test_ai_ux_service_mixin_migration.py
  tests/unit/core/test_secrets.py
  tests/unit/websocket_pkg/handlers/test_handlers_init.py
  tests/unit/websocket_pkg/test_base.py
  tests/unit/websocket_pkg/test_init.py
  tests/unit/websocket_pkg/test_rate_limiter_memory.py
Labels: tests

feat(frontend): add API contract tests and studio handlers
  src/mcp_server_langgraph/studio/frontend/scripts/validate-test-cleanup.ts
  src/mcp_server_langgraph/studio/frontend/src/api/costContract.test.ts
  src/mcp_server_langgraph/studio/frontend/src/api/healthMiscContract.test.ts
  src/mcp_server_langgraph/studio/frontend/src/api/notificationContract.test.ts
  src/mcp_server_langgraph/studio/frontend/src/api/vectorsContract.test.ts
  src/mcp_server_langgraph/studio/frontend/src/contexts/ConnectedAIIntelligenceProvider.tsx
  src/mcp_server_langgraph/studio/frontend/src/mocks/handlers/handlerOrderingMeta.test.ts
  src/mcp_server_langgraph/studio/frontend/src/mocks/handlers/studioHandlers.test.ts
  src/mcp_server_langgraph/studio/frontend/src/mocks/handlers/studioHandlers.ts
  src/mcp_server_langgraph/studio/frontend/src/test/cleanup.ts
Labels: none

chore: update environment configs and fix test imports
  .env.example
  .env.test
  src/mcp_server_langgraph/studio/frontend/src/api/agentRequestEndpoints.test.ts
  src/mcp_server_langgraph/studio/frontend/src/api/mcpEndpoints.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/hooks/useAICache.test.ts
  src/mcp_server_langgraph/studio/frontend/vitest.config.ts
  tests/unit/websocket_pkg/test_base.py
Labels: tests, config

test(websocket): add WebSocket handler unit tests
  tests/unit/websocket_pkg/handlers/test_agent_request_handler.py
  tests/unit/websocket_pkg/handlers/test_alert_handler.py
  tests/unit/websocket_pkg/handlers/test_audit_handler.py
  tests/unit/websocket_pkg/handlers/test_connection_health_handler.py
  tests/unit/websocket_pkg/handlers/test_notification_handler.py
Labels: tests

feat(frontend): add DevTools component for development debugging
  src/mcp_server_langgraph/studio/frontend/src/components/DevTools/DevToolsPanel.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/DevTools/DevToolsPanel.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/DevTools/hooks/useAgentTrace.ts
  src/mcp_server_langgraph/studio/frontend/src/components/DevTools/hooks/useConsoleEntries.test.ts
  src/mcp_server_langgraph/studio/frontend/src/components/DevTools/hooks/useConsoleEntries.ts
  src/mcp_server_langgraph/studio/frontend/src/components/DevTools/hooks/useDevToolsAI.test.ts
  src/mcp_server_langgraph/studio/frontend/src/components/DevTools/hooks/useDevToolsAI.ts
  src/mcp_server_langgraph/studio/frontend/src/components/DevTools/hooks/useDevToolsContext.test.ts
  src/mcp_server_langgraph/studio/frontend/src/components/DevTools/hooks/useDevToolsContext.ts
  src/mcp_server_langgraph/studio/frontend/src/components/DevTools/hooks/useDevToolsKeyboard.test.ts
  src/mcp_server_langgraph/studio/frontend/src/components/DevTools/hooks/useDevToolsKeyboard.ts
  src/mcp_server_langgraph/studio/frontend/src/components/DevTools/hooks/useDevToolsResize.test.ts
  src/mcp_server_langgraph/studio/frontend/src/components/DevTools/hooks/useDevToolsResize.ts
  src/mcp_server_langgraph/studio/frontend/src/components/DevTools/hooks/useNetworkEntries.ts
  src/mcp_server_langgraph/studio/frontend/src/components/DevTools/hooks/useProblems.ts
  src/mcp_server_langgraph/studio/frontend/src/components/DevTools/hooks/useWorkflowExecution.ts
  src/mcp_server_langgraph/studio/frontend/src/components/DevTools/index.ts
  src/mcp_server_langgraph/studio/frontend/src/components/DevTools/lazy.ts
  src/mcp_server_langgraph/studio/frontend/src/components/DevTools/tabs/AIInsightsTab.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/DevTools/tabs/AIInsightsTab.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/DevTools/tabs/AgentTraceTab.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/DevTools/tabs/AgentTraceTab.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/DevTools/tabs/ConsoleTab.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/DevTools/tabs/ConsoleTab.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/DevTools/tabs/ExecutionTraceTab.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/DevTools/tabs/ExecutionTraceTab.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/DevTools/tabs/NetworkTab.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/DevTools/tabs/NetworkTab.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/DevTools/tabs/ProblemsTab.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/DevTools/tabs/ProblemsTab.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/DevTools/tabs/StateTab.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/DevTools/tabs/StateTab.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/DevTools/types.ts
  src/mcp_server_langgraph/studio/frontend/src/store/slices/devToolsSlice.test.ts
  src/mcp_server_langgraph/studio/frontend/src/store/slices/devToolsSlice.ts
Labels: none

fix: test cleanup and minor component fixes
  src/mcp_server_langgraph/studio/frontend/src/api/mcpEndpoints.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Admin/BatchApprovalPanel.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/DevTools/hooks/useDevToolsContext.test.ts
  src/mcp_server_langgraph/studio/frontend/src/components/DevTools/tabs/AgentTraceTab.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/MCP/PromptTester.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/MCP/ResourceViewer.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/MCP/ToolInvocationDialog.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/contexts/AIIntelligenceContext.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/help/HelpPane.tsx
  src/mcp_server_langgraph/studio/frontend/src/hooks/useAIMetrics.test.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useAIOnboarding.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useAIPersonaAnalysis.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useChatAutoScroll.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/hooks/useMCPTaskWebSocket.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/hooks/usePermissionCache.test.ts
  src/mcp_server_langgraph/studio/frontend/src/layout/AISessionCard.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/mocks/handlers/mcpHandlers.test.ts
  src/mcp_server_langgraph/studio/frontend/src/store/slices/devToolsSlice.ts
  src/mcp_server_langgraph/studio/frontend/src/test/mcp-integration.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/types/preferences.ts
  tests/unit/websocket_pkg/handlers/test_handlers_init.py
  tests/unit/websocket_pkg/services/test_connections.py
  tests/unit/websocket_pkg/test_base.py
  tests/unit/websocket_pkg/test_heartbeat.py
  tests/unit/websocket_pkg/test_metrics.py
  tests/unit/websocket_pkg/test_redis_rate_limiter.py
Labels: tests
