Repository vishnu2kmohan/mcp-server-langgraph, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, tests, ci-cd, dependencies, docker, deployment, auth, secrets, observability, mcp, agent, config, security, community

feat(studio): add TypeScript types for MCP aggregated capabilities
  src/mcp_server_langgraph/studio/frontend/src/api/index.ts
  src/mcp_server_langgraph/studio/frontend/src/types/connection.ts
Labels: none

docs(adr): add ADR-0085 for feature flag consolidation
  README.md
  adr/adr-0085-feature-flag-consolidation.md
  docs/architecture/adr-0085-feature-flag-consolidation.mdx
Labels: documentation

refactor(core): reorganize feature flags into 12 logical categories
  docs-internal/FEATURE_FLAG_CATALOG.md
  src/mcp_server_langgraph/core/feature_flags.py
  tests/unit/core/test_feature_flags.py
Labels: documentation, tests

feat(api): add session renaming, config update, and message management
  src/mcp_server_langgraph/api/v1/sessions.py
  src/mcp_server_langgraph/storage/models.py
  src/mcp_server_langgraph/storage/session/models.py
  tests/unit/api/v1/test_sessions_router.py
  tests/unit/storage/test_session_models.py
Labels: tests

feat(api): add config endpoint and chat cost tracking integration
  src/mcp_server_langgraph/api/v1/chat.py
  src/mcp_server_langgraph/api/v1/config.py
  src/mcp_server_langgraph/api/v1/router.py
  src/mcp_server_langgraph/core/config/_settings.py
  src/mcp_server_langgraph/core/config/compliance.py
  src/mcp_server_langgraph/core/config/storage.py
  src/mcp_server_langgraph/monitoring/cost_tracker.py
  tests/monitoring/test_cost_tracker.py
  tests/unit/api/v1/test_chat_cost_tracking.py
  tests/unit/api/v1/test_config_router.py
  tests/unit/llm/test_litellm_otel_integration.py
Labels: tests

feat(backend): add MCP aggregated, artifacts improvements, and WebSocket handlers
  src/mcp_server_langgraph/api/v1/ai_ux.py
  src/mcp_server_langgraph/api/v1/artifacts.py
  src/mcp_server_langgraph/api/v1/mcp_aggregated.py
  src/mcp_server_langgraph/api/v1/ws_router.py
  src/mcp_server_langgraph/core/interrupts/ai_explanation.py
  src/mcp_server_langgraph/mcp/client/cached_unified_registry.py
  src/mcp_server_langgraph/storage/artifacts/models.py
  src/mcp_server_langgraph/studio/ai/artifact_name_generator.py
  src/mcp_server_langgraph/websocket/handlers/__init__.py
  src/mcp_server_langgraph/websocket/handlers/mcp_aggregated.py
Labels: none

feat(backend): add OTEL LLM integration and enhance MCP registry
  src/mcp_server_langgraph/audit/config.py
  src/mcp_server_langgraph/core/config/_settings.py
  src/mcp_server_langgraph/core/feature_flags.py
  src/mcp_server_langgraph/infrastructure/app_factory.py
  src/mcp_server_langgraph/llm/otel_integration.py
  src/mcp_server_langgraph/mcp/client/cached_unified_registry.py
  tests/unit/llm/__init__.py
Labels: tests

test(backend): add comprehensive tests for MCP and config modules
  tests/integration/mcp/__init__.py
  tests/integration/mcp/test_cached_unified_registry_redis.py
  tests/unit/api/v1/test_mcp_aggregated_router.py
  tests/unit/core/config/test_hardcoded_config_audit.py
  tests/unit/core/config/test_timeout_settings.py
  tests/unit/core/test_feature_flags.py
  tests/unit/mcp/__init__.py
  tests/unit/mcp/client/__init__.py
  tests/unit/mcp/client/conftest.py
  tests/unit/mcp/client/test_cached_unified_registry.py
  tests/unit/studio/ai/test_artifact_name_generator.py
  tests/unit/websocket/handlers/test_mcp_aggregated_handler.py
Labels: tests

feat(studio): add workflow auto-naming and E2E test coverage
  src/mcp_server_langgraph/studio/frontend/e2e/canvas-cross-page.spec.ts
  src/mcp_server_langgraph/studio/frontend/e2e/mcp-aggregated-capabilities.spec.ts
  src/mcp_server_langgraph/studio/frontend/src/api/featureFlagsContract.test.ts
  src/mcp_server_langgraph/studio/frontend/src/config/api.test.ts
  src/mcp_server_langgraph/studio/frontend/src/config/api.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/index.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useAIRealTimeSuggestions.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useHeartDashboard.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useWorkflowAutoName.ts
  src/mcp_server_langgraph/studio/frontend/src/mocks/handlers.ts
Labels: none

feat(api): add workflow title and session description fields
  src/mcp_server_langgraph/api/v1/sessions.py
  src/mcp_server_langgraph/api/v1/workflows.py
  src/mcp_server_langgraph/storage/workflow/models.py
  src/mcp_server_langgraph/storage/workflow/postgres_models.py
  src/mcp_server_langgraph/websocket/registry.py
  tests/unit/api/v1/test_artifact_description_field.py
  tests/unit/api/v1/test_artifacts_router.py
  tests/unit/api/v1/test_session_description_field.py
  tests/unit/api/v1/test_sessions_router.py
  tests/unit/api/v1/test_workflow_title_field.py
  tests/unit/api/v1/test_workflows_router.py
Labels: tests

chore: update WebSocket hooks to use centralized utilities
  config/openfga/sample-tuples.json
  docs-internal/testing/TESTING.md
  src/mcp_server_langgraph/api/v1/sessions.py
  src/mcp_server_langgraph/infrastructure/app_factory.py
  src/mcp_server_langgraph/mcp/client/cached_unified_registry.py
  src/mcp_server_langgraph/studio/frontend/.env.example
  src/mcp_server_langgraph/studio/frontend/src/hooks/useAgentRequestWebSocket.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useAlertWebSocket.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useMCPAggregatedUpdates.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useMCPWebSocket.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useNotificationWebSocket.ts
  src/mcp_server_langgraph/websocket/README.md
  tests/unit/mcp/client/test_cached_unified_registry.py
Labels: documentation, tests

feat(api): add update_session method to PostgresSessionService
  src/mcp_server_langgraph/api/v1/sessions.py
Labels: none

test(api): update session description field tests
  tests/unit/api/v1/test_session_description_field.py
Labels: tests

feat(api): add description field support to artifacts router
  src/mcp_server_langgraph/api/v1/artifacts.py
Labels: none

test(api): align artifact description test with model changes
  tests/unit/api/v1/test_artifact_description_field.py
Labels: tests

feat(api): add description field to all artifact response models
  src/mcp_server_langgraph/api/v1/artifacts.py
Labels: none

feat(api): add title field to workflow response and enhance MCP registry
  src/mcp_server_langgraph/api/v1/workflows.py
  src/mcp_server_langgraph/mcp/client/cached_unified_registry.py
Labels: none

test(api): update router tests for new field support
  tests/unit/api/v1/test_artifacts_router.py
  tests/unit/api/v1/test_sessions_router.py
  tests/unit/api/v1/test_workflows_router.py
Labels: tests

docs(websocket): add WebSocket architecture documentation
  src/mcp_server_langgraph/websocket/README.md
Labels: documentation

feat(llm): add LLMFactory.astream() with resilient streaming support
  src/mcp_server_langgraph/api/v1/chat.py
  src/mcp_server_langgraph/core/feature_flags.py
  src/mcp_server_langgraph/llm/factory.py
  tests/meta/test_frontend_backend_api_parity.py
  tests/meta/test_router_registration_completeness.py
  tests/unit/api/v1/test_chat_streaming_production.py
  tests/unit/api/v1/test_chat_streaming_refactor.py
  tests/unit/api/v1/test_missing_endpoints.py
  tests/unit/llm/test_factory_streaming.py
Labels: tests

feat(llm): add streaming metrics for TTFC and inter-chunk latency
  deployments/helm/values-staging.yaml
  src/mcp_server_langgraph/llm/__init__.py
  src/mcp_server_langgraph/llm/factory.py
  src/mcp_server_langgraph/llm/streaming_metrics.py
  tests/unit/llm/test_streaming_metrics.py
Labels: tests

feat(observability): add streaming metrics dashboard and TTFC SLA alerts
  deployments/helm/mcp-server-langgraph/dashboards/llm-streaming.json
  deployments/helm/mcp-server-langgraph/prometheus-rules/sla.yaml
  monitoring/MONITORING_QUICKSTART.md
  monitoring/grafana/dashboards/Application/llm-streaming.json
  monitoring/runbooks/README.md
  monitoring/runbooks/streaming-alerts.md
  src/mcp_server_langgraph/resilience/retry.py
  tests/unit/resilience/test_retry_overload.py
Labels: documentation, tests, observability

test(observability): add streaming metrics integration tests
  tests/integration/observability/test_streaming_metrics_integration.py
  tests/integration/test_postgres_cost_storage_integration.py
Labels: tests

feat(observability): add streaming metrics alerting and E2E tests
  deployments/monitoring/alertmanager/alertmanager-config.yaml
  monitoring/prometheus/alertmanager.yml
  tests/e2e/test_streaming_metrics_e2e.py
  tests/integration/observability/test_lgtm_stack.py
Labels: tests, observability

feat(observability): add streaming metrics feature flag, ADR, and API endpoint
  docs-internal/ADR-0075-LLM-STREAMING-METRICS.md
  src/mcp_server_langgraph/api/v1/observability.py
  src/mcp_server_langgraph/core/feature_flags.py
  src/mcp_server_langgraph/llm/streaming_metrics.py
  tests/unit/api/v1/test_llm_streaming_metrics_endpoint.py
  tests/unit/llm/test_streaming_metrics_feature_flag.py
Labels: documentation, tests

feat(monitoring): add Prometheus SLA alert rules for LLM streaming metrics
  monitoring/prometheus/rules/streaming-sla-alerts.yml
Labels: observability

fix(tests): add mock cost collectors to budget monitor tests
  tests/monitoring/test_budget_monitor.py
  tests/monitoring/test_cost_tracker.py
  tests/unit/core/test_import_validation.py
Labels: tests

feat(monitoring): add budget and cost management core with migrations
  alembic/versions/o5p6q7r8s9t0_add_organizational_cost_columns.py
  alembic/versions/p6q7r8s9t0u1_add_org_cost_continuous_aggregate.py
  alembic/versions/q7r8s9t0u1v2_add_allocation_tags_column.py
  alembic/versions/r8s9t0u1v2w3_add_budget_records_table.py
  pyproject.toml
  src/mcp_server_langgraph/database/models.py
  src/mcp_server_langgraph/monitoring/__init__.py
  src/mcp_server_langgraph/monitoring/budget_monitor.py
  src/mcp_server_langgraph/monitoring/budget_storage.py
  src/mcp_server_langgraph/monitoring/cost_budget.py
  src/mcp_server_langgraph/monitoring/cost_storage.py
  src/mcp_server_langgraph/monitoring/cost_tracker.py
  src/mcp_server_langgraph/monitoring/litellm_cost_callback.py
  tests/integration/test_cost_organizational_e2e.py
  tests/unit/database/test_budget_record_model.py
  tests/unit/monitoring/test_budget_alert_broadcaster.py
  tests/unit/monitoring/test_budget_storage.py
  tests/unit/monitoring/test_cost_allocation_tags.py
  tests/unit/monitoring/test_cost_budget_alerts.py
  tests/unit/monitoring/test_cost_retention.py
  tests/unit/monitoring/test_cost_storage.py
  tests/unit/monitoring/test_litellm_cost_callback.py
  tests/unit/monitoring/test_litellm_cost_fallback.py
Labels: tests, dependencies, config

feat(websocket): add budget alerts WebSocket handler with tests
  src/mcp_server_langgraph/websocket/handlers/budget_alerts.py
  tests/unit/api/v1/conftest.py
  tests/unit/api/v1/test_budget_alerts_websocket.py
  tests/unit/api/v1/test_budget_router.py
  tests/unit/websocket/handlers/test_budget_alerts_handler.py
Labels: tests

feat(websocket): add token expiration handling (ADR-0074)
  docs-internal/ADR-0074-WEBSOCKET-TOKEN-EXPIRATION.md
  src/mcp_server_langgraph/websocket/token_validation.py
  tests/integration/websocket/test_websocket_token_expiration.py
  tests/unit/websocket_pkg/test_token_validation.py
Labels: documentation, tests

feat(studio): add authentication utilities and cost dashboard components
  src/mcp_server_langgraph/studio/frontend/package.json
  src/mcp_server_langgraph/studio/frontend/src/api/index.ts
  src/mcp_server_langgraph/studio/frontend/src/components/Cost/BudgetForecastChart.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Cost/BudgetForecastChart.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Cost/BudgetStatusCard.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Cost/BudgetStatusCard.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Cost/OrganizationCostDashboard.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Cost/OrganizationCostDashboard.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Cost/index.ts
  src/mcp_server_langgraph/studio/frontend/src/components/Cost/lazy.test.ts
  src/mcp_server_langgraph/studio/frontend/src/components/Cost/lazy.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useIsChatRoute.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/hooks/useIsChatRoute.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useNewChat.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/layout/__tests__/StudioShellLayout.core.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/layout/__tests__/StudioShellLayout.setup.ts
  src/mcp_server_langgraph/studio/frontend/src/test/commonMocks.ts
  src/mcp_server_langgraph/studio/frontend/src/test/testStore.test.ts
  src/mcp_server_langgraph/studio/frontend/src/test/testStore.ts
  src/mcp_server_langgraph/studio/frontend/src/types/api.ts
  src/mcp_server_langgraph/studio/frontend/src/types/index.ts
  src/mcp_server_langgraph/studio/frontend/src/utils/README.md
  src/mcp_server_langgraph/studio/frontend/src/utils/authFlow.integration.test.ts
  src/mcp_server_langgraph/studio/frontend/src/utils/authenticatedFetch.test.ts
  src/mcp_server_langgraph/studio/frontend/src/utils/authenticatedFetch.ts
  src/mcp_server_langgraph/studio/frontend/src/utils/devLogger.test.ts
  src/mcp_server_langgraph/studio/frontend/src/utils/devLogger.ts
  src/mcp_server_langgraph/studio/frontend/src/utils/intendedRoute.test.ts
  src/mcp_server_langgraph/studio/frontend/src/utils/intendedRoute.ts
  src/mcp_server_langgraph/studio/frontend/src/utils/serviceWorker.test.ts
  src/mcp_server_langgraph/studio/frontend/src/utils/serviceWorker.ts
  src/mcp_server_langgraph/studio/frontend/src/utils/websocket.test.ts
  src/mcp_server_langgraph/studio/frontend/src/utils/websocket.ts
  src/mcp_server_langgraph/studio/frontend/src/utils/websocketAuth.test.ts
  src/mcp_server_langgraph/studio/frontend/src/utils/websocketAuth.ts
Labels: documentation

feat(mcp): add WebSocket namespace and collision validation
  scripts/validators/check_mcp_namespace_collision.py
  src/mcp_server_langgraph/mcp/websocket/__init__.py
  src/mcp_server_langgraph/mcp/websocket/config.py
  src/mcp_server_langgraph/mcp/websocket/connection_manager.py
  src/mcp_server_langgraph/mcp/websocket/lifecycle.py
  src/mcp_server_langgraph/mcp/websocket/metrics.py
  src/mcp_server_langgraph/mcp/websocket/rate_limiter.py
  src/mcp_server_langgraph/mcp/websocket/streaming.py
Labels: none

docs: update ADRs, guides, and add new integration documentation
  docs-internal/ADR-0073-DEPRECATED-COMPATIBILITY-SHIMS.md
  docs-internal/WEBSOCKET_STANDARDIZATION.md
  docs/api-reference/authentication.mdx
  docs/api-reference/configuration.mdx
  docs/api-reference/skills.mdx
  docs/architecture/adr-0069-mcp-2025-11-25-upgrade.mdx
  docs/architecture/adr-0070-openfga-oidc-authentication.mdx
  docs/architecture/adr-0071-compile-time-graph-composition.mdx
  docs/architecture/adr-0072-bootstrap-phase-architecture.mdx
  docs/architecture/adr-0073-configuration-domain-decomposition.mdx
  docs/architecture/adr-0074-ai-suggestions-streaming-cost-tracking.mdx
  docs/architecture/adr-0075-prompt-injection-detection.mdx
  docs/architecture/adr-0076-sandpack-jsdom-27-mock.mdx
  docs/architecture/adr-0077-claude-agent-sdk-integration.mdx
  docs/architecture/adr-0078-multi-agent-orchestrator-patterns.mdx
  docs/architecture/adr-0080-llm-level-callback-system.mdx
  docs/architecture/adr-0084-studio-orchestrator-unified-ai.mdx
  docs/architecture/adr-0085-feature-flag-consolidation.mdx
  docs/deployment/operations/orchestrator-runbook.mdx
  docs/docs.json
  docs/guides/api-migration-guide.mdx
  docs/guides/claude-sdk-integration.mdx
  docs/guides/client-integration.mdx
  docs/guides/code-execution.mdx
  docs/guides/feature-flags.mdx
  docs/guides/hitl-confidence.mdx
  docs/guides/keyboard-shortcuts.mdx
  docs/guides/mcp-server.mdx
  docs/guides/multi-framework-integration.mdx
  docs/guides/push-notifications.mdx
  docs/guides/sdk-hooks.mdx
  docs/guides/security.mdx
  docs/guides/service-workers.mdx
  docs/guides/skills-marketplace.mdx
  docs/guides/studio-feature-flags.mdx
  docs/guides/tool-development.mdx
  docs/integrations/langgraph.mdx
  docs/integrations/mcp-protocol.mdx
  docs/troubleshooting/openfga-oidc-troubleshooting.mdx
Labels: documentation

refactor(api): consolidate routers and remove deprecated notification websocket
  src/mcp_server_langgraph/api/v1/admin.py
  src/mcp_server_langgraph/api/v1/ai.py
  src/mcp_server_langgraph/api/v1/ai_ux.py
  src/mcp_server_langgraph/api/v1/alert_recommendations.py
  src/mcp_server_langgraph/api/v1/auth.py
  src/mcp_server_langgraph/api/v1/cost.py
  src/mcp_server_langgraph/api/v1/features.py
  src/mcp_server_langgraph/api/v1/mcp_aggregated.py
  src/mcp_server_langgraph/api/v1/mcp_websocket.py
  src/mcp_server_langgraph/api/v1/notification_websocket.py
  src/mcp_server_langgraph/api/v1/router.py
  src/mcp_server_langgraph/api/v1/sessions.py
  src/mcp_server_langgraph/api/v1/workflows.py
  src/mcp_server_langgraph/api/v1/ws_router.py
  src/mcp_server_langgraph/auth/jwt_utils.py
  src/mcp_server_langgraph/core/config/_settings.py
  src/mcp_server_langgraph/core/config/streaming.py
  src/mcp_server_langgraph/infrastructure/app_factory.py
Labels: none

refactor: update MCP, monitoring, LLM, and WebSocket modules
  src/mcp_server_langgraph/bootstrap/websocket.py
  src/mcp_server_langgraph/llm/otel_integration.py
  src/mcp_server_langgraph/mcp/__init__.py
  src/mcp_server_langgraph/mcp/message_handler.py
  src/mcp_server_langgraph/mcp/server_streamable.py
  src/mcp_server_langgraph/monitoring/litellm_cost_callback.py
  src/mcp_server_langgraph/monitoring/pricing.py
  src/mcp_server_langgraph/monitoring/sla.py
  src/mcp_server_langgraph/studio/ai/artifact_name_generator.py
  src/mcp_server_langgraph/studio/ai/suggestions.py
  src/mcp_server_langgraph/studio/ai/title_generator.py
  src/mcp_server_langgraph/websocket/base.py
  src/mcp_server_langgraph/websocket/exceptions.py
  src/mcp_server_langgraph/websocket/handlers/__init__.py
  src/mcp_server_langgraph/websocket/metrics.py
  src/mcp_server_langgraph/websocket/registry.py
  src/mcp_server_langgraph/websocket/types.py
Labels: none

refactor(studio): update frontend components and pages
  src/mcp_server_langgraph/studio/frontend/src/canvas/CanvasArtifact.tsx
  src/mcp_server_langgraph/studio/frontend/src/canvas/ConnectedCanvasPanel.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Connection/ConnectionAuditLog.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Connection/ConnectionBulkActions.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Connection/ConnectionTemplateSelector.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/DevTools/hooks/useAgentTrace.ts
  src/mcp_server_langgraph/studio/frontend/src/components/DevTools/hooks/useTimelinePersistence.ts
  src/mcp_server_langgraph/studio/frontend/src/components/DevTools/hooks/useWorkflowExecution.ts
  src/mcp_server_langgraph/studio/frontend/src/components/DevTools/utils/performance.ts
  src/mcp_server_langgraph/studio/frontend/src/components/Project/SessionsTab.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Project/WorkflowsTab.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Workflow/SharedWorkflowsList.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Workflow/SharedWorkflowsList.tsx
  src/mcp_server_langgraph/studio/frontend/src/config/api.ts
  src/mcp_server_langgraph/studio/frontend/src/conversation/MessageBubble.tsx
  src/mcp_server_langgraph/studio/frontend/src/layout/StudioShellLayout.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/layout/StudioShellLayout.tsx
  src/mcp_server_langgraph/studio/frontend/src/pages/AuthCallbackPage.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/pages/AuthCallbackPage.tsx
  src/mcp_server_langgraph/studio/frontend/src/pages/CostPage.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/pages/CostPage.tsx
  src/mcp_server_langgraph/studio/frontend/src/pages/FilesPage.tsx
  src/mcp_server_langgraph/studio/frontend/src/pages/LoginPage.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/pages/LoginPage.tsx
  src/mcp_server_langgraph/studio/frontend/src/pages/MCPPage.tsx
  src/mcp_server_langgraph/studio/frontend/src/pages/OAuth2CallbackPage.tsx
  src/mcp_server_langgraph/studio/frontend/src/pages/SettingsPage.tsx
  src/mcp_server_langgraph/studio/frontend/src/pages/WorkflowsPage.tsx
Labels: none

refactor(studio): update Redux slices, router, and types
  src/mcp_server_langgraph/studio/frontend/src/router/loaders/canvasLoaders.ts
  src/mcp_server_langgraph/studio/frontend/src/store/slices/authSlice.test.ts
  src/mcp_server_langgraph/studio/frontend/src/store/slices/authSlice.ts
  src/mcp_server_langgraph/studio/frontend/src/store/slices/projectSlice.ts
  src/mcp_server_langgraph/studio/frontend/src/store/slices/sessionSlice.test.ts
  src/mcp_server_langgraph/studio/frontend/src/store/slices/sessionSlice.ts
  src/mcp_server_langgraph/studio/frontend/src/store/slices/workflowSlice.test.ts
  src/mcp_server_langgraph/studio/frontend/src/store/slices/workflowSlice.ts
  src/mcp_server_langgraph/studio/frontend/src/types/artifacts.ts
  src/mcp_server_langgraph/studio/frontend/src/types/session.ts
  src/mcp_server_langgraph/studio/frontend/src/types/workflow.ts
Labels: none

fix(tests): resolve MCP namespace collision in unit tests
  scripts/validators/validate_ids.py
  tests/unit/mcp/README.md
  tests/unit/mcp/__init__.py
  tests/unit/mcp/client/__init__.py
  tests/unit/mcp/client/conftest.py
  tests/unit/mcp/test_mcp_capability_registries.py
Labels: documentation, tests

test(monitoring): add budget alert and cloud storage backend tests
  tests/unit/monitoring/test_budget_alert_trigger.py
  tests/unit/monitoring/test_cloud_storage_backends.py
Labels: tests

test(studio): add AI title generator and artifact name generator tests
  tests/unit/studio/ai/test_artifact_name_generator.py
  tests/unit/studio/ai/test_title_generator.py
Labels: tests

.github/labeler.yml:

# Auto-labeler configuration for PRs
# Uses changed-files pattern matching

# Documentation
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'
      - '**/*.mdx'
      - 'docs/**/*'
      - 'mint.json'
      - '.mcp/*.json'

# Tests
tests:
  - changed-files:
    - any-glob-to-any-file:
      - 'tests/**/*'
      - '**/*test*.py'
      - 'test_*.py'
      - '*_test.py'
      - 'pytest.ini'
      - 'conftest.py'
      - 'TESTING.md'

# CI/CD
ci-cd:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**/*'
      - '.github/actions/**/*'
      - '.gitlab-ci.yml'
      - 'Makefile'
      - '.pre-commit-config.yaml'

# Dependencies
dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'requirements*.txt'
      - 'setup.py'
      - 'pyproject.toml'
      - 'poetry.lock'
      - 'package*.json'
      - 'yarn.lock'

# Docker
docker:
  - changed-files:
    - any-glob-to-any-file:
      - 'Dockerfile*'
      - 'docker-compose*.yml'
      - '.dockerignore'

# Kubernetes/Deployment
deployment:
  - changed-files:
    - any-glob-to-any-file:
      - 'kubernetes/**/*'
      - 'kustomize/**/*'
      - 'helm/**/*'
      - 'k8s/**/*'
      - 'KUBERNETES_DEPLOYMENT.md'
      - 'PRODUCTION_DEPLOYMENT.md'

# Authentication/Authorization
auth:
  - changed-files:
    - any-glob-to-any-file:
      - 'auth.py'
      - 'openfga_client.py'
      - 'setup_openfga.py'

# Secrets Management
secrets:
  - changed-files:
    - any-glob-to-any-file:
      - 'secrets_manager.py'
      - 'setup_infisical.py'

# Observability
observability:
  - changed-files:
    - any-glob-to-any-file:
      - 'observability.py'
      - 'health_check.py'
      - 'monitoring/**/*'
      - 'grafana/**/*'

# MCP Server
mcp:
  - changed-files:
    - any-glob-to-any-file:
      - 'mcp_server*.py'
      - 'examples/*client*.py'

# Agent/Core
agent:
  - changed-files:
    - any-glob-to-any-file:
      - 'agent.py'
      - 'graph.py'
      - 'models.py'
      - 'prompt*.py'

# Configuration
config:
  - changed-files:
    - any-glob-to-any-file:
      - 'config.py'
      - '.env*'
      - 'settings.py'
      - '*.yaml'
      - '*.yml'
      - '*.toml'
      - '*.ini'
      - '.editorconfig'

# Security
security:
  - changed-files:
    - any-glob-to-any-file:
      - 'auth.py'
      - 'secrets_manager.py'
      - 'openfga_client.py'
      - 'SECURITY*.md'
      - '.github/workflows/security-scan.yaml'
      - 'scripts/validate_production.py'

# Community
community:
  - changed-files:
    - any-glob-to-any-file:
      - 'CODE_OF_CONDUCT.md'
      - 'CONTRIBUTING.md'
      - 'DEVELOPMENT.md'
      - '.github/SUPPORT.md'
      - '.github/FUNDING.yml'
      - '.github/ISSUE_TEMPLATE/**/*'
      - '.github/PULL_REQUEST_TEMPLATE.md'
