Repository vishnu2kmohan/mcp-server-langgraph, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, tests, ci-cd, dependencies, docker, deployment, auth, secrets, observability, mcp, agent, config, security, community

refactor: standardize database naming to mcp_test convention
  docker/docker-compose.test.yml
  tests/security/test_sql_injection_gdpr.py
Labels: tests

feat(auth): add worker-safe ID support for pytest-xdist test isolation
  src/mcp_server_langgraph/auth/middleware.py
  src/mcp_server_langgraph/auth/user_provider.py
  tests/test_auth.py
Labels: tests

fix(auth): complete worker-safe ID support in InMemoryUserProvider
  src/mcp_server_langgraph/auth/user_provider.py
  tests/test_user_provider.py
Labels: tests

fix(auth): handle JWT username extraction for worker-safe IDs
  src/mcp_server_langgraph/auth/middleware.py
  tests/test_auth.py
Labels: tests

fix(tests): Keycloak user ID expectations for worker-safe IDs
  src/mcp_server_langgraph/auth/factory.py
  tests/test_user_provider.py
Labels: tests

fix: pass settings to AuthMiddleware to enable test environment fallback authorization
  docker/docker-compose.test.yml
Labels: none

fix: create comprehensive 4-phase pre-push hook matching CI/CD
  docker-compose.test.yml
  migrations/001_gdpr_schema.sql
  tests/regression/test_documentation_code_blocks.py
Labels: tests, docker, config

remove: all code block validation/fix scripts per policy
  scripts/add_code_block_lang_tags.py
  scripts/add_code_block_languages.py
  scripts/fix_code_block_languages.py
  scripts/fix_code_blocks.py
  scripts/validate_code_block_languages.py
Labels: none

fix: make MyPy non-blocking (warning-only mode) in pre-push
  .githooks/mypy-non-blocking
  .pre-commit-config.yaml
Labels: ci-cd, config

fix(tests): resolve cache invalidate test AsyncMock issue and improve async-mock checker
  scripts/check_async_mock_usage.py
  tests/core/test_cache.py
Labels: tests

chore: remove legacy backup and duplicate test files
  docker/.dockerignore.old
  scripts/validators/adr_sync_validator.py
  tests/workflows/test_workflow_validation.py
Labels: tests

fix(tests): use worker-safe username in Keycloak user fixture
  tests/test_keycloak.py
Labels: tests

fix(deployment): enable readOnlyRootFilesystem for Keycloak with proper volume mounts
  deployments/overlays/staging-gke/keycloak-patch.yaml
  tests/deployment/pytest.ini
Labels: tests

fix(tests): correct SCIM delete_user OpenFGA assertion expectation
  tests/api/test_scim_security.py
Labels: tests

fix: accept Keycloak 22+ environment variable names (KC_BOOTSTRAP_ADMIN_*)
  tests/meta/test_codex_findings_validation.py
Labels: tests

fix: mark non-deterministic auth override test as xfail
  tests/regression/test_fastapi_auth_override_sanity.py
Labels: tests

fix: correct operator.add usage in use_tools node to prevent message duplication
  src/mcp_server_langgraph/core/agent.py
Labels: none

fix: execute SQL migrations statement-by-statement in integration tests
  tests/security/test_sql_injection_gdpr.py
Labels: tests

feat: migrate from manual SQL to Alembic for database migrations
  alembic.ini
  alembic/README
  alembic/env.py
  alembic/script.py.mako
  alembic/versions/8348487e5796_initial_gdpr_schema_user_profiles_.py
  pyproject.toml
  tests/security/test_sql_injection_gdpr.py
  uv.lock
Labels: tests, dependencies, config

fix(tests): enable fallback authorization for MCP integration tests
  src/mcp_server_langgraph/observability/telemetry.py
  tests/integration/test_mcp_code_execution.py
Labels: tests

test: add pytest markers and config consistency validation
  tests/meta/test_pytest_config_consistency.py
  tests/meta/test_report_freshness.py
  tests/regression/test_langgraph_return_types.py
  tests/test_constants.py
Labels: tests

feat: add integration-tests.yaml workflow and optimize test infrastructure
  .claude-worktree-session
  .github/workflows/integration-tests.yaml
  README.md
  pyproject.toml
  tests/deployment/pytest.ini
Labels: documentation, tests, ci-cd, dependencies, config

fix: resolve test collection errors and add prevention hooks
  .claude-worktree-session
  .pre-commit-config.yaml
  .pre-commit-hooks/check_banned_imports.py
  .pre-commit-hooks/check_subprocess_timeout.py
  deployments/argocd/applications/mcp-server-app.yaml
  tests/meta/test_pytest_marker_registration.py
Labels: tests, ci-cd, config

feat: add --dangerously-skip-permissions flag to Claude Code launch
  scripts/start-worktree-session.sh
Labels: none

fix: resolve Helm template schema violations in staging/production values
  deployments/helm/values-production.yaml
  deployments/helm/values-staging.yaml
Labels: none

fix: resolve test import issues (toml→tomllib, docker, black)
  src/mcp_server_langgraph/execution/docker_sandbox.py
  tests/builder/test_code_generator.py
  tests/meta/test_pytest_marker_registration.py
  tests/unit/execution/test_docker_sandbox_unit.py
Labels: tests

fix: add timeout=60 to 126 subprocess.run() calls to prevent test hangs
  scripts/fix_subprocess_timeouts_ast.py
  tests/deployment/test_codex_findings_validation.py
  tests/deployment/test_configmap_secret_validation.py
  tests/deployment/test_dns_failover_verification.py
  tests/deployment/test_helm_configuration.py
  tests/deployment/test_helm_templates.py
  tests/deployment/test_kustomize_build.py
  tests/deployment/test_kustomize_builds.py
  tests/deployment/test_network_policies.py
  tests/deployment/test_placeholder_validation.py
  tests/deployment/test_service_accounts.py
  tests/deployment/test_service_dependencies.py
  tests/deployment/test_serviceaccount_naming_regression.py
  tests/integration/test_docker_image_assets.py
  tests/meta/test_async_mock_configuration.py
  tests/meta/test_codex_regression_prevention.py
  tests/meta/test_hook_sync_validation.py
  tests/meta/test_local_ci_parity.py
  tests/meta/test_makefile_prepush_parity.py
  tests/meta/test_mcp_skip_auth_enforcement.py
  tests/meta/test_otel_security_context.py
  tests/meta/test_precommit_docker_image_validation.py
  tests/meta/test_precommit_keycloak_validation.py
  tests/meta/test_pytest_config_validation.py
  tests/meta/test_trivy_scans_rendered_manifests.py
  tests/regression/test_pod_deployment_regression.py
  tests/regression/test_uv_lockfile_sync.py
  tests/test_ci_cd_validation.py
  tests/test_deployment_manifests.py
  tests/test_gitignore_validation.py
  tests/test_gitleaks_config.py
  tests/test_kubernetes_security.py
  tests/test_workflow_health_dashboard_bc_fix.py
  tests/test_workflow_syntax.py
  tests/test_workflow_validation.py
  tests/utils/docker.py
Labels: tests

fix(integration-tests): resolve MCP auth failures and GDPR schema issues
  src/mcp_server_langgraph/mcp/server_stdio.py
  tests/conftest.py
  tests/integration/test_mcp_code_execution.py
  tests/integration/test_mcp_server_auth_injection.py
  tests/integration/test_mcp_test_user_registration.py
  tests/security/test_gdpr_schema_setup.py
  tests/security/test_sql_injection_gdpr.py
Labels: tests

fix: resolve meta-test failures (pre-push hook validation, slash commands)
  .claude/commands/lint.md
  .claude/commands/review-pr.md
  .claude/commands/start-sprint.md
  .claude/commands/test-fast.md
  tests/meta/test_local_ci_parity.py
Labels: documentation, tests

fix: increase 13 subprocess timeout values from 5s/10s to minimum 30s
  scripts/fix_short_timeouts.py
  tests/integration/test_docker_health_checks.py
  tests/integration/test_docker_image_assets.py
  tests/meta/test_id_pollution_prevention.py
  tests/meta/test_performance_regression.py
  tests/meta/test_plugin_guards.py
  tests/regression/test_bearer_scheme_override_diagnostic.py
  tests/test_test_utilities.py
Labels: tests

fix: disable pytest-testmon in pre-push hook to prevent stale cache issues
  .pre-commit-config.yaml
Labels: ci-cd, config

feat: add MyPy pre-commit hook and clean up unused type annotations
  .pre-commit-config.yaml
  src/mcp_server_langgraph/auth/session.py
  src/mcp_server_langgraph/core/cache.py
Labels: ci-cd, config

feat: add blocking MyPy type checking to pre-push stage
  .pre-commit-config.yaml
Labels: ci-cd, config

chore: add .testmondata to .gitignore
  .gitignore
Labels: none

fix(k8s): implement Session 2 Phase 1 (P0) Helm/Kubernetes configuration fixes
  SESSION_2_HELM_K8S_ACTION_PLAN.md
  SESSION_2_INDEX.md
  SESSION_2_QUICK_REFERENCE.md
  deployments/base/keycloak-deployment.yaml
Labels: documentation

feat: add gitleaks config path to workflow security scans
  .github/workflows/gcp-compliance-scan.yaml
  .github/workflows/validate-kubernetes.yaml
Labels: ci-cd

fix(k8s): add /tmp mounts for readOnlyRootFilesystem compliance
  deployments/base/qdrant-deployment.yaml
  deployments/overlays/production-gke/deployment-containers-patch.yaml
Labels: none

fix(helm): add NetworkPolicy template and fix health probe paths
  deployments/helm/mcp-server-langgraph/templates/networkpolicy.yaml
  deployments/helm/mcp-server-langgraph/values.yaml
  tests/test_deployment_manifests.py
Labels: tests

feat(k8s): implement P1 HA scheduling and resource standardization
  deployments/base/deployment.yaml
  deployments/base/otel-collector-deployment.yaml
  deployments/base/qdrant-deployment.yaml
  scripts/audit_resource_ratios.py
  tests/deployment/test_staging_deployment_requirements.py
Labels: tests

fix(cloudrun): replace bash variable substitutions with template placeholders
  deployments/cloudrun/service.yaml
Labels: none

.github/labeler.yml:

# Auto-labeler configuration for PRs
# Uses changed-files pattern matching

# Documentation
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'
      - '**/*.mdx'
      - 'docs/**/*'
      - 'mint.json'
      - '.mcp/*.json'

# Tests
tests:
  - changed-files:
    - any-glob-to-any-file:
      - 'tests/**/*'
      - '**/*test*.py'
      - 'test_*.py'
      - '*_test.py'
      - 'pytest.ini'
      - 'conftest.py'
      - 'TESTING.md'

# CI/CD
ci-cd:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**/*'
      - '.github/actions/**/*'
      - '.gitlab-ci.yml'
      - 'Makefile'
      - '.pre-commit-config.yaml'

# Dependencies
dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'requirements*.txt'
      - 'setup.py'
      - 'pyproject.toml'
      - 'poetry.lock'
      - 'package*.json'
      - 'yarn.lock'

# Docker
docker:
  - changed-files:
    - any-glob-to-any-file:
      - 'Dockerfile*'
      - 'docker-compose*.yml'
      - '.dockerignore'

# Kubernetes/Deployment
deployment:
  - changed-files:
    - any-glob-to-any-file:
      - 'kubernetes/**/*'
      - 'kustomize/**/*'
      - 'helm/**/*'
      - 'k8s/**/*'
      - 'KUBERNETES_DEPLOYMENT.md'
      - 'PRODUCTION_DEPLOYMENT.md'

# Authentication/Authorization
auth:
  - changed-files:
    - any-glob-to-any-file:
      - 'auth.py'
      - 'openfga_client.py'
      - 'setup_openfga.py'

# Secrets Management
secrets:
  - changed-files:
    - any-glob-to-any-file:
      - 'secrets_manager.py'
      - 'setup_infisical.py'

# Observability
observability:
  - changed-files:
    - any-glob-to-any-file:
      - 'observability.py'
      - 'health_check.py'
      - 'monitoring/**/*'
      - 'grafana/**/*'

# MCP Server
mcp:
  - changed-files:
    - any-glob-to-any-file:
      - 'mcp_server*.py'
      - 'examples/*client*.py'

# Agent/Core
agent:
  - changed-files:
    - any-glob-to-any-file:
      - 'agent.py'
      - 'graph.py'
      - 'models.py'
      - 'prompt*.py'

# Configuration
config:
  - changed-files:
    - any-glob-to-any-file:
      - 'config.py'
      - '.env*'
      - 'settings.py'
      - '*.yaml'
      - '*.yml'
      - '*.toml'
      - '*.ini'
      - '.editorconfig'

# Security
security:
  - changed-files:
    - any-glob-to-any-file:
      - 'auth.py'
      - 'secrets_manager.py'
      - 'openfga_client.py'
      - 'SECURITY*.md'
      - '.github/workflows/security-scan.yaml'
      - 'scripts/validate_production.py'

# Community
community:
  - changed-files:
    - any-glob-to-any-file:
      - 'CODE_OF_CONDUCT.md'
      - 'CONTRIBUTING.md'
      - 'DEVELOPMENT.md'
      - '.github/SUPPORT.md'
      - '.github/FUNDING.yml'
      - '.github/ISSUE_TEMPLATE/**/*'
      - '.github/PULL_REQUEST_TEMPLATE.md'
