Repository vishnu2kmohan/mcp-server-langgraph, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, tests, ci-cd, dependencies, docker, deployment, auth, secrets, observability, mcp, agent, config, security, community

fix(ci): resolve 11 failing CI checks for PR #121
  .github/actions/setup-python-deps/action.yml
  .github/workflows/smoke-tests.yml
  docs/developer-setup.mdx
Labels: documentation, ci-cd

fix(tests): add profile_hooks to local module exclusion list
  tests/regression/test_dev_dependencies.py
Labels: tests

fix(ci): pin pytest to <9.0 to resolve regression test failure
  .github/workflows/validate-k8s-configs.yml
Labels: ci-cd

refactor(ci): migrate validate-k8s-configs to use composite action
  .github/workflows/validate-k8s-configs.yml
Labels: ci-cd

fix(ci): update script paths and test naming validator
  .github/workflows/ci.yaml
  tests/meta/test_local_ci_parity.py
  tests/unit/core/test_cache_isolation.py
  tests/validation_lib/naming.py
Labels: tests, ci-cd

fix(docs): update 33 script path references after consolidation
  .claude/memory/pre-commit-hooks-catalog.md
  .github/CLAUDE.md
  .github/CONTRIBUTING.md
  .github/copilot-instructions.md
  .github/workflows/docs-validation.yaml
  CONTRIBUTING.md
  docs-internal/CODEX_FINDINGS_REMEDIATION_SUMMARY.md
  docs-internal/HOOKS_COMPLETE_AUDIT_SUMMARY.md
  docs-internal/VALIDATION_IMPLEMENTATION_SUMMARY.md
  docs-internal/VALIDATION_INFRASTRUCTURE.md
  scripts/dev/update_script_path_references.py
Labels: documentation, ci-cd, community

fix(tests): add xdist markers to network mode logic tests
  tests/unit/execution/test_network_mode_logic.py
Labels: tests

docs(dev): document remaining xdist marker work + automation
  scripts/dev/REMAINING_XDIST_WORK.md
  scripts/dev/add_xdist_markers_bulk.py
  tests/meta/test_integration_script_args.py
Labels: documentation, tests

refactor(docs): move REMAINING_XDIST_WORK.md to docs-internal/
  docs-internal/REMAINING_XDIST_WORK.md
Labels: documentation

fix: correct module import paths for validators
  .github/actions/setup-python-deps/action.yml
  .github/workflows/docs-validation.yaml
  .github/workflows/security-scan.yaml
  docs/development/setup.mdx
  docs/docs.json
  scripts/validators/validate_test_ids.py
  tests/integration/regression/test_pod_deployment_regression.py
  tests/meta/test_validator_consistency.py
  tests/regression/test_uv_lockfile_sync.py
Labels: documentation, tests, ci-cd, security

fix: add xdist markers to meta test classes (5/10 complete)
  tests/meta/test_integration_script_args.py
  tests/meta/test_precommit_cross_platform.py
Labels: tests

fix: complete xdist markers for all 10 meta test classes
  tests/meta/test_validate_prepush_efficiency.py
  tests/meta/test_validation_optimization.py
Labels: tests

fix: add xdist markers to unit test files using bulk tool
  tests/unit/core/test_cache_isolation.py
  tests/unit/execution/test_network_mode_logic.py
  tests/unit/storage/test_conversation_store_async.py
Labels: tests

Revert "fix: add xdist markers to unit test files using bulk tool"
  tests/unit/core/test_cache_isolation.py
  tests/unit/execution/test_network_mode_logic.py
  tests/unit/storage/test_conversation_store_async.py
Labels: tests

fix: add unbuffered IO to pre-push hooks and fix xdist markers script
  .pre-commit-config.yaml
  scripts/dev/add_xdist_markers_bulk.py
  scripts/run_pre_push_tests.py
Labels: tests, ci-cd, config

fix(ci): add PYTHONUNBUFFERED=1 to prevent BlockingIOError in workflows
  .github/workflows/ci.yaml
  .github/workflows/e2e-tests.yaml
  .github/workflows/integration-tests.yaml
  .github/workflows/quality-tests.yaml
  .pre-commit-config.yaml
Labels: ci-cd, config

fix(ci): resolve 6 failing CI checks for PR #121
  .github/workflows/e2e-tests.yaml
  .github/workflows/security-scan.yaml
  .pre-commit-config.yaml
  tests/e2e/keycloak-test-realm.json
  tests/meta/test_id_pollution_prevention.py
  tests/meta/test_precommit_docker_image_validation.py
  tests/meta/test_pytest_xdist_enforcement.py
  tests/meta/test_sleep_duration_linter.py
  tests/meta/test_validate_prepush_efficiency.py
  tests/meta/validation/test_mdx_validation.py
  tests/unit/core/test_cache_isolation.py
  tests/unit/storage/test_conversation_store_async.py
Labels: tests, ci-cd, config, security

fix: update script paths from scripts/validation to scripts/validators
  tests/deployment/test_serviceaccount_naming_regression.py
  tests/integration/security/test_network_mode_transparency.py
  tests/integration/test_database_connectivity_real.py
  tests/meta/test_async_mock_configuration.py
  tests/meta/test_asyncmock_validation.py
  tests/meta/test_documentation_references.py
  tests/meta/test_e2e_organization.py
  tests/meta/test_local_ci_parity.py
  tests/meta/test_precommit_keycloak_validation.py
  tests/meta/test_pytest_config_validation.py
  tests/meta/test_scripts_governance.py
  tests/meta/test_validate_prepush_efficiency.py
  tests/meta/test_validation_optimization.py
  tests/meta/test_validator_consistency.py
  tests/meta/validation/test_link_checker.py
  tests/regression/test_precommit_hook_dependencies.py
  tests/unit/test_pytest_marker_validator.py
Labels: tests

fix(tests): resolve 12 failing tests across meta, integration, and unit suites
  docs/development/setup.mdx
  tests/integration/test_agentic_loop_integration.py
  tests/integration/test_dependencies_wiring.py
  tests/integration/test_gdpr_storage_initialization.py
  tests/integration/test_retry_integration_simple.py
  tests/meta/ci/test_makefile_mypy_blocking.py
  tests/meta/test_codex_findings_validation.py
  tests/meta/test_e2e_keycloak_setup.py
  tests/meta/test_hook_profiler.py
  tests/meta/test_hook_sync_validation.py
  tests/meta/test_local_ci_parity.py
  tests/meta/test_makefile_prepush_parity.py
  tests/meta/test_pytestmark_syntax_regression.py
  tests/meta/test_validate_prepush_efficiency.py
  tests/regression/test_dev_dependencies.py
  tests/unit/execution/test_network_mode_logic.py
Labels: documentation, tests

fix(hooks): add quiet mode to pre-push tests to prevent BlockingIOError
  scripts/run_pre_push_tests.py
Labels: tests

fix(ci): correct pytest marker filter for meta tests and remove --fail-on-warn
  .github/workflows/ci.yaml
  .github/workflows/deployment-validation.yml
Labels: ci-cd

fix(e2e): use Docker internal network for Keycloak in CI
  docker-compose.test.yml
Labels: docker, config

fix(tests): mark LLM fallback tests and fix codex commit search
  tests/meta/test_codex_regression_prevention.py
  tests/unit/test_llm_fallback_kwargs.py
Labels: tests

fix(tests): remove @pytest.mark.asyncio from sync test class
  tests/integration/test_app_startup_validation.py
Labels: tests

fix(e2e): use KEYCLOAK_SERVER_URL instead of KEYCLOAK_URL in docker-compose
  docker-compose.test.yml
Labels: docker, config

fix(tests): fix timestamp format, cleanup patterns, and kubectl connectivity
  tests/fixtures/tool_fixtures.py
  tests/integration/compliance/test_postgres_conversation_store.py
  tests/integration/compliance/test_postgres_preferences_store.py
  tests/integration/deployment/test_dns_failover_verification.py
  tests/integration/test_postgres_storage.py
  tests/meta/test_hardcoded_test_ids.py
Labels: tests

fix(tests): resolve CI test failures for bearer scheme and settings reload
  tests/integration/test_bearer_scheme_diagnostic.py
  tests/smoke/test_ci_startup_smoke.py
Labels: tests

fix(tests): resolve postgres storage test failures
  tests/integration/test_postgres_storage.py
Labels: tests

fix(tests): resolve CI test failures for bearer scheme and settings reload
  .github/workflows/e2e-tests.yaml
  .github/workflows/integration-tests.yaml
  adr/README.md
  scripts/test-integration.sh
  src/mcp_server_langgraph/auth/api_keys.py
  src/mcp_server_langgraph/auth/role_mapper.py
  src/mcp_server_langgraph/auth/session.py
  src/mcp_server_langgraph/builder/codegen/generator.py
  src/mcp_server_langgraph/compliance/retention.py
  src/mcp_server_langgraph/core/cache.py
  src/mcp_server_langgraph/core/checkpoint_validator.py
  src/mcp_server_langgraph/core/dependencies.py
  src/mcp_server_langgraph/core/storage/conversation_store.py
  src/mcp_server_langgraph/mcp/server_stdio.py
  tests/e2e/real_clients.py
  tests/integration/test_bearer_scheme_diagnostic.py
  tests/integration/test_docker_health_checks.py
  tests/integration/test_postgres_storage.py
  tests/meta/test_local_ci_parity.py
  tests/meta/validation/test_gitleaks_config.py
Labels: documentation, tests, ci-cd

fix(mypy): resolve all blocking type errors for pre-push validation
  src/mcp_server_langgraph/auth/api_keys.py
  src/mcp_server_langgraph/auth/role_mapper.py
  src/mcp_server_langgraph/auth/session.py
  src/mcp_server_langgraph/compliance/retention.py
  src/mcp_server_langgraph/core/cache.py
  src/mcp_server_langgraph/core/checkpoint_validator.py
  src/mcp_server_langgraph/core/dependencies.py
  src/mcp_server_langgraph/core/storage/conversation_store.py
  src/mcp_server_langgraph/mcp/server_stdio.py
Labels: none

fix(ci): resolve PR #121 failing checks and pytest-xdist isolation issues
  .github/workflows/deploy-production-gke.yaml
  .github/workflows/deploy-staging-gke.yaml
  .github/workflows/deployment-validation.yml
  .github/workflows/validate-deployments.yaml
  .github/workflows/validate-kubernetes.yaml
  adr/README.md
  docs/architecture/adr-0044-test-infrastructure-quick-wins.mdx
  docs/architecture/adr-0045-test-infrastructure-phase-2-foundation.mdx
  docs/architecture/adr-0048-postgres-storage-integration-tests.mdx
  scripts/validators/validate_pytest_fixtures.py
  src/mcp_server_langgraph/auth/api_keys.py
  src/mcp_server_langgraph/auth/factory.py
  src/mcp_server_langgraph/auth/role_mapper.py
  src/mcp_server_langgraph/auth/session.py
  src/mcp_server_langgraph/compliance/gdpr/postgres_storage.py
  src/mcp_server_langgraph/compliance/retention.py
  src/mcp_server_langgraph/core/agent.py
  src/mcp_server_langgraph/core/cache.py
  src/mcp_server_langgraph/core/checkpoint_validator.py
  src/mcp_server_langgraph/core/config.py
  src/mcp_server_langgraph/core/dependencies.py
  src/mcp_server_langgraph/core/dynamic_context_loader.py
  src/mcp_server_langgraph/core/storage/conversation_store.py
  src/mcp_server_langgraph/execution/docker_sandbox.py
  src/mcp_server_langgraph/integrations/alerting.py
  src/mcp_server_langgraph/mcp/server_stdio.py
  src/mcp_server_langgraph/mcp/server_streamable.py
  src/mcp_server_langgraph/monitoring/budget_monitor.py
  src/mcp_server_langgraph/patterns/swarm.py
  src/mcp_server_langgraph/tools/search_tools.py
  src/mcp_server_langgraph/utils/response_optimizer.py
  src/mcp_server_langgraph/utils/retry.py
  tests/e2e/keycloak-test-realm.json
  tests/unit/test_llm_fallback_kwargs.py
  tests/unit/test_user_provider_verify_password.py
Labels: documentation, tests, ci-cd

test(mcp): add comprehensive unit tests for server_streamable.py
  tests/unit/mcp/test_server_streamable_core.py
  tests/unit/mcp/test_server_streamable_handlers.py
Labels: tests

test(agent): add unit tests for core/agent.py helper functions
  tests/unit/core/test_agent_core.py
Labels: tests

test(auth): add unit tests for auth middleware helpers and models
  tests/unit/auth/test_middleware_helpers.py
Labels: tests

test(auth): add SessionData Pydantic model validation tests
  tests/unit/auth/test_session_data_model.py
Labels: tests

test(auth): add comprehensive InMemorySessionStore unit tests
  scripts/run_pre_push_tests.py
  tests/unit/auth/test_session_store.py
Labels: tests

test(core): add unit tests for security utility functions
  scripts/validators/validate_ids.py
  tests/unit/core/test_security_utils.py
Labels: tests

test(tools): add unit tests for calculator tools
  tests/unit/tools/test_calculator_tools.py
Labels: tests

fix(docs): correct broken link to ADR sync script
  tests/unit/tools/test_calculator_tools.py
Labels: tests

test(core): add unit tests for URL utils and cache configuration
  tests/unit/core/test_cache_utils.py
  tests/unit/core/test_url_utils.py
Labels: tests

.github/labeler.yml:

# Auto-labeler configuration for PRs
# Uses changed-files pattern matching

# Documentation
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'
      - '**/*.mdx'
      - 'docs/**/*'
      - 'mint.json'
      - '.mcp/*.json'

# Tests
tests:
  - changed-files:
    - any-glob-to-any-file:
      - 'tests/**/*'
      - '**/*test*.py'
      - 'test_*.py'
      - '*_test.py'
      - 'pytest.ini'
      - 'conftest.py'
      - 'TESTING.md'

# CI/CD
ci-cd:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**/*'
      - '.github/actions/**/*'
      - '.gitlab-ci.yml'
      - 'Makefile'
      - '.pre-commit-config.yaml'

# Dependencies
dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'requirements*.txt'
      - 'setup.py'
      - 'pyproject.toml'
      - 'poetry.lock'
      - 'package*.json'
      - 'yarn.lock'

# Docker
docker:
  - changed-files:
    - any-glob-to-any-file:
      - 'Dockerfile*'
      - 'docker-compose*.yml'
      - '.dockerignore'

# Kubernetes/Deployment
deployment:
  - changed-files:
    - any-glob-to-any-file:
      - 'kubernetes/**/*'
      - 'kustomize/**/*'
      - 'helm/**/*'
      - 'k8s/**/*'
      - 'KUBERNETES_DEPLOYMENT.md'
      - 'PRODUCTION_DEPLOYMENT.md'

# Authentication/Authorization
auth:
  - changed-files:
    - any-glob-to-any-file:
      - 'auth.py'
      - 'openfga_client.py'
      - 'setup_openfga.py'

# Secrets Management
secrets:
  - changed-files:
    - any-glob-to-any-file:
      - 'secrets_manager.py'
      - 'setup_infisical.py'

# Observability
observability:
  - changed-files:
    - any-glob-to-any-file:
      - 'observability.py'
      - 'health_check.py'
      - 'monitoring/**/*'
      - 'grafana/**/*'

# MCP Server
mcp:
  - changed-files:
    - any-glob-to-any-file:
      - 'mcp_server*.py'
      - 'examples/*client*.py'

# Agent/Core
agent:
  - changed-files:
    - any-glob-to-any-file:
      - 'agent.py'
      - 'graph.py'
      - 'models.py'
      - 'prompt*.py'

# Configuration
config:
  - changed-files:
    - any-glob-to-any-file:
      - 'config.py'
      - '.env*'
      - 'settings.py'
      - '*.yaml'
      - '*.yml'
      - '*.toml'
      - '*.ini'
      - '.editorconfig'

# Security
security:
  - changed-files:
    - any-glob-to-any-file:
      - 'auth.py'
      - 'secrets_manager.py'
      - 'openfga_client.py'
      - 'SECURITY*.md'
      - '.github/workflows/security-scan.yaml'
      - 'scripts/validate_production.py'

# Community
community:
  - changed-files:
    - any-glob-to-any-file:
      - 'CODE_OF_CONDUCT.md'
      - 'CONTRIBUTING.md'
      - 'DEVELOPMENT.md'
      - '.github/SUPPORT.md'
      - '.github/FUNDING.yml'
      - '.github/ISSUE_TEMPLATE/**/*'
      - '.github/PULL_REQUEST_TEMPLATE.md'
