Repository vishnu2kmohan/mcp-server-langgraph, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, tests, ci-cd, dependencies, docker, deployment, auth, secrets, observability, mcp, agent, config, security, community

.github/labeler.yml:

# Auto-labeler configuration for PRs
# Uses changed-files pattern matching

# Documentation
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'
      - '**/*.mdx'
      - 'docs/**/*'
      - 'mint.json'
      - '.mcp/*.json'

# Tests
tests:
  - changed-files:
    - any-glob-to-any-file:
      - 'tests/**/*'
      - '**/*test*.py'
      - 'test_*.py'
      - '*_test.py'
      - 'pytest.ini'
      - 'conftest.py'
      - 'TESTING.md'

# CI/CD
ci-cd:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**/*'
      - '.github/actions/**/*'
      - '.gitlab-ci.yml'
      - 'Makefile'
      - '.pre-commit-config.yaml'

# Dependencies
dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'requirements*.txt'
      - 'setup.py'
      - 'pyproject.toml'
      - 'poetry.lock'
      - 'package*.json'
      - 'yarn.lock'

# Docker
docker:
  - changed-files:
    - any-glob-to-any-file:
      - 'Dockerfile*'
      - 'docker-compose*.yml'
      - '.dockerignore'

# Kubernetes/Deployment
deployment:
  - changed-files:
    - any-glob-to-any-file:
      - 'kubernetes/**/*'
      - 'kustomize/**/*'
      - 'helm/**/*'
      - 'k8s/**/*'
      - 'KUBERNETES_DEPLOYMENT.md'
      - 'PRODUCTION_DEPLOYMENT.md'

# Authentication/Authorization
auth:
  - changed-files:
    - any-glob-to-any-file:
      - 'auth.py'
      - 'openfga_client.py'
      - 'setup_openfga.py'

# Secrets Management
secrets:
  - changed-files:
    - any-glob-to-any-file:
      - 'secrets_manager.py'
      - 'setup_infisical.py'

# Observability
observability:
  - changed-files:
    - any-glob-to-any-file:
      - 'observability.py'
      - 'health_check.py'
      - 'monitoring/**/*'
      - 'grafana/**/*'

# MCP Server
mcp:
  - changed-files:
    - any-glob-to-any-file:
      - 'mcp_server*.py'
      - 'examples/*client*.py'

# Agent/Core
agent:
  - changed-files:
    - any-glob-to-any-file:
      - 'agent.py'
      - 'graph.py'
      - 'models.py'
      - 'prompt*.py'

# Configuration
config:
  - changed-files:
    - any-glob-to-any-file:
      - 'config.py'
      - '.env*'
      - 'settings.py'
      - '*.yaml'
      - '*.yml'
      - '*.toml'
      - '*.ini'
      - '.editorconfig'

# Security
security:
  - changed-files:
    - any-glob-to-any-file:
      - 'auth.py'
      - 'secrets_manager.py'
      - 'openfga_client.py'
      - 'SECURITY*.md'
      - '.github/workflows/security-scan.yaml'
      - 'scripts/validate_production.py'

# Community
community:
  - changed-files:
    - any-glob-to-any-file:
      - 'CODE_OF_CONDUCT.md'
      - 'CONTRIBUTING.md'
      - 'DEVELOPMENT.md'
      - '.github/SUPPORT.md'
      - '.github/FUNDING.yml'
      - '.github/ISSUE_TEMPLATE/**/*'
      - '.github/PULL_REQUEST_TEMPLATE.md'

add Benchmark (pytest) benchmark result for 1f85c6f4cad6aa3968987b872144df70a3df291e
  dev/bench/data.js
Labels: none

docs: standardize ADR numbering in Mintlify frontmatter
  docs/architecture/adr-0025-anthropic-best-practices-enhancements.mdx
  docs/architecture/adr-0026-lazy-observability-initialization.mdx
  docs/architecture/adr-0027-rate-limiting-strategy.mdx
  docs/architecture/adr-0028-caching-strategy.mdx
  docs/architecture/adr-0029-custom-exception-hierarchy.mdx
  docs/architecture/adr-0030-resilience-patterns.mdx
  docs/architecture/adr-0031-keycloak-authoritative-identity.mdx
  docs/architecture/adr-0032-jwt-standardization.mdx
  docs/architecture/adr-0033-service-principal-design.mdx
  docs/architecture/adr-0034-api-key-jwt-exchange.mdx
  docs/architecture/adr-0035-kong-jwt-validation.mdx
  docs/architecture/adr-0036-hybrid-session-model.mdx
  docs/architecture/adr-0037-identity-federation.mdx
  docs/architecture/adr-0038-scim-implementation.mdx
  docs/architecture/adr-0039-openfga-permission-inheritance.mdx
Labels: documentation

add Benchmark (pytest) benchmark result for a8976c4e1227dc988c846144f4ab3e75434c03dc
  dev/bench/data.js
Labels: none

docs: add consistent file-lines icon to all ADRs in Mintlify
  docs/architecture/adr-0001-llm-multi-provider.mdx
  docs/architecture/adr-0002-openfga-authorization.mdx
  docs/architecture/adr-0003-dual-observability.mdx
  docs/architecture/adr-0004-mcp-streamable-http.mdx
  docs/architecture/adr-0005-pydantic-ai-integration.mdx
  docs/architecture/adr-0006-session-storage-architecture.mdx
  docs/architecture/adr-0007-authentication-provider-pattern.mdx
  docs/architecture/adr-0008-infisical-secrets-management.mdx
  docs/architecture/adr-0009-feature-flag-system.mdx
  docs/architecture/adr-0010-langgraph-functional-api.mdx
  docs/architecture/adr-0011-cookiecutter-template-strategy.mdx
  docs/architecture/adr-0012-compliance-framework-integration.mdx
  docs/architecture/adr-0013-multi-deployment-target-strategy.mdx
  docs/architecture/adr-0014-pydantic-type-safety.mdx
  docs/architecture/adr-0015-memory-checkpointing.mdx
  docs/architecture/adr-0016-property-based-testing-strategy.mdx
  docs/architecture/adr-0017-error-handling-strategy.mdx
  docs/architecture/adr-0018-semantic-versioning-strategy.mdx
  docs/architecture/adr-0019-async-first-architecture.mdx
  docs/architecture/adr-0020-dual-mcp-transport-protocol.mdx
  docs/architecture/adr-0021-cicd-pipeline-strategy.mdx
  docs/architecture/adr-0022-distributed-conversation-checkpointing.mdx
  docs/architecture/adr-0023-anthropic-tool-design-best-practices.mdx
  docs/architecture/adr-0024-agentic-loop-implementation.mdx
  docs/architecture/adr-0025-anthropic-best-practices-enhancements.mdx
  docs/architecture/adr-0026-lazy-observability-initialization.mdx
  docs/architecture/adr-0027-rate-limiting-strategy.mdx
  docs/architecture/adr-0028-caching-strategy.mdx
  docs/architecture/adr-0029-custom-exception-hierarchy.mdx
  docs/architecture/adr-0030-resilience-patterns.mdx
Labels: documentation

add Benchmark (pytest) benchmark result for 24589cd0a608a75a4120dbdf459901fa8859b6a9
  dev/bench/data.js
Labels: none

docs: add contextual icons to all Mintlify .mdx files
  docs/api-reference/introduction.mdx
  docs/architecture/overview.mdx
  docs/deployment/gke-staging-implementation-summary.mdx
  docs/deployment/overview.mdx
  docs/getting-started/installation.mdx
  docs/getting-started/introduction.mdx
  docs/getting-started/quickstart.mdx
  docs/guides/authentication-migration-v2-8.mdx
  docs/releases/overview.mdx
  docs/releases/v2-1-0.mdx
  docs/releases/v2-2-0.mdx
  docs/releases/v2-3-0.mdx
  docs/releases/v2-4-0.mdx
  docs/releases/v2-5-0.mdx
  docs/releases/v2-6-0.mdx
  docs/releases/v2-7-0.mdx
  docs/releases/v2-8-0.mdx
  docs/security/gke-staging-checklist.mdx
Labels: documentation

add Benchmark (pytest) benchmark result for 982964cebc96b1b05b87c4f22ce30d343e8143f2
  dev/bench/data.js
Labels: none

fix(docs): resolve Mintlify syntax errors and broken links
  docs/deployment/keycloak-jwt-deployment.mdx
  docs/guides/api-key-management.mdx
  docs/guides/identity-federation-quickstart.mdx
  docs/guides/scim-provisioning.mdx
  docs/guides/service-principals.mdx
  docs/releases/v2-3-0.mdx
  docs/security/quickstart-security.mdx
Labels: documentation

add Benchmark (pytest) benchmark result for 58741ca13c8755d9e21c4fd67e201730d23d9db9
  dev/bench/data.js
Labels: none

add Benchmark (pytest) benchmark result for 46bb310e0388a225d8c8849914dc1fbe170f7ff5
  dev/bench/data.js
Labels: none

fix(docs): replace invalid 'helm' icon with 'package'
  docs/.mintlify/ICON_GUIDE.md
  docs/deployment/helm.mdx
Labels: documentation

add Benchmark (pytest) benchmark result for 05b952b3f0eab80087480e620d9f375d93f30261
  dev/bench/data.js
Labels: none

fix(docs): change Helm icon from 'package' to 'boxes'
  .claude/settings.local.json
  docs/.mintlify/ICON_GUIDE.md
  docs/deployment/helm.mdx
Labels: documentation

add Benchmark (pytest) benchmark result for 439aee978cd8a7ef295f1efb7fd3821f1fd08e91
  dev/bench/data.js
Labels: none

fix(docs): update Helm icon in deployment overview Card
  docs/deployment/overview.mdx
Labels: documentation

add Benchmark (pytest) benchmark result for cf7c6b34bda6a6928f9be923591fc27e6f821e18
  dev/bench/data.js
Labels: none

fix(docs): replace invalid 'dharmachakra' icon with valid Lucide icons
  docs/.mintlify/ICON_GUIDE.md
  docs/deployment/gke-staging-implementation-summary.mdx
  docs/deployment/kubernetes.mdx
  docs/deployment/overview.mdx
Labels: documentation

Revert "fix(docs): replace invalid 'dharmachakra' icon with valid Lucide icons"
  docs/.mintlify/ICON_GUIDE.md
  docs/deployment/gke-staging-implementation-summary.mdx
  docs/deployment/kubernetes.mdx
  docs/deployment/overview.mdx
Labels: documentation

add Benchmark (pytest) benchmark result for d18168f62fdae9b21e939071cc83788e0e5aef13
  dev/bench/data.js
Labels: none

docs: update Icon Style Guide to prefer Font Awesome over Lucide
  docs/.mintlify/ICON_GUIDE.md
Labels: documentation

add Benchmark (pytest) benchmark result for f5e81de06648e767c32d01b487421e3d2e5fecf9
  dev/bench/data.js
Labels: none

add Benchmark (pytest) benchmark result for 9c95a73034a8ee781023fee4b1ff8d6b01cf3bf1
  dev/bench/data.js
Labels: none

fix(docs): resolve MDX syntax errors and broken ADR cross-references
  docs/architecture/adr-0031-keycloak-authoritative-identity.mdx
  docs/architecture/adr-0032-jwt-standardization.mdx
  docs/architecture/adr-0033-service-principal-design.mdx
  docs/architecture/adr-0034-api-key-jwt-exchange.mdx
  docs/architecture/adr-0035-kong-jwt-validation.mdx
  docs/architecture/adr-0036-hybrid-session-model.mdx
  docs/architecture/adr-0037-identity-federation.mdx
  docs/architecture/adr-0038-scim-implementation.mdx
  docs/architecture/adr-0039-openfga-permission-inheritance.mdx
  docs/deployment/gke-staging-implementation-summary.mdx
  docs/deployment/kubernetes/gke-staging.mdx
  docs/security/gke-staging-checklist.mdx
Labels: documentation

add Benchmark (pytest) benchmark result for 45bfdd3009fa9edb86c5aeedfb117eaedc5fca97
  dev/bench/data.js
Labels: none

feat(docs): convert GKE staging ASCII diagram to Mermaid
  docs/deployment/kubernetes/gke-staging.mdx
Labels: documentation

fix(docs): remove HTML br tags from Mermaid participant names
  docs/deployment/gdpr-storage-configuration.mdx
Labels: documentation

add Benchmark (pytest) benchmark result for 3ee4ff1291acf13b2938b6830e8a3c5a07296ca5
  dev/bench/data.js
Labels: none

add Benchmark (pytest) benchmark result for 346168d10b5386bd7948131bcf03d8d4dbcb7c6a
  dev/bench/data.js
Labels: none

fix(docs): replace Lucide icons with Font Awesome and fix all Mermaid errors
  docs/.mintlify/ICON_GUIDE.md
  docs/architecture/adr-0027-rate-limiting-strategy.mdx
  docs/architecture/adr-0028-caching-strategy.mdx
  docs/architecture/adr-0030-resilience-patterns.mdx
  docs/architecture/adr-0033-service-principal-design.mdx
  docs/architecture/adr-0034-api-key-jwt-exchange.mdx
  docs/architecture/adr-0036-hybrid-session-model.mdx
  docs/architecture/adr-0037-identity-federation.mdx
  docs/architecture/adr-0038-scim-implementation.mdx
  docs/architecture/adr-0039-openfga-permission-inheritance.mdx
  docs/deployment/disaster-recovery.mdx
  docs/deployment/gdpr-storage-configuration.mdx
  docs/deployment/helm.mdx
  docs/deployment/overview.mdx
  docs/diagrams/system-architecture.mdx
  docs/guides/secret-rotation.mdx
  scripts/fix_mermaid_sequence_diagrams.py
  scripts/validate_all_mermaid.py
Labels: documentation

add Benchmark (pytest) benchmark result for 226249bd738a8801b64c9d5d9266e6ed9886f33b
  dev/bench/data.js
Labels: none

fix: resolve all 30 mypy type errors and lint issues
  docs/architecture/adr-0027-rate-limiting-strategy.mdx
  docs/architecture/adr-0028-caching-strategy.mdx
  docs/architecture/adr-0030-resilience-patterns.mdx
  docs/architecture/adr-0033-service-principal-design.mdx
  docs/architecture/adr-0034-api-key-jwt-exchange.mdx
  docs/architecture/adr-0036-hybrid-session-model.mdx
  docs/architecture/adr-0037-identity-federation.mdx
  docs/architecture/adr-0038-scim-implementation.mdx
  docs/architecture/adr-0039-openfga-permission-inheritance.mdx
  docs/deployment/disaster-recovery.mdx
  docs/deployment/gdpr-storage-configuration.mdx
  scripts/add_sequence_diagram_themes.py
  src/mcp_server_langgraph/api/api_keys.py
  src/mcp_server_langgraph/api/gdpr.py
  src/mcp_server_langgraph/api/scim.py
  src/mcp_server_langgraph/api/service_principals.py
  src/mcp_server_langgraph/auth/api_keys.py
  src/mcp_server_langgraph/auth/keycloak.py
  src/mcp_server_langgraph/auth/service_principal.py
  src/mcp_server_langgraph/core/agent.py
  src/mcp_server_langgraph/core/cache.py
  src/mcp_server_langgraph/core/dependencies.py
  src/mcp_server_langgraph/mcp/server_stdio.py
  src/mcp_server_langgraph/mcp/server_streamable.py
  src/mcp_server_langgraph/scim/schema.py
Labels: documentation

add Benchmark (pytest) benchmark result for b93f819f1fcbc96987e6aa07d45ac6b72af8d226
  dev/bench/data.js
Labels: none

docs: add Mermaid optimization guide and validation tools
  MINTLIFY_IMPROVEMENTS_SUMMARY.md
  docs/.mintlify/MERMAID_OPTIMIZATION_GUIDE.md
  scripts/add_diagram_styling.py
Labels: documentation

add Benchmark (pytest) benchmark result for 8230f756b57bcda726a61f47b5958c7e7364a819
  dev/bench/data.js
Labels: none

feat(tests): comprehensive testing strategy implementation with isolated infrastructure
  Makefile
  TESTING_IMPLEMENTATION_SUMMARY.md
  docker-compose.test.yml
  pyproject.toml
  tests/README.md
  tests/api/test_api_keys_endpoints.py
  tests/api/test_service_principals_endpoints.py
  tests/e2e/test_full_user_journey.py
  tests/test_permission_inheritance.py
  tests/unit/test_mcp_stdio_server.py
  uv.lock
Labels: documentation, tests, ci-cd, dependencies, docker, config

add Benchmark (pytest) benchmark result for 07e809f2ea21768d31b9db1e335e0f18473ba82e
  dev/bench/data.js
Labels: none

feat(ci): add E2E test workflow and update CI with new test suites
  .github/workflows/ci.yaml
  .github/workflows/e2e-tests.yaml
  tests/api/test_api_keys_endpoints.py
  tests/api/test_service_principals_endpoints.py
Labels: tests, ci-cd

add Benchmark (pytest) benchmark result for 1677f743c2076b934bcf0a23f3e1105718cdb89d
  dev/bench/data.js
Labels: none

feat(docs): complete Mermaid diagram optimization - dark mode + ASCII conversions
  docs/.mintlify/SEQUENCE_DIAGRAM_THEME.md
  docs/.mintlify/templates/README.md
  docs/.mintlify/templates/deployment-template.mdx
  docs/advanced/testing.mdx
  docs/architecture/adr-0020-dual-mcp-transport-protocol.mdx
  docs/architecture/adr-0021-cicd-pipeline-strategy.mdx
  docs/architecture/adr-0027-rate-limiting-strategy.mdx
  docs/architecture/adr-0028-caching-strategy.mdx
  docs/architecture/adr-0030-resilience-patterns.mdx
  docs/architecture/adr-0033-service-principal-design.mdx
  docs/architecture/adr-0034-api-key-jwt-exchange.mdx
  docs/architecture/adr-0036-hybrid-session-model.mdx
  docs/architecture/adr-0037-identity-federation.mdx
  docs/architecture/adr-0038-scim-implementation.mdx
  docs/architecture/adr-0039-openfga-permission-inheritance.mdx
  docs/deployment/disaster-recovery.mdx
  docs/deployment/gdpr-storage-configuration.mdx
  docs/deployment/vertex-ai-workload-identity.mdx
  docs/deployment/vmware-resource-estimation.mdx
  docs/getting-started/architecture.mdx
  scripts/update_sequence_diagram_dark_mode.py
Labels: documentation

add Benchmark (pytest) benchmark result for 18e279057f458c7a246fd338ea991dbc072ab3d2
  dev/bench/data.js
Labels: none
