Repository vishnu2kmohan/mcp-server-langgraph, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, tests, ci-cd, dependencies, docker, deployment, auth, secrets, observability, mcp, agent, config, security, community

fix(e2e): rename Keycloak realm from 'mcp-test' to 'default'
  tests/e2e/mcp-test-realm.json
Labels: tests

ci(coverage): lower minimum coverage threshold from 75% to 70%
  .github/workflows/coverage-trend.yaml
Labels: ci-cd

fix(e2e): rename realm file to match realm name for Keycloak 26.x
  docker-compose.test.yml
  tests/e2e/default-realm.json
Labels: tests, docker, config

fix(e2e): update docker_fixtures realm URL to 'default'
  tests/fixtures/docker_fixtures.py
Labels: tests

fix(e2e): improve Grafana SQLite locking resilience for CI
  docker-compose.test.yml
Labels: docker, config

add Benchmark (pytest) benchmark result for 0973b513066e178d4e76d8230f2a3fa070d13d6f
  dev/bench/data.js
Labels: none

fix(test): update meta tests for Keycloak 26.x realm filename requirement
  tests/README.md
  tests/e2e/test_full_user_journey.py
  tests/integration/test_mcp_streamable.py
  tests/meta/test_e2e_keycloak_setup.py
  tests/meta/test_e2e_organization.py
Labels: documentation, tests

fix(traefik): change playground route from /play to /chat
  adr/adr-0068-gateway-level-authentication.md
  docker-compose.test.yml
  tests/integration/gateway/test_traefik_auth_middleware.py
Labels: documentation, tests, docker, config

fix(keycloak): add path wildcards to redirect URIs for traefik-forward-auth
  tests/e2e/default-realm.json
Labels: tests

feat(playground): add SPA static file serving for React frontend
  src/mcp_server_langgraph/playground/api/server.py
Labels: none

fix(playground): configure Vite base path for /chat Traefik route
  src/mcp_server_langgraph/playground/frontend/vite.config.ts
Labels: none

feat(playground): add auto-connect to default MCP server on mount
  src/mcp_server_langgraph/playground/frontend/src/contexts/MCPHostContext.tsx
  src/mcp_server_langgraph/playground/frontend/src/vite-env.d.ts
Labels: none

fix(playground): wire dead code and fix MCP response handlers (P0)
  src/mcp_server_langgraph/playground/frontend/src/App.test.tsx
  src/mcp_server_langgraph/playground/frontend/src/App.tsx
  src/mcp_server_langgraph/playground/frontend/src/api/mcp-client.ts
  src/mcp_server_langgraph/playground/frontend/src/components/Layout/Sidebar.test.tsx
  src/mcp_server_langgraph/playground/frontend/src/components/Layout/Sidebar.tsx
  src/mcp_server_langgraph/playground/frontend/src/contexts/MCPHostContext.tsx
Labels: none

feat(playground): add authentication UI (P1.1)
  src/mcp_server_langgraph/playground/frontend/src/App.test.tsx
  src/mcp_server_langgraph/playground/frontend/src/App.tsx
  src/mcp_server_langgraph/playground/frontend/src/api/playground.ts
  src/mcp_server_langgraph/playground/frontend/src/api/types.ts
  src/mcp_server_langgraph/playground/frontend/src/components/Auth/LoginForm.test.tsx
  src/mcp_server_langgraph/playground/frontend/src/components/Auth/LoginForm.tsx
  src/mcp_server_langgraph/playground/frontend/src/components/Auth/index.ts
  src/mcp_server_langgraph/playground/frontend/src/components/Layout/Header.test.tsx
  src/mcp_server_langgraph/playground/frontend/src/components/Layout/Header.tsx
  src/mcp_server_langgraph/playground/frontend/src/contexts/AuthContext.tsx
  src/mcp_server_langgraph/playground/frontend/src/hooks/useAuth.test.ts
  src/mcp_server_langgraph/playground/frontend/src/hooks/useAuth.ts
Labels: none

feat(playground): add Tool Browser UI (P1.2)
  src/mcp_server_langgraph/playground/frontend/src/components/MCP/ToolBrowser.test.tsx
  src/mcp_server_langgraph/playground/frontend/src/components/MCP/ToolBrowser.tsx
  src/mcp_server_langgraph/playground/frontend/src/components/MCP/ToolCard.test.tsx
  src/mcp_server_langgraph/playground/frontend/src/components/MCP/ToolCard.tsx
  src/mcp_server_langgraph/playground/frontend/src/components/MCP/index.ts
Labels: none

feat(playground): add Resource Browser and Prompt Explorer (P1.3, P1.4)
  src/mcp_server_langgraph/playground/frontend/src/components/MCP/PromptExplorer.test.tsx
  src/mcp_server_langgraph/playground/frontend/src/components/MCP/PromptExplorer.tsx
  src/mcp_server_langgraph/playground/frontend/src/components/MCP/ResourceBrowser.test.tsx
  src/mcp_server_langgraph/playground/frontend/src/components/MCP/ResourceBrowser.tsx
  src/mcp_server_langgraph/playground/frontend/src/components/MCP/index.ts
Labels: none

feat(playground): implement MCP 2025-11-25 full protocol compliance (P2)
  src/mcp_server_langgraph/playground/frontend/src/api/mcp-client.ts
  src/mcp_server_langgraph/playground/frontend/src/api/mcp-types.ts
  src/mcp_server_langgraph/playground/frontend/src/components/MCP/ElicitationDialog.tsx
  src/mcp_server_langgraph/playground/frontend/src/components/MCP/SamplingDialog.tsx
  src/mcp_server_langgraph/playground/frontend/src/components/MCP/SchemaForm.tsx
  src/mcp_server_langgraph/playground/frontend/src/components/MCP/TaskList.test.tsx
  src/mcp_server_langgraph/playground/frontend/src/components/MCP/TaskList.tsx
  src/mcp_server_langgraph/playground/frontend/src/components/MCP/index.ts
  src/mcp_server_langgraph/playground/frontend/src/hooks/useMCPCompletion.test.ts
  src/mcp_server_langgraph/playground/frontend/src/hooks/useMCPCompletion.ts
  src/mcp_server_langgraph/playground/frontend/src/hooks/useMCPLogging.test.ts
  src/mcp_server_langgraph/playground/frontend/src/hooks/useMCPLogging.ts
  src/mcp_server_langgraph/playground/frontend/src/hooks/useMCPRoots.test.ts
  src/mcp_server_langgraph/playground/frontend/src/hooks/useMCPRoots.ts
  src/mcp_server_langgraph/playground/frontend/src/hooks/useMCPTasks.test.ts
  src/mcp_server_langgraph/playground/frontend/src/hooks/useMCPTasks.ts
Labels: none

feat(playground): add UX excellence and agent transparency (P3/P4)
  src/mcp_server_langgraph/playground/frontend/src/api/types.ts
  src/mcp_server_langgraph/playground/frontend/src/components/Chat/AgentInfoBadge.test.tsx
  src/mcp_server_langgraph/playground/frontend/src/components/Chat/AgentInfoBadge.tsx
  src/mcp_server_langgraph/playground/frontend/src/components/Chat/AgentReasoningPanel.test.tsx
  src/mcp_server_langgraph/playground/frontend/src/components/Chat/AgentReasoningPanel.tsx
  src/mcp_server_langgraph/playground/frontend/src/components/Chat/ChatMessage.tsx
  src/mcp_server_langgraph/playground/frontend/src/components/Chat/ResponseFormatSelector.test.tsx
  src/mcp_server_langgraph/playground/frontend/src/components/Chat/ResponseFormatSelector.tsx
  src/mcp_server_langgraph/playground/frontend/src/components/Common/EmptyState.test.tsx
  src/mcp_server_langgraph/playground/frontend/src/components/Common/EmptyState.tsx
  src/mcp_server_langgraph/playground/frontend/src/components/Common/Skeleton.test.tsx
  src/mcp_server_langgraph/playground/frontend/src/components/Common/Skeleton.tsx
  src/mcp_server_langgraph/playground/frontend/src/components/Common/index.ts
  src/mcp_server_langgraph/playground/frontend/src/components/Feedback/FeedbackButton.test.tsx
  src/mcp_server_langgraph/playground/frontend/src/components/Feedback/FeedbackButton.tsx
  src/mcp_server_langgraph/playground/frontend/src/components/Feedback/index.ts
  src/mcp_server_langgraph/playground/frontend/src/components/MCP/PromptExplorer.test.tsx
  src/mcp_server_langgraph/playground/frontend/src/components/MCP/PromptExplorer.tsx
  src/mcp_server_langgraph/playground/frontend/src/components/MCP/ResourceBrowser.test.tsx
  src/mcp_server_langgraph/playground/frontend/src/components/MCP/ResourceBrowser.tsx
  src/mcp_server_langgraph/playground/frontend/src/components/MCP/ToolBrowser.test.tsx
  src/mcp_server_langgraph/playground/frontend/src/components/MCP/ToolBrowser.tsx
  src/mcp_server_langgraph/playground/frontend/src/components/Onboarding/WelcomeModal.test.tsx
  src/mcp_server_langgraph/playground/frontend/src/components/Onboarding/WelcomeModal.tsx
  src/mcp_server_langgraph/playground/frontend/src/components/Onboarding/index.ts
  src/mcp_server_langgraph/playground/frontend/src/components/Sessions/SessionList.tsx
  src/mcp_server_langgraph/playground/frontend/src/hooks/useKeyboardNavigation.test.ts
  src/mcp_server_langgraph/playground/frontend/src/hooks/useKeyboardNavigation.ts
  src/mcp_server_langgraph/playground/frontend/src/test/setup.ts
Labels: none

feat(playground): add UX enhancements - dark mode, sidebar persistence, connection status, session export
  src/mcp_server_langgraph/playground/frontend/src/components/MCP/ConnectionStatusIndicator.test.tsx
  src/mcp_server_langgraph/playground/frontend/src/components/MCP/ConnectionStatusIndicator.tsx
  src/mcp_server_langgraph/playground/frontend/src/hooks/useDarkMode.test.ts
  src/mcp_server_langgraph/playground/frontend/src/hooks/useDarkMode.ts
  src/mcp_server_langgraph/playground/frontend/src/hooks/useSessionExport.test.ts
  src/mcp_server_langgraph/playground/frontend/src/hooks/useSessionExport.ts
  src/mcp_server_langgraph/playground/frontend/src/hooks/useSidebarState.test.ts
  src/mcp_server_langgraph/playground/frontend/src/hooks/useSidebarState.ts
Labels: none

feat(playground): integrate components and add PWA support
  src/mcp_server_langgraph/playground/frontend/public/sw.js
  src/mcp_server_langgraph/playground/frontend/src/App.test.tsx
  src/mcp_server_langgraph/playground/frontend/src/App.tsx
  src/mcp_server_langgraph/playground/frontend/src/components/Common/EmptyState.tsx
  src/mcp_server_langgraph/playground/frontend/src/components/Layout/Header.test.tsx
  src/mcp_server_langgraph/playground/frontend/src/components/Layout/Header.tsx
  src/mcp_server_langgraph/playground/frontend/src/components/Sessions/SessionExportButtons.test.tsx
  src/mcp_server_langgraph/playground/frontend/src/components/Sessions/SessionExportButtons.tsx
  src/mcp_server_langgraph/playground/frontend/src/components/Sessions/index.ts
  src/mcp_server_langgraph/playground/frontend/src/hooks/useServiceWorker.test.ts
  src/mcp_server_langgraph/playground/frontend/src/hooks/useServiceWorker.ts
  src/mcp_server_langgraph/playground/frontend/src/index.css
  src/mcp_server_langgraph/playground/frontend/tailwind.config.js
Labels: none

feat(playground): add PWA manifest and Playwright E2E tests
  src/mcp_server_langgraph/playground/frontend/.gitignore
  src/mcp_server_langgraph/playground/frontend/e2e/app.spec.ts
  src/mcp_server_langgraph/playground/frontend/index.html
  src/mcp_server_langgraph/playground/frontend/package-lock.json
  src/mcp_server_langgraph/playground/frontend/package.json
  src/mcp_server_langgraph/playground/frontend/playwright.config.ts
  src/mcp_server_langgraph/playground/frontend/public/icons/icon.svg
  src/mcp_server_langgraph/playground/frontend/public/manifest.json
Labels: none

feat(playground): add PNG icons for PWA installability
  src/mcp_server_langgraph/playground/frontend/public/icons/icon-128x128.png
  src/mcp_server_langgraph/playground/frontend/public/icons/icon-144x144.png
  src/mcp_server_langgraph/playground/frontend/public/icons/icon-152x152.png
  src/mcp_server_langgraph/playground/frontend/public/icons/icon-192x192.png
  src/mcp_server_langgraph/playground/frontend/public/icons/icon-384x384.png
  src/mcp_server_langgraph/playground/frontend/public/icons/icon-512x512.png
  src/mcp_server_langgraph/playground/frontend/public/icons/icon-72x72.png
  src/mcp_server_langgraph/playground/frontend/public/icons/icon-96x96.png
Labels: none

feat(shared): add unified design tokens and hooks (Phase 0)
  src/mcp_server_langgraph/builder/frontend/src/hooks/useAccessibility.ts
  src/mcp_server_langgraph/builder/frontend/src/hooks/useDarkMode.ts
  src/mcp_server_langgraph/playground/frontend/src/hooks/useAccessibility.ts
  src/mcp_server_langgraph/playground/frontend/src/hooks/useDarkMode.test.ts
  src/mcp_server_langgraph/playground/frontend/src/hooks/useDarkMode.ts
  src/mcp_server_langgraph/shared/frontend/package.json
  src/mcp_server_langgraph/shared/frontend/src/api/index.ts
  src/mcp_server_langgraph/shared/frontend/src/components/index.ts
  src/mcp_server_langgraph/shared/frontend/src/hooks/index.ts
  src/mcp_server_langgraph/shared/frontend/src/hooks/useAccessibility.test.ts
  src/mcp_server_langgraph/shared/frontend/src/hooks/useAccessibility.ts
  src/mcp_server_langgraph/shared/frontend/src/hooks/useDarkMode.test.ts
  src/mcp_server_langgraph/shared/frontend/src/hooks/useDarkMode.ts
  src/mcp_server_langgraph/shared/frontend/src/index.ts
  src/mcp_server_langgraph/shared/frontend/src/styles/design-tokens.ts
  src/mcp_server_langgraph/shared/frontend/src/styles/index.ts
  src/mcp_server_langgraph/shared/frontend/src/test/setup.ts
  src/mcp_server_langgraph/shared/frontend/tsconfig.json
  src/mcp_server_langgraph/shared/frontend/vitest.config.ts
Labels: none

feat(builder): add WCAG 2.1 AA accessibility (Phase 1)
  src/mcp_server_langgraph/builder/frontend/src/App.tsx
  src/mcp_server_langgraph/builder/frontend/src/components/KeyboardShortcutsModal.test.tsx
  src/mcp_server_langgraph/builder/frontend/src/components/KeyboardShortcutsModal.tsx
  src/mcp_server_langgraph/builder/frontend/src/components/NodeConfigModal.test.tsx
  src/mcp_server_langgraph/builder/frontend/src/components/NodeConfigModal.tsx
  src/mcp_server_langgraph/builder/frontend/src/components/common/EmptyState.test.tsx
  src/mcp_server_langgraph/builder/frontend/src/components/common/EmptyState.tsx
  src/mcp_server_langgraph/builder/frontend/src/components/common/Skeleton.test.tsx
  src/mcp_server_langgraph/builder/frontend/src/components/common/Skeleton.tsx
  src/mcp_server_langgraph/builder/frontend/src/hooks/useAccessibility.test.ts
  src/mcp_server_langgraph/builder/frontend/src/hooks/useAccessibility.ts
  src/mcp_server_langgraph/builder/frontend/src/hooks/useDarkMode.test.ts
  src/mcp_server_langgraph/builder/frontend/src/hooks/useDarkMode.ts
  src/mcp_server_langgraph/builder/frontend/src/test/setup.ts
  src/mcp_server_langgraph/shared/frontend/src/hooks/useAccessibility.ts
  src/mcp_server_langgraph/shared/frontend/src/hooks/useDarkMode.ts
  src/mcp_server_langgraph/shared/frontend/tsconfig.node.json
Labels: none

feat(shared): add HEART metrics with builder integration (Phase 2)
  src/mcp_server_langgraph/builder/frontend/src/App.tsx
  src/mcp_server_langgraph/builder/frontend/src/components/Feedback/FeedbackButton.test.tsx
  src/mcp_server_langgraph/builder/frontend/src/components/Feedback/FeedbackButton.tsx
  src/mcp_server_langgraph/builder/frontend/src/components/Feedback/NPSSurvey.test.tsx
  src/mcp_server_langgraph/builder/frontend/src/components/Feedback/NPSSurvey.tsx
  src/mcp_server_langgraph/builder/frontend/src/components/Feedback/index.ts
  src/mcp_server_langgraph/builder/frontend/src/components/Onboarding/WelcomeModal.test.tsx
  src/mcp_server_langgraph/builder/frontend/src/components/Onboarding/WelcomeModal.tsx
  src/mcp_server_langgraph/builder/frontend/src/components/Onboarding/index.ts
  src/mcp_server_langgraph/playground/frontend/src/hooks/useHeartMetrics.tsx
  src/mcp_server_langgraph/shared/frontend/src/hooks/index.ts
  src/mcp_server_langgraph/shared/frontend/src/hooks/useHeartMetrics.test.tsx
  src/mcp_server_langgraph/shared/frontend/src/hooks/useHeartMetrics.tsx
Labels: none

feat(builder): add UX excellence components (Phase 3)
  src/mcp_server_langgraph/builder/frontend/src/components/common/CodeQualityPanel.test.tsx
  src/mcp_server_langgraph/builder/frontend/src/components/common/CodeQualityPanel.tsx
  src/mcp_server_langgraph/builder/frontend/src/components/common/ErrorBoundary.test.tsx
  src/mcp_server_langgraph/builder/frontend/src/components/common/ErrorBoundary.tsx
  src/mcp_server_langgraph/builder/frontend/src/components/common/ValidationBadge.test.tsx
  src/mcp_server_langgraph/builder/frontend/src/components/common/ValidationBadge.tsx
  src/mcp_server_langgraph/builder/frontend/src/components/common/index.ts
Labels: none

feat(api): add HEART metrics API and analytics dashboard (Phase 4)
  src/mcp_server_langgraph/api/metrics.py
  src/mcp_server_langgraph/playground/frontend/src/components/Admin/MetricsDashboard.test.tsx
  src/mcp_server_langgraph/playground/frontend/src/components/Admin/MetricsDashboard.tsx
  src/mcp_server_langgraph/playground/frontend/src/components/Admin/index.ts
  src/mcp_server_langgraph/shared/frontend/package.json
  src/mcp_server_langgraph/shared/frontend/src/api/index.ts
  src/mcp_server_langgraph/shared/frontend/src/api/metrics.test.ts
  src/mcp_server_langgraph/shared/frontend/src/api/metrics.ts
  src/mcp_server_langgraph/shared/frontend/src/components/Privacy/PrivacySettings.test.tsx
  src/mcp_server_langgraph/shared/frontend/src/components/Privacy/PrivacySettings.tsx
  src/mcp_server_langgraph/shared/frontend/src/components/Privacy/index.ts
  src/mcp_server_langgraph/shared/frontend/src/components/index.ts
  tests/api/test_metrics_api.py
Labels: tests

feat(builder): add remaining UX improvements (Phase 3/4)
  src/mcp_server_langgraph/builder/frontend/src/App.test.tsx
  src/mcp_server_langgraph/builder/frontend/src/App.tsx
  src/mcp_server_langgraph/builder/frontend/src/components/SettingsModal.test.tsx
  src/mcp_server_langgraph/builder/frontend/src/components/SettingsModal.tsx
  src/mcp_server_langgraph/builder/frontend/src/hooks/useNPSSurvey.test.ts
  src/mcp_server_langgraph/builder/frontend/src/hooks/useNPSSurvey.ts
Labels: none

fix(tests): resolve test failures and type errors
  .env.test
  docker-compose.test.yml
  src/mcp_server_langgraph/api/metrics.py
  src/mcp_server_langgraph/auth/factory.py
  src/mcp_server_langgraph/core/agent.py
  src/mcp_server_langgraph/core/config.py
  src/mcp_server_langgraph/core/dependencies.py
  src/mcp_server_langgraph/playground/api/models.py
  src/mcp_server_langgraph/playground/api/server.py
  src/mcp_server_langgraph/playground/frontend/src/api/mcp-client.test.ts
  src/mcp_server_langgraph/playground/frontend/src/components/Sessions/SessionExportButtons.tsx
  src/mcp_server_langgraph/playground/frontend/src/hooks/useAccessibility.test.ts
  src/mcp_server_langgraph/playground/frontend/src/hooks/useAccessibility.ts
  src/mcp_server_langgraph/playground/frontend/src/hooks/useMCPTools.ts
  src/mcp_server_langgraph/playground/mcp/integration.py
  src/mcp_server_langgraph/shared/frontend/src/hooks/useAccessibility.test.ts
  src/mcp_server_langgraph/shared/frontend/src/hooks/useDarkMode.test.ts
  src/mcp_server_langgraph/shared/frontend/src/test/setup.ts
  tests/e2e/default-realm.json
  tests/playground/test_playground_api.py
  tests/unit/auth/test_auth_factory.py
Labels: tests, docker, config

feat(shared): add comprehensive FTUX component library (Phase 1-2)
  src/mcp_server_langgraph/shared/frontend/src/components/ErrorRecovery/ErrorRecovery.test.tsx
  src/mcp_server_langgraph/shared/frontend/src/components/ErrorRecovery/ErrorRecovery.tsx
  src/mcp_server_langgraph/shared/frontend/src/components/ErrorRecovery/index.ts
  src/mcp_server_langgraph/shared/frontend/src/components/FeatureHint/FeatureHint.test.tsx
  src/mcp_server_langgraph/shared/frontend/src/components/FeatureHint/FeatureHint.tsx
  src/mcp_server_langgraph/shared/frontend/src/components/FeatureHint/index.ts
  src/mcp_server_langgraph/shared/frontend/src/components/GuidedTour/GuidedTour.test.tsx
  src/mcp_server_langgraph/shared/frontend/src/components/GuidedTour/GuidedTour.tsx
  src/mcp_server_langgraph/shared/frontend/src/components/GuidedTour/index.ts
  src/mcp_server_langgraph/shared/frontend/src/components/HelpPanel/HelpPanel.test.tsx
  src/mcp_server_langgraph/shared/frontend/src/components/HelpPanel/HelpPanel.tsx
  src/mcp_server_langgraph/shared/frontend/src/components/HelpPanel/index.ts
  src/mcp_server_langgraph/shared/frontend/src/components/OnboardingProgress/OnboardingProgress.test.tsx
  src/mcp_server_langgraph/shared/frontend/src/components/OnboardingProgress/OnboardingProgress.tsx
  src/mcp_server_langgraph/shared/frontend/src/components/OnboardingProgress/index.ts
  src/mcp_server_langgraph/shared/frontend/src/components/Tooltip/Tooltip.test.tsx
  src/mcp_server_langgraph/shared/frontend/src/components/Tooltip/Tooltip.tsx
  src/mcp_server_langgraph/shared/frontend/src/components/Tooltip/index.ts
  src/mcp_server_langgraph/shared/frontend/src/components/index.ts
  src/mcp_server_langgraph/shared/frontend/src/hooks/index.ts
  src/mcp_server_langgraph/shared/frontend/src/hooks/useFTUXAnalytics.test.ts
  src/mcp_server_langgraph/shared/frontend/src/hooks/useFTUXAnalytics.ts
Labels: none

feat(builder,playground): integrate shared FTUX components
  src/mcp_server_langgraph/builder/frontend/src/App.tsx
  src/mcp_server_langgraph/playground/frontend/src/App.tsx
Labels: none

feat(studio): implement Week 1 unified frontend foundation with Zustand stores
  src/mcp_server_langgraph/studio/frontend/index.html
  src/mcp_server_langgraph/studio/frontend/package.json
  src/mcp_server_langgraph/studio/frontend/postcss.config.js
  src/mcp_server_langgraph/studio/frontend/src/App.tsx
  src/mcp_server_langgraph/studio/frontend/src/index.css
  src/mcp_server_langgraph/studio/frontend/src/main.tsx
  src/mcp_server_langgraph/studio/frontend/src/router/guards/AuthGuard.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/router/guards/AuthGuard.tsx
  src/mcp_server_langgraph/studio/frontend/src/router/guards/PersonaGuard.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/router/guards/PersonaGuard.tsx
  src/mcp_server_langgraph/studio/frontend/src/router/guards/index.ts
  src/mcp_server_langgraph/studio/frontend/src/router/index.tsx
  src/mcp_server_langgraph/studio/frontend/src/stores/authStore.test.ts
  src/mcp_server_langgraph/studio/frontend/src/stores/authStore.ts
  src/mcp_server_langgraph/studio/frontend/src/stores/index.ts
  src/mcp_server_langgraph/studio/frontend/src/stores/mcpStore.test.ts
  src/mcp_server_langgraph/studio/frontend/src/stores/mcpStore.ts
  src/mcp_server_langgraph/studio/frontend/src/stores/sessionStore.test.ts
  src/mcp_server_langgraph/studio/frontend/src/stores/sessionStore.ts
  src/mcp_server_langgraph/studio/frontend/src/stores/workflowStore.test.ts
  src/mcp_server_langgraph/studio/frontend/src/stores/workflowStore.ts
  src/mcp_server_langgraph/studio/frontend/src/test/setup.ts
  src/mcp_server_langgraph/studio/frontend/src/types/auth.ts
  src/mcp_server_langgraph/studio/frontend/src/types/index.ts
  src/mcp_server_langgraph/studio/frontend/src/types/mcp.ts
  src/mcp_server_langgraph/studio/frontend/src/types/session.ts
  src/mcp_server_langgraph/studio/frontend/src/types/workflow.ts
  src/mcp_server_langgraph/studio/frontend/src/vite-env.d.ts
  src/mcp_server_langgraph/studio/frontend/tailwind.config.ts
  src/mcp_server_langgraph/studio/frontend/tsconfig.json
  src/mcp_server_langgraph/studio/frontend/tsconfig.node.json
  src/mcp_server_langgraph/studio/frontend/vite.config.ts
  src/mcp_server_langgraph/studio/frontend/vitest.config.ts
  tests/integration/gateway/test_traefik_auth_middleware.py
  tests/integration/playground/test_playground_api_integration.py
  tests/integration/test_dependencies_wiring.py
  tests/playground/test_mcp_client.py
Labels: tests

feat(studio): Week 2 - decompose App.tsx into Workflow components
  src/mcp_server_langgraph/studio/frontend/src/components/Workflow/CodePanel.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Workflow/CodePanel.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Workflow/NodePalette.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Workflow/NodePalette.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Workflow/WorkflowHeader.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Workflow/WorkflowHeader.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Workflow/index.ts
Labels: none

feat(studio): Week 3 - integrate Chat components from Playground
  src/mcp_server_langgraph/studio/frontend/src/components/Chat/ChatInput.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Chat/ChatInput.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Chat/ChatMessage.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Chat/ChatMessage.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Chat/index.ts
Labels: none

feat(studio): Week 4 - Admin Portal and Persona Dashboards
  src/mcp_server_langgraph/studio/frontend/eslint.config.js
  src/mcp_server_langgraph/studio/frontend/package.json
  src/mcp_server_langgraph/studio/frontend/src/components/Admin/AdminDashboard.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Admin/AdminDashboard.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Admin/OrganizationManager.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Admin/OrganizationManager.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Admin/UserManager.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Admin/UserManager.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Admin/index.ts
  src/mcp_server_langgraph/studio/frontend/src/router/PersonaRouter.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/router/PersonaRouter.tsx
  src/mcp_server_langgraph/studio/frontend/src/stores/authStore.test.ts
  src/mcp_server_langgraph/studio/frontend/src/stores/index.ts
  src/mcp_server_langgraph/studio/frontend/src/stores/mcpStore.test.ts
  src/mcp_server_langgraph/studio/frontend/src/stores/mcpStore.ts
  src/mcp_server_langgraph/studio/frontend/src/stores/personaStore.test.ts
  src/mcp_server_langgraph/studio/frontend/src/stores/personaStore.ts
  src/mcp_server_langgraph/studio/frontend/src/stores/sessionStore.test.ts
  src/mcp_server_langgraph/studio/frontend/src/stores/sessionStore.ts
  src/mcp_server_langgraph/studio/frontend/src/stores/workflowStore.test.ts
Labels: none

feat(secrets): implement pluggable secrets provider architecture (Week 5)
  .gitignore
  src/mcp_server_langgraph/auth/hipaa.py
  src/mcp_server_langgraph/core/config.py
  src/mcp_server_langgraph/health/checks.py
  src/mcp_server_langgraph/secret_providers/__init__.py
  src/mcp_server_langgraph/secret_providers/aws.py
  src/mcp_server_langgraph/secret_providers/azure.py
  src/mcp_server_langgraph/secret_providers/base.py
  src/mcp_server_langgraph/secret_providers/environment.py
  src/mcp_server_langgraph/secret_providers/factory.py
  src/mcp_server_langgraph/secret_providers/gcp.py
  src/mcp_server_langgraph/secret_providers/manager.py
  src/mcp_server_langgraph/secret_providers/openbao.py
  tests/conftest.py
  tests/integration/test_infisical_optional.py
  tests/integration/test_secrets_manager.py
  tests/unit/secret_providers/__init__.py
  tests/unit/secret_providers/test_openbao_provider.py
  tests/unit/secret_providers/test_secrets_base.py
  tests/unit/secret_providers/test_secrets_factory.py
  tests/unit/secrets_obfuscation/test_secrets_obfuscation.py
Labels: tests

feat(studio/ai): implement AI suggestions and template recommendations (Week 6)
  src/mcp_server_langgraph/studio/ai/__init__.py
  src/mcp_server_langgraph/studio/ai/node_config.py
  src/mcp_server_langgraph/studio/ai/suggestions.py
  src/mcp_server_langgraph/studio/ai/templates.py
  tests/unit/studio/__init__.py
  tests/unit/studio/ai/__init__.py
  tests/unit/studio/ai/test_node_assistance.py
  tests/unit/studio/ai/test_template_matching.py
  tests/unit/studio/ai/test_workflow_suggestions.py
Labels: tests

feat(api,studio): implement legacy redirects and performance config (Week 7)
  src/mcp_server_langgraph/api/redirects.py
  src/mcp_server_langgraph/studio/performance/__init__.py
  tests/performance/test_bundle_size.py
  tests/unit/api/__init__.py
  tests/unit/api/test_legacy_redirects.py
Labels: tests

feat(studio/security): add security hardening module (Week 8)
  src/mcp_server_langgraph/studio/security/__init__.py
  tests/security/test_studio_security.py
Labels: tests

fix(build,types): Docker shared imports and mypy type annotations
  docker/Dockerfile.builder
  src/mcp_server_langgraph/api/redirects.py
  src/mcp_server_langgraph/secret_providers/aws.py
  src/mcp_server_langgraph/secret_providers/azure.py
  src/mcp_server_langgraph/secret_providers/gcp.py
  src/mcp_server_langgraph/secret_providers/openbao.py
  src/mcp_server_langgraph/studio/ai/node_config.py
  src/mcp_server_langgraph/studio/ai/templates.py
  tests/unit/core/test_agent_refinement_attempts.py
  tests/unit/playground/test_playground_auth_jwt_extraction.py
  tests/unit/playground/test_playground_mcp_bridge_thread_id.py
Labels: tests

.github/labeler.yml:

# Auto-labeler configuration for PRs
# Uses changed-files pattern matching

# Documentation
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'
      - '**/*.mdx'
      - 'docs/**/*'
      - 'mint.json'
      - '.mcp/*.json'

# Tests
tests:
  - changed-files:
    - any-glob-to-any-file:
      - 'tests/**/*'
      - '**/*test*.py'
      - 'test_*.py'
      - '*_test.py'
      - 'pytest.ini'
      - 'conftest.py'
      - 'TESTING.md'

# CI/CD
ci-cd:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**/*'
      - '.github/actions/**/*'
      - '.gitlab-ci.yml'
      - 'Makefile'
      - '.pre-commit-config.yaml'

# Dependencies
dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'requirements*.txt'
      - 'setup.py'
      - 'pyproject.toml'
      - 'poetry.lock'
      - 'package*.json'
      - 'yarn.lock'

# Docker
docker:
  - changed-files:
    - any-glob-to-any-file:
      - 'Dockerfile*'
      - 'docker-compose*.yml'
      - '.dockerignore'

# Kubernetes/Deployment
deployment:
  - changed-files:
    - any-glob-to-any-file:
      - 'kubernetes/**/*'
      - 'kustomize/**/*'
      - 'helm/**/*'
      - 'k8s/**/*'
      - 'KUBERNETES_DEPLOYMENT.md'
      - 'PRODUCTION_DEPLOYMENT.md'

# Authentication/Authorization
auth:
  - changed-files:
    - any-glob-to-any-file:
      - 'auth.py'
      - 'openfga_client.py'
      - 'setup_openfga.py'

# Secrets Management
secrets:
  - changed-files:
    - any-glob-to-any-file:
      - 'secrets_manager.py'
      - 'setup_infisical.py'

# Observability
observability:
  - changed-files:
    - any-glob-to-any-file:
      - 'observability.py'
      - 'health_check.py'
      - 'monitoring/**/*'
      - 'grafana/**/*'

# MCP Server
mcp:
  - changed-files:
    - any-glob-to-any-file:
      - 'mcp_server*.py'
      - 'examples/*client*.py'

# Agent/Core
agent:
  - changed-files:
    - any-glob-to-any-file:
      - 'agent.py'
      - 'graph.py'
      - 'models.py'
      - 'prompt*.py'

# Configuration
config:
  - changed-files:
    - any-glob-to-any-file:
      - 'config.py'
      - '.env*'
      - 'settings.py'
      - '*.yaml'
      - '*.yml'
      - '*.toml'
      - '*.ini'
      - '.editorconfig'

# Security
security:
  - changed-files:
    - any-glob-to-any-file:
      - 'auth.py'
      - 'secrets_manager.py'
      - 'openfga_client.py'
      - 'SECURITY*.md'
      - '.github/workflows/security-scan.yaml'
      - 'scripts/validate_production.py'

# Community
community:
  - changed-files:
    - any-glob-to-any-file:
      - 'CODE_OF_CONDUCT.md'
      - 'CONTRIBUTING.md'
      - 'DEVELOPMENT.md'
      - '.github/SUPPORT.md'
      - '.github/FUNDING.yml'
      - '.github/ISSUE_TEMPLATE/**/*'
      - '.github/PULL_REQUEST_TEMPLATE.md'
