Repository vishnu2kmohan/mcp-server-langgraph, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, tests, ci-cd, dependencies, docker, deployment, auth, secrets, observability, mcp, agent, config, security, community

feat(artifacts): add interactive artifact rendering with Sandpack executor
  src/mcp_server_langgraph/studio/frontend/e2e/artifact-rendering.spec.ts
  src/mcp_server_langgraph/studio/frontend/src/components/Artifacts/ArtifactRenderer.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Artifacts/SandpackExecutor.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Artifacts/SandpackExecutor.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Artifacts/index.ts
  src/mcp_server_langgraph/studio/frontend/src/utils/artifactParser.test.ts
  src/mcp_server_langgraph/studio/frontend/src/utils/artifactParser.ts
Labels: none

refactor(chat): enhance messaging components with document support
  src/mcp_server_langgraph/studio/frontend/src/components/Chat/ChatDocument.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Chat/ChatDocument.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Chat/ChatMessage.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Chat/ChatMessage.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Chat/ChatMessages.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Chat/ChatMessages.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Chat/index.ts
  src/mcp_server_langgraph/studio/frontend/src/components/Insights/CostDocument.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Insights/CostDocument.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Insights/ObservabilityDocument.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Insights/ObservabilityDocument.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Insights/index.ts
  src/mcp_server_langgraph/studio/frontend/src/components/Project/ProjectDocument.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Project/ProjectDocument.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Project/index.ts
  src/mcp_server_langgraph/studio/frontend/src/components/Settings/SettingsDocument.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Settings/SettingsDocument.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Settings/index.ts
  src/mcp_server_langgraph/studio/frontend/src/components/Workflow/WorkflowDocument.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Workflow/WorkflowDocument.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Workflow/index.ts
  src/mcp_server_langgraph/studio/frontend/src/pages/ChatPage.tsx
  src/mcp_server_langgraph/studio/frontend/src/types/api.ts
Labels: none

chore(config): update test environment and add Sandpack dependency
  .env.test
  Makefile
  docker-compose.test.yml
  src/mcp_server_langgraph/studio/frontend/package.json
  src/mcp_server_langgraph/studio/frontend/src/test/setup.ts
  src/mcp_server_langgraph/studio/frontend/vite.config.ts
Labels: ci-cd, docker, config

refactor(frontend): remove obsolete Sidebar test file
  src/mcp_server_langgraph/studio/frontend/src/components/Layout/Sidebar.test.tsx
Labels: none

fix(tests): improve pytest-xdist stability and add Loki query fixes
  .github/workflows/accessibility-tests.yaml
  .github/workflows/lighthouse-ci.yaml
  README.md
  docs/architecture/adr-0070-openfga-oidc-authentication.mdx
  docs/docs.json
  docs/troubleshooting/openfga-oidc-troubleshooting.mdx
  src/mcp_server_langgraph/observability/query/backends/loki.py
  tests/api/test_user_api.py
  tests/integration/audit/test_audit_lifespan_integration.py
  tests/integration/auth/conftest.py
  tests/integration/auth/test_oauth2_e2e.py
  tests/integration/auth/test_openfga_oidc.py
  tests/integration/observability/test_lgtm_client_integration.py
  tests/integration/test_conversation_state_persistence.py
  tests/integration/test_tool_improvements.py
  tests/meta/test_fixture_organization.py
  tests/regression/test_dev_dependencies.py
  tests/regression/test_litellm_cleanup_warnings.py
  tests/unit/api/v1/test_admin_users_router.py
  tests/unit/api/v1/test_vectors_embedding_providers.py
  tests/unit/execution/test_docker_sandbox_async.py
  tests/unit/execution/test_kubernetes_sandbox_async.py
  tests/unit/health/test_qdrant_validation.py
  tests/unit/llm/test_factory_async_only.py
  tests/unit/observability/query/test_gcp_backends.py
  tests/unit/observability/test_json_logger_additional.py
Labels: documentation, tests, ci-cd

fix(api): API contract fixes for sessions, connections, and projects
  api/openapi.json
  scripts/export_openapi.py
  src/mcp_server_langgraph/api/v1/connections.py
  src/mcp_server_langgraph/api/v1/projects.py
  src/mcp_server_langgraph/api/v1/sessions.py
  src/mcp_server_langgraph/studio/frontend/src/App.tsx
  src/mcp_server_langgraph/studio/frontend/src/api/index.ts
  src/mcp_server_langgraph/studio/frontend/src/mocks/handlers.ts
  src/mcp_server_langgraph/studio/frontend/src/types/api.ts
  src/mcp_server_langgraph/studio/frontend/src/types/generated-api.ts
  tests/unit/api/v1/test_connections_security.py
  tests/unit/api/v1/test_projects_connections.py
  tests/unit/api/v1/test_sessions_contract.py
Labels: tests

feat(api): add workflow sharing and AI generation endpoints (Phase 6)
  api/openapi.json
  src/mcp_server_langgraph/api/v1/workflows.py
  src/mcp_server_langgraph/studio/frontend/src/types/generated-api.ts
  tests/unit/api/v1/test_workflow_generate.py
  tests/unit/api/v1/test_workflow_sharing.py
Labels: tests

feat(storage): add workflow sharing storage layer with TDD
  alembic/versions/j0k1l2m3n4o5_add_workflow_shares.py
  src/mcp_server_langgraph/storage/workflow/models.py
  src/mcp_server_langgraph/storage/workflow/postgres_models.py
  src/mcp_server_langgraph/storage/workflow/share_repository.py
  tests/unit/api/v1/test_sessions_router.py
  tests/unit/storage/workflow/test_workflow_share_repository.py
Labels: tests

feat(api): add workflow sharing authorization layer
  src/mcp_server_langgraph/api/v1/workflows.py
  tests/unit/api/v1/test_workflow_authorization.py
Labels: tests

feat(api): security fixes, session cleanup, and PostgresWorkflowShareRepository
  api/openapi.json
  src/mcp_server_langgraph/api/v1/connections.py
  src/mcp_server_langgraph/api/v1/sessions.py
  src/mcp_server_langgraph/storage/workflow/share_repository.py
  tests/unit/api/v1/test_connections_security.py
  tests/unit/api/v1/test_sessions_contract.py
  tests/unit/storage/workflow/test_workflow_share_repository.py
Labels: tests

fix(tests): update workflow sharing tests for authorization layer
  tests/unit/api/v1/test_workflow_sharing.py
Labels: tests

feat(services): add LLM-powered workflow generation and improve test coverage
  src/mcp_server_langgraph/api/v1/workflows.py
  src/mcp_server_langgraph/services/__init__.py
  src/mcp_server_langgraph/services/workflow_generator.py
  tests/e2e/test_workflow_sharing_journey.py
  tests/integration/api/v1/test_workflow_sharing_integration.py
  tests/unit/api/v1/test_workflow_authorization.py
  tests/unit/api/v1/test_workflow_generate.py
  tests/unit/api/v1/test_workflow_sharing.py
  tests/unit/services/test_workflow_generator.py
  tests/unit/storage/workflow/test_workflow_share_repository.py
Labels: tests

feat(auth): add OpenFGA workflow sharing integration with TDD tests
  src/mcp_server_langgraph/auth/workflow_sharing.py
  src/mcp_server_langgraph/studio/frontend/src/types/generated-api.ts
  tests/integration/storage/__init__.py
  tests/integration/storage/workflow/__init__.py
  tests/integration/storage/workflow/test_postgres_share_repository.py
  tests/unit/auth/test_openfga_workflow_sharing.py
Labels: tests

fix(core/config): suppress false positive S105 warnings in config_legacy
  adr/README.md
  adr/adr-0071-compile-time-graph-composition.md
  adr/adr-0072-bootstrap-phase-architecture.md
  adr/adr-0073-configuration-domain-decomposition.md
  src/mcp_server_langgraph/core/config_legacy.py
Labels: documentation

refactor(core/config): decompose monolithic config into 8 domain modules
  src/mcp_server_langgraph/core/config/__init__.py
  src/mcp_server_langgraph/core/config/agent.py
  src/mcp_server_langgraph/core/config/auth.py
  src/mcp_server_langgraph/core/config/base.py
  src/mcp_server_langgraph/core/config/compliance.py
  src/mcp_server_langgraph/core/config/llm.py
  src/mcp_server_langgraph/core/config/observability.py
  src/mcp_server_langgraph/core/config/storage.py
  src/mcp_server_langgraph/core/config/streaming.py
  tests/unit/core/config/test_config_modules.py
  tests/unit/core/config/test_streaming_config.py
Labels: tests

feat(core/agent): implement compile-time graph composition
  src/mcp_server_langgraph/core/__init__.py
  src/mcp_server_langgraph/core/agent.py
  src/mcp_server_langgraph/core/agent_config.py
  src/mcp_server_langgraph/core/agent_graph_builder.py
  tests/unit/core/test_agent_config.py
  tests/unit/core/test_agent_graph_builder.py
  tests/unit/core/test_agent_graph_compile_time.py
  tests/unit/core/test_get_agent_graph_removed.py
  tests/unit/mcp/test_mcp_agent_graph_migration.py
Labels: tests

feat(bootstrap): implement modular 4-phase startup architecture
  src/mcp_server_langgraph/app.py
  src/mcp_server_langgraph/bootstrap/__init__.py
  src/mcp_server_langgraph/bootstrap/http.py
  src/mcp_server_langgraph/bootstrap/observability.py
  src/mcp_server_langgraph/bootstrap/security.py
  src/mcp_server_langgraph/bootstrap/storage.py
  src/mcp_server_langgraph/bootstrap/websocket.py
  tests/unit/bootstrap/test_bootstrap_modules.py
  tests/unit/bootstrap/test_storage_global_setters.py
  tests/unit/bootstrap/test_websocket_bootstrap.py
Labels: tests

feat(api): add dependency injection and K8s health probes
  src/mcp_server_langgraph/api/deps.py
  src/mcp_server_langgraph/api/health.py
  src/mcp_server_langgraph/api/v1/router.py
  tests/unit/api/test_deps.py
  tests/unit/api/test_health_probes.py
Labels: tests

feat(api/websocket): implement comprehensive security with rate limiting
  src/mcp_server_langgraph/api/v1/mcp_websocket.py
  src/mcp_server_langgraph/api/v1/notification_websocket.py
  tests/api/test_notification_websocket.py
  tests/e2e/test_mcp_websocket_e2e.py
  tests/e2e/test_notification_websocket_e2e.py
  tests/integration/test_notification_websocket_integration.py
  tests/unit/api/v1/test_configurable_security_limits.py
  tests/unit/api/v1/test_global_singleton_configuration.py
  tests/unit/api/v1/test_limit_violation_metrics.py
  tests/unit/api/v1/test_mcp_streaming_metrics_endpoint.py
  tests/unit/api/v1/test_mcp_websocket.py
  tests/unit/api/v1/test_mcp_websocket_lifespan_integration.py
  tests/unit/api/v1/test_mcp_websocket_streaming_handler.py
  tests/unit/api/v1/test_security_limits_env_vars.py
  tests/unit/api/v1/test_streaming_chunk_limits.py
  tests/unit/api/v1/test_streaming_enabled_flag.py
  tests/unit/api/v1/test_streaming_idle_timeout.py
  tests/unit/api/v1/test_streaming_outbound_rate_limit.py
  tests/unit/api/v1/test_streaming_security_integration.py
  tests/unit/api/v1/test_streaming_settings_wiring.py
Labels: tests

feat(observability): add logging, alerting, and metrics infrastructure
  deployments/monitoring/README.md
  deployments/monitoring/golden-signals-dashboard.json
  deployments/monitoring/llm-observability-dashboard.json
  deployments/monitoring/session-lifecycle-dashboard.json
  deployments/monitoring/slo-alerts.yaml
  scripts/validators/validate_dashboards.py
  src/mcp_server_langgraph/api/v1/observability.py
  src/mcp_server_langgraph/auth/metrics.py
  src/mcp_server_langgraph/auth/prometheus_metrics.py
  src/mcp_server_langgraph/llm/metrics.py
  src/mcp_server_langgraph/observability/query/backends/__init__.py
  src/mcp_server_langgraph/observability/query/backends/grafana.py
  src/mcp_server_langgraph/observability/query/backends/stub.py
  src/mcp_server_langgraph/observability/query/factory.py
  src/mcp_server_langgraph/observability/query/interfaces.py
  tests/e2e/test_trace_correlation_e2e.py
  tests/integration/observability/test_grafana_alerting_integration.py
  tests/unit/llm/test_bounded_metric_labels.py
  tests/unit/llm/test_genai_semantic_conventions.py
  tests/unit/observability/test_grafana_alerting_client.py
Labels: documentation, tests

feat(auth): add session lifecycle tracking with OpenTelemetry
  src/mcp_server_langgraph/auth/session.py
  tests/unit/auth/test_prometheus_auth_metrics.py
  tests/unit/auth/test_session_lifecycle_events.py
Labels: tests

feat(notifications): add preference-aware broadcasting
  src/mcp_server_langgraph/api/v1/notification_preferences.py
  src/mcp_server_langgraph/notifications/__init__.py
  src/mcp_server_langgraph/notifications/broadcast.py
  src/mcp_server_langgraph/notifications/preferences.py
  tests/unit/api/v1/test_notification_preferences_api.py
  tests/unit/notifications/__init__.py
  tests/unit/notifications/test_broadcaster_preferences.py
  tests/unit/notifications/test_preferences.py
  tests/unit/notifications/test_redis_preferences.py
Labels: tests

fix(security): enforce authentication on session API endpoints
  src/mcp_server_langgraph/api/v1/sessions.py
  tests/security/test_sessions_auth_enforcement.py
  tests/unit/api/v1/test_sessions_contract.py
  tests/unit/api/v1/test_sessions_router.py
Labels: tests

perf(storage): optimize session listing with Redis SET secondary index
  src/mcp_server_langgraph/storage/session/manager.py
Labels: none

fix(security): replace try-except-pass with debug logging (S110)
  src/mcp_server_langgraph/api/v1/observability.py
  src/mcp_server_langgraph/auth/middleware.py
  src/mcp_server_langgraph/auth/prometheus_metrics.py
  src/mcp_server_langgraph/auth/service_principal.py
  src/mcp_server_langgraph/bootstrap/http.py
  src/mcp_server_langgraph/bootstrap/security.py
  src/mcp_server_langgraph/bootstrap/storage.py
  src/mcp_server_langgraph/compliance/metrics.py
  src/mcp_server_langgraph/core/cache.py
  src/mcp_server_langgraph/core/checkpoint_validator.py
  src/mcp_server_langgraph/core/dependencies.py
  src/mcp_server_langgraph/core/exceptions.py
  src/mcp_server_langgraph/execution/docker_sandbox.py
  src/mcp_server_langgraph/health/checks.py
  src/mcp_server_langgraph/llm/metrics.py
  src/mcp_server_langgraph/middleware/metrics.py
  src/mcp_server_langgraph/middleware/rate_limiter.py
  src/mcp_server_langgraph/observability/telemetry.py
  src/mcp_server_langgraph/schedulers/cleanup.py
  src/mcp_server_langgraph/secret_providers/gcp.py
  src/mcp_server_langgraph/studio/ai/suggestions.py
  src/mcp_server_langgraph/studio/ai/templates.py
  src/mcp_server_langgraph/studio/ai/title_generator.py
Labels: none

refactor(mcp): extract tool handlers to separate modules (Phase 2.1 Part 1)
  src/mcp_server_langgraph/mcp/handlers/__init__.py
  src/mcp_server_langgraph/mcp/handlers/base.py
  src/mcp_server_langgraph/mcp/handlers/chat.py
  src/mcp_server_langgraph/mcp/handlers/conversation.py
  src/mcp_server_langgraph/mcp/handlers/execution.py
  src/mcp_server_langgraph/mcp/models.py
Labels: none

fix(security): add proper JWT auth to WebSocket endpoints
  src/mcp_server_langgraph/api/v1/audit_websocket.py
  src/mcp_server_langgraph/api/v1/connection_health_ws.py
Labels: none

refactor(auth): decompose AuthMiddleware - extract FastAPI dependencies
  src/mcp_server_langgraph/auth/dependencies.py
  src/mcp_server_langgraph/auth/middleware.py
Labels: none

fix(typing): achieve 100% mypy strict mode compliance
  src/mcp_server_langgraph/api/v1/chat.py
  src/mcp_server_langgraph/api/v1/workflow_bootstrap.py
  src/mcp_server_langgraph/auth/jwt_utils.py
  src/mcp_server_langgraph/health/checks.py
  src/mcp_server_langgraph/llm/factory.py
  src/mcp_server_langgraph/mcp/handlers/chat.py
  src/mcp_server_langgraph/storage/session/manager.py
  tests/unit/api/v1/test_workflow_bootstrap.py
Labels: tests

refactor(mcp): complete handler integration - server_stdio.py 959→493 lines
  src/mcp_server_langgraph/mcp/server_stdio.py
  tests/unit/mcp/test_mcp_stdio_server.py
Labels: tests

fix(validators): enhance pytest fixture validator
  scripts/validators/validate_pytest_fixtures.py
Labels: tests

fix(tests): resolve validation failures for modular Makefile architecture
  README.md
  docs/architecture/adr-0071-compile-time-graph-composition.mdx
  docs/architecture/adr-0072-bootstrap-phase-architecture.mdx
  docs/architecture/adr-0073-configuration-domain-decomposition.mdx
  make/validation.mk
  scripts/validators/validate_ids.py
  tests/integration/test_agent.py
  tests/integration/test_agentic_loop_integration.py
  tests/integration/test_conversation_state_persistence.py
  tests/integration/test_distributed_checkpointing.py
  tests/integration/test_infisical_optional.py
  tests/meta/test_local_ci_parity.py
  tests/meta/test_makefile_parallelization.py
  tests/meta/test_makefile_prepush_parity.py
  tests/meta/test_validate_prepush_efficiency.py
  tests/unit/core/test_cache_redis_config.py
  tests/unit/core/test_dependencies_wiring.py
  tests/unit/core/test_lazy_imports.py
Labels: documentation, tests

feat(auth): extract TokenValidator from AuthMiddleware (Phase 2.2 SRP)
  src/mcp_server_langgraph/auth/token_validator.py
  tests/unit/auth/test_token_validator.py
Labels: tests

security(api): fix anonymous user fallback in sessions API
  src/mcp_server_langgraph/api/v1/sessions.py
  tests/security/test_sessions_auth_enforcement.py
Labels: tests

fix(tests): add modular Makefile reading and fix fixture detection
  pyproject.toml
  tests/meta/ci/test_makefile_mypy_blocking.py
  tests/meta/test_compose_file_usage.py
  tests/meta/test_regression_prevention.py
  tests/meta/test_report_freshness.py
  tests/meta/test_slash_commands.py
  tests/meta/test_validation_consolidation.py
  tests/unit/auth/test_session_lifecycle_events.py
  tests/unit/llm/test_genai_semantic_conventions.py
  uv.lock
Labels: tests, dependencies, config

fix(tests): update path helpers, Dockerfile tests, and ADR documentation
  docs/architecture/overview.mdx
  docs/reference/icon-selection-guide.mdx
  tests/meta/test_dockerfile_uv_sync.py
  tests/meta/test_path_helpers.py
  tests/unit/auth/test_auth_middleware_di.py
Labels: documentation, tests

fix(tests): address remaining meta/regression test failures
  .pre-commit-config.yaml
  tests/meta/test_xfail_strict_enforcement.py
  tests/regression/test_auth_middleware_isolation.py
  tests/regression/test_bearer_scheme_isolation.py
  tests/regression/test_documentation_structure.py
  tests/regression/test_uv_lockfile_sync.py
Labels: tests, ci-cd, config

chore(tests): add TODO comments and async-mock-configured markers
  deployments/monitoring/slo-alerts.yaml
  tests/unit/api/v1/test_mcp_websocket.py
  tests/unit/api/v1/test_streaming_chunk_limits.py
  tests/unit/api/v1/test_streaming_idle_timeout.py
  tests/unit/api/v1/test_streaming_outbound_rate_limit.py
  tests/unit/api/v1/test_streaming_security_integration.py
  tests/unit/api/v1/test_workflow_sharing.py
  tests/unit/bootstrap/test_bootstrap_modules.py
  tests/unit/core/test_agent_graph_compile_time.py
Labels: tests

feat(studio): add user preferences context with localStorage persistence
  .pre-commit-config.yaml
  src/mcp_server_langgraph/studio/frontend/src/contexts/PreferencesContext.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/contexts/PreferencesContext.tsx
  src/mcp_server_langgraph/studio/frontend/src/types/preferences.ts
Labels: ci-cd, config

feat(studio): add SettingsPanel component with tabbed preferences UI
  src/mcp_server_langgraph/studio/frontend/src/components/Settings/SettingsPanel.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Settings/SettingsPanel.tsx
Labels: none

.github/labeler.yml:

# Auto-labeler configuration for PRs
# Uses changed-files pattern matching

# Documentation
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'
      - '**/*.mdx'
      - 'docs/**/*'
      - 'mint.json'
      - '.mcp/*.json'

# Tests
tests:
  - changed-files:
    - any-glob-to-any-file:
      - 'tests/**/*'
      - '**/*test*.py'
      - 'test_*.py'
      - '*_test.py'
      - 'pytest.ini'
      - 'conftest.py'
      - 'TESTING.md'

# CI/CD
ci-cd:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**/*'
      - '.github/actions/**/*'
      - '.gitlab-ci.yml'
      - 'Makefile'
      - '.pre-commit-config.yaml'

# Dependencies
dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'requirements*.txt'
      - 'setup.py'
      - 'pyproject.toml'
      - 'poetry.lock'
      - 'package*.json'
      - 'yarn.lock'

# Docker
docker:
  - changed-files:
    - any-glob-to-any-file:
      - 'Dockerfile*'
      - 'docker-compose*.yml'
      - '.dockerignore'

# Kubernetes/Deployment
deployment:
  - changed-files:
    - any-glob-to-any-file:
      - 'kubernetes/**/*'
      - 'kustomize/**/*'
      - 'helm/**/*'
      - 'k8s/**/*'
      - 'KUBERNETES_DEPLOYMENT.md'
      - 'PRODUCTION_DEPLOYMENT.md'

# Authentication/Authorization
auth:
  - changed-files:
    - any-glob-to-any-file:
      - 'auth.py'
      - 'openfga_client.py'
      - 'setup_openfga.py'

# Secrets Management
secrets:
  - changed-files:
    - any-glob-to-any-file:
      - 'secrets_manager.py'
      - 'setup_infisical.py'

# Observability
observability:
  - changed-files:
    - any-glob-to-any-file:
      - 'observability.py'
      - 'health_check.py'
      - 'monitoring/**/*'
      - 'grafana/**/*'

# MCP Server
mcp:
  - changed-files:
    - any-glob-to-any-file:
      - 'mcp_server*.py'
      - 'examples/*client*.py'

# Agent/Core
agent:
  - changed-files:
    - any-glob-to-any-file:
      - 'agent.py'
      - 'graph.py'
      - 'models.py'
      - 'prompt*.py'

# Configuration
config:
  - changed-files:
    - any-glob-to-any-file:
      - 'config.py'
      - '.env*'
      - 'settings.py'
      - '*.yaml'
      - '*.yml'
      - '*.toml'
      - '*.ini'
      - '.editorconfig'

# Security
security:
  - changed-files:
    - any-glob-to-any-file:
      - 'auth.py'
      - 'secrets_manager.py'
      - 'openfga_client.py'
      - 'SECURITY*.md'
      - '.github/workflows/security-scan.yaml'
      - 'scripts/validate_production.py'

# Community
community:
  - changed-files:
    - any-glob-to-any-file:
      - 'CODE_OF_CONDUCT.md'
      - 'CONTRIBUTING.md'
      - 'DEVELOPMENT.md'
      - '.github/SUPPORT.md'
      - '.github/FUNDING.yml'
      - '.github/ISSUE_TEMPLATE/**/*'
      - '.github/PULL_REQUEST_TEMPLATE.md'
