Repository vishnu2kmohan/mcp-server-langgraph, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, tests, ci-cd, dependencies, docker, deployment, auth, secrets, observability, mcp, agent, config, security, community

feat: prepare package for PyPI publication (v2.0.0)
  .gitignore
  PRE_PUBLISH_CHECKLIST.md
  pyproject.toml
  setup.py
  src/mcp_server_langgraph/py.typed
Labels: documentation, dependencies, config

refactor: reorganize root directory for better maintainability
  .github/AGENTS.md
  .github/CLAUDE.md
  .github/workflows/quality-tests.yaml
  README.md
  config/README.md
  config/mutmut.py
  config/pytest.ini
  docker/README.md
  docker/docker-compose.dev.yml
  docs/README.md
  docs/api/openapi.json
  docs/reports/CI_FINAL_STATUS.md
  docs/reports/COVERAGE_ACHIEVEMENTS.md
  docs/reports/EVALUATION_REPORT.md
  docs/reports/PRE_PUBLISH_CHECKLIST.md
  docs/reports/PYDANTIC_V2_MIGRATION.md
  docs/reports/PYPI_READINESS_REPORT.md
  docs/reports/QUICK_REFERENCE.md
  docs/reports/README.md
  docs/reports/TEST_REFACTORING_SUMMARY.md
  grafana/datasources.yml
  helm/.helmignore
  kubernetes/skaffold.yaml
  monitoring/otel-collector.yaml
  monitoring/prometheus.yml
  template/README.md
  template/cookiecutter.json
Labels: documentation, ci-cd, deployment, observability

docs: fix architecture diagram rendering and update test paths
  .github/AGENTS.md
  .github/CLAUDE.md
  README.md
  docs/development/development.md
  docs/development/testing.md
  docs/reports/DOCUMENTATION_ANALYSIS.md
Labels: documentation

refactor: consolidate tool configurations and improve repository organization
  .coveragerc
  .flake8
  .gitignore
  config/README.md
  config/pytest.ini
  docs/development/ide-setup.md
  pyproject.toml
Labels: documentation, dependencies, config

fix: resolve all test failures and achieve 100% unit test pass rate
  docs/TEST_FIXES_COMPLETE.md
  src/mcp_server_langgraph/auth/role_mapper.py
  tests/property/test_auth_properties.py
  tests/test_keycloak.py
Labels: documentation, tests

feat: add Keycloak integration and complete Pydantic migration
  docs/PYDANTIC_MIGRATION_COMPLETE.md
  src/mcp_server_langgraph/auth/keycloak.py
  src/mcp_server_langgraph/auth/metrics.py
  src/mcp_server_langgraph/auth/session.py
  src/mcp_server_langgraph/auth/user_provider.py
  tests/test_role_mapper.py
  tests/test_session.py
  tests/test_user_provider.py
Labels: documentation, tests

feat: enhance authentication with user providers, sessions, and role mapping
  CHANGELOG.md
  Makefile
  config/role_mappings.yaml
  docker-compose.yml
  docs/integrations/keycloak.md
  examples/keycloak_usage.py
  pyproject.toml
  requirements.txt
  scripts/setup/setup_keycloak.py
  src/mcp_server_langgraph/auth/middleware.py
  src/mcp_server_langgraph/auth/openfga.py
  src/mcp_server_langgraph/core/config.py
  src/mcp_server_langgraph/core/feature_flags.py
  tests/test_auth.py
Labels: documentation, tests, ci-cd, dependencies, docker, config

docs: restructure agent and Claude Code integration documentation
  .claude/settings.local.json
  .github/AGENTS.md
  .github/CLAUDE.md
Labels: documentation

chore: add PostgreSQL initialization and documentation analysis
  docs/reports/DOCUMENTATION_ANALYSIS_2025-10-12.md
  scripts/postgres/init-multiple-databases.sh
Labels: documentation

feat: add Keycloak and Redis to deployment configurations
  .env.example
  deployments/README.md
  deployments/helm/langgraph-agent/Chart.yaml
  deployments/helm/langgraph-agent/values.yaml
  deployments/kubernetes/base/configmap.yaml
  deployments/kubernetes/base/deployment.yaml
  deployments/kubernetes/base/keycloak-deployment.yaml
  deployments/kubernetes/base/keycloak-service.yaml
  deployments/kubernetes/base/redis-session-deployment.yaml
  deployments/kubernetes/base/redis-session-service.yaml
  deployments/kubernetes/base/secret.yaml
  deployments/kustomize/base/kustomization.yaml
  docker-compose.yml
  docker/docker-compose.dev.yml
Labels: documentation, docker, config

feat: add deployment validation and environment-specific Kustomize overlays
  deployments/QUICKSTART.md
  deployments/kustomize/overlays/dev/configmap-patch.yaml
  deployments/kustomize/overlays/production/configmap-patch.yaml
  deployments/kustomize/overlays/staging/configmap-patch.yaml
  scripts/validation/validate_deployments.py
Labels: documentation

feat: add CI/CD enhancements and operational tooling (Phase 3)
  .github/workflows/ci.yaml
  Makefile
  monitoring/prometheus/alerts/langgraph-agent.yaml
  scripts/deployment/test_helm_deployment.sh
  scripts/deployment/test_k8s_deployment.sh
Labels: ci-cd, observability

docs: complete Phase 4 documentation consolidation for v2.1.0
  CHANGELOG.md
  README.md
  docs/development/ci-cd.md
  docs/runbooks/README.md
  docs/runbooks/keycloak-down.md
  docs/runbooks/keycloak-slow.md
  docs/runbooks/keycloak-token-refresh.md
  docs/runbooks/redis-down.md
  docs/runbooks/redis-memory.md
  docs/runbooks/redis-pool.md
  docs/runbooks/session-errors.md
  docs/runbooks/session-ttl.md
  monitoring/grafana/dashboards/README.md
  monitoring/grafana/dashboards/keycloak.json
  monitoring/grafana/dashboards/redis-sessions.json
  pyproject.toml
Labels: documentation, dependencies, observability, config

docs: update deployment guides with v2.1.0 Keycloak and Redis features
  docs/README.md
  docs/deployment/cloudrun.md
  docs/deployment/kubernetes.md
  docs/deployment/production.md
Labels: documentation

docs: update CHANGELOG.md with Phase 4 documentation additions
  CHANGELOG.md
Labels: documentation

feat: prepare v2.1.0 for PyPI publication
  .claude/settings.local.json
  CHANGELOG.md
  src/mcp_server_langgraph/__init__.py
  src/mcp_server_langgraph/mcp/server_streamable.py
Labels: documentation

feat: add comprehensive Grafana dashboards for authentication and OpenFGA
  monitoring/grafana/dashboards/authentication.json
  monitoring/grafana/dashboards/openfga.json
Labels: observability

feat: complete Phase 5 observability enhancements (v2.1.0)
  monitoring/grafana/dashboards/README.md
  monitoring/grafana/dashboards/llm-performance.json
  monitoring/prometheus/rules/slo-recording-rules.yaml
Labels: documentation, observability

docs: add v2.1.0 Grafana dashboards and SLO documentation
  docs/deployment/monitoring.mdx
Labels: documentation

feat: comprehensive GitHub workflows improvements (Phase 1 + 2)
  .github/WORKFLOW_IMPROVEMENTS.md
  .github/workflows/ci.yaml
  .github/workflows/pr-checks.yaml
  .github/workflows/quality-tests.yaml
  .github/workflows/release.yaml
  .github/workflows/security-scan.yaml
  README.md
  docs/development/ci-cd.md
  docs/development/github-actions.md
Labels: documentation, ci-cd, security

Release v2.2.0: Compliance & Observability Features
  CHANGELOG.md
  RELEASE_NOTES_v2.2.0.md
  config/retention_policies.yaml
  docs/COMPLIANCE.md
  docs/SLA_OPERATIONS_RUNBOOK.md
  monitoring/grafana/dashboards/README.md
  monitoring/grafana/dashboards/sla-monitoring.json
  monitoring/grafana/dashboards/soc2-compliance.json
  monitoring/prometheus/alerts/sla.yaml
  pyproject.toml
  src/mcp_server_langgraph/__init__.py
  src/mcp_server_langgraph/api/__init__.py
  src/mcp_server_langgraph/api/gdpr.py
  src/mcp_server_langgraph/auth/hipaa.py
  src/mcp_server_langgraph/core/compliance/__init__.py
  src/mcp_server_langgraph/core/compliance/data_deletion.py
  src/mcp_server_langgraph/core/compliance/data_export.py
  src/mcp_server_langgraph/core/compliance/evidence.py
  src/mcp_server_langgraph/core/compliance/retention.py
  src/mcp_server_langgraph/middleware/__init__.py
  src/mcp_server_langgraph/middleware/session_timeout.py
  src/mcp_server_langgraph/monitoring/__init__.py
  src/mcp_server_langgraph/monitoring/sla.py
  src/mcp_server_langgraph/schedulers/__init__.py
  src/mcp_server_langgraph/schedulers/cleanup.py
  src/mcp_server_langgraph/schedulers/compliance.py
  tests/test_gdpr.py
  tests/test_sla_monitoring.py
  tests/test_soc2_evidence.py
Labels: documentation, tests, dependencies, observability, config

feat(deps): implement comprehensive dependency management strategy
  .github/dependabot.yml
  .github/workflows/pr-checks.yaml
  CHANGELOG.md
  CI_FAILURE_INVESTIGATION.md
  DEPENDENCY_AUDIT_REPORT_20251013.md
  WORK_SUMMARY_20251013.md
  dependency-audit-20251013.txt
  docs/DEPENDENCY_MANAGEMENT.md
  scripts/dependency-audit.sh
Labels: documentation, ci-cd

fix(deps): remove invalid labels and reviewers from dependabot config
  .github/dependabot.yml
Labels: none

docs: update CHANGELOG with dependabot config fix (0bb3896)
  CHANGELOG.md
Labels: documentation

docs: add comprehensive dependency management status and monitoring
  DEPENDABOT_REBASE_QUEUE_STATUS.md
  DEPENDABOT_REBASE_STATUS.md
  DEPENDENCY_MANAGEMENT_COMPLETE.md
  DEPENDENCY_MANAGEMENT_SESSION_SUMMARY.md
  NEXT_STEPS.md
  scripts/check-pr-status.sh
Labels: documentation

docs: add CI status update for Dependabot PRs
  CI_STATUS_UPDATE.md
Labels: documentation

fix: add missing get_session_store and set_session_store functions
  src/mcp_server_langgraph/auth/session.py
Labels: none

docs: document test failure root cause and resolution
  TEST_FAILURE_ROOT_CAUSE.md
Labels: documentation

docs: update CHANGELOG with session store fix (2421c46)
  CHANGELOG.md
Labels: documentation

docs: add final session status and completion summary
  FINAL_SESSION_STATUS.md
Labels: documentation

docs: add rebase completion tracker for final Dependabot round
  REBASE_COMPLETION_TRACKER.md
Labels: documentation

docs: add work summary for dependency management session
  .env.example
  .gitlab-ci.yml
  DEPLOYMENT_ALIGNMENT_ANALYSIS.md
  DEPLOYMENT_FIXES_SUMMARY.md
  WORK_SUMMARY_20251013.md
  deployments/helm/langgraph-agent/Chart.yaml
  deployments/helm/langgraph-agent/templates/configmap.yaml
  deployments/helm/langgraph-agent/templates/deployment.yaml
  docker-compose.yml
  docs/archive/SECURITY_AUDIT.md
  docs/archive/security-review.md
  docs/deployment/docker.mdx
  docs/deployment/langgraph-platform.md
  docs/deployment/langgraph-platform.mdx
  docs/deployment/model-configuration.md
  docs/deployment/platform/ci-cd.mdx
  package.json
  scripts/validate-deployments.sh
Labels: documentation, ci-cd, dependencies, docker, config

fix: align deployment configurations across all environments
  .claude/settings.local.json
  .github/COMPLIANCE_IMPLEMENTATION_COMPLETE.md
  .github/COMPLIANCE_PHASE1_SUMMARY.md
  dependency-audit-$(date +%Y%m%d).txt
Labels: documentation

docs: reorganize repository structure and update documentation
  .claude/settings.local.json
  .gitignore
  README.md
  dependency-audit-$(date +%Y%m%d).txt
  dependency-audit-20251013.txt
  docs/reports/CI_FAILURE_INVESTIGATION.md
  docs/reports/CI_STATUS_UPDATE.md
  docs/reports/DEPENDABOT_REBASE_QUEUE_STATUS.md
  docs/reports/DEPENDABOT_REBASE_STATUS.md
  docs/reports/DEPENDENCY_AUDIT_REPORT_20251013.md
  docs/reports/DEPENDENCY_MANAGEMENT_COMPLETE.md
  docs/reports/DEPENDENCY_MANAGEMENT_SESSION_SUMMARY.md
  docs/reports/DEPLOYMENT_ALIGNMENT_ANALYSIS.md
  docs/reports/DEPLOYMENT_FIXES_SUMMARY.md
  docs/reports/FINAL_SESSION_STATUS.md
  docs/reports/NEXT_STEPS.md
  docs/reports/README.md
  docs/reports/REBASE_COMPLETION_TRACKER.md
  docs/reports/TEST_FAILURE_ROOT_CAUSE.md
  docs/reports/WORK_SUMMARY_20251013.md
Labels: documentation

feat: Release v2.3.0 - Compliance Storage & Architecture Documentation
  .flake8
  CHANGELOG.md
  docs/adr/0006-session-storage-architecture.md
  docs/adr/0007-authentication-provider-pattern.md
  docs/adr/0008-infisical-secrets-management.md
  docs/adr/0009-feature-flag-system.md
  docs/adr/0010-langgraph-functional-api.md
  docs/adr/0011-cookiecutter-template-strategy.md
  docs/adr/0012-compliance-framework-integration.md
  docs/adr/0013-multi-deployment-target-strategy.md
  docs/adr/0014-pydantic-type-safety.md
  docs/adr/0015-memory-checkpointing.md
  docs/adr/0016-property-based-testing-strategy.md
  docs/adr/0017-error-handling-strategy.md
  docs/adr/0018-semantic-versioning-strategy.md
  docs/adr/0019-async-first-architecture.md
  docs/adr/0020-dual-mcp-transport-protocol.md
  docs/adr/0021-cicd-pipeline-strategy.md
  docs/adr/README.md
  docs/reports/BEST_PRACTICES_IMPROVEMENTS_20251013.md
  docs/reports/COMPLIANCE_TODO_IMPLEMENTATION_20251013.md
  docs/reports/SESSION_COMPLETE_20251013.md
  pyproject.toml
  src/mcp_server_langgraph/api/gdpr.py
  src/mcp_server_langgraph/auth/session.py
  src/mcp_server_langgraph/core/compliance/data_deletion.py
  src/mcp_server_langgraph/core/compliance/data_export.py
  src/mcp_server_langgraph/core/compliance/retention.py
  src/mcp_server_langgraph/core/compliance/storage.py
Labels: documentation, dependencies, config

chore: repository cleanup and documentation updates
  .claude/settings.local.json
  .gitlab-ci.yml
  README.md
  RELEASE_NOTES_v2.2.0.md
  docs/reports/CI_FAILURE_INVESTIGATION.md
  docs/reports/CI_FINAL_STATUS.md
  docs/reports/CI_STATUS_UPDATE.md
  docs/reports/DEPENDABOT_REBASE_QUEUE_STATUS.md
  docs/reports/DEPENDABOT_REBASE_STATUS.md
  docs/reports/DEPENDENCY_AUDIT_REPORT_20251013.md
  docs/reports/DEPENDENCY_MANAGEMENT_COMPLETE.md
  docs/reports/DEPENDENCY_MANAGEMENT_SESSION_SUMMARY.md
  docs/reports/DEPLOYMENT_ALIGNMENT_ANALYSIS.md
  docs/reports/DOCUMENTATION_ANALYSIS.md
  docs/reports/FINAL_SESSION_STATUS.md
  docs/reports/REBASE_COMPLETION_TRACKER.md
  docs/reports/WORK_SUMMARY_20251013.md
  docs/reports/archive/2025-10/BEST_PRACTICES_IMPROVEMENTS_20251013.md
  docs/reports/archive/2025-10/COMPLIANCE_TODO_IMPLEMENTATION_20251013.md
  docs/reports/archive/2025-10/COVERAGE_ACHIEVEMENTS.md
  docs/reports/archive/2025-10/DEPLOYMENT_FIXES_SUMMARY.md
  docs/reports/archive/2025-10/DOCUMENTATION_ANALYSIS_2025-10-12.md
  docs/reports/archive/2025-10/EVALUATION_REPORT.md
  docs/reports/archive/2025-10/NEXT_STEPS.md
  docs/reports/archive/2025-10/PRE_PUBLISH_CHECKLIST.md
  docs/reports/archive/2025-10/PYDANTIC_V2_MIGRATION.md
  docs/reports/archive/2025-10/PYPI_READINESS_REPORT.md
  docs/reports/archive/2025-10/QUICK_REFERENCE.md
  docs/reports/archive/2025-10/SESSION_COMPLETE_20251013.md
  docs/reports/archive/2025-10/TEST_FAILURE_ROOT_CAUSE.md
  docs/reports/archive/2025-10/TEST_REFACTORING_SUMMARY.md
  mint.json
  src/mcp_server_langgraph/__init__.py
Labels: documentation, ci-cd, config

fix: correct repository name in badges and URLs
  README.md
Labels: documentation

docs: update Dependabot merge status with Phase 2 results
  DEPENDABOT_MERGE_STATUS.md
Labels: documentation

docs: update Dependabot merge status - Phase 3 complete
  DEPENDABOT_MERGE_STATUS.md
Labels: documentation

docs: final Dependabot merge status - all phases complete
  DEPENDABOT_MERGE_STATUS.md
Labels: documentation

.github/labeler.yml:

# Auto-labeler configuration for PRs
# Uses changed-files pattern matching

# Documentation
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'
      - '**/*.mdx'
      - 'docs/**/*'
      - 'mint.json'
      - '.mcp/*.json'

# Tests
tests:
  - changed-files:
    - any-glob-to-any-file:
      - 'tests/**/*'
      - '**/*test*.py'
      - 'test_*.py'
      - '*_test.py'
      - 'pytest.ini'
      - 'conftest.py'
      - 'TESTING.md'

# CI/CD
ci-cd:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**/*'
      - '.github/actions/**/*'
      - '.gitlab-ci.yml'
      - 'Makefile'
      - '.pre-commit-config.yaml'

# Dependencies
dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'requirements*.txt'
      - 'setup.py'
      - 'pyproject.toml'
      - 'poetry.lock'
      - 'package*.json'
      - 'yarn.lock'

# Docker
docker:
  - changed-files:
    - any-glob-to-any-file:
      - 'Dockerfile*'
      - 'docker-compose*.yml'
      - '.dockerignore'

# Kubernetes/Deployment
deployment:
  - changed-files:
    - any-glob-to-any-file:
      - 'kubernetes/**/*'
      - 'kustomize/**/*'
      - 'helm/**/*'
      - 'k8s/**/*'
      - 'KUBERNETES_DEPLOYMENT.md'
      - 'PRODUCTION_DEPLOYMENT.md'

# Authentication/Authorization
auth:
  - changed-files:
    - any-glob-to-any-file:
      - 'auth.py'
      - 'openfga_client.py'
      - 'setup_openfga.py'

# Secrets Management
secrets:
  - changed-files:
    - any-glob-to-any-file:
      - 'secrets_manager.py'
      - 'setup_infisical.py'

# Observability
observability:
  - changed-files:
    - any-glob-to-any-file:
      - 'observability.py'
      - 'health_check.py'
      - 'monitoring/**/*'
      - 'grafana/**/*'

# MCP Server
mcp:
  - changed-files:
    - any-glob-to-any-file:
      - 'mcp_server*.py'
      - 'examples/*client*.py'

# Agent/Core
agent:
  - changed-files:
    - any-glob-to-any-file:
      - 'agent.py'
      - 'graph.py'
      - 'models.py'
      - 'prompt*.py'

# Configuration
config:
  - changed-files:
    - any-glob-to-any-file:
      - 'config.py'
      - '.env*'
      - 'settings.py'
      - '*.yaml'
      - '*.yml'
      - '*.toml'
      - '*.ini'
      - '.editorconfig'

# Security
security:
  - changed-files:
    - any-glob-to-any-file:
      - 'auth.py'
      - 'secrets_manager.py'
      - 'openfga_client.py'
      - 'SECURITY*.md'
      - '.github/workflows/security-scan.yaml'
      - 'scripts/validate_production.py'

# Community
community:
  - changed-files:
    - any-glob-to-any-file:
      - 'CODE_OF_CONDUCT.md'
      - 'CONTRIBUTING.md'
      - 'DEVELOPMENT.md'
      - '.github/SUPPORT.md'
      - '.github/FUNDING.yml'
      - '.github/ISSUE_TEMPLATE/**/*'
      - '.github/PULL_REQUEST_TEMPLATE.md'
