Repository vishnu2kmohan/mcp-server-langgraph, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, tests, ci-cd, dependencies, docker, deployment, auth, secrets, observability, mcp, agent, config, security, community

test: fix critical test issues and add comprehensive GDPR endpoint coverage
  src/mcp_server_langgraph/auth/middleware.py
  src/mcp_server_langgraph/core/agent.py
  tests/api/test_api_keys_endpoints.py
  tests/api/test_service_principals_endpoints.py
  tests/conftest.py
  tests/e2e/test_scim_provisioning.py
  tests/test_auth.py
  tests/test_gdpr.py
Labels: tests

add Benchmark (pytest) benchmark result for bf8157b978451cf54a1d161646f66ab5e7275f46
  dev/bench/data.js
Labels: none

fix(security): resolve 4 critical security/reliability findings from OpenAI Codex analysis
  .env.example
  src/mcp_server_langgraph/core/agent.py
  src/mcp_server_langgraph/core/config.py
  src/mcp_server_langgraph/mcp/server_streamable.py
  tests/core/test_agent_di.py
Labels: tests, config

test: complete test validation, GDPR fixes, and comprehensive documentation
  TESTING.md
  tests/test_gdpr.py
Labels: documentation, tests

add Benchmark (pytest) benchmark result for f41cb6c5734c6c7d3a26609a550a7951c1eb24fb
  dev/bench/data.js
Labels: none

add Benchmark (pytest) benchmark result for 1e4986cd44afb701ec61cbe32aa89003b72158b5
  dev/bench/data.js
Labels: none

feat(test): implement comprehensive test infrastructure improvements
  docs/testing/test-infrastructure-improvements.md
  pyproject.toml
  tests/api/test_api_keys_endpoints.py
  tests/api/test_service_principals_endpoints.py
  tests/conftest.py
  tests/integration/test_alerting.py
  tests/integrations/__init__.py
  tests/monitoring/test_cost_tracker.py
  tests/regression/test_performance_regression.py
  tests/test_health_check.py
Labels: documentation, tests, dependencies, config

fix(infra): resolve GKE staging pod crashes - VPC mismatch and Workload Identity naming
  deployments/overlays/staging-gke/external-secrets.yaml
  deployments/overlays/staging-gke/keycloak-json-patch.yaml
  deployments/overlays/staging-gke/openfga-json-patch.yaml
  deployments/overlays/staging-gke/serviceaccount-keycloak.yaml
  deployments/overlays/staging-gke/serviceaccount-openfga.yaml
  deployments/overlays/staging-gke/serviceaccount-patch.yaml
Labels: none

feat(test): implement Phase 2 E2E infrastructure and performance testing
  docs/testing/phase2-e2e-infrastructure.md
  src/mcp_server_langgraph/mcp/server_stdio.py
  tests/conftest.py
  tests/e2e/test_infrastructure_validation.py
  tests/fixtures/__init__.py
  tests/fixtures/serializable_mocks.py
  tests/regression/test_performance_regression.py
Labels: documentation, tests

docs(test): add comprehensive Phases 1-2 summary and validation report
  docs/testing/SUMMARY-phases-1-2.md
Labels: documentation

fix(security): resolve 5 critical security/reliability findings from OpenAI Codex analysis
  src/mcp_server_langgraph/app.py
  src/mcp_server_langgraph/auth/api_keys.py
  src/mcp_server_langgraph/auth/factory.py
  src/mcp_server_langgraph/core/config.py
  src/mcp_server_langgraph/mcp/server_stdio.py
  src/mcp_server_langgraph/middleware/rate_limiter.py
  tests/middleware/test_rate_limiter.py
  tests/test_api_key_manager.py
  tests/test_auth_factory.py
  tests/unit/test_mcp_stdio_server.py
Labels: tests

chore(deps): update uv.lock with new dev dependencies
  uv.lock
Labels: none

add Benchmark (pytest) benchmark result for 6dbfc11f081b669d273b34740e9d70783d4f1109
  dev/bench/data.js
Labels: none

fix(infra): resolve GKE staging deployment failures - Cloud SQL Proxy and Redis configuration
  deployments/overlays/staging-gke/FIX_SUMMARY.md
  deployments/overlays/staging-gke/deployment-init-containers-patch.yaml
  deployments/overlays/staging-gke/keycloak-patch.yaml
  deployments/overlays/staging-gke/kustomization.yaml
  deployments/overlays/staging-gke/openfga-patch.yaml
  deployments/overlays/staging-gke/redis-session-endpoints.yaml
  deployments/overlays/staging-gke/redis-session-service-json-patch.yaml
  deployments/overlays/staging-gke/redis-session-service-patch.yaml
  tests/deployment/__init__.py
  tests/deployment/pytest.ini
  tests/deployment/requirements-test.txt
  tests/deployment/test_cloud_sql_proxy_config.py
  tests/deployment/test_kustomize_build.py
  tests/deployment/test_service_dependencies.py
Labels: documentation, tests

add Benchmark (pytest) benchmark result for ebbb8a62bf6dc0b49cdea5a6fa832a726eeb5358
  dev/bench/data.js
Labels: none

chore(infra): remove redundant redis-session-service-json-patch.yaml
  deployments/overlays/staging-gke/redis-session-service-json-patch.yaml
Labels: none

feat(ops): add comprehensive deployment validation and prevention measures
  docs/DEPLOYMENT_RUNBOOK.md
  docs/LESSONS_LEARNED.md
  scripts/validate-deployment.sh
Labels: documentation

add Benchmark (pytest) benchmark result for 89456142608b9a00db1dcc199ca3eb52b9097d90
  dev/bench/data.js
Labels: none

fix(infra): resolve Cloud SQL Auth Proxy network policy and health endpoint issues
  deployments/overlays/staging-gke/keycloak-patch.yaml
  deployments/overlays/staging-gke/network-policy.yaml
  deployments/overlays/staging-gke/openfga-patch.yaml
Labels: none

add Benchmark (pytest) benchmark result for d2dcc833aca82b7739b64c3933de8e79a87a35ac
  dev/bench/data.js
Labels: none

fix(infra): add GKE Dataplane V2 DNS egress for MCP Server pods
  deployments/overlays/staging-gke/network-policy.yaml
Labels: none

add Benchmark (pytest) benchmark result for fc14aac401b69792707c9d835959a6c85c9fe606
  dev/bench/data.js
Labels: none

fix(security): resolve 4 critical OpenAI Codex security findings
  src/mcp_server_langgraph/app.py
  src/mcp_server_langgraph/auth/factory.py
  src/mcp_server_langgraph/auth/session.py
  src/mcp_server_langgraph/core/dependencies.py
  src/mcp_server_langgraph/execution/docker_sandbox.py
  tests/integration/execution/test_docker_sandbox.py
  tests/test_api_key_manager.py
Labels: tests

feat(infra): add network policy validation to prevent DNS/HTTPS egress issues
  scripts/validate-deployment.sh
Labels: none

add Benchmark (pytest) benchmark result for 2dcacfee8ada42180a210f5082ea83c21a1b93de
  dev/bench/data.js
Labels: none

test(security): add comprehensive TDD tests and runtime validation for all security fixes
  src/mcp_server_langgraph/app.py
  src/mcp_server_langgraph/auth/factory.py
  src/mcp_server_langgraph/core/dependencies.py
  tests/api/test_app_configuration.py
  tests/test_auth_factory.py
Labels: tests

docs: comprehensive documentation audit remediation
  .githooks/pre-commit-adr-sync
  .github/workflows/docs-link-check.yml
  CONTRIBUTING.md
  DEVELOPER_ONBOARDING.md
  MIGRATION.md
  ROADMAP.md
  adr/adr-0041-postgresql-gdpr-storage.md
  adr/adr-0042-visual-workflow-builder.md
  adr/adr-0043-cost-monitoring-dashboard.md
  archive/reports/ESO_RBAC_VALIDATION_REPORT.md
  archive/reports/FRAMEWORK_IMPROVEMENTS_SUMMARY.md
  archive/reports/IMPLEMENTATION_SUMMARY.md
  archive/reports/SECURITY_REMEDIATION_REPORT.md
  archive/reports/WORK_COMPLETED_SUMMARY.md
  docs/compliance/gdpr-compliance.mdx
  docs/compliance/hipaa-compliance.mdx
  docs/compliance/soc2-compliance.mdx
  docs/deployment/aws-eks-configuration.mdx
  docs/deployment/azure-aks-configuration.mdx
  docs/deployment/database-migrations.mdx
  docs/deployment/monitoring.mdx
  docs/reference/development/ci-cd.mdx
Labels: documentation, ci-cd, community

feat(security): add comprehensive health checks and preventative validation system
  deployments/overlays/staging-gke/keycloak-patch.yaml
  docs/security/SECURITY_AUDIT_FIXES_2025-01-06.md
  src/mcp_server_langgraph/api/__init__.py
  src/mcp_server_langgraph/api/health.py
  src/mcp_server_langgraph/app.py
  src/mcp_server_langgraph/execution/docker_sandbox.py
  tests/api/test_app_configuration.py
  tests/api/test_health.py
  tests/test_api_key_manager.py
Labels: documentation, tests

add Benchmark (pytest) benchmark result for 454b417fd99d3e8567530d044eaa2afad943c2ee
  dev/bench/data.js
Labels: none

fix(infra): correct Memorystore Redis port from 6379 to 6378 in network policy
  .pre-commit-config-requirements-check.yaml
  clients/python/requirements.txt
  clients/python/test-requirements.txt
  deployments/langgraph_platform/requirements.txt
  deployments/overlays/staging-gke/network-policy.yaml
  docs/contributing/DEPENDENCY_MANAGEMENT.md
  tests/deployment/requirements-test.txt
  tests/requirements.txt
Labels: documentation, tests, config

refactor(deps): enforce UV-ONLY dependency management policy
  .pre-commit-config-requirements-check.yaml
Labels: config

add Benchmark (pytest) benchmark result for 9cdd80e9d09e08e746e02865a324e4345017d0be
  dev/bench/data.js
Labels: none

refactor(deps): COMPLETE requirements.txt elimination - UV-ONLY everywhere
  clients/python/requirements.txt
  clients/python/setup.py
  clients/python/test-requirements.txt
  deployments/langgraph_platform/README.md
  deployments/langgraph_platform/requirements.txt
Labels: documentation

add Benchmark (pytest) benchmark result for ced78276ca3b1ea2943d74450bd23f7d914ff939
  dev/bench/data.js
Labels: none

fix(infra): resolve critical Kubernetes staging deployment failures
  deployments/base/kustomization.yaml
  deployments/overlays/staging-gke/deployment-patch.yaml
  deployments/overlays/staging-gke/kustomization.yaml
  deployments/overlays/staging-gke/network-policy.yaml
  docker/Dockerfile
Labels: none

fix(infra): resolve critical Kubernetes staging deployment failures
  deployments/overlays/staging-gke/network-policy.yaml
  src/mcp_server_langgraph/mcp/server_streamable.py
Labels: none

add Benchmark (pytest) benchmark result for 9c0c60525906e41b52766daccbca9a92a0cead0b
  dev/bench/data.js
Labels: none

fix(infra): resolve Redis service duplicate port name validation error
  deployments/overlays/staging-gke/redis-session-service-patch.yaml
Labels: none

add Benchmark (pytest) benchmark result for 84a0c28ddef98691b5d9e8896159eb45b3324686
  dev/bench/data.js
Labels: none

fix(health): standardize health check routes following FastAPI sub-app best practices
  deployments/base/deployment.yaml
  src/mcp_server_langgraph/health/checks.py
  tests/unit/test_health_endpoints.py
  tests/unit/test_server_streamable_init.py
Labels: tests

.github/labeler.yml:

# Auto-labeler configuration for PRs
# Uses changed-files pattern matching

# Documentation
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'
      - '**/*.mdx'
      - 'docs/**/*'
      - 'mint.json'
      - '.mcp/*.json'

# Tests
tests:
  - changed-files:
    - any-glob-to-any-file:
      - 'tests/**/*'
      - '**/*test*.py'
      - 'test_*.py'
      - '*_test.py'
      - 'pytest.ini'
      - 'conftest.py'
      - 'TESTING.md'

# CI/CD
ci-cd:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**/*'
      - '.github/actions/**/*'
      - '.gitlab-ci.yml'
      - 'Makefile'
      - '.pre-commit-config.yaml'

# Dependencies
dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'requirements*.txt'
      - 'setup.py'
      - 'pyproject.toml'
      - 'poetry.lock'
      - 'package*.json'
      - 'yarn.lock'

# Docker
docker:
  - changed-files:
    - any-glob-to-any-file:
      - 'Dockerfile*'
      - 'docker-compose*.yml'
      - '.dockerignore'

# Kubernetes/Deployment
deployment:
  - changed-files:
    - any-glob-to-any-file:
      - 'kubernetes/**/*'
      - 'kustomize/**/*'
      - 'helm/**/*'
      - 'k8s/**/*'
      - 'KUBERNETES_DEPLOYMENT.md'
      - 'PRODUCTION_DEPLOYMENT.md'

# Authentication/Authorization
auth:
  - changed-files:
    - any-glob-to-any-file:
      - 'auth.py'
      - 'openfga_client.py'
      - 'setup_openfga.py'

# Secrets Management
secrets:
  - changed-files:
    - any-glob-to-any-file:
      - 'secrets_manager.py'
      - 'setup_infisical.py'

# Observability
observability:
  - changed-files:
    - any-glob-to-any-file:
      - 'observability.py'
      - 'health_check.py'
      - 'monitoring/**/*'
      - 'grafana/**/*'

# MCP Server
mcp:
  - changed-files:
    - any-glob-to-any-file:
      - 'mcp_server*.py'
      - 'examples/*client*.py'

# Agent/Core
agent:
  - changed-files:
    - any-glob-to-any-file:
      - 'agent.py'
      - 'graph.py'
      - 'models.py'
      - 'prompt*.py'

# Configuration
config:
  - changed-files:
    - any-glob-to-any-file:
      - 'config.py'
      - '.env*'
      - 'settings.py'
      - '*.yaml'
      - '*.yml'
      - '*.toml'
      - '*.ini'
      - '.editorconfig'

# Security
security:
  - changed-files:
    - any-glob-to-any-file:
      - 'auth.py'
      - 'secrets_manager.py'
      - 'openfga_client.py'
      - 'SECURITY*.md'
      - '.github/workflows/security-scan.yaml'
      - 'scripts/validate_production.py'

# Community
community:
  - changed-files:
    - any-glob-to-any-file:
      - 'CODE_OF_CONDUCT.md'
      - 'CONTRIBUTING.md'
      - 'DEVELOPMENT.md'
      - '.github/SUPPORT.md'
      - '.github/FUNDING.yml'
      - '.github/ISSUE_TEMPLATE/**/*'
      - '.github/PULL_REQUEST_TEMPLATE.md'
