Repository vishnu2kmohan/mcp-server-langgraph, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, tests, ci-cd, dependencies, docker, deployment, auth, secrets, observability, mcp, agent, config, security, community

feat(tools): implement real tool execution and comprehensive testing (Phase 1)
  src/mcp_server_langgraph/core/agent.py
  src/mcp_server_langgraph/tools/calculator_tools.py
  src/mcp_server_langgraph/tools/filesystem_tools.py
  src/mcp_server_langgraph/tools/search_tools.py
  tests/unit/test_calculator_tools.py
  tests/unit/test_filesystem_tools.py
  tests/unit/test_search_tools.py
  tests/unit/test_tools_catalog.py
Labels: tests

feat(parallel): wire enable_parallel_execution flag for concurrent tool execution (Phase 2)
  src/mcp_server_langgraph/core/agent.py
  tests/integration/test_parallel_tool_execution.py
Labels: tests

feat(storage): add conversation metadata store for real search data (Phase 4)
  src/mcp_server_langgraph/mcp/server_stdio.py
  src/mcp_server_langgraph/storage/__init__.py
  src/mcp_server_langgraph/storage/conversation_store.py
  tests/unit/test_conversation_store.py
Labels: tests

docs(readme): add optional dependencies section and CI smoke tests (Phase 5)
  .env.production.template
  .github/workflows/optional-deps-test.yaml
  README.md
Labels: documentation, ci-cd, config

fix(tests): resolve async benchmark test failures
  tests/performance/test_benchmarks.py
Labels: tests

feat(deps): add bcrypt and upgrade OpenTelemetry to 1.38.0
  pyproject.toml
  requirements-pinned.txt
  requirements.txt
Labels: dependencies, config

feat(security): enable secure password hashing by default
  src/mcp_server_langgraph/auth/user_provider.py
  src/mcp_server_langgraph/core/config.py
Labels: none

style: fix black formatting compliance
  src/mcp_server_langgraph/core/agent.py
  src/mcp_server_langgraph/storage/conversation_store.py
  src/mcp_server_langgraph/tools/calculator_tools.py
  src/mcp_server_langgraph/tools/filesystem_tools.py
Labels: none

fix(tests): resolve GDPR endpoint and formatting issues
  tests/integration/test_gdpr_endpoints.py
  tests/integration/test_parallel_tool_execution.py
  tests/unit/test_conversation_store.py
Labels: tests

feat(ci): add dependency consistency validation
  .github/workflows/ci.yaml
Labels: ci-cd

docs: update version to v2.7.0 and fix broken links
  ROADMAP.md
  docs/deployment/infisical-installation.md
  docs/development/integration-testing.md
  docs/reference/README.md
  docs/reference/development/ci-cd.md
  docs/reference/development/development.md
  docs/reference/environment-variables.md
Labels: documentation

chore(reports): archive temporary documentation reports
  reports/archive/2025-10/DOCUMENTATION_AUDIT_COMPLETE_20251017.md
  reports/archive/2025-10/DOCUMENTATION_COMPREHENSIVE_AUDIT_20251017.md
  reports/archive/2025-10/DOCUMENTATION_COMPREHENSIVE_AUDIT_FINAL_20251017.md
  reports/archive/2025-10/DOCUMENTATION_REMEDIATION.md
  reports/archive/2025-10/LINK_VALIDATION_COMPLETE_20251017.md
  reports/archive/2025-10/LINK_VALIDATION_REPORT_20251017.md
Labels: documentation

fix(ci): standardize GitHub Actions versions and update benchmark action
  .github/workflows/build-hygiene.yml
  .github/workflows/link-checker.yml
  .github/workflows/optional-deps-test.yaml
  .github/workflows/pr-checks.yaml
  .github/workflows/quality-tests.yaml
  ROADMAP.md
Labels: documentation, ci-cd

add Benchmark (pytest) benchmark result for 53325aa01bdb41bed988dcb8a52119f88188b0ad
  dev/bench/data.js
Labels: none

docs(release): add comprehensive v2.7.0 release readiness analysis
  ROADMAP.md
  reports/RELEASE_READINESS_V2.7.0.md
  reports/TODO_ANALYSIS_V2.7.0.md
Labels: documentation

add Benchmark (pytest) benchmark result for ec04680930144de73574928468a4befaea480e2a
  dev/bench/data.js
Labels: none

fix(ci): resolve critical test and workflow failures
  .github/workflows/optional-deps-test.yaml
  src/mcp_server_langgraph/core/agent.py
Labels: ci-cd

add Benchmark (pytest) benchmark result for 1e911cfc988c598ae3233481a757d26d91439c48
  dev/bench/data.js
Labels: none

fix(checkpoint): handle RedisSaver context manager API change
  src/mcp_server_langgraph/core/agent.py
Labels: none

add Benchmark (pytest) benchmark result for af0e8af211ee2e5e98856b964629731a9945f3a8
  dev/bench/data.js
Labels: none

docs(release): add v2.7.0 release notes
  RELEASE_NOTES_V2.7.0.md
Labels: documentation

add Benchmark (pytest) benchmark result for dc246913c482f4d3d45d5c2b5f385780b00332ac
  dev/bench/data.js
Labels: none

fix(ci): resolve critical workflow failures for release and security scans
  .github/workflows/bump-deployment-versions.yaml
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
  .github/workflows/security-scan.yaml
Labels: ci-cd, security

docs(technical-debt): create comprehensive TODO catalog with roadmap
  docs-internal/TODO_CATALOG.md
Labels: documentation

docs(technical-debt): add sprint progress tracking document
  docs-internal/TECHNICAL_DEBT_SPRINT_PROGRESS.md
Labels: documentation

add Benchmark (pytest) benchmark result for e167331f4cfa1d1f9d0633aee902b4751e02ae02
  dev/bench/data.js
Labels: none

feat(monitoring): integrate Prometheus client for real-time SLA metrics
  .env.example
  pyproject.toml
  requirements-pinned.txt
  src/mcp_server_langgraph/core/config.py
  src/mcp_server_langgraph/monitoring/sla.py
Labels: dependencies, config

feat(alerting): add comprehensive alerting configuration and settings
  .env.example
  src/mcp_server_langgraph/core/config.py
  src/mcp_server_langgraph/integrations/alerting.py
Labels: config

add Benchmark (pytest) benchmark result for af3e6a91e6e680ccced1d62808567272063d8926
  dev/bench/data.js
Labels: none

docs(progress): comprehensive Day 1 summary with path forward
  docs-internal/TECHNICAL_DEBT_SPRINT_DAY1_SUMMARY.md
Labels: documentation

add Benchmark (pytest) benchmark result for 8e57464766f40db021655b43f58a929b677f134e
  dev/bench/data.js
Labels: none

feat(alerting): wire alerting system to all critical modules
  src/mcp_server_langgraph/auth/hipaa.py
  src/mcp_server_langgraph/monitoring/sla.py
  src/mcp_server_langgraph/schedulers/cleanup.py
  src/mcp_server_langgraph/schedulers/compliance.py
Labels: none

add Benchmark (pytest) benchmark result for a578711d30d1542143d653f8b1422d730f7ecf0a
  dev/bench/data.js
Labels: none

add Benchmark (pytest) benchmark result for 7887fd65680967649495111ccea4ec408c385cfd
  dev/bench/data.js
Labels: none

feat(compliance): integrate real data sources for SOC2 evidence collection
  src/mcp_server_langgraph/core/compliance/evidence.py
Labels: none

feat(tools): implement production-ready search tools with API integration
  .env.example
  src/mcp_server_langgraph/core/config.py
  src/mcp_server_langgraph/tools/search_tools.py
Labels: config

add Benchmark (pytest) benchmark result for 58359fad0153d02aba9f3f3fcf4eeb5c58e9b3ac
  dev/bench/data.js
Labels: none

feat(gdpr,compliance): document integration patterns for remaining TODOs
  src/mcp_server_langgraph/api/gdpr.py
Labels: none

docs(compliance): document user provider and session analysis integration
  src/mcp_server_langgraph/schedulers/compliance.py
Labels: none

feat(prompts): implement versioning system with metadata tracking
  src/mcp_server_langgraph/prompts/__init__.py
Labels: none

.github/labeler.yml:

# Auto-labeler configuration for PRs
# Uses changed-files pattern matching

# Documentation
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'
      - '**/*.mdx'
      - 'docs/**/*'
      - 'mint.json'
      - '.mcp/*.json'

# Tests
tests:
  - changed-files:
    - any-glob-to-any-file:
      - 'tests/**/*'
      - '**/*test*.py'
      - 'test_*.py'
      - '*_test.py'
      - 'pytest.ini'
      - 'conftest.py'
      - 'TESTING.md'

# CI/CD
ci-cd:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**/*'
      - '.github/actions/**/*'
      - '.gitlab-ci.yml'
      - 'Makefile'
      - '.pre-commit-config.yaml'

# Dependencies
dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'requirements*.txt'
      - 'setup.py'
      - 'pyproject.toml'
      - 'poetry.lock'
      - 'package*.json'
      - 'yarn.lock'

# Docker
docker:
  - changed-files:
    - any-glob-to-any-file:
      - 'Dockerfile*'
      - 'docker-compose*.yml'
      - '.dockerignore'

# Kubernetes/Deployment
deployment:
  - changed-files:
    - any-glob-to-any-file:
      - 'kubernetes/**/*'
      - 'kustomize/**/*'
      - 'helm/**/*'
      - 'k8s/**/*'
      - 'KUBERNETES_DEPLOYMENT.md'
      - 'PRODUCTION_DEPLOYMENT.md'

# Authentication/Authorization
auth:
  - changed-files:
    - any-glob-to-any-file:
      - 'auth.py'
      - 'openfga_client.py'
      - 'setup_openfga.py'

# Secrets Management
secrets:
  - changed-files:
    - any-glob-to-any-file:
      - 'secrets_manager.py'
      - 'setup_infisical.py'

# Observability
observability:
  - changed-files:
    - any-glob-to-any-file:
      - 'observability.py'
      - 'health_check.py'
      - 'monitoring/**/*'
      - 'grafana/**/*'

# MCP Server
mcp:
  - changed-files:
    - any-glob-to-any-file:
      - 'mcp_server*.py'
      - 'examples/*client*.py'

# Agent/Core
agent:
  - changed-files:
    - any-glob-to-any-file:
      - 'agent.py'
      - 'graph.py'
      - 'models.py'
      - 'prompt*.py'

# Configuration
config:
  - changed-files:
    - any-glob-to-any-file:
      - 'config.py'
      - '.env*'
      - 'settings.py'
      - '*.yaml'
      - '*.yml'
      - '*.toml'
      - '*.ini'
      - '.editorconfig'

# Security
security:
  - changed-files:
    - any-glob-to-any-file:
      - 'auth.py'
      - 'secrets_manager.py'
      - 'openfga_client.py'
      - 'SECURITY*.md'
      - '.github/workflows/security-scan.yaml'
      - 'scripts/validate_production.py'

# Community
community:
  - changed-files:
    - any-glob-to-any-file:
      - 'CODE_OF_CONDUCT.md'
      - 'CONTRIBUTING.md'
      - 'DEVELOPMENT.md'
      - '.github/SUPPORT.md'
      - '.github/FUNDING.yml'
      - '.github/ISSUE_TEMPLATE/**/*'
      - '.github/PULL_REQUEST_TEMPLATE.md'
