Repository vishnu2kmohan/mcp-server-langgraph, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, tests, ci-cd, dependencies, docker, deployment, auth, secrets, observability, mcp, agent, config, security, community

.github/labeler.yml:

# Auto-labeler configuration for PRs
# Uses changed-files pattern matching

# Documentation
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'
      - '**/*.mdx'
      - 'docs/**/*'
      - 'mint.json'
      - '.mcp/*.json'

# Tests
tests:
  - changed-files:
    - any-glob-to-any-file:
      - 'tests/**/*'
      - '**/*test*.py'
      - 'test_*.py'
      - '*_test.py'
      - 'pytest.ini'
      - 'conftest.py'
      - 'TESTING.md'

# CI/CD
ci-cd:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**/*'
      - '.github/actions/**/*'
      - '.gitlab-ci.yml'
      - 'Makefile'
      - '.pre-commit-config.yaml'

# Dependencies
dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'requirements*.txt'
      - 'setup.py'
      - 'pyproject.toml'
      - 'poetry.lock'
      - 'package*.json'
      - 'yarn.lock'

# Docker
docker:
  - changed-files:
    - any-glob-to-any-file:
      - 'Dockerfile*'
      - 'docker-compose*.yml'
      - '.dockerignore'

# Kubernetes/Deployment
deployment:
  - changed-files:
    - any-glob-to-any-file:
      - 'kubernetes/**/*'
      - 'kustomize/**/*'
      - 'helm/**/*'
      - 'k8s/**/*'
      - 'KUBERNETES_DEPLOYMENT.md'
      - 'PRODUCTION_DEPLOYMENT.md'

# Authentication/Authorization
auth:
  - changed-files:
    - any-glob-to-any-file:
      - 'auth.py'
      - 'openfga_client.py'
      - 'setup_openfga.py'

# Secrets Management
secrets:
  - changed-files:
    - any-glob-to-any-file:
      - 'secrets_manager.py'
      - 'setup_infisical.py'

# Observability
observability:
  - changed-files:
    - any-glob-to-any-file:
      - 'observability.py'
      - 'health_check.py'
      - 'monitoring/**/*'
      - 'grafana/**/*'

# MCP Server
mcp:
  - changed-files:
    - any-glob-to-any-file:
      - 'mcp_server*.py'
      - 'examples/*client*.py'

# Agent/Core
agent:
  - changed-files:
    - any-glob-to-any-file:
      - 'agent.py'
      - 'graph.py'
      - 'models.py'
      - 'prompt*.py'

# Configuration
config:
  - changed-files:
    - any-glob-to-any-file:
      - 'config.py'
      - '.env*'
      - 'settings.py'
      - '*.yaml'
      - '*.yml'
      - '*.toml'
      - '*.ini'
      - '.editorconfig'

# Security
security:
  - changed-files:
    - any-glob-to-any-file:
      - 'auth.py'
      - 'secrets_manager.py'
      - 'openfga_client.py'
      - 'SECURITY*.md'
      - '.github/workflows/security-scan.yaml'
      - 'scripts/validate_production.py'

# Community
community:
  - changed-files:
    - any-glob-to-any-file:
      - 'CODE_OF_CONDUCT.md'
      - 'CONTRIBUTING.md'
      - 'DEVELOPMENT.md'
      - '.github/SUPPORT.md'
      - '.github/FUNDING.yml'
      - '.github/ISSUE_TEMPLATE/**/*'
      - '.github/PULL_REQUEST_TEMPLATE.md'

add Benchmark (pytest) benchmark result for b4ebb558ba0b3f2b19ad00809d8bcc3a5d598aa5
  dev/bench/data.js
Labels: none

fix(terraform,ci/cd): resolve critical syntax errors and enhance validation
  .github/workflows/security-validation.yml
  .pre-commit-config.yaml
  terraform/modules/gke-autopilot/main.tf
  terraform/modules/gke-autopilot/variables.tf
  terraform/modules/memorystore/main.tf
  terraform/modules/memorystore/outputs.tf
  terraform/modules/memorystore/variables.tf
Labels: ci-cd, config

fix(llm): fix provider detection for prefixed models (azure/*, bedrock/*, ollama/*)
  src/mcp_server_langgraph/llm/factory.py
Labels: none

add Benchmark (pytest) benchmark result for b6ac198c79248aeda34d43a341623dc4adea0066
  dev/bench/data.js
Labels: none

add Benchmark (pytest) benchmark result for 85d5194677199f267eb74f2a994c12cb6024a465
  dev/bench/data.js
Labels: none

docs(infrastructure): add GKE cluster requirements for CI/CD
  docs/infrastructure/gke-cluster-requirements.md
Labels: documentation

fix(ci/cd): resolve critical workflow failures in ci.yaml and E2E tests
  .github/workflows/ci.yaml
  .github/workflows/e2e-tests.yaml
  docker-compose.test.yml
Labels: ci-cd, docker, config

add Benchmark (pytest) benchmark result for 7b6a1f3d4299f9b10cf2d9aa7d3f5e131c10e5cb
  dev/bench/data.js
Labels: none

fix(ci/cd): remove unsupported deploy.resources from docker-compose.test.yml
  docker-compose.test.yml
Labels: docker, config

add Benchmark (pytest) benchmark result for 4fcec6f1f3281c9bbd3423201b0b972db80fdbed
  dev/bench/data.js
Labels: none

fix(ci/cd): replace JSON parsing with docker compose filters for E2E health checks
  .github/workflows/e2e-tests.yaml
Labels: ci-cd

add Benchmark (pytest) benchmark result for 27bd0930d7c9bea6cf7af17e28730f0e001acf2f
  dev/bench/data.js
Labels: none

add Benchmark (pytest) benchmark result for bddebb2b29673dc8d34a46fd141a74878c35d895
  dev/bench/data.js
Labels: none

fix(app): resolve critical startup failures and security issues
  src/mcp_server_langgraph/app.py
  src/mcp_server_langgraph/middleware/rate_limiter.py
  src/mcp_server_langgraph/middleware/session_timeout.py
  tests/api/test_app_configuration.py
  tests/test_session_timeout.py
Labels: tests

fix(terraform): update dependent service naming and fix module issues
  openapi.json
  terraform/environments/gcp-dev/main.tf
  terraform/environments/gcp-prod/main.tf
  terraform/environments/gcp-staging/main.tf
  terraform/modules/cloudsql/main.tf
  terraform/modules/cloudsql/variables.tf
  terraform/modules/github-actions-wif/versions.tf
  terraform/modules/memorystore/variables.tf
  tests/api/test_openapi_compliance.py
  tests/api/test_service_principals_endpoints.py
  tests/conftest.py
  tests/e2e/test_full_user_journey.py
  tests/infrastructure/test_database_ha.py
  tests/middleware/test_rate_limiter.py
  tests/regression/test_performance_regression.py
  tests/test_mcp_streamable.py
Labels: tests

add Benchmark (pytest) benchmark result for 09c518c1c52de763270bf41a5d920574641f11a9
  dev/bench/data.js
Labels: none

add Benchmark (pytest) benchmark result for 8189df95876f0d556554db8ccce5349f03bd9948
  dev/bench/data.js
Labels: none

fix(tests): update schemathesis API for version 4.x compatibility
  docs/architecture/infrastructure-layer.mdx
  docs/ci-cd-troubleshooting.mdx
  docs/ci-cd/badges.mdx
  docs/docs.json
  docs/infrastructure/gke-cluster-requirements.mdx
  docs/kubernetes-best-practices-implementation.mdx
  src/mcp_server_langgraph/builder/api/server.py
  tests/api/test_openapi_compliance.py
  tests/builder/api/test_server.py
Labels: documentation, tests

add Benchmark (pytest) benchmark result for b1d080bbe7ab37919c7394b700fb59ef2fa71815
  dev/bench/data.js
Labels: none

fix(builder,terraform): fix builder API import endpoint and add short naming for GCP resources
  docs/architecture/adr-0018-semantic-versioning-strategy.mdx
  docs/ci-cd/badges.mdx
  docs/deployment/aws-eks-configuration.mdx
  docs/deployment/azure-aks-configuration.mdx
  docs/deployment/iam-rbac-requirements.mdx
  docs/infrastructure/gke-cluster-requirements.mdx
  tests/builder/api/test_server.py
Labels: documentation, tests

add Benchmark (pytest) benchmark result for 84a97ed0b38e04dc24d93037783bf0f4547ef96c
  dev/bench/data.js
Labels: none

docs(remediation): comprehensive documentation restructuring and optimization
  docs/compliance/gdpr/data-protection-design.mdx
  docs/compliance/gdpr/data-protection-principles.mdx
  docs/compliance/gdpr/data-subject-rights.mdx
  docs/compliance/gdpr/dpa-template.mdx
  docs/compliance/gdpr/dpia.mdx
  docs/compliance/gdpr/overview.mdx
  docs/compliance/hipaa/baa-template.mdx
  docs/compliance/hipaa/breach-response.mdx
  docs/compliance/hipaa/compliance-checklist.mdx
  docs/compliance/hipaa/deployment.mdx
  docs/compliance/hipaa/overview.mdx
  docs/compliance/hipaa/technical-safeguards.mdx
  docs/compliance/soc2/evidence-audit.mdx
  docs/compliance/soc2/overview.mdx
  docs/compliance/soc2/readiness.mdx
  docs/compliance/soc2/trust-criteria.mdx
  docs/deployment/aws-eks-configuration.mdx
  docs/deployment/azure-aks-configuration.mdx
  docs/deployment/iam-rbac-requirements.mdx
  docs/deployment/monitoring/alerting.mdx
  docs/deployment/monitoring/dashboards.mdx
  docs/deployment/monitoring/distributed-tracing.mdx
  docs/deployment/monitoring/langsmith.mdx
  docs/deployment/monitoring/logging.mdx
  docs/deployment/monitoring/overview.mdx
  docs/deployment/monitoring/prometheus.mdx
  docs/docs.json
  docs/reference/README.md
  docs/reference/development/ci-cd/deployment.mdx
  docs/reference/development/ci-cd/overview.mdx
  docs/reference/development/ci-cd/testing.mdx
  docs/reference/development/ci-cd/troubleshooting.mdx
  docs/reference/development/ci-cd/workflows.mdx
Labels: documentation

docs(naming): update NAMING-CONVENTIONS.md with dual-prefix strategy for GCP
  NAMING-CONVENTIONS.md
  src/mcp_server_langgraph/api/api_keys.py
  src/mcp_server_langgraph/auth/api_keys.py
  src/mcp_server_langgraph/auth/middleware.py
  src/mcp_server_langgraph/middleware/rate_limiter.py
  src/mcp_server_langgraph/observability/telemetry.py
  tests/api/test_api_keys_endpoints.py
  tests/middleware/test_rate_limiter.py
  tests/test_api_key_manager.py
  tests/unit/test_observability_cleanup.py
Labels: documentation, tests

add Benchmark (pytest) benchmark result for 0ea5f2298674ad98563c120aed787c472f42fe49
  dev/bench/data.js
Labels: none

docs(readme): fix broken links and condense oversized sections
  README.md
Labels: documentation

docs(readme): optimize to ideal length (606 lines) with improved structure
  README.md
Labels: documentation

fix(terraform): resolve GKE Autopilot and CloudSQL module configuration errors
  pyproject.toml
  src/mcp_server_langgraph/core/config.py
  src/mcp_server_langgraph/execution/__init__.py
  src/mcp_server_langgraph/execution/code_validator.py
  src/mcp_server_langgraph/execution/resource_limits.py
  terraform/modules/cloudsql/main.tf
  terraform/modules/cloudsql/variables.tf
  terraform/modules/gke-autopilot/main.tf
  terraform/modules/memorystore/main.tf
  tests/security/__init__.py
  tests/security/test_injection_attacks.py
  tests/test_code_execution_config.py
  tests/unit/execution/__init__.py
  tests/unit/execution/test_code_validator.py
  tests/unit/execution/test_resource_limits.py
Labels: tests, dependencies, config

add Benchmark (pytest) benchmark result for 6339c531ad9e02523de9286a949e91e3891e94a0
  dev/bench/data.js
Labels: none

feat(execution): add code execution infrastructure with comprehensive security validation
  pyproject.toml
  src/mcp_server_langgraph/core/config.py
  tests/integration/execution/__init__.py
  tests/test_code_execution_config.py
Labels: tests, dependencies, config

feat(execution): add Docker and Kubernetes sandbox backends with full isolation
  poetry.lock
  src/mcp_server_langgraph/execution/__init__.py
  src/mcp_server_langgraph/execution/docker_sandbox.py
  src/mcp_server_langgraph/execution/kubernetes_sandbox.py
  src/mcp_server_langgraph/execution/sandbox.py
  tests/integration/execution/test_docker_sandbox.py
  tests/integration/execution/test_kubernetes_sandbox.py
Labels: tests, dependencies

fix(infrastructure): update Kustomize patches and fix VPC/Redis config for new naming
  .gitignore
  deployments/overlays/staging-gke/deployment-patch.yaml
  deployments/overlays/staging-gke/keycloak-patch.yaml
  deployments/overlays/staging-gke/openfga-patch.yaml
  docker-compose.dev.yml
  src/mcp_server_langgraph/tools/__init__.py
  src/mcp_server_langgraph/tools/code_execution_tools.py
  src/mcp_server_langgraph/tools/tool_discovery.py
  terraform/environments/gcp-staging/main.tf
  terraform/modules/gcp-vpc/main.tf
  tests/unit/tools/test_code_execution_tools.py
  uv.lock
Labels: tests, docker, config

add Benchmark (pytest) benchmark result for 410ae572c30d613dc4ee543d885d717e2a43316e
  dev/bench/data.js
Labels: none

docs(execution): add comprehensive implementation summary and remove poetry.lock
  docs/code-execution-implementation-summary.md
Labels: documentation

chore: remove poetry.lock and fix gitignore for complete uv migration
  .gitignore
  poetry.lock
Labels: dependencies

add Benchmark (pytest) benchmark result for f29fcbee2c7c552627ba1e17d6ecceda288de2e0
  dev/bench/data.js
Labels: none

fix(infrastructure): complete naming standardization and fix critical deployment issues
  .claude/settings.local.json
  deployments/GKE_DEPLOYMENT_GUIDE.md.naming-bak
  deployments/GKE_OPERATIONAL_RUNBOOKS.md.naming-bak
  deployments/argocd/README.md.naming-bak
  deployments/argocd/setup-argocd-gcp.sh.naming-bak
  deployments/disaster-recovery/gcp-dr-automation.sh.naming-bak
  deployments/overlays/staging-gke/external-secrets.yaml
  deployments/overlays/staging/kustomization.yaml.naming-bak
  deployments/security/binary-authorization/setup-binary-auth.sh.naming-bak
  deployments/service-mesh/anthos/setup-anthos-service-mesh.sh.naming-bak
Labels: none

add Benchmark (pytest) benchmark result for 2d465a8e62b81d6675e447079fd1096b395a20fa
  dev/bench/data.js
Labels: none

docs(infrastructure): add comprehensive deployment checklist for reproducibility
  clients/python/README.md
  generators/python-config.yaml
  generators/templates/python/pyproject.mustache
Labels: documentation

add Benchmark (pytest) benchmark result for 857a8e3194def5dc46adbcfe163e3aa2a01683a5
  dev/bench/data.js
Labels: none

chore(clients): add uv.lock for Python client
  clients/python/uv.lock
Labels: none
