Repository vishnu2kmohan/mcp-server-langgraph, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, tests, ci-cd, dependencies, docker, deployment, auth, secrets, observability, mcp, agent, config, security, community

.github/labeler.yml:

# Auto-labeler configuration for PRs
# Uses changed-files pattern matching

# Documentation
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'
      - '**/*.mdx'
      - 'docs/**/*'
      - 'mint.json'
      - '.mcp/*.json'

# Tests
tests:
  - changed-files:
    - any-glob-to-any-file:
      - 'tests/**/*'
      - '**/*test*.py'
      - 'test_*.py'
      - '*_test.py'
      - 'pytest.ini'
      - 'conftest.py'
      - 'TESTING.md'

# CI/CD
ci-cd:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**/*'
      - '.github/actions/**/*'
      - '.gitlab-ci.yml'
      - 'Makefile'
      - '.pre-commit-config.yaml'

# Dependencies
dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'requirements*.txt'
      - 'setup.py'
      - 'pyproject.toml'
      - 'poetry.lock'
      - 'package*.json'
      - 'yarn.lock'

# Docker
docker:
  - changed-files:
    - any-glob-to-any-file:
      - 'Dockerfile*'
      - 'docker-compose*.yml'
      - '.dockerignore'

# Kubernetes/Deployment
deployment:
  - changed-files:
    - any-glob-to-any-file:
      - 'kubernetes/**/*'
      - 'kustomize/**/*'
      - 'helm/**/*'
      - 'k8s/**/*'
      - 'KUBERNETES_DEPLOYMENT.md'
      - 'PRODUCTION_DEPLOYMENT.md'

# Authentication/Authorization
auth:
  - changed-files:
    - any-glob-to-any-file:
      - 'auth.py'
      - 'openfga_client.py'
      - 'setup_openfga.py'

# Secrets Management
secrets:
  - changed-files:
    - any-glob-to-any-file:
      - 'secrets_manager.py'
      - 'setup_infisical.py'

# Observability
observability:
  - changed-files:
    - any-glob-to-any-file:
      - 'observability.py'
      - 'health_check.py'
      - 'monitoring/**/*'
      - 'grafana/**/*'

# MCP Server
mcp:
  - changed-files:
    - any-glob-to-any-file:
      - 'mcp_server*.py'
      - 'examples/*client*.py'

# Agent/Core
agent:
  - changed-files:
    - any-glob-to-any-file:
      - 'agent.py'
      - 'graph.py'
      - 'models.py'
      - 'prompt*.py'

# Configuration
config:
  - changed-files:
    - any-glob-to-any-file:
      - 'config.py'
      - '.env*'
      - 'settings.py'
      - '*.yaml'
      - '*.yml'
      - '*.toml'
      - '*.ini'
      - '.editorconfig'

# Security
security:
  - changed-files:
    - any-glob-to-any-file:
      - 'auth.py'
      - 'secrets_manager.py'
      - 'openfga_client.py'
      - 'SECURITY*.md'
      - '.github/workflows/security-scan.yaml'
      - 'scripts/validate_production.py'

# Community
community:
  - changed-files:
    - any-glob-to-any-file:
      - 'CODE_OF_CONDUCT.md'
      - 'CONTRIBUTING.md'
      - 'DEVELOPMENT.md'
      - '.github/SUPPORT.md'
      - '.github/FUNDING.yml'
      - '.github/ISSUE_TEMPLATE/**/*'
      - '.github/PULL_REQUEST_TEMPLATE.md'

fix(security): add gitleaks config with proper allowlists
  .gitleaks.toml
Labels: config

add Benchmark (pytest) benchmark result for 7b7bc8aaf6f1e90d326f7bc163c8d6b94d893636
  dev/bench/data.js
Labels: none

fix(auth,tests): resolve Codex findings and prevent future regressions (TDD)
  src/mcp_server_langgraph/auth/api_keys.py
  src/mcp_server_langgraph/auth/service_principal.py
  tests/test_api_key_manager.py
  tests/test_cli.py
  tests/test_config_validation.py
  tests/test_service_principal_manager.py
Labels: tests

docs(testing): add comprehensive regression test patterns from Codex findings
  TESTING.md
Labels: documentation, tests

add Benchmark (pytest) benchmark result for d884cc55a6e84c3413d1bffd595625b32c8c80ad
  dev/bench/data.js
Labels: none

fix(k8s): add readOnlyRootFilesystem + tests (TDD complete)
  deployments/overlays/staging-gke/deployment-patch.yaml
  deployments/overlays/staging-gke/keycloak-patch.yaml
  deployments/overlays/staging-gke/openfga-patch.yaml
  tests/deployment/test_dns_failover_verification.py
  tests/property/test_cache_properties.py
  tests/test_agent.py
  tests/test_kubernetes_security.py
  tests/test_shell_and_docker.py
Labels: tests

add Benchmark (pytest) benchmark result for b7d64df5fd52036df23c66706224a939a79b66b3
  dev/bench/data.js
Labels: none

chore: add yamllint config and update pre-commit
  .pre-commit-config.yaml
  .yamllint
Labels: ci-cd, config

feat(meta-tests,prevention): add regression prevention for Codex findings (Phase 2 - WIP)
  adr/adr-0050-dependency-singleton-pattern-justification.md
  docs/architecture/adr-0050-dependency-singleton-pattern-justification.mdx
  docs/architecture/overview.mdx
  scripts/validate_api_schemas.py
  scripts/validate_test_time_bombs.py
  tests/meta/test_context_manager_quality.py
  tests/meta/test_property_test_quality.py
Labels: documentation, tests

fix(shell,docker): add variable quoting, rm safety, and health check fixes
  docker-compose.test.yml
  docs/architecture/adr-0050-dependency-singleton-pattern-justification.mdx
  scripts/build-infisical-wheels.sh
  scripts/check-pr-status.sh
Labels: documentation, docker, config

add Benchmark (pytest) benchmark result for 1b508e3815a78cc653bd679b3fe371acc6286bdf
  dev/bench/data.js
Labels: none

fix(meta-tests,scripts): Phase 2 prevention infrastructure complete
  scripts/validate_api_schemas.py
  tests/meta/test_kubectl_safety.py
  tests/meta/test_property_test_quality.py
Labels: tests

feat(e2e,tests): Phase 3 - E2E scenarios, edge cases, docs (TDD complete)
  tests/README.md
  tests/e2e/test_full_user_journey.py
  tests/property/test_cache_properties.py
  tests/test_agent.py
Labels: documentation, tests

feat(e2e,ci,hooks): Phase 4 complete - E2E expansion + CI monitoring (TDD)
  .pre-commit-config.yaml
  scripts/check_e2e_completion.py
  scripts/check_test_sleep_budget.py
  tests/e2e/test_full_user_journey.py
  tests/meta/test_codex_regression_prevention.py
Labels: tests, ci-cd, config

fix(deprecations): replace datetime.utcnow() with timezone-aware datetime.now(UTC)
  src/mcp_server_langgraph/app.py
  src/mcp_server_langgraph/auth/api_keys.py
  src/mcp_server_langgraph/auth/service_principal.py
  src/mcp_server_langgraph/core/interrupts/approval.py
  src/mcp_server_langgraph/core/interrupts/interrupts.py
  tests/core/interrupts/test_approval.py
  tests/core/interrupts/test_interrupts.py
Labels: tests

fix(tests): fix deprecations and test failures from status report
  scripts/check_e2e_completion.py
  scripts/check_test_sleep_budget.py
  tests/e2e/test_full_user_journey.py
  tests/infrastructure/test_database_ha.py
  tests/meta/test_fixture_validation.py
  tests/meta/test_suite_validation.py
  tests/test_agent.py
Labels: tests

add Benchmark (pytest) benchmark result for ab7cf8cd00e3b20f5e475b61a005c42f9e5285a0
  dev/bench/data.js
Labels: none

feat(tests): add CLI tool guards and auto-skip infrastructure
  tests/conftest.py
  tests/deployment/test_helm_configuration.py
  tests/infrastructure/test_external_secrets_rbac.py
  tests/meta/test_suite_validation.py
  tests/test_kubernetes_security.py
Labels: tests

add Benchmark (pytest) benchmark result for 8dc33bcb97355b6026d1b9ffc25234a9896232a3
  dev/bench/data.js
Labels: none

fix(ci,tests): use TCP-based health check for Qdrant (fixes E2E and Quality test failures)
  docker-compose.dev.yml
  docker-compose.test.yml
  docker/docker-compose.yml
  tests/security/test_deployment_security_regression.py
  tests/test_docker_compose_validation.py
  tests/test_shell_and_docker.py
Labels: tests, docker, config

fix(tests): prevent excessive memory consumption in API key security tests (217GB VIRT → < 2GB)
  pyproject.toml
  tests/security/test_api_key_indexed_lookup.py
Labels: tests, dependencies, config

fix(tests): fix API key test failures due to APIKeyManager signature changes
  tests/security/test_api_key_indexed_lookup.py
Labels: tests

add Benchmark (pytest) benchmark result for 27397fc81e3791672b5cb011cd8bea766fcfed9f
  dev/bench/data.js
Labels: none

fix(tests): add memory safety to 6 CRITICAL test files (45 classes) - prevent pytest-xdist OOM
  scripts/add_memory_safety_to_tests.py
  tests/integration/test_keycloak_admin.py
  tests/test_api_key_manager.py
  tests/test_auth.py
  tests/test_keycloak.py
  tests/test_openfga_client.py
  tests/test_service_principal_manager.py
Labels: tests

add Benchmark (pytest) benchmark result for 014386dd8275c81cbe2b8cf5d01e401413a47485
  dev/bench/data.js
Labels: none

feat(tests): apply memory safety fixes to 14 HIGH priority test files (Phase 2)
  scripts/apply_memory_safety_fixes.py
  tests/api/test_api_keys_endpoints.py
  tests/api/test_service_principals_endpoints.py
  tests/core/test_cache.py
  tests/integration/test_app_startup_validation.py
  tests/integration/test_gdpr_endpoints.py
  tests/smoke/test_ci_startup_smoke.py
  tests/test_auth_factory.py
  tests/test_context_manager.py
  tests/test_gdpr.py
  tests/test_llm_factory_contract.py
  tests/test_session_timeout.py
  tests/test_user_provider.py
  tests/unit/test_dependencies_wiring.py
Labels: tests

docs(internal): add pytest-xdist memory safety comprehensive plan and quick reference
  docs-internal/PYTEST_XDIST_MEMORY_SAFETY_PLAN.md
  docs-internal/PYTEST_XDIST_MEMORY_SAFETY_QUICK_REF.md
Labels: documentation

add Benchmark (pytest) benchmark result for 0e397895e49cd1cab688269fdabb7dbea5b84173
  dev/bench/data.js
Labels: none

docs(internal): add pytest-xdist memory safety comprehensive plan and quick reference
  .pre-commit-config.yaml
  scripts/check_test_memory_safety.py
  tests/MEMORY_SAFETY_GUIDELINES.md
Labels: documentation, tests, ci-cd, config

add Benchmark (pytest) benchmark result for 319395ad8fa7df710527d50dfa60e29d8e670d4f
  dev/bench/data.js
Labels: none

feat(tests): Phase 4 - Apply memory safety fixes to 28 MEDIUM priority test files
  tests/api/test_scim_security.py
  tests/api/test_service_principals_security.py
  tests/e2e/test_real_clients.py
  tests/e2e/test_real_clients_resilience.py
  tests/integration/test_alerting.py
  tests/integration/test_anthropic_enhancements_integration.py
  tests/integration/test_mcp_startup_validation.py
  tests/integration/test_openfga_cleanup.py
  tests/property/test_auth_properties.py
  tests/regression/test_performance_regression.py
  tests/security/test_api_key_performance_monitoring.py
  tests/security/test_authorization_fallback_controls.py
  tests/security/test_scim_service_principal_openfga.py
  tests/test_agent.py
  tests/test_agentic_loop_integration.py
  tests/test_cleanup_scheduler.py
  tests/test_context_manager_llm.py
  tests/test_conversation_state_persistence.py
  tests/test_data_deletion.py
  tests/test_distributed_checkpointing.py
  tests/test_permission_inheritance.py
  tests/test_session.py
  tests/test_sla_monitoring.py
  tests/test_soc2_evidence.py
  tests/test_verifier.py
  tests/unit/test_mcp_stdio_server.py
  tests/unit/test_scim_filters.py
  tests/unit/test_security_practices.py
Labels: tests

feat(tests): Phase 5 - Apply memory safety fixes to 26 LOW priority test files
  tests/api/test_app_configuration.py
  tests/api/test_health.py
  tests/contract/test_mcp_contract.py
  tests/core/interrupts/test_approval.py
  tests/core/test_exceptions.py
  tests/integration/test_mcp_code_execution.py
  tests/integration/test_redis_checkpointer_url_encoding.py
  tests/middleware/test_rate_limiter.py
  tests/performance/test_benchmarks.py
  tests/property/test_cache_properties.py
  tests/property/test_llm_properties.py
  tests/security/test_network_mode_transparency.py
  tests/test_config_validation.py
  tests/test_dynamic_context_loader.py
  tests/test_health_check.py
  tests/test_infisical_optional.py
  tests/test_json_logger_additional.py
  tests/test_rate_limiter.py
  tests/test_secrets_manager.py
  tests/test_test_utilities.py
  tests/unit/test_cache_redis_config.py
  tests/unit/test_checkpoint_config_validation.py
  tests/unit/test_lazy_imports.py
  tests/unit/test_observability_cleanup.py
  tests/unit/test_provider_credentials.py
  tests/unit/tools/test_code_execution_tools.py
Labels: tests

add Benchmark (pytest) benchmark result for b386caf213e8d6b54f7fc98b38fbcf17fc1357e6
  dev/bench/data.js
Labels: none

docs(internal): comprehensive analysis of pytest-xdist vs alternatives
  docs-internal/PYTEST_PARALLEL_TESTING_ANALYSIS.md
Labels: documentation

feat(tests,ci): add 3 performance enhancements - loadscope, pytest-split, memory-aware workers
  .github/workflows/quality-tests.yaml
  .test_durations
  pyproject.toml
  tests/conftest.py
  uv.lock
Labels: tests, ci-cd, dependencies, config

fix(tests): resolve 14 test failures + critical datetime bug + resource optimization
  docs-internal/TEST_FIXES_2025-11-10.md
  scripts/scan_test_resource_usage.py
  src/mcp_server_langgraph/auth/api_keys.py
  tests/RESOURCE_INTENSIVE_TEST_PATTERNS.md
  tests/meta/test_fixture_validation.py
  tests/meta/test_performance_regression.py
  tests/middleware/test_rate_limiter.py
  tests/security/test_api_key_indexed_lookup.py
  tests/test_api_key_manager.py
  tests/test_feature_flags.py
  tests/test_user_provider.py
  tests/unit/test_dependencies_wiring.py
Labels: documentation, tests

fix(tests): resolve infinite CPU loop + add final documentation
  docs-internal/FINAL_TEST_REMEDIATION_SUMMARY.md
  docs-internal/REMAINING_TEST_OPTIMIZATIONS.md
  tests/test_api_key_manager.py
  tests/unit/test_search_tools.py
Labels: documentation, tests

perf(tests): eliminate 40+ seconds of sleep overhead with virtual time and prevention mechanisms
  .pre-commit-config.yaml
  scripts/check_test_sleep_duration.py
  src/mcp_server_langgraph/core/time_provider.py
  src/mcp_server_langgraph/monitoring/budget_monitor.py
  tests/core/test_cache.py
  tests/fixtures/__init__.py
  tests/fixtures/time_fixtures.py
  tests/meta/test_sleep_duration_linter.py
  tests/monitoring/test_cost_tracker.py
  tests/property/test_cache_properties.py
  tests/resilience/test_bulkhead.py
  tests/resilience/test_fallback.py
  tests/resilience/test_timeout.py
  tests/unit/test_time_provider.py
Labels: tests, ci-cd, config

fix(tests): resolve hanging test + add AsyncMock validation infrastructure
  .pre-commit-config.yaml
  pyproject.toml
  scripts/check_async_mock_usage.py
  tests/MEMORY_SAFETY_GUIDELINES.md
  tests/helpers/polling.py
  tests/integration/execution/test_docker_sandbox.py
  tests/integration/execution/test_kubernetes_sandbox.py
  tests/meta/test_performance_regression.py
  tests/monitoring/test_cost_tracker.py
  tests/unit/test_polling_helper.py
Labels: documentation, tests, ci-cd, dependencies, config

fix(tests): resolve 30+ unit test failures across observability, auth, and config
  src/mcp_server_langgraph/auth/api_keys.py
  src/mcp_server_langgraph/core/config.py
  src/mcp_server_langgraph/monitoring/budget_monitor.py
  src/mcp_server_langgraph/observability/telemetry.py
  tests/api/test_service_principals_endpoints.py
  tests/conftest.py
  tests/test_auth.py
  tests/unit/test_dependencies_wiring.py
  tests/unit/test_mcp_stdio_server.py
  tests/unit/test_security_practices.py
Labels: tests
