Repository vishnu2kmohan/mcp-server-langgraph, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, tests, ci-cd, dependencies, docker, deployment, auth, secrets, observability, mcp, agent, config, security, community

.github/labeler.yml:

# Auto-labeler configuration for PRs
# Uses changed-files pattern matching

# Documentation
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'
      - '**/*.mdx'
      - 'docs/**/*'
      - 'mint.json'
      - '.mcp/*.json'

# Tests
tests:
  - changed-files:
    - any-glob-to-any-file:
      - 'tests/**/*'
      - '**/*test*.py'
      - 'test_*.py'
      - '*_test.py'
      - 'pytest.ini'
      - 'conftest.py'
      - 'TESTING.md'

# CI/CD
ci-cd:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**/*'
      - '.github/actions/**/*'
      - '.gitlab-ci.yml'
      - 'Makefile'
      - '.pre-commit-config.yaml'

# Dependencies
dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'requirements*.txt'
      - 'setup.py'
      - 'pyproject.toml'
      - 'poetry.lock'
      - 'package*.json'
      - 'yarn.lock'

# Docker
docker:
  - changed-files:
    - any-glob-to-any-file:
      - 'Dockerfile*'
      - 'docker-compose*.yml'
      - '.dockerignore'

# Kubernetes/Deployment
deployment:
  - changed-files:
    - any-glob-to-any-file:
      - 'kubernetes/**/*'
      - 'kustomize/**/*'
      - 'helm/**/*'
      - 'k8s/**/*'
      - 'KUBERNETES_DEPLOYMENT.md'
      - 'PRODUCTION_DEPLOYMENT.md'

# Authentication/Authorization
auth:
  - changed-files:
    - any-glob-to-any-file:
      - 'auth.py'
      - 'openfga_client.py'
      - 'setup_openfga.py'

# Secrets Management
secrets:
  - changed-files:
    - any-glob-to-any-file:
      - 'secrets_manager.py'
      - 'setup_infisical.py'

# Observability
observability:
  - changed-files:
    - any-glob-to-any-file:
      - 'observability.py'
      - 'health_check.py'
      - 'monitoring/**/*'
      - 'grafana/**/*'

# MCP Server
mcp:
  - changed-files:
    - any-glob-to-any-file:
      - 'mcp_server*.py'
      - 'examples/*client*.py'

# Agent/Core
agent:
  - changed-files:
    - any-glob-to-any-file:
      - 'agent.py'
      - 'graph.py'
      - 'models.py'
      - 'prompt*.py'

# Configuration
config:
  - changed-files:
    - any-glob-to-any-file:
      - 'config.py'
      - '.env*'
      - 'settings.py'
      - '*.yaml'
      - '*.yml'
      - '*.toml'
      - '*.ini'
      - '.editorconfig'

# Security
security:
  - changed-files:
    - any-glob-to-any-file:
      - 'auth.py'
      - 'secrets_manager.py'
      - 'openfga_client.py'
      - 'SECURITY*.md'
      - '.github/workflows/security-scan.yaml'
      - 'scripts/validate_production.py'

# Community
community:
  - changed-files:
    - any-glob-to-any-file:
      - 'CODE_OF_CONDUCT.md'
      - 'CONTRIBUTING.md'
      - 'DEVELOPMENT.md'
      - '.github/SUPPORT.md'
      - '.github/FUNDING.yml'
      - '.github/ISSUE_TEMPLATE/**/*'
      - '.github/PULL_REQUEST_TEMPLATE.md'

fix(integration-tests): resolve 100 failures + 21 errors in make test-integration
  .pre-commit-config.yaml
  alembic/README.md
  docker-compose.dev.yml
  docker-compose.keycloak-test.yml
  docker-compose.test.yml
  docker/docker-compose.yml
  docs/deployment/environments.mdx
  src/mcp_server_langgraph/auth/middleware.py
  tests/conftest.py
  tests/integration/compliance/test_postgres_audit_log_store.py
  tests/integration/compliance/test_postgres_consent_store.py
  tests/integration/compliance/test_postgres_conversation_store.py
  tests/integration/compliance/test_postgres_preferences_store.py
  tests/integration/compliance/test_postgres_user_profile_store.py
  tests/integration/deployment/test_keycloak_readonly_filesystem.py
  tests/integration/test_docker_health_checks.py
  tests/integration/test_schema_initialization_timing.py
  tests/meta/test_infrastructure_singleton.py
  tests/regression/test_fastapi_auth_override_sanity.py
Labels: documentation, tests, ci-cd, docker, config

fix(validation): resolve pre-push validation findings and refactor test infrastructure
  .pre-commit-config.yaml
  .trivyignore
  adr/README.md
  scripts/validate_test_ids.py
  scripts/validation/validate_ids.py
  tests/meta/test_validator_consistency.py
  tests/scripts/test_test_ids_validator.py
  tests/security/test_deployment_security_regression.py
  tests/validation_lib/__init__.py
Labels: documentation, tests, ci-cd, config

fix(pre-commit): exclude test_asyncmock_validation from AsyncMock check
  .pre-commit-config.yaml
Labels: ci-cd, config

docs: complete documentation audit and migration to MDX format
  DOCUMENTATION_AUDIT_CHECKLIST.md
  DOCUMENTATION_AUDIT_CHECKLIST_2025-11-20.md
  docs-internal/audits/claude-agents-audit.md
  docs-internal/audits/codex-findings-validation-report.md
  docs-internal/audits/documentation-audit-checklist-2025-11-16.md
  docs-internal/audits/documentation-audit-remediation-report-2025-11-20.md
  docs-internal/planning/action-plan-next-steps.md
  docs-internal/planning/documentation-improvement-roadmap-2025-11-20.md
  docs-internal/planning/phase3-type-safety-plan.md
  docs-internal/planning/real-issues-to-fix.md
  docs-internal/reports/pytest-xdist-state-pollution-scan-report.md
  docs-internal/reports/test-suite-report.md
  docs-internal/testing/skipped-tests-documentation.md
  docs/architecture/repository-structure.mdx
  docs/ci-cd/github-secrets.mdx
  docs/contributing/mdx-syntax-guide.mdx
  docs/deployment/deployment-checklist.mdx
  docs/development/naming-conventions.mdx
  docs/development/onboarding.mdx
  docs/docs.json
  docs/guides/agent-architecture.mdx
  docs/integrations/gemini.mdx
  docs/integrations/keycloak.mdx
  docs/integrations/kong.mdx
  docs/integrations/langsmith.mdx
  docs/integrations/litellm.mdx
  docs/integrations/openfga-infisical.mdx
  docs/project/migration-guides.mdx
  docs/project/roadmap.mdx
  docs/quick-reference.mdx
  docs/reference/ai-tools-compatibility.mdx
  docs/reference/mcp-registry.mdx
  docs/reference/pydantic-ai.mdx
  docs/reference/recommendations.mdx
  docs/testing/hypothesis-profiles.mdx
  docs/testing/overview.mdx
Labels: documentation

fix(docs): resolve broken links in migrated MDX files
  docs/architecture/repository-structure.mdx
  docs/guides/agent-architecture.mdx
  docs/integrations/keycloak.mdx
  docs/project/migration-guides.mdx
  docs/project/roadmap.mdx
Labels: documentation

fix(test): resolve GDPR auth override test isolation + broken doc links
  docs/architecture/repository-structure.mdx
  docs/guides/agent-architecture.mdx
  docs/integrations/keycloak.mdx
  docs/project/migration-guides.mdx
  docs/project/roadmap.mdx
  tests/regression/test_fastapi_auth_override_sanity.py
Labels: documentation, tests

fix(test): resolve GDPR singleton pollution causing 4 test failures
  tests/conftest.py
  tests/integration/test_gdpr_endpoints.py
  tests/regression/test_fastapi_auth_override_sanity.py
Labels: tests

fix(test): resolve Keycloak repo_root calculation and deployment validation issues
  tests/unit/test_llm_fallback_kwargs.py
Labels: tests

fix(test): resolve Keycloak repo_root, /tmp mounts, and add path validation meta-tests
  deployments/base/.trivyignore
  deployments/overlays/staging/postgres-patch.yaml
  tests/integration/deployment/test_keycloak_readonly_filesystem.py
  tests/test_path_validation.py
Labels: tests

docs(test): comprehensive integration test validation findings and remediation plan
  INTEGRATION_TEST_FINDINGS.md
Labels: documentation

docs: comprehensive Codex findings validation report (2025-11-21)
  docs-internal/CODEX_FINDINGS_VALIDATION_REPORT_2025-11-21.md
Labels: documentation

feat(test): add port configuration and AsyncIO fixture meta-tests
  tests/test_async_fixture_validation.py
  tests/test_infrastructure_config_validation.py
Labels: tests

fix(types): resolve all 28 MyPy errors across 16 files
  src/mcp_server_langgraph/auth/api_keys.py
  src/mcp_server_langgraph/auth/middleware.py
  src/mcp_server_langgraph/auth/session.py
  src/mcp_server_langgraph/compliance/gdpr/data_deletion.py
  src/mcp_server_langgraph/compliance/gdpr/postgres_storage.py
  src/mcp_server_langgraph/core/cache.py
  src/mcp_server_langgraph/core/checkpoint_validator.py
  src/mcp_server_langgraph/core/dependencies.py
  src/mcp_server_langgraph/core/storage/conversation_store.py
  src/mcp_server_langgraph/health/checks.py
  src/mcp_server_langgraph/health/database_checks.py
  src/mcp_server_langgraph/infrastructure/app_factory.py
  src/mcp_server_langgraph/infrastructure/middleware.py
  src/mcp_server_langgraph/llm/validators.py
  src/mcp_server_langgraph/mcp/server_streamable.py
  src/mcp_server_langgraph/middleware/rate_limiter.py
  tests/integration/deployment/test_langgraph_platform.py
  tests/integration/deployments/__init__.py
Labels: tests

fix(test): Phase 1 quick wins - MCP imports and directory consolidation
  tests/integration/deployment/test_langgraph_platform.py
  tests/integration/test_mcp_startup_validation.py
  tests/test_path_validation.py
Labels: tests

fix(test): resolve API key validation timeout with proper mock configuration
  tests/integration/security/test_api_key_indexed_lookup.py
Labels: tests

feat(infra): add repo root path validation infrastructure (Phase 3)
  .github/workflows/smoke-tests.yml
  .pre-commit-config.yaml
  scripts/validate_repo_root_calculations.py
  tests/integration/deployment/test_keycloak_readonly_filesystem.py
Labels: tests, ci-cd, config

fix(types): resolve all 26 MyPy warnings with targeted type annotations
  src/mcp_server_langgraph/builder/api/server.py
  src/mcp_server_langgraph/core/feature_flags.py
  src/mcp_server_langgraph/core/storage/conversation_store.py
  src/mcp_server_langgraph/monitoring/cost_api.py
  src/mcp_server_langgraph/monitoring/cost_tracker.py
  src/mcp_server_langgraph/presets/quickstart.py
Labels: none

fix(tests): resolve 4 critical test failures from middleware auth refactoring
  src/mcp_server_langgraph/api/auth_request_middleware.py
  src/mcp_server_langgraph/api/gdpr.py
  src/mcp_server_langgraph/app.py
  tests/api/test_bearer_scheme_diagnostic.py
  tests/conftest.py
  tests/integration/test_gdpr.py
  tests/regression/test_fastapi_auth_override_sanity.py
  tests/test_auth_middleware.py
  tests/test_conversation_state_persistence.py
Labels: tests

fix(tests): resolve all 7 integration test failure buckets (78+ tests)
  docker-compose.test.yml
  scripts/test-integration.sh
  tests/README.md
  tests/e2e/keycloak-test-realm.json
  tests/integration/test_docker_health_checks.py
  tests/integration/test_gdpr_endpoints.py
  tests/integration/test_kubernetes_health_probes.py
Labels: documentation, tests, docker, config

fix(tests): resolve 5 pre-existing test failures with fixture/mock improvements
  tests/conftest.py
  tests/regression/test_auth_middleware_isolation.py
  tests/unit/test_llm_fallback_kwargs.py
Labels: tests

feat(infra): add database retry logic with exponential backoff and startup validation
  docker-compose.dev.yml
  src/mcp_server_langgraph/api/health.py
  src/mcp_server_langgraph/compliance/gdpr/factory.py
  src/mcp_server_langgraph/infrastructure/app_factory.py
  src/mcp_server_langgraph/utils/retry.py
  tests/api/test_database_startup_validation.py
  tests/infrastructure/test_gdpr_storage_initialization.py
  tests/infrastructure/test_retry_integration_simple.py
Labels: tests, docker, config

refactor(tests): separate unit and integration tests for database connectivity
  src/mcp_server_langgraph/api/health.py
  src/mcp_server_langgraph/compliance/gdpr/factory.py
  src/mcp_server_langgraph/infrastructure/database.py
  tests/api/test_database_startup_validation.py
  tests/integration/test_database_connectivity_real.py
Labels: tests

fix(tests): resolve critical testing infrastructure issues with prevention mechanisms
  .github/workflows/e2e-tests.yaml
  .mypy-baseline.txt
  INTEGRATION_TEST_FINDINGS.md
  docs-internal/TESTING_INFRASTRUCTURE_IMPROVEMENTS_2025-11-21.md
  tests/e2e/test_full_user_journey.py
  tests/integration/e2e/__init__.py
  tests/meta/test_ci_workflow_redundancy.py
  tests/meta/test_e2e_organization.py
Labels: documentation, tests, ci-cd

fix(tests): resolve test_app_factory.py DB dependency issue
  src/mcp_server_langgraph/app.py
  tests/unit/test_app_factory.py
Labels: tests

fix(ci): update test paths after reorganization
  .github/workflows/ci.yaml
  tests/regression/test_dev_dependencies.py
Labels: tests, ci-cd

refactor(tests): extract non-autouse fixtures into modular package
  docs-internal/TESTING_STRATEGY_VALIDATION_REPORT.md
  tests/conftest.py
  tests/fixtures/__init__.py
  tests/fixtures/docker_fixtures.py
  tests/fixtures/time_fixtures.py
Labels: documentation, tests

fix(tests): correct path calculations in moved workflow tests
  tests/meta/ci/test_workflow_dependencies.py
  tests/meta/ci/test_workflow_security.py
  tests/meta/ci/test_workflow_syntax.py
  tests/meta/infrastructure/test_docker_paths.py
Labels: tests

docs(tests): add comprehensive reorganization documentation
  tests/MIGRATION_GUIDE.md
  tests/README.md
Labels: documentation, tests

fix(tests): add missing @pytest.mark.integration markers
  tests/integration/compliance/test_hipaa.py
  tests/integration/test_conversation_state_persistence.py
Labels: tests

fix(gdpr): eliminate global singleton to fix pytest-xdist cross-worker pollution
  pyproject.toml
  src/mcp_server_langgraph/api/gdpr.py
  src/mcp_server_langgraph/compliance/gdpr/factory.py
  tests/regression/test_gdpr_singleton_parallel_isolation.py
Labels: tests, dependencies, config

feat(e2e): implement comprehensive GDPR compliance E2E tests
  tests/e2e/test_full_user_journey.py
Labels: tests

refactor(tests): extract database fixtures to dedicated module
  tests/conftest.py
  tests/fixtures/database_fixtures.py
Labels: tests

feat(infra): replace hardcoded sleeps with smart wait utility
  Makefile
  scripts/test-integration.sh
  scripts/utils/wait_for_services.sh
Labels: ci-cd

test(meta): add comprehensive schema parity validation suite
  docs-internal/SCHEMA_MANAGEMENT_VALIDATION_2025-11-22.md
  tests/meta/test_alembic_schema_parity.py
Labels: documentation, tests

docs(testing): create comprehensive implementation backlog for testing improvements
  docs-internal/TESTING_INFRASTRUCTURE_IMPROVEMENTS_BACKLOG.md
Labels: documentation

feat(tests): add behavioral mock framework for unit test refactoring
  tests/unit/test_mcp_server_behavioral.py
  tests/utils/mock_factories.py
Labels: tests

refactor: consolidate validation scripts and optimize CI
  .github/workflows/ci.yaml
  .pre-commit-config.yaml
  Makefile
  scripts/validation/check_async_mock_configuration.py
  scripts/validation/check_async_mock_usage.py
  scripts/validation/check_e2e_completion.py
  scripts/validation/check_internal_links.py
  scripts/validation/check_mermaid_styling.py
  scripts/validation/check_test_environment_isolation.py
  scripts/validation/check_test_memory_safety.py
  scripts/validation/check_test_sleep_budget.py
  scripts/validation/check_test_sleep_duration.py
  scripts/validation/check_version_consistency.py
  scripts/validation/validate_api_schemas.py
  scripts/validation/validate_async_fixture_scope.py
  scripts/validation/validate_ci_cd.py
  scripts/validation/validate_docker_image_contents.py
  scripts/validation/validate_github_workflows.py
  scripts/validation/validate_gke_autopilot_compliance.py
  scripts/validation/validate_keycloak_config.py
  scripts/validation/validate_migration_idempotency.py
  scripts/validation/validate_pre_push_hook.py
  scripts/validation/validate_pytest_config.py
  scripts/validation/validate_pytest_markers.py
  scripts/validation/validate_repo_root_calculations.py
  scripts/validation/validate_serviceaccount_names.py
  scripts/validation/validate_test_fixtures.py
  scripts/validation/validate_test_ids.py
  scripts/validation/validate_test_time_bombs.py
Labels: tests, ci-cd, config

Fix indentation, docs.json path, and pre-commit config
  .pre-commit-config.yaml
  Makefile
  collected_tests.txt
  docs/docs.json
  fix_unused_ignores_6.py
  integration_test_output.txt
  integration_test_output_2.txt
  integration_test_output_3.txt
  pyproject.toml
  test_e2e_output_3.txt
  test_unit_output.txt
  tests/api/test_api_versioning.py
  tests/api/test_bearer_scheme_diagnostic.py
  tests/api/test_error_handlers.py
  tests/cli/test_add_tool.py
  tests/cli/test_cli.py
  tests/cli/test_create_agent.py
  tests/cli/test_init.py
  tests/deployment/test_serviceaccount_naming_regression.py
  tests/fixtures/time_fixtures.py
  tests/infrastructure/test_app_factory.py
  tests/infrastructure/test_database_ha.py
  tests/integration/api/test_health.py
  tests/integration/test_database_connectivity_real.py
  tests/integration/test_kubernetes_health_probes.py
  tests/meta/test_precommit_keycloak_validation.py
  tests/meta/test_pytest_config_validation.py
  tests/meta/test_pytest_xdist_enforcement.py
  unit_test_output.txt
Labels: documentation, tests, ci-cd, dependencies, config

Fix app startup validation in tests and script paths
  docs/docs.json
  integration_test_output_3.txt
  scripts/validation/validate_pytest_config.py
  scripts/validation/validate_serviceaccount_names.py
  src/mcp_server_langgraph/app.py
  tests/unit/test_gke_autopilot_validator.py
  tests/unit/test_pytest_marker_validator.py
Labels: documentation, tests

Fix remaining meta-test path issues and adjust regression thresholds
  collected_tests.txt
  docker/prometheus.yml
  scripts/utils/wait_for_services.sh
  scripts/validation/validate_serviceaccount_names.py
  src/mcp_server_langgraph/api/health.py
  src/mcp_server_langgraph/app.py
  test_e2e_output_4.txt
  test_unit_output.txt
  tests/meta/test_codex_regression_prevention.py
  tests/meta/test_codex_validations.py
  tests/meta/validation/test_docker_compose_validation.py
  tests/meta/validation/test_yaml_syntax.py
Labels: tests
