Repository vishnu2kmohan/mcp-server-langgraph, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, tests, ci-cd, dependencies, docker, deployment, auth, secrets, observability, mcp, agent, config, security, community

.github/labeler.yml:

# Auto-labeler configuration for PRs
# Uses changed-files pattern matching

# Documentation
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'
      - '**/*.mdx'
      - 'docs/**/*'
      - 'mint.json'
      - '.mcp/*.json'

# Tests
tests:
  - changed-files:
    - any-glob-to-any-file:
      - 'tests/**/*'
      - '**/*test*.py'
      - 'test_*.py'
      - '*_test.py'
      - 'pytest.ini'
      - 'conftest.py'
      - 'TESTING.md'

# CI/CD
ci-cd:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**/*'
      - '.github/actions/**/*'
      - '.gitlab-ci.yml'
      - 'Makefile'
      - '.pre-commit-config.yaml'

# Dependencies
dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'requirements*.txt'
      - 'setup.py'
      - 'pyproject.toml'
      - 'poetry.lock'
      - 'package*.json'
      - 'yarn.lock'

# Docker
docker:
  - changed-files:
    - any-glob-to-any-file:
      - 'Dockerfile*'
      - 'docker-compose*.yml'
      - '.dockerignore'

# Kubernetes/Deployment
deployment:
  - changed-files:
    - any-glob-to-any-file:
      - 'kubernetes/**/*'
      - 'kustomize/**/*'
      - 'helm/**/*'
      - 'k8s/**/*'
      - 'KUBERNETES_DEPLOYMENT.md'
      - 'PRODUCTION_DEPLOYMENT.md'

# Authentication/Authorization
auth:
  - changed-files:
    - any-glob-to-any-file:
      - 'auth.py'
      - 'openfga_client.py'
      - 'setup_openfga.py'

# Secrets Management
secrets:
  - changed-files:
    - any-glob-to-any-file:
      - 'secrets_manager.py'
      - 'setup_infisical.py'

# Observability
observability:
  - changed-files:
    - any-glob-to-any-file:
      - 'observability.py'
      - 'health_check.py'
      - 'monitoring/**/*'
      - 'grafana/**/*'

# MCP Server
mcp:
  - changed-files:
    - any-glob-to-any-file:
      - 'mcp_server*.py'
      - 'examples/*client*.py'

# Agent/Core
agent:
  - changed-files:
    - any-glob-to-any-file:
      - 'agent.py'
      - 'graph.py'
      - 'models.py'
      - 'prompt*.py'

# Configuration
config:
  - changed-files:
    - any-glob-to-any-file:
      - 'config.py'
      - '.env*'
      - 'settings.py'
      - '*.yaml'
      - '*.yml'
      - '*.toml'
      - '*.ini'
      - '.editorconfig'

# Security
security:
  - changed-files:
    - any-glob-to-any-file:
      - 'auth.py'
      - 'secrets_manager.py'
      - 'openfga_client.py'
      - 'SECURITY*.md'
      - '.github/workflows/security-scan.yaml'
      - 'scripts/validate_production.py'

# Community
community:
  - changed-files:
    - any-glob-to-any-file:
      - 'CODE_OF_CONDUCT.md'
      - 'CONTRIBUTING.md'
      - 'DEVELOPMENT.md'
      - '.github/SUPPORT.md'
      - '.github/FUNDING.yml'
      - '.github/ISSUE_TEMPLATE/**/*'
      - '.github/PULL_REQUEST_TEMPLATE.md'

feat(frontend): enable WebSocket by default in AIIntelligenceContext
  src/mcp_server_langgraph/studio/frontend/src/contexts/AIIntelligenceContext.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/contexts/AIIntelligenceContext.tsx
Labels: none

feat(ai): add ArtifactSuggestionAgent with LLM and heuristic fallback
  src/mcp_server_langgraph/studio/ai/suggestions.py
  tests/unit/studio/ai/test_artifact_suggestion_agent.py
Labels: tests

feat(api): implement GET /ai/suggestions endpoint with real AI suggestions
  src/mcp_server_langgraph/api/v1/ai.py
  tests/api/test_ai_node_config_api.py
Labels: tests

feat(observability): enhance LGTM backend query implementations
  src/mcp_server_langgraph/observability/query/backends/grafana.py
  src/mcp_server_langgraph/observability/query/backends/loki.py
  src/mcp_server_langgraph/observability/query/backends/prometheus.py
  src/mcp_server_langgraph/observability/query/backends/tempo.py
  src/mcp_server_langgraph/observability/telemetry.py
  src/mcp_server_langgraph/studio/frontend/src/pages/ObservabilityPage.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/pages/ObservabilityPage.tsx
  src/mcp_server_langgraph/studio/frontend/src/store/slices/observabilitySlice.ts
  tests/unit/observability/query/test_lgtm_backends.py
Labels: tests

feat(frontend): enhance canvas workspace and DevTools panel
  src/mcp_server_langgraph/middleware/devtools_emitter.py
  src/mcp_server_langgraph/studio/frontend/src/canvas/CanvasTabs.tsx
  src/mcp_server_langgraph/studio/frontend/src/canvas/CanvasWorkspace.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/canvas/CanvasWorkspace.tsx
  src/mcp_server_langgraph/studio/frontend/src/canvas/ConnectedCanvasPanel.tsx
  src/mcp_server_langgraph/studio/frontend/src/canvas/canvasUtils.test.ts
  src/mcp_server_langgraph/studio/frontend/src/canvas/canvasUtils.ts
  src/mcp_server_langgraph/studio/frontend/src/canvas/index.ts
  src/mcp_server_langgraph/studio/frontend/src/components/DevTools/DevToolsPanel.tsx
  tests/unit/middleware/test_devtools_emitter.py
Labels: tests

feat(frontend): enhance Chat and conversation components
  src/mcp_server_langgraph/studio/frontend/src/components/Chat/ChatMessages.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Chat/InteractiveMermaidDiagram.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Chat/InteractiveMermaidDiagram.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Chat/MarkdownContent.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Chat/MarkdownContent.tsx
  src/mcp_server_langgraph/studio/frontend/src/conversation/ChatInput.tsx
  src/mcp_server_langgraph/studio/frontend/src/conversation/ConnectedConversationPanel.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/conversation/ConnectedConversationPanel.tsx
  src/mcp_server_langgraph/studio/frontend/src/hooks/useNewChat.ts
Labels: none

chore(infra): update infrastructure configuration and layout components
  docker-compose.test.yml
  src/mcp_server_langgraph/infrastructure/app_factory.py
  src/mcp_server_langgraph/studio/frontend/package-lock.json
  src/mcp_server_langgraph/studio/frontend/src/layout/ActivityBar.tsx
  src/mcp_server_langgraph/studio/frontend/src/layout/StatusBar.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/layout/StudioShellLayout.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/layout/StudioShellLayout.tsx
  src/mcp_server_langgraph/studio/frontend/src/router/index.tsx
  src/mcp_server_langgraph/studio/frontend/src/router/loaders/canvasLoaders.ts
  src/mcp_server_langgraph/studio/frontend/src/test/setup.ts
  src/mcp_server_langgraph/studio/frontend/src/utils/apiTransforms.ts
Labels: docker, config

feat(ai-ux): implement diagram intelligence LLM integration
  src/mcp_server_langgraph/api/v1/ai_ux_service.py
  tests/unit/agents/test_diagram_intelligence_llm.py
Labels: tests

fix(help): add null check for aiTopics in HelpPane
  src/mcp_server_langgraph/studio/frontend/src/help/HelpPane.tsx
Labels: none

feat(trace-intelligence): implement real LLM integration for trace methods
  src/mcp_server_langgraph/api/v1/ai_ux_service.py
  tests/unit/agents/test_trace_intelligence_llm.py
Labels: tests

feat(session-intelligence): implement real LLM integration for session methods
  src/mcp_server_langgraph/api/v1/ai_ux_service.py
  tests/unit/agents/test_session_intelligence_llm.py
Labels: tests

feat(canvas-intelligence): implement real LLM integration for canvas methods
  src/mcp_server_langgraph/api/v1/ai_ux_service.py
  tests/unit/agents/test_canvas_intelligence_llm.py
Labels: tests

feat(api): implement compliance, help, and genui API endpoints with TDD
  src/mcp_server_langgraph/api/v1/compliance.py
  src/mcp_server_langgraph/api/v1/studio_ai.py
  tests/unit/api/test_compliance_api.py
  tests/unit/api/test_genui_api.py
  tests/unit/api/test_help_api.py
Labels: tests

feat(api): implement background agents API with TDD
  src/mcp_server_langgraph/api/v1/background_agents.py
  tests/unit/api/test_background_agents_api.py
Labels: tests

feat(genui): implement GenUI orchestrator with TDD
  src/mcp_server_langgraph/agents/genui_orchestrator.py
  tests/unit/agents/test_genui_orchestrator.py
Labels: tests

chore(test): add missing pytest markers for intelligence tests
  pyproject.toml
Labels: dependencies, config

feat(studio): integrate canvas intelligence and register memory API
  pyproject.toml
  src/mcp_server_langgraph/api/v1/router.py
  src/mcp_server_langgraph/studio/frontend/src/App.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/App.tsx
  src/mcp_server_langgraph/studio/frontend/src/canvas/CanvasWorkspace.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/canvas/CanvasWorkspace.tsx
  src/mcp_server_langgraph/studio/frontend/src/canvas/ConnectedCanvasPanel.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Chat/ChatDocument.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Chat/ChatDocument.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/ErrorBoundary/AIErrorBoundary.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/ErrorBoundary/AIErrorBoundary.tsx
  src/mcp_server_langgraph/studio/frontend/src/conversation/ConnectedConversationPanel.tsx
  src/mcp_server_langgraph/studio/frontend/src/hooks/useProjectContext.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/usePromptTemplates.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useRetryableRequest.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useTierLimits.ts
  src/mcp_server_langgraph/studio/frontend/src/layout/ActivityBar.tsx
  src/mcp_server_langgraph/studio/frontend/src/layout/SessionNav.tsx
  src/mcp_server_langgraph/studio/frontend/src/layout/StudioShellLayout.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/layout/StudioShellLayout.tsx
  src/mcp_server_langgraph/studio/frontend/src/pages/ObservabilityPage.tsx
  tests/unit/api/test_memory_api.py
Labels: tests, dependencies, config

refactor(canvas): implement single-pane tab-based layout
  src/mcp_server_langgraph/studio/frontend/src/canvas/CanvasWorkspace.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/canvas/CanvasWorkspace.tsx
  src/mcp_server_langgraph/studio/frontend/src/canvas/ConnectedCanvasPanel.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/canvas/ConnectedCanvasPanel.tsx
  src/mcp_server_langgraph/studio/frontend/src/conversation/ConnectedConversationPanel.tsx
  src/mcp_server_langgraph/studio/frontend/src/layout/SessionNav.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/layout/StudioShellLayout.tsx
  src/mcp_server_langgraph/studio/frontend/src/pages/ObservabilityPage.test.tsx
Labels: none

feat(conversation): enhance ChatInput with voice and attachment support
  src/mcp_server_langgraph/studio/frontend/src/conversation/ChatInput.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/conversation/ChatInput.tsx
  src/mcp_server_langgraph/studio/frontend/src/conversation/ConnectedConversationPanel.tsx
  src/mcp_server_langgraph/studio/frontend/src/conversation/ConversationPanel.tsx
  src/mcp_server_langgraph/studio/frontend/src/conversation/index.test.ts
  src/mcp_server_langgraph/studio/frontend/src/layout/StudioShellLayout.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/layout/StudioShellLayout.tsx
  src/mcp_server_langgraph/studio/frontend/src/pages/ObservabilityPage.test.tsx
Labels: none

fix(llm): handle null content in AIMessage and configure Claude via Vertex AI
  .env.test
  src/mcp_server_langgraph/llm/factory.py
  src/mcp_server_langgraph/studio/frontend/package-lock.json
  src/mcp_server_langgraph/studio/frontend/src/layout/__tests__/StudioShellLayout.ai.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/layout/__tests__/StudioShellLayout.panels.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/router/loaders/canvasLoaders.ts
Labels: config

docs(vertex-ai): update to reflect Claude global endpoint GA
  .env.test
  .github/workflows/integration-tests.yaml
  docs/deployment/llm-provider-resilience.mdx
  tests/integration/test_vertex_ai_auth_methods.py
  tests/unit/config/test_config_validation.py
Labels: documentation, tests, ci-cd, config

fix(csp): add cdn.jsdelivr.net for Pyodide Python runtime support
  docker-compose.test.yml
  src/mcp_server_langgraph/api/v1/auth.py
  src/mcp_server_langgraph/studio/frontend/src/components/Artifacts/SandpackExecutor.tsx
  src/mcp_server_langgraph/studio/security/__init__.py
  tests/security/test_studio_security.py
Labels: tests, docker, config

test(layout): add split StudioShellLayout tests for memory optimization
  src/mcp_server_langgraph/studio/frontend/src/layout/__tests__/README.md
  src/mcp_server_langgraph/studio/frontend/src/layout/__tests__/StudioShellLayout.accessibility.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/layout/__tests__/StudioShellLayout.rbac.test.tsx
Labels: documentation

fix(ai): use settings singleton instead of get_settings function
  src/mcp_server_langgraph/studio/ai/suggestions.py
  src/mcp_server_langgraph/websocket/handlers/ai_suggestions.py
Labels: none

fix(ai-suggestions): persist dismissed suggestions across refetches
  src/mcp_server_langgraph/studio/frontend/src/hooks/useAISuggestionsCache.test.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useAISuggestionsCache.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useAISuggestionsFetch.ts
  src/mcp_server_langgraph/studio/frontend/src/utils/storage.ts
Labels: none

fix(canvas): load matplotlib/numpy before Python execution
  src/mcp_server_langgraph/studio/frontend/src/canvas/CanvasArtifact.tsx
Labels: none

fix(config): add matplotlib to allowed imports and update Docker image
  src/mcp_server_langgraph/core/config/_settings.py
  src/mcp_server_langgraph/studio/frontend/src/canvas/ConnectedCanvasPanel.tsx
Labels: none

fix(observability): add Grafana credentials for alerting API
  docker-compose.test.yml
Labels: docker, config

feat(grafana): implement OIDC authentication for API access
  docker-compose.test.yml
  src/mcp_server_langgraph/observability/query/backends/grafana.py
Labels: docker, config

feat(cost): implement Redis session cost caching with TDD
  src/mcp_server_langgraph/monitoring/cost_tracker.py
  src/mcp_server_langgraph/monitoring/litellm_cost_callback.py
  src/mcp_server_langgraph/websocket/services/cost_tracking.py
  tests/unit/websocket/__init__.py
  tests/unit/websocket/test_cost_tracking_redis.py
Labels: tests

feat(observability): extend API models for frontend DevTools contract
  src/mcp_server_langgraph/api/v1/observability.py
  tests/contract/test_observability_frontend_contract.py
Labels: tests

refactor(frontend): update session slice and conversation panel
  src/mcp_server_langgraph/studio/frontend/src/conversation/ConnectedConversationPanel.tsx
  src/mcp_server_langgraph/studio/frontend/src/store/slices/sessionSlice.ts
Labels: none

feat(db): add alembic migrations and prevent create_all() usage
  .pre-commit-config.yaml
  .pre-commit-hooks/check_no_create_all.py
  alembic/versions/s9t0u1v2w3x4_add_workflow_title_column.py
  alembic/versions/t0u1v2w3x4y5_add_workflow_executions_table.py
  alembic/versions/u1v2w3x4y5z6_add_alert_records_table.py
  src/mcp_server_langgraph/database/session.py
  src/mcp_server_langgraph/storage/session/postgres_manager.py
  src/mcp_server_langgraph/storage/workflow/postgres_manager.py
  tests/meta/test_no_create_all.py
Labels: tests, ci-cd, config

fix(grafana): auto-initialize client on first use
  src/mcp_server_langgraph/observability/query/backends/grafana.py
Labels: none

fix(grafana): use basic auth for API access (JWT requires HTTPS)
  docker-compose.test.yml
Labels: docker, config

docs(adr): add ADR-0087 Grafana Two-Tier Authentication Architecture
  adr/README.md
  adr/adr-0087-grafana-two-tier-authentication.md
  docs/architecture/adr-0087-grafana-two-tier-authentication.mdx
Labels: documentation

feat: implement TODO cluster plan (9 clusters)
  src/mcp_server_langgraph/alerts/approval_queue.py
  src/mcp_server_langgraph/api/deps.py
  src/mcp_server_langgraph/api/v1/admin.py
  src/mcp_server_langgraph/api/v1/ai.py
  src/mcp_server_langgraph/api/v1/auth.py
  src/mcp_server_langgraph/api/v1/connections_realtime_ws.py
  src/mcp_server_langgraph/api/v1/remediation_approvals.py
  src/mcp_server_langgraph/api/v1/sessions.py
  src/mcp_server_langgraph/api/v1/studio_ai.py
  src/mcp_server_langgraph/monitoring/cost_tracker.py
  src/mcp_server_langgraph/studio/ai/suggestions.py
  src/mcp_server_langgraph/studio/frontend/src/conversation/ConnectedConversationPanel.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/conversation/ConnectedConversationPanel.tsx
  src/mcp_server_langgraph/studio/frontend/src/hooks/useAISuggestionsWebSocket.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/hooks/useAlertWebSocket.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/hooks/useBudgetAlertsWebSocket.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/hooks/useRealtimeSync.ts
  src/mcp_server_langgraph/studio/frontend/src/pages/ConnectionsPage.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/pages/ConnectionsPage.tsx
  src/mcp_server_langgraph/websocket/services/cost_tracking.py
  src/mcp_server_langgraph/websocket/services/heart_metrics.py
  tests/unit/api/v1/test_admin_api_keys.py
  tests/unit/api/v1/test_auth_org_switch.py
  tests/unit/api/v1/test_connections_realtime_ws.py
  tests/unit/api/v1/test_remediation_approvals.py
  tests/unit/api/v1/test_sessions_router.py
  tests/unit/api/v1/test_sessions_trace.py
  tests/unit/api/v1/test_studio_ai_di.py
  tests/unit/websocket_pkg/services/test_cost_tracking_service.py
  tests/unit/websocket_pkg/services/test_heart_metrics.py
Labels: tests

fix(observability): use OTEL dot notation for span attribute queries
  src/mcp_server_langgraph/api/deps.py
  src/mcp_server_langgraph/api/v1/observability.py
  src/mcp_server_langgraph/api/v1/sessions.py
  src/mcp_server_langgraph/monitoring/tempo_client.py
  src/mcp_server_langgraph/observability/query/interfaces.py
  tests/integration/observability/test_tempo_session_traces.py
  tests/unit/api/v1/test_observability_service_impl.py
  tests/unit/api/v1/test_sessions_trace.py
Labels: tests

test(observability): add OTEL→Tempo data flow integration tests
  tests/integration/observability/test_otel_tempo_data_flow.py
Labels: tests

chore(pytest): register tempo, loki, dataflow markers
  pyproject.toml
Labels: dependencies, config
