Repository vishnu2kmohan/mcp-server-langgraph, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, tests, ci-cd, dependencies, docker, deployment, auth, secrets, observability, mcp, agent, config, security, community

docs: fix placeholder icon names to use Font Awesome
  docs/advanced/contributing.mdx
  docs/reference/documentation-authoring-guide.mdx
  docs/reference/icon-selection-guide.mdx
Labels: documentation

fix(validators): add missing icons to valid icon registry
  scripts/validators/validate_docs.py
Labels: none

docs: move ADR-0011 from Compliance to Tooling & Standards
  docs/docs.json
Labels: documentation

fix(docs): replace invalid icons with Font Awesome 6.x equivalents
  docs/ci-cd/badges.mdx
  docs/compliance/hipaa/breach-response.mdx
  docs/deployment/deployment-checklist.mdx
  docs/getting-started/langsmith-tracing.mdx
  docs/guides/anthropic-claude.mdx
  docs/testing/hypothesis-profiles.mdx
  scripts/validators/validate_docs.py
Labels: documentation

docs: fix v3.0 version reference and add release headlines
  docs/architecture/overview.mdx
  docs/releases/overview.mdx
Labels: documentation

docs: improve navbar titles for better navigation
  docs/compliance/gdpr/overview.mdx
  docs/compliance/hipaa/overview.mdx
  docs/compliance/soc2/overview.mdx
  docs/deployment/infrastructure/overview.mdx
  docs/deployment/monitoring/overview.mdx
  docs/deployment/overview.mdx
  docs/getting-started/introduction.mdx
  docs/reference/development/ci-cd/overview.mdx
  docs/releases/v2-2-0.mdx
  docs/releases/v2-3-0.mdx
  docs/releases/v2-4-0.mdx
  docs/releases/v2-5-0.mdx
  docs/releases/v2-6-0.mdx
  docs/releases/v2-7-0.mdx
  docs/releases/v2-8-0.mdx
  docs/security/overview.mdx
Labels: documentation

fix: add explanatory comment to empty except clause
  scripts/validators/validate_docs.py
Labels: none

fix(tests): use worker-specific cleanup to prevent xdist race condition
  tests/integration/compliance/test_postgres_conversation_store.py
Labels: tests

fix(tests): use worker-specific cleanup patterns across all postgres tests
  tests/integration/compliance/test_postgres_audit_log_store.py
  tests/integration/compliance/test_postgres_consent_store.py
  tests/integration/compliance/test_postgres_preferences_store.py
  tests/integration/compliance/test_postgres_user_profile_store.py
  tests/meta/test_hardcoded_test_ids.py
Labels: tests

fix(tests): increase meta test subprocess timeouts and disable OTEL
  tests/meta/test_performance_regression_suite.py
  tests/meta/test_slow_test_detection.py
Labels: tests

fix(ruff): add per-file ignores for scripts/ and examples/ directories
  pyproject.toml
  scripts/dev/add_xdist_markers_bulk.py
  scripts/dev/audit_workflow_duplication.py
Labels: dependencies, config

fix(ci): bust Python 3.13 cache for hypothesis compatibility
  .github/actions/setup-python-deps/action.yml
Labels: ci-cd

fix(ci): disable uv caching for reproducible builds
  .github/actions/setup-python-deps/action.yml
Labels: ci-cd

fix(ruff): remove .keys() in secrets manager (SIM118 violation)
  src/mcp_server_langgraph/secrets/manager.py
Labels: none

fix(codeql): resolve __all__ export definition errors
  src/mcp_server_langgraph/__init__.py
  src/mcp_server_langgraph/monitoring/__init__.py
Labels: none

fix(tests): comprehensive pytest-xdist isolation improvements
  .github/workflows/ci.yaml
  .pre-commit-config.yaml
  tests/PYTEST_XDIST_BEST_PRACTICES.md
  tests/PYTEST_XDIST_ENFORCEMENT.md
  tests/builder/test_builder_security.py
  tests/conftest.py
  tests/core/test_exceptions.py
  tests/fixtures/database_fixtures.py
  tests/fixtures/docker_fixtures.py
  tests/integration/api/test_api_keys_endpoints.py
  tests/integration/api/test_service_principals_endpoints.py
  tests/integration/core/test_container.py
  tests/integration/test_openfga_client.py
  tests/meta/test_env_pollution.py
  tests/meta/test_fixture_organization.py
  tests/meta/test_infrastructure_singleton.py
  tests/meta/test_mcp_skip_auth_enforcement.py
  tests/meta/test_pytest_xdist_enforcement.py
  tests/performance/test_benchmarks.py
  tests/regression/test_openfga_worker_isolation.py
  tests/regression/test_performance_regression.py
  tests/regression/test_service_principal_test_isolation.py
  tests/unit/auth/test_auth.py
  tests/unit/auth/test_auth_factory.py
  tests/unit/test_mcp_stdio_server.py
  tests/utils/__init__.py
  tests/utils/worker_utils.py
Labels: documentation, tests, ci-cd, config

fix(tests): add skip_isolation_check marker for existing integration tests
  pyproject.toml
  tests/integration/api/test_api_keys_endpoints.py
  tests/integration/compliance/test_postgres_audit_log_store.py
  tests/integration/compliance/test_postgres_conversation_store.py
  tests/integration/compliance/test_postgres_preferences_store.py
  tests/integration/compliance/test_postgres_user_profile_store.py
  tests/integration/test_fixture_cleanup.py
  tests/integration/test_postgres_storage.py
Labels: tests, dependencies, config

fix(docs): mermaid sequence diagram validation and markdown code blocks
  docs/advanced/contributing.mdx
  docs/api-reference/scim-provisioning.mdx
  docs/architecture/adr-0018-semantic-versioning-strategy.mdx
  docs/architecture/overview.mdx
  docs/ci-cd/troubleshooting.mdx
  docs/compliance/gdpr/dpa-template.mdx
  docs/compliance/gdpr/dpia.mdx
  docs/compliance/hipaa/baa-template.mdx
  docs/compliance/soc2/trust-criteria.mdx
  docs/deployment/cost-optimization.mdx
  docs/deployment/gdpr-storage-configuration.mdx
  docs/deployment/infrastructure/terraform-aws.mdx
  docs/deployment/keycloak-jwt-deployment.mdx
  docs/deployment/version-pinning.mdx
  docs/guides/keycloak-sso.mdx
  docs/guides/openfga-setup.mdx
  docs/guides/redis-sessions.mdx
  docs/reference/development/github-actions.mdx
  docs/reference/development/ide-setup.mdx
  docs/reference/sources.mdx
  docs/security/audit-checklist.mdx
  docs/security/compliance.mdx
  scripts/validators/check_mermaid_styling.py
  scripts/validators/validate_docs.py
  tests/meta/validation/test_mermaid_validation.py
  tests/regression/test_dev_dependencies.py
Labels: documentation, tests

fix(docs): broken links and enhance link checker to skip code blocks
  docs/ci-cd/troubleshooting.mdx
  docs/development/setup.mdx
  scripts/validators/check_internal_links.py
Labels: documentation

fix(docs): remove stray code block in keycloak-sso.mdx
  docs/guides/keycloak-sso.mdx
Labels: documentation

fix(docs): mermaid sequence diagram validation and markdown code blocks (#127)
  docs/advanced/contributing.mdx
  docs/api-reference/scim-provisioning.mdx
  docs/architecture/adr-0018-semantic-versioning-strategy.mdx
  docs/architecture/overview.mdx
  docs/ci-cd/troubleshooting.mdx
  docs/compliance/gdpr/dpa-template.mdx
  docs/compliance/gdpr/dpia.mdx
  docs/compliance/hipaa/baa-template.mdx
  docs/compliance/soc2/trust-criteria.mdx
  docs/deployment/cost-optimization.mdx
  docs/deployment/gdpr-storage-configuration.mdx
  docs/deployment/infrastructure/terraform-aws.mdx
  docs/deployment/keycloak-jwt-deployment.mdx
  docs/deployment/version-pinning.mdx
  docs/development/setup.mdx
  docs/guides/keycloak-sso.mdx
  docs/guides/openfga-setup.mdx
  docs/guides/redis-sessions.mdx
  docs/reference/development/github-actions.mdx
  docs/reference/development/ide-setup.mdx
  docs/reference/sources.mdx
  docs/security/audit-checklist.mdx
  docs/security/compliance.mdx
  scripts/validators/check_internal_links.py
  scripts/validators/check_mermaid_styling.py
  scripts/validators/validate_docs.py
  tests/meta/validation/test_mermaid_validation.py
  tests/regression/test_dev_dependencies.py
Labels: documentation, tests

fix(deps): pin hypothesis <6.147.0 to fix Python 3.11 xdist import race
  pyproject.toml
  uv.lock
Labels: dependencies, config

fix(tests): exclude Phase.target from hypothesis to fix xdist import race
  tests/conftest.py
  tests/meta/test_codex_validations.py
Labels: tests

fix(tests): use absolute paths in subprocess calls for CI compatibility
  tests/meta/test_precommit_keycloak_validation.py
Labels: tests

fix(validators): exclude TDD documentation tests from env isolation check
  scripts/validators/check_test_environment_isolation.py
Labels: tests

fix(ci): skip CI-specific validations that duplicate CI functionality
  scripts/validators/validate_pre_push_hook.py
  tests/meta/test_performance_regression_suite.py
  tests/meta/test_slow_test_detection.py
Labels: tests

fix(tests): skip recursive test suite meta-tests in pre-push hooks
  tests/meta/test_performance_regression_suite.py
  tests/meta/test_slow_test_detection.py
Labels: tests

refactor(tests): apply YAGNI/KISS principles to test infrastructure (-693 lines)
  .github/workflows/ci.yaml
  .pre-commit-config.yaml
  scripts/validators/validate_pre_push_hook.py
  tests/conftest.py
  tests/meta/test_performance_regression_suite.py
  tests/meta/test_slow_test_detection.py
Labels: tests, ci-cd, config

chore(deps): add semgrep as dev dependency
  pyproject.toml
  uv.lock
Labels: dependencies, config

docs(architecture): sync ADR index with actual ADR files
  docs/architecture/overview.mdx
Labels: documentation

refactor(hooks): consolidate pre-commit infrastructure and fix change detection
  .pre-commit-config.yaml
  scripts/run_pre_push_tests.py
  scripts/security/run_security_suite.py
  scripts/validators/validate_dependency_injection.py
  tests/meta/test_change_detection.py
  tests/meta/test_security_suite.py
  tests/meta/test_validator_consistency.py
Labels: tests, ci-cd, config

fix(ci): update CI workflow path and fix test isolation
  .github/workflows/smoke-tests.yml
  tests/meta/test_change_detection.py
Labels: tests, ci-cd

fix(helm): add tmpcharts cleanup and gitignore entry
  .gitignore
  tests/deployment/test_helm_templates.py
Labels: tests

perf(validators): inline validate_fast.py execution (Phase 4)
  scripts/validators/validate_api_schemas.py
  scripts/validators/validate_fast.py
  scripts/validators/validate_repo_root_calculations.py
  scripts/validators/validate_test_time_bombs.py
  tests/meta/test_validate_fast_inline.py
Labels: tests

refactor(hooks): consolidate pre-commit infrastructure and fix change detection (#129)
  .github/workflows/smoke-tests.yml
  .gitignore
  .pre-commit-config.yaml
  scripts/run_pre_push_tests.py
  scripts/security/run_security_suite.py
  scripts/validators/validate_api_schemas.py
  scripts/validators/validate_dependency_injection.py
  scripts/validators/validate_fast.py
  scripts/validators/validate_repo_root_calculations.py
  scripts/validators/validate_test_time_bombs.py
  tests/deployment/test_helm_templates.py
  tests/meta/test_change_detection.py
  tests/meta/test_security_suite.py
  tests/meta/test_validate_fast_inline.py
  tests/meta/test_validator_consistency.py
Labels: tests, ci-cd, config

fix(docs): complete truncated MDX documentation files
  docs/deployment/deployment-checklist.mdx
  docs/guides/agent-architecture.mdx
  docs/project/roadmap.mdx
  docs/testing/overview.mdx
  scripts/docs/generate_adr_index.py
Labels: documentation

docs(troubleshooting): consolidate into category-specific pages
  docs/docs.json
  docs/troubleshooting/authentication.mdx
  docs/troubleshooting/ci-cd.mdx
  docs/troubleshooting/database.mdx
  docs/troubleshooting/deployment.mdx
  docs/troubleshooting/installation.mdx
  docs/troubleshooting/overview.mdx
  docs/troubleshooting/performance.mdx
  docs/troubleshooting/pod-failures.mdx
Labels: documentation

fix(docs): complete truncated MDX documentation files (#131)
  docs/deployment/deployment-checklist.mdx
  docs/docs.json
  docs/guides/agent-architecture.mdx
  docs/project/roadmap.mdx
  docs/testing/overview.mdx
  docs/troubleshooting/authentication.mdx
  docs/troubleshooting/ci-cd.mdx
  docs/troubleshooting/database.mdx
  docs/troubleshooting/deployment.mdx
  docs/troubleshooting/installation.mdx
  docs/troubleshooting/overview.mdx
  docs/troubleshooting/performance.mdx
  docs/troubleshooting/pod-failures.mdx
  scripts/docs/generate_adr_index.py
Labels: documentation

fix(ci): add disk cleanup and fail-fast:false to docker-multiplatform
  .github/workflows/ci.yaml
Labels: ci-cd

perf(ci): parallelize push-validators for 60% faster CI (25→10 min)
  .github/workflows/ci.yaml
Labels: ci-cd

.github/labeler.yml:

# Auto-labeler configuration for PRs
# Uses changed-files pattern matching

# Documentation
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'
      - '**/*.mdx'
      - 'docs/**/*'
      - 'mint.json'
      - '.mcp/*.json'

# Tests
tests:
  - changed-files:
    - any-glob-to-any-file:
      - 'tests/**/*'
      - '**/*test*.py'
      - 'test_*.py'
      - '*_test.py'
      - 'pytest.ini'
      - 'conftest.py'
      - 'TESTING.md'

# CI/CD
ci-cd:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**/*'
      - '.github/actions/**/*'
      - '.gitlab-ci.yml'
      - 'Makefile'
      - '.pre-commit-config.yaml'

# Dependencies
dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'requirements*.txt'
      - 'setup.py'
      - 'pyproject.toml'
      - 'poetry.lock'
      - 'package*.json'
      - 'yarn.lock'

# Docker
docker:
  - changed-files:
    - any-glob-to-any-file:
      - 'Dockerfile*'
      - 'docker-compose*.yml'
      - '.dockerignore'

# Kubernetes/Deployment
deployment:
  - changed-files:
    - any-glob-to-any-file:
      - 'kubernetes/**/*'
      - 'kustomize/**/*'
      - 'helm/**/*'
      - 'k8s/**/*'
      - 'KUBERNETES_DEPLOYMENT.md'
      - 'PRODUCTION_DEPLOYMENT.md'

# Authentication/Authorization
auth:
  - changed-files:
    - any-glob-to-any-file:
      - 'auth.py'
      - 'openfga_client.py'
      - 'setup_openfga.py'

# Secrets Management
secrets:
  - changed-files:
    - any-glob-to-any-file:
      - 'secrets_manager.py'
      - 'setup_infisical.py'

# Observability
observability:
  - changed-files:
    - any-glob-to-any-file:
      - 'observability.py'
      - 'health_check.py'
      - 'monitoring/**/*'
      - 'grafana/**/*'

# MCP Server
mcp:
  - changed-files:
    - any-glob-to-any-file:
      - 'mcp_server*.py'
      - 'examples/*client*.py'

# Agent/Core
agent:
  - changed-files:
    - any-glob-to-any-file:
      - 'agent.py'
      - 'graph.py'
      - 'models.py'
      - 'prompt*.py'

# Configuration
config:
  - changed-files:
    - any-glob-to-any-file:
      - 'config.py'
      - '.env*'
      - 'settings.py'
      - '*.yaml'
      - '*.yml'
      - '*.toml'
      - '*.ini'
      - '.editorconfig'

# Security
security:
  - changed-files:
    - any-glob-to-any-file:
      - 'auth.py'
      - 'secrets_manager.py'
      - 'openfga_client.py'
      - 'SECURITY*.md'
      - '.github/workflows/security-scan.yaml'
      - 'scripts/validate_production.py'

# Community
community:
  - changed-files:
    - any-glob-to-any-file:
      - 'CODE_OF_CONDUCT.md'
      - 'CONTRIBUTING.md'
      - 'DEVELOPMENT.md'
      - '.github/SUPPORT.md'
      - '.github/FUNDING.yml'
      - '.github/ISSUE_TEMPLATE/**/*'
      - '.github/PULL_REQUEST_TEMPLATE.md'
