Repository vishnu2kmohan/mcp-server-langgraph, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, tests, ci-cd, dependencies, docker, deployment, auth, secrets, observability, mcp, agent, config, security, community

.github/labeler.yml:

# Auto-labeler configuration for PRs
# Uses changed-files pattern matching

# Documentation
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'
      - '**/*.mdx'
      - 'docs/**/*'
      - 'mint.json'
      - '.mcp/*.json'

# Tests
tests:
  - changed-files:
    - any-glob-to-any-file:
      - 'tests/**/*'
      - '**/*test*.py'
      - 'test_*.py'
      - '*_test.py'
      - 'pytest.ini'
      - 'conftest.py'
      - 'TESTING.md'

# CI/CD
ci-cd:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**/*'
      - '.github/actions/**/*'
      - '.gitlab-ci.yml'
      - 'Makefile'
      - '.pre-commit-config.yaml'

# Dependencies
dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'requirements*.txt'
      - 'setup.py'
      - 'pyproject.toml'
      - 'poetry.lock'
      - 'package*.json'
      - 'yarn.lock'

# Docker
docker:
  - changed-files:
    - any-glob-to-any-file:
      - 'Dockerfile*'
      - 'docker-compose*.yml'
      - '.dockerignore'

# Kubernetes/Deployment
deployment:
  - changed-files:
    - any-glob-to-any-file:
      - 'kubernetes/**/*'
      - 'kustomize/**/*'
      - 'helm/**/*'
      - 'k8s/**/*'
      - 'KUBERNETES_DEPLOYMENT.md'
      - 'PRODUCTION_DEPLOYMENT.md'

# Authentication/Authorization
auth:
  - changed-files:
    - any-glob-to-any-file:
      - 'auth.py'
      - 'openfga_client.py'
      - 'setup_openfga.py'

# Secrets Management
secrets:
  - changed-files:
    - any-glob-to-any-file:
      - 'secrets_manager.py'
      - 'setup_infisical.py'

# Observability
observability:
  - changed-files:
    - any-glob-to-any-file:
      - 'observability.py'
      - 'health_check.py'
      - 'monitoring/**/*'
      - 'grafana/**/*'

# MCP Server
mcp:
  - changed-files:
    - any-glob-to-any-file:
      - 'mcp_server*.py'
      - 'examples/*client*.py'

# Agent/Core
agent:
  - changed-files:
    - any-glob-to-any-file:
      - 'agent.py'
      - 'graph.py'
      - 'models.py'
      - 'prompt*.py'

# Configuration
config:
  - changed-files:
    - any-glob-to-any-file:
      - 'config.py'
      - '.env*'
      - 'settings.py'
      - '*.yaml'
      - '*.yml'
      - '*.toml'
      - '*.ini'
      - '.editorconfig'

# Security
security:
  - changed-files:
    - any-glob-to-any-file:
      - 'auth.py'
      - 'secrets_manager.py'
      - 'openfga_client.py'
      - 'SECURITY*.md'
      - '.github/workflows/security-scan.yaml'
      - 'scripts/validate_production.py'

# Community
community:
  - changed-files:
    - any-glob-to-any-file:
      - 'CODE_OF_CONDUCT.md'
      - 'CONTRIBUTING.md'
      - 'DEVELOPMENT.md'
      - '.github/SUPPORT.md'
      - '.github/FUNDING.yml'
      - '.github/ISSUE_TEMPLATE/**/*'
      - '.github/PULL_REQUEST_TEMPLATE.md'

add Benchmark (pytest) benchmark result for 78cad211c764e966b33188f0ab60530172e80195
  dev/bench/data.js
Labels: none

feat(ci/cd): achieve Level 5 Elite CI/CD maturity with DORA metrics, performance regression detection, and observability
  .github/workflows/dora-metrics.yaml
  .github/workflows/observability-alerts.yaml
  .github/workflows/performance-regression.yaml
  scripts/ci/dora_metrics.py
  scripts/ci/performance_regression.py
  tests/ci/test_dora_metrics.py
  tests/ci/test_performance_regression.py
Labels: tests, ci-cd

add Benchmark (pytest) benchmark result for b7f58f39290e90055bc08d4c606a43952f36e707
  dev/bench/data.js
Labels: none

docs(ci/cd): add comprehensive Elite CI/CD documentation and baselines
  .dora-metrics/metrics.json
  .github/workflows/bump-deployment-versions.yaml
  .github/workflows/ci.yaml
  .github/workflows/cost-tracking.yaml
  .github/workflows/coverage-trend.yaml
  .github/workflows/deploy-production-gke.yaml
  .github/workflows/deploy-staging-gke.yaml
  .github/workflows/link-checker.yaml
  .github/workflows/quality-tests.yaml
  .github/workflows/release.yaml
  .gitignore
  .perf-baseline/baseline.json
  docs/ci-cd/ELITE_FEATURES.md
  docs/ci-cd/README.md
Labels: documentation, ci-cd

add Benchmark (pytest) benchmark result for 53b6ce4d2eaffe78a41af5465238039999cec185
  dev/bench/data.js
Labels: none

feat(architecture): implement dependency injection container pattern and improve developer onboarding
  Makefile
  README.md
  docker-compose.minimal.yml
  docs/ci-cd/badges.md
  docs/day-1-developer.md
  src/mcp_server_langgraph/core/container.py
  src/mcp_server_langgraph/core/test_helpers.py
  tests/conftest.py
  tests/core/test_container.py
  tests/core/test_test_helpers.py
Labels: documentation, tests, ci-cd, docker, config

add Benchmark (pytest) benchmark result for 5015e36f6b5c6d9469edd591dcf2f0adb46e2b8b
  dev/bench/data.js
Labels: none

fix(terraform): comprehensive infrastructure remediation per OpenAI Codex analysis
  .gitignore
  terraform/backend-configs/README.md
  terraform/backend-configs/aws-dev.s3.tfbackend.example
  terraform/backend-configs/aws-staging.s3.tfbackend.example
  terraform/backend-configs/gcp-dev.gcs.tfbackend.example
  terraform/backend-configs/gcp-prod.gcs.tfbackend.example
  terraform/backend-configs/gcp-staging.gcs.tfbackend.example
  terraform/backend-configs/prod.s3.tfbackend.example
  terraform/environments/aws-dev/main.tf
  terraform/environments/aws-staging/main.tf
  terraform/environments/gcp-dev/main.tf
  terraform/environments/gcp-prod/main.tf
  terraform/environments/gcp-staging/main.tf
  terraform/environments/prod/main.tf
  terraform/modules/gke-autopilot/main.tf
  terraform/modules/gke-autopilot/variables.tf
Labels: documentation

feat(agent): implement dependency injection for agent creation (Phase 3)
  docs/MIGRATION_GUIDE.md
  src/mcp_server_langgraph/core/agent.py
  src/mcp_server_langgraph/core/test_helpers.py
  tests/core/test_agent_di.py
Labels: documentation, tests

add Benchmark (pytest) benchmark result for 1d696770fb67b2a4a9c9ba5f496e8b44a05176db
  dev/bench/data.js
Labels: none

add Benchmark (pytest) benchmark result for 74961106415e9224982653b5d697507649962c87
  dev/bench/data.js
Labels: none

feat(infrastructure): extract infrastructure layer with FastAPI app factory (Phase 4)
  docs/architecture/infrastructure-layer.md
  src/mcp_server_langgraph/infrastructure/__init__.py
  src/mcp_server_langgraph/infrastructure/app_factory.py
  src/mcp_server_langgraph/infrastructure/middleware.py
  src/mcp_server_langgraph/infrastructure/transport_adapters.py
  tests/infrastructure/__init__.py
  tests/infrastructure/test_app_factory.py
Labels: documentation, tests

docs: add comprehensive Codex validation summary report
  docs/CODEX_VALIDATION_SUMMARY.md
Labels: documentation

add Benchmark (pytest) benchmark result for a5eeb4e084bb7f84cb4236a3b03963185b6c7467
  dev/bench/data.js
Labels: none

fix(docker): improve docker-compose configuration and remove hardcoded container names
  docker/.dockerignore
  docker/Dockerfile
  docker/docker-compose.dev.yml
  docker/docker-compose.test.yml
  docker/docker-compose.yml
Labels: none

docs: update validation summary with final test results and commit history
  docs/CODEX_VALIDATION_SUMMARY.md
Labels: documentation

chore(docs): remove obsolete documentation files
  docs/API_COMPLIANCE_REPORT.md
  docs/ci-cd-troubleshooting.md
  docs/deployment/gcp-configuration.md
  docs/deployment/iam-rbac-requirements.md
Labels: documentation

add Benchmark (pytest) benchmark result for 2f7be9e96098fb6731af18478d4d5cba404a36fc
  dev/bench/data.js
Labels: none

fix(docker): remove deprecated version field from test compose file
  docker/docker-compose.test.yml
Labels: none

docs: reorganize documentation structure and archive outdated files
  .github/workflows/ci.yaml
  .github/workflows/e2e-tests.yaml
  .github/workflows/quality-tests.yaml
  docs/archive/CODEX_VALIDATION_SUMMARY.md
  docs/archive/IMPLEMENTATION_SUMMARY.md
  docs/archive/OPENAPI_IMPLEMENTATION_SUMMARY.md
  docs/archive/PHASE-3-IMPLEMENTATION-COMPLETE.md
  docs/archive/PHASE-4-CODE-IMPORT-COMPLETE.md
  docs/archive/gcp-setup-summary.md
  docs/archive/gcp-troubleshooting-resolved.md
  docs/ci-cd/local-testing.mdx
  docs/ci-cd/overview.mdx
  docs/getting-started/day-1-developer.mdx
Labels: documentation, ci-cd

chore(ci): upgrade GitHub Actions to latest versions
  .github/workflows/ci.yaml
  .github/workflows/coverage-trend.yaml
  .github/workflows/dora-metrics.yaml
  .github/workflows/performance-regression.yaml
  .github/workflows/release.yaml
Labels: ci-cd

feat(testing): add Docker Compose smoke tests and complete Codex remediation
  .github/workflows/ci.yaml
  docs/api-reference/sdk-quickstart.mdx
  docs/ci-cd/elite-features.mdx
  docs/deployment/advanced/api-gateway.mdx
  docs/deployment/kubernetes/multi-cloud-lessons.mdx
  docs/deployment/operations/issue-prevention.mdx
  docs/guides/container-migration.mdx
  docs/security/remediation-guide.mdx
  scripts/smoke-test-compose.sh
Labels: documentation, ci-cd

docs: update Mintlify navigation for reorganized documentation
  docs/docs.json
  reports/CODEX_VALIDATION_GITHUB_ACTIONS.md
Labels: documentation

add Benchmark (pytest) benchmark result for adfd82664ec79cc0a62a972a1121e7a2f342ea06
  dev/bench/data.js
Labels: none

add Benchmark (pytest) benchmark result for 618f9d0de240d001f88c9bbc1ded754954a66e95
  dev/bench/data.js
Labels: none

docs: comprehensive validation and cleanup per OpenAI Codex analysis
  docs/.mintlify/AUTHORING_GUIDE.md
  docs/architecture/infrastructure-layer.md
  docs/archive/CODEX_VALIDATION_SUMMARY.md
  docs/archive/IMPLEMENTATION_SUMMARY.md
  docs/archive/OPENAPI_IMPLEMENTATION_SUMMARY.md
  docs/archive/PHASE-3-IMPLEMENTATION-COMPLETE.md
  docs/archive/PHASE-4-CODE-IMPORT-COMPLETE.md
  docs/archive/gcp-setup-summary.md
  docs/archive/gcp-troubleshooting-resolved.md
  docs/ci-cd/elite-features.mdx
  docs/ci-cd/overview.mdx
  docs/getting-started/day-1-developer.mdx
Labels: documentation

fix(ci/cd): comprehensive CI/CD failure remediation (52.5% → <5%)
  .github/workflows/dora-metrics.yaml
  .github/workflows/e2e-tests.yaml
  .github/workflows/observability-alerts.yaml
  scripts/gcp/setup-workload-identity.sh
  terraform/environments/gcp-staging/main.tf
  terraform/environments/gcp-staging/outputs.tf
  terraform/environments/gcp-staging/variables.tf
  terraform/modules/github-actions-wif/README.md
  terraform/modules/github-actions-wif/main.tf
  terraform/modules/github-actions-wif/outputs.tf
  terraform/modules/github-actions-wif/variables.tf
  terraform/modules/github-actions-wif/versions.tf
Labels: documentation, ci-cd

fix(ci/cd): terraform module fixes and documentation link repairs
  .github/WORKFLOW_AUDIT_REMAINING.md
  .github/WORKFLOW_TESTING_CHECKLIST.md
  terraform/environments/gcp-staging/terraform.tfvars
  terraform/modules/github-actions-wif/main.tf
Labels: documentation

feat(infra): complete GCP WIF deployment and GitHub secrets configuration
  terraform/environments/gcp-staging-wif-only/.gitignore
  terraform/environments/gcp-staging-wif-only/README.md
  terraform/environments/gcp-staging-wif-only/main.tf
  terraform/environments/gcp-staging-wif-only/outputs.tf
  terraform/environments/gcp-staging-wif-only/terraform.tfvars
  terraform/environments/gcp-staging-wif-only/variables.tf
Labels: documentation

fix(terraform): correct IAM binding format in GitHub Actions WIF module
  terraform/modules/github-actions-wif/main.tf
Labels: none

add Benchmark (pytest) benchmark result for b4b0a6d87c69b43f870b57ee739246ffda9f1939
  dev/bench/data.js
Labels: none

fix(ci/cd): add concurrency controls and timeout to prevent workflow queue overflow
  .github/workflows/coverage-trend.yaml
  .github/workflows/dependabot-automerge.yaml
  .github/workflows/gcp-drift-detection.yaml
  .github/workflows/optional-deps-test.yaml
  .github/workflows/track-skipped-tests.yaml
Labels: ci-cd

add Benchmark (pytest) benchmark result for c37b2674baf7cc405062150852a444bfe07ca291
  dev/bench/data.js
Labels: none

docs(ci/cd): add workflow analysis and auto-deploy toggle documentation
  .github/workflows/ci.yaml
  .github/workflows/deploy-staging-gke.yaml
  docs/deployment/platform/ci-cd.mdx
  workflow-analysis.md
Labels: documentation, ci-cd

add Benchmark (pytest) benchmark result for 7b736a6cf52c3cb85ab587b7ac9d519366cd4f20
  dev/bench/data.js
Labels: none

fix(ci/cd): comprehensive workflow reliability improvements
  .github/workflows/release.yaml
  .gitignore
  terraform/environments/gcp-staging-wif-only/backend-config.tfbackend.example
  terraform/environments/gcp-staging-wif-only/main.tf
  terraform/environments/gcp-staging-wif-only/outputs.tf
Labels: ci-cd

feat(ci/cd): optimize workflow triggers + fix service principal endpoint tests
  .github/workflows/link-checker.yaml
  .github/workflows/optional-deps-test.yaml
  tests/api/test_service_principals_endpoints.py
Labels: tests, ci-cd

add Benchmark (pytest) benchmark result for e30f4285f4841d9e7bca308bafa5b076f7735112
  dev/bench/data.js
Labels: none

add Benchmark (pytest) benchmark result for 768700080aff77b52e49fdcafb1309a80065d714
  dev/bench/data.js
Labels: none

fix(tests): fix 12 additional test failures following TDD best practices
  src/mcp_server_langgraph/core/agent.py
  src/mcp_server_langgraph/llm/factory.py
  src/mcp_server_langgraph/tools/filesystem_tools.py
  tests/test_response_optimizer.py
Labels: tests
