Repository vishnu2kmohan/mcp-server-langgraph, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, tests, ci-cd, dependencies, docker, deployment, auth, secrets, observability, mcp, agent, config, security, community

add Benchmark (pytest) benchmark result for 0dd62774b614d433c0a0672ee3446d9ba407f6cf
  dev/bench/data.js
Labels: none

fix(ci): set VERTEX_LOCATION for Claude models region
  .github/workflows/integration-tests.yaml
Labels: ci-cd

add Benchmark (pytest) benchmark result for 027eab0afce5ca6b47f10429e6a69bf462466648
  dev/bench/data.js
Labels: none

fix(tests): use global region for multi-region Vertex AI tests
  tests/integration/test_vertex_ai_anthropic.py
  tests/integration/test_vertex_ai_google.py
Labels: tests

add Benchmark (pytest) benchmark result for 797cbcf897745299cb344851e63bf19586829b9e
  dev/bench/data.js
Labels: none

fix(ci): resolve Vertex AI region and telemetry workflow issues
  .github/workflows/gh-pages-telemetry.yaml
  .github/workflows/integration-tests.yaml
  pyproject.toml
  tests/integration/test_vertex_ai_google.py
  uv.lock
Labels: tests, ci-cd, dependencies, config

fix(ci): telemetry workflow artifact and dependency fixes
  .github/workflows/gh-pages-telemetry.yaml
  tests/regression/test_dev_dependencies.py
Labels: tests, ci-cd

fix(ci): use correct env vars for Gemini tests + block pip install
  .github/workflows/validate-deployments.yaml
  tests/integration/test_vertex_ai_google.py
Labels: tests, ci-cd

add Benchmark (pytest) benchmark result for 35e5e28c86b58f664b6407d046b67c3684869a6d
  dev/bench/data.js
Labels: none

fix(tests): wrap skipif env var check with bool() to prevent syntax error
  tests/integration/test_vertex_ai_auth_methods.py
Labels: tests

add Benchmark (pytest) benchmark result for ca8d8bea55771a6d1b8a27eef95927797a63a934
  dev/bench/data.js
Labels: none

fix(ci): fix dashboard test counts and add comprehensive breakdown
  .github/workflows/gh-pages-telemetry.yaml
Labels: ci-cd

fix(tests): use correct regions for Claude and Gemini on Vertex AI
  tests/integration/test_vertex_ai_auth_methods.py
Labels: tests

add Benchmark (pytest) benchmark result for 4c322087a990bbfa1be7b8ff7634665e856b0f93
  dev/bench/data.js
Labels: none

add Benchmark (pytest) benchmark result for 806bfe3f2e7be127ab7ce2cb403706a4b3fe4c03
  dev/bench/data.js
Labels: none

docs: fix documentation audit issues
  .github/SECURITY.md
  CODE_OF_CONDUCT.md
  docs/architecture/adr-0066-helm-chart-security-risk-acceptance.mdx
Labels: documentation, community

fix(scripts): make test_python_versions.sh bash 3.x compatible
  scripts/test_python_versions.sh
Labels: none

add Benchmark (pytest) benchmark result for 951c26a478f38d122fa2a24df45bd78758907553
  dev/bench/data.js
Labels: none

add Benchmark (pytest) benchmark result for 894fd926a37649a2f8430ac5476ed0a98b155f96
  dev/bench/data.js
Labels: none

feat(resilience): add exponential backoff with jitter for 529 overload errors
  src/mcp_server_langgraph/core/exceptions.py
  src/mcp_server_langgraph/llm/factory.py
  src/mcp_server_langgraph/resilience/config.py
  src/mcp_server_langgraph/resilience/retry.py
  tests/integration/test_vertex_ai_anthropic.py
  tests/integration/test_vertex_ai_auth_methods.py
  tests/integration/test_vertex_ai_google.py
  tests/unit/resilience/test_retry_overload.py
Labels: tests

add Benchmark (pytest) benchmark result for 816175ddf240dc58839294faeeb05be4d351a220
  dev/bench/data.js
Labels: none

fix(tests): update slash command tests to handle YAML frontmatter
  tests/meta/test_slash_commands.py
Labels: tests

add Benchmark (pytest) benchmark result for d31ded8111324ae4d5c0049b814c3061a8cbf8e9
  dev/bench/data.js
Labels: none

fix(cache): only pass ssl param to Redis when SSL is enabled
  src/mcp_server_langgraph/core/cache.py
Labels: none

add Benchmark (pytest) benchmark result for 45814bbe57ae2e41d51d3ade194b4cdf2d00a8a8
  dev/bench/data.js
Labels: none

fix(ci): allow .example template files in gitignore test + robust xfailed handling
  .github/workflows/gh-pages-telemetry.yaml
  tests/meta/test_claude_code_configuration.py
  tests/meta/validation/test_gitignore_validation.py
Labels: tests, ci-cd

add Benchmark (pytest) benchmark result for 20b5666a00a8620a6a7db546fbb7cdafc683a950
  dev/bench/data.js
Labels: none

fix(ci): fix xfailed display by reordering sed replacements
  .github/workflows/gh-pages-telemetry.yaml
Labels: ci-cd

add Benchmark (pytest) benchmark result for 1d3f782d5b2592c06d537387944e508b9b509855
  dev/bench/data.js
Labels: none

fix(deploy): resolve Keycloak CrashLoopBackOff + CD pipeline bugs
  .github/workflows/build-keycloak-image.yaml
  .github/workflows/deploy-staging-gke.yaml
  deployments/overlays/production-gke/keycloak-patch.yaml
  deployments/overlays/production-gke/kustomization.yaml
  deployments/overlays/staging-gke/deployment-patch.yaml
  deployments/overlays/staging-gke/hpa-patch.yaml
  deployments/overlays/staging-gke/keycloak-patch.yaml
  deployments/overlays/staging-gke/kustomization.yaml
  deployments/overlays/staging-gke/openfga-liveness-probe-patch.yaml
  deployments/overlays/staging-gke/otel-collector-liveness-probe-patch.yaml
  deployments/overlays/staging-gke/pod-disruption-budget.yaml
  deployments/overlays/staging-gke/qdrant-liveness-probe-patch.yaml
  deployments/overlays/staging-gke/resource-quotas.yaml
  docker/Dockerfile.infisical-builder
  docker/Dockerfile.keycloak
  pyproject.toml
  tests/ci/test_staging_deployment_workflow.py
  tests/deployment/test_staging_deployment_requirements.py
  tests/docker/__init__.py
  tests/docker/test_keycloak_dockerfile.py
  tests/meta/validation/test_kubernetes_security.py
Labels: tests, ci-cd, dependencies, config

fix(ci): add Helm setup + disable cache-to for PR builds
  .github/workflows/ci.yaml
Labels: ci-cd

fix(tests): update Keycloak tests for optimized image + fix Helm deps
  tests/deployment/test_helm_templates.py
  tests/integration/deployment/test_keycloak_readonly_filesystem.py
Labels: tests

fix(ci): add strict error handling for Helm dependency build
  .github/workflows/ci.yaml
Labels: ci-cd

fix(tests): use module-scoped fixture for Helm deps + improve error handling
  tests/deployment/test_helm_templates.py
Labels: tests

fix(tests): recategorize Helm tests as deployment (not unit)
  .github/workflows/ci.yaml
  tests/integration/deployment/test_helm_templates.py
Labels: tests, ci-cd

fix(tests): correct REPO_ROOT path calculation after file relocation
  tests/integration/deployment/test_helm_templates.py
Labels: tests

feat(tests): add get_repo_root() for robust path resolution
  scripts/validators/validate_repo_root_calculations.py
  tests/helpers/__init__.py
  tests/helpers/path_helpers.py
  tests/integration/deployment/test_helm_templates.py
  tests/meta/test_path_helpers.py
Labels: tests

refactor(tests): migrate 30 files to use get_repo_root()
  tests/deployment/test_codex_findings_validation.py
  tests/deployment/test_configmap_secret_validation.py
  tests/deployment/test_kustomize_build.py
  tests/deployment/test_kustomize_builds.py
  tests/deployment/test_network_policies.py
  tests/deployment/test_placeholder_validation.py
  tests/deployment/test_service_accounts.py
  tests/deployment/test_service_dependencies.py
  tests/deployment/test_serviceaccount_naming_regression.py
  tests/infrastructure_helpers.py
  tests/integration/deployment/test_dns_failover_verification.py
  tests/integration/test_docker_health_checks.py
  tests/kubernetes/test_critical_deployment_issues.py
  tests/kubernetes/test_external_secrets.py
  tests/kubernetes/test_gke_labels.py
  tests/kubernetes/test_high_priority_improvements.py
  tests/kubernetes/test_kube_score_compliance.py
  tests/kubernetes/test_kustomize_staging_gke.py
  tests/kubernetes/test_serviceaccount_annotations.py
  tests/meta/infrastructure/test_gcp_infrastructure_validation.py
  tests/meta/test_alembic_schema_parity.py
  tests/meta/test_codex_regression_prevention.py
  tests/meta/test_consolidated_workflow_validator.py
  tests/meta/test_context_manager_quality.py
  tests/meta/test_documentation_validation.py
  tests/meta/test_kubectl_safety.py
  tests/meta/test_precommit_keycloak_validation.py
  tests/meta/test_property_test_quality.py
  tests/regression/test_documentation_structure.py
  tests/terraform/test_no_placeholders.py
Labels: tests

fix(ci): exclude deployment tests from integration-tests.yaml
  .github/workflows/integration-tests.yaml
Labels: ci-cd

add Benchmark (pytest) benchmark result for 56867534e30eb5f71764374a798911f7ba360e56
  dev/bench/data.js
Labels: none

.github/labeler.yml:

# Auto-labeler configuration for PRs
# Uses changed-files pattern matching

# Documentation
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'
      - '**/*.mdx'
      - 'docs/**/*'
      - 'mint.json'
      - '.mcp/*.json'

# Tests
tests:
  - changed-files:
    - any-glob-to-any-file:
      - 'tests/**/*'
      - '**/*test*.py'
      - 'test_*.py'
      - '*_test.py'
      - 'pytest.ini'
      - 'conftest.py'
      - 'TESTING.md'

# CI/CD
ci-cd:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**/*'
      - '.github/actions/**/*'
      - '.gitlab-ci.yml'
      - 'Makefile'
      - '.pre-commit-config.yaml'

# Dependencies
dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'requirements*.txt'
      - 'setup.py'
      - 'pyproject.toml'
      - 'poetry.lock'
      - 'package*.json'
      - 'yarn.lock'

# Docker
docker:
  - changed-files:
    - any-glob-to-any-file:
      - 'Dockerfile*'
      - 'docker-compose*.yml'
      - '.dockerignore'

# Kubernetes/Deployment
deployment:
  - changed-files:
    - any-glob-to-any-file:
      - 'kubernetes/**/*'
      - 'kustomize/**/*'
      - 'helm/**/*'
      - 'k8s/**/*'
      - 'KUBERNETES_DEPLOYMENT.md'
      - 'PRODUCTION_DEPLOYMENT.md'

# Authentication/Authorization
auth:
  - changed-files:
    - any-glob-to-any-file:
      - 'auth.py'
      - 'openfga_client.py'
      - 'setup_openfga.py'

# Secrets Management
secrets:
  - changed-files:
    - any-glob-to-any-file:
      - 'secrets_manager.py'
      - 'setup_infisical.py'

# Observability
observability:
  - changed-files:
    - any-glob-to-any-file:
      - 'observability.py'
      - 'health_check.py'
      - 'monitoring/**/*'
      - 'grafana/**/*'

# MCP Server
mcp:
  - changed-files:
    - any-glob-to-any-file:
      - 'mcp_server*.py'
      - 'examples/*client*.py'

# Agent/Core
agent:
  - changed-files:
    - any-glob-to-any-file:
      - 'agent.py'
      - 'graph.py'
      - 'models.py'
      - 'prompt*.py'

# Configuration
config:
  - changed-files:
    - any-glob-to-any-file:
      - 'config.py'
      - '.env*'
      - 'settings.py'
      - '*.yaml'
      - '*.yml'
      - '*.toml'
      - '*.ini'
      - '.editorconfig'

# Security
security:
  - changed-files:
    - any-glob-to-any-file:
      - 'auth.py'
      - 'secrets_manager.py'
      - 'openfga_client.py'
      - 'SECURITY*.md'
      - '.github/workflows/security-scan.yaml'
      - 'scripts/validate_production.py'

# Community
community:
  - changed-files:
    - any-glob-to-any-file:
      - 'CODE_OF_CONDUCT.md'
      - 'CONTRIBUTING.md'
      - 'DEVELOPMENT.md'
      - '.github/SUPPORT.md'
      - '.github/FUNDING.yml'
      - '.github/ISSUE_TEMPLATE/**/*'
      - '.github/PULL_REQUEST_TEMPLATE.md'
