Repository vishnu2kmohan/mcp-server-langgraph, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, tests, ci-cd, dependencies, docker, deployment, auth, secrets, observability, mcp, agent, config, security, community

.github/labeler.yml:

# Auto-labeler configuration for PRs
# Uses changed-files pattern matching

# Documentation
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'
      - '**/*.mdx'
      - 'docs/**/*'
      - 'mint.json'
      - '.mcp/*.json'

# Tests
tests:
  - changed-files:
    - any-glob-to-any-file:
      - 'tests/**/*'
      - '**/*test*.py'
      - 'test_*.py'
      - '*_test.py'
      - 'pytest.ini'
      - 'conftest.py'
      - 'TESTING.md'

# CI/CD
ci-cd:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**/*'
      - '.github/actions/**/*'
      - '.gitlab-ci.yml'
      - 'Makefile'
      - '.pre-commit-config.yaml'

# Dependencies
dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'requirements*.txt'
      - 'setup.py'
      - 'pyproject.toml'
      - 'poetry.lock'
      - 'package*.json'
      - 'yarn.lock'

# Docker
docker:
  - changed-files:
    - any-glob-to-any-file:
      - 'Dockerfile*'
      - 'docker-compose*.yml'
      - '.dockerignore'

# Kubernetes/Deployment
deployment:
  - changed-files:
    - any-glob-to-any-file:
      - 'kubernetes/**/*'
      - 'kustomize/**/*'
      - 'helm/**/*'
      - 'k8s/**/*'
      - 'KUBERNETES_DEPLOYMENT.md'
      - 'PRODUCTION_DEPLOYMENT.md'

# Authentication/Authorization
auth:
  - changed-files:
    - any-glob-to-any-file:
      - 'auth.py'
      - 'openfga_client.py'
      - 'setup_openfga.py'

# Secrets Management
secrets:
  - changed-files:
    - any-glob-to-any-file:
      - 'secrets_manager.py'
      - 'setup_infisical.py'

# Observability
observability:
  - changed-files:
    - any-glob-to-any-file:
      - 'observability.py'
      - 'health_check.py'
      - 'monitoring/**/*'
      - 'grafana/**/*'

# MCP Server
mcp:
  - changed-files:
    - any-glob-to-any-file:
      - 'mcp_server*.py'
      - 'examples/*client*.py'

# Agent/Core
agent:
  - changed-files:
    - any-glob-to-any-file:
      - 'agent.py'
      - 'graph.py'
      - 'models.py'
      - 'prompt*.py'

# Configuration
config:
  - changed-files:
    - any-glob-to-any-file:
      - 'config.py'
      - '.env*'
      - 'settings.py'
      - '*.yaml'
      - '*.yml'
      - '*.toml'
      - '*.ini'
      - '.editorconfig'

# Security
security:
  - changed-files:
    - any-glob-to-any-file:
      - 'auth.py'
      - 'secrets_manager.py'
      - 'openfga_client.py'
      - 'SECURITY*.md'
      - '.github/workflows/security-scan.yaml'
      - 'scripts/validate_production.py'

# Community
community:
  - changed-files:
    - any-glob-to-any-file:
      - 'CODE_OF_CONDUCT.md'
      - 'CONTRIBUTING.md'
      - 'DEVELOPMENT.md'
      - '.github/SUPPORT.md'
      - '.github/FUNDING.yml'
      - '.github/ISSUE_TEMPLATE/**/*'
      - '.github/PULL_REQUEST_TEMPLATE.md'

refactor(ci-cd): optimize pre-push hooks and standardize build tooling - OpenAI Codex remediation
  .pre-commit-config.yaml
  Makefile
  README.md
  docs-internal/CODEX_FINDINGS_REMEDIATION_REPORT_2025-11-16.md
  scripts/README.md
  scripts/SCRIPT_INVENTORY.md
Labels: documentation, ci-cd, config

refactor(validators): comprehensive validator consolidation (Phase 1)
  .github/CONTRIBUTING.md
  .pre-commit-config.yaml
  docs-internal/DUPLICATE_VALIDATOR_ANALYSIS_2025-11-16.md
  docs-internal/VALIDATOR_CONSOLIDATION_PLAN_2025-11-17.md
  tests/meta/test_pytest_config_validation.py
  tests/test_documentation_integrity.py
Labels: documentation, tests, ci-cd, config

refactor(validators): consolidate GitHub workflow validators (Phase 2)
  .pre-commit-config.yaml
  docs-internal/DUPLICATE_VALIDATOR_ANALYSIS_2025-11-16.md
  scripts/validators/validate_github_workflows_comprehensive.py
  tests/meta/test_consolidated_workflow_validator.py
Labels: documentation, tests, ci-cd, config

docs(validation): complete validator consolidation and Codex remediation documentation
  docs-internal/CODEX_FINDINGS_REMEDIATION_REPORT_2025-11-16.md
  docs-internal/DUPLICATE_VALIDATOR_ANALYSIS_2025-11-16.md
Labels: documentation

fix(tests): optimize coverage enforcement test to skip when .coverage missing
  tests/meta/test_coverage_enforcement.py
Labels: tests

fix(scripts): resolve critical ShellCheck errors in shell scripts
  scripts/aws/setup-staging-infrastructure.sh
  scripts/pre-commit-mdx-lint.sh
  scripts/switch-log-exporter.sh
Labels: none

fix(ci): skip Helm charts directory in Trivy security scan to prevent file-not-found errors
  .pre-commit-config.yaml
Labels: ci-cd, config

fix(ci): fix actionlint workflow validation glob pattern expansion
  .pre-commit-config.yaml
Labels: ci-cd, config

fix(ci): update dependency injection validation to use correct test file paths
  .githooks/pre-commit-dependency-validation
  .pre-commit-config.yaml
Labels: ci-cd, config

fix(tests): resolve hardcoded test ID validation false positives and fix violations
  scripts/validate_test_ids.py
  tests/integration/api/test_service_principals_security.py
  tests/integration/security/test_authorization_fallback_controls.py
  tests/integration/test_data_deletion.py
  tests/integration/test_fixture_cleanup.py
  tests/integration/test_gdpr_endpoints.py
  tests/integration/test_keycloak_admin.py
  tests/integration/test_mcp_startup_validation.py
  tests/integration/test_mcp_streamable.py
  tests/integration/test_postgres_storage.py
  tests/meta/test_id_pollution_prevention.py
  tests/unit/test_input_validation.py
  tests/unit/test_security_logging.py
Labels: tests

fix(tests): eliminate false positives in test validation scripts
  scripts/check_async_mock_configuration.py
  scripts/check_async_mock_usage.py
  scripts/check_test_memory_safety.py
  scripts/check_test_sleep_budget.py
  scripts/check_test_sleep_duration.py
  scripts/validate_test_time_bombs.py
  tests/test_cleanup_scheduler.py
Labels: tests

fix(tests): eliminate false positives in test validation scripts (#99)
  scripts/check_async_mock_configuration.py
  scripts/check_async_mock_usage.py
  scripts/check_test_memory_safety.py
  scripts/check_test_sleep_budget.py
  scripts/check_test_sleep_duration.py
  scripts/validate_test_time_bombs.py
  tests/test_cleanup_scheduler.py
Labels: tests

docs: enhance frontmatter validation and ensure all MDX files have complete metadata
  .claude/commands/docs-audit.md
  docs/.mintlify/BROKEN_LINKS_REPORT.md
  docs/api-reference/api-keys.mdx
  docs/api-reference/scim-provisioning.mdx
  docs/api-reference/sdk-quickstart.mdx
  docs/api-reference/service-principals.mdx
  docs/architecture/adr-0050-dependency-singleton-pattern-justification.mdx
  docs/architecture/adr-0051-memorystore-redis-externalname-service.mdx
  docs/architecture/adr-0052-pytest-xdist-isolation-strategy.mdx
  docs/architecture/adr-0053-ci-cd-failure-prevention-framework.mdx
  docs/architecture/adr-0054-pod-failure-prevention-framework.mdx
  docs/architecture/adr-0058-pytest-xdist-state-pollution-prevention.mdx
  docs/ci-cd/elite-features.mdx
  docs/ci-cd/local-testing.mdx
  docs/ci-cd/overview.mdx
  docs/comparisons/tco-calculator.mdx
  docs/deployment/advanced/api-gateway.mdx
  docs/deployment/gke-autopilot-resource-constraints.mdx
  docs/deployment/kubernetes/multi-cloud-lessons.mdx
  docs/deployment/operations/issue-prevention.mdx
  docs/getting-started/day-1-developer.mdx
  docs/guides/container-migration.mdx
  docs/kubernetes/CONFIGMAP_BEST_PRACTICES.mdx
  docs/kubernetes/KEYCLOAK_READONLY_FILESYSTEM.mdx
  docs/kubernetes/POD_CRASH_RESOLUTION_2025-11-12.mdx
  docs/security/TRY_EXCEPT_PASS_ANALYSIS.mdx
  docs/security/remediation-guide.mdx
  docs/workflows/SECRETS.mdx
  scripts/add_missing_frontmatter.py
  scripts/validators/frontmatter_validator.py
Labels: documentation

fix(tests): eliminate litellm async cleanup warnings via atexit monkey-patch
  tests/conftest.py
  tests/regression/test_litellm_cleanup_warnings.py
Labels: tests

fix(tests): eliminate litellm async cleanup warnings via atexit monkey-patch
  tests/conftest.py
  tests/regression/test_litellm_cleanup_warnings.py
Labels: tests

fix: resolve Codex findings - P0/P1 critical infrastructure and type safety issues
  deployments/base/deployment.yaml
  deployments/helm/mcp-server-langgraph/values.yaml
  deployments/overlays/production-gke/deployment-patch.yaml
  scripts/validate_test_ids.py
  src/mcp_server_langgraph/cli/__init__.py
  src/mcp_server_langgraph/core/agent.py
  src/mcp_server_langgraph/presets/quickstart.py
  tests/integration/contract/mcp_schemas.json
  tests/meta/test_codex_findings_validation.py
  tests/meta/test_codex_validations.py
  tests/meta/test_consolidated_workflow_validator.py
  tests/meta/test_docker_environment.py
  tests/meta/test_mcp_skip_auth_enforcement.py
  tests/meta/test_path_helpers.py
  tests/meta/test_precommit_keycloak_validation.py
  tests/unit/test_mcp_server_settings_injection.py
  tests/unit/test_user_provider_verify_password.py
Labels: tests

fix(tests): update test expectations for worker-safe IDs and regression validation
  tests/meta/test_infrastructure_singleton.py
  tests/unit/test_security_logging.py
Labels: tests

fix(tests): add memory safety teardown_method to xdist_group test suites
  tests/helpers/test_async_mock_helpers.py
  tests/integration/security/test_gdpr_schema_setup.py
  tests/integration/test_mcp_test_user_registration.py
  tests/unit/documentation/test_todo_audit.py
Labels: tests

fix(tests): update pre-push hook test fixtures to handle git worktrees
  tests/meta/test_hook_sync_validation.py
  tests/meta/test_local_ci_parity.py
  tests/meta/test_makefile_prepush_parity.py
Labels: tests

docs(infrastructure): add comprehensive Docker health check patterns guide
  docs/infrastructure/DOCKER_HEALTHCHECK_PATTERNS.mdx
Labels: documentation

fix(tests): resolve all integration test failures from Codex analysis
  docker-compose.test.yml
  pyproject.toml
  tests/integration/compliance/test_postgres_audit_log_store.py
  tests/integration/compliance/test_postgres_consent_store.py
  tests/integration/compliance/test_postgres_conversation_store.py
  tests/integration/compliance/test_postgres_preferences_store.py
  tests/integration/compliance/test_postgres_user_profile_store.py
  tests/integration/security/test_gdpr_schema_setup.py
  tests/integration/test_agentic_loop_integration.py
  tests/integration/test_docker_health_checks.py
  tests/integration/test_mcp_streamable.py
  tests/integration/test_workflow_health_dashboard.py
  tests/unit/test_cache_redis_config.py
  tests/unit/test_dependencies_wiring.py
  uv.lock
Labels: tests, dependencies, docker, config

fix: resolve OpenAI Codex findings - comprehensive test infrastructure improvements (#102)
  deployments/base/deployment.yaml
  deployments/helm/mcp-server-langgraph/values.yaml
  deployments/overlays/production-gke/deployment-patch.yaml
  docs/infrastructure/DOCKER_HEALTHCHECK_PATTERNS.mdx
  scripts/validate_test_ids.py
  src/mcp_server_langgraph/cli/__init__.py
  src/mcp_server_langgraph/core/agent.py
  src/mcp_server_langgraph/presets/quickstart.py
  tests/helpers/test_async_mock_helpers.py
  tests/integration/contract/mcp_schemas.json
  tests/integration/security/test_gdpr_schema_setup.py
  tests/integration/test_mcp_test_user_registration.py
  tests/meta/test_codex_findings_validation.py
  tests/meta/test_codex_validations.py
  tests/meta/test_consolidated_workflow_validator.py
  tests/meta/test_docker_environment.py
  tests/meta/test_hook_sync_validation.py
  tests/meta/test_infrastructure_singleton.py
  tests/meta/test_local_ci_parity.py
  tests/meta/test_makefile_prepush_parity.py
  tests/meta/test_mcp_skip_auth_enforcement.py
  tests/meta/test_path_helpers.py
  tests/meta/test_precommit_keycloak_validation.py
  tests/unit/documentation/test_todo_audit.py
  tests/unit/test_mcp_server_settings_injection.py
  tests/unit/test_security_logging.py
  tests/unit/test_user_provider_verify_password.py
Labels: documentation, tests

fix(tests): resolve all integration test failures from Codex analysis (#104)
  docker-compose.test.yml
  pyproject.toml
  tests/integration/compliance/test_postgres_audit_log_store.py
  tests/integration/compliance/test_postgres_consent_store.py
  tests/integration/compliance/test_postgres_conversation_store.py
  tests/integration/compliance/test_postgres_preferences_store.py
  tests/integration/compliance/test_postgres_user_profile_store.py
  tests/integration/security/test_gdpr_schema_setup.py
  tests/integration/test_agentic_loop_integration.py
  tests/integration/test_docker_health_checks.py
  tests/integration/test_mcp_streamable.py
  tests/integration/test_workflow_health_dashboard.py
  tests/unit/test_cache_redis_config.py
  tests/unit/test_dependencies_wiring.py
  uv.lock
Labels: tests, dependencies, docker, config

fix(ci): resolve 7 critical Codex findings for CI/CD parity
  .pre-commit-config.yaml
  CONTRIBUTING.md
  HYPOTHESIS_PROFILES.md
  Makefile
  TESTING.md
  docs/package.json
  pyproject.toml
  scripts/run_pre_push_tests.py
  tests/meta/test_makefile_prepush_parity.py
  tests/meta/test_pre_push_orchestrator.py
  uv.lock
Labels: documentation, tests, ci-cd, dependencies, config, community

fix(ci): resolve PR #101 CI failures
  .pre-commit-config.yaml
  docs/deployment/kubernetes/gke.mdx
  docs/guides/local-models.mdx
  scripts/archive/completed/test_fix_closing_fence_tags.py
Labels: documentation, tests, ci-cd, config

fix(tests): resolve Python 3.10 compatibility and pre-commit validation failures
  pyproject.toml
  tests/meta/test_codex_config_validation.py
  tests/meta/test_pytest_config_validation.py
  tests/regression/test_dev_dependencies.py
  tests/regression/test_precommit_hook_dependencies.py
  uv.lock
Labels: tests, dependencies, config

fix(ci): correct GitHub API repository reference in Track Skipped Tests workflow
  .github/workflows/track-skipped-tests.yaml
Labels: ci-cd

fix(code-quality): remove unused imports flagged by CodeQL
  scripts/run_pre_push_tests.py
  tests/meta/test_pre_push_orchestrator.py
Labels: tests

fix(tests): correct schema validation in test_error_response_format
  tests/integration/contract/test_mcp_contract.py
Labels: tests

docs: fix Mintlify validation errors and complete documentation audit
  docs-templates-mintlify/README.md
  docs-templates-mintlify/adr-template.md
  docs-templates-mintlify/deployment-template.md
  docs-templates-mintlify/guide-template.md
  docs-templates-mintlify/reference-template.md
  docs/.mintlify/templates
  docs/deployment/kubernetes/gke.mdx
  docs/docs.json
  docs/guides/local-models.mdx
  docs/infrastructure/DOCKER_HEALTHCHECK_PATTERNS.mdx
Labels: documentation

fix(tests): resolve 7 contract test failures in MCP protocol compliance
  tests/integration/contract/mcp_schemas.json
  tests/integration/contract/test_mcp_contract.py
Labels: tests

fix(tests): add pytest-xdist isolation markers to unit tests
  tests/unit/test_cache_redis_config.py
  tests/unit/test_dependencies_wiring.py
Labels: tests

fix(ci): resolve contract test coverage threshold and cache conflicts
  .github/actions/setup-python-deps/action.yml
  .github/workflows/quality-tests.yaml
Labels: ci-cd

fix(ci): correct pytest-cov argument for coverage threshold override
  .github/workflows/quality-tests.yaml
Labels: ci-cd

fix(ci): downgrade dependency check to warning, show actual conflicts
  .github/actions/setup-python-deps/action.yml
Labels: ci-cd

fix(ci): add coverage threshold override to property and regression tests
  .github/workflows/quality-tests.yaml
Labels: ci-cd

fix(ci): add coverage threshold override to E2E tests
  .github/workflows/e2e-tests.yaml
Labels: ci-cd

fix(ci): add coverage threshold override to integration tests
  .github/workflows/integration-tests.yaml
Labels: ci-cd

fix(tests): standardize postgres test port to 9432 for consistency
  docker-compose.test.yml
  docs/development/cache-management-strategy.mdx
  docs/development/coverage-threshold-philosophy.mdx
  tests/conftest.py
Labels: documentation, tests, docker, config

fix(docs): resolve MDX syntax and broken link issues (38 fixes)
  docs/deployment/kubernetes/gke.mdx
  docs/development/cache-management-strategy.mdx
  docs/development/coverage-threshold-philosophy.mdx
  docs/guides/local-models.mdx
Labels: documentation
