Repository vishnu2kmohan/mcp-server-langgraph, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, tests, ci-cd, dependencies, docker, deployment, auth, secrets, observability, mcp, agent, config, security, community

.github/labeler.yml:

# Auto-labeler configuration for PRs
# Uses changed-files pattern matching

# Documentation
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'
      - '**/*.mdx'
      - 'docs/**/*'
      - 'mint.json'
      - '.mcp/*.json'

# Tests
tests:
  - changed-files:
    - any-glob-to-any-file:
      - 'tests/**/*'
      - '**/*test*.py'
      - 'test_*.py'
      - '*_test.py'
      - 'pytest.ini'
      - 'conftest.py'
      - 'TESTING.md'

# CI/CD
ci-cd:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**/*'
      - '.github/actions/**/*'
      - '.gitlab-ci.yml'
      - 'Makefile'
      - '.pre-commit-config.yaml'

# Dependencies
dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'requirements*.txt'
      - 'setup.py'
      - 'pyproject.toml'
      - 'poetry.lock'
      - 'package*.json'
      - 'yarn.lock'

# Docker
docker:
  - changed-files:
    - any-glob-to-any-file:
      - 'Dockerfile*'
      - 'docker-compose*.yml'
      - '.dockerignore'

# Kubernetes/Deployment
deployment:
  - changed-files:
    - any-glob-to-any-file:
      - 'kubernetes/**/*'
      - 'kustomize/**/*'
      - 'helm/**/*'
      - 'k8s/**/*'
      - 'KUBERNETES_DEPLOYMENT.md'
      - 'PRODUCTION_DEPLOYMENT.md'

# Authentication/Authorization
auth:
  - changed-files:
    - any-glob-to-any-file:
      - 'auth.py'
      - 'openfga_client.py'
      - 'setup_openfga.py'

# Secrets Management
secrets:
  - changed-files:
    - any-glob-to-any-file:
      - 'secrets_manager.py'
      - 'setup_infisical.py'

# Observability
observability:
  - changed-files:
    - any-glob-to-any-file:
      - 'observability.py'
      - 'health_check.py'
      - 'monitoring/**/*'
      - 'grafana/**/*'

# MCP Server
mcp:
  - changed-files:
    - any-glob-to-any-file:
      - 'mcp_server*.py'
      - 'examples/*client*.py'

# Agent/Core
agent:
  - changed-files:
    - any-glob-to-any-file:
      - 'agent.py'
      - 'graph.py'
      - 'models.py'
      - 'prompt*.py'

# Configuration
config:
  - changed-files:
    - any-glob-to-any-file:
      - 'config.py'
      - '.env*'
      - 'settings.py'
      - '*.yaml'
      - '*.yml'
      - '*.toml'
      - '*.ini'
      - '.editorconfig'

# Security
security:
  - changed-files:
    - any-glob-to-any-file:
      - 'auth.py'
      - 'secrets_manager.py'
      - 'openfga_client.py'
      - 'SECURITY*.md'
      - '.github/workflows/security-scan.yaml'
      - 'scripts/validate_production.py'

# Community
community:
  - changed-files:
    - any-glob-to-any-file:
      - 'CODE_OF_CONDUCT.md'
      - 'CONTRIBUTING.md'
      - 'DEVELOPMENT.md'
      - '.github/SUPPORT.md'
      - '.github/FUNDING.yml'
      - '.github/ISSUE_TEMPLATE/**/*'
      - '.github/PULL_REQUEST_TEMPLATE.md'

chore(mypy): add cloud SDK modules to ignore_missing_imports
  pyproject.toml
Labels: dependencies, config

fix(tests): resolve integration test failure and add /studio routes
  docker-compose.test.yml
  pyproject.toml
  tests/integration/test_conversation_state_persistence.py
Labels: tests, dependencies, docker, config

fix(tests): add xdist markers to test_metrics_api.py
  tests/api/test_metrics_api.py
Labels: tests

feat(api): add studio API router with workflow and suggestion endpoints
  src/mcp_server_langgraph/api/__init__.py
  src/mcp_server_langgraph/api/studio.py
  src/mcp_server_langgraph/app.py
  tests/unit/api/test_studio_routes.py
Labels: tests

fix(tests): add bob and cross-user OpenFGA tuple fixtures
  tests/e2e/conftest.py
Labels: tests

test(e2e): add bob and admin user journey tests
  pyproject.toml
  tests/e2e/test_admin_user_journey.py
  tests/e2e/test_bob_user_journey.py
  tests/e2e/test_cross_user_access.py
Labels: tests, dependencies, config

feat(studio): implement LLM suggestions, embedding similarity, and HEART metrics
  src/mcp_server_langgraph/studio/ai/suggestions.py
  src/mcp_server_langgraph/studio/ai/templates.py
  src/mcp_server_langgraph/studio/performance/__init__.py
Labels: none

fix(tests): use async mock for get_current_user dependency override
  tests/unit/api/test_studio_routes.py
Labels: tests

fix(tests): improve studio routes fixture for xdist isolation
  tests/unit/api/test_studio_routes.py
Labels: tests

fix(tests): add bearer_scheme override for xdist isolation
  tests/unit/api/test_studio_routes.py
Labels: tests

fix(tests): use middleware for auth mocking instead of dependency overrides
  tests/unit/api/test_studio_routes.py
Labels: tests

fix(tests): resolve xdist isolation issues in studio routes and database checks
  tests/unit/api/test_studio_routes.py
  tests/unit/health/test_database_checks.py
Labels: tests

refactor(core): Phase 1 separation of concerns - DRY, ISP, constants extraction
  pyproject.toml
  src/mcp_server_langgraph/authz_proxy/server.py
  src/mcp_server_langgraph/core/constants.py
  src/mcp_server_langgraph/core/container.py
  src/mcp_server_langgraph/core/context_manager.py
  src/mcp_server_langgraph/llm/verifier.py
  src/mcp_server_langgraph/mcp/server_stdio.py
  src/mcp_server_langgraph/mcp/server_streamable.py
  src/mcp_server_langgraph/monitoring/cost_tracker.py
  src/mcp_server_langgraph/tools/search_tools.py
  tests/integration/auth/test_grafana_oauth2.py
  tests/integration/auth/test_qdrant_auth.py
  tests/monitoring/test_cost_tracker.py
  tests/unit/core/test_constants.py
  tests/unit/core/test_container.py
  tests/unit/core/test_context_manager.py
Labels: tests, dependencies, config

refactor(srp): Phase 2 - SRP decomposition and patterns
  pyproject.toml
  src/mcp_server_langgraph/api/router_registry.py
  src/mcp_server_langgraph/auth/authorization.py
  src/mcp_server_langgraph/auth/middleware.py
  src/mcp_server_langgraph/auth/mock_resources.py
  src/mcp_server_langgraph/core/extraction_strategies.py
  src/mcp_server_langgraph/llm/factory.py
  src/mcp_server_langgraph/monitoring/cost_retention.py
  src/mcp_server_langgraph/monitoring/cost_storage.py
  src/mcp_server_langgraph/monitoring/cost_tracker.py
  tests/unit/api/test_router_registry.py
  tests/unit/auth/test_authorization_service.py
  tests/unit/auth/test_mock_resources.py
  tests/unit/core/test_extraction_strategies.py
  tests/unit/llm/test_factory_di.py
  tests/unit/monitoring/test_cost_retention.py
  tests/unit/monitoring/test_cost_storage.py
Labels: tests, dependencies, config

refactor(quality): Phase 3 - LSP, YAGNI, DRY, and OCP improvements
  src/mcp_server_langgraph/auth/resource_registry.py
  src/mcp_server_langgraph/core/container.py
  src/mcp_server_langgraph/llm/factory.py
  tests/integration/core/test_container.py
  tests/unit/auth/test_resource_registry.py
Labels: tests

fix(types): resolve mypy strict type checking errors
  docs/guides/api-migration-guide.mdx
  docs/guides/playground.mdx
  src/mcp_server_langgraph/llm/factory.py
  src/mcp_server_langgraph/monitoring/cost_storage.py
  src/mcp_server_langgraph/monitoring/cost_tracker.py
Labels: documentation

feat(monitoring): add cost_storage_backend config and PostgresCostStorage tests
  src/mcp_server_langgraph/core/config.py
  tests/unit/monitoring/test_postgres_cost_storage.py
Labels: tests

test(frontend): add comprehensive TDD tests for studio frontend
  src/mcp_server_langgraph/studio/frontend/src/App.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/api/index.test.ts
  src/mcp_server_langgraph/studio/frontend/src/pages/AdminDashboardPage.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/pages/ChatPage.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/pages/MCPPage.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/pages/ObservabilityPage.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/pages/SettingsPage.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/router/index.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/store/slices/featureFlagsSlice.test.ts
  src/mcp_server_langgraph/studio/frontend/src/store/slices/uiSlice.test.ts
  src/mcp_server_langgraph/studio/frontend/vitest.config.ts
Labels: none

test(frontend): add comprehensive test coverage and Playwright E2E tests
  src/mcp_server_langgraph/studio/frontend/e2e/admin-journey.spec.ts
  src/mcp_server_langgraph/studio/frontend/e2e/alice-power-user.spec.ts
  src/mcp_server_langgraph/studio/frontend/e2e/bob-standard-user.spec.ts
  src/mcp_server_langgraph/studio/frontend/playwright.config.ts
  src/mcp_server_langgraph/studio/frontend/src/pages/AdminDashboardPage.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/pages/MCPPage.test.tsx
Labels: none

feat(monitoring): complete Phase 2.2 SRP - PostgresCostStorage config and mypy strict
  .env.test
  pyproject.toml
  tests/unit/observability/test_json_logger_additional.py
Labels: tests, dependencies, config

fix(tests): update E2E fixtures to use check_permission API
  tests/e2e/conftest.py
Labels: tests

refactor(llm): consolidate factory functions with ModelType enum (DRY)
  src/mcp_server_langgraph/llm/factory.py
  tests/unit/llm/test_factory_consolidation.py
Labels: tests

feat(studio): add CostPage, streaming chat, and root redirect
  src/mcp_server_langgraph/app.py
  src/mcp_server_langgraph/studio/frontend/src/App.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Chat/SaveAsWorkflowButton.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Chat/SaveAsWorkflowButton.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Layout/Sidebar.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Layout/Sidebar.tsx
  src/mcp_server_langgraph/studio/frontend/src/hooks/useStreamingChat.test.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useStreamingChat.ts
  src/mcp_server_langgraph/studio/frontend/src/pages/ChatPage.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/pages/ChatPage.tsx
  src/mcp_server_langgraph/studio/frontend/src/pages/CostPage.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/pages/CostPage.tsx
  src/mcp_server_langgraph/studio/frontend/src/pages/ObservabilityPage.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/pages/ObservabilityPage.tsx
  src/mcp_server_langgraph/studio/frontend/src/router/index.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/router/index.tsx
  tests/e2e/conftest.py
  tests/integration/auth/test_unified_api_authorization.py
  tests/unit/api/test_root_redirect.py
Labels: tests

chore: apply pre-commit hook fixes to CostPage tests
  src/mcp_server_langgraph/studio/frontend/src/pages/CostPage.test.tsx
Labels: none

feat(studio): add auto-session initialization to ChatPage
  src/mcp_server_langgraph/studio/frontend/src/pages/ChatPage.tsx
Labels: none

fix(studio): improve test reliability and defensive coding
  src/mcp_server_langgraph/studio/frontend/src/components/Chat/SaveAsWorkflowButton.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Chat/SaveAsWorkflowButton.tsx
  src/mcp_server_langgraph/studio/frontend/src/pages/CostPage.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/pages/CostPage.tsx
  src/mcp_server_langgraph/studio/frontend/src/pages/ObservabilityPage.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/pages/ObservabilityPage.tsx
Labels: none

feat(studio): integrate streaming chat into ChatPage (Phase 2 complete)
  src/mcp_server_langgraph/studio/frontend/src/pages/ChatPage.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/pages/ChatPage.tsx
Labels: none

test(integration): add API integration tests for cost, observability, chat
  tests/integration/api/test_chat_api_integration.py
  tests/integration/api/test_cost_api_integration.py
  tests/integration/api/test_observability_api_integration.py
Labels: tests

refactor!: remove deprecated builder module (consolidated into Studio)
  src/mcp_server_langgraph/builder/README.md
  src/mcp_server_langgraph/builder/__init__.py
  src/mcp_server_langgraph/builder/api/__init__.py
  src/mcp_server_langgraph/builder/api/metrics.py
  src/mcp_server_langgraph/builder/api/server.py
  src/mcp_server_langgraph/builder/codegen/__init__.py
  src/mcp_server_langgraph/builder/codegen/generator.py
  src/mcp_server_langgraph/builder/importer/__init__.py
  src/mcp_server_langgraph/builder/importer/ast_parser.py
  src/mcp_server_langgraph/builder/importer/graph_extractor.py
  src/mcp_server_langgraph/builder/importer/importer.py
  src/mcp_server_langgraph/builder/importer/layout_engine.py
  src/mcp_server_langgraph/builder/storage/__init__.py
  src/mcp_server_langgraph/builder/storage/manager.py
  src/mcp_server_langgraph/builder/storage/models.py
  src/mcp_server_langgraph/builder/storage/postgres_manager.py
  src/mcp_server_langgraph/builder/storage/postgres_models.py
  src/mcp_server_langgraph/builder/workflow.py
  tests/builder/__init__.py
  tests/builder/api/__init__.py
  tests/builder/api/test_server.py
  tests/builder/test_builder_observability.py
  tests/builder/test_builder_security.py
  tests/builder/test_builder_server_integration.py
  tests/builder/test_code_generator.py
  tests/builder/test_importer.py
  tests/builder/test_workflow_builder.py
  tests/integration/builder/__init__.py
  tests/integration/builder/test_builder_api_integration.py
  tests/integration/builder/test_builder_postgres_workflow.py
  tests/integration/builder/test_builder_redis_workflow.py
Labels: documentation, tests

refactor!: remove deprecated playground module (consolidated into Studio)
  src/mcp_server_langgraph/playground/__init__.py
  src/mcp_server_langgraph/playground/api/__init__.py
  src/mcp_server_langgraph/playground/api/metrics.py
  src/mcp_server_langgraph/playground/api/models.py
  src/mcp_server_langgraph/playground/api/server.py
  src/mcp_server_langgraph/playground/mcp/__init__.py
  src/mcp_server_langgraph/playground/mcp/client.py
  src/mcp_server_langgraph/playground/mcp/integration.py
  src/mcp_server_langgraph/playground/session/__init__.py
  src/mcp_server_langgraph/playground/session/manager.py
  src/mcp_server_langgraph/playground/session/models.py
  src/mcp_server_langgraph/playground/session/postgres_manager.py
  src/mcp_server_langgraph/playground/session/postgres_models.py
  tests/integration/playground/__init__.py
  tests/integration/playground/test_playground_api_integration.py
  tests/integration/playground/test_playground_mcp_integration.py
  tests/integration/playground/test_playground_postgres_session.py
  tests/integration/playground/test_playground_redis_session.py
  tests/playground/__init__.py
  tests/playground/test_mcp_client.py
  tests/playground/test_playground_api.py
  tests/playground/test_playground_observability.py
  tests/playground/test_playground_session.py
  tests/playground/test_playground_websocket.py
Labels: tests

feat(db): add Alembic migrations for unified schema
  alembic/versions/a1b2c3d4e5f6_add_projects_tables.py
  alembic/versions/b2c3d4e5f6g7_add_fts_and_indices.py
  alembic/versions/c3d4e5f6g7h8_add_timescaledb_hypertables.py
  alembic/versions/d4e5f6g7h8i9_add_workflow_fts_and_indices.py
  alembic/versions/e5f6g7h8i9j0_add_mcp_connections.py
  alembic/versions/f6g7h8i9j0k1_add_audit_logs_table.py
  alembic/versions/g7h8i9j0k1l2_unified_audit_schema.py
  alembic/versions/h8i9j0k1l2m3_audit_partitioning.py
  docker/postgres/init-test-databases.sh
Labels: none

feat(models): add domain models and repositories
  src/mcp_server_langgraph/models/__init__.py
  src/mcp_server_langgraph/models/audit_log.py
  src/mcp_server_langgraph/models/connection.py
  src/mcp_server_langgraph/models/project.py
  src/mcp_server_langgraph/models/unified_audit.py
  src/mcp_server_langgraph/repositories/__init__.py
  src/mcp_server_langgraph/repositories/audit_log.py
  src/mcp_server_langgraph/repositories/cached_connections.py
  src/mcp_server_langgraph/repositories/connections.py
  src/mcp_server_langgraph/repositories/projects.py
  src/mcp_server_langgraph/storage/base.py
  src/mcp_server_langgraph/storage/models.py
Labels: none

feat(storage): add session and workflow storage modules
  src/mcp_server_langgraph/storage/session/__init__.py
  src/mcp_server_langgraph/storage/session/manager.py
  src/mcp_server_langgraph/storage/session/models.py
  src/mcp_server_langgraph/storage/session/postgres_manager.py
  src/mcp_server_langgraph/storage/session/postgres_models.py
  src/mcp_server_langgraph/storage/workflow/__init__.py
  src/mcp_server_langgraph/storage/workflow/manager.py
  src/mcp_server_langgraph/storage/workflow/models.py
  src/mcp_server_langgraph/storage/workflow/postgres_execution_manager.py
  src/mcp_server_langgraph/storage/workflow/postgres_manager.py
  src/mcp_server_langgraph/storage/workflow/postgres_models.py
Labels: none

feat(monitoring): add cloud-specific cost storage backends
  src/mcp_server_langgraph/monitoring/cost_storage.py
  src/mcp_server_langgraph/monitoring/cost_storage_aws.py
  src/mcp_server_langgraph/monitoring/cost_storage_azure.py
  src/mcp_server_langgraph/monitoring/cost_storage_factory.py
  src/mcp_server_langgraph/monitoring/cost_storage_gcp.py
  src/mcp_server_langgraph/monitoring/cost_tracker.py
Labels: none

chore(infra): harden docker-compose.test.yml with restart policies
  docker-compose.test.yml
Labels: docker, config

feat(auth): add OpenFGA store name lookup and configuration improvements
  .env.test
  config/openfga/sample-tuples.json
  scripts/docker/seed_openfga.py
  src/mcp_server_langgraph/auth/openfga.py
  src/mcp_server_langgraph/core/config.py
  src/mcp_server_langgraph/core/dependencies.py
  tests/unit/auth/test_openfga_config_validation.py
Labels: tests, config

feat(api): improve vectors endpoint authorization and add integration tests
  src/mcp_server_langgraph/api/v1/vectors.py
  tests/integration/vectors/test_vectors_api_integration.py
Labels: tests

fix(studio): improve frontend E2E test reliability and session handling
  src/mcp_server_langgraph/studio/frontend/e2e/api-verification.spec.ts
  src/mcp_server_langgraph/studio/frontend/e2e/fixtures/global-setup.ts
  src/mcp_server_langgraph/studio/frontend/e2e/pagination-filter-flows.spec.ts
  src/mcp_server_langgraph/studio/frontend/e2e/project-detail.spec.ts
  src/mcp_server_langgraph/studio/frontend/e2e/session-crud.spec.ts
  src/mcp_server_langgraph/studio/frontend/src/components/Chat/SessionPanel.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Chat/SessionPanel.tsx
  src/mcp_server_langgraph/studio/frontend/src/hooks/useTheme.ts
  src/mcp_server_langgraph/studio/frontend/src/pages/ObservabilityPage.tsx
  src/mcp_server_langgraph/studio/frontend/src/store/slices/sessionSlice.ts
  src/mcp_server_langgraph/studio/frontend/src/store/slices/uiSlice.test.ts
Labels: none

test: add unit and integration test improvements
  tests/api/test_connection_health_websocket.py
  tests/api/test_user_api.py
  tests/conftest.py
  tests/integration/test_dependencies_wiring.py
  tests/unit/api/v1/test_admin_router.py
Labels: tests

feat(studio): add single session delete with confirmation dialog
  src/mcp_server_langgraph/studio/frontend/src/components/Chat/SessionPanel.tsx
Labels: none
