Repository vishnu2kmohan/mcp-server-langgraph, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, tests, ci-cd, dependencies, docker, deployment, auth, secrets, observability, mcp, agent, config, security, community

docs(storage): comprehensive storage backend requirements for future sprint
  docs-internal/STORAGE_BACKEND_REQUIREMENTS.md
Labels: documentation

docs(sprint): technical debt sprint completion summary - 89% success
  docs-internal/TECHNICAL_DEBT_SPRINT_COMPLETE.md
Labels: documentation

fix(tools): make web_search async to support httpx async calls
  src/mcp_server_langgraph/tools/search_tools.py
Labels: none

add Benchmark (pytest) benchmark result for 7e9ac1c821da2be1dea31174ed7ab5e20df55edf
  dev/bench/data.js
Labels: none

test: update SLA and search tool tests for Prometheus integration
  tests/test_sla_monitoring.py
  tests/unit/test_search_tools.py
Labels: tests

add Benchmark (pytest) benchmark result for dacebb262f01aba7f6094ae96234831524e4a062
  dev/bench/data.js
Labels: none

test: fix search tool test assertions
  tests/unit/test_search_tools.py
Labels: tests

fix(alerting): correct Alert instantiation parameters across all modules
  src/mcp_server_langgraph/auth/hipaa.py
  src/mcp_server_langgraph/monitoring/sla.py
  src/mcp_server_langgraph/schedulers/cleanup.py
  src/mcp_server_langgraph/schedulers/compliance.py
Labels: none

fix(tools): correct return statement in web_search
  src/mcp_server_langgraph/tools/search_tools.py
Labels: none

add Benchmark (pytest) benchmark result for a4e2ca238ec355d9634799f09741b16dc49064be
  dev/bench/data.js
Labels: none

add Benchmark (pytest) benchmark result for af22bf1161c02e0111eed7159340aa0a4a864fa4
  dev/bench/data.js
Labels: none

docs(sprint): final summary - 89% success, production-ready
  docs-internal/SPRINT_FINAL_SUMMARY.md
Labels: documentation

add Benchmark (pytest) benchmark result for 9b51c4cd0d5cd7ff9eae6738438695780458b6d0
  dev/bench/data.js
Labels: none

docs(tests): comprehensive test results summary - 100% pass rate
  docs-internal/TEST_RESULTS_SUMMARY.md
  src/mcp_server_langgraph/integrations/alerting.py
  tests/test_sla_monitoring.py
  tests/unit/test_search_tools.py
Labels: documentation, tests

add Benchmark (pytest) benchmark result for 12a838a1df59ae02e2f0fdab9e971fdae8db136e
  dev/bench/data.js
Labels: none

fix(hipaa): resolve undefined variable in PHI access logging
  src/mcp_server_langgraph/auth/hipaa.py
Labels: none

feat(testing): enable integration test coverage collection
  .gitignore
  Makefile
  docker/docker-compose.test.yml
  pyproject.toml
  tests/performance/test_benchmarks.py
Labels: tests, ci-cd, dependencies, config

fix(tests): correct async mock in SLA monitoring test
  tests/test_sla_monitoring.py
Labels: tests

add Benchmark (pytest) benchmark result for dced3c06e5a7f93eb8f302b4c16d34452639bc7d
  dev/bench/data.js
Labels: none

feat(ci): implement combined coverage tracking and trending
  .github/workflows/ci.yaml
  .github/workflows/coverage-trend.yaml
  README.md
Labels: documentation, ci-cd

style: fix black formatting in search_tools.py
  src/mcp_server_langgraph/tools/search_tools.py
Labels: none

add Benchmark (pytest) benchmark result for 32184518443fe72533292e38096859358fd4c7af
  dev/bench/data.js
Labels: none

add Benchmark (pytest) benchmark result for b5d1a8d919ddaa9ea29437c76df3845eb1cdc937
  dev/bench/data.js
Labels: none

feat(ci): add Dependabot auto-merge workflow
  .github/workflows/dependabot-automerge.yaml
Labels: ci-cd

add Benchmark (pytest) benchmark result for f60e37bb05b554fbe98373dc374adcf483ebae3a
  dev/bench/data.js
Labels: none

feat(workflow): comprehensive Claude Code workflow optimization
  .claude/README.md
  .claude/WORKFLOW_OPTIMIZATION_SUMMARY.md
  .claude/commands/progress-update.md
  .claude/commands/release-prep.md
  .claude/commands/start-sprint.md
  .claude/commands/test-summary.md
  .claude/commands/todo-status.md
  .claude/context/code-patterns.md
  .claude/context/recent-work.md
  .claude/context/testing-patterns.md
  .claude/handoff/blockers.md
  .claude/handoff/last-session.md
  .claude/handoff/next-steps.md
  .claude/templates/progress-tracking.md
  .claude/templates/sprint-planning.md
  .claude/templates/technical-analysis.md
  .github/CLAUDE.md
  scripts/workflow/analyze-test-patterns.py
  scripts/workflow/generate-progress-report.py
  scripts/workflow/todo-tracker.py
Labels: documentation, tests

fix(ci): fix GitHub workflow syntax and standardize action versions
  .github/workflows/coverage-trend.yaml
  .github/workflows/dependabot-automerge.yaml
  .github/workflows/link-checker.yml
  .github/workflows/release.yaml
Labels: ci-cd

add Benchmark (pytest) benchmark result for ce7d8ebeeca382ab066f14bdb6216ac36cc6a2ff
  dev/bench/data.js
Labels: none

chore(release): prepare v2.8.0 - test coverage & infrastructure enhancement
  CHANGELOG.md
  RELEASE_NOTES_V2.8.0.md
  RELEASE_v2.8.0_COMMANDS.md
  TESTING_QUICK_START.md
  TEST_COVERAGE_IMPROVEMENT_SUMMARY.md
  deployments/helm/mcp-server-langgraph/Chart.yaml
  docker-compose.test.yml
  pyproject.toml
  src/mcp_server_langgraph/__init__.py
  tests/README.md
  tests/conftest.py
  tests/integration/test_anthropic_enhancements_integration.py
  tests/integration/test_tool_improvements.py
  tests/test_dynamic_context_loader.py
  tests/test_mcp_streamable.py
  tests/test_pydantic_ai.py
  tests/unit/test_search_tools.py
Labels: documentation, tests, dependencies, docker, config

feat(workflow): add Claude Code workflow automation commands and scripts
  .claude/commands/benchmark.md
  .claude/commands/ci-status.md
  .claude/commands/coverage-trend.md
  .claude/commands/quick-debug.md
  .claude/commands/refresh-context.md
  .claude/commands/security-scan-report.md
  .claude/commands/test-failure-analysis.md
  scripts/workflow/generate-burndown.py
  scripts/workflow/update-context-files.py
Labels: documentation

chore: update .gitignore for coverage history and benchmark outputs
  .gitignore
Labels: none

docs: reorganize and archive historical documentation
  reports/archive/README.md
  reports/archive/documentation/CODEBASE_ANALYSIS_REPORT.md
  reports/archive/documentation/UNTRACKED_FILES_REVIEW.md
  reports/archive/releases/PRE_RELEASE_ANALYSIS_V2.6.0.md
  reports/archive/releases/PRE_RELEASE_ANALYSIS_V2.7.0.md
  reports/archive/releases/READY_TO_PUSH_v2.7.0.md
  reports/archive/releases/RELEASE_NOTES_V2.7.0.md
  reports/archive/releases/RELEASE_V2.7.0_FIX_SUMMARY.md
  reports/archive/releases/RELEASE_V2.7.0_SUMMARY.md
Labels: documentation

chore: remove obsolete one-off commit script
  COMMIT_DOCUMENTATION_CHANGES.sh
Labels: none

chore: consolidate docker-compose files and remove duplicates
  docker-compose.test.yml
  docker/README.md
  docker/docker-compose.yml
Labels: documentation, docker, config

docs: create comprehensive TODO tracking document for GitHub issues
  reports/TODO_TRACKING_ISSUES.md
Labels: documentation

test: properly mark GDPR endpoint tests as skipped with documentation
  tests/test_gdpr.py
Labels: tests

docs: create comprehensive deprecation tracking document
  reports/DEPRECATION_TRACKING.md
Labels: documentation

docs: comprehensive codebase cleanup initiative - final summary
  reports/CODEBASE_CLEANUP_COMPLETE_20251020.md
Labels: documentation

chore: sync Claude Code context and add compliance test enhancements
  .claude/README.md
  .claude/commands/pr-checks.md
  .claude/commands/todo-status.md
  .claude/context/recent-work.md
  .github/CLAUDE.md
  CODEBASE_ANALYSIS_REPORT.md
  UNTRACKED_FILES_REVIEW.md
  src/mcp_server_langgraph/core/compliance/data_deletion.py
  src/mcp_server_langgraph/core/compliance/retention.py
  src/mcp_server_langgraph/core/config.py
  src/mcp_server_langgraph/mcp/server_stdio.py
  tests/test_data_deletion.py
  tests/test_retention.py
Labels: documentation, tests

feat: implement comprehensive lint enforcement system to prevent CI/CD failures
  .claude/commands/lint.md
  .pre-commit-config.yaml
  Makefile
  src/mcp_server_langgraph/core/compliance/retention.py
  src/mcp_server_langgraph/core/config.py
  src/mcp_server_langgraph/monitoring/sla.py
  src/mcp_server_langgraph/schedulers/cleanup.py
  src/mcp_server_langgraph/schedulers/compliance.py
Labels: documentation, ci-cd, config

.github/labeler.yml:

# Auto-labeler configuration for PRs
# Uses changed-files pattern matching

# Documentation
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'
      - '**/*.mdx'
      - 'docs/**/*'
      - 'mint.json'
      - '.mcp/*.json'

# Tests
tests:
  - changed-files:
    - any-glob-to-any-file:
      - 'tests/**/*'
      - '**/*test*.py'
      - 'test_*.py'
      - '*_test.py'
      - 'pytest.ini'
      - 'conftest.py'
      - 'TESTING.md'

# CI/CD
ci-cd:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**/*'
      - '.github/actions/**/*'
      - '.gitlab-ci.yml'
      - 'Makefile'
      - '.pre-commit-config.yaml'

# Dependencies
dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'requirements*.txt'
      - 'setup.py'
      - 'pyproject.toml'
      - 'poetry.lock'
      - 'package*.json'
      - 'yarn.lock'

# Docker
docker:
  - changed-files:
    - any-glob-to-any-file:
      - 'Dockerfile*'
      - 'docker-compose*.yml'
      - '.dockerignore'

# Kubernetes/Deployment
deployment:
  - changed-files:
    - any-glob-to-any-file:
      - 'kubernetes/**/*'
      - 'kustomize/**/*'
      - 'helm/**/*'
      - 'k8s/**/*'
      - 'KUBERNETES_DEPLOYMENT.md'
      - 'PRODUCTION_DEPLOYMENT.md'

# Authentication/Authorization
auth:
  - changed-files:
    - any-glob-to-any-file:
      - 'auth.py'
      - 'openfga_client.py'
      - 'setup_openfga.py'

# Secrets Management
secrets:
  - changed-files:
    - any-glob-to-any-file:
      - 'secrets_manager.py'
      - 'setup_infisical.py'

# Observability
observability:
  - changed-files:
    - any-glob-to-any-file:
      - 'observability.py'
      - 'health_check.py'
      - 'monitoring/**/*'
      - 'grafana/**/*'

# MCP Server
mcp:
  - changed-files:
    - any-glob-to-any-file:
      - 'mcp_server*.py'
      - 'examples/*client*.py'

# Agent/Core
agent:
  - changed-files:
    - any-glob-to-any-file:
      - 'agent.py'
      - 'graph.py'
      - 'models.py'
      - 'prompt*.py'

# Configuration
config:
  - changed-files:
    - any-glob-to-any-file:
      - 'config.py'
      - '.env*'
      - 'settings.py'
      - '*.yaml'
      - '*.yml'
      - '*.toml'
      - '*.ini'
      - '.editorconfig'

# Security
security:
  - changed-files:
    - any-glob-to-any-file:
      - 'auth.py'
      - 'secrets_manager.py'
      - 'openfga_client.py'
      - 'SECURITY*.md'
      - '.github/workflows/security-scan.yaml'
      - 'scripts/validate_production.py'

# Community
community:
  - changed-files:
    - any-glob-to-any-file:
      - 'CODE_OF_CONDUCT.md'
      - 'CONTRIBUTING.md'
      - 'DEVELOPMENT.md'
      - '.github/SUPPORT.md'
      - '.github/FUNDING.yml'
      - '.github/ISSUE_TEMPLATE/**/*'
      - '.github/PULL_REQUEST_TEMPLATE.md'
