Repository vishnu2kmohan/mcp-server-langgraph, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, tests, ci-cd, dependencies, docker, deployment, auth, secrets, observability, mcp, agent, config, security, community

chore(docs,validation): fix documentation organization and pre-commit warnings
  deployments/disaster-recovery/gcp-dr-automation.sh
  docs-internal/SESSION_2_COMPLETION_SUMMARY.md
  docs-internal/SESSION_2_HELM_K8S_ACTION_PLAN.md
  docs-internal/SESSION_2_INDEX.md
  docs-internal/SESSION_2_QUICK_REFERENCE.md
  scripts/validate_test_ids.py
Labels: documentation, tests

chore(docs,validation): fix documentation organization and pre-commit warnings (#108)
  deployments/disaster-recovery/gcp-dr-automation.sh
  docs-internal/SESSION_2_COMPLETION_SUMMARY.md
  docs-internal/SESSION_2_HELM_K8S_ACTION_PLAN.md
  docs-internal/SESSION_2_INDEX.md
  docs-internal/SESSION_2_QUICK_REFERENCE.md
  scripts/validate_test_ids.py
Labels: documentation, tests

fix(tests): comprehensive test suite fixes - 63 tests resolved
  src/mcp_server_langgraph/core/config.py
  tests/integration/security/test_network_mode_transparency.py
  tests/integration/test_gdpr.py
  tests/meta/test_e2e_keycloak_setup.py
  tests/unit/documentation/test_frontmatter_validator.py
  tests/unit/test_search_tools.py
Labels: tests

docs: update ADR count from 58 to 59
  README.md
  docs/architecture/overview.mdx
Labels: documentation

fix(tests): comprehensive test suite fixes - 63 tests resolved
  README.md
  docs/architecture/overview.mdx
  src/mcp_server_langgraph/core/config.py
  tests/integration/security/test_network_mode_transparency.py
  tests/integration/test_gdpr.py
  tests/meta/test_e2e_keycloak_setup.py
  tests/unit/documentation/test_frontmatter_validator.py
  tests/unit/test_search_tools.py
Labels: documentation, tests

fix(ci): resolve 4 CI workflow failures from commit 1404e46
  .github/CONTRIBUTING.md
  docs/deployment/kubernetes/gke.mdx
  docs/guides/local-models.mdx
  docs/references/documentation-authoring-guide.mdx
  docs/references/icon-selection-guide.mdx
  pyproject.toml
  tests/integration/compliance/test_postgres_audit_log_store.py
  tests/integration/compliance/test_postgres_consent_store.py
  tests/integration/compliance/test_postgres_conversation_store.py
  tests/integration/compliance/test_postgres_preferences_store.py
  tests/integration/compliance/test_postgres_user_profile_store.py
  tests/integration/health/test_database_validation_integration.py
Labels: documentation, tests, dependencies, config

fix(ci): resolve 8 CI workflow failures from commit 0312040
  docs/deployment/kubernetes/gke.mdx
  pyproject.toml
  tests/meta/test_hook_sync_validation.py
Labels: documentation, tests, dependencies, config

fix(integration-tests): fix datetime type mismatch and migration script permissions
  migrations/000_init_databases.sh
  src/mcp_server_langgraph/compliance/gdpr/postgres_storage.py
Labels: none

fix(ci): resolve 3 deployment validation failures after rebase
  .github/workflows/validate-deployments.yaml
  docker/Dockerfile.test
Labels: ci-cd

fix(ci): improve test infrastructure reliability and connection handling
  .github/workflows/integration-tests.yaml
  docker-compose.test.yml
Labels: ci-cd, docker, config

fix(ci): resolve three CI validation failures
  scripts/validate_pre_push_hook.py
  tests/fixtures/api_fixtures.py
  tests/integration/health/test_database_validation_integration.py
Labels: tests

fix(docker): use bash explicitly for Qdrant health check
  docker-compose.test.yml
Labels: docker, config

fix(tests): rename archived test to prevent pytest discovery
  scripts/archive/completed/archived_test_fix_closing_fence_tags.py
Labels: tests

fix(ci): resolve 2 critical CI failures after rebase onto 03120402
  .github/workflows/validate-deployments.yaml
Labels: ci-cd

fix(tests): correct pytest section header for pytest 8.x compatibility
  pyproject.toml
Labels: dependencies, config

fix(ci,tests): resolve deployment validation failures and pytest 8.x compatibility (#110)
  .github/workflows/integration-tests.yaml
  .github/workflows/validate-deployments.yaml
  docker-compose.test.yml
  docker/Dockerfile.test
  migrations/000_init_databases.sh
  pyproject.toml
  scripts/archive/completed/archived_test_fix_closing_fence_tags.py
  scripts/validate_pre_push_hook.py
  src/mcp_server_langgraph/compliance/gdpr/postgres_storage.py
  tests/fixtures/api_fixtures.py
  tests/integration/health/test_database_validation_integration.py
Labels: tests, ci-cd, dependencies, docker, config

feat(tests): create shared validation library for test quality enforcement
  tests/scripts/test_memory_safety_validator.py
  tests/validation_lib/__init__.py
  tests/validation_lib/memory_safety.py
Labels: tests

feat(tests): complete validation library - extract test_ids and async_mocks validators
  tests/scripts/test_async_mocks_validator.py
  tests/scripts/test_test_ids_validator.py
  tests/validation_lib/async_mocks.py
  tests/validation_lib/test_ids.py
Labels: tests

refactor(scripts): convert validation scripts to thin wrappers around shared library
  scripts/check_async_mock_configuration.py
  scripts/check_async_mock_usage.py
  scripts/check_test_memory_safety.py
  scripts/validate_test_ids.py
Labels: tests

feat(tests): add validator consistency tests and fix import paths
  scripts/check_async_mock_configuration.py
  scripts/check_async_mock_usage.py
  scripts/check_test_memory_safety.py
  scripts/validate_test_ids.py
  tests/meta/test_validator_consistency.py
  tests/validation_lib/__init__.py
Labels: tests

fix(lint): resolve all remaining Ruff lint violations
  src/mcp_server_langgraph/api/api_keys.py
  src/mcp_server_langgraph/api/error_handlers.py
  src/mcp_server_langgraph/api/scim.py
  src/mcp_server_langgraph/app.py
  src/mcp_server_langgraph/auth/keycloak.py
  src/mcp_server_langgraph/auth/middleware.py
  src/mcp_server_langgraph/auth/openfga.py
  src/mcp_server_langgraph/auth/role_mapper.py
  src/mcp_server_langgraph/auth/service_principal.py
  src/mcp_server_langgraph/auth/session.py
  src/mcp_server_langgraph/builder/api/server.py
  src/mcp_server_langgraph/builder/codegen/generator.py
  src/mcp_server_langgraph/builder/importer/ast_parser.py
  src/mcp_server_langgraph/builder/importer/graph_extractor.py
  src/mcp_server_langgraph/builder/importer/importer.py
  src/mcp_server_langgraph/builder/workflow.py
  src/mcp_server_langgraph/compliance/retention.py
  src/mcp_server_langgraph/compliance/soc2/evidence.py
  src/mcp_server_langgraph/core/checkpoint_validator.py
  src/mcp_server_langgraph/core/dynamic_context_loader.py
  src/mcp_server_langgraph/core/exceptions.py
  src/mcp_server_langgraph/execution/code_validator.py
  src/mcp_server_langgraph/execution/docker_sandbox.py
  src/mcp_server_langgraph/execution/kubernetes_sandbox.py
  src/mcp_server_langgraph/llm/factory.py
  src/mcp_server_langgraph/llm/validators.py
  src/mcp_server_langgraph/mcp/server_stdio.py
  src/mcp_server_langgraph/mcp/server_streamable.py
  src/mcp_server_langgraph/middleware/rate_limiter.py
  src/mcp_server_langgraph/monitoring/budget_monitor.py
  src/mcp_server_langgraph/observability/json_logger.py
  src/mcp_server_langgraph/observability/telemetry.py
  src/mcp_server_langgraph/presets/quickstart.py
  src/mcp_server_langgraph/resilience/bulkhead.py
  src/mcp_server_langgraph/resilience/circuit_breaker.py
  src/mcp_server_langgraph/resilience/retry.py
  src/mcp_server_langgraph/schedulers/compliance.py
  src/mcp_server_langgraph/scim/schema.py
  src/mcp_server_langgraph/tools/filesystem_tools.py
Labels: none

fix(validation,docs): support both Optional[] and | None syntax, update ADR badge
  .githooks/pre-commit-dependency-validation
Labels: none

fix(lint): exclude archived scripts from Ruff validation
  .pre-commit-config.yaml
Labels: ci-cd, config

fix(exceptions): add MCPServerException alias for backward compatibility
  src/mcp_server_langgraph/core/exceptions.py
Labels: none

fix(tests): correct indentation in test isolation fixes
  src/mcp_server_langgraph/execution/docker_sandbox.py
  tests/core/test_cache.py
  tests/deployment/test_service_accounts.py
  tests/infrastructure/test_ci_workflows.py
  tests/integration/api/test_health.py
  tests/integration/health/test_database_validation_integration.py
  tests/integration/test_retention.py
  tests/meta/test_documentation_references.py
  tests/meta/test_fixture_validation.py
  tests/meta/test_hook_sync_validation.py
  tests/meta/test_marker_enforcement.py
  tests/meta/test_subprocess_safety.py
  tests/meta/test_suite_validation.py
  tests/test_postgres_connection_config.py
  tests/test_regression_prevention.py
  tests/test_workflow_validation.py
  tests/unit/documentation/test_file_naming_validator.py
  tests/unit/health/test_database_checks.py
Labels: tests

fix(lint): update Ruff config for incremental migration
  pyproject.toml
Labels: dependencies, config

fix(ci): resolve all Kubernetes validation failures
  .github/workflows/validate-kubernetes.yaml
  deployments/optimized/redis-session-deployment.yaml
  deployments/overlays/production-gke/deployment-patch.yaml
  deployments/overlays/staging-gke/deployment-patch.yaml
  deployments/policies/health-check-validation.rego
  deployments/policies/port-validation.rego
  docs/deployment/kubernetes/gke.mdx
Labels: documentation, ci-cd

fix(security): enable read-only root filesystem for containers
  deployments/base/redis-session-deployment.yaml
  deployments/optimized/redis-session-deployment.yaml
  deployments/overlays/production-gke/deployment-patch.yaml
  deployments/overlays/staging/postgres-patch.yaml
  deployments/overlays/staging/qdrant-patch.yaml
  deployments/overlays/staging/redis-session-patch.yaml
Labels: none

fix(ci): resolve YAML validation and security placeholder issues
  .yamllint.yml
  deployments/argocd/gcp-multi-cluster-setup.yaml
  deployments/helm/values-production-gke.yaml
Labels: config

fix(ci): complete OPA Rego and YAML validation fixes
  .yamllint.yml
  deployments/policies/port-validation.rego
Labels: config

fix(ci): resolve OPA Rego recursion and YAML validation issues
  .github/workflows/validate-kubernetes.yaml
  deployments/policies/port-validation.rego
  deployments/policies/yaml-syntax.rego
Labels: ci-cd

fix(ci): exclude Helm templates from YAML validation
  .yamllint.yml
Labels: config

fix(opa): allow project namespaces in ResourceQuota validation
  deployments/policies/namespace-consistency.rego
Labels: none

fix(tests): add pytest-xdist isolation markers and teardown methods
  tests/meta/test_validator_consistency.py
  tests/scripts/test_async_mocks_validator.py
  tests/scripts/test_memory_safety_validator.py
  tests/scripts/test_test_ids_validator.py
  tests/unit/documentation/test_file_naming_validator.py
  tests/unit/health/test_database_checks.py
Labels: tests

fix(tests): resolve CI failures from Ruff migration
  docker-compose.test.yml
  src/mcp_server_langgraph/__init__.py
  tests/meta/test_e2e_keycloak_setup.py
  tests/meta/test_marker_enforcement.py
  tests/meta/test_otel_security_context.py
  tests/meta/test_performance_workflow_pytest_flags.py
  tests/meta/test_pytest_config_validation.py
  tests/meta/test_trivy_scans_rendered_manifests.py
  tests/meta/test_trivy_suppressions.py
  tests/test_ci_workflow_dependencies.py
  tests/unit/documentation/test_file_naming_validator.py
  tests/unit/health/test_database_checks.py
Labels: tests, docker, config

fix(ci): make MyPy and integration tests optional in pre-push validation
  scripts/validate_pre_push_hook.py
Labels: none

fix(tests): exempt api_fixtures.py from test ID validation and improve docstring examples
  tests/fixtures/api_fixtures.py
  tests/validation_lib/test_ids.py
Labels: tests

chore: complete migration to Ruff formatter (remove Black/isort)
  .pre-commit-config.yaml
Labels: ci-cd, config

fix(tests): set PostgreSQL connection params in test-integration.sh
  scripts/test-integration.sh
Labels: none

fix(tests): add PostgreSQL connection params to integration test script
  scripts/test-integration.sh
Labels: none

.github/labeler.yml:

# Auto-labeler configuration for PRs
# Uses changed-files pattern matching

# Documentation
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'
      - '**/*.mdx'
      - 'docs/**/*'
      - 'mint.json'
      - '.mcp/*.json'

# Tests
tests:
  - changed-files:
    - any-glob-to-any-file:
      - 'tests/**/*'
      - '**/*test*.py'
      - 'test_*.py'
      - '*_test.py'
      - 'pytest.ini'
      - 'conftest.py'
      - 'TESTING.md'

# CI/CD
ci-cd:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**/*'
      - '.github/actions/**/*'
      - '.gitlab-ci.yml'
      - 'Makefile'
      - '.pre-commit-config.yaml'

# Dependencies
dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'requirements*.txt'
      - 'setup.py'
      - 'pyproject.toml'
      - 'poetry.lock'
      - 'package*.json'
      - 'yarn.lock'

# Docker
docker:
  - changed-files:
    - any-glob-to-any-file:
      - 'Dockerfile*'
      - 'docker-compose*.yml'
      - '.dockerignore'

# Kubernetes/Deployment
deployment:
  - changed-files:
    - any-glob-to-any-file:
      - 'kubernetes/**/*'
      - 'kustomize/**/*'
      - 'helm/**/*'
      - 'k8s/**/*'
      - 'KUBERNETES_DEPLOYMENT.md'
      - 'PRODUCTION_DEPLOYMENT.md'

# Authentication/Authorization
auth:
  - changed-files:
    - any-glob-to-any-file:
      - 'auth.py'
      - 'openfga_client.py'
      - 'setup_openfga.py'

# Secrets Management
secrets:
  - changed-files:
    - any-glob-to-any-file:
      - 'secrets_manager.py'
      - 'setup_infisical.py'

# Observability
observability:
  - changed-files:
    - any-glob-to-any-file:
      - 'observability.py'
      - 'health_check.py'
      - 'monitoring/**/*'
      - 'grafana/**/*'

# MCP Server
mcp:
  - changed-files:
    - any-glob-to-any-file:
      - 'mcp_server*.py'
      - 'examples/*client*.py'

# Agent/Core
agent:
  - changed-files:
    - any-glob-to-any-file:
      - 'agent.py'
      - 'graph.py'
      - 'models.py'
      - 'prompt*.py'

# Configuration
config:
  - changed-files:
    - any-glob-to-any-file:
      - 'config.py'
      - '.env*'
      - 'settings.py'
      - '*.yaml'
      - '*.yml'
      - '*.toml'
      - '*.ini'
      - '.editorconfig'

# Security
security:
  - changed-files:
    - any-glob-to-any-file:
      - 'auth.py'
      - 'secrets_manager.py'
      - 'openfga_client.py'
      - 'SECURITY*.md'
      - '.github/workflows/security-scan.yaml'
      - 'scripts/validate_production.py'

# Community
community:
  - changed-files:
    - any-glob-to-any-file:
      - 'CODE_OF_CONDUCT.md'
      - 'CONTRIBUTING.md'
      - 'DEVELOPMENT.md'
      - '.github/SUPPORT.md'
      - '.github/FUNDING.yml'
      - '.github/ISSUE_TEMPLATE/**/*'
      - '.github/PULL_REQUEST_TEMPLATE.md'
