Repository vishnu2kmohan/mcp-server-langgraph, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, tests, ci-cd, dependencies, docker, deployment, auth, secrets, observability, mcp, agent, config, security, community

feat(canvas): implement opt-in AI analysis pattern and fix test assertions
  src/mcp_server_langgraph/studio/frontend/src/canvas/CanvasArtifact.tsx
  src/mcp_server_langgraph/studio/frontend/src/canvas/CanvasWorkspace.tsx
  src/mcp_server_langgraph/studio/frontend/src/canvas/VersionDiff.tsx
  src/mcp_server_langgraph/studio/frontend/src/hooks/useAISuggestionsFetch.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/hooks/useAISuggestionsFetch.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useCanvasIntelligence.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/hooks/useCanvasIntelligence.ts
  tests/unit/api/v1/test_missing_endpoints.py
Labels: tests

test(observability): add Loki data flow integration tests
  tests/integration/observability/test_loki_data_flow.py
Labels: tests

chore(hooks): add OTEL attribute naming pre-commit validation
  .pre-commit-config.yaml
  scripts/validation/check_otel_attribute_naming.py
Labels: ci-cd, config

fix(test): require PostgreSQL for workflow share repository tests
  tests/integration/storage/workflow/test_postgres_share_repository.py
Labels: tests

test(observability): extend data flow tests for all entity types
  tests/integration/observability/test_loki_data_flow.py
  tests/integration/observability/test_otel_tempo_data_flow.py
Labels: tests

docs: add OTEL data flow testing and full pipeline tests
  .claude/context/testing-patterns.md
  .claude/memory/pre-commit-hooks-catalog.md
  tests/integration/observability/test_otel_tempo_data_flow.py
Labels: documentation, tests

fix(tests): add auth dependency overrides to budget router tests
  .pre-commit-config.yaml
  src/mcp_server_langgraph/studio/frontend/src/hooks/useHeartDashboard.realtime.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/hooks/useHeartDashboard.test.tsx
  tests/unit/api/v1/test_budget_router.py
Labels: tests, ci-cd, config

test(middleware): add MetricsBroadcaster wiring tests
  src/mcp_server_langgraph/middleware/metrics.py
  tests/unit/middleware/test_metrics_middleware.py
Labels: tests

feat(heart-metrics): inject metrics client for Prometheus/Mimir queries
  src/mcp_server_langgraph/websocket/services/heart_metrics.py
  tests/unit/websocket_pkg/services/test_heart_metrics.py
Labels: tests

feat(db): add workflow_versions migration for version history
  alembic/versions/w3x4y5z6a7b8_add_workflow_versions_table.py
Labels: none

feat(storage): add workflow version methods to PostgresWorkflowManager
  src/mcp_server_langgraph/storage/workflow/postgres_manager.py
  src/mcp_server_langgraph/storage/workflow/postgres_models.py
  tests/unit/storage/workflow/test_postgres_manager_versions.py
Labels: tests

feat(services): add centralized WorkflowValidator service
  src/mcp_server_langgraph/services/workflow_validator.py
  tests/unit/services/test_workflow_validator.py
Labels: tests

feat(api): add workflow from-chat, validate, and versions endpoints
  src/mcp_server_langgraph/api/v1/workflows.py
  tests/integration/api/test_workflow_from_chat_integration.py
  tests/unit/api/v1/test_workflows_from_chat.py
  tests/unit/api/v1/test_workflows_validate.py
  tests/unit/api/v1/test_workflows_versions.py
Labels: tests

feat(flags): add enable_workflow_from_chat feature flag
  .env.test
  docker-compose.test.yml
  docs-internal/FEATURE_FLAG_CATALOG.md
  src/mcp_server_langgraph/core/feature_flags.py
Labels: documentation, docker, config

docs: add ADRs and documentation for chat-to-workflow feature
  adr/README.md
  adr/adr-0088-frontend-hook-selection-guidance.md
  adr/adr-0089-prompt-architecture-centralization.md
  docs-internal/frontend/CHAT_TO_WORKFLOW_API.md
  docs/architecture/adr-0089-prompt-architecture-centralization.mdx
  docs/guides/prompt-engineering.mdx
Labels: documentation

feat(prompts): add centralized prompt architecture with telemetry
  src/mcp_server_langgraph/core/prompts/README.md
  src/mcp_server_langgraph/core/prompts/__init__.py
  src/mcp_server_langgraph/core/prompts/ai_ux_prompts.py
  src/mcp_server_langgraph/core/prompts/genui_prompts.py
  src/mcp_server_langgraph/core/prompts/orchestration_router_prompt.py
  src/mcp_server_langgraph/core/prompts/plan_editor_prompts.py
  src/mcp_server_langgraph/core/prompts/response_prompt.py
  src/mcp_server_langgraph/core/prompts/router_prompt.py
  src/mcp_server_langgraph/core/prompts/schemas.py
  src/mcp_server_langgraph/core/prompts/search.py
  src/mcp_server_langgraph/core/prompts/studio_prompt.py
  src/mcp_server_langgraph/core/prompts/telemetry.py
  src/mcp_server_langgraph/core/prompts/validation.py
  src/mcp_server_langgraph/core/prompts/verification_prompt.py
  src/mcp_server_langgraph/core/prompts/workflow_prompts.py
  tests/unit/core/test_ai_ux_prompts.py
  tests/unit/core/test_feature_flags.py
  tests/unit/core/test_genui_prompts.py
  tests/unit/core/test_orchestration_router_prompt.py
  tests/unit/core/test_plan_editor_prompts.py
  tests/unit/core/test_prompt_guardrails.py
  tests/unit/core/test_prompt_runtime_validation.py
  tests/unit/core/test_prompt_schemas.py
  tests/unit/core/test_prompt_telemetry.py
  tests/unit/core/test_workflow_prompts.py
Labels: documentation, tests

feat(agents): add multi-agent orchestration with routing and swarm patterns
  adr/adr-0090-agent-orchestration-architecture.md
  src/mcp_server_langgraph/agents/__init__.py
  src/mcp_server_langgraph/agents/base_agent.py
  src/mcp_server_langgraph/agents/genui_orchestrator.py
  src/mcp_server_langgraph/agents/metrics.py
  src/mcp_server_langgraph/agents/model_registry.py
  src/mcp_server_langgraph/agents/model_selector.py
  src/mcp_server_langgraph/agents/orchestrator.py
  src/mcp_server_langgraph/agents/router_agent.py
  src/mcp_server_langgraph/agents/swarm_orchestrator.py
  src/mcp_server_langgraph/agents/worker_agent.py
  tests/unit/agents/test_base_agent.py
  tests/unit/agents/test_model_registry.py
  tests/unit/agents/test_model_selector.py
  tests/unit/agents/test_model_selector_refactored.py
  tests/unit/agents/test_orchestration_metrics.py
  tests/unit/agents/test_orchestrator.py
  tests/unit/agents/test_orchestrator_coverage.py
  tests/unit/agents/test_router_agent.py
  tests/unit/agents/test_swarm_orchestrator.py
Labels: documentation, tests

feat(observability): add prompt metrics dashboard and broadcasting span processor
  deployments/monitoring/prompt-metrics-dashboard.json
  deployments/monitoring/prompt-quality-alerts.yaml
  src/mcp_server_langgraph/observability/broadcasting_span_processor.py
  src/mcp_server_langgraph/observability/query/backends/grafana.py
  src/mcp_server_langgraph/observability/trace_broadcaster.py
Labels: none

feat(websocket): add LLM streaming and metrics broadcasters
  src/mcp_server_langgraph/websocket/handlers/llm_streaming_broadcaster.py
  src/mcp_server_langgraph/websocket/handlers/metrics_broadcaster.py
  src/mcp_server_langgraph/websocket/handlers/orchestrator_status.py
  src/mcp_server_langgraph/websocket/services/cost_tracking.py
  src/mcp_server_langgraph/websocket/services/heart_metrics.py
  tests/integration/websocket/test_connections_realtime_websocket.py
  tests/integration/websocket/test_cost_tracking_websocket.py
  tests/integration/websocket/test_heart_metrics_websocket.py
  tests/integration/websocket/test_orchestrator_status_websocket.py
  tests/integration/websocket/test_websocket_lifecycle.py
  tests/integration/websocket/test_websocket_token_expiration.py
  tests/unit/websocket_pkg/handlers/test_llm_streaming_broadcaster.py
  tests/unit/websocket_pkg/handlers/test_metrics_broadcaster.py
  tests/unit/websocket_pkg/services/test_cost_tracking_service.py
  tests/unit/websocket_pkg/services/test_heart_metrics_service.py
Labels: tests

feat(llm): add embeddings module and factory enhancements
  src/mcp_server_langgraph/llm/__init__.py
  src/mcp_server_langgraph/llm/embeddings.py
  src/mcp_server_langgraph/llm/factory.py
  tests/unit/llm/test_embeddings.py
  tests/unit/llm/test_factory_validation.py
  tests/unit/llm/test_streaming_metrics_broadcaster_integration.py
Labels: tests

feat(api): add execution plans and plan templates endpoints
  src/mcp_server_langgraph/api/v1/ai_ux_service.py
  src/mcp_server_langgraph/api/v1/chat.py
  src/mcp_server_langgraph/api/v1/execution_plans.py
  src/mcp_server_langgraph/api/v1/plan_templates.py
  src/mcp_server_langgraph/api/v1/studio_ai.py
  src/mcp_server_langgraph/repositories/__init__.py
  src/mcp_server_langgraph/repositories/execution_plan.py
  src/mcp_server_langgraph/repositories/plan_template.py
  src/mcp_server_langgraph/services/workflow_generator.py
  tests/integration/api/test_chat_approval_flow.py
  tests/unit/api/v1/test_chat_service_impl.py
  tests/unit/api/v1/test_chat_streaming_production.py
  tests/unit/api/v1/test_chat_streaming_refactor.py
  tests/unit/api/v1/test_execution_plans.py
  tests/unit/api/v1/test_plan_templates.py
  tests/unit/api/v1/test_remediation_tracking.py
  tests/unit/repositories/test_execution_plan_repository.py
  tests/unit/repositories/test_plan_template_repository.py
  tests/unit/services/test_workflow_generator.py
Labels: tests

feat(core): add vector storage and enhanced domain models
  src/mcp_server_langgraph/core/__init__.py
  src/mcp_server_langgraph/core/config/_settings.py
  src/mcp_server_langgraph/core/models/__init__.py
  src/mcp_server_langgraph/core/models/execution_plan.py
  src/mcp_server_langgraph/core/models/plan_template.py
  src/mcp_server_langgraph/storage/vectors/__init__.py
  src/mcp_server_langgraph/storage/vectors/base.py
  src/mcp_server_langgraph/storage/vectors/factory.py
  src/mcp_server_langgraph/storage/vectors/inmemory.py
  src/mcp_server_langgraph/storage/vectors/pgvector_provider.py
  src/mcp_server_langgraph/storage/vectors/qdrant_provider.py
  tests/integration/core/test_factory_validation_integration.py
  tests/integration/core/test_prompt_semantic_search_integration.py
  tests/integration/storage/test_vector_plan_search_integration.py
  tests/unit/core/models/test_execution_plan.py
  tests/unit/core/models/test_plan_template.py
  tests/unit/core/test_prompt_semantic_search.py
  tests/unit/storage/vectors/__init__.py
  tests/unit/storage/vectors/test_vector_providers.py
  tests/unit/storage/vectors/test_vector_settings_integration.py
Labels: tests

feat(frontend): add shared frontend infrastructure
  src/mcp_server_langgraph/shared/frontend/README.md
  src/mcp_server_langgraph/shared/frontend/eslint.config.js
  src/mcp_server_langgraph/shared/frontend/src/components/A11yDevTools.tsx
  src/mcp_server_langgraph/shared/frontend/src/components/primitives/Badge.test.tsx
  src/mcp_server_langgraph/shared/frontend/src/components/primitives/Badge.tsx
  src/mcp_server_langgraph/shared/frontend/src/components/primitives/Button.test.tsx
  src/mcp_server_langgraph/shared/frontend/src/components/primitives/Button.tsx
  src/mcp_server_langgraph/shared/frontend/src/components/primitives/Card.test.tsx
  src/mcp_server_langgraph/shared/frontend/src/components/primitives/Card.tsx
  src/mcp_server_langgraph/shared/frontend/src/components/primitives/index.ts
  src/mcp_server_langgraph/shared/frontend/src/hooks/useWebVitals.test.tsx
  src/mcp_server_langgraph/shared/frontend/src/hooks/useWebVitals.tsx
  src/mcp_server_langgraph/shared/frontend/src/i18n/i18n.test.tsx
  src/mcp_server_langgraph/shared/frontend/src/i18n/index.ts
  src/mcp_server_langgraph/shared/frontend/src/utils/cn.ts
  src/mcp_server_langgraph/shared/frontend/src/utils/index.ts
  src/mcp_server_langgraph/shared/frontend/tailwind-preset.cjs
  src/mcp_server_langgraph/shared/frontend/tailwind-preset.ts
Labels: documentation

test(observability): add comprehensive observability unit tests
  tests/unit/observability/test_broadcasting_span_processor.py
  tests/unit/observability/test_metrics_query_wiring.py
  tests/unit/observability/test_observability_wiring_gaps.py
  tests/unit/observability/test_trace_broadcaster_session_filter.py
Labels: tests

feat(studio): add DevTools streaming hooks and test scripts
  src/mcp_server_langgraph/studio/ai/templates.py
  src/mcp_server_langgraph/studio/frontend/scripts/run-hooks-tests.sh
  src/mcp_server_langgraph/studio/frontend/scripts/run-tests-by-pool.sh
  src/mcp_server_langgraph/studio/frontend/scripts/validate-test-patterns.sh
  src/mcp_server_langgraph/studio/frontend/src/hooks/useLLMStreamingWebSocket.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useMetricsSessionWebSocket.ts
  tests/unit/studio/ai/test_template_embedding_service.py
Labels: tests

docs: add internal documentation for metrics, auth, and design system
  docs-internal/HEART_METRICS_IMPLEMENTATION.md
  docs-internal/OPENFGA_ARCHITECTURE.md
  docs-internal/README.md
  docs-internal/frontend/DESIGN_SYSTEM.md
  docs-internal/runbooks/ORCHESTRATOR_OPERATIONS.md
  docs/docs.json
  docs/guides/multi-agent-orchestrators.mdx
  src/mcp_server_langgraph/playground/frontend/DEPRECATED.md
Labels: documentation

chore: add pgvector migration and update agent/alert integrations
  alembic/versions/v2w3x4y5z6a7_add_pgvector_extension.py
  pyproject.toml
  src/mcp_server_langgraph/agents/model_selector.py
  src/mcp_server_langgraph/agents/router_agent.py
  src/mcp_server_langgraph/agents/swarm_orchestrator.py
  src/mcp_server_langgraph/agents/worker_agent.py
  src/mcp_server_langgraph/alerts/ai_recommendation.py
  src/mcp_server_langgraph/alerts/approval_queue.py
  src/mcp_server_langgraph/mcp/handlers/agents.py
Labels: dependencies, config

fix(tests): add Router wrapper and remove unused imports
  src/mcp_server_langgraph/studio/frontend/src/hooks/useBatchApprovals.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/hooks/useLLMStreamingWebSocket.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useMetricsSessionWebSocket.ts
Labels: none

fix(frontend): resolve lint and type errors across shared and studio frontends
  src/mcp_server_langgraph/shared/frontend/src/components/ErrorRecovery/ErrorRecovery.tsx
  src/mcp_server_langgraph/shared/frontend/src/components/FeatureHint/FeatureHint.tsx
  src/mcp_server_langgraph/shared/frontend/src/components/HelpPanel/HelpPanel.test.tsx
  src/mcp_server_langgraph/shared/frontend/src/components/OnboardingProgress/OnboardingProgress.tsx
  src/mcp_server_langgraph/shared/frontend/src/components/Privacy/PrivacySettings.tsx
  src/mcp_server_langgraph/shared/frontend/src/components/Tooltip/Tooltip.test.tsx
  src/mcp_server_langgraph/shared/frontend/src/hooks/useAccessibility.test.ts
  src/mcp_server_langgraph/shared/frontend/src/hooks/useHeartMetrics.tsx
  src/mcp_server_langgraph/shared/frontend/src/index.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useCrossInsightsPanel.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/hooks/useIsChatRoute.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/hooks/useLLMStreamingWebSocket.ts
  src/mcp_server_langgraph/studio/frontend/src/layout/StudioShellLayout.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/store/slices/observabilitySlice.test.ts
Labels: none

chore: update project configuration and test environment
  .env.test
  .pre-commit-config.yaml
  config/openfga/sample-tuples.json
  docker-compose.test.yml
  pyproject.toml
  scripts/openapi.json
  tests/unit/api/v1/test_websocket_metrics_api.py
  tests/unit/websocket_pkg/test_websocket_prometheus_metrics.py
Labels: tests, ci-cd, dependencies, docker, config

docs(adr): add architecture decision records for studio frontend
  README.md
  adr/adr-0091-api-response-transformation-strategy.md
  adr/adr-0092-hierarchical-capability-architecture.md
  docs/architecture/adr-0086-security-audit-keycloak-openfga.mdx
  docs/architecture/adr-0087-grafana-two-tier-authentication.mdx
  docs/architecture/adr-0088-frontend-hook-selection-guidance.mdx
  docs/architecture/adr-0090-agent-orchestration-architecture.mdx
  docs/architecture/adr-0091-api-response-transformation-strategy.mdx
  docs/architecture/adr-0092-hierarchical-capability-architecture.mdx
  docs/docs.json
Labels: documentation

feat(core): add execution modes and scope types
  src/mcp_server_langgraph/core/execution_modes.py
  src/mcp_server_langgraph/core/feature_flags.py
  src/mcp_server_langgraph/core/scopes.py
  tests/unit/core/test_adr0092_feature_flags.py
  tests/unit/core/test_execution_modes.py
  tests/unit/core/test_scopes.py
Labels: tests

feat(agents): add task analyzer, execution selector, and agent patterns
  src/mcp_server_langgraph/agents/base_agent.py
  src/mcp_server_langgraph/agents/execution_selector.py
  src/mcp_server_langgraph/agents/patterns/__init__.py
  src/mcp_server_langgraph/agents/patterns/react_runner.py
  src/mcp_server_langgraph/agents/router_agent.py
  src/mcp_server_langgraph/agents/task_analyzer.py
  src/mcp_server_langgraph/agents/worker_agent.py
  tests/integration/agents/test_router_to_worker_binding.py
  tests/unit/agents/patterns/__init__.py
  tests/unit/agents/patterns/test_react_runner.py
  tests/unit/agents/test_agent_request_enhanced.py
  tests/unit/agents/test_execution_mode_selector.py
  tests/unit/agents/test_router_output_enhanced.py
  tests/unit/agents/test_task_analyzer.py
  tests/unit/agents/test_worker_agent_tool_binding.py
Labels: tests

feat(capabilities): add hierarchical capability architecture
  src/mcp_server_langgraph/capabilities/__init__.py
  src/mcp_server_langgraph/capabilities/cache.py
  src/mcp_server_langgraph/capabilities/provider.py
  src/mcp_server_langgraph/capabilities/resolver.py
  tests/integration/capabilities/__init__.py
  tests/integration/capabilities/test_scope_resolution_flow.py
  tests/unit/capabilities/__init__.py
  tests/unit/capabilities/test_capability_cache.py
  tests/unit/capabilities/test_hierarchical_provider.py
  tests/unit/capabilities/test_provider_protocol.py
Labels: tests

feat(hitl): add human expert tool, approval learning, and reversible actions
  src/mcp_server_langgraph/hitl/human_expert.py
  src/mcp_server_langgraph/hitl/learning.py
  src/mcp_server_langgraph/hitl/reversible.py
  tests/unit/hitl/test_approval_learner.py
  tests/unit/hitl/test_human_expert_tool.py
  tests/unit/hitl/test_reversible_action.py
Labels: tests

feat(memory): add tiered memory store
  src/mcp_server_langgraph/memory/store.py
  src/mcp_server_langgraph/memory/tiers.py
  tests/unit/memory/test_memory_store.py
  tests/unit/memory/test_memory_tiers.py
Labels: tests

feat(skills): add hierarchical skills, progressive loader, and skill search
  src/mcp_server_langgraph/skills/hierarchical.py
  src/mcp_server_langgraph/skills/progressive_loader.py
  src/mcp_server_langgraph/skills/search.py
  tests/unit/skills/__init__.py
  tests/unit/skills/test_hierarchical_skill_registry.py
  tests/unit/skills/test_progressive_skill_loader.py
  tests/unit/skills/test_skill_search_tool.py
Labels: tests

feat(tools): add hierarchical tool registry and unified registry
  src/mcp_server_langgraph/studio/frontend/src/hooks/useWebSocketMetricsPush.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/hooks/useWebSocketMetricsPush.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useWebSocketMetricsReporter.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/hooks/useWebSocketMetricsReporter.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useWebSocketTelemetrySync.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/hooks/useWebSocketTelemetrySync.ts
  src/mcp_server_langgraph/tools/hierarchical.py
  src/mcp_server_langgraph/tools/unified_registry.py
  tests/unit/tools/__init__.py
  tests/unit/tools/test_hierarchical_tool_registry.py
  tests/unit/tools/test_unified_registry.py
Labels: tests

feat(context): add context loading modules for codebase, conversation, and memory
  src/mcp_server_langgraph/context/__init__.py
  src/mcp_server_langgraph/context/codebase_loader.py
  src/mcp_server_langgraph/context/conversation_loader.py
  src/mcp_server_langgraph/context/memory_loader.py
  tests/unit/context/__init__.py
  tests/unit/context/test_codebase_loader.py
  tests/unit/context/test_conversation_loader.py
  tests/unit/context/test_memory_loader.py
Labels: tests

feat(api): add WebSocket metrics batch endpoint for Prometheus integration
  src/mcp_server_langgraph/api/v1/websocket_metrics.py
Labels: none

.github/labeler.yml:

# Auto-labeler configuration for PRs
# Uses changed-files pattern matching

# Documentation
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'
      - '**/*.mdx'
      - 'docs/**/*'
      - 'mint.json'
      - '.mcp/*.json'

# Tests
tests:
  - changed-files:
    - any-glob-to-any-file:
      - 'tests/**/*'
      - '**/*test*.py'
      - 'test_*.py'
      - '*_test.py'
      - 'pytest.ini'
      - 'conftest.py'
      - 'TESTING.md'

# CI/CD
ci-cd:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**/*'
      - '.github/actions/**/*'
      - '.gitlab-ci.yml'
      - 'Makefile'
      - '.pre-commit-config.yaml'

# Dependencies
dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'requirements*.txt'
      - 'setup.py'
      - 'pyproject.toml'
      - 'poetry.lock'
      - 'package*.json'
      - 'yarn.lock'

# Docker
docker:
  - changed-files:
    - any-glob-to-any-file:
      - 'Dockerfile*'
      - 'docker-compose*.yml'
      - '.dockerignore'

# Kubernetes/Deployment
deployment:
  - changed-files:
    - any-glob-to-any-file:
      - 'kubernetes/**/*'
      - 'kustomize/**/*'
      - 'helm/**/*'
      - 'k8s/**/*'
      - 'KUBERNETES_DEPLOYMENT.md'
      - 'PRODUCTION_DEPLOYMENT.md'

# Authentication/Authorization
auth:
  - changed-files:
    - any-glob-to-any-file:
      - 'auth.py'
      - 'openfga_client.py'
      - 'setup_openfga.py'

# Secrets Management
secrets:
  - changed-files:
    - any-glob-to-any-file:
      - 'secrets_manager.py'
      - 'setup_infisical.py'

# Observability
observability:
  - changed-files:
    - any-glob-to-any-file:
      - 'observability.py'
      - 'health_check.py'
      - 'monitoring/**/*'
      - 'grafana/**/*'

# MCP Server
mcp:
  - changed-files:
    - any-glob-to-any-file:
      - 'mcp_server*.py'
      - 'examples/*client*.py'

# Agent/Core
agent:
  - changed-files:
    - any-glob-to-any-file:
      - 'agent.py'
      - 'graph.py'
      - 'models.py'
      - 'prompt*.py'

# Configuration
config:
  - changed-files:
    - any-glob-to-any-file:
      - 'config.py'
      - '.env*'
      - 'settings.py'
      - '*.yaml'
      - '*.yml'
      - '*.toml'
      - '*.ini'
      - '.editorconfig'

# Security
security:
  - changed-files:
    - any-glob-to-any-file:
      - 'auth.py'
      - 'secrets_manager.py'
      - 'openfga_client.py'
      - 'SECURITY*.md'
      - '.github/workflows/security-scan.yaml'
      - 'scripts/validate_production.py'

# Community
community:
  - changed-files:
    - any-glob-to-any-file:
      - 'CODE_OF_CONDUCT.md'
      - 'CONTRIBUTING.md'
      - 'DEVELOPMENT.md'
      - '.github/SUPPORT.md'
      - '.github/FUNDING.yml'
      - '.github/ISSUE_TEMPLATE/**/*'
      - '.github/PULL_REQUEST_TEMPLATE.md'
