Repository vishnu2kmohan/mcp-server-langgraph, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, tests, ci-cd, dependencies, docker, deployment, auth, secrets, observability, mcp, agent, config, security, community

fix(tests): correct timeout property test logic
  tests/property/test_resilience_properties.py
Labels: tests

add Benchmark (pytest) benchmark result for b1ebcb9e13dbd5e9e8207f1c1160af56c46cdf7c
  dev/bench/data.js
Labels: none

fix(ci): ensure consistent Hypothesis configuration across all workflows
  .github/workflows/ci.yaml
  .github/workflows/coverage-trend.yaml
Labels: ci-cd

add Benchmark (pytest) benchmark result for 6be70d68348db62a57ae8ac8a1664e8d09b995bd
  dev/bench/data.js
Labels: none

chore(ci): remove deprecated workflow files
  .github/workflows/DEPRECATED/ci-optimized.yaml
  .github/workflows/DEPRECATED/ci.old.yaml
Labels: ci-cd

add Benchmark (pytest) benchmark result for 2733ee98625e2c76e2c05cfc41ff7533fd3d35ee
  dev/bench/data.js
Labels: none

add Benchmark (pytest) benchmark result for 37a054429ddae482db79057350cdddd9f567dee4
  dev/bench/data.js
Labels: none

docs: comprehensive documentation audit and v2.8.0 release preparation
  .claude/memory/python-environment-usage.md
  .mintlifyignore
  adr/0030-resilience-patterns.md
  adr/README.md
  docs/.mintlifyignore
  docs/OPTIMIZATION_SUMMARY.md
  docs/advanced/contributing.mdx
  docs/advanced/development-setup.mdx
  docs/advanced/testing.mdx
  docs/architecture/adr-0001-llm-multi-provider.mdx
  docs/architecture/adr-0002-openfga-authorization.mdx
  docs/architecture/adr-0003-dual-observability.mdx
  docs/architecture/adr-0005-pydantic-ai-integration.mdx
  docs/architecture/adr-0006-session-storage-architecture.mdx
  docs/architecture/adr-0007-authentication-provider-pattern.mdx
  docs/architecture/adr-0008-infisical-secrets-management.mdx
  docs/architecture/adr-0009-feature-flag-system.mdx
  docs/architecture/adr-0010-langgraph-functional-api.mdx
  docs/architecture/adr-0014-pydantic-type-safety.mdx
  docs/architecture/adr-0017-error-handling-strategy.mdx
  docs/architecture/adr-0018-semantic-versioning-strategy.mdx
  docs/architecture/adr-0022-distributed-conversation-checkpointing.mdx
  docs/architecture/adr-0023-anthropic-tool-design-best-practices.mdx
  docs/architecture/adr-0024-agentic-loop-implementation.mdx
  docs/architecture/adr-0025-anthropic-best-practices-enhancements.mdx
  docs/architecture/adr-0026-lazy-observability-initialization.mdx
  docs/architecture/adr-0027-rate-limiting-strategy.mdx
  docs/architecture/adr-0028-caching-strategy.mdx
  docs/architecture/adr-0029-custom-exception-hierarchy.mdx
  docs/architecture/adr-0030-resilience-patterns.mdx
  docs/deployment/kubernetes/kustomize.mdx
  docs/getting-started/first-request.mdx
  docs/mint.json
  docs/releases/v2-7-0.mdx
  docs/releases/v2-8-0-notes.mdx
  docs/releases/v2-8-0.mdx
  docs/security/audit-checklist.mdx
  docs/security/compliance.mdx
  reports/OPTIMIZATION_SUMMARY.md
Labels: documentation

add Benchmark (pytest) benchmark result for 4b3f8fcd1300f02612dd4864c5b882fd45123d1a
  dev/bench/data.js
Labels: none

chore: finalize v2.8.0 release
  CHANGELOG.md
  pyproject.toml
Labels: documentation, dependencies, config

fix(docs): resolve all broken internal documentation links
  .github/CONTRIBUTING.md
  .github/ISSUE_TEMPLATE/question.md
  .github/SUPPORT.md
  adr/0027-rate-limiting-strategy.md
  adr/0028-caching-strategy.md
  adr/0029-custom-exception-hierarchy.md
  uv.lock
Labels: documentation, community

add Benchmark (pytest) benchmark result for 0f92fc8c740d639363cbe556494e68ff0f28244d
  dev/bench/data.js
Labels: none

fix(ci): resolve multi-arch manifest creation failures
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
Labels: ci-cd

add Benchmark (pytest) benchmark result for 8b62d306f2c6b292b53120b92c55d625a6705b4b
  dev/bench/data.js
Labels: none

chore(ci): pin GitHub Actions to latest versions
  .github/workflows/ci.yaml
  .github/workflows/coverage-trend.yaml
  .github/workflows/release.yaml
  .github/workflows/security-scan.yaml
Labels: ci-cd, security

docs: add v2.8.0 release documentation
  RELEASE_COMPLETION_v2.8.0.md
  RELEASE_NOTES_v2.8.0.md
Labels: documentation

add Benchmark (pytest) benchmark result for 831aa21fb3997ef14668405d26724e47bef54157
  dev/bench/data.js
Labels: none

docs: comprehensive documentation audit and cleanup
  docs-internal/DOCS_README.md
  docs-internal/OPTIMIZATION_IMPLEMENTATION_GUIDE.md
  docs-internal/releases-notes-archive/v2-8-0-notes.mdx
  docs/.mintlifyignore
  docs/architecture/overview.mdx
  docs/deployment/RELEASE_PROCESS.mdx
  docs/deployment/VERSION_COMPATIBILITY.mdx
  docs/deployment/VERSION_PINNING.mdx
  docs/deployment/VMWARE_RESOURCE_ESTIMATION.mdx
  docs/deployment/gdpr-storage-configuration.mdx
  docs/deployment/infisical-installation.mdx
  docs/deployment/model-configuration.mdx
  docs/development/integration-testing.mdx
  docs/diagrams/system-architecture.mdx
  docs/guides/uv-migration.mdx
  docs/mint.json
  docs/reference/development/build-verification.mdx
  docs/reference/development/ci-cd.mdx
  docs/reference/development/development.mdx
  docs/reference/development/github-actions.mdx
  docs/reference/development/ide-setup.mdx
  docs/reference/environment-variables.mdx
Labels: documentation

add Benchmark (pytest) benchmark result for 18a81bd65728d41f22ec21201db13b2fa8c4cc0c
  dev/bench/data.js
Labels: none

fix(ci): update optional deps test to check .mdx file
  .github/workflows/optional-deps-test.yaml
Labels: ci-cd

add Benchmark (pytest) benchmark result for 0a65e6be41de409089d03def3ca330060dc987c0
  dev/bench/data.js
Labels: none

chore(ci): update GitHub Actions to latest versions
  .github/actions/setup-python-deps/action.yml
  .github/workflows/quality-tests.yaml
  .github/workflows/release.yaml
  .github/workflows/stale.yaml
Labels: ci-cd

add Benchmark (pytest) benchmark result for 7e1efc9cbf06228a8224936e4a55201804d49e14
  dev/bench/data.js
Labels: none

docs(changelog): add GitHub Actions updates to v2.8.0 section
  CHANGELOG.md
Labels: documentation

add Benchmark (pytest) benchmark result for fca476a1787a28f1638da4c51dbebf057b6ab1ec
  dev/bench/data.js
Labels: none

fix(ci): load Docker images locally for PR testing
  .github/workflows/ci.yaml
Labels: ci-cd

add Benchmark (pytest) benchmark result for 7b687390e3394a3e289ac12922a632b3d871e69e
  dev/bench/data.js
Labels: none

feat(ci): improve Docker build robustness and reliability
  .github/workflows/ci.yaml
  docker/Dockerfile
Labels: ci-cd

add Benchmark (pytest) benchmark result for 21335ce2ce871fc357ba0075d66c34edbd56d4fa
  dev/bench/data.js
Labels: none

fix(ci): use full python path for distroless image testing
  .github/workflows/ci.yaml
Labels: ci-cd

add Benchmark (pytest) benchmark result for a1cb06d9800bc923781a0f65d1d3e0f04b395cc4
  dev/bench/data.js
Labels: none

fix(docker): add unique cache IDs to prevent apt lock contention
  docker/Dockerfile
Labels: none

add Benchmark (pytest) benchmark result for 7c8010d812ce07bf8daf0ebc771e9ef42f69a0a3
  dev/bench/data.js
Labels: none

fix(ci): increase docker-build timeout from 30 to 45 minutes
  .github/workflows/ci.yaml
Labels: ci-cd

add Benchmark (pytest) benchmark result for 854bd44a7fb43870b842b80bcfaf94e83a6aeddb
  dev/bench/data.js
Labels: none

fix(ci): use --entrypoint flag for distroless container testing
  .github/workflows/ci.yaml
Labels: ci-cd

add Benchmark (pytest) benchmark result for 14ab74b7f21265dc70b014dce6870ce77ee6633a
  dev/bench/data.js
Labels: none

fix(ci): use SHA tag for PR image testing instead of latest
  .github/workflows/ci.yaml
Labels: ci-cd

add Benchmark (pytest) benchmark result for 2524b98db3f5e4a879c432b2b52c5915c5d0915b
  dev/bench/data.js
Labels: none

debug(ci): add image verification step before testing
  .github/workflows/ci.yaml
Labels: ci-cd

.github/labeler.yml:

# Auto-labeler configuration for PRs
# Uses changed-files pattern matching

# Documentation
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'
      - '**/*.mdx'
      - 'docs/**/*'
      - 'mint.json'
      - '.mcp/*.json'

# Tests
tests:
  - changed-files:
    - any-glob-to-any-file:
      - 'tests/**/*'
      - '**/*test*.py'
      - 'test_*.py'
      - '*_test.py'
      - 'pytest.ini'
      - 'conftest.py'
      - 'TESTING.md'

# CI/CD
ci-cd:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**/*'
      - '.github/actions/**/*'
      - '.gitlab-ci.yml'
      - 'Makefile'
      - '.pre-commit-config.yaml'

# Dependencies
dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'requirements*.txt'
      - 'setup.py'
      - 'pyproject.toml'
      - 'poetry.lock'
      - 'package*.json'
      - 'yarn.lock'

# Docker
docker:
  - changed-files:
    - any-glob-to-any-file:
      - 'Dockerfile*'
      - 'docker-compose*.yml'
      - '.dockerignore'

# Kubernetes/Deployment
deployment:
  - changed-files:
    - any-glob-to-any-file:
      - 'kubernetes/**/*'
      - 'kustomize/**/*'
      - 'helm/**/*'
      - 'k8s/**/*'
      - 'KUBERNETES_DEPLOYMENT.md'
      - 'PRODUCTION_DEPLOYMENT.md'

# Authentication/Authorization
auth:
  - changed-files:
    - any-glob-to-any-file:
      - 'auth.py'
      - 'openfga_client.py'
      - 'setup_openfga.py'

# Secrets Management
secrets:
  - changed-files:
    - any-glob-to-any-file:
      - 'secrets_manager.py'
      - 'setup_infisical.py'

# Observability
observability:
  - changed-files:
    - any-glob-to-any-file:
      - 'observability.py'
      - 'health_check.py'
      - 'monitoring/**/*'
      - 'grafana/**/*'

# MCP Server
mcp:
  - changed-files:
    - any-glob-to-any-file:
      - 'mcp_server*.py'
      - 'examples/*client*.py'

# Agent/Core
agent:
  - changed-files:
    - any-glob-to-any-file:
      - 'agent.py'
      - 'graph.py'
      - 'models.py'
      - 'prompt*.py'

# Configuration
config:
  - changed-files:
    - any-glob-to-any-file:
      - 'config.py'
      - '.env*'
      - 'settings.py'
      - '*.yaml'
      - '*.yml'
      - '*.toml'
      - '*.ini'
      - '.editorconfig'

# Security
security:
  - changed-files:
    - any-glob-to-any-file:
      - 'auth.py'
      - 'secrets_manager.py'
      - 'openfga_client.py'
      - 'SECURITY*.md'
      - '.github/workflows/security-scan.yaml'
      - 'scripts/validate_production.py'

# Community
community:
  - changed-files:
    - any-glob-to-any-file:
      - 'CODE_OF_CONDUCT.md'
      - 'CONTRIBUTING.md'
      - 'DEVELOPMENT.md'
      - '.github/SUPPORT.md'
      - '.github/FUNDING.yml'
      - '.github/ISSUE_TEMPLATE/**/*'
      - '.github/PULL_REQUEST_TEMPLATE.md'
