Repository vishnu2kmohan/mcp-server-langgraph, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, tests, ci-cd, dependencies, docker, deployment, auth, secrets, observability, mcp, agent, config, security, community

fix(auth): handle UploadFile type in backchannel logout form data
  src/mcp_server_langgraph/api/v1/auth.py
Labels: none

fix(vectors): add type ignore for optional Vertex AI import
  src/mcp_server_langgraph/api/v1/vectors.py
Labels: none

test(audit): add commit and rollback mocks to session repository tests
  tests/unit/audit/test_session_managed_repository.py
Labels: tests

test(auth): add keycloak_public_url to mock settings
  tests/unit/auth/test_auth_factory.py
Labels: tests

refactor(test): convert LLM tests from sync invoke() to async ainvoke()
  tests/unit/llm/test_llm_fallback_kwargs.py
  tests/unit/llm/test_llm_metrics.py
Labels: tests

docs: add ADR-0070 for OpenFGA OIDC authentication migration
  docs/architecture/adr-0070-openfga-oidc-authentication.mdx
  docs/troubleshooting/openfga-oidc-troubleshooting.mdx
Labels: documentation

test(api): improve test naming and fix unused variables
  tests/api/test_connection_audit_log.py
  tests/api/test_connections_api.py
  tests/api/test_connections_bulk_api.py
Labels: tests

test(api): improve connection templates test naming
  tests/api/test_connection_templates.py
Labels: tests

chore: add .lighthouseci to gitignore
  .gitignore
Labels: none

fix(validators): exclude assertions from env var modification detection
  scripts/validators/check_test_environment_isolation.py
Labels: tests

feat(studio): enable Mermaid diagrams and Chart rendering in chat
  src/mcp_server_langgraph/studio/frontend/src/components/Chat/ChatMessages.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Chat/ChatMessages.tsx
Labels: none

test(observability): use monkeypatch for test environment isolation
  tests/integration/observability/test_lgtm_client_integration.py
Labels: tests

test(observability): complete monkeypatch migration for LGTM tests
  tests/integration/observability/test_lgtm_client_integration.py
Labels: tests

chore(pytest): add oidc marker for OIDC protocol tests
  pyproject.toml
Labels: dependencies, config

test(store): add totalCount increment tests for session creation
  src/mcp_server_langgraph/studio/frontend/src/store/slices/sessionSlice.test.ts
Labels: none

fix(store): only increment totalCount for genuinely new sessions
  src/mcp_server_langgraph/studio/frontend/src/store/slices/sessionSlice.ts
Labels: none

feat(studio): persist session ID in URL for navigation
  src/mcp_server_langgraph/studio/frontend/src/pages/ChatPage.tsx
Labels: none

feat(types): add SVG, audio, video, and executable artifact types
  src/mcp_server_langgraph/studio/frontend/src/types/artifacts.ts
Labels: none

feat(artifacts): add rich media artifact components with TDD tests
  src/mcp_server_langgraph/studio/frontend/src/components/Artifacts/AudioArtifact.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Artifacts/AudioArtifact.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Artifacts/ExecutableArtifact.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Artifacts/ExecutableArtifact.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Artifacts/SVGArtifact.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Artifacts/SVGArtifact.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Artifacts/VideoArtifact.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Artifacts/VideoArtifact.tsx
Labels: none

chore(deps): add dependencies for rich media artifact components
  src/mcp_server_langgraph/studio/frontend/package.json
Labels: none

chore(artifacts): export new artifact components from barrel file
  src/mcp_server_langgraph/studio/frontend/src/components/Artifacts/index.ts
  src/mcp_server_langgraph/studio/frontend/src/components/Chat/ChatMessages.tsx
Labels: none

test(chat): fix code block test for syntax highlighted tokens
  src/mcp_server_langgraph/studio/frontend/src/components/Chat/ChatMessages.test.tsx
Labels: none

feat(mcp): add transport protocol support for connections
  alembic/versions/i9j0k1l2m3n4_add_transport_and_stdio_fields.py
  src/mcp_server_langgraph/models/connection.py
  src/mcp_server_langgraph/repositories/cached_connections.py
  src/mcp_server_langgraph/repositories/connections.py
  src/mcp_server_langgraph/storage/models.py
  tests/integration/test_connections_repository.py
  tests/unit/repositories/test_cached_connections.py
  tests/unit/repositories/test_connections.py
Labels: tests

feat(mcp): implement OAuth2 discovery per MCP 2025-11-25 spec
  src/mcp_server_langgraph/mcp/oauth2_discovery.py
  src/mcp_server_langgraph/mcp/protected_resource.py
  src/mcp_server_langgraph/mcp/server_streamable.py
  tests/unit/mcp/test_oauth2_discovery.py
  tests/unit/mcp/test_protected_resource_endpoint.py
Labels: tests

feat(studio): comprehensive frontend updates for MCP and workflow
  scripts/run_pre_push_tests.py
  src/mcp_server_langgraph/api/routers.py
  src/mcp_server_langgraph/studio/frontend/package.json
  src/mcp_server_langgraph/studio/frontend/src/components/Artifacts/MDXArtifact.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Artifacts/index.ts
  src/mcp_server_langgraph/studio/frontend/src/components/Chat/ChatMessages.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Layout/Sidebar.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Layout/Sidebar.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/MCP/AddConnectionDialog.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/MCP/AddConnectionDialog.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/MCP/index.ts
  src/mcp_server_langgraph/studio/frontend/src/components/UI/Button.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Workflow/NodePalette.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Workflow/NodePalette.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Workflow/WorkflowCanvas.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Workflow/WorkflowCanvas.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Workflow/WorkflowMiniView.tsx
  src/mcp_server_langgraph/studio/frontend/src/config/version.ts
  src/mcp_server_langgraph/studio/frontend/src/mocks/handlers.ts
  src/mcp_server_langgraph/studio/frontend/src/pages/MCPPage.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/pages/MCPPage.tsx
  src/mcp_server_langgraph/studio/frontend/src/pages/WorkflowsPage.tsx
  src/mcp_server_langgraph/studio/frontend/src/store/slices/authSlice.test.ts
  src/mcp_server_langgraph/studio/frontend/src/store/slices/sessionSlice.ts
  src/mcp_server_langgraph/studio/frontend/src/types/connection.ts
  src/mcp_server_langgraph/studio/frontend/tailwind.config.ts
  src/mcp_server_langgraph/studio/frontend/vite.config.ts
  tests/api/test_connection_health_websocket.py
  tests/api/test_user_api.py
Labels: tests

feat(ui): add Badge and Card design system components
  src/mcp_server_langgraph/studio/frontend/package.json
  src/mcp_server_langgraph/studio/frontend/src/components/UI/Badge.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/UI/Badge.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/UI/Card.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/UI/Card.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/UI/index.ts
  tests/integration/test_dependencies_wiring.py
Labels: tests

feat(layout): add DockableLayout component for resizable panels
  src/mcp_server_langgraph/studio/frontend/src/components/Chat/ChatWorkspace.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Chat/ChatWorkspace.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Chat/index.ts
  src/mcp_server_langgraph/studio/frontend/src/components/Layout/DockableLayout.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Layout/DockableLayout.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Layout/index.ts
Labels: none

feat(chat): add interactive visualization components
  src/mcp_server_langgraph/studio/frontend/src/components/Chat/ChatSuggestions.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Chat/ChatSuggestions.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Chat/InteractiveChart.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Chat/InteractiveChart.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Chat/InteractiveMermaidDiagram.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Chat/InteractiveMermaidDiagram.tsx
Labels: none

feat(layout): add VS Code-style workspace components
  src/mcp_server_langgraph/studio/frontend/src/components/Layout/ActivityBar.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Layout/ActivityBar.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Layout/FocusMode.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Layout/FocusMode.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Layout/PanelTabs.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Layout/PanelTabs.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Layout/useWorkspace.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Layout/useWorkspace.tsx
Labels: none

feat(hooks): add useSessionAutoName for AI-powered session naming
  src/mcp_server_langgraph/studio/frontend/src/api/index.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useSessionAutoName.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/hooks/useSessionAutoName.ts
Labels: none

feat(chat): enhance MermaidDiagram with interactive controls
  src/mcp_server_langgraph/studio/frontend/src/components/Chat/ChatMessages.tsx
Labels: none

feat(chat): enhance visualization components with interactive controls
  src/mcp_server_langgraph/studio/frontend/src/components/Artifacts/InteractiveSVGArtifact.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Artifacts/InteractiveSVGArtifact.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Chat/ChatMessages.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/MCP/AddConnectionDialog.test.tsx
Labels: none

ci(hooks): add frontend-build validation to pre-push
  .claude/memory/pre-commit-hooks-catalog.md
  .pre-commit-config.yaml
Labels: documentation, ci-cd, config

fix(tests): improve singleton reset and OpenFGA auth detection
  tests/api/test_connection_health_websocket.py
  tests/conftest.py
  tests/integration/auth/conftest.py
  tests/integration/property/test_llm_properties.py
Labels: tests

feat(artifacts): enhance InteractiveSVGArtifact and LaTeXArtifact
  src/mcp_server_langgraph/studio/frontend/src/components/Artifacts/InteractiveSVGArtifact.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Artifacts/InteractiveSVGArtifact.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Artifacts/LaTeXArtifact.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Artifacts/LaTeXArtifact.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Artifacts/index.ts
Labels: none

refactor(chat): extract interactive components to separate modules
  src/mcp_server_langgraph/studio/frontend/src/components/Chat/ChatMessages.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Chat/ChatMessages.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Chat/InteractiveChart.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Chat/InteractiveChart.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Chat/InteractiveMermaidDiagram.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Chat/InteractiveMermaidDiagram.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Chat/index.ts
Labels: none

fix(tests): add Qdrant auth availability check for proper test skipping
  tests/integration/auth/test_qdrant_auth.py
Labels: tests

refactor(tests): centralize Qdrant auth check in conftest fixture
  tests/integration/auth/conftest.py
  tests/integration/auth/test_qdrant_auth.py
Labels: tests

feat(auth): add OAuth2 PKCE and PAR authentication with RFC compliance
  src/mcp_server_langgraph/api/v1/auth.py
  src/mcp_server_langgraph/studio/security/__init__.py
  tests/api/test_auth_oauth2.py
Labels: tests

feat(core): add UI feature flags with role-based access control
  src/mcp_server_langgraph/api/v1/features.py
  src/mcp_server_langgraph/core/feature_flags.py
  tests/unit/core/test_feature_flags_ui.py
Labels: tests

.github/labeler.yml:

# Auto-labeler configuration for PRs
# Uses changed-files pattern matching

# Documentation
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'
      - '**/*.mdx'
      - 'docs/**/*'
      - 'mint.json'
      - '.mcp/*.json'

# Tests
tests:
  - changed-files:
    - any-glob-to-any-file:
      - 'tests/**/*'
      - '**/*test*.py'
      - 'test_*.py'
      - '*_test.py'
      - 'pytest.ini'
      - 'conftest.py'
      - 'TESTING.md'

# CI/CD
ci-cd:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**/*'
      - '.github/actions/**/*'
      - '.gitlab-ci.yml'
      - 'Makefile'
      - '.pre-commit-config.yaml'

# Dependencies
dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'requirements*.txt'
      - 'setup.py'
      - 'pyproject.toml'
      - 'poetry.lock'
      - 'package*.json'
      - 'yarn.lock'

# Docker
docker:
  - changed-files:
    - any-glob-to-any-file:
      - 'Dockerfile*'
      - 'docker-compose*.yml'
      - '.dockerignore'

# Kubernetes/Deployment
deployment:
  - changed-files:
    - any-glob-to-any-file:
      - 'kubernetes/**/*'
      - 'kustomize/**/*'
      - 'helm/**/*'
      - 'k8s/**/*'
      - 'KUBERNETES_DEPLOYMENT.md'
      - 'PRODUCTION_DEPLOYMENT.md'

# Authentication/Authorization
auth:
  - changed-files:
    - any-glob-to-any-file:
      - 'auth.py'
      - 'openfga_client.py'
      - 'setup_openfga.py'

# Secrets Management
secrets:
  - changed-files:
    - any-glob-to-any-file:
      - 'secrets_manager.py'
      - 'setup_infisical.py'

# Observability
observability:
  - changed-files:
    - any-glob-to-any-file:
      - 'observability.py'
      - 'health_check.py'
      - 'monitoring/**/*'
      - 'grafana/**/*'

# MCP Server
mcp:
  - changed-files:
    - any-glob-to-any-file:
      - 'mcp_server*.py'
      - 'examples/*client*.py'

# Agent/Core
agent:
  - changed-files:
    - any-glob-to-any-file:
      - 'agent.py'
      - 'graph.py'
      - 'models.py'
      - 'prompt*.py'

# Configuration
config:
  - changed-files:
    - any-glob-to-any-file:
      - 'config.py'
      - '.env*'
      - 'settings.py'
      - '*.yaml'
      - '*.yml'
      - '*.toml'
      - '*.ini'
      - '.editorconfig'

# Security
security:
  - changed-files:
    - any-glob-to-any-file:
      - 'auth.py'
      - 'secrets_manager.py'
      - 'openfga_client.py'
      - 'SECURITY*.md'
      - '.github/workflows/security-scan.yaml'
      - 'scripts/validate_production.py'

# Community
community:
  - changed-files:
    - any-glob-to-any-file:
      - 'CODE_OF_CONDUCT.md'
      - 'CONTRIBUTING.md'
      - 'DEVELOPMENT.md'
      - '.github/SUPPORT.md'
      - '.github/FUNDING.yml'
      - '.github/ISSUE_TEMPLATE/**/*'
      - '.github/PULL_REQUEST_TEMPLATE.md'
