Repository vishnu2kmohan/mcp-server-langgraph, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, tests, ci-cd, dependencies, docker, deployment, auth, secrets, observability, mcp, agent, config, security, community

fix(opa): allow project namespaces in ResourceQuota validation
  deployments/policies/namespace-consistency.rego
Labels: none

fix(ci): exclude Helm templates from YAML validation
  .yamllint.yml
Labels: config

fix(ci): resolve OPA Rego recursion and YAML validation issues
  .github/workflows/validate-kubernetes.yaml
  deployments/policies/port-validation.rego
  deployments/policies/yaml-syntax.rego
Labels: ci-cd

fix(ci): complete OPA Rego and YAML validation fixes
  .yamllint.yml
  deployments/policies/port-validation.rego
Labels: config

fix(ci): resolve YAML validation and security placeholder issues
  .yamllint.yml
  deployments/argocd/gcp-multi-cluster-setup.yaml
  deployments/helm/values-production-gke.yaml
Labels: config

fix(security): enable read-only root filesystem for containers
  deployments/base/redis-session-deployment.yaml
  deployments/optimized/redis-session-deployment.yaml
  deployments/overlays/production-gke/deployment-patch.yaml
  deployments/overlays/staging/postgres-patch.yaml
  deployments/overlays/staging/qdrant-patch.yaml
  deployments/overlays/staging/redis-session-patch.yaml
Labels: none

fix(ci): resolve all Kubernetes validation failures
  .github/workflows/validate-kubernetes.yaml
  deployments/optimized/redis-session-deployment.yaml
  deployments/overlays/production-gke/deployment-patch.yaml
  deployments/overlays/staging-gke/deployment-patch.yaml
  deployments/policies/health-check-validation.rego
  deployments/policies/port-validation.rego
  docs/deployment/kubernetes/gke.mdx
Labels: documentation, ci-cd

fix(validation,docs): support both Optional[] and | None syntax, update ADR badge
  .githooks/pre-commit-dependency-validation
Labels: none

fix(tests): add pytest-xdist isolation markers and teardown methods
  tests/meta/test_validator_consistency.py
  tests/scripts/test_async_mocks_validator.py
  tests/scripts/test_memory_safety_validator.py
  tests/scripts/test_test_ids_validator.py
  tests/unit/documentation/test_file_naming_validator.py
  tests/unit/health/test_database_checks.py
Labels: tests

fix(tests): exempt api_fixtures.py from test ID validation and improve docstring examples
  tests/fixtures/api_fixtures.py
  tests/validation_lib/test_ids.py
Labels: tests

fix(tests): correct file naming validator test assumptions
  tests/unit/documentation/test_file_naming_validator.py
Labels: tests

fix(ci): cherry-pick OPA/K8s validation fixes and test improvements
  .githooks/pre-commit-dependency-validation
  .github/workflows/validate-kubernetes.yaml
  .yamllint.yml
  deployments/argocd/gcp-multi-cluster-setup.yaml
  deployments/base/redis-session-deployment.yaml
  deployments/helm/values-production-gke.yaml
  deployments/optimized/redis-session-deployment.yaml
  deployments/overlays/production-gke/deployment-patch.yaml
  deployments/overlays/staging-gke/deployment-patch.yaml
  deployments/overlays/staging/postgres-patch.yaml
  deployments/overlays/staging/qdrant-patch.yaml
  deployments/overlays/staging/redis-session-patch.yaml
  deployments/policies/health-check-validation.rego
  deployments/policies/namespace-consistency.rego
  deployments/policies/port-validation.rego
  deployments/policies/yaml-syntax.rego
  docs/deployment/kubernetes/gke.mdx
  tests/fixtures/api_fixtures.py
  tests/meta/test_validator_consistency.py
  tests/scripts/test_async_mocks_validator.py
  tests/scripts/test_memory_safety_validator.py
  tests/scripts/test_test_ids_validator.py
  tests/unit/documentation/test_file_naming_validator.py
  tests/unit/health/test_database_checks.py
  tests/validation_lib/test_ids.py
Labels: documentation, tests, ci-cd, config

fix(tests): resolve 24+ test failures across meta-tests, deployment, and security validation
  tests/deployment/test_staging_deployment_requirements.py
  tests/meta/test_codex_findings_validation.py
  tests/meta/test_codex_regression_prevention.py
  tests/meta/test_documentation_references.py
  tests/meta/test_local_ci_parity.py
  tests/test_docker_compose_validation.py
  tests/test_kubernetes_security.py
Labels: tests

fix(tests): resolve 5 more meta-test failures in CI parity validation
  tests/meta/test_local_ci_parity.py
Labels: tests

fix(tests): complete test_local_ci_parity.py remediation - all 73 tests pass
  tests/meta/test_local_ci_parity.py
Labels: tests

fix(tests): update test_validation_consolidation.py to match actual architecture
  tests/meta/test_validation_consolidation.py
Labels: tests

fix(tests): update test_makefile_prepush_parity.py to work with pre-commit framework
  tests/meta/test_makefile_prepush_parity.py
Labels: tests

fix(tests): update test_hook_sync_validation.py to work with pre-commit framework
  tests/meta/test_hook_sync_validation.py
Labels: tests

fix(tests): fix 2 meta-tests - orchestrator parallel check and MDX code block handling
  tests/meta/test_documentation_validation.py
  tests/meta/test_pre_push_orchestrator.py
Labels: tests

fix(tests): add pytest markers to 2 test files for CI visibility
  tests/unit/documentation/test_file_naming_validator.py
  tests/unit/health/test_database_checks.py
  tests/validation_lib/test_ids.py
Labels: tests

fix(tests): exempt test_ids.py from marker enforcement (validator library)
  tests/meta/test_marker_enforcement.py
Labels: tests

fix(scripts): remove path restriction in async mock validator
  scripts/check_async_mock_configuration.py
Labels: none

fix(docker): increase Keycloak healthcheck start_period to 60s
  docker-compose.test.yml
Labels: docker, config

fix(tests): exclude help-common from parallelization check
  tests/meta/test_makefile_parallelization.py
Labels: tests

fix(tests): add memory safety teardown to database validation integration test
  tests/integration/health/test_database_validation_integration.py
Labels: tests

fix(tests): update test_dependencies_wiring for new container API
  tests/unit/test_dependencies_wiring.py
Labels: tests

fix(tests): consolidate duplicate setup_test_environment fixture
  tests/integration/health/test_database_validation_integration.py
Labels: tests

fix(tests): add timeout override to performance meta-tests
  tests/meta/test_performance_regression_suite.py
  tests/meta/test_slow_test_detection.py
Labels: tests

fix(tests): mark mypy enforcement test as xfail until type errors are resolved
  tests/meta/test_mypy_enforcement.py
Labels: tests

fix(tests): meta-test infrastructure remediation - Phase 6 (#114)
  docker-compose.test.yml
  scripts/check_async_mock_configuration.py
  tests/deployment/test_staging_deployment_requirements.py
  tests/integration/health/test_database_validation_integration.py
  tests/meta/test_codex_findings_validation.py
  tests/meta/test_codex_regression_prevention.py
  tests/meta/test_documentation_references.py
  tests/meta/test_documentation_validation.py
  tests/meta/test_hook_sync_validation.py
  tests/meta/test_local_ci_parity.py
  tests/meta/test_makefile_parallelization.py
  tests/meta/test_makefile_prepush_parity.py
  tests/meta/test_marker_enforcement.py
  tests/meta/test_mypy_enforcement.py
  tests/meta/test_performance_regression_suite.py
  tests/meta/test_pre_push_orchestrator.py
  tests/meta/test_slow_test_detection.py
  tests/meta/test_validation_consolidation.py
  tests/test_docker_compose_validation.py
  tests/test_kubernetes_security.py
  tests/unit/documentation/test_file_naming_validator.py
  tests/unit/health/test_database_checks.py
  tests/unit/test_dependencies_wiring.py
  tests/validation_lib/test_ids.py
Labels: tests, docker, config

fix(tests): resolve integration test failures - PostgreSQL connection and K8s timeout
  scripts/test-integration.sh
  tests/integration/execution/test_kubernetes_sandbox.py
Labels: tests

fix(tests): add pytest-xdist isolation markers to prevent OOM
  tests/integration/health/test_database_validation_integration.py
  tests/test_postgres_connection_config.py
  tests/unit/documentation/test_file_naming_validator.py
  tests/unit/health/test_database_checks.py
Labels: tests

fix(ci): resolve pre-commit hook dependency and MDX syntax failures
  .pre-commit-config.yaml
Labels: ci-cd, config

fix(logging): avoid reserved 'message' field in LogRecord extra data
  src/mcp_server_langgraph/llm/pydantic_agent.py
Labels: none

fix(docs): resolve additional MDX syntax errors in gke.mdx
  docs/deployment/kubernetes/gke.mdx
Labels: documentation

fix(docs): correct MDX code block syntax in gke.mdx
  docs/deployment/kubernetes/gke.mdx
Labels: documentation

Revert "fix(docs): correct MDX code block syntax in gke.mdx"
  docs/deployment/kubernetes/gke.mdx
Labels: documentation

fix(ci): remove broken MDX syntax validator conflicting with Mintlify
  .github/workflows/docs-validation.yaml
Labels: ci-cd

fix(tests): add pytest markers and fix hardcoded paths for CI compatibility
  tests/meta/test_marker_enforcement.py
  tests/meta/test_performance_workflow_pytest_flags.py
  tests/meta/test_pytest_config_validation.py
  tests/meta/test_trivy_scans_rendered_manifests.py
  tests/meta/test_trivy_suppressions.py
  tests/test_ci_workflow_dependencies.py
  tests/unit/documentation/test_file_naming_validator.py
  tests/unit/health/test_database_checks.py
Labels: tests

fix(ci): make MyPy and integration tests optional in pre-push validation
  scripts/validate_pre_push_hook.py
Labels: none

.github/labeler.yml:

# Auto-labeler configuration for PRs
# Uses changed-files pattern matching

# Documentation
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'
      - '**/*.mdx'
      - 'docs/**/*'
      - 'mint.json'
      - '.mcp/*.json'

# Tests
tests:
  - changed-files:
    - any-glob-to-any-file:
      - 'tests/**/*'
      - '**/*test*.py'
      - 'test_*.py'
      - '*_test.py'
      - 'pytest.ini'
      - 'conftest.py'
      - 'TESTING.md'

# CI/CD
ci-cd:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**/*'
      - '.github/actions/**/*'
      - '.gitlab-ci.yml'
      - 'Makefile'
      - '.pre-commit-config.yaml'

# Dependencies
dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'requirements*.txt'
      - 'setup.py'
      - 'pyproject.toml'
      - 'poetry.lock'
      - 'package*.json'
      - 'yarn.lock'

# Docker
docker:
  - changed-files:
    - any-glob-to-any-file:
      - 'Dockerfile*'
      - 'docker-compose*.yml'
      - '.dockerignore'

# Kubernetes/Deployment
deployment:
  - changed-files:
    - any-glob-to-any-file:
      - 'kubernetes/**/*'
      - 'kustomize/**/*'
      - 'helm/**/*'
      - 'k8s/**/*'
      - 'KUBERNETES_DEPLOYMENT.md'
      - 'PRODUCTION_DEPLOYMENT.md'

# Authentication/Authorization
auth:
  - changed-files:
    - any-glob-to-any-file:
      - 'auth.py'
      - 'openfga_client.py'
      - 'setup_openfga.py'

# Secrets Management
secrets:
  - changed-files:
    - any-glob-to-any-file:
      - 'secrets_manager.py'
      - 'setup_infisical.py'

# Observability
observability:
  - changed-files:
    - any-glob-to-any-file:
      - 'observability.py'
      - 'health_check.py'
      - 'monitoring/**/*'
      - 'grafana/**/*'

# MCP Server
mcp:
  - changed-files:
    - any-glob-to-any-file:
      - 'mcp_server*.py'
      - 'examples/*client*.py'

# Agent/Core
agent:
  - changed-files:
    - any-glob-to-any-file:
      - 'agent.py'
      - 'graph.py'
      - 'models.py'
      - 'prompt*.py'

# Configuration
config:
  - changed-files:
    - any-glob-to-any-file:
      - 'config.py'
      - '.env*'
      - 'settings.py'
      - '*.yaml'
      - '*.yml'
      - '*.toml'
      - '*.ini'
      - '.editorconfig'

# Security
security:
  - changed-files:
    - any-glob-to-any-file:
      - 'auth.py'
      - 'secrets_manager.py'
      - 'openfga_client.py'
      - 'SECURITY*.md'
      - '.github/workflows/security-scan.yaml'
      - 'scripts/validate_production.py'

# Community
community:
  - changed-files:
    - any-glob-to-any-file:
      - 'CODE_OF_CONDUCT.md'
      - 'CONTRIBUTING.md'
      - 'DEVELOPMENT.md'
      - '.github/SUPPORT.md'
      - '.github/FUNDING.yml'
      - '.github/ISSUE_TEMPLATE/**/*'
      - '.github/PULL_REQUEST_TEMPLATE.md'
