Repository vishnu2kmohan/mcp-server-langgraph, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, tests, ci-cd, dependencies, docker, deployment, auth, secrets, observability, mcp, agent, config, security, community

.github/labeler.yml:

# Auto-labeler configuration for PRs
# Uses changed-files pattern matching

# Documentation
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'
      - '**/*.mdx'
      - 'docs/**/*'
      - 'mint.json'
      - '.mcp/*.json'

# Tests
tests:
  - changed-files:
    - any-glob-to-any-file:
      - 'tests/**/*'
      - '**/*test*.py'
      - 'test_*.py'
      - '*_test.py'
      - 'pytest.ini'
      - 'conftest.py'
      - 'TESTING.md'

# CI/CD
ci-cd:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**/*'
      - '.github/actions/**/*'
      - '.gitlab-ci.yml'
      - 'Makefile'
      - '.pre-commit-config.yaml'

# Dependencies
dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'requirements*.txt'
      - 'setup.py'
      - 'pyproject.toml'
      - 'poetry.lock'
      - 'package*.json'
      - 'yarn.lock'

# Docker
docker:
  - changed-files:
    - any-glob-to-any-file:
      - 'Dockerfile*'
      - 'docker-compose*.yml'
      - '.dockerignore'

# Kubernetes/Deployment
deployment:
  - changed-files:
    - any-glob-to-any-file:
      - 'kubernetes/**/*'
      - 'kustomize/**/*'
      - 'helm/**/*'
      - 'k8s/**/*'
      - 'KUBERNETES_DEPLOYMENT.md'
      - 'PRODUCTION_DEPLOYMENT.md'

# Authentication/Authorization
auth:
  - changed-files:
    - any-glob-to-any-file:
      - 'auth.py'
      - 'openfga_client.py'
      - 'setup_openfga.py'

# Secrets Management
secrets:
  - changed-files:
    - any-glob-to-any-file:
      - 'secrets_manager.py'
      - 'setup_infisical.py'

# Observability
observability:
  - changed-files:
    - any-glob-to-any-file:
      - 'observability.py'
      - 'health_check.py'
      - 'monitoring/**/*'
      - 'grafana/**/*'

# MCP Server
mcp:
  - changed-files:
    - any-glob-to-any-file:
      - 'mcp_server*.py'
      - 'examples/*client*.py'

# Agent/Core
agent:
  - changed-files:
    - any-glob-to-any-file:
      - 'agent.py'
      - 'graph.py'
      - 'models.py'
      - 'prompt*.py'

# Configuration
config:
  - changed-files:
    - any-glob-to-any-file:
      - 'config.py'
      - '.env*'
      - 'settings.py'
      - '*.yaml'
      - '*.yml'
      - '*.toml'
      - '*.ini'
      - '.editorconfig'

# Security
security:
  - changed-files:
    - any-glob-to-any-file:
      - 'auth.py'
      - 'secrets_manager.py'
      - 'openfga_client.py'
      - 'SECURITY*.md'
      - '.github/workflows/security-scan.yaml'
      - 'scripts/validate_production.py'

# Community
community:
  - changed-files:
    - any-glob-to-any-file:
      - 'CODE_OF_CONDUCT.md'
      - 'CONTRIBUTING.md'
      - 'DEVELOPMENT.md'
      - '.github/SUPPORT.md'
      - '.github/FUNDING.yml'
      - '.github/ISSUE_TEMPLATE/**/*'
      - '.github/PULL_REQUEST_TEMPLATE.md'

feat: update model configuration to gemini-2.5-flash and Claude 4.5 fallbacks
  .env.example
  src/mcp_server_langgraph/core/config.py
Labels: config

add Benchmark (pytest) benchmark result for 90d5159ca79c02a6d5d5976ab85d0089443a5b39
  dev/bench/data.js
Labels: none

chore: bump version to 2.7.0
  .env.example
  deployments/helm/mcp-server-langgraph/Chart.yaml
  deployments/helm/mcp-server-langgraph/values.yaml
  deployments/kubernetes/base/deployment.yaml
  deployments/kustomize/base/deployment.yaml
  deployments/kustomize/base/kustomization.yaml
  pyproject.toml
Labels: dependencies, config

docs: prepare CHANGELOG for v2.7.0 release
  CHANGELOG.md
Labels: documentation

add Benchmark (pytest) benchmark result for b49ea329946c331ca6b80a9855f0f088f8461a1a
  dev/bench/data.js
Labels: none

fix: remove unused asyncio import in agent.py
  src/mcp_server_langgraph/core/agent.py
Labels: none

add Benchmark (pytest) benchmark result for 55c2c1e5a9ef1c5af6c96429cfcaed15e126a2e2
  dev/bench/data.js
Labels: none

fix: correct import sorting in validate_documentation_links.py
  scripts/validate_documentation_links.py
Labels: none

add Benchmark (pytest) benchmark result for 088542d6f49df2ad3816b53f2014f78bba39cb8f
  dev/bench/data.js
Labels: none

fix: correct AsyncMock side_effect in integration test
  tests/integration/test_anthropic_enhancements_integration.py
Labels: tests

add Benchmark (pytest) benchmark result for e0c8af35f81c3b711a904171dc80e26fbd142b33
  dev/bench/data.js
Labels: none

docs: add v2.7.0 release summary and fix reports
  RELEASE_V2.7.0_FIX_SUMMARY.md
  RELEASE_V2.7.0_SUMMARY.md
Labels: documentation

add Benchmark (pytest) benchmark result for 645f749ef928a62070cbffb01fcd00565fc77292
  dev/bench/data.js
Labels: none

test: temporarily skip problematic integration tests for v2.7.0 release
  tests/integration/test_anthropic_enhancements_integration.py
Labels: tests

add Benchmark (pytest) benchmark result for cc213a1ea8e12997824e3d499aca65715b69a26f
  dev/bench/data.js
Labels: none

fix: resolve integration test failures and agent routing issues
  src/mcp_server_langgraph/core/agent.py
  tests/integration/test_anthropic_enhancements_integration.py
Labels: tests

add Benchmark (pytest) benchmark result for b34cc82a1bc0c7ddfa920ed3cd598ff927f9e6db
  dev/bench/data.js
Labels: none

fix: resolve 65 test failures, expand mypy strict mode, fix critical message handling bugs
  pyproject.toml
  src/mcp_server_langgraph/core/agent.py
  src/mcp_server_langgraph/core/context_manager.py
  src/mcp_server_langgraph/llm/factory.py
  src/mcp_server_langgraph/llm/verifier.py
  src/mcp_server_langgraph/mcp/server_stdio.py
  src/mcp_server_langgraph/observability/json_logger.py
  tests/integration/test_anthropic_enhancements_integration.py
  tests/integration/test_tool_improvements.py
  tests/test_agentic_loop_integration.py
  tests/test_context_manager.py
  tests/test_context_manager_llm.py
  tests/test_distributed_checkpointing.py
  tests/test_json_logger.py
  tests/test_parallel_executor.py
Labels: tests, dependencies, config

add Benchmark (pytest) benchmark result for 2016745c13cea6dbe18291590ed656b66521b901
  dev/bench/data.js
Labels: none

fix: synchronize release metadata and resolve critical implementation gaps
  README.md
  src/mcp_server_langgraph/__init__.py
  src/mcp_server_langgraph/auth/middleware.py
  src/mcp_server_langgraph/core/config.py
  src/mcp_server_langgraph/llm/factory.py
  src/mcp_server_langgraph/mcp/server_stdio.py
  src/mcp_server_langgraph/observability/telemetry.py
  tests/unit/test_conversation_retrieval.py
  tests/unit/test_llm_fallback_kwargs.py
  tests/unit/test_user_id_normalization.py
  tests/unit/test_version_sync.py
Labels: documentation, tests

add Benchmark (pytest) benchmark result for e356db4a07d03bdc47ce3adbadd1ee98b9ec609d
  dev/bench/data.js
Labels: none

fix: comprehensive lint/test validation and pre-commit synchronization
  .github/AGENTS.md
  .github/PULL_REQUEST_TEMPLATE.md
  .github/SUPPORT.md
  .github/workflows/build-hygiene.yml
  .pre-commit-config.yaml
  BREAKING_CHANGES.md
  CHANGELOG.md
  MIGRATION.md
  UNTRACKED_FILES_REVIEW.md
  adr/0005-pydantic-ai-integration.md
  docs/adr/ADR-0026-lazy-observability-initialization.md
  docs/deployment/model-configuration.md
  docs/favicon.svg
  docs/logo/dark.svg
  docs/logo/light.svg
  reports/DEPLOYMENT_UPDATE_SUMMARY.md
  reports/DOCUMENTATION_ANALYSIS_COMPREHENSIVE_20251017.md
  reports/FINAL_VALIDATION_REPORT_20251017.md
  reports/LINT_AND_TEST_ANALYSIS_20251017.md
  src/mcp_server_langgraph/auth/middleware.py
  src/mcp_server_langgraph/core/agent.py
  src/mcp_server_langgraph/core/config.py
  src/mcp_server_langgraph/llm/factory.py
  src/mcp_server_langgraph/mcp/server_stdio.py
  src/mcp_server_langgraph/observability/telemetry.py
  src/mcp_server_langgraph/secrets/manager.py
  tests/conftest.py
  tests/test_auth.py
  tests/unit/test_observability_lazy_init.py
  tests/unit/test_version_sync.py
Labels: documentation, tests, ci-cd, config, community

docs: comprehensive documentation cleanup and enhancement for v2.7.0
  .github/workflows/link-checker.yml
  .markdownlint.json
  COMMIT_DOCUMENTATION_CHANGES.sh
  archive/README.md
  docs/diagrams/system-architecture.md
  reports/DOCUMENTATION_COMPLETE_20251017.md
  reports/README.md
  scripts/check-links.py
Labels: documentation, ci-cd

docs: add ADR-0026 and v2.8.0 migration documentation
  adr/0026-lazy-observability-initialization.md
  adr/README.md
  docs/architecture/adr-0026-lazy-observability-initialization.mdx
  docs/mint.json
Labels: documentation

chore: remove duplicate docs/adr/ directory
  docs/adr/ADR-0026-lazy-observability-initialization.md
Labels: documentation

add Benchmark (pytest) benchmark result for 268e2049513fcc1751f455ab7db6872ffc3d53bb
  dev/bench/data.js
Labels: none

fix: resolve critical release blockers for v2.7.0
  .github/ISSUE_TEMPLATE/question.md
  .github/workflows/link-checker.yml
  READY_TO_PUSH_v2.7.0.md
  adr/0026-lazy-observability-initialization.md
  docs/architecture/adr-0004-mcp-streamable-http.mdx
  scripts/check-links.py
Labels: documentation, ci-cd, community

add Benchmark (pytest) benchmark result for dab9a4e9080b02d7b3930e3dd96ba72f82f8eb27
  dev/bench/data.js
Labels: none

chore: update all dependencies to latest stable versions
  .github/workflows/ci.yaml
  .github/workflows/pr-checks.yaml
  .github/workflows/quality-tests.yaml
  .github/workflows/security-scan.yaml
  pyproject.toml
  requirements-pinned.txt
  requirements-test.txt
  requirements.txt
Labels: ci-cd, dependencies, config, security

chore: update all dependencies to latest stable and fix all failing tests
  .github/workflows/ci.yaml
  .pre-commit-config.yaml
  CHANGELOG.md
  docker/docker-compose.yml
  pyproject.toml
  requirements-pinned.txt
  requirements-test.txt
  requirements.txt
  src/mcp_server_langgraph/auth/middleware.py
  tests/property/test_auth_properties.py
  tests/test_auth.py
  tests/test_auth_factory.py
  tests/test_user_provider.py
  tests/unit/test_conversation_retrieval.py
  tests/unit/test_llm_fallback_kwargs.py
  tests/unit/test_user_id_normalization.py
Labels: documentation, tests, ci-cd, dependencies, config

fix: resolve observability lazy initialization test failures
  tests/unit/test_observability_lazy_init.py
Labels: tests

fix: resolve OpenTelemetry dependency conflict with pydantic-ai/logfire
  CHANGELOG.md
  requirements-pinned.txt
  requirements.txt
  tests/unit/test_version_sync.py
Labels: documentation, tests, dependencies

docs: comprehensive documentation audit and remediation
  adr/0007-authentication-provider-pattern.md
  docs-internal/DOCUMENTATION_VERSIONING.md
  docs/architecture/adr-0001-llm-multi-provider.mdx
  docs/architecture/adr-0003-dual-observability.mdx
  docs/architecture/adr-0004-mcp-streamable-http.mdx
  docs/architecture/adr-0005-pydantic-ai-integration.mdx
  docs/architecture/adr-0006-session-storage-architecture.mdx
  docs/architecture/adr-0007-authentication-provider-pattern.mdx
  docs/architecture/adr-0008-infisical-secrets-management.mdx
  docs/architecture/adr-0009-feature-flag-system.mdx
  docs/architecture/adr-0010-langgraph-functional-api.mdx
  docs/architecture/adr-0012-compliance-framework-integration.mdx
  docs/architecture/adr-0014-pydantic-type-safety.mdx
  docs/architecture/adr-0017-error-handling-strategy.mdx
  docs/architecture/adr-0018-semantic-versioning-strategy.mdx
  docs/architecture/adr-0020-dual-mcp-transport-protocol.mdx
  docs/architecture/adr-0021-cicd-pipeline-strategy.mdx
  docs/architecture/adr-0022-distributed-conversation-checkpointing.mdx
  docs/architecture/adr-0023-anthropic-tool-design-best-practices.mdx
  docs/architecture/adr-0024-agentic-loop-implementation.mdx
  docs/architecture/adr-0025-anthropic-best-practices-enhancements.mdx
  docs/architecture/adr-0026-lazy-observability-initialization.mdx
  docs/guides/authentication-migration-v2-8.mdx
  docs/releases/v2-7-0.mdx
  reports/DOCUMENTATION_AUDIT_COMPLETE_20251017.md
  scripts/sync-adrs.py
  src/mcp_server_langgraph/auth/factory.py
  tests/test_config_validation.py
  tests/test_llm_factory_contract.py
Labels: documentation, tests

test: fix integration and unit tests for v2.7.0 release
  tests/integration/test_tool_improvements.py
  tests/test_context_manager_llm.py
  tests/test_json_logger.py
Labels: tests

fix: resolve GDPR API syntax errors and authentication requirements
  src/mcp_server_langgraph/api/gdpr.py
  src/mcp_server_langgraph/mcp/server_stdio.py
Labels: none

chore: prepare v2.7.0 release - comprehensive updates and fixes
  .github/workflows/link-checker.yml
  CODEBASE_ANALYSIS_REPORT.md
  DOCUMENTATION_AUDIT_COMPLETE_20251017.md
  MIGRATION.md
  README.md
  docs/mint.json
  docs/releases/overview.mdx
  examples/streamable_http_client.py
  pyproject.toml
  scripts/check-links.py
  scripts/openapi.json
  scripts/sync-adrs.py
  src/mcp_server_langgraph/auth/middleware.py
  src/mcp_server_langgraph/auth/user_provider.py
  src/mcp_server_langgraph/core/agent.py
  src/mcp_server_langgraph/core/config.py
  src/mcp_server_langgraph/core/context_manager.py
  src/mcp_server_langgraph/llm/factory.py
  src/mcp_server_langgraph/llm/verifier.py
  src/mcp_server_langgraph/mcp/server_streamable.py
  src/mcp_server_langgraph/observability/telemetry.py
  template/cookiecutter-summary.md
  tests/integration/test_gdpr_endpoints.py
  tests/performance/test_benchmarks.py
  tests/test_agent.py
  tests/test_context_manager.py
  tests/test_mcp_streamable.py
  tests/test_verifier.py
  tests/unit/test_observability_lazy_init.py
Labels: documentation, tests, ci-cd, dependencies, mcp, config

fix: resolve python-multipart dependency conflict blocking CI/CD
  CHANGELOG.md
  docs/deployment/gdpr-storage-configuration.md
  requirements-pinned.txt
  src/mcp_server_langgraph/api/gdpr.py
  src/mcp_server_langgraph/core/config.py
  tests/integration/test_gdpr_endpoints.py
Labels: documentation, tests, dependencies

add Benchmark (pytest) benchmark result for 75b532595210d877589dc9af37e56c50d730aebf
  dev/bench/data.js
Labels: none

fix: resolve GDPR integration test failures
  CHANGELOG.md
  src/mcp_server_langgraph/tools/__init__.py
  src/mcp_server_langgraph/tools/calculator_tools.py
  src/mcp_server_langgraph/tools/filesystem_tools.py
  src/mcp_server_langgraph/tools/search_tools.py
  tests/integration/test_gdpr_endpoints.py
  tests/test_response_optimizer.py
Labels: documentation, tests

add Benchmark (pytest) benchmark result for d2133d7e03dc66f39b46f751af7da9e0a6678902
  dev/bench/data.js
Labels: none
