Repository vishnu2kmohan/mcp-server-langgraph, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, tests, ci-cd, dependencies, docker, deployment, auth, secrets, observability, mcp, agent, config, security, community

test(core): add unit tests for time provider and feature flags
  tests/unit/core/test_feature_flags.py
  tests/unit/core/test_time_provider.py
Labels: tests

fix(tests): restore accidentally deleted calculator tools tests
  tests/unit/tools/test_calculator_tools.py
Labels: tests

fix(tests): remove duplicate time provider test file
  tests/unit/core/test_time_provider.py
Labels: tests

fix(tests): remove duplicate calculator_tools test file
  tests/unit/tools/test_calculator_tools.py
Labels: tests

fix(tests): correct Docker mock patches to target module namespace
  tests/unit/execution/test_docker_sandbox_unit.py
Labels: tests

fix(tests): fix flaky allowlist network mode test in xdist
  tests/unit/execution/test_docker_sandbox_unit.py
Labels: tests

fix(auth): add AuthRequestMiddleware to MCP server and fix Keycloak token extraction
  src/mcp_server_langgraph/app.py
  src/mcp_server_langgraph/mcp/server_streamable.py
  tests/e2e/test_full_user_journey.py
Labels: tests

fix(tests): resolve PR #121 CI failures for integration tests and link checker
  adr/README.md
  scripts/ci/check-links.py
  tests/conftest.py
  tests/integration/api/test_app_configuration.py
  tests/integration/test_bearer_scheme_diagnostic.py
  tests/meta/test_xfail_strict_enforcement.py
Labels: documentation, tests

fix(tests): suppress kubernetes client HTTPResponse.getheaders() deprecation warning
  adr/README.md
  pyproject.toml
  scripts/docs/generate_adr_index.py
Labels: documentation, dependencies, config

fix(tests): make settings injection test xdist-safe with equality check
  tests/unit/test_mcp_server_settings_injection.py
Labels: tests

ci(timeout): increase xdist-enforcement job timeout from 5 to 10 minutes
  .github/workflows/ci.yaml
Labels: ci-cd

docs: fix 23 broken documentation links across codebase
  CONTRIBUTING.md
  README.md
  deployments/QUICKSTART.md
  docs-internal/DOCS_VALIDATION_SIMPLIFICATION.md
  docs-internal/DUPLICATE_VALIDATOR_ANALYSIS_2025-11-16.md
  docs-internal/PYTESTMARK_GUIDELINES.md
  docs-internal/SESSION_2_COMPLETION_SUMMARY.md
  docs-internal/VALIDATOR_CONSOLIDATION_PLAN_2025-11-17.md
  docs-internal/architecture/agentic-loop-guide.md
  docs-internal/documentation-versioning.md
  docs-internal/migrations/MIGRATION.md
  docs-internal/operations/storage-backend-requirements.md
  docs-internal/sprints/todo-catalog.md
  docs-internal/testing/TESTING.md
  examples/README.md
  runbooks/keycloak-down.md
  runbooks/keycloak-slow.md
  runbooks/redis-down.md
  runbooks/redis-memory.md
  runbooks/redis-pool.md
  runbooks/session-errors.md
  scripts/ci/check-links.py
Labels: documentation, community

fix(deps): address Trivy security scan findings and dependency conflicts
  clients/go/go.mod
  clients/go/go.sum
  pyproject.toml
  uv.lock
Labels: dependencies, config

docs: fix 51 broken documentation links across 27 files
  CONTRIBUTING.md
  README.md
  deployments/GKE_OPERATIONAL_RUNBOOKS.md
  deployments/overlays/production-gke/README.md
  docs-internal/DOCS_VALIDATION_SIMPLIFICATION.md
  docs-internal/DUPLICATE_VALIDATOR_ANALYSIS_2025-11-16.md
  docs-internal/IMPLEMENTATION_SUMMARY.md
  docs-internal/PYTESTMARK_GUIDELINES.md
  docs-internal/ROADMAP.md
  docs-internal/VALIDATOR_CONSOLIDATION_PLAN_2025-11-17.md
  docs-internal/architecture/agentic-loop-guide.md
  docs-internal/audits/VALIDATION-REPORT.md
  docs-internal/breaking-changes.md
  docs-internal/docs-readme.md
  docs-internal/migrations/MIGRATION.md
  docs-internal/operations/POD_FAILURE_PREVENTION_IMPLEMENTATION_SUMMARY.md
  docs-internal/operations/STAGING_DEPLOYMENT_FIX_REPORT.md
  docs-internal/operations/storage-backend-requirements.md
  docs-internal/sprints/todo-catalog.md
  examples/README.md
  scripts/README.md
  terraform/IMPLEMENTATION_SUMMARY.md
  terraform/modules/aks/README.md
  terraform/modules/eks/README.md
  terraform/modules/vpc/README.md
  tests/DOCKER_IMAGE_STALENESS_GUIDE.md
  tests/benchmarks/README.md
Labels: documentation, tests, community

docs: fix 8 low-priority broken documentation links across 6 files
  CHANGELOG.md
  docs-internal/DOCUMENTATION_VALIDATION_GUIDE.md
  docs-internal/ROADMAP.md
  docs-internal/VALIDATION_INFRASTRUCTURE.md
  scripts/README.md
  tests/MIGRATION_GUIDE.md
Labels: documentation, tests

perf(hooks): consolidate 21 pytest invocations into 1 for pre-push
  .pre-commit-config.yaml
  scripts/run_pre_push_tests.py
Labels: tests, ci-cd, config

perf(tests): fix freezegun CPU issues with model_validator pattern
  src/mcp_server_langgraph/core/interrupts/approval.py
  src/mcp_server_langgraph/integrations/alerting.py
  tests/core/interrupts/test_interrupts.py
Labels: tests

fix(ci): Python 3.10 compatibility + validation markers + mypy fixes
  .github/workflows/ci.yaml
  .pre-commit-config.yaml
  Makefile
  src/mcp_server_langgraph/auth/api_keys.py
  src/mcp_server_langgraph/auth/session.py
  src/mcp_server_langgraph/core/cache.py
  src/mcp_server_langgraph/core/checkpoint_validator.py
  src/mcp_server_langgraph/core/dependencies.py
  src/mcp_server_langgraph/core/dynamic_context_loader.py
  src/mcp_server_langgraph/core/interrupts/approval.py
  src/mcp_server_langgraph/core/storage/conversation_store.py
  tests/builder/api/test_server.py
  tests/deployment/test_cloud_sql_proxy_config.py
  tests/deployment/test_codex_findings_validation.py
  tests/deployment/test_configmap_secret_validation.py
  tests/deployment/test_external_secrets_template_validation.py
  tests/deployment/test_helm_configuration.py
  tests/deployment/test_helm_placeholder_validation.py
  tests/deployment/test_helm_templates.py
  tests/deployment/test_kustomize_build.py
  tests/deployment/test_kustomize_builds.py
  tests/deployment/test_network_policies.py
  tests/deployment/test_placeholder_validation.py
  tests/deployment/test_security_hardening.py
  tests/deployment/test_service_accounts.py
  tests/deployment/test_service_dependencies.py
  tests/deployment/test_serviceaccount_naming_regression.py
  tests/deployment/test_staging_deployment_requirements.py
  tests/meta/ci/test_marker_consistency.py
  tests/meta/test_plugin_guards.py
  tests/meta/test_pytest_config_consistency.py
  tests/meta/test_run_pre_push_tests.py
  tests/meta/validation/test_ci_cd_validation.py
  tests/meta/validation/test_deployment_manifests.py
  tests/meta/validation/test_docker_compose_validation.py
  tests/meta/validation/test_gitleaks_config.py
  tests/meta/validation/test_kubernetes_security.py
  tests/meta/validation/test_link_checker.py
  tests/meta/validation/test_path_validation.py
  tests/meta/validation/test_yaml_syntax.py
Labels: tests, ci-cd, config

fix(ci): add types-PyYAML + xdist_group markers + ast_cache optimization
  pyproject.toml
  src/mcp_server_langgraph/__init__.py
  tests/integration/compliance/test_postgres_audit_log_store.py
  tests/integration/compliance/test_postgres_consent_store.py
  tests/integration/compliance/test_postgres_conversation_store.py
  tests/integration/compliance/test_postgres_preferences_store.py
  tests/integration/compliance/test_postgres_user_profile_store.py
  tests/integration/patterns/test_supervisor.py
  tests/integration/patterns/test_swarm.py
  tests/integration/test_pydantic_ai.py
  tests/integration/test_workflow_health_dashboard.py
  tests/integration/test_workflow_health_dashboard_bc_fix.py
  tests/meta/test_codex_regression_prevention.py
  tests/meta/test_marker_enforcement.py
  tests/meta/test_pytest_xdist_enforcement.py
  tests/meta/test_suite_validation.py
  tests/unit/core/test_agent_type_safety.py
  tests/unit/test_dependencies_wiring.py
  tests/validation_lib/__init__.py
  tests/validation_lib/ast_cache.py
  uv.lock
Labels: tests, dependencies, config

chore: suppress litellm Pydantic V1 deprecation warning
  pyproject.toml
Labels: dependencies, config

fix(hooks): comprehensive pre-commit/pre-push remediation
  .github/actions/setup-python-deps/action.yml
  .github/workflows/local-preflight-check.yaml
  .pre-commit-config.yaml
  Makefile
  mise.toml
  pyproject.toml
  run_audit.sh
  scripts/run_pre_push_tests.py
  src/mcp_server_langgraph/core/storage/conversation_store.py
  tests/meta/test_hook_tool_requirements.py
  tests/meta/test_mypy_enforcement.py
  tests/meta/test_run_pre_push_tests.py
  tests/unit/core/test_agent_type_safety.py
  uv.lock
Labels: tests, ci-cd, dependencies, config

fix(tests): remove class scope from fixtures to avoid scope mismatch
  tests/meta/test_hook_tool_requirements.py
Labels: tests

fix(types): resolve MyPy Redis type errors for types-redis stubs
  src/mcp_server_langgraph/auth/api_keys.py
  src/mcp_server_langgraph/auth/session.py
  src/mcp_server_langgraph/core/cache.py
  src/mcp_server_langgraph/core/checkpoint_validator.py
  src/mcp_server_langgraph/core/dependencies.py
  src/mcp_server_langgraph/core/storage/conversation_store.py
Labels: none

fix(ci): add --frozen to install-dev + fix xdist logger patching
  Makefile
  tests/unit/execution/test_docker_sandbox_unit.py
Labels: tests, ci-cd

refactor(docker,ci): consolidate to uv sync --frozen for consistency
  .github/workflows/ci.yaml
  .github/workflows/deploy-staging-gke.yaml
  .github/workflows/docs-validation.yaml
  .github/workflows/integration-tests.yaml
  .github/workflows/local-preflight-check.yaml
  .github/workflows/validate-k8s-configs.yml
  .github/workflows/validate-kubernetes.yaml
  docker/Dockerfile
  docker/Dockerfile.test
  docs/deployment/operations/issue-prevention.mdx
  pyproject.toml
  tests/meta/infrastructure/test_docker_paths.py
  tests/meta/test_dockerfile_uv_sync.py
  uv.lock
Labels: documentation, tests, ci-cd, dependencies, config

feat(python): drop Python 3.10, add 3.13 support (3.11-3.13)
  .github/workflows/ci.yaml
  CONTRIBUTING.md
  README.md
  docs-internal/developer-onboarding.md
  docs/development/onboarding.mdx
  docs/getting-started/installation.mdx
  docs/reference/development/build-verification.mdx
  pyproject.toml
  src/mcp_server_langgraph/cli/init.py
  uv.lock
Labels: documentation, ci-cd, dependencies, config, community

fix(tests): correct fixture scope resolution to follow pytest lookup order
  tests/meta/test_fixture_validation.py
Labels: tests

refactor: remove tomli backport for Python 3.10 compatibility
  .pre-commit-hooks/check_banned_imports.py
  clients/python/setup.py
  docs/advanced/testing.mdx
  scripts/validators/check_version_consistency.py
  scripts/validators/validate_async_fixture_scope.py
  scripts/validators/validate_pytest_markers.py
  src/mcp_server_langgraph/__init__.py
  tests/meta/ci/test_ci_workflow_dependencies.py
  tests/meta/test_codex_config_validation.py
  tests/meta/test_codex_findings_validation.py
  tests/meta/test_hook_tool_requirements.py
  tests/meta/test_performance_workflow_pytest_flags.py
  tests/meta/test_pytest_config_validation.py
  tests/meta/test_pytest_marker_registration.py
  tests/meta/validation/test_gitleaks_config.py
  tests/regression/test_dev_dependencies.py
  tests/unit/test_version_sync.py
Labels: documentation, tests

fix(ci): install all required tools for push-stage validators
  .github/workflows/ci.yaml
  mise.toml
  tests/meta/test_hook_tool_requirements.py
Labels: tests, ci-cd, config

docs: update Python version references from 3.10 to 3.11
  .github/ACT_USAGE.md
  .github/CONTRIBUTING.md
  .github/ISSUE_TEMPLATE/bug_report.yaml
  .github/actions/setup-python-deps/action.yml
  .github/checklists/DEPENDENCY_UPDATE.md
  .github/workflows/ci.yaml
Labels: documentation, ci-cd, community

fix(tests): move mock assertion inside context manager for xdist isolation
  tests/unit/execution/test_docker_sandbox_unit.py
Labels: tests

fix(ci): add 'v' prefix to helm and kubectl version strings
  .github/workflows/ci.yaml
Labels: ci-cd

fix(ci): improve extras parsing in setup-python-deps action
  .github/actions/setup-python-deps/action.yml
Labels: ci-cd

fix(ci): use astral-sh/setup-uv built-in caching for reproducible builds
  .github/actions/setup-python-deps/action.yml
Labels: ci-cd

fix(tests): resolve xdist module caching issues for CI reliability
  src/mcp_server_langgraph/mcp/server_streamable.py
  src/mcp_server_langgraph/patterns/swarm.py
  tests/unit/execution/test_docker_sandbox_unit.py
  tests/unit/test_mcp_server_settings_injection.py
Labels: tests

fix(ci): upgrade uv to 0.9.13 to fix Python version cache mismatch
  .github/actions/setup-python-deps/action.yml
Labels: ci-cd

fix(ci): add uv cache pruning for CI optimization
  .github/actions/setup-python-deps/action.yml
Labels: ci-cd

fix(codeql): resolve CodeQL alerts and enable Ruff RUF rules
  pyproject.toml
  scripts/dev/add_xdist_markers_bulk.py
  src/mcp_server_langgraph/llm/pydantic_agent.py
  tests/deployment/test_kustomize_builds.py
  tests/meta/test_e2e_keycloak_setup.py
Labels: tests, dependencies, config

fix(codeql): resolve CodeQL alerts and enable Ruff RUF rules
  pyproject.toml
Labels: dependencies, config

fix(security): run Docker sandbox as non-root user
  src/mcp_server_langgraph/execution/docker_sandbox.py
Labels: none

.github/labeler.yml:

# Auto-labeler configuration for PRs
# Uses changed-files pattern matching

# Documentation
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'
      - '**/*.mdx'
      - 'docs/**/*'
      - 'mint.json'
      - '.mcp/*.json'

# Tests
tests:
  - changed-files:
    - any-glob-to-any-file:
      - 'tests/**/*'
      - '**/*test*.py'
      - 'test_*.py'
      - '*_test.py'
      - 'pytest.ini'
      - 'conftest.py'
      - 'TESTING.md'

# CI/CD
ci-cd:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**/*'
      - '.github/actions/**/*'
      - '.gitlab-ci.yml'
      - 'Makefile'
      - '.pre-commit-config.yaml'

# Dependencies
dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'requirements*.txt'
      - 'setup.py'
      - 'pyproject.toml'
      - 'poetry.lock'
      - 'package*.json'
      - 'yarn.lock'

# Docker
docker:
  - changed-files:
    - any-glob-to-any-file:
      - 'Dockerfile*'
      - 'docker-compose*.yml'
      - '.dockerignore'

# Kubernetes/Deployment
deployment:
  - changed-files:
    - any-glob-to-any-file:
      - 'kubernetes/**/*'
      - 'kustomize/**/*'
      - 'helm/**/*'
      - 'k8s/**/*'
      - 'KUBERNETES_DEPLOYMENT.md'
      - 'PRODUCTION_DEPLOYMENT.md'

# Authentication/Authorization
auth:
  - changed-files:
    - any-glob-to-any-file:
      - 'auth.py'
      - 'openfga_client.py'
      - 'setup_openfga.py'

# Secrets Management
secrets:
  - changed-files:
    - any-glob-to-any-file:
      - 'secrets_manager.py'
      - 'setup_infisical.py'

# Observability
observability:
  - changed-files:
    - any-glob-to-any-file:
      - 'observability.py'
      - 'health_check.py'
      - 'monitoring/**/*'
      - 'grafana/**/*'

# MCP Server
mcp:
  - changed-files:
    - any-glob-to-any-file:
      - 'mcp_server*.py'
      - 'examples/*client*.py'

# Agent/Core
agent:
  - changed-files:
    - any-glob-to-any-file:
      - 'agent.py'
      - 'graph.py'
      - 'models.py'
      - 'prompt*.py'

# Configuration
config:
  - changed-files:
    - any-glob-to-any-file:
      - 'config.py'
      - '.env*'
      - 'settings.py'
      - '*.yaml'
      - '*.yml'
      - '*.toml'
      - '*.ini'
      - '.editorconfig'

# Security
security:
  - changed-files:
    - any-glob-to-any-file:
      - 'auth.py'
      - 'secrets_manager.py'
      - 'openfga_client.py'
      - 'SECURITY*.md'
      - '.github/workflows/security-scan.yaml'
      - 'scripts/validate_production.py'

# Community
community:
  - changed-files:
    - any-glob-to-any-file:
      - 'CODE_OF_CONDUCT.md'
      - 'CONTRIBUTING.md'
      - 'DEVELOPMENT.md'
      - '.github/SUPPORT.md'
      - '.github/FUNDING.yml'
      - '.github/ISSUE_TEMPLATE/**/*'
      - '.github/PULL_REQUEST_TEMPLATE.md'
