Repository vishnu2kmohan/mcp-server-langgraph, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, tests, ci-cd, dependencies, docker, deployment, auth, secrets, observability, mcp, agent, config, security, community

chore(scripts): add AI config verification and sync check scripts
  scripts/sync-ai-config.sh
  scripts/verify-ai-config.sh
Labels: none

docs(ai-config): apply Vercel AGENTS.md best practices
  .ai/CORE.md
  .claude/CLAUDE.md
  .cursorrules
  .github/copilot-instructions.md
  AGENTS.md
Labels: documentation

feat(frontend): add test cleanup fix script with security hardening
  src/mcp_server_langgraph/studio/frontend/package.json
  src/mcp_server_langgraph/studio/frontend/scripts/fix-test-cleanup.ts
Labels: none

test(backend): add noqa comments for sleep-duration in timeout tests
  tests/integration/dataflow/test_mcp_tool_execution_flow_e2e.py
  tests/integration/test_skill_execution.py
  tests/integration/websocket/test_websocket_resilience.py
  tests/unit/bootstrap/test_context_graph_bootstrap.py
  tests/unit/core/test_cache_resilience.py
  tests/unit/mcp/test_mcp_executor.py
Labels: tests

chore(ruff): document custom noqa code limitation
  pyproject.toml
Labels: dependencies, config

feat(feature-flags): add enable_agent_execution_tracing flag
  src/mcp_server_langgraph/core/feature_flags.py
Labels: none

feat(bootstrap): add agent execution tracing repository initialization
  src/mcp_server_langgraph/bootstrap/__init__.py
  src/mcp_server_langgraph/bootstrap/agent_execution_tracing.py
  src/mcp_server_langgraph/bootstrap/context_graph.py
Labels: none

feat(chat): wire emit_agent_execution_trace and persist token usage
  src/mcp_server_langgraph/api/v1/chat.py
Labels: none

fix(frontend): prevent message duplication in streaming
  src/mcp_server_langgraph/studio/frontend/src/conversation/ConnectedConversationPanel.messageDedup.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/conversation/ConnectedConversationPanel.tsx
Labels: none

fix(devtools): add WebSocket reconnection with HTTP polling fallback
  src/mcp_server_langgraph/studio/frontend/src/components/DevTools/hooks/useDevToolsWebSocket.test.ts
  src/mcp_server_langgraph/studio/frontend/src/components/DevTools/hooks/useDevToolsWebSocket.ts
Labels: none

test(tracing): add agent execution tracing unit tests
  tests/unit/api/v1/test_agent_execution_tracing.py
Labels: tests

chore(test): enable agent execution tracing in test environment
  .env.test
Labels: config

refactor(commands): migrate 10 commands to user-level skills
  .claude/commands/ci-status.md
  .claude/commands/code-review.md
  .claude/commands/coverage-gaps.md
  .claude/commands/docs-audit.md
  .claude/commands/explore-codebase.md
  .claude/commands/knowledge-search.md
  .claude/commands/plan-review.md
  .claude/commands/plan-status.md
  .claude/commands/test-status.md
  .claude/commands/troubleshoot.md
  tests/meta/test_claude_code_configuration.py
  tests/meta/test_slash_commands.py
Labels: documentation, tests

fix(docs): cross-platform portability remediation
  .claude/QUICK_REFERENCE.md
  .claude/README.md
  .claude/SETTINGS.md
  .claude/commands/README.md
  .claude/commands/analytics.md
  .claude/commands/benchmark.md
  .claude/commands/coverage-trend.md
  .claude/commands/db-operations.md
  .claude/commands/deploy.md
  .claude/commands/improve-coverage.md
  .claude/commands/progress-update.md
  .claude/commands/quick-debug.md
  .claude/commands/refresh-context.md
  .claude/commands/release-prep.md
  .claude/commands/security-scan-report.md
  .claude/commands/setup-env.md
  .claude/commands/test-failure-analysis.md
  .claude/commands/test-summary.md
  .claude/commands/todo-status.md
  .claude/commands/type-safety-status.md
  .claude/commands/validate.md
  .claude/commands/verify-tests.md
  .claude/context/pytest-markers.md
  .claude/context/test-constants-pattern.md
  .claude/context/xdist-safety-patterns.md
  .claude/memory/ai-cli-tool-patterns.md
  .claude/memory/anti-patterns.md
  .claude/memory/decision-trees.md
  .claude/memory/distroless-container-healthchecks.md
  .claude/memory/efficient-tool-usage.md
  .claude/memory/helm-chart-validation.md
  .claude/memory/keycloak-oidc-issuer-pattern.md
  .claude/memory/lgtm-stack-lessons.md
  .claude/memory/make-targets.md
  .claude/memory/python-environment-usage.md
  .claude/templates/README.md
Labels: documentation

ci(docs): add portability check workflow
  .github/workflows/docs-portability-check.yml
Labels: ci-cd

feat(observability): add SessionPropagatingSpanProcessor for DevTools traces
  pyproject.toml
  src/mcp_server_langgraph/observability/__init__.py
  src/mcp_server_langgraph/observability/session_propagating_span_processor.py
  src/mcp_server_langgraph/observability/telemetry.py
  tests/conftest.py
  tests/unit/observability/test_session_propagating_span_processor.py
Labels: tests, dependencies, config

fix(websocket): wire session_id filter in trace handler
  src/mcp_server_langgraph/observability/trace_broadcaster.py
  src/mcp_server_langgraph/websocket/handlers/trace.py
Labels: none

fix(tests): correct wiring test expectations to match implementation
  tests/unit/observability/query/test_lgtm_backends.py
  tests/unit/observability/test_broadcasting_span_processor.py
  tests/unit/observability/test_metrics_query_wiring.py
  tests/unit/observability/test_observability_wiring_gaps.py
Labels: tests

refactor(tests): move gRPC and benchmark tests to appropriate directories
  tests/benchmarks/test_json_logger_performance.py
  tests/integration/test_otlp_grpc_exporter.py
  tests/unit/observability/test_json_logger.py
  tests/unit/observability/test_telemetry_protocol_detection.py
Labels: tests

test(integration): add DevTools trace emission integration tests
  tests/integration/test_devtools_trace_emission.py
Labels: tests

fix(deps): patch critical npm vulnerability in brace-expansion
  src/mcp_server_langgraph/studio/frontend/package-lock.json
Labels: none

chore(.claude): consolidate project documentation and memory files
  .claude/CLAUDE.md
  .claude/commands/README.md
  .claude/context/code-patterns.md
  .claude/context/pytest-markers.md
  .claude/context/test-constants-pattern.md
  .claude/context/testing-patterns.md
  .claude/context/xdist-safety-patterns.md
  .claude/memory/ai-cli-tool-patterns.md
  .claude/memory/anti-patterns.md
  .claude/memory/context-efficiency.md
  .claude/memory/decision-trees.md
  .claude/memory/distroless-container-healthchecks.md
  .claude/memory/efficient-tool-usage.md
  .claude/memory/execution-mode-patterns.md
  .claude/memory/feature-flag-conventions.md
  .claude/memory/frontend-component-patterns.md
  .claude/memory/frontmatter-conventions.md
  .claude/memory/gke-infrastructure-testing.md
  .claude/memory/helm-chart-validation.md
  .claude/memory/keycloak-oidc-issuer-pattern.md
  .claude/memory/kustomize-nameprefix-gotchas.md
  .claude/memory/lgtm-stack-lessons.md
  .claude/memory/make-targets.md
  .claude/memory/python-environment-usage.md
  .claude/memory/rollup-circular-dependency-pattern.md
  .claude/memory/session-workflow-patterns.md
  .claude/memory/task-spawn-error-prevention-strategy.md
  .claude/memory/validation-strategy.md
Labels: documentation

chore(docs): update frontend style guide
  docs-internal/frontend/STYLE.md
Labels: documentation

feat(frontend): add tools multi-select submenu and model display utilities
  src/mcp_server_langgraph/studio/frontend/package-lock.json
  src/mcp_server_langgraph/studio/frontend/package.json
  src/mcp_server_langgraph/studio/frontend/scripts/check-test-file-size.sh
  src/mcp_server_langgraph/studio/frontend/src/components/Chat/ChatDocument.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Chat/ChatInput.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Chat/ChatInput.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Chat/ChatInputForm.modelFlow.e2e.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Chat/ChatInputForm.modelSelection.integration.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Chat/ChatInputForm.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Chat/HeaderModelSelector.integration.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Chat/HeaderModelSelector.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Chat/HeaderModelSelector.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Chat/PreferencesMenu.stories.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Chat/PreferencesMenu.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Chat/PreferencesMenu.tsx
  src/mcp_server_langgraph/studio/frontend/src/conversation/ConnectedChatInputForm.core.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/conversation/ConnectedChatInputForm.features.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/conversation/ConnectedChatInputForm.integration.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/conversation/ConnectedChatInputForm.telemetry.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/conversation/ConnectedChatInputForm.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/conversation/ConnectedChatInputForm.toolSelection.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/types/api.ts
  src/mcp_server_langgraph/studio/frontend/src/types/index.ts
  src/mcp_server_langgraph/studio/frontend/src/utils/modelDisplay.test.ts
  src/mcp_server_langgraph/studio/frontend/src/utils/modelDisplay.ts
  src/mcp_server_langgraph/studio/frontend/tailwind.config.ts
Labels: none

fix(tests): resolve pre-existing Chat component test failures
  src/mcp_server_langgraph/studio/frontend/scripts/check-test-file-size.sh
  src/mcp_server_langgraph/studio/frontend/src/components/Chat/AgentTraceToggleButton.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Chat/ChatDocument.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Chat/ChatMessages.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Chat/ExportButton.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Chat/InteractiveChart.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Chat/LangGraphNodeVisualization.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Chat/RichTextInput.test.tsx
Labels: none

feat(frontend): add strikethrough, list, quote, and auto-continue formatting
  src/mcp_server_langgraph/studio/frontend/src/components/Chat/RichTextInput.advanced.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Chat/RichTextInput.submit.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Chat/RichTextInput.tsx
Labels: none

fix(vitest): prevent zombie fork workers from OOM GC death spiral
  src/mcp_server_langgraph/studio/frontend/vitest.config.ts
Labels: none

docs(adr): add ADR-0107 secrets provider selection
  README.md
  adr/adr-0107-secrets-provider-selection.md
  docs/architecture/adr-0107-secrets-provider-selection.mdx
Labels: documentation

feat(sql): add multi-dialect SQL execution infrastructure
  src/mcp_server_langgraph/execution/sql/__init__.py
  src/mcp_server_langgraph/execution/sql/drivers/__init__.py
  src/mcp_server_langgraph/execution/sql/drivers/base.py
  src/mcp_server_langgraph/execution/sql/drivers/bigquery.py
  src/mcp_server_langgraph/execution/sql/drivers/clickhouse.py
  src/mcp_server_langgraph/execution/sql/drivers/duckdb.py
  src/mcp_server_langgraph/execution/sql/drivers/mysql.py
  src/mcp_server_langgraph/execution/sql/drivers/postgres.py
  src/mcp_server_langgraph/execution/sql/drivers/redshift.py
  src/mcp_server_langgraph/execution/sql/drivers/registry.py
  src/mcp_server_langgraph/execution/sql/drivers/snowflake.py
  src/mcp_server_langgraph/execution/sql/drivers/sqlite.py
  src/mcp_server_langgraph/execution/sql/drivers/trino.py
  src/mcp_server_langgraph/execution/sql/exceptions.py
  src/mcp_server_langgraph/execution/sql/executor.py
  src/mcp_server_langgraph/execution/sql/log_redactor.py
  src/mcp_server_langgraph/execution/sql/parameter_contract.py
  src/mcp_server_langgraph/execution/sql/policy.py
  src/mcp_server_langgraph/execution/sql/transpiler.py
  src/mcp_server_langgraph/execution/sql/types.py
  src/mcp_server_langgraph/execution/sql/validator.py
Labels: none

feat(security): add network egress validation and credential management
  src/mcp_server_langgraph/execution/sql/connection_tester.py
  src/mcp_server_langgraph/execution/sql/credential_manager.py
  src/mcp_server_langgraph/network/__init__.py
  src/mcp_server_langgraph/network/egress_validator.py
Labels: tests

feat(api): add database connections CRUD with credential rotation
  alembic/env.py
  alembic/versions/d1f2g3h4i5j6_add_database_connections_table.py
  src/mcp_server_langgraph/api/v1/database_connections.py
  src/mcp_server_langgraph/api/v1/router.py
  src/mcp_server_langgraph/models/base.py
  src/mcp_server_langgraph/models/database_connection.py
  src/mcp_server_langgraph/repositories/database_connections.py
Labels: none

chore(deploy): add SQL executor Kubernetes and monitoring configs
  deployments/kubernetes/sql-executor-egress-networkpolicy.yaml
  deployments/kubernetes/sqlglot-rollback-configmap.yaml
  deployments/monitoring/sqlglot-alerts.yaml
  deployments/monitoring/sqlglot-migration-dashboard.json
Labels: none

test(sql): add comprehensive SQL execution test suite
  pyproject.toml
  src/mcp_server_langgraph/alerts/feedback.py
  src/mcp_server_langgraph/alerts/models.py
  src/mcp_server_langgraph/api/v1/connection_templates.py
  src/mcp_server_langgraph/core/feature_flags.py
  src/mcp_server_langgraph/execution/sandbox_context.py
  src/mcp_server_langgraph/execution/sandbox_packages.py
  src/mcp_server_langgraph/models/__init__.py
  src/mcp_server_langgraph/models/audit_log.py
  src/mcp_server_langgraph/models/connection.py
  src/mcp_server_langgraph/models/project.py
  src/mcp_server_langgraph/models/session_goal.py
  src/mcp_server_langgraph/models/unified_audit.py
  src/mcp_server_langgraph/repositories/__init__.py
  tests/integration/execution/sql/__init__.py
  tests/integration/execution/sql/test_database_connections_integration.py
  tests/unit/api/v1/test_database_connections.py
  tests/unit/execution/sql/__init__.py
  tests/unit/execution/sql/test_connection_tester.py
  tests/unit/execution/sql/test_credential_manager.py
  tests/unit/execution/sql/test_drivers.py
  tests/unit/execution/sql/test_egress_validator.py
  tests/unit/execution/sql/test_executor.py
  tests/unit/execution/sql/test_feature_flags_sql.py
  tests/unit/execution/sql/test_log_redactor.py
  tests/unit/execution/sql/test_parameter_contract.py
  tests/unit/execution/sql/test_policy.py
  tests/unit/execution/sql/test_sql_init.py
  tests/unit/execution/sql/test_transpiler.py
  tests/unit/execution/sql/test_validator.py
  tests/unit/models/__init__.py
  tests/unit/models/test_database_connection.py
  tests/unit/repositories/__init__.py
  tests/unit/repositories/test_database_connection_repository.py
  uv.lock
Labels: tests, dependencies, config

refactor(models): centralize SQLAlchemy Base class
  src/mcp_server_langgraph/database/execution_plan_models.py
  src/mcp_server_langgraph/database/models.py
  src/mcp_server_langgraph/middleware/rate_limiter.py
  src/mcp_server_langgraph/notifications/push_store.py
  src/mcp_server_langgraph/storage/artifacts/__init__.py
  src/mcp_server_langgraph/storage/artifacts/models.py
  src/mcp_server_langgraph/storage/session/__init__.py
  src/mcp_server_langgraph/storage/session/postgres_models.py
  src/mcp_server_langgraph/storage/user/postgres_models.py
  src/mcp_server_langgraph/storage/workflow/__init__.py
  src/mcp_server_langgraph/storage/workflow/postgres_execution_manager.py
  src/mcp_server_langgraph/storage/workflow/postgres_models.py
  tests/integration/api/v1/test_session_goals_e2e.py
  tests/integration/storage/workflow/test_postgres_share_repository.py
  tests/integration/test_push_store_postgres.py
  tests/unit/execution/test_sandbox_packages.py
Labels: tests

test(backend): add sandbox SQL tests and fix integration tests
  tests/docker/test_alembic_dockerfile.py
  tests/integration/test_connections_repository.py
  tests/unit/execution/test_sandbox_context_sql.py
Labels: tests

feat(frontend): add SQL execution UI components and types
  src/mcp_server_langgraph/studio/frontend/package.json
  src/mcp_server_langgraph/studio/frontend/public/wasm/.gitkeep
  src/mcp_server_langgraph/studio/frontend/scripts/download-wasm.sh
  src/mcp_server_langgraph/studio/frontend/scripts/verify-wasm-integrity.sh
  src/mcp_server_langgraph/studio/frontend/src/canvas/pyodidePackages.test.ts
  src/mcp_server_langgraph/studio/frontend/src/canvas/pyodidePackages.ts
  src/mcp_server_langgraph/studio/frontend/src/canvas/sqlBridge.test.ts
  src/mcp_server_langgraph/studio/frontend/src/canvas/sqlBridge.ts
  src/mcp_server_langgraph/studio/frontend/src/canvas/sqlWorker.ts
  src/mcp_server_langgraph/studio/frontend/src/components/Connection/DatabaseConnectionDialog.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Connection/DatabaseConnectionDialog.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Connection/SupportBadge.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Connection/SupportBadge.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Connection/index.ts
  src/mcp_server_langgraph/studio/frontend/src/types/connection.ts
  src/mcp_server_langgraph/studio/frontend/src/types/sql-js.d.ts
  src/mcp_server_langgraph/studio/frontend/vite.config.ts
Labels: none

feat(make): add pytest parallel execution with opt-out support
  docs-internal/testing/TESTING.md
  make/testing.mk
  tests/unit/infrastructure/test_makefile_parallelism.py
Labels: documentation, tests

docs(.claude): add context efficiency memory docs
  .claude/memory/anti-patterns.md
  .claude/memory/progressive-disclosure.md
  .claude/memory/tool-patterns.md
Labels: documentation

docs(.claude): add scripts and style reference docs
  .claude/memory/scripts-reference.md
  .claude/memory/style-reference.md
Labels: documentation

docs(.claude): update CLAUDE.md with new docs index
  .claude/CLAUDE.md
Labels: documentation

.github/labeler.yml:

# Auto-labeler configuration for PRs
# Uses changed-files pattern matching

# Documentation
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'
      - '**/*.mdx'
      - 'docs/**/*'
      - 'mint.json'
      - '.mcp/*.json'

# Tests
tests:
  - changed-files:
    - any-glob-to-any-file:
      - 'tests/**/*'
      - '**/*test*.py'
      - 'test_*.py'
      - '*_test.py'
      - 'pytest.ini'
      - 'conftest.py'
      - 'TESTING.md'

# CI/CD
ci-cd:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**/*'
      - '.github/actions/**/*'
      - '.gitlab-ci.yml'
      - 'Makefile'
      - '.pre-commit-config.yaml'

# Dependencies
dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'requirements*.txt'
      - 'setup.py'
      - 'pyproject.toml'
      - 'poetry.lock'
      - 'package*.json'
      - 'yarn.lock'

# Docker
docker:
  - changed-files:
    - any-glob-to-any-file:
      - 'Dockerfile*'
      - 'docker-compose*.yml'
      - '.dockerignore'

# Kubernetes/Deployment
deployment:
  - changed-files:
    - any-glob-to-any-file:
      - 'kubernetes/**/*'
      - 'kustomize/**/*'
      - 'helm/**/*'
      - 'k8s/**/*'
      - 'KUBERNETES_DEPLOYMENT.md'
      - 'PRODUCTION_DEPLOYMENT.md'

# Authentication/Authorization
auth:
  - changed-files:
    - any-glob-to-any-file:
      - 'auth.py'
      - 'openfga_client.py'
      - 'setup_openfga.py'

# Secrets Management
secrets:
  - changed-files:
    - any-glob-to-any-file:
      - 'secrets_manager.py'
      - 'setup_infisical.py'

# Observability
observability:
  - changed-files:
    - any-glob-to-any-file:
      - 'observability.py'
      - 'health_check.py'
      - 'monitoring/**/*'
      - 'grafana/**/*'

# MCP Server
mcp:
  - changed-files:
    - any-glob-to-any-file:
      - 'mcp_server*.py'
      - 'examples/*client*.py'

# Agent/Core
agent:
  - changed-files:
    - any-glob-to-any-file:
      - 'agent.py'
      - 'graph.py'
      - 'models.py'
      - 'prompt*.py'

# Configuration
config:
  - changed-files:
    - any-glob-to-any-file:
      - 'config.py'
      - '.env*'
      - 'settings.py'
      - '*.yaml'
      - '*.yml'
      - '*.toml'
      - '*.ini'
      - '.editorconfig'

# Security
security:
  - changed-files:
    - any-glob-to-any-file:
      - 'auth.py'
      - 'secrets_manager.py'
      - 'openfga_client.py'
      - 'SECURITY*.md'
      - '.github/workflows/security-scan.yaml'
      - 'scripts/validate_production.py'

# Community
community:
  - changed-files:
    - any-glob-to-any-file:
      - 'CODE_OF_CONDUCT.md'
      - 'CONTRIBUTING.md'
      - 'DEVELOPMENT.md'
      - '.github/SUPPORT.md'
      - '.github/FUNDING.yml'
      - '.github/ISSUE_TEMPLATE/**/*'
      - '.github/PULL_REQUEST_TEMPLATE.md'
