Repository vishnu2kmohan/mcp-server-langgraph, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, tests, ci-cd, dependencies, docker, deployment, auth, secrets, observability, mcp, agent, config, security, community

.github/labeler.yml:

# Auto-labeler configuration for PRs
# Uses changed-files pattern matching

# Documentation
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'
      - '**/*.mdx'
      - 'docs/**/*'
      - 'mint.json'
      - '.mcp/*.json'

# Tests
tests:
  - changed-files:
    - any-glob-to-any-file:
      - 'tests/**/*'
      - '**/*test*.py'
      - 'test_*.py'
      - '*_test.py'
      - 'pytest.ini'
      - 'conftest.py'
      - 'TESTING.md'

# CI/CD
ci-cd:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**/*'
      - '.github/actions/**/*'
      - '.gitlab-ci.yml'
      - 'Makefile'
      - '.pre-commit-config.yaml'

# Dependencies
dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'requirements*.txt'
      - 'setup.py'
      - 'pyproject.toml'
      - 'poetry.lock'
      - 'package*.json'
      - 'yarn.lock'

# Docker
docker:
  - changed-files:
    - any-glob-to-any-file:
      - 'Dockerfile*'
      - 'docker-compose*.yml'
      - '.dockerignore'

# Kubernetes/Deployment
deployment:
  - changed-files:
    - any-glob-to-any-file:
      - 'kubernetes/**/*'
      - 'kustomize/**/*'
      - 'helm/**/*'
      - 'k8s/**/*'
      - 'KUBERNETES_DEPLOYMENT.md'
      - 'PRODUCTION_DEPLOYMENT.md'

# Authentication/Authorization
auth:
  - changed-files:
    - any-glob-to-any-file:
      - 'auth.py'
      - 'openfga_client.py'
      - 'setup_openfga.py'

# Secrets Management
secrets:
  - changed-files:
    - any-glob-to-any-file:
      - 'secrets_manager.py'
      - 'setup_infisical.py'

# Observability
observability:
  - changed-files:
    - any-glob-to-any-file:
      - 'observability.py'
      - 'health_check.py'
      - 'monitoring/**/*'
      - 'grafana/**/*'

# MCP Server
mcp:
  - changed-files:
    - any-glob-to-any-file:
      - 'mcp_server*.py'
      - 'examples/*client*.py'

# Agent/Core
agent:
  - changed-files:
    - any-glob-to-any-file:
      - 'agent.py'
      - 'graph.py'
      - 'models.py'
      - 'prompt*.py'

# Configuration
config:
  - changed-files:
    - any-glob-to-any-file:
      - 'config.py'
      - '.env*'
      - 'settings.py'
      - '*.yaml'
      - '*.yml'
      - '*.toml'
      - '*.ini'
      - '.editorconfig'

# Security
security:
  - changed-files:
    - any-glob-to-any-file:
      - 'auth.py'
      - 'secrets_manager.py'
      - 'openfga_client.py'
      - 'SECURITY*.md'
      - '.github/workflows/security-scan.yaml'
      - 'scripts/validate_production.py'

# Community
community:
  - changed-files:
    - any-glob-to-any-file:
      - 'CODE_OF_CONDUCT.md'
      - 'CONTRIBUTING.md'
      - 'DEVELOPMENT.md'
      - '.github/SUPPORT.md'
      - '.github/FUNDING.yml'
      - '.github/ISSUE_TEMPLATE/**/*'
      - '.github/PULL_REQUEST_TEMPLATE.md'

feat: add deployment automation and configuration management (Part 3)
  .env.example
  deployments/kubernetes/base/otel-collector-deployment.yaml
  deployments/kubernetes/overlays/aws/kustomization.yaml
  deployments/kubernetes/overlays/aws/otel-collector-config.yaml
  docker/docker-compose.yml
  scripts/switch-log-exporter.sh
Labels: config

chore: release v2.5.0 - Structured JSON Logging & Multi-Platform Log Aggregation
  CHANGELOG.md
  README.md
  deployments/helm/mcp-server-langgraph/Chart.yaml
  deployments/helm/mcp-server-langgraph/values.yaml
  deployments/kubernetes/base/deployment.yaml
  deployments/kustomize/base/kustomization.yaml
  docker/docker-compose.yml
  docs/releases/v2-5-0.mdx
  pyproject.toml
  src/mcp_server_langgraph/core/config.py
Labels: documentation, dependencies, config

docs: add comprehensive log aggregation documentation and JSON logger tests
  docs/deployment/log-aggregation.mdx
  docs/guides/log-queries.mdx
  tests/test_json_logger.py
Labels: documentation, tests

feat: add GCP and Azure Kubernetes overlays for OTLP collector
  deployments/kubernetes/overlays/azure/azure-secrets.env
  deployments/kubernetes/overlays/azure/kustomization.yaml
  deployments/kubernetes/overlays/azure/otel-collector-config.yaml
  deployments/kubernetes/overlays/gcp/kustomization.yaml
  deployments/kubernetes/overlays/gcp/otel-collector-config.yaml
Labels: none

feat: add distributed conversation checkpointing with Redis for HPA auto-scaling
  .env.example
  adr/0022-distributed-conversation-checkpointing.md
  docker/docker-compose.yml
  docs/architecture/adr-0022-distributed-conversation-checkpointing.mdx
  docs/deployment/scaling.mdx
  pyproject.toml
  src/mcp_server_langgraph/core/agent.py
  src/mcp_server_langgraph/core/config.py
  tests/test_distributed_checkpointing.py
Labels: documentation, tests, dependencies, config

feat: comprehensive quality and capability improvement initiative (Phase 1)
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/workflows/quality-tests.yaml
  CODE_OF_CONDUCT.md
  ROADMAP.md
  docs/reports/MCP_SERVER_IMPROVEMENT_PLAN_20251015.md
Labels: documentation, ci-cd, community

feat: add production alerting and Prometheus monitoring integrations (Phase 1 Part 2)
  src/mcp_server_langgraph/integrations/__init__.py
  src/mcp_server_langgraph/integrations/alerting.py
  src/mcp_server_langgraph/monitoring/prometheus_client.py
  tests/integrations/__init__.py
  tests/integrations/test_alerting.py
Labels: tests

fix: correct langgraph-checkpoint-redis version constraint
  pyproject.toml
Labels: dependencies, config

fix: resolve async test failure and code formatting issues
  src/mcp_server_langgraph/core/agent.py
  src/mcp_server_langgraph/monitoring/prometheus_client.py
  src/mcp_server_langgraph/observability/json_logger.py
  src/mcp_server_langgraph/observability/telemetry.py
  tests/test_infisical_optional.py
  tests/test_json_logger.py
Labels: tests

fix: resolve isort and deployment validation issues
  scripts/validation/validate_deployments.py
  src/mcp_server_langgraph/integrations/__init__.py
  src/mcp_server_langgraph/observability/json_logger.py
  tests/integrations/test_alerting.py
Labels: tests

fix: correct isort formatting with version 5.13.2
  examples/langsmith_tracing.py
  src/mcp_server_langgraph/core/compliance/__init__.py
  src/mcp_server_langgraph/health/__init__.py
  src/mcp_server_langgraph/monitoring/__init__.py
  src/mcp_server_langgraph/observability/__init__.py
  tests/test_json_logger.py
  tests/test_retention.py
  tests/test_role_mapper.py
  tests/test_session.py
  tests/test_session_timeout.py
  tests/test_sla_monitoring.py
  tests/test_soc2_evidence.py
Labels: tests

chore: upgrade isort to 7.0.0 for consistency and latest features
  pyproject.toml
Labels: dependencies, config

feat: ensure local and CI/CD test consistency with best practices
  .github/workflows/ci.yaml
  Makefile
  TESTING.md
  pyproject.toml
  requirements-test.txt
Labels: documentation, tests, ci-cd, dependencies, config

fix: remove pytest.ini from Dockerfile.test - config in pyproject.toml
  docker/Dockerfile.test
Labels: none

fix: resolve security warnings and pytest-asyncio fixture error
  scripts/setup/setup_keycloak.py
  src/mcp_server_langgraph/integrations/alerting.py
  tests/contract/test_mcp_contract.py
Labels: tests

fix: use @pytest.mark.skip decorator to prevent fixture inspection error
  tests/contract/test_mcp_contract.py
Labels: tests

fix: add --no-cache flag to CI integration tests to prevent stale Docker layers
  .github/workflows/ci.yaml
Labels: ci-cd

fix: synchronize deployment versions to match application version 2.5.0
  deployments/helm/mcp-server-langgraph/Chart.yaml
  deployments/helm/mcp-server-langgraph/values.yaml
  deployments/kubernetes/base/deployment.yaml
  deployments/kustomize/base/kustomization.yaml
  docker-compose.yml
Labels: docker, config

fix: add Helm repository configuration before dependency build
  .github/workflows/ci.yaml
Labels: ci-cd

fix: resolve CI integration test and benchmark storage failures
  .github/workflows/ci.yaml
  .github/workflows/quality-tests.yaml
Labels: ci-cd

fix: properly handle --no-cache flag in integration test script
  scripts/test-integration.sh
Labels: none

fix: resolve pytest-asyncio 0.26 compatibility issue causing GDPR test failure
  pyproject.toml
  tests/conftest.py
Labels: tests, dependencies, config

fix: add contents:write permission to benchmark-tests job for gh-pages push
  .github/workflows/quality-tests.yaml
Labels: ci-cd

add Benchmark (pytest) benchmark result for 9bbc99fd26427d691e7848c33ce9bad63f990807
  dev/bench/data.js
  dev/bench/index.html
Labels: none

fix: resolve Kustomize CI/CD failures and restore project README
  CHANGELOG.md
  README.md
  deployments/kustomize/base/configmap.yaml
  deployments/kustomize/base/deployment.yaml
  deployments/kustomize/base/hpa.yaml
  deployments/kustomize/base/ingress-http.yaml
  deployments/kustomize/base/keycloak-deployment.yaml
  deployments/kustomize/base/keycloak-service.yaml
  deployments/kustomize/base/kustomization.yaml
  deployments/kustomize/base/namespace.yaml
  deployments/kustomize/base/networkpolicy.yaml
  deployments/kustomize/base/openfga-deployment.yaml
  deployments/kustomize/base/openfga-service.yaml
  deployments/kustomize/base/otel-collector-deployment.yaml
  deployments/kustomize/base/pdb.yaml
  deployments/kustomize/base/postgres-service.yaml
  deployments/kustomize/base/postgres-statefulset.yaml
  deployments/kustomize/base/redis-session-deployment.yaml
  deployments/kustomize/base/redis-session-service.yaml
  deployments/kustomize/base/secret.yaml
  deployments/kustomize/base/service.yaml
  deployments/kustomize/base/serviceaccount.yaml
  deployments/kustomize/overlays/dev/kustomization.yaml
  deployments/kustomize/overlays/production/kustomization.yaml
  deployments/kustomize/overlays/staging/kustomization.yaml
Labels: documentation

add Benchmark (pytest) benchmark result for b8937e7b8d2f8a65b1f93780684a1739ea472943
  dev/bench/data.js
Labels: none

fix: disable staging deployment until Kubernetes cluster is provisioned
  .github/workflows/ci.yaml
Labels: ci-cd

add Benchmark (pytest) benchmark result for 460844adb65d8e912709fadc52752e739b2202ee
  dev/bench/data.js
Labels: none

docs: update documentation to reflect v2.5.0 state
  adr/README.md
  docs/mint.json
  package.json
Labels: documentation, dependencies

add Benchmark (pytest) benchmark result for c25a468caddbd811dc6a22fc46aa0a4afdb53058
  dev/bench/data.js
Labels: none

chore: prepare release v2.6.0
  CHANGELOG.md
  pyproject.toml
  src/mcp_server_langgraph/core/config.py
Labels: documentation, dependencies, config

add Benchmark (pytest) benchmark result for db60f3a637faef4a448051ae8dbe101113f6a348
  dev/bench/data.js
Labels: none

feat: enhance version bump automation to include all version files
  .github/workflows/bump-deployment-versions.yaml
  docs/deployment/RELEASE_PROCESS.md
  scripts/deployment/bump-versions.sh
Labels: documentation, ci-cd

add Benchmark (pytest) benchmark result for a3232361947701d6c013bd9ca28893770dc50827
  dev/bench/data.js
Labels: none

feat: automate release notes from CHANGELOG.md and enhance documentation
  .github/workflows/release.yaml
  docs/deployment/RELEASE_PROCESS.md
Labels: documentation, ci-cd

add Benchmark (pytest) benchmark result for f85e91396110efebc1327529cdb0614523cba707
  dev/bench/data.js
Labels: none

fix: resolve YAML syntax error in release workflow
  .github/workflows/release.yaml
Labels: ci-cd

add Benchmark (pytest) benchmark result for 9064266c489e48735ab1481976b6ffcdd40d5817
  dev/bench/data.js
Labels: none

fix: prevent workflow failures on incorrect trigger events
  .github/workflows/release.yaml
  .github/workflows/security-scan.yaml
Labels: ci-cd, security

add Benchmark (pytest) benchmark result for 01d60a5eba1d894415ddbc735dbce8ea29f85c99
  dev/bench/data.js
Labels: none
