Repository vishnu2kmohan/mcp-server-langgraph, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, tests, ci-cd, dependencies, docker, deployment, auth, secrets, observability, mcp, agent, config, security, community

add Benchmark (pytest) benchmark result for a4cfadd0d895cd81827039f239f28d4661fe6f60
  dev/bench/data.js
Labels: none

fix(types): resolve additional 547 mypy errors (87% total reduction)
  .claude/commands/coverage-trend.md
  .claude/commands/debug-auth.md
  .claude/commands/release-prep.md
  .claude/memory/python-environment-usage.md
  .claude/memory/task-spawn-error-prevention-strategy.md
  src/mcp_server_langgraph/api/gdpr.py
  src/mcp_server_langgraph/auth/hipaa.py
  src/mcp_server_langgraph/auth/keycloak.py
  src/mcp_server_langgraph/auth/middleware.py
  src/mcp_server_langgraph/auth/role_mapper.py
  src/mcp_server_langgraph/auth/session.py
  src/mcp_server_langgraph/compliance/gdpr/data_deletion.py
  src/mcp_server_langgraph/core/agent.py
  src/mcp_server_langgraph/core/cache.py
  src/mcp_server_langgraph/core/config.py
  src/mcp_server_langgraph/core/context_manager.py
  src/mcp_server_langgraph/core/dynamic_context_loader.py
  src/mcp_server_langgraph/core/parallel_executor.py
  src/mcp_server_langgraph/core/storage/conversation_store.py
  src/mcp_server_langgraph/health/checks.py
  src/mcp_server_langgraph/integrations/alerting.py
  src/mcp_server_langgraph/llm/factory.py
  src/mcp_server_langgraph/llm/pydantic_agent.py
  src/mcp_server_langgraph/llm/validators.py
  src/mcp_server_langgraph/llm/verifier.py
  src/mcp_server_langgraph/mcp/server_stdio.py
  src/mcp_server_langgraph/mcp/server_streamable.py
  src/mcp_server_langgraph/middleware/rate_limiter.py
  src/mcp_server_langgraph/monitoring/prometheus_client.py
  src/mcp_server_langgraph/monitoring/sla.py
  src/mcp_server_langgraph/observability/json_logger.py
  src/mcp_server_langgraph/observability/telemetry.py
  src/mcp_server_langgraph/resilience/bulkhead.py
  src/mcp_server_langgraph/resilience/circuit_breaker.py
  src/mcp_server_langgraph/resilience/fallback.py
  src/mcp_server_langgraph/resilience/timeout.py
  src/mcp_server_langgraph/schedulers/cleanup.py
  src/mcp_server_langgraph/schedulers/compliance.py
  src/mcp_server_langgraph/tools/filesystem_tools.py
  tests/conftest.py
Labels: documentation, tests

add Benchmark (pytest) benchmark result for 42d5896fefc27afa72714292184490a8b285fb41
  dev/bench/data.js
Labels: none

fix(types): achieve 100% mypy type safety - 0 errors remaining!
  src/mcp_server_langgraph/core/agent.py
  src/mcp_server_langgraph/mcp/server_stdio.py
  src/mcp_server_langgraph/mcp/server_streamable.py
  src/mcp_server_langgraph/middleware/rate_limiter.py
  src/mcp_server_langgraph/schedulers/cleanup.py
Labels: none

add Benchmark (pytest) benchmark result for 51e651b7d87657e3f68511865f9bc149bead1c00
  dev/bench/data.js
Labels: none

feat: implement Grafana dashboards, AlertManager, Prometheus rules, and Jaeger tracing
  .gitignore
  deployments/helm/mcp-server-langgraph/Chart.lock
  deployments/helm/mcp-server-langgraph/Chart.yaml
  deployments/helm/mcp-server-langgraph/dashboards/authentication.json
  deployments/helm/mcp-server-langgraph/dashboards/keycloak.json
  deployments/helm/mcp-server-langgraph/dashboards/langgraph-agent.json
  deployments/helm/mcp-server-langgraph/dashboards/llm-performance.json
  deployments/helm/mcp-server-langgraph/dashboards/openfga.json
  deployments/helm/mcp-server-langgraph/dashboards/redis-sessions.json
  deployments/helm/mcp-server-langgraph/dashboards/security.json
  deployments/helm/mcp-server-langgraph/dashboards/sla-monitoring.json
  deployments/helm/mcp-server-langgraph/dashboards/soc2-compliance.json
  deployments/helm/mcp-server-langgraph/prometheus-rules/langgraph-agent.yaml
  deployments/helm/mcp-server-langgraph/prometheus-rules/sla.yaml
  deployments/helm/mcp-server-langgraph/templates/grafana-dashboards-configmap.yaml
  deployments/helm/mcp-server-langgraph/templates/prometheus-rules-langgraph.yaml
  deployments/helm/mcp-server-langgraph/templates/prometheus-rules-sla.yaml
  deployments/helm/mcp-server-langgraph/values.yaml
  docker/docker-compose.yml
  docker/prometheus.yml
  monitoring/prometheus/alertmanager.yml
Labels: observability

add Benchmark (pytest) benchmark result for ee9c762bfe72a3b10d33dd8c030325c2994396f3
  dev/bench/data.js
Labels: none

feat(workflow): add fast testing and database operations commands
  .claude/commands/db-operations.md
  .claude/commands/test-fast.md
  .claude/commands/test-summary.md
Labels: documentation

add Benchmark (pytest) benchmark result for 2765a68b5d4b929ac97059ee5ed53c8d472a2d11
  dev/bench/data.js
Labels: none

fix(tests): resolve flaky search tools tests with xdist_group
  src/mcp_server_langgraph/api/gdpr.py
  src/mcp_server_langgraph/core/cache.py
  tests/test_json_logger.py
  tests/unit/test_search_tools.py
Labels: tests

add Benchmark (pytest) benchmark result for 8dce6503fa55a971445b6eff6d0fd39840385f32
  dev/bench/data.js
Labels: none

fix(ci): resolve uv.lock parse error and sync CI with uv 0.9.4
  .github/workflows/ci-optimized.yaml
  .github/workflows/ci.yaml
  uv.lock
Labels: ci-cd

add Benchmark (pytest) benchmark result for aa827088c9b4e8165fd095350122ea893568c453
  dev/bench/data.js
Labels: none

fix(tests): ensure observability initialization in pytest-xdist workers
  tests/conftest.py
Labels: tests

add Benchmark (pytest) benchmark result for 09c94182b474bd067837a67f2fef08a0410b25f1
  dev/bench/data.js
Labels: none

fix(ci): resolve Code Quality and deployment validation failures
  .github/workflows/ci.old.yaml
  scripts/validation/validate_deployments.py
Labels: ci-cd

add Benchmark (pytest) benchmark result for bc91410a08d6044b76c02c771f456189aa06d392
  dev/bench/data.js
Labels: none

feat: comprehensive infrastructure optimization (CI/CD, Docker, K8s, Makefile)
  .github/workflows/DEPRECATED/ci-optimized.yaml
  .github/workflows/DEPRECATED/ci.old.yaml
  .github/workflows/ci.yaml
  Makefile
  OPTIMIZATION_SUMMARY.md
  deployments/overlays/dev/kustomization.yaml
  deployments/overlays/production/kustomization.yaml
  deployments/overlays/staging/kustomization.yaml
  docker/DEPRECATED/Dockerfile.deprecated
  docker/DEPRECATED/Dockerfile.old
  docker/Dockerfile
  docker/docker-compose.yml
Labels: documentation, ci-cd

add Benchmark (pytest) benchmark result for 25e8ee95cd6b9b9db90cb540cb5b28adf6ebce9d
  dev/bench/data.js
Labels: none

fix(tests): resolve flaky circuit breaker and OpenTelemetry gRPC errors
  tests/conftest.py
  tests/unit/test_llm_fallback_kwargs.py
Labels: tests

add Benchmark (pytest) benchmark result for e775dec304ab7ff8f455b80346d6d09fe269f5b5
  dev/bench/data.js
Labels: none

fix: ensure consistent use of uv virtual environment throughout codebase
  .claude/memory/python-environment-usage.md
  Makefile
Labels: documentation, ci-cd

add Benchmark (pytest) benchmark result for 19473efcebbb0c54494b8065ef69ba774f096699
  dev/bench/data.js
Labels: none

fix(tests): ensure observability initialization in search_tools tests
  tests/unit/test_search_tools.py
Labels: tests

add Benchmark (pytest) benchmark result for f45d3eca1ed794664f098fbdcfebd60deda5a457
  dev/bench/data.js
Labels: none

ci: synchronize GitHub workflows for consistency
  .github/workflows/coverage-trend.yaml
  .github/workflows/link-checker.yaml
  .github/workflows/optional-deps-test.yaml
  .github/workflows/release.yaml
Labels: ci-cd

add Benchmark (pytest) benchmark result for fe716b55145771acce0864fa1720dadad31af193
  dev/bench/data.js
Labels: none

fix(ci): include dev dependencies for pytest in test jobs
  .github/workflows/ci.yaml
Labels: ci-cd

add Benchmark (pytest) benchmark result for 2c49ea8ae646e93a8e0a404ba413d45ad47071fa
  dev/bench/data.js
Labels: none

fix(tests): suppress non-actionable test warnings
  pyproject.toml
Labels: dependencies, config

add Benchmark (pytest) benchmark result for d80a213b214797b1586ec74faef8de9a599f9042
  dev/bench/data.js
Labels: none

fix(tests): prevent circuit breaker state pollution in LLM fallback tests
  tests/unit/test_llm_fallback_kwargs.py
Labels: tests

add Benchmark (pytest) benchmark result for 2763e0c2ab68c3c27335ac06ece0f904662fc2d3
  dev/bench/data.js
Labels: none

ci: synchronize test execution with local development environment
  .github/workflows/ci.yaml
  .github/workflows/coverage-trend.yaml
Labels: ci-cd

ci: apply parallel execution and OTEL_SDK_DISABLED to quality-tests workflow
  .github/workflows/quality-tests.yaml
Labels: ci-cd

add Benchmark (pytest) benchmark result for a665485bb37a6de340fbd5ea83bf316c39eac5b7
  dev/bench/data.js
Labels: none

fix(ci): remove duplicate cache exports in Docker builds
  .github/workflows/ci.yaml
Labels: ci-cd

add Benchmark (pytest) benchmark result for 67cf606c8ae7d89c98f284ed84d77adaa2f0fa6a
  dev/bench/data.js
Labels: none

fix(ci): remove duplicate cache exports in Docker builds
  .github/workflows/ci.yaml
  docker/Dockerfile
Labels: ci-cd

add Benchmark (pytest) benchmark result for c123180ed36c7e619a2093590a2bed7b9b4135e3
  dev/bench/data.js
Labels: none

.github/labeler.yml:

# Auto-labeler configuration for PRs
# Uses changed-files pattern matching

# Documentation
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'
      - '**/*.mdx'
      - 'docs/**/*'
      - 'mint.json'
      - '.mcp/*.json'

# Tests
tests:
  - changed-files:
    - any-glob-to-any-file:
      - 'tests/**/*'
      - '**/*test*.py'
      - 'test_*.py'
      - '*_test.py'
      - 'pytest.ini'
      - 'conftest.py'
      - 'TESTING.md'

# CI/CD
ci-cd:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**/*'
      - '.github/actions/**/*'
      - '.gitlab-ci.yml'
      - 'Makefile'
      - '.pre-commit-config.yaml'

# Dependencies
dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'requirements*.txt'
      - 'setup.py'
      - 'pyproject.toml'
      - 'poetry.lock'
      - 'package*.json'
      - 'yarn.lock'

# Docker
docker:
  - changed-files:
    - any-glob-to-any-file:
      - 'Dockerfile*'
      - 'docker-compose*.yml'
      - '.dockerignore'

# Kubernetes/Deployment
deployment:
  - changed-files:
    - any-glob-to-any-file:
      - 'kubernetes/**/*'
      - 'kustomize/**/*'
      - 'helm/**/*'
      - 'k8s/**/*'
      - 'KUBERNETES_DEPLOYMENT.md'
      - 'PRODUCTION_DEPLOYMENT.md'

# Authentication/Authorization
auth:
  - changed-files:
    - any-glob-to-any-file:
      - 'auth.py'
      - 'openfga_client.py'
      - 'setup_openfga.py'

# Secrets Management
secrets:
  - changed-files:
    - any-glob-to-any-file:
      - 'secrets_manager.py'
      - 'setup_infisical.py'

# Observability
observability:
  - changed-files:
    - any-glob-to-any-file:
      - 'observability.py'
      - 'health_check.py'
      - 'monitoring/**/*'
      - 'grafana/**/*'

# MCP Server
mcp:
  - changed-files:
    - any-glob-to-any-file:
      - 'mcp_server*.py'
      - 'examples/*client*.py'

# Agent/Core
agent:
  - changed-files:
    - any-glob-to-any-file:
      - 'agent.py'
      - 'graph.py'
      - 'models.py'
      - 'prompt*.py'

# Configuration
config:
  - changed-files:
    - any-glob-to-any-file:
      - 'config.py'
      - '.env*'
      - 'settings.py'
      - '*.yaml'
      - '*.yml'
      - '*.toml'
      - '*.ini'
      - '.editorconfig'

# Security
security:
  - changed-files:
    - any-glob-to-any-file:
      - 'auth.py'
      - 'secrets_manager.py'
      - 'openfga_client.py'
      - 'SECURITY*.md'
      - '.github/workflows/security-scan.yaml'
      - 'scripts/validate_production.py'

# Community
community:
  - changed-files:
    - any-glob-to-any-file:
      - 'CODE_OF_CONDUCT.md'
      - 'CONTRIBUTING.md'
      - 'DEVELOPMENT.md'
      - '.github/SUPPORT.md'
      - '.github/FUNDING.yml'
      - '.github/ISSUE_TEMPLATE/**/*'
      - '.github/PULL_REQUEST_TEMPLATE.md'
