Repository vishnu2kmohan/mcp-server-langgraph, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, tests, ci-cd, dependencies, docker, deployment, auth, secrets, observability, mcp, agent, config, security, community

.github/labeler.yml:

# Auto-labeler configuration for PRs
# Uses changed-files pattern matching

# Documentation
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'
      - '**/*.mdx'
      - 'docs/**/*'
      - 'mint.json'
      - '.mcp/*.json'

# Tests
tests:
  - changed-files:
    - any-glob-to-any-file:
      - 'tests/**/*'
      - '**/*test*.py'
      - 'test_*.py'
      - '*_test.py'
      - 'pytest.ini'
      - 'conftest.py'
      - 'TESTING.md'

# CI/CD
ci-cd:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**/*'
      - '.github/actions/**/*'
      - '.gitlab-ci.yml'
      - 'Makefile'
      - '.pre-commit-config.yaml'

# Dependencies
dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'requirements*.txt'
      - 'setup.py'
      - 'pyproject.toml'
      - 'poetry.lock'
      - 'package*.json'
      - 'yarn.lock'

# Docker
docker:
  - changed-files:
    - any-glob-to-any-file:
      - 'Dockerfile*'
      - 'docker-compose*.yml'
      - '.dockerignore'

# Kubernetes/Deployment
deployment:
  - changed-files:
    - any-glob-to-any-file:
      - 'kubernetes/**/*'
      - 'kustomize/**/*'
      - 'helm/**/*'
      - 'k8s/**/*'
      - 'KUBERNETES_DEPLOYMENT.md'
      - 'PRODUCTION_DEPLOYMENT.md'

# Authentication/Authorization
auth:
  - changed-files:
    - any-glob-to-any-file:
      - 'auth.py'
      - 'openfga_client.py'
      - 'setup_openfga.py'

# Secrets Management
secrets:
  - changed-files:
    - any-glob-to-any-file:
      - 'secrets_manager.py'
      - 'setup_infisical.py'

# Observability
observability:
  - changed-files:
    - any-glob-to-any-file:
      - 'observability.py'
      - 'health_check.py'
      - 'monitoring/**/*'
      - 'grafana/**/*'

# MCP Server
mcp:
  - changed-files:
    - any-glob-to-any-file:
      - 'mcp_server*.py'
      - 'examples/*client*.py'

# Agent/Core
agent:
  - changed-files:
    - any-glob-to-any-file:
      - 'agent.py'
      - 'graph.py'
      - 'models.py'
      - 'prompt*.py'

# Configuration
config:
  - changed-files:
    - any-glob-to-any-file:
      - 'config.py'
      - '.env*'
      - 'settings.py'
      - '*.yaml'
      - '*.yml'
      - '*.toml'
      - '*.ini'
      - '.editorconfig'

# Security
security:
  - changed-files:
    - any-glob-to-any-file:
      - 'auth.py'
      - 'secrets_manager.py'
      - 'openfga_client.py'
      - 'SECURITY*.md'
      - '.github/workflows/security-scan.yaml'
      - 'scripts/validate_production.py'

# Community
community:
  - changed-files:
    - any-glob-to-any-file:
      - 'CODE_OF_CONDUCT.md'
      - 'CONTRIBUTING.md'
      - 'DEVELOPMENT.md'
      - '.github/SUPPORT.md'
      - '.github/FUNDING.yml'
      - '.github/ISSUE_TEMPLATE/**/*'
      - '.github/PULL_REQUEST_TEMPLATE.md'

feat(observability): add Loki retention period configuration
  docker/loki/loki-config.yaml
Labels: none

fix(monitoring): resolve all 10 missing runbook anchor issues
  monitoring/prometheus/rules/lgtm-alerts.yaml
  monitoring/prometheus/rules/sla-uptime-alerts.yaml
  monitoring/runbooks/langgraph-agent-health.md
  monitoring/runbooks/resilience-alerts.md
  tests/unit/scripts/test_alert_consolidation.py
Labels: documentation, tests, observability

chore(alerts): sync lgtm-alerts.yaml to docker/mimir/rules
  docker/mimir/rules/lgtm-alerts.yaml
Labels: none

feat(observability): add alert-runbook dashboard and update ADR
  adr/adr-0067-grafana-lgtm-stack-migration.md
  monitoring/grafana/dashboards/Operations/alert-runbook-matrix.json
Labels: documentation, observability

feat(core): add NaN safety utilities for API response models
  .pre-commit-config.yaml
  README.md
  adr/adr-0097-nan-safety-api-response-models.md
  docs/architecture/adr-0097-nan-safety-api-response-models.mdx
  scripts/validation/check_unsafe_float_patterns.py
  src/mcp_server_langgraph/core/numeric.py
  tests/integration/observability/test_nan_handling.py
  tests/unit/api/v1/test_response_model_nan_validators.py
  tests/unit/core/test_numeric.py
Labels: documentation, tests, ci-cd, config

feat(studio): add frontend utilities and DevTools infrastructure
  src/mcp_server_langgraph/studio/frontend/src/components/DevTools/components/HumanTimestamp.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/DevTools/components/HumanTimestamp.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/DevTools/hooks/useAutoTail.test.ts
  src/mcp_server_langgraph/studio/frontend/src/components/DevTools/hooks/useAutoTail.ts
  src/mcp_server_langgraph/studio/frontend/src/components/DevTools/utils/devToolsColors.test.ts
  src/mcp_server_langgraph/studio/frontend/src/components/DevTools/utils/devToolsColors.ts
  src/mcp_server_langgraph/studio/frontend/src/components/DevTools/utils/jsonLogParser.test.ts
  src/mcp_server_langgraph/studio/frontend/src/components/DevTools/utils/jsonLogParser.ts
  src/mcp_server_langgraph/studio/frontend/src/design-system/tokens.ts
  src/mcp_server_langgraph/studio/frontend/src/utils/colors.test.ts
  src/mcp_server_langgraph/studio/frontend/src/utils/colors.ts
  src/mcp_server_langgraph/studio/frontend/src/utils/numeric.test.ts
  src/mcp_server_langgraph/studio/frontend/src/utils/numeric.ts
  src/mcp_server_langgraph/studio/frontend/tailwind.config.ts
Labels: none

feat(monitoring): expand Prometheus alert rules for comprehensive observability
  deployments/helm/mcp-server-langgraph/prometheus-rules/alert-dashboard.yaml
  deployments/helm/mcp-server-langgraph/prometheus-rules/alerting-fallback.yaml
  deployments/helm/mcp-server-langgraph/prometheus-rules/conversation-token.yaml
  deployments/helm/mcp-server-langgraph/prometheus-rules/hitl.yaml
  deployments/helm/mcp-server-langgraph/prometheus-rules/langgraph-agent.yaml
  deployments/helm/mcp-server-langgraph/prometheus-rules/lgtm.yaml
  deployments/helm/mcp-server-langgraph/prometheus-rules/orchestrator-status.yaml
  deployments/helm/mcp-server-langgraph/prometheus-rules/prompt-quality.yaml
  deployments/helm/mcp-server-langgraph/prometheus-rules/resilience.yaml
  deployments/helm/mcp-server-langgraph/prometheus-rules/sla-uptime.yaml
  deployments/helm/mcp-server-langgraph/prometheus-rules/slo-recording-rules.yaml
  deployments/helm/mcp-server-langgraph/prometheus-rules/slo.yaml
  deployments/helm/mcp-server-langgraph/prometheus-rules/streaming-sla.yaml
  deployments/helm/mcp-server-langgraph/prometheus-rules/studio-ai-cost.yaml
  deployments/helm/mcp-server-langgraph/prometheus-rules/websocket-protocol.yaml
  deployments/helm/mcp-server-langgraph/prometheus-rules/websocket-reconnection.yaml
  deployments/helm/mcp-server-langgraph/templates/prometheus-rules-alert-dashboard.yaml
  deployments/helm/mcp-server-langgraph/templates/prometheus-rules-alerting-fallback.yaml
  deployments/helm/mcp-server-langgraph/templates/prometheus-rules-conversation-token.yaml
  deployments/helm/mcp-server-langgraph/templates/prometheus-rules-hitl.yaml
  deployments/helm/mcp-server-langgraph/templates/prometheus-rules-lgtm.yaml
  deployments/helm/mcp-server-langgraph/templates/prometheus-rules-orchestrator-status.yaml
  deployments/helm/mcp-server-langgraph/templates/prometheus-rules-prompt-quality.yaml
  deployments/helm/mcp-server-langgraph/templates/prometheus-rules-resilience.yaml
  deployments/helm/mcp-server-langgraph/templates/prometheus-rules-sla-uptime.yaml
  deployments/helm/mcp-server-langgraph/templates/prometheus-rules-slo-recording-rules.yaml
  deployments/helm/mcp-server-langgraph/templates/prometheus-rules-slo.yaml
  deployments/helm/mcp-server-langgraph/templates/prometheus-rules-streaming-sla.yaml
  deployments/helm/mcp-server-langgraph/templates/prometheus-rules-studio-ai-cost.yaml
  deployments/helm/mcp-server-langgraph/templates/prometheus-rules-websocket-protocol.yaml
  deployments/helm/mcp-server-langgraph/templates/prometheus-rules-websocket-reconnection.yaml
  docker/mimir/rules/alerting-fallback-alerts.yaml
  docker/mimir/rules/orchestrator-status-alerts.yaml
  docker/mimir/rules/sla-uptime-alerts.yaml
  docker/mimir/rules/websocket-protocol-alerts.yaml
  monitoring/prometheus/rules/conversation-token-alerts.yaml
  monitoring/prometheus/rules/orchestrator-status-alerts.yaml
  monitoring/prometheus/rules/streaming-sla-alerts.yaml
  monitoring/prometheus/rules/websocket-protocol-alerts.yaml
  monitoring/prometheus/rules/websocket-reconnection-alerts.yaml
Labels: observability

feat(observability): add Mimir alerting fallback with ADR-0098
  README.md
  adr/adr-0098-mimir-alerting-fallback.md
  docs/architecture/adr-0098-mimir-alerting-fallback.mdx
  monitoring/grafana/dashboards/Operations/alerting-fallback-metrics.json
  monitoring/runbooks/alerting-fallback.md
  tests/e2e/journeys/test_alerting_journey.py
  tests/integration/observability/test_alerting_fallback.py
  tests/unit/observability/query/test_fallback_alerting.py
  tests/unit/observability/query/test_mimir_alerting.py
Labels: documentation, tests, observability

feat(tools): add semantic tool selection for dynamic MCP tool binding
  src/mcp_server_langgraph/tools/semantic_index.py
  tests/integration/test_semantic_tool_selection.py
  tests/unit/agents/test_router_agent_semantic.py
  tests/unit/api/v1/test_chat_selected_tools_sse.py
  tests/unit/core/test_agent_graph_select_tools.py
  tests/unit/core/test_agent_graph_tool_binding.py
  tests/unit/core/test_dynamic_context_loader_extended_ref_types.py
  tests/unit/core/test_semantic_index_manager.py
  tests/unit/tools/test_semantic_index.py
Labels: tests

fix(qdrant): update to query_points API for qdrant-client >= 1.7
  src/mcp_server_langgraph/core/semantic_index_manager.py
  src/mcp_server_langgraph/storage/vectors/qdrant_provider.py
  tests/unit/core/test_agent_graph_retrieve_tools.py
  tests/unit/storage/vectors/test_vector_providers.py
Labels: tests

ci(openfga): add model validation workflow
  .github/workflows/openfga-validate.yml
Labels: ci-cd

feat(openfga): add modular authorization model with compose script
  config/openfga/compose_model.py
  config/openfga/model.json
  config/openfga/modules/00-conditions.json
  config/openfga/modules/01-core.fga
  config/openfga/modules/02-resources.fga
  config/openfga/modules/03-observability.fga
  config/openfga/modules/04-access-control.fga
  config/openfga/modules/05-ai-agents.fga
  config/openfga/modules/06-skills.fga
  config/openfga/modules/07-semantic-index.fga
  config/openfga/modules/08-infrastructure.fga
  config/openfga/modules/09-financial.fga
  config/openfga/modules/README.md
  config/openfga/sample-tuples.json
  config/role_mappings.yaml
  tests/unit/config/__init__.py
  tests/unit/config/test_openfga_compose_model.py
Labels: documentation, tests

feat(db): add decision traces table migration
  alembic/env.py
  alembic/versions/y5z6a7b8c9d0_add_decision_traces_table.py
  src/mcp_server_langgraph/database/__init__.py
  src/mcp_server_langgraph/database/models.py
  src/mcp_server_langgraph/storage/models.py
  tests/unit/database/test_decision_trace_models.py
  tests/unit/storage/test_decision_trace_pydantic_models.py
Labels: tests

feat(agents): add decision emitter and helper for semantic selection
  src/mcp_server_langgraph/agents/decision_emitter.py
  src/mcp_server_langgraph/agents/decision_helper.py
  src/mcp_server_langgraph/repositories/__init__.py
  src/mcp_server_langgraph/repositories/decision_trace.py
  tests/unit/agents/test_decision_emitter.py
  tests/unit/agents/test_decision_helper.py
  tests/unit/repositories/test_decision_trace_repository.py
Labels: tests

feat(schedulers): add decision retention scheduler
  src/mcp_server_langgraph/schedulers/decision_retention.py
  tests/unit/schedulers/test_decision_retention.py
Labels: tests

feat(semantic): enhance semantic index manager with decision traces
  src/mcp_server_langgraph/core/semantic_index_manager.py
  src/mcp_server_langgraph/storage/vectors/qdrant_provider.py
  tests/unit/core/test_semantic_embedding_caching.py
  tests/unit/core/test_semantic_index_cache_metrics.py
  tests/unit/core/test_semantic_index_cache_warming.py
  tests/unit/core/test_semantic_index_decision_traces.py
  tests/unit/core/test_semantic_index_distributed_cache.py
  tests/unit/core/test_semantic_index_id_conversion.py
  tests/unit/core/test_semantic_index_manager.py
  tests/unit/core/test_semantic_index_prometheus_metrics.py
  tests/unit/core/test_semantic_query_caching.py
  tests/unit/storage/vectors/test_qdrant_provider_id_conversion.py
Labels: tests

feat(context-graph): add context graph API and bootstrap
  src/mcp_server_langgraph/api/v1/context_graph.py
  src/mcp_server_langgraph/bootstrap/context_graph.py
  tests/integration/test_context_graph_e2e.py
  tests/unit/api/v1/test_context_graph_api.py
  tests/unit/bootstrap/test_context_graph_bootstrap.py
  tests/unit/core/test_context_graph_feature_flags.py
Labels: tests

feat(skills): add skills bootstrap and enhance search/marketplace
  src/mcp_server_langgraph/bootstrap/__init__.py
  src/mcp_server_langgraph/bootstrap/semantic.py
  src/mcp_server_langgraph/bootstrap/skills.py
  src/mcp_server_langgraph/mcp/handlers/skills.py
  src/mcp_server_langgraph/skills/adapters.py
  src/mcp_server_langgraph/skills/auto_update.py
  src/mcp_server_langgraph/skills/installer.py
  src/mcp_server_langgraph/skills/marketplace.py
  src/mcp_server_langgraph/skills/search.py
  tests/unit/bootstrap/test_semantic_bootstrap.py
  tests/unit/bootstrap/test_semantic_startup_indexing.py
  tests/unit/mcp/handlers/test_skills_semantic_search.py
  tests/unit/mcp/test_server_skill_search_integration.py
  tests/unit/skills/test_skill_indexing_pipeline.py
Labels: tests

feat(auth): enhance authorization with service principal support
  adr/adr-0002-openfga-authorization.md
  adr/adr-0068-gateway-level-authentication.md
  src/mcp_server_langgraph/auth/authorization.py
  src/mcp_server_langgraph/auth/dependencies.py
  src/mcp_server_langgraph/bootstrap/security.py
  tests/integration/auth/test_service_principal_authorization.py
  tests/integration/auth/test_skill_authorization.py
  tests/unit/auth/test_artifact_project_hierarchy.py
  tests/unit/auth/test_authorization_service.py
  tests/unit/auth/test_openfga_conditions.py
  tests/unit/auth/test_openfga_config_validation.py
  tests/unit/auth/test_openfga_model_inheritance.py
  tests/unit/auth/test_openfga_permission_boundaries.py
  tests/unit/auth/test_org_context_enforcement.py
  tests/unit/auth/test_partner_access_pattern.py
  tests/unit/auth/test_service_principal_parity.py
  tests/unit/auth/test_skill_authorization.py
Labels: documentation, tests

refactor(studio): rename FilesPage to ArtifactsPage
  src/mcp_server_langgraph/studio/frontend/src/pages/ArtifactsPage.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/pages/ArtifactsPage.tsx
Labels: none

feat(studio): add skills page with marketplace integration
  src/mcp_server_langgraph/studio/frontend/src/pages/SkillsPage.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/pages/SkillsPage.tsx
Labels: none

feat(studio): add selected tools display component
  src/mcp_server_langgraph/studio/frontend/src/components/Chat/SelectedToolsDisplay.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Chat/SelectedToolsDisplay.tsx
  src/mcp_server_langgraph/studio/frontend/src/hooks/useStreamingChat.selectedTools.test.tsx
Labels: none

feat(studio): add decision trace timeline component
  src/mcp_server_langgraph/studio/frontend/src/components/DecisionTrace/DecisionTimeline.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/DecisionTrace/DecisionTimeline.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/DecisionTrace/index.ts
Labels: none

feat(studio): add command palette context and route commands
  src/mcp_server_langgraph/studio/frontend/src/contexts/CommandPaletteContext.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/contexts/CommandPaletteContext.tsx
  src/mcp_server_langgraph/studio/frontend/src/hooks/useRouteCommands.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/hooks/useRouteCommands.ts
Labels: none

feat(studio): add context graph API and types
  src/mcp_server_langgraph/studio/frontend/src/api/contextGraphContract.test.ts
  src/mcp_server_langgraph/studio/frontend/src/api/contextGraphEndpoints.ts
  src/mcp_server_langgraph/studio/frontend/src/api/index.ts
  src/mcp_server_langgraph/studio/frontend/src/types/contextGraph.ts
Labels: none

test(semantic): add semantic tool selection tests
  tests/benchmarks/test_semantic_tool_selection_benchmark.py
  tests/e2e/test_semantic_tool_selection_e2e.py
  tests/integration/skills/test_skill_search_qdrant_integration.py
  tests/integration/test_semantic_tool_selection.py
  tests/integration/vectors/test_semantic_index_manager_qdrant.py
  tests/unit/agents/conftest.py
  tests/unit/agents/test_router_agent_semantic.py
  tests/unit/core/test_agent_graph_retrieve_memories.py
  tests/unit/core/test_agent_graph_retrieve_skills.py
  tests/unit/core/test_agent_graph_retrieve_tools_integration.py
  tests/unit/core/test_semantic_index_authorization.py
  tests/unit/core/test_semantic_index_authorization_caching.py
  tests/unit/core/test_semantic_index_bootstrap_integration.py
  tests/unit/core/test_semantic_search_feature_flags.py
  tests/unit/core/test_semantic_tool_selection_metrics.py
Labels: tests

test(auth,skills): add authorization and skills tests
  tests/fixtures/feature_flags_fixtures.py
  tests/integration/skills/test_marketplace_feature_flags_integration.py
  tests/integration/skills/test_skill_lifecycle_e2e.py
  tests/unit/api/v1/test_chat_selected_tools_sse.py
  tests/unit/api/v1/test_skills_marketplace_api.py
  tests/unit/auth/test_auth.py
  tests/unit/bootstrap/test_bootstrap_modules.py
  tests/unit/core/test_adr0092_feature_flags.py
  tests/unit/core/test_agent_config.py
  tests/unit/core/test_agent_graph_tool_binding.py
  tests/unit/skills/test_auto_update_integration.py
  tests/unit/skills/test_skill_installer.py
  tests/unit/skills/test_skill_marketplace.py
Labels: tests

docs: add ADRs for semantic selection, frontend, and context graphs
  adr/adr-0099-semantic-tool-selection.md
  adr/adr-0100-frontend-ai-native-integration.md
  adr/adr-0101-context-graphs.md
  docs-internal/frontend/DESIGN_SYSTEM.md
  docs-internal/frontend/feature-flags-mapping.md
  docs/architecture/adr-0099-semantic-tool-selection.mdx
  docs/architecture/adr-0100-frontend-ai-native-integration.mdx
  docs/architecture/adr-0101-context-graphs.mdx
  docs/docs.json
  docs/reference/environment-variables.mdx
Labels: documentation

chore: update configuration, dependencies, and infrastructure
  .env.test
  CHANGELOG.md
  README.md
  docker-compose.test.yml
  pyproject.toml
  src/mcp_server_langgraph/agents/router_agent.py
  src/mcp_server_langgraph/api/v1/router.py
  src/mcp_server_langgraph/api/v1/skills.py
  src/mcp_server_langgraph/api/v1/user.py
  src/mcp_server_langgraph/app.py
  src/mcp_server_langgraph/compliance/gdpr/data_deletion.py
  src/mcp_server_langgraph/compliance/gdpr/data_export.py
  src/mcp_server_langgraph/core/agent_config.py
  src/mcp_server_langgraph/core/agent_graph_builder.py
  src/mcp_server_langgraph/core/config/_settings.py
  src/mcp_server_langgraph/core/dependencies.py
  src/mcp_server_langgraph/core/feature_flags.py
  src/mcp_server_langgraph/core/numeric.py
  src/mcp_server_langgraph/mcp/server_streamable.py
  src/mcp_server_langgraph/studio/frontend/README.md
  src/mcp_server_langgraph/studio/frontend/eslint.config.js
  src/mcp_server_langgraph/studio/frontend/package.json
  src/mcp_server_langgraph/studio/frontend/scripts/run-tests-sharded.sh
  src/mcp_server_langgraph/studio/frontend/vitest.config.ts
  tests/unit/compliance/gdpr/test_decision_trace_gdpr.py
Labels: documentation, tests, dependencies, docker, config

feat(api): add context graph authorization checks
  src/mcp_server_langgraph/api/v1/context_graph.py
  tests/unit/api/v1/test_context_graph_authorization.py
Labels: tests

fix(frontend): prevent useAIOnboarding from hammering personalize endpoint
  src/mcp_server_langgraph/studio/frontend/src/hooks/useAIOnboarding.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/hooks/useAIOnboarding.ts
Labels: none

fix(observability): remove high-cardinality labels from Loki streams
  deployments/base/lgtm/loki-configmap.yaml
  deployments/monitoring/loki-stack-values.yaml
  docker/alloy/config.alloy
  docker/loki/loki-config.yaml
Labels: none

chore(ci): add design system metrics and visual regression workflows
  .dockerignore
  .env.test
  .github/workflows/build-alembic-image.yaml
  .github/workflows/design-system-metrics.yaml
  .github/workflows/visual-regression.yaml
  .pre-commit-config.yaml
  docker-compose.test.yml
  docker/Dockerfile.alembic
  docker/Dockerfile.sandbox
Labels: ci-cd, docker, config

chore(claude): add session management commands and memory patterns
  .claude/CLAUDE.md
  .claude/commands/checkpoint.md
  .claude/commands/compact-check.md
  .claude/commands/research.md
  .claude/commands/resume.md
  .claude/memory/anti-patterns.md
  .claude/memory/context-efficiency.md
  .claude/memory/decision-trees.md
  .claude/memory/efficient-tool-usage.md
  .claude/memory/feature-flag-conventions.md
  .claude/memory/frontend-component-patterns.md
  .claude/memory/session-workflow-patterns.md
  .github/CLAUDE.md
Labels: documentation

feat(backend): enhance model sync, API config, and sandbox execution
  alembic/env.py
  api/openapi.json
  config/openfga/compose_model.py
  config/openfga/model.json
  config/openfga/sample-tuples.json
  deployments/helm/mcp-server-langgraph/dashboards/Application/litellm-sync.json
  deployments/helm/mcp-server-langgraph/prometheus-rules/litellm-sync.yaml
  deployments/helm/mcp-server-langgraph/templates/prometheus-rules-litellm-sync.yaml
  monitoring/grafana/dashboards/Application/litellm-sync.json
  pyproject.toml
  src/mcp_server_langgraph/agents/litellm_model_sync.py
  src/mcp_server_langgraph/agents/litellm_prometheus_metrics.py
  src/mcp_server_langgraph/agents/model_registry.py
  src/mcp_server_langgraph/agents/model_selector.py
  src/mcp_server_langgraph/api/v1/config.py
  src/mcp_server_langgraph/bootstrap/__init__.py
  src/mcp_server_langgraph/bootstrap/model_sync.py
  src/mcp_server_langgraph/core/config/_settings.py
  src/mcp_server_langgraph/core/feature_flags.py
  src/mcp_server_langgraph/core/prompts/studio_prompt.py
  src/mcp_server_langgraph/execution/sandbox_packages.py
  tests/contract/test_feature_flags_frontend_contract.py
  tests/contract/test_feedback_summary_frontend_contract.py
  tests/contract/test_hallucination_frontend_contract.py
  tests/contract/test_user_me_frontend_contract.py
  tests/integration/test_openfga_real_infrastructure.py
  tests/unit/agents/test_litellm_model_sync.py
  tests/unit/agents/test_model_registry.py
  tests/unit/api/v1/test_config_router.py
  tests/unit/auth/test_artifact_project_hierarchy.py
  tests/unit/auth/test_openfga_conditions.py
  tests/unit/auth/test_openfga_permission_boundaries.py
  tests/unit/auth/test_org_context_enforcement.py
  tests/unit/auth/test_service_principal_parity.py
  tests/unit/bootstrap/test_model_sync_bootstrap.py
  tests/unit/config/test_openfga_compose_model.py
  tests/unit/execution/test_sandbox_packages.py
Labels: tests, dependencies, observability, config

docs: add frontend design system and model lifecycle documentation
  docs-internal/FEATURE_FLAG_CATALOG.md
  docs-internal/frontend/ARTIFACT_TYPES.md
  docs-internal/frontend/DESIGN_SYSTEM_EXCEPTIONS.md
  docs-internal/frontend/STYLE.md
  docs/architecture/adr-0102-enhanced-model-selector.mdx
  docs/docs.json
  docs/guides/model-lifecycle.mdx
Labels: documentation

test(docker): add Alembic Dockerfile validation tests
  tests/docker/test_alembic_dockerfile.py
Labels: tests

feat(execution): add sandbox data science environment configuration
  sandbox/pyproject.toml
Labels: none

feat(frontend): add useMetricsHistory export and AI Quality feature flag test
  src/mcp_server_langgraph/studio/frontend/src/components/Admin/AdminDashboard.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/hooks/index.ts
Labels: none

docs(frontend): enhance accessibility and state management documentation
  docs-internal/frontend/ACCESSIBILITY_IMPLEMENTATION.md
  docs-internal/frontend/STATE_MANAGEMENT_PATTERNS.md
Labels: documentation
