Repository vishnu2kmohan/mcp-server-langgraph, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, tests, ci-cd, dependencies, docker, deployment, auth, secrets, observability, mcp, agent, config, security, community

refactor: Improve CI/CD parity, simplify Makefile, and modularize conftest
  .github/workflows/integration-tests.yaml
  Makefile
  scripts/test-integration.sh
  scripts/validation/validate_repo_root_calculations.py
  tests/conftest.py
  tests/fixtures/litellm_patch.py
Labels: tests, ci-cd

fix: Resolve path calculation violations and pre-commit warning
  .pre-commit-config.yaml
  tests/meta/ci/test_workflow_validation.py
  tests/meta/validation/test_docker_compose_validation.py
  tests/meta/validation/test_documentation_integrity.py
  tests/meta/validation/test_gitleaks_config.py
  tests/meta/validation/test_yaml_syntax.py
Labels: tests, ci-cd, config

Update project configuration: adjust .gitignore, pre-commit hooks, and cleanup tracked files
  .gitignore
  .pre-commit-config.yaml
  Makefile
  flake8-baseline.txt
  mypy_errors_6.txt
  scripts/validation/check_async_mock_configuration.py
  scripts/validation/check_async_mock_usage.py
  scripts/validation/check_asyncmock_usage.py
  scripts/validation/validate_async_fixture_scope.py
  scripts/validation/validate_fast.py
  scripts/validation/validate_test_ids.py
  state_pollution_report.txt
  unit_test_output.txt
Labels: tests, ci-cd, config

Consolidate Redis containers for integration tests
  docker-compose.test.yml
  docker/prometheus.yml
  scripts/test-integration.sh
Labels: docker, config

Fix(mypy, tests): Resolve type errors and update test configuration
  src/mcp_server_langgraph/app.py
  src/mcp_server_langgraph/llm/factory.py
  src/mcp_server_langgraph/resilience/circuit_breaker.py
  tests/integration/deployment/test_keycloak_readonly_filesystem.py
  tests/meta/test_compose_file_usage.py
  tests/unit/config/test_postgres_connection_config.py
Labels: tests

test(validation): whitelist known commands in docker-compose validation
  tests/meta/validation/test_docker_compose_validation.py
Labels: tests

Fix: CI/CD validation parity, pre-commit hooks and test code updates.
  .pre-commit-config.yaml
  tests/meta/test_compose_file_usage.py
  tests/meta/test_local_ci_parity.py
  tests/regression/test_pytest_xdist_port_conflicts.py
Labels: tests, ci-cd, config

fix: address validation audit findings (scripts, types, security, tests)
  adr/README.md
  deployments/argocd/base/argocd-install.yaml
  deployments/argocd/base/kustomization.yaml
  deployments/argocd/base/secret.yaml
  deployments/base/keycloak-deployment.yaml
  deployments/base/postgres-statefulset.yaml
  run_audit.sh
  scripts/validation/file_naming_validator.py
  scripts/validation/mdx_extension_validator.py
  src/mcp_server_langgraph/core/agent.py
  src/mcp_server_langgraph/resilience/circuit_breaker.py
  tests/integration/api/test_api_keys_endpoints.py
  tests/integration/property/test_auth_properties.py
  tests/integration/security/test_scim_service_principal_openfga.py
  tests/integration/test_agent.py
  tests/integration/test_app_startup_validation.py
  tests/integration/test_database_connectivity_real.py
  tests/integration/test_gdpr.py
  tests/integration/test_openfga_cleanup.py
  tests/integration/test_openfga_client.py
  tests/integration/test_soc2_evidence.py
  tests/meta/test_kubectl_safety.py
Labels: documentation, tests

Fix: Resolve MyPy errors in agent.py related to Sequence to List type mismatches
  src/mcp_server_langgraph/core/agent.py
Labels: none

docs(security): Fix .trivyignore accuracy - remove incorrect PostgreSQL/Keycloak exceptions
  .trivyignore
  deployments/base/.trivyignore
  tests/integration/deployment/test_keycloak_readonly_filesystem.py
  tests/meta/validation/test_kubernetes_security.py
  tests/unit/core/test_agent_type_safety.py
Labels: tests

docs: complete documentation audit and fix critical Mintlify configuration
  .github/workflows/ci.yaml
  .pre-commit-config.yaml
  DOCUMENTATION_AUDIT_SUMMARY.md
  Makefile
  docs-internal/audits/DOCUMENTATION_AUDIT_2025-11-23.md
  docs-internal/audits/DOCUMENTATION_AUDIT_REMEDIATION_2025-11-23.md
  docs/docs.json
  scripts/run_pre_push_tests.py
  src/mcp_server_langgraph/auth/openfga.py
  src/mcp_server_langgraph/core/agent.py
  tests/integration/compliance/test_postgres_conversation_store.py
  tests/integration/compliance/test_postgres_preferences_store.py
  tests/integration/test_api_versioning.py
  tests/integration/test_app_startup_validation.py
  tests/integration/test_bearer_scheme_diagnostic.py
  tests/integration/test_database_connectivity_real.py
  tests/integration/test_error_handlers.py
  tests/integration/test_openfga_client.py
  tests/meta/auth/test_openfga_lazy_initialization.py
  tests/meta/ci/test_makefile_mypy_blocking.py
  tests/meta/ci/test_marker_consistency.py
  tests/meta/ci/test_precommit_mypy_blocking.py
  tests/meta/test_hardcoded_test_ids.py
Labels: documentation, tests, ci-cd, config

docs: cleanup outdated and duplicate documentation files
  .claude/context/testing-patterns.md
  AGENTS.md
  DEVELOPER_ONBOARDING.md
  HYPOTHESIS_PROFILES.md
  INFRASTRUCTURE-DEPLOYMENT-CHECKLIST.md
  MDX_SYNTAX_GUIDE.md
  MIGRATION.md
  Makefile
  NAMING-CONVENTIONS.md
  QUICK_REFERENCE.md
  REPOSITORY_STRUCTURE.md
  ROADMAP.md
  SECRETS.md
  TESTING.md
  docs-internal/archive/audits/DOCUMENTATION_AUDIT_2025-10-20_FINAL.md
  docs-internal/archive/audits/DOCUMENTATION_AUDIT_FINAL_REPORT_20251113.md
  docs-internal/archive/audits/documentation-audit-remediation-report-2025-11-20.md
  docs-internal/audits/DOCUMENTATION_AUDIT_SUMMARY.md
  docs-internal/planning/FIX_PLAN.md
  docs-internal/testing/INTEGRATION_TEST_FINDINGS.md
Labels: documentation, tests, ci-cd

chore: update Claude Code context and memory files
  .claude/README.md
  .claude/memory/make-targets.md
  .claude/memory/pre-commit-hooks-catalog.md
  .github/CLAUDE.md
  src/mcp_server_langgraph/mcp/server_streamable.py
  tests/e2e/keycloak-test-realm.json
  tests/e2e/test_real_clients.py
Labels: documentation, tests

docs(claude-code): Add critical test infrastructure documentation
  .claude/context/pytest-markers.md
  .claude/context/test-constants-pattern.md
  .claude/context/xdist-safety-patterns.md
Labels: documentation

Fix: Remove empty Grafana dashboards.yml artifact and update .gitignore
  .gitignore
  monitoring/grafana/dashboards/dashboards.yml
  tests/integration/api/test_health.py
  tests/integration/test_openfga_client.py
Labels: tests, observability

feat(mypy): Align MyPy configuration for local/CI/pre-commit parity
  .pre-commit-config.yaml
  pyproject.toml
  src/mcp_server_langgraph/auth/keycloak.py
  src/mcp_server_langgraph/core/test_helpers.py
  src/mcp_server_langgraph/mcp/server_stdio.py
  src/mcp_server_langgraph/mcp/server_streamable.py
  src/mcp_server_langgraph/middleware/rate_limiter.py
  src/mcp_server_langgraph/monitoring/cost_tracker.py
  src/mcp_server_langgraph/observability/telemetry.py
  src/mcp_server_langgraph/patterns/swarm.py
  tests/meta/test_mypy_enforcement.py
Labels: tests, ci-cd, dependencies, config

refactor(pre-commit): Apply environment parity treatment to all Python hooks
  .pre-commit-config.yaml
Labels: ci-cd, config

♻️ Refactor: Fix Trivy config, Keycloak security, and test validation improvements
  .trivyignore
  deployments/argocd/base/.trivyignore
  deployments/argocd/base/kustomization.yaml
  deployments/base/.trivyignore
  deployments/base/keycloak-deployment.yaml
  deployments/overlays/production-gke/.trivyignore
  deployments/overlays/production-gke/keycloak-patch.yaml
  scripts/validation/validate_ids.py
  scripts/validation/validate_test_ids.py
  tests/integration/test_docker_health_checks.py
  tests/integration/test_openfga_cleanup.py
  tests/meta/test_id_pollution_prevention.py
Labels: tests

fix: Replace hardcoded IDs with worker-safe helpers in integration tests
  tests/integration/compliance/test_hipaa.py
  tests/integration/contract/test_mcp_contract.py
  tests/integration/property/test_auth_properties.py
Labels: tests

fix: Resolve test isolation violations and pre-commit hook configuration issues
  tests/meta/auth/test_openfga_lazy_initialization.py
  tests/meta/ci/test_makefile_mypy_blocking.py
  tests/meta/ci/test_marker_consistency.py
  tests/meta/ci/test_precommit_mypy_blocking.py
  tests/meta/test_hardcoded_test_ids.py
  tests/meta/test_mypy_enforcement.py
  tests/regression/test_precommit_hook_dependencies.py
  tests/unit/core/test_agent_type_safety.py
Labels: tests

fix: Update Makefile xdist enforcement test to accept modern orchestrator architecture
  tests/meta/test_makefile_prepush_parity.py
Labels: tests

feat: Add uv pip check to pre-push hooks for dependency conflict detection
  .pre-commit-config.yaml
  tests/meta/test_local_ci_parity.py
Labels: tests, ci-cd, config

fix: Allow documented readOnlyRootFilesystem exceptions in Trivy test
  deployments/overlays/production-gke/keycloak-patch.yaml
  deployments/overlays/staging-gke/keycloak-patch.yaml
  tests/deployment/test_security_hardening.py
Labels: tests

fix: Update MyPy test to reflect BLOCKING behavior (not non-blocking)
  tests/meta/test_local_ci_parity.py
Labels: tests

feat: Add test_infrastructure_ports fixture for single-instance architecture
  tests/conftest.py
Labels: tests

fix: Update marker consistency test for consolidated script architecture
  tests/meta/test_local_ci_parity.py
Labels: tests

fix: Consolidate test Redis to single instance with DB index isolation
  docker-compose.test.yml
  scripts/test-integration.sh
  tests/conftest.py
  tests/meta/test_compose_file_usage.py
  tests/meta/test_fixture_organization.py
  tests/meta/test_infrastructure_singleton.py
  tests/meta/test_integration_script_args.py
Labels: tests, docker, config

feat: Optimize test infrastructure for 40-70% faster execution
  .pre-commit-config.yaml
  Makefile
  tests/api/test_database_startup_validation.py
  tests/infrastructure/test_app_factory.py
  tests/infrastructure/test_database_ha.py
  tests/infrastructure/test_gdpr_storage_initialization.py
  tests/infrastructure/test_retry_integration_simple.py
  tests/meta/test_fixture_organization.py
  tests/meta/test_makefile_parallelization.py
  tests/meta/test_precommit_cross_platform.py
  tests/meta/test_validate_prepush_efficiency.py
Labels: tests, ci-cd, config

docs: Update API examples to reflect current version 2.8.0
  .pre-commit-config.yaml
  docs/api-reference/health-checks.mdx
  docs/api-reference/mcp-endpoints.mdx
  docs/api-reference/mcp/messages.mdx
  docs/getting-started/first-request.mdx
Labels: documentation, ci-cd, config

fix: Update Makefile and MyPy tests to reflect routing architecture
  Makefile
  tests/meta/ci/test_makefile_mypy_blocking.py
Labels: tests, ci-cd

fix: Update test_local_ci_parity tests to check sub-targets instead of router
  tests/meta/test_local_ci_parity.py
Labels: tests

fix: Update marker consistency test to check sub-targets
  tests/meta/ci/test_marker_consistency.py
Labels: tests

feat: Add infrastructure auto-detection for tests
  tests/INFRASTRUCTURE_AUTO_SETUP.md
  tests/infrastructure_helpers.py
  tests/meta/test_alembic_schema_parity.py
Labels: documentation, tests

fix: Update meta-tests to check Makefile sub-targets instead of router
  scripts/validation/check_test_naming.py
  tests/meta/test_fixture_validation.py
  tests/meta/test_hook_sync_validation.py
  tests/meta/test_makefile_prepush_parity.py
  tests/validation_lib/naming.py
Labels: tests

fix: Resolve remaining meta-test failures and reorganize test files
  .github/CLAUDE.md
  CONTRIBUTING.md
  README.md
  pyproject.toml
  scripts/archive/unused/apply_memory_safety_fixes.py
  scripts/archive/unused/bulk_fix_async_mock.py
  scripts/archive/unused/calculate_gke_resources.py
  scripts/archive/unused/ci_health_check.py
  scripts/archive/unused/convert_inline_styles_to_classdef.py
  scripts/archive/unused/convert_list_pytestmarks.py
  scripts/archive/unused/detect_dead_test_code.py
  scripts/archive/unused/fix_k8s_readonly_root_fs.py
  scripts/archive/unused/fix_missing_pytestmarks.py
  scripts/archive/unused/generate_mcp_tools_openapi.py
  scripts/archive/unused/generate_test_stats.py
  scripts/archive/unused/migrate_integration_tests.py
  scripts/archive/unused/remove_duplicate_fixtures.py
  scripts/archive/unused/remove_xml_tags.py
  scripts/archive/unused/rename_screaming_snake_case.py
  scripts/archive/unused/scan_test_resource_usage.py
  scripts/archive/unused/standardize_placeholders.py
  scripts/archive/unused/test_fix_missing_pytestmarks.py
  scripts/archive/unused/update_kong_jwks.py
  scripts/archive/unused/update_sequence_diagram_dark_mode.py
  scripts/validation/validate_docs.py
  scripts/validation/validate_pre_push_hook.py
  scripts/validation/validate_test_safety.py
  tests/integration/compliance/test_hipaa.py
  tests/integration/test_database_ha.py
  tests/integration/test_gdpr_storage_initialization.py
  tests/integration/test_retry_integration_simple.py
  tests/meta/test_marker_enforcement.py
  tests/meta/test_pytestmark_syntax_regression.py
Labels: documentation, tests, dependencies, config, community

fix(tests): update port conflict regression tests for consolidated Redis architecture
  tests/regression/test_pytest_xdist_port_conflicts.py
Labels: tests

fix(mypy): resolve all 19 MyPy type errors
  src/mcp_server_langgraph/auth/api_keys.py
  src/mcp_server_langgraph/auth/role_mapper.py
  src/mcp_server_langgraph/auth/session.py
  src/mcp_server_langgraph/builder/codegen/generator.py
  src/mcp_server_langgraph/compliance/retention.py
  src/mcp_server_langgraph/core/cache.py
  src/mcp_server_langgraph/core/checkpoint_validator.py
  src/mcp_server_langgraph/core/dependencies.py
  src/mcp_server_langgraph/core/storage/conversation_store.py
  src/mcp_server_langgraph/observability/telemetry.py
Labels: none

fix(tests): correct import paths in integration and regression tests
  tests/integration/patterns/test_supervisor.py
  tests/integration/patterns/test_swarm.py
  tests/integration/test_bearer_scheme_diagnostic.py
  tests/regression/test_bearer_scheme_isolation.py
Labels: tests

fix(ci-cd): resolve K8s validation workflow configuration drift
  .github/workflows/validate-k8s-configs.yml
Labels: ci-cd

fix(deployment): resolve OPA port validation failures for staging Redis
  deployments/overlays/staging-gke/configmap-patch.yaml
  deployments/overlays/staging-gke/network-policy.yaml
  deployments/overlays/staging-gke/redis-session-service-patch.yaml
Labels: none

.github/labeler.yml:

# Auto-labeler configuration for PRs
# Uses changed-files pattern matching

# Documentation
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'
      - '**/*.mdx'
      - 'docs/**/*'
      - 'mint.json'
      - '.mcp/*.json'

# Tests
tests:
  - changed-files:
    - any-glob-to-any-file:
      - 'tests/**/*'
      - '**/*test*.py'
      - 'test_*.py'
      - '*_test.py'
      - 'pytest.ini'
      - 'conftest.py'
      - 'TESTING.md'

# CI/CD
ci-cd:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**/*'
      - '.github/actions/**/*'
      - '.gitlab-ci.yml'
      - 'Makefile'
      - '.pre-commit-config.yaml'

# Dependencies
dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'requirements*.txt'
      - 'setup.py'
      - 'pyproject.toml'
      - 'poetry.lock'
      - 'package*.json'
      - 'yarn.lock'

# Docker
docker:
  - changed-files:
    - any-glob-to-any-file:
      - 'Dockerfile*'
      - 'docker-compose*.yml'
      - '.dockerignore'

# Kubernetes/Deployment
deployment:
  - changed-files:
    - any-glob-to-any-file:
      - 'kubernetes/**/*'
      - 'kustomize/**/*'
      - 'helm/**/*'
      - 'k8s/**/*'
      - 'KUBERNETES_DEPLOYMENT.md'
      - 'PRODUCTION_DEPLOYMENT.md'

# Authentication/Authorization
auth:
  - changed-files:
    - any-glob-to-any-file:
      - 'auth.py'
      - 'openfga_client.py'
      - 'setup_openfga.py'

# Secrets Management
secrets:
  - changed-files:
    - any-glob-to-any-file:
      - 'secrets_manager.py'
      - 'setup_infisical.py'

# Observability
observability:
  - changed-files:
    - any-glob-to-any-file:
      - 'observability.py'
      - 'health_check.py'
      - 'monitoring/**/*'
      - 'grafana/**/*'

# MCP Server
mcp:
  - changed-files:
    - any-glob-to-any-file:
      - 'mcp_server*.py'
      - 'examples/*client*.py'

# Agent/Core
agent:
  - changed-files:
    - any-glob-to-any-file:
      - 'agent.py'
      - 'graph.py'
      - 'models.py'
      - 'prompt*.py'

# Configuration
config:
  - changed-files:
    - any-glob-to-any-file:
      - 'config.py'
      - '.env*'
      - 'settings.py'
      - '*.yaml'
      - '*.yml'
      - '*.toml'
      - '*.ini'
      - '.editorconfig'

# Security
security:
  - changed-files:
    - any-glob-to-any-file:
      - 'auth.py'
      - 'secrets_manager.py'
      - 'openfga_client.py'
      - 'SECURITY*.md'
      - '.github/workflows/security-scan.yaml'
      - 'scripts/validate_production.py'

# Community
community:
  - changed-files:
    - any-glob-to-any-file:
      - 'CODE_OF_CONDUCT.md'
      - 'CONTRIBUTING.md'
      - 'DEVELOPMENT.md'
      - '.github/SUPPORT.md'
      - '.github/FUNDING.yml'
      - '.github/ISSUE_TEMPLATE/**/*'
      - '.github/PULL_REQUEST_TEMPLATE.md'
