Repository vishnu2kmohan/mcp-server-langgraph, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, tests, ci-cd, dependencies, docker, deployment, auth, secrets, observability, mcp, agent, config, security, community

feat(ci-cd): add preventive infrastructure for configuration drift
  .github/workflows/local-preflight-check.yaml
  .github/workflows/quality-tests.yaml
  .github/workflows/validate-kubernetes.yaml
  .pre-commit-config.yaml
  scripts/validation/validate_workflow_file_references.py
Labels: ci-cd, config

fix(ci-cd): reference .trivyignore in Trivy GCP compliance scan
  .github/workflows/deploy-production-gke.yaml
  .github/workflows/gcp-compliance-scan.yaml
Labels: ci-cd

fix(tests): correct E2E test fixture name references
  tests/e2e/test_full_user_journey.py
Labels: tests

feat(tests): add comprehensive pytest fixture dependency validator
  .pre-commit-config.yaml
  scripts/validation/validate_pytest_fixtures.py
Labels: tests, ci-cd, config

fix(docs): correct 2 broken high-priority internal links
  .github/CONTRIBUTING.md
  adr/README.md
Labels: documentation

fix(ci-cd): resolve critical test flow and CI/CD configuration drift
  .github/workflows/ci.yaml
  Makefile
  scripts/run_pre_push_tests.py
  tests/meta/test_makefile_prepush_parity.py
Labels: tests, ci-cd

feat(testing): add conditional meta test execution based on changed files
  scripts/run_pre_push_tests.py
  tests/meta/test_run_pre_push_tests.py
Labels: tests

refactor(makefile): consolidate duplicate pre-push validation phases
  Makefile
Labels: ci-cd

docs: add comprehensive CLI tool requirements and setup guide
  docs/DEVELOPER_SETUP.md
Labels: documentation

test(meta): update fixture to include shared Makefile targets
  tests/meta/test_makefile_prepush_parity.py
Labels: tests

refactor(validation): comprehensive validation flow fixes and modern best practices
  .github/workflows/ci.yaml
  .pre-commit-config.yaml
  Makefile
  scripts/run_pre_push_tests.py
  tests/meta/test_run_pre_push_tests.py
Labels: tests, ci-cd, config

test(validation): add comprehensive CI_PARITY Docker validation tests
  scripts/run_pre_push_tests.py
  tests/meta/test_run_pre_push_tests.py
Labels: tests

refactor(makefile): rename misleading validation target to match implementation
  Makefile
Labels: ci-cd

refactor(scripts): standardize Python environment usage with uv run
  .github/workflows/local-preflight-check.yaml
  scripts/dependency-audit.sh
Labels: ci-cd

docs: update validation documentation to reflect testmon removal
  README.md
  docs-internal/CODEX_FINDINGS_REMEDIATION_SUMMARY.md
Labels: documentation

docs: add comprehensive validation flow remediation progress report
  docs-internal/VALIDATION_FLOW_REMEDIATION_PROGRESS.md
Labels: documentation

test: fix meta tests after Makefile target refactoring
  docs-internal/PHASE_2_HOOK_REBALANCING_PLAN.md
  docs-internal/VALIDATION_FLOW_REMEDIATION_FINAL_SUMMARY.md
  tests/meta/test_local_ci_parity.py
  tests/meta/test_validate_prepush_efficiency.py
Labels: documentation, tests

feat(profiling): add hook performance profiling script (Phase 2.1)
  scripts/profiling/profile_hooks.py
  tests/meta/test_hook_profiler.py
Labels: tests

perf(profiling): complete Phase 2.2 - baseline hook performance metrics
  docs-internal/profiling/hooks_performance.csv
  docs-internal/profiling/hooks_performance.json
  docs-internal/profiling/hooks_performance.md
Labels: documentation

perf(hooks): move 3 heavy hooks to pre-push stage (Phase 2.3b)
  .pre-commit-config.yaml
Labels: ci-cd, config

test: verify fast commit performance
  scripts/profiling/profile_hooks.py
Labels: none

refactor(scripts): standardize Python environment usage with uv run
  scripts/workflow/update-context-files.py
Labels: none

perf(hooks): enable dual-stage dependency validation
  .pre-commit-config.yaml
Labels: ci-cd, config

perf(hooks): remove redundant pre-commit execution for validation hooks
  .pre-commit-config.yaml
Labels: ci-cd, config

feat(scripts): add automated script inventory generator (Phase 5.1)
  scripts/README.md
  scripts/SCRIPT_INVENTORY.md
  scripts/generate_script_inventory.py
Labels: documentation

chore(scripts): complete script archival and documentation (Phase 5.2)
  scripts/SCRIPT_INVENTORY.md
  scripts/archive/README.md
  scripts/archive/completed/add_missing_frontmatter.py
  scripts/archive/completed/add_seo_fields.py
Labels: documentation

refactor(scripts): consolidate development utilities into dev/
  scripts/dev/README.md
  scripts/dev/generate_clients.sh
  scripts/dev/generate_openapi.py
  scripts/dev/update_documentation.py
  scripts/dev/update_imports.py
  scripts/development/README.md
Labels: documentation

test: add comprehensive tests for ADR sync validator (80%+ coverage)
  tests/unit/validators/test_adr_sync_validator.py
Labels: tests

fix: update imports after validator directory consolidation
  .pre-commit-config.yaml
  scripts/validators/validate_fast.py
  scripts/validators/validate_test_ids.py
  tests/meta/test_validator_consistency.py
  tests/scripts/test_test_ids_validator.py
Labels: tests, ci-cd, config

feat(workflows): migrate workflows to setup-python-deps composite action (Phase 5.5.1 - partial)
  .github/workflows/ci.yaml
  .github/workflows/dora-metrics.yaml
  .github/workflows/local-preflight-check.yaml
  .github/workflows/security-validation.yml
  .github/workflows/validate-k8s-configs.yml
  docs-internal/PYTHON_UV_SETUP_MIGRATION.md
  docs-internal/WORKFLOW_DUPLICATION_AUDIT.md
  scripts/dev/audit_workflow_duplication.py
  scripts/dev/find_manual_python_uv_setup.py
  scripts/dev/migrate_to_composite_action.py
Labels: documentation, ci-cd

feat(workflows): migrate 3 more workflows to setup-python-deps composite action
  .github/workflows/e2e-tests.yaml
  .github/workflows/integration-tests.yaml
  .github/workflows/release.yaml
Labels: ci-cd

refactor(workflows): migrate docs-validation and performance-regression to setup-python-deps
  .github/workflows/docs-validation.yaml
  .github/workflows/performance-regression.yaml
Labels: ci-cd

refactor(workflows): complete migration to setup-python-deps composite action
  .github/workflows/ci.yaml
  .github/workflows/weekly-reports.yaml
  docs-internal/PYTHON_UV_SETUP_MIGRATION.md
Labels: documentation, ci-cd

fix: resolve import errors after validator consolidation
  scripts/validators/validate_async_fixture_scope.py
  tests/unit/test_gke_autopilot_validator.py
Labels: tests

feat(actions): add setup-docker-buildx composite action
  .github/actions/setup-docker-buildx/README.md
  .github/actions/setup-docker-buildx/action.yaml
Labels: documentation, ci-cd

refactor(workflows): migrate 4 workflows to setup-docker-buildx composite action
  .github/workflows/ci.yaml
  .github/workflows/deploy-production-gke.yaml
  .github/workflows/deploy-staging-gke.yaml
  .github/workflows/release.yaml
Labels: ci-cd

docs: add comprehensive workflow consolidation impact report (Phase 6.3)
  docs-internal/WORKFLOW_CONSOLIDATION_REPORT.md
Labels: documentation

docs(changelog): document composite action consolidation work (Phase 6.2)
  CHANGELOG.md
Labels: documentation

feat(actions): add setup-gcp-auth composite action (Phase 5.5.3)
  .github/actions/setup-gcp-auth/README.md
  .github/actions/setup-gcp-auth/action.yaml
  .github/workflows/ci.yaml
  .github/workflows/deploy-production-gke.yaml
  .github/workflows/deploy-staging-gke.yaml
  .github/workflows/gcp-drift-detection.yaml
Labels: documentation, ci-cd

docs: update documentation for GCP auth consolidation (Phase 5.5.3.4)
  CHANGELOG.md
  docs-internal/WORKFLOW_CONSOLIDATION_REPORT.md
Labels: documentation

.github/labeler.yml:

# Auto-labeler configuration for PRs
# Uses changed-files pattern matching

# Documentation
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'
      - '**/*.mdx'
      - 'docs/**/*'
      - 'mint.json'
      - '.mcp/*.json'

# Tests
tests:
  - changed-files:
    - any-glob-to-any-file:
      - 'tests/**/*'
      - '**/*test*.py'
      - 'test_*.py'
      - '*_test.py'
      - 'pytest.ini'
      - 'conftest.py'
      - 'TESTING.md'

# CI/CD
ci-cd:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**/*'
      - '.github/actions/**/*'
      - '.gitlab-ci.yml'
      - 'Makefile'
      - '.pre-commit-config.yaml'

# Dependencies
dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'requirements*.txt'
      - 'setup.py'
      - 'pyproject.toml'
      - 'poetry.lock'
      - 'package*.json'
      - 'yarn.lock'

# Docker
docker:
  - changed-files:
    - any-glob-to-any-file:
      - 'Dockerfile*'
      - 'docker-compose*.yml'
      - '.dockerignore'

# Kubernetes/Deployment
deployment:
  - changed-files:
    - any-glob-to-any-file:
      - 'kubernetes/**/*'
      - 'kustomize/**/*'
      - 'helm/**/*'
      - 'k8s/**/*'
      - 'KUBERNETES_DEPLOYMENT.md'
      - 'PRODUCTION_DEPLOYMENT.md'

# Authentication/Authorization
auth:
  - changed-files:
    - any-glob-to-any-file:
      - 'auth.py'
      - 'openfga_client.py'
      - 'setup_openfga.py'

# Secrets Management
secrets:
  - changed-files:
    - any-glob-to-any-file:
      - 'secrets_manager.py'
      - 'setup_infisical.py'

# Observability
observability:
  - changed-files:
    - any-glob-to-any-file:
      - 'observability.py'
      - 'health_check.py'
      - 'monitoring/**/*'
      - 'grafana/**/*'

# MCP Server
mcp:
  - changed-files:
    - any-glob-to-any-file:
      - 'mcp_server*.py'
      - 'examples/*client*.py'

# Agent/Core
agent:
  - changed-files:
    - any-glob-to-any-file:
      - 'agent.py'
      - 'graph.py'
      - 'models.py'
      - 'prompt*.py'

# Configuration
config:
  - changed-files:
    - any-glob-to-any-file:
      - 'config.py'
      - '.env*'
      - 'settings.py'
      - '*.yaml'
      - '*.yml'
      - '*.toml'
      - '*.ini'
      - '.editorconfig'

# Security
security:
  - changed-files:
    - any-glob-to-any-file:
      - 'auth.py'
      - 'secrets_manager.py'
      - 'openfga_client.py'
      - 'SECURITY*.md'
      - '.github/workflows/security-scan.yaml'
      - 'scripts/validate_production.py'

# Community
community:
  - changed-files:
    - any-glob-to-any-file:
      - 'CODE_OF_CONDUCT.md'
      - 'CONTRIBUTING.md'
      - 'DEVELOPMENT.md'
      - '.github/SUPPORT.md'
      - '.github/FUNDING.yml'
      - '.github/ISSUE_TEMPLATE/**/*'
      - '.github/PULL_REQUEST_TEMPLATE.md'
