Repository vishnu2kmohan/mcp-server-langgraph, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, tests, ci-cd, dependencies, docker, deployment, auth, secrets, observability, mcp, agent, config, security, community

.github/labeler.yml:

# Auto-labeler configuration for PRs
# Uses changed-files pattern matching

# Documentation
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'
      - '**/*.mdx'
      - 'docs/**/*'
      - 'mint.json'
      - '.mcp/*.json'

# Tests
tests:
  - changed-files:
    - any-glob-to-any-file:
      - 'tests/**/*'
      - '**/*test*.py'
      - 'test_*.py'
      - '*_test.py'
      - 'pytest.ini'
      - 'conftest.py'
      - 'TESTING.md'

# CI/CD
ci-cd:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**/*'
      - '.github/actions/**/*'
      - '.gitlab-ci.yml'
      - 'Makefile'
      - '.pre-commit-config.yaml'

# Dependencies
dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'requirements*.txt'
      - 'setup.py'
      - 'pyproject.toml'
      - 'poetry.lock'
      - 'package*.json'
      - 'yarn.lock'

# Docker
docker:
  - changed-files:
    - any-glob-to-any-file:
      - 'Dockerfile*'
      - 'docker-compose*.yml'
      - '.dockerignore'

# Kubernetes/Deployment
deployment:
  - changed-files:
    - any-glob-to-any-file:
      - 'kubernetes/**/*'
      - 'kustomize/**/*'
      - 'helm/**/*'
      - 'k8s/**/*'
      - 'KUBERNETES_DEPLOYMENT.md'
      - 'PRODUCTION_DEPLOYMENT.md'

# Authentication/Authorization
auth:
  - changed-files:
    - any-glob-to-any-file:
      - 'auth.py'
      - 'openfga_client.py'
      - 'setup_openfga.py'

# Secrets Management
secrets:
  - changed-files:
    - any-glob-to-any-file:
      - 'secrets_manager.py'
      - 'setup_infisical.py'

# Observability
observability:
  - changed-files:
    - any-glob-to-any-file:
      - 'observability.py'
      - 'health_check.py'
      - 'monitoring/**/*'
      - 'grafana/**/*'

# MCP Server
mcp:
  - changed-files:
    - any-glob-to-any-file:
      - 'mcp_server*.py'
      - 'examples/*client*.py'

# Agent/Core
agent:
  - changed-files:
    - any-glob-to-any-file:
      - 'agent.py'
      - 'graph.py'
      - 'models.py'
      - 'prompt*.py'

# Configuration
config:
  - changed-files:
    - any-glob-to-any-file:
      - 'config.py'
      - '.env*'
      - 'settings.py'
      - '*.yaml'
      - '*.yml'
      - '*.toml'
      - '*.ini'
      - '.editorconfig'

# Security
security:
  - changed-files:
    - any-glob-to-any-file:
      - 'auth.py'
      - 'secrets_manager.py'
      - 'openfga_client.py'
      - 'SECURITY*.md'
      - '.github/workflows/security-scan.yaml'
      - 'scripts/validate_production.py'

# Community
community:
  - changed-files:
    - any-glob-to-any-file:
      - 'CODE_OF_CONDUCT.md'
      - 'CONTRIBUTING.md'
      - 'DEVELOPMENT.md'
      - '.github/SUPPORT.md'
      - '.github/FUNDING.yml'
      - '.github/ISSUE_TEMPLATE/**/*'
      - '.github/PULL_REQUEST_TEMPLATE.md'

feat(observability): add datasource template variable to all dashboards
  monitoring/grafana/dashboards/Application/builder.json
  monitoring/grafana/dashboards/Application/llm-performance.json
  monitoring/grafana/dashboards/Application/playground.json
  monitoring/grafana/dashboards/Auth/authentication.json
  monitoring/grafana/dashboards/Auth/keycloak.json
  monitoring/grafana/dashboards/Auth/openfga.json
  monitoring/grafana/dashboards/Auth/security.json
  monitoring/grafana/dashboards/Compliance/sla-monitoring.json
  monitoring/grafana/dashboards/Compliance/soc2-compliance.json
  monitoring/grafana/dashboards/Infrastructure/lgtm-stack.json
  monitoring/grafana/dashboards/Infrastructure/postgresql.json
  monitoring/grafana/dashboards/Infrastructure/qdrant.json
  monitoring/grafana/dashboards/Infrastructure/redis-sessions.json
  monitoring/grafana/dashboards/Infrastructure/traefik.json
  monitoring/grafana/dashboards/Overview/langgraph-agent.json
Labels: observability

fix(observability): replace container_* with process_* metrics
  monitoring/grafana/dashboards/Auth/keycloak.json
  monitoring/grafana/dashboards/Overview/langgraph-agent.json
  monitoring/grafana/dashboards/README.md
Labels: documentation, observability

feat(observability): add panel descriptions and row organization
  monitoring/grafana/dashboards/Application/builder.json
  monitoring/grafana/dashboards/Application/llm-performance.json
  monitoring/grafana/dashboards/Application/playground.json
  monitoring/grafana/dashboards/Auth/authentication.json
  monitoring/grafana/dashboards/Auth/keycloak.json
  monitoring/grafana/dashboards/Auth/openfga.json
  monitoring/grafana/dashboards/Auth/security.json
  monitoring/grafana/dashboards/Infrastructure/lgtm-stack.json
  monitoring/grafana/dashboards/Infrastructure/postgresql.json
  monitoring/grafana/dashboards/Overview/langgraph-agent.json
  tests/unit/auth/test_prometheus_auth_metrics.py
Labels: tests, observability

fix(ci): increase Keycloak realm import verification timeout to 120s
  .github/workflows/e2e-tests.yaml
Labels: ci-cd

fix(ci): use mcp-test realm instead of master for Keycloak --import-realm
  .github/workflows/e2e-tests.yaml
  docker-compose.test.yml
  docs-internal/TESTING_INFRASTRUCTURE_IMPROVEMENTS_2025-11-21.md
  scripts/test-integration.sh
  tests/README.md
  tests/e2e/mcp-test-realm.json
  tests/e2e/real_clients.py
  tests/e2e/test_full_user_journey.py
  tests/e2e/test_real_clients.py
  tests/fixtures/docker_fixtures.py
  tests/integration/test_mcp_streamable.py
  tests/meta/test_e2e_keycloak_setup.py
  tests/meta/test_e2e_organization.py
Labels: documentation, tests, ci-cd, docker, config

fix(ci): workaround Keycloak 26.x realm import regression (issue #36284)
  docker-compose.test.yml
Labels: docker, config

feat(config): add 12-factor compliant .env.test for test infrastructure
  .env.test
  .github/workflows/optional-deps-test.yaml
  docker-compose.test.yml
  tests/conftest.py
  tests/constants.py
  tests/integration/compliance/test_postgres_audit_log_store.py
  tests/integration/compliance/test_postgres_user_profile_store.py
  tests/integration/test_health_check.py
  tests/test_constants.py
Labels: tests, ci-cd, docker, config

chore(security): allowlist .env.test in gitleaks and trufflehog
  .gitleaks.toml
  .trufflehogignore
Labels: config

fix(test): rename Keycloak realm file to avoid Keycloak 26 import bug
  .github/workflows/e2e-tests.yaml
  docker-compose.test.yml
  docs-internal/TESTING_INFRASTRUCTURE_IMPROVEMENTS_2025-11-21.md
  tests/README.md
  tests/e2e/mcp-test.json
  tests/e2e/test_full_user_journey.py
  tests/fixtures/docker_fixtures.py
  tests/integration/test_mcp_streamable.py
  tests/meta/test_e2e_keycloak_setup.py
  tests/meta/test_e2e_organization.py
Labels: documentation, tests, ci-cd, docker, config

fix(observability): resolve OTLP 404 and health 307 redirect issues
  deployments/kong/kong.yaml
  deployments/kubernetes/kong/kong-ingress.yaml
  docker-compose.test.yml
  docker/docker-compose.yml
  src/mcp_server_langgraph/observability/telemetry.py
Labels: docker, config

fix(ci): increase Keycloak timeout for realm import with PostgreSQL
  .github/workflows/e2e-tests.yaml
  docker-compose.test.yml
Labels: ci-cd, docker, config

fix(ci): add Keycloak realm import diagnostics
  .github/workflows/e2e-tests.yaml
Labels: ci-cd

feat(observability): redesign LLM Performance dashboard with best practices
  deployments/helm/mcp-server-langgraph/dashboards/llm-performance.json
Labels: none

feat(observability): redesign Authentication dashboard with best practices
  deployments/helm/mcp-server-langgraph/dashboards/authentication.json
Labels: none

feat(observability): redesign OpenFGA Authorization dashboard with best practices
  deployments/helm/mcp-server-langgraph/dashboards/openfga.json
Labels: none

feat(observability): create Playground dashboard with session and chat metrics
  deployments/helm/mcp-server-langgraph/dashboards/playground.json
Labels: none

feat(observability): create Builder dashboard with workflow and code gen metrics
  deployments/helm/mcp-server-langgraph/dashboards/builder.json
Labels: none

feat(observability): add cross-dashboard navigation to Overview dashboard
  deployments/helm/mcp-server-langgraph/dashboards/langgraph-agent.json
Labels: none

fix(ci): use proper Keycloak realm file naming convention
  .github/workflows/e2e-tests.yaml
  docker-compose.test.yml
  docs-internal/TESTING_INFRASTRUCTURE_IMPROVEMENTS_2025-11-21.md
  tests/README.md
  tests/e2e/mcp-test-realm.json
  tests/e2e/test_full_user_journey.py
  tests/fixtures/docker_fixtures.py
  tests/integration/test_mcp_streamable.py
  tests/meta/test_e2e_keycloak_setup.py
  tests/meta/test_e2e_organization.py
Labels: documentation, tests, ci-cd, docker, config

feat(observability): synchronize dashboards between Helm and monitoring locations
  monitoring/grafana/dashboards/Application/builder.json
  monitoring/grafana/dashboards/Application/llm-performance.json
  monitoring/grafana/dashboards/Application/playground.json
  monitoring/grafana/dashboards/Auth/authentication.json
  monitoring/grafana/dashboards/Auth/openfga.json
  monitoring/grafana/dashboards/Overview/langgraph-agent.json
Labels: observability

fix(ci): prevent GitHub rate limiting in workflows
  .github/workflows/ci.yaml
  .github/workflows/deploy-preview-gke.yaml
  .github/workflows/deploy-production-gke.yaml
  .github/workflows/deployment-validation.yml
  .github/workflows/gcp-compliance-scan.yaml
  .github/workflows/mirror-dependencies.yaml
  .github/workflows/security-scan.yaml
  .github/workflows/validate-kubernetes.yaml
Labels: ci-cd, security

fix(tests): resolve flaky tests under pytest-xdist parallel execution
  tests/fixtures/database_fixtures.py
  tests/integration/builder/test_builder_api_integration.py
  tests/integration/builder/test_builder_postgres_workflow.py
  tests/integration/builder/test_builder_redis_workflow.py
  tests/integration/execution/test_kubernetes_sandbox.py
  tests/integration/playground/test_playground_api_integration.py
  tests/integration/playground/test_playground_mcp_integration.py
  tests/integration/playground/test_playground_postgres_session.py
  tests/integration/playground/test_playground_redis_session.py
  tests/integration/test_bearer_scheme_diagnostic.py
  tests/integration/test_conversation_state_persistence.py
  tests/integration/test_distributed_checkpointing.py
  tests/integration/test_mcp_streamable.py
  tests/integration/test_tool_improvements.py
  tests/meta/test_xfail_strict_enforcement.py
  tests/monitoring/test_budget_monitor.py
  tests/unit/execution/test_security_practices.py
  tests/unit/health/test_database_checks.py
Labels: tests

fix(tests): configure all unconfigured AsyncMock instances
  tests/builder/test_builder_server_integration.py
  tests/e2e/test_real_clients.py
  tests/helpers/test_verifier.py
  tests/integration/test_agentic_loop_integration.py
  tests/integration/test_conversation_state_persistence.py
  tests/integration/test_mcp_startup_validation.py
  tests/integration/test_pydantic_ai.py
  tests/playground/test_mcp_client.py
  tests/playground/test_playground_api.py
  tests/playground/test_playground_session.py
  tests/security/test_permission_inheritance.py
  tests/smoke/test_ci_startup_smoke.py
  tests/unit/auth/test_api_key_manager.py
  tests/unit/core/test_cache_redis_config.py
  tests/unit/core/test_context_manager.py
  tests/unit/database/test_session.py
  tests/unit/health/test_database_checks.py
  tests/unit/session/test_session_timeout.py
  tests/unit/storage/test_conversation_store_async.py
  tests/unit/tools/test_search_tools.py
  tests/utils/mock_factories.py
Labels: tests

chore(hooks): enable AsyncMock configuration check on pre-commit
  .pre-commit-config.yaml
Labels: ci-cd, config

fix(observability): redesign Overview dashboard with Grafana best practices
  deployments/helm/mcp-server-langgraph/dashboards/langgraph-agent.json
  deployments/helm/mcp-server-langgraph/dashboards/openfga.json
  monitoring/grafana/dashboards/Auth/openfga.json
  monitoring/grafana/dashboards/Overview/langgraph-agent.json
Labels: observability

fix(ci): capture Keycloak token error response for debugging
  .github/workflows/e2e-tests.yaml
Labels: ci-cd

fix(ci): add /authn subpath to Keycloak URLs for E2E tests
  .github/workflows/e2e-tests.yaml
  scripts/test-integration.sh
  tests/e2e/real_clients.py
  tests/e2e/test_full_user_journey.py
Labels: tests, ci-cd

fix(observability): redesign remaining Grafana dashboards with best practices
  deployments/helm/mcp-server-langgraph/dashboards/keycloak.json
  deployments/helm/mcp-server-langgraph/dashboards/redis-sessions.json
  deployments/helm/mcp-server-langgraph/dashboards/security.json
  deployments/helm/mcp-server-langgraph/dashboards/sla-monitoring.json
  deployments/helm/mcp-server-langgraph/dashboards/soc2-compliance.json
  monitoring/grafana/dashboards/Auth/keycloak.json
  monitoring/grafana/dashboards/Auth/security.json
  monitoring/grafana/dashboards/Compliance/sla-monitoring.json
  monitoring/grafana/dashboards/Compliance/soc2-compliance.json
  monitoring/grafana/dashboards/Infrastructure/redis-sessions.json
Labels: observability

feat(observability): add Grafana dashboard validation script
  scripts/validation/validate_grafana_dashboards.py
Labels: none

feat(observability): add dashboard validation CI/CD, runbooks, and panel descriptions
  .claude/templates/runbook-template.md
  .github/workflows/deployment-validation.yml
  .pre-commit-config.yaml
  deployments/helm/mcp-server-langgraph/dashboards/cost-monitoring.json
  docker/mimir/rules/lgtm-alerts.yaml
  monitoring/grafana/dashboards/Infrastructure/lgtm-stack.json
  monitoring/grafana/dashboards/Infrastructure/postgresql.json
  monitoring/grafana/dashboards/Infrastructure/qdrant.json
  monitoring/grafana/dashboards/Infrastructure/traefik.json
  monitoring/prometheus/alerts/langgraph-agent.yaml
  monitoring/prometheus/alerts/sla.yaml
  monitoring/runbooks/README.md
  monitoring/runbooks/authentication-alerts.md
  monitoring/runbooks/infrastructure-alerts.md
  monitoring/runbooks/langgraph-agent-health.md
  monitoring/runbooks/llm-performance-alerts.md
  monitoring/runbooks/sla-alerts.md
  scripts/validation/validate_grafana_dashboards.py
Labels: documentation, ci-cd, observability, config

fix(test): use OIDC well-known endpoint for Keycloak health checks
  tests/e2e/test_scim_provisioning.py
  tests/fixtures/docker_fixtures.py
  tests/integration/test_keycloak_admin.py
Labels: tests

feat(observability): add runbook links to Grafana dashboards and sync Helm
  deployments/helm/mcp-server-langgraph/dashboards/authentication.json
  deployments/helm/mcp-server-langgraph/dashboards/keycloak.json
  deployments/helm/mcp-server-langgraph/dashboards/langgraph-agent.json
  deployments/helm/mcp-server-langgraph/dashboards/lgtm-stack.json
  deployments/helm/mcp-server-langgraph/dashboards/llm-performance.json
  deployments/helm/mcp-server-langgraph/dashboards/openfga.json
  deployments/helm/mcp-server-langgraph/dashboards/postgresql.json
  deployments/helm/mcp-server-langgraph/dashboards/qdrant.json
  deployments/helm/mcp-server-langgraph/dashboards/redis-sessions.json
  deployments/helm/mcp-server-langgraph/dashboards/sla-monitoring.json
  deployments/helm/mcp-server-langgraph/dashboards/traefik.json
  monitoring/grafana/dashboards/Application/llm-performance.json
  monitoring/grafana/dashboards/Auth/authentication.json
  monitoring/grafana/dashboards/Auth/keycloak.json
  monitoring/grafana/dashboards/Auth/openfga.json
  monitoring/grafana/dashboards/Compliance/sla-monitoring.json
  monitoring/grafana/dashboards/Infrastructure/redis-sessions.json
  monitoring/grafana/dashboards/Overview/langgraph-agent.json
Labels: observability

feat(ci): add Docker image build workflows and align GHCR naming
  .claude/memory/helm-chart-validation.md
  .github/workflows/build-alembic-image.yaml
  .github/workflows/build-builder-image.yaml
  .github/workflows/build-keycloak-image.yaml
  .github/workflows/build-playground-image.yaml
  .github/workflows/ci.yaml
  .github/workflows/deployment-validation.yml
  .github/workflows/validate-kubernetes.yaml
  .pre-commit-config.yaml
  docker-compose.test.yml
  scripts/test-integration.sh
  tests/integration/deployment/test_helm_templates.py
Labels: documentation, tests, ci-cd, docker, config

refactor(observability): remove legacy Jaeger/Prometheus/Alertmanager services
  docker-compose.dev.yml
  docker/docker-compose.yml
  docker/prometheus.yml
Labels: docker, config

fix(ci): resolve 6 failing CI checks (Trivy version + healthcheck filtering)
  .github/workflows/ci.yaml
  scripts/utils/wait_for_services.sh
Labels: ci-cd

fix(test): increase mypy timeout to 120s for CI environments
  tests/meta/test_mypy_enforcement.py
Labels: tests

add Benchmark (pytest) benchmark result for 785f6934ca4f695b28c15fdb5f368f138cedac82
  dev/bench/data.js
Labels: none

fix(docs): renumber duplicate ADR-0067 to ADR-0069
  README.md
  adr/README.md
  adr/adr-0069-mcp-2025-11-25-upgrade.md
  docs/architecture/adr-0069-mcp-2025-11-25-upgrade.mdx
  docs/architecture/overview.mdx
  docs/docs.json
Labels: documentation

fix(docker): correct Keycloak realm volume mount path
  docker-compose.test.yml
Labels: docker, config

fix(ci): address 3 CI failures not caught by local pre-push
  docker-compose.test.yml
  tests/meta/test_mypy_enforcement.py
Labels: tests, docker, config
